(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(3000.0),
        missileEffectKey: None,
        castType: None,
    )),
)