(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 162078152,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3811726588: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 162078152,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "RevealDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    10.0,
                    55.0,
                    100.0,
                    145.0,
                    190.0,
                    235.0,
                    280.0,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    15.0,
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                ]),
            ),
            (
                name: "CCDuration",
                values: Some([
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                ]),
            ),
            (
                name: "BonusADRatio",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)