(
    events: {
        "Dance3D_buffactivate": [
            "characters/Varus/sounds/294165490.ogg",
        ],
        "Death3D_cast": [
            "characters/Varus/sounds/959670437.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Varus/sounds/741712546.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Varus/sounds/1032927756.ogg",
        ],
        "Play_vo_Varus_Attack2DGeneral": [
            "characters/Varus/sounds/1026950171.ogg",
            "characters/Varus/sounds/1036793619.ogg",
            "characters/Varus/sounds/130359528.ogg",
            "characters/Varus/sounds/246983280.ogg",
            "characters/Varus/sounds/338502825.ogg",
            "characters/Varus/sounds/385187058.ogg",
            "characters/Varus/sounds/402993521.ogg",
            "characters/Varus/sounds/426516491.ogg",
            "characters/Varus/sounds/44525826.ogg",
            "characters/Varus/sounds/457990638.ogg",
            "characters/Varus/sounds/496738729.ogg",
            "characters/Varus/sounds/502598528.ogg",
            "characters/Varus/sounds/536858191.ogg",
            "characters/Varus/sounds/619479327.ogg",
            "characters/Varus/sounds/676210789.ogg",
            "characters/Varus/sounds/695181274.ogg",
            "characters/Varus/sounds/708436805.ogg",
            "characters/Varus/sounds/784696071.ogg",
            "characters/Varus/sounds/857888674.ogg",
            "characters/Varus/sounds/913404602.ogg",
        ],
        "Play_vo_Varus_Death3D": [
            "characters/Varus/sounds/249998846.ogg",
            "characters/Varus/sounds/394754006.ogg",
            "characters/Varus/sounds/512767141.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DAatrox": [
            "characters/Varus/sounds/20671477.ogg",
            "characters/Varus/sounds/780177495.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DAscended": [
            "characters/Varus/sounds/383730564.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DAshe": [
            "characters/Varus/sounds/740512462.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DDarkin": [
            "characters/Varus/sounds/655387507.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DGeneral": [
            "characters/Varus/sounds/208068297.ogg",
            "characters/Varus/sounds/592062599.ogg",
            "characters/Varus/sounds/741226168.ogg",
            "characters/Varus/sounds/979259641.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DKalista": [
            "characters/Varus/sounds/21774416.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DKarma": [
            "characters/Varus/sounds/795565009.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DKayn": [
            "characters/Varus/sounds/1025201040.ogg",
            "characters/Varus/sounds/502292102.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DNaafiri": [
            "characters/Varus/sounds/244402062.ogg",
            "characters/Varus/sounds/799154481.ogg",
        ],
        "Play_vo_Varus_FirstEncounter3DSivir": [
            "characters/Varus/sounds/1005105554.ogg",
        ],
        "Play_vo_Varus_Joke3DGeneral": [
            "characters/Varus/sounds/278883795.ogg",
        ],
        "Play_vo_Varus_JokeResponse3DGeneral": [
            "characters/Varus/sounds/542412240.ogg",
        ],
        "Play_vo_Varus_Kill3DAatrox": [
            "characters/Varus/sounds/743248579.ogg",
        ],
        "Play_vo_Varus_Kill3DAshe": [
            "characters/Varus/sounds/760472317.ogg",
        ],
        "Play_vo_Varus_Kill3DFirst": [
            "characters/Varus/sounds/116654750.ogg",
            "characters/Varus/sounds/412607155.ogg",
            "characters/Varus/sounds/473064206.ogg",
        ],
        "Play_vo_Varus_Kill3DGeneral": [
            "characters/Varus/sounds/131213145.ogg",
            "characters/Varus/sounds/145388062.ogg",
            "characters/Varus/sounds/199494443.ogg",
            "characters/Varus/sounds/260411745.ogg",
            "characters/Varus/sounds/293936363.ogg",
            "characters/Varus/sounds/581495595.ogg",
            "characters/Varus/sounds/617792979.ogg",
            "characters/Varus/sounds/679254757.ogg",
            "characters/Varus/sounds/700932639.ogg",
            "characters/Varus/sounds/748057753.ogg",
            "characters/Varus/sounds/850148996.ogg",
            "characters/Varus/sounds/889927158.ogg",
            "characters/Varus/sounds/933814141.ogg",
            "characters/Varus/sounds/986545730.ogg",
        ],
        "Play_vo_Varus_Kill3DKalista": [
            "characters/Varus/sounds/160720597.ogg",
        ],
        "Play_vo_Varus_Kill3DKarma": [
            "characters/Varus/sounds/87874219.ogg",
        ],
        "Play_vo_Varus_Kill3DKayn": [
            "characters/Varus/sounds/214161095.ogg",
        ],
        "Play_vo_Varus_Kill3DNaafiri": [
            "characters/Varus/sounds/349562291.ogg",
        ],
        "Play_vo_Varus_Kill3DPenta": [
            "characters/Varus/sounds/412281696.ogg",
        ],
        "Play_vo_Varus_Kill3DSivir": [
            "characters/Varus/sounds/1007810108.ogg",
        ],
        "Play_vo_Varus_Laugh3DGeneral": [
            "characters/Varus/sounds/441424780.ogg",
        ],
        "Play_vo_Varus_LowHealth2DGeneral": [
            "characters/Varus/sounds/145594380.ogg",
            "characters/Varus/sounds/257276759.ogg",
            "characters/Varus/sounds/301396298.ogg",
            "characters/Varus/sounds/39027170.ogg",
            "characters/Varus/sounds/475505127.ogg",
            "characters/Varus/sounds/830575713.ogg",
        ],
        "Play_vo_Varus_Move2DFirst": [
            "characters/Varus/sounds/368517062.ogg",
            "characters/Varus/sounds/378997079.ogg",
            "characters/Varus/sounds/786384061.ogg",
            "characters/Varus/sounds/93051002.ogg",
        ],
        "Play_vo_Varus_Move2DFirstAllyNaafiri": [
            "characters/Varus/sounds/504280385.ogg",
        ],
        "Play_vo_Varus_Move2DLong": [
            "characters/Varus/sounds/171539607.ogg",
            "characters/Varus/sounds/195548713.ogg",
            "characters/Varus/sounds/243606020.ogg",
            "characters/Varus/sounds/280494888.ogg",
            "characters/Varus/sounds/299058703.ogg",
            "characters/Varus/sounds/375945662.ogg",
            "characters/Varus/sounds/435598328.ogg",
            "characters/Varus/sounds/438651722.ogg",
            "characters/Varus/sounds/467321931.ogg",
            "characters/Varus/sounds/530924119.ogg",
            "characters/Varus/sounds/620885861.ogg",
            "characters/Varus/sounds/64487526.ogg",
            "characters/Varus/sounds/828018585.ogg",
            "characters/Varus/sounds/884493675.ogg",
            "characters/Varus/sounds/892227575.ogg",
            "characters/Varus/sounds/919021095.ogg",
            "characters/Varus/sounds/948706407.ogg",
            "characters/Varus/sounds/968183697.ogg",
        ],
        "Play_vo_Varus_Move2DStandard": [
            "characters/Varus/sounds/1012894325.ogg",
            "characters/Varus/sounds/1022201640.ogg",
            "characters/Varus/sounds/1029365545.ogg",
            "characters/Varus/sounds/1058942224.ogg",
            "characters/Varus/sounds/119690894.ogg",
            "characters/Varus/sounds/207930571.ogg",
            "characters/Varus/sounds/246678633.ogg",
            "characters/Varus/sounds/253860119.ogg",
            "characters/Varus/sounds/29515649.ogg",
            "characters/Varus/sounds/419974951.ogg",
            "characters/Varus/sounds/428704918.ogg",
            "characters/Varus/sounds/43529362.ogg",
            "characters/Varus/sounds/50248916.ogg",
            "characters/Varus/sounds/508049870.ogg",
            "characters/Varus/sounds/547586550.ogg",
            "characters/Varus/sounds/575199254.ogg",
            "characters/Varus/sounds/596409836.ogg",
            "characters/Varus/sounds/682932868.ogg",
            "characters/Varus/sounds/708346054.ogg",
            "characters/Varus/sounds/709679364.ogg",
            "characters/Varus/sounds/775065532.ogg",
            "characters/Varus/sounds/851049107.ogg",
            "characters/Varus/sounds/90866043.ogg",
        ],
        "Play_vo_Varus_Recall3DGeneral": [
            "characters/Varus/sounds/446442885.ogg",
            "characters/Varus/sounds/543481021.ogg",
            "characters/Varus/sounds/570771141.ogg",
            "characters/Varus/sounds/70099788.ogg",
            "characters/Varus/sounds/911388759.ogg",
        ],
        "Play_vo_Varus_Respawn2DGeneral": [
            "characters/Varus/sounds/1038547994.ogg",
            "characters/Varus/sounds/1060617823.ogg",
            "characters/Varus/sounds/301372153.ogg",
            "characters/Varus/sounds/306663884.ogg",
            "characters/Varus/sounds/471397968.ogg",
            "characters/Varus/sounds/7145845.ogg",
            "characters/Varus/sounds/795143523.ogg",
        ],
        "Play_vo_Varus_Spell2DRRankOne": [
            "characters/Varus/sounds/144288122.ogg",
            "characters/Varus/sounds/181202457.ogg",
            "characters/Varus/sounds/478924714.ogg",
        ],
        "Play_vo_Varus_Spell3DQCast": [
            "characters/Varus/sounds/1052058267.ogg",
            "characters/Varus/sounds/206004194.ogg",
            "characters/Varus/sounds/302493714.ogg",
            "characters/Varus/sounds/404308381.ogg",
            "characters/Varus/sounds/720565461.ogg",
            "characters/Varus/sounds/807636912.ogg",
            "characters/Varus/sounds/833024301.ogg",
            "characters/Varus/sounds/850692157.ogg",
            "characters/Varus/sounds/907063335.ogg",
            "characters/Varus/sounds/918309911.ogg",
        ],
        "Play_vo_Varus_Taunt3DGeneral": [
            "characters/Varus/sounds/891794414.ogg",
        ],
        "Play_vo_Varus_TauntResponse3DGeneral": [
            "characters/Varus/sounds/967768365.ogg",
        ],
        "Play_vo_Varus_VarusBasicAttack2_cast3D": [
            "characters/Varus/sounds/1043259196.ogg",
            "characters/Varus/sounds/287370437.ogg",
            "characters/Varus/sounds/577445455.ogg",
            "characters/Varus/sounds/747042853.ogg",
            "characters/Varus/sounds/890302985.ogg",
        ],
        "Play_vo_Varus_VarusBasicAttack_cast3D": [
            "characters/Varus/sounds/1043259196.ogg",
            "characters/Varus/sounds/287370437.ogg",
            "characters/Varus/sounds/577445455.ogg",
            "characters/Varus/sounds/747042853.ogg",
            "characters/Varus/sounds/890302985.ogg",
        ],
        "Play_vo_Varus_VarusCritAttack_cast3D": [
            "characters/Varus/sounds/1043259196.ogg",
            "characters/Varus/sounds/287370437.ogg",
            "characters/Varus/sounds/577445455.ogg",
            "characters/Varus/sounds/747042853.ogg",
            "characters/Varus/sounds/890302985.ogg",
        ],
        "Play_vo_Varus_VarusE_cast3D": [
            "characters/Varus/sounds/1051669209.ogg",
            "characters/Varus/sounds/1072460329.ogg",
            "characters/Varus/sounds/671704365.ogg",
            "characters/Varus/sounds/714913382.ogg",
            "characters/Varus/sounds/756763050.ogg",
            "characters/Varus/sounds/789269652.ogg",
            "characters/Varus/sounds/802150992.ogg",
            "characters/Varus/sounds/922236760.ogg",
        ],
        "Play_vo_Varus_VarusR_cast3D": [
            "characters/Varus/sounds/123687213.ogg",
            "characters/Varus/sounds/195235558.ogg",
            "characters/Varus/sounds/252121032.ogg",
            "characters/Varus/sounds/270713799.ogg",
            "characters/Varus/sounds/881259936.ogg",
        ],
        "Play_vo_Varus_VarusWBasicAttack2_cast3D": [
            "characters/Varus/sounds/1043259196.ogg",
            "characters/Varus/sounds/287370437.ogg",
            "characters/Varus/sounds/577445455.ogg",
            "characters/Varus/sounds/747042853.ogg",
            "characters/Varus/sounds/890302985.ogg",
        ],
        "Play_vo_Varus_VarusWBasicAttack_cast3D": [
            "characters/Varus/sounds/1043259196.ogg",
            "characters/Varus/sounds/287370437.ogg",
            "characters/Varus/sounds/577445455.ogg",
            "characters/Varus/sounds/747042853.ogg",
            "characters/Varus/sounds/890302985.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Varus/sounds/16775615.ogg",
        ],
        "VarusBasicAttack2_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusBasicAttack2_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusBasicAttack2_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusBasicAttackNoW_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusBasicAttack_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusBasicAttack_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusBasicAttack_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusBasicAttack_cast_draw": [
            "characters/Varus/sounds/188340215.ogg",
            "characters/Varus/sounds/206908404.ogg",
            "characters/Varus/sounds/34209251.ogg",
            "characters/Varus/sounds/622759964.ogg",
        ],
        "VarusBasicAttacknoW_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusBasicAttacknoW_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusCritAttackNoW_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusCritAttackNoW_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusCritAttackNoW_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusCritAttack_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusCritAttack_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusCritAttack_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusEMissile_OnBuffDeactivate": [
            "characters/Varus/sounds/731420913.ogg",
        ],
        "VarusEMissile_OnMissileLaunch": [
            "characters/Varus/sounds/116217494.ogg",
            "characters/Varus/sounds/123057030.ogg",
            "characters/Varus/sounds/188154745.ogg",
        ],
        "VarusEMissile_buffactivate": [
            "characters/Varus/sounds/361380158.ogg",
            "characters/Varus/sounds/444648042.ogg",
            "characters/Varus/sounds/497554055.ogg",
            "characters/Varus/sounds/559607551.ogg",
            "characters/Varus/sounds/941078226.ogg",
            "characters/Varus/sounds/948023342.ogg",
        ],
        "VarusEMissile_hit": [
            "characters/Varus/sounds/203584518.ogg",
            "characters/Varus/sounds/445212948.ogg",
            "characters/Varus/sounds/79664377.ogg",
        ],
        "VarusE_OnCast": [
            "characters/Varus/sounds/337891620.ogg",
            "characters/Varus/sounds/413726271.ogg",
            "characters/Varus/sounds/931080396.ogg",
        ],
        "VarusE_hit": [
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
        ],
        "VarusPassiveBuffDisplay_OnBuffActivate": [
            "characters/Varus/sounds/367280304.ogg",
            "characters/Varus/sounds/5273512.ogg",
            "characters/Varus/sounds/81197962.ogg",
        ],
        "VarusQEmpoweredFired_OnBuffCast": [
            "characters/Varus/sounds/351814536.ogg",
            "characters/Varus/sounds/83640020.ogg",
        ],
        "VarusQEmpoweredWChargeSFX_OnBuffActivate": [
            "characters/Varus/sounds/144345360.ogg",
        ],
        "VarusQEmpoweredWChargeSFX_buffcast": [
            "characters/Varus/sounds/296464285.ogg",
        ],
        "VarusQMissile_OnHit": [
            "characters/Varus/sounds/198041931.ogg",
            "characters/Varus/sounds/313632283.ogg",
            "characters/Varus/sounds/355790523.ogg",
        ],
        "VarusQMissile_OnMissileCast": [
            "characters/Varus/sounds/489841651.ogg",
            "characters/Varus/sounds/493184685.ogg",
            "characters/Varus/sounds/570144973.ogg",
        ],
        "VarusQMissile_OnMissileLaunch": [
            "characters/Varus/sounds/328701184.ogg",
            "characters/Varus/sounds/714865478.ogg",
            "characters/Varus/sounds/846106841.ogg",
        ],
        "VarusQMissile_missilelaunch": [
            "characters/Varus/sounds/83640020.ogg",
        ],
        "VarusQ_OnBuffActivate": [
            "characters/Varus/sounds/1022272436.ogg",
            "characters/Varus/sounds/342411039.ogg",
            "characters/Varus/sounds/858352339.ogg",
        ],
        "VarusQ_OnCast": [
            "characters/Varus/sounds/110611237.ogg",
            "characters/Varus/sounds/254558006.ogg",
            "characters/Varus/sounds/553592655.ogg",
        ],
        "VarusQ_buffdeactivate": [
            "characters/Varus/sounds/711599069.ogg",
        ],
        "VarusQ_hit_champ": [
            "characters/Varus/sounds/198041931.ogg",
            "characters/Varus/sounds/313632283.ogg",
            "characters/Varus/sounds/355790523.ogg",
        ],
        "VarusQ_hit_minion": [
            "characters/Varus/sounds/171648904.ogg",
            "characters/Varus/sounds/229121668.ogg",
            "characters/Varus/sounds/607666775.ogg",
        ],
        "VarusRMissile_OnMissileLaunch": [
            "characters/Varus/sounds/148265900.ogg",
            "characters/Varus/sounds/844196571.ogg",
            "characters/Varus/sounds/872386892.ogg",
        ],
        "VarusRMissile_hit": [
            "characters/Varus/sounds/192423992.ogg",
            "characters/Varus/sounds/573176887.ogg",
            "characters/Varus/sounds/951509779.ogg",
        ],
        "VarusR_OnCast": [
            "characters/Varus/sounds/1033110790.ogg",
            "characters/Varus/sounds/677320590.ogg",
        ],
        "VarusR_buffactivate": [
            "characters/Varus/sounds/280954391.ogg",
            "characters/Varus/sounds/352990979.ogg",
            "characters/Varus/sounds/68502077.ogg",
            "characters/Varus/sounds/86935611.ogg",
        ],
        "VarusWBasicAttack2_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusWBasicAttack2_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusWBasicAttack2_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusWBasicAttack_OnCast": [
            "characters/Varus/sounds/167478802.ogg",
            "characters/Varus/sounds/216453752.ogg",
            "characters/Varus/sounds/76666921.ogg",
            "characters/Varus/sounds/81048848.ogg",
        ],
        "VarusWBasicAttack_OnHit": [
            "characters/Varus/sounds/126795045.ogg",
            "characters/Varus/sounds/128620972.ogg",
            "characters/Varus/sounds/130219873.ogg",
            "characters/Varus/sounds/147525907.ogg",
            "characters/Varus/sounds/17718892.ogg",
            "characters/Varus/sounds/202668621.ogg",
            "characters/Varus/sounds/213956484.ogg",
            "characters/Varus/sounds/2170958.ogg",
            "characters/Varus/sounds/22708309.ogg",
            "characters/Varus/sounds/64157899.ogg",
            "characters/Varus/sounds/71219533.ogg",
            "characters/Varus/sounds/72112728.ogg",
            "characters/Varus/sounds/78653460.ogg",
            "characters/Varus/sounds/94091364.ogg",
            "characters/Varus/sounds/9576685.ogg",
            "characters/Varus/sounds/96114911.ogg",
        ],
        "VarusWBasicAttack_OnMissileLaunch": [
            "characters/Varus/sounds/192119227.ogg",
            "characters/Varus/sounds/46286961.ogg",
            "characters/Varus/sounds/5471952.ogg",
            "characters/Varus/sounds/89715892.ogg",
        ],
        "VarusW_OnCast": [
            "characters/Varus/sounds/498494783.ogg",
        ],
        "VarusW_detonate": [
            "characters/Varus/sounds/165295408.ogg",
            "characters/Varus/sounds/480155252.ogg",
            "characters/Varus/sounds/515131643.ogg",
        ],
        "VarusW_hit": [
            "characters/Varus/sounds/122592992.ogg",
            "characters/Varus/sounds/417939185.ogg",
            "characters/Varus/sounds/956201836.ogg",
        ],
    },
)