(
    spellData: Some((
        calculations: Some({
            "damage_reduction": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartEffectValue",
                        effectIndex: Some(1),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(1),
                        coefficient: Some(0.03),
                        statFormula: Some(2),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(6),
                        coefficient: Some(0.03),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "tantrum_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartEffectValue",
                        effectIndex: Some(2),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    5.0,
                    7.0,
                    9.0,
                    11.0,
                    13.0,
                    15.0,
                ]),
            ),
            (
                values: Some([
                    65.0,
                    65.0,
                    95.0,
                    125.0,
                    155.0,
                    185.0,
                    185.0,
                ]),
            ),
            (
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "FlatDamageReductionMax",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            35.0,
            35.0,
            35.0,
            35.0,
            35.0,
            35.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)