(
    events: {
        "Dance3D_buffactivate": [
            "characters/MonkeyKing/sounds/56427713.ogg",
        ],
        "Death3D_cast": [
            "characters/MonkeyKing/sounds/779316197.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/MonkeyKing/sounds/522597717.ogg",
        ],
        "MonkeyKingBasicAttack2_OnCast": [
            "characters/MonkeyKing/sounds/107095587.ogg",
            "characters/MonkeyKing/sounds/117905505.ogg",
            "characters/MonkeyKing/sounds/461498497.ogg",
            "characters/MonkeyKing/sounds/84238257.ogg",
        ],
        "MonkeyKingBasicAttack2_OnHit": [
            "characters/MonkeyKing/sounds/11630765.ogg",
            "characters/MonkeyKing/sounds/143053961.ogg",
            "characters/MonkeyKing/sounds/152932159.ogg",
            "characters/MonkeyKing/sounds/169014562.ogg",
            "characters/MonkeyKing/sounds/191299275.ogg",
            "characters/MonkeyKing/sounds/191583742.ogg",
            "characters/MonkeyKing/sounds/290751561.ogg",
            "characters/MonkeyKing/sounds/35600971.ogg",
            "characters/MonkeyKing/sounds/378850454.ogg",
            "characters/MonkeyKing/sounds/381291867.ogg",
            "characters/MonkeyKing/sounds/417787523.ogg",
            "characters/MonkeyKing/sounds/47329809.ogg",
            "characters/MonkeyKing/sounds/520715717.ogg",
            "characters/MonkeyKing/sounds/563526458.ogg",
            "characters/MonkeyKing/sounds/85514813.ogg",
            "characters/MonkeyKing/sounds/893746390.ogg",
            "characters/MonkeyKing/sounds/91403833.ogg",
            "characters/MonkeyKing/sounds/96079943.ogg",
        ],
        "MonkeyKingBasicAttack_OnCast": [
            "characters/MonkeyKing/sounds/107095587.ogg",
            "characters/MonkeyKing/sounds/117905505.ogg",
            "characters/MonkeyKing/sounds/461498497.ogg",
            "characters/MonkeyKing/sounds/84238257.ogg",
        ],
        "MonkeyKingBasicAttack_OnHit": [
            "characters/MonkeyKing/sounds/11630765.ogg",
            "characters/MonkeyKing/sounds/143053961.ogg",
            "characters/MonkeyKing/sounds/152932159.ogg",
            "characters/MonkeyKing/sounds/169014562.ogg",
            "characters/MonkeyKing/sounds/191299275.ogg",
            "characters/MonkeyKing/sounds/191583742.ogg",
            "characters/MonkeyKing/sounds/290751561.ogg",
            "characters/MonkeyKing/sounds/35600971.ogg",
            "characters/MonkeyKing/sounds/378850454.ogg",
            "characters/MonkeyKing/sounds/381291867.ogg",
            "characters/MonkeyKing/sounds/417787523.ogg",
            "characters/MonkeyKing/sounds/47329809.ogg",
            "characters/MonkeyKing/sounds/520715717.ogg",
            "characters/MonkeyKing/sounds/563526458.ogg",
            "characters/MonkeyKing/sounds/85514813.ogg",
            "characters/MonkeyKing/sounds/893746390.ogg",
            "characters/MonkeyKing/sounds/91403833.ogg",
            "characters/MonkeyKing/sounds/96079943.ogg",
        ],
        "MonkeyKingCritAttack_OnCast": [
            "characters/MonkeyKing/sounds/107095587.ogg",
            "characters/MonkeyKing/sounds/117905505.ogg",
            "characters/MonkeyKing/sounds/461498497.ogg",
            "characters/MonkeyKing/sounds/84238257.ogg",
        ],
        "MonkeyKingCritAttack_OnHit": [
            "characters/MonkeyKing/sounds/11630765.ogg",
            "characters/MonkeyKing/sounds/143053961.ogg",
            "characters/MonkeyKing/sounds/169014562.ogg",
            "characters/MonkeyKing/sounds/191583742.ogg",
            "characters/MonkeyKing/sounds/23314254.ogg",
            "characters/MonkeyKing/sounds/290751561.ogg",
            "characters/MonkeyKing/sounds/315635260.ogg",
            "characters/MonkeyKing/sounds/322128604.ogg",
            "characters/MonkeyKing/sounds/3525376.ogg",
            "characters/MonkeyKing/sounds/35600971.ogg",
            "characters/MonkeyKing/sounds/362155054.ogg",
            "characters/MonkeyKing/sounds/378850454.ogg",
            "characters/MonkeyKing/sounds/417787523.ogg",
            "characters/MonkeyKing/sounds/47329809.ogg",
            "characters/MonkeyKing/sounds/520715717.ogg",
            "characters/MonkeyKing/sounds/563526458.ogg",
            "characters/MonkeyKing/sounds/58441710.ogg",
            "characters/MonkeyKing/sounds/85514813.ogg",
            "characters/MonkeyKing/sounds/91403833.ogg",
            "characters/MonkeyKing/sounds/96079943.ogg",
        ],
        "MonkeyKingDoubleAttack_OnBuffActivate": [
            "characters/MonkeyKing/sounds/134843758.ogg",
        ],
        "MonkeyKingDoubleAttack_OnBuffDeactivate": [
            "characters/MonkeyKing/sounds/185014625.ogg",
        ],
        "MonkeyKingDoubleAttack_OnCast": [
            "characters/MonkeyKing/sounds/141716472.ogg",
            "characters/MonkeyKing/sounds/873732925.ogg",
            "characters/MonkeyKing/sounds/906272659.ogg",
            "characters/MonkeyKing/sounds/936082472.ogg",
        ],
        "MonkeyKingNimbusKick_OnBuffActivate": [
            "characters/MonkeyKing/sounds/533923827.ogg",
        ],
        "MonkeyKingNimbusKick_hit": [
            "characters/MonkeyKing/sounds/1025739271.ogg",
            "characters/MonkeyKing/sounds/1070173628.ogg",
            "characters/MonkeyKing/sounds/247405694.ogg",
            "characters/MonkeyKing/sounds/846450699.ogg",
        ],
        "MonkeyKingNimbus_OnCast": [
            "characters/MonkeyKing/sounds/492003964.ogg",
            "characters/MonkeyKing/sounds/513347793.ogg",
            "characters/MonkeyKing/sounds/876797036.ogg",
        ],
        "MonkeyKingQAttack_OnCast": [
            "characters/MonkeyKing/sounds/472417973.ogg",
            "characters/MonkeyKing/sounds/679541262.ogg",
            "characters/MonkeyKing/sounds/863173070.ogg",
        ],
        "MonkeyKingQAttack_OnHit": [
            "characters/MonkeyKing/sounds/130677140.ogg",
            "characters/MonkeyKing/sounds/154428959.ogg",
            "characters/MonkeyKing/sounds/96318392.ogg",
        ],
        "MonkeyKingSpinToWin_OnBuffActivate": [
            "characters/MonkeyKing/sounds/553590485.ogg",
        ],
        "MonkeyKingSpinToWin_OnBuffDeactivate": [
            "characters/MonkeyKing/sounds/135502899.ogg",
            "characters/MonkeyKing/sounds/755482398.ogg",
            "characters/MonkeyKing/sounds/982587387.ogg",
        ],
        "MonkeyKingSpinToWin_OnCast": [
            "characters/MonkeyKing/sounds/180344842.ogg",
            "characters/MonkeyKing/sounds/192286436.ogg",
            "characters/MonkeyKing/sounds/604650479.ogg",
        ],
        "MonkeyKingSpinToWin_hit": [
            "characters/MonkeyKing/sounds/326769245.ogg",
            "characters/MonkeyKing/sounds/456819021.ogg",
            "characters/MonkeyKing/sounds/626865056.ogg",
            "characters/MonkeyKing/sounds/676103090.ogg",
            "characters/MonkeyKing/sounds/723515525.ogg",
            "characters/MonkeyKing/sounds/900691484.ogg",
            "characters/MonkeyKing/sounds/973365982.ogg",
        ],
        "MonkeyKingSpinToWin_hitbig": [
            "characters/MonkeyKing/sounds/1044510983.ogg",
            "characters/MonkeyKing/sounds/306185546.ogg",
            "characters/MonkeyKing/sounds/590068573.ogg",
            "characters/MonkeyKing/sounds/929896080.ogg",
        ],
        "MonkeyKingW_cast": [
            "characters/MonkeyKing/sounds/1044608132.ogg",
            "characters/MonkeyKing/sounds/238550915.ogg",
            "characters/MonkeyKing/sounds/364533710.ogg",
            "characters/MonkeyKing/sounds/595195835.ogg",
            "characters/MonkeyKing/sounds/620246389.ogg",
            "characters/MonkeyKing/sounds/662671007.ogg",
            "characters/MonkeyKing/sounds/88548614.ogg",
        ],
        "MonkeyKingW_deactivate": [
            "characters/MonkeyKing/sounds/215528110.ogg",
            "characters/MonkeyKing/sounds/399694256.ogg",
            "characters/MonkeyKing/sounds/709080366.ogg",
        ],
        "Play_vo_MonkeyKing_Attack2DGeneral": [
            "characters/MonkeyKing/sounds/1012792074.ogg",
            "characters/MonkeyKing/sounds/24746831.ogg",
            "characters/MonkeyKing/sounds/284814350.ogg",
            "characters/MonkeyKing/sounds/286877748.ogg",
            "characters/MonkeyKing/sounds/346104231.ogg",
            "characters/MonkeyKing/sounds/540433405.ogg",
        ],
        "Play_vo_MonkeyKing_Death3D": [
            "characters/MonkeyKing/sounds/523952849.ogg",
            "characters/MonkeyKing/sounds/531346535.ogg",
            "characters/MonkeyKing/sounds/582414840.ogg",
            "characters/MonkeyKing/sounds/786073521.ogg",
        ],
        "Play_vo_MonkeyKing_Joke3DGeneral": [
            "characters/MonkeyKing/sounds/282603118.ogg",
            "characters/MonkeyKing/sounds/91669187.ogg",
        ],
        "Play_vo_MonkeyKing_Laugh3DGeneral": [
            "characters/MonkeyKing/sounds/173307877.ogg",
            "characters/MonkeyKing/sounds/232057884.ogg",
            "characters/MonkeyKing/sounds/585145906.ogg",
            "characters/MonkeyKing/sounds/951280713.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingBasicAttack2_cast3D": [
            "characters/MonkeyKing/sounds/135266097.ogg",
            "characters/MonkeyKing/sounds/411498905.ogg",
            "characters/MonkeyKing/sounds/414470392.ogg",
            "characters/MonkeyKing/sounds/97701586.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingBasicAttack_cast3D": [
            "characters/MonkeyKing/sounds/135266097.ogg",
            "characters/MonkeyKing/sounds/411498905.ogg",
            "characters/MonkeyKing/sounds/414470392.ogg",
            "characters/MonkeyKing/sounds/97701586.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingCritAttack_cast3D": [
            "characters/MonkeyKing/sounds/135266097.ogg",
            "characters/MonkeyKing/sounds/411498905.ogg",
            "characters/MonkeyKing/sounds/414470392.ogg",
            "characters/MonkeyKing/sounds/97701586.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingDecoySwipe_OnCast": [
            "characters/MonkeyKing/sounds/869147309.ogg",
            "characters/MonkeyKing/sounds/92269323.ogg",
            "characters/MonkeyKing/sounds/933056774.ogg",
            "characters/MonkeyKing/sounds/986749026.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingNimbus_cast3D": [
            "characters/MonkeyKing/sounds/32853718.ogg",
            "characters/MonkeyKing/sounds/66486873.ogg",
            "characters/MonkeyKing/sounds/695099628.ogg",
            "characters/MonkeyKing/sounds/785754703.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingQAttack_cast3D": [
            "characters/MonkeyKing/sounds/247983215.ogg",
            "characters/MonkeyKing/sounds/375862164.ogg",
            "characters/MonkeyKing/sounds/632388460.ogg",
            "characters/MonkeyKing/sounds/750967987.ogg",
        ],
        "Play_vo_MonkeyKing_MonkeyKingSpinToWin_cast3D": [
            "characters/MonkeyKing/sounds/120853948.ogg",
            "characters/MonkeyKing/sounds/418740663.ogg",
            "characters/MonkeyKing/sounds/578500824.ogg",
            "characters/MonkeyKing/sounds/718740429.ogg",
        ],
        "Play_vo_MonkeyKing_Move2DStandard": [
            "characters/MonkeyKing/sounds/154745625.ogg",
            "characters/MonkeyKing/sounds/181674087.ogg",
            "characters/MonkeyKing/sounds/33521500.ogg",
            "characters/MonkeyKing/sounds/460106157.ogg",
            "characters/MonkeyKing/sounds/549727589.ogg",
            "characters/MonkeyKing/sounds/557117843.ogg",
            "characters/MonkeyKing/sounds/586462055.ogg",
            "characters/MonkeyKing/sounds/619975177.ogg",
            "characters/MonkeyKing/sounds/789598863.ogg",
        ],
        "Play_vo_MonkeyKing_Taunt3DGeneral": [
            "characters/MonkeyKing/sounds/1047665443.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/MonkeyKing/sounds/618839107.ogg",
        ],
    },
)