(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_named",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "t_ad_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamageNamed",
                values: Some([
                    20.0,
                    45.0,
                    70.0,
                    95.0,
                    120.0,
                    145.0,
                    170.0,
                ]),
            ),
            (
                name: "tADRatio",
                values: Some([
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "SlowPercentage",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "BonusDamageToMinions",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
        ]),
        mana: Some([
            110.0,
            100.0,
            90.0,
            80.0,
            70.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(70.0),
        castFrame: Some(1.98),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            1.5,
            1.5,
            1.5,
            1.5,
            1.5,
            1.5,
            1.5,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(13327),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)