(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(99999.0),
                startBoneName: Some(""),
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(6200.0),
        missileEffectKey: None,
        castType: Some(3),
    )),
)