(
    spellData: Some((
        calculations: Some({
            "unk_0x955fbaa3": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    60.0,
                    65.0,
                    70.0,
                    75.0,
                    80.0,
                    80.0,
                ]),
            ),
            (
                values: Some([
                    0.2,
                    0.3,
                    0.35,
                    0.4,
                    0.45,
                    0.5,
                    0.45,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    5.5,
                    6.0,
                    6.5,
                    7.0,
                    7.5,
                ]),
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "MovementSpeed",
                values: Some([
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                ]),
            ),
            (
                name: "EnergyRestore",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "BaseDuration",
                values: Some([
                    4.5,
                    5.0,
                    5.5,
                    6.0,
                    6.5,
                    7.0,
                    7.5,
                ]),
            ),
            (
                name: "MaxDuration",
                values: Some([
                    6.5,
                    7.0,
                    7.5,
                    8.0,
                    8.5,
                    9.0,
                    9.5,
                ]),
            ),
            (
                name: "CloudRadius",
                values: Some([
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                ]),
            ),
            (
                name: "MovementSpeedDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "CherryBonusHaste",
                values: Some([
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(70.0),
        castFrame: Some(1.98),
        animationName: Some("None"),
        cooldownTime: Some([
            20.0,
            20.0,
            19.0,
            18.0,
            17.0,
            16.0,
            16.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: None,
        alternateName: Some("AkaliW"),
        coefficient: Some(1.2),
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)