(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                ]),
            ),
            (
                values: Some([
                    65.0,
                    70.0,
                    75.0,
                    80.0,
                    85.0,
                    90.0,
                    95.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("C_BUFFBONE_GLB_CHEST_LOC"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell2b"),
        cooldownTime: Some([
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6191),
        alternateName: Some("RenektonPreExecute"),
        coefficient: Some(1.0),
        hitEffectKey: Some(2923775413),
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)