(
    events: {
        "Play_vo_Soraka_Attack2DGeneral": [
            "characters/Soraka/sounds/1032727106.ogg",
            "characters/Soraka/sounds/248325320.ogg",
            "characters/Soraka/sounds/329998786.ogg",
            "characters/Soraka/sounds/466825195.ogg",
            "characters/Soraka/sounds/592806182.ogg",
            "characters/Soraka/sounds/637086415.ogg",
            "characters/Soraka/sounds/715177589.ogg",
        ],
        "Play_vo_Soraka_Death3D": [
            "characters/Soraka/sounds/1007211091.ogg",
            "characters/Soraka/sounds/283943914.ogg",
            "characters/Soraka/sounds/353457270.ogg",
            "characters/Soraka/sounds/857859623.ogg",
        ],
        "Play_vo_Soraka_Joke3DGeneral": [
            "characters/Soraka/sounds/3087770.ogg",
            "characters/Soraka/sounds/47139362.ogg",
        ],
        "Play_vo_Soraka_Laugh3DGeneral": [
            "characters/Soraka/sounds/553889320.ogg",
            "characters/Soraka/sounds/655048810.ogg",
            "characters/Soraka/sounds/663120838.ogg",
            "characters/Soraka/sounds/812451285.ogg",
        ],
        "Play_vo_Soraka_Move2DStandard": [
            "characters/Soraka/sounds/168630147.ogg",
            "characters/Soraka/sounds/281951151.ogg",
            "characters/Soraka/sounds/349759421.ogg",
            "characters/Soraka/sounds/513979297.ogg",
            "characters/Soraka/sounds/691081753.ogg",
            "characters/Soraka/sounds/700501565.ogg",
            "characters/Soraka/sounds/811819047.ogg",
            "characters/Soraka/sounds/812299897.ogg",
            "characters/Soraka/sounds/868942094.ogg",
            "characters/Soraka/sounds/927884356.ogg",
        ],
        "Play_vo_Soraka_SorakaR_cast3D": [
            "characters/Soraka/sounds/487116006.ogg",
            "characters/Soraka/sounds/619682132.ogg",
            "characters/Soraka/sounds/850940538.ogg",
            "characters/Soraka/sounds/916113984.ogg",
        ],
        "Play_vo_Soraka_Taunt3DGeneral": [
            "characters/Soraka/sounds/300115812.ogg",
            "characters/Soraka/sounds/997621215.ogg",
        ],
        "SorakaBasicAttack2_OnCast": [
            "characters/Soraka/sounds/24910182.ogg",
            "characters/Soraka/sounds/31763818.ogg",
            "characters/Soraka/sounds/36533594.ogg",
            "characters/Soraka/sounds/532398322.ogg",
        ],
        "SorakaBasicAttack2_OnHit": [
            "characters/Soraka/sounds/21871799.ogg",
            "characters/Soraka/sounds/359393543.ogg",
            "characters/Soraka/sounds/37815644.ogg",
            "characters/Soraka/sounds/478379381.ogg",
        ],
        "SorakaBasicAttack2_OnMissileLaunch": [
            "characters/Soraka/sounds/137397296.ogg",
            "characters/Soraka/sounds/24053130.ogg",
            "characters/Soraka/sounds/26639426.ogg",
            "characters/Soraka/sounds/87927779.ogg",
        ],
        "SorakaBasicAttack_OnCast": [
            "characters/Soraka/sounds/24910182.ogg",
            "characters/Soraka/sounds/31763818.ogg",
            "characters/Soraka/sounds/36533594.ogg",
            "characters/Soraka/sounds/532398322.ogg",
        ],
        "SorakaBasicAttack_OnHit": [
            "characters/Soraka/sounds/21871799.ogg",
            "characters/Soraka/sounds/359393543.ogg",
            "characters/Soraka/sounds/37815644.ogg",
            "characters/Soraka/sounds/478379381.ogg",
        ],
        "SorakaBasicAttack_OnMissileLaunch": [
            "characters/Soraka/sounds/137397296.ogg",
            "characters/Soraka/sounds/24053130.ogg",
            "characters/Soraka/sounds/26639426.ogg",
            "characters/Soraka/sounds/87927779.ogg",
        ],
        "SorakaCritAttack_OnCast": [
            "characters/Soraka/sounds/24910182.ogg",
            "characters/Soraka/sounds/31763818.ogg",
            "characters/Soraka/sounds/36533594.ogg",
            "characters/Soraka/sounds/532398322.ogg",
        ],
        "SorakaCritAttack_OnHit": [
            "characters/Soraka/sounds/21871799.ogg",
            "characters/Soraka/sounds/359393543.ogg",
            "characters/Soraka/sounds/37815644.ogg",
            "characters/Soraka/sounds/478379381.ogg",
        ],
        "SorakaCritAttack_OnMissileLaunch": [
            "characters/Soraka/sounds/137397296.ogg",
            "characters/Soraka/sounds/24053130.ogg",
            "characters/Soraka/sounds/26639426.ogg",
            "characters/Soraka/sounds/87927779.ogg",
        ],
        "SorakaESnare_OnBuffActivate": [
            "characters/Soraka/sounds/352306735.ogg",
            "characters/Soraka/sounds/50911345.ogg",
            "characters/Soraka/sounds/758612612.ogg",
        ],
        "SorakaE_OnCast": [
            "characters/Soraka/sounds/19021882.ogg",
            "characters/Soraka/sounds/656664789.ogg",
            "characters/Soraka/sounds/680294722.ogg",
            "characters/Soraka/sounds/805958664.ogg",
        ],
        "SorakaE_OnHit": [
            "characters/Soraka/sounds/380118844.ogg",
            "characters/Soraka/sounds/390401694.ogg",
            "characters/Soraka/sounds/645633735.ogg",
            "characters/Soraka/sounds/704126651.ogg",
        ],
        "SorakaE_buffactivate": [
            "characters/Soraka/sounds/262981281.ogg",
            "characters/Soraka/sounds/337697022.ogg",
            "characters/Soraka/sounds/523955500.ogg",
            "characters/Soraka/sounds/748224274.ogg",
        ],
        "SorakaE_buffdeactivate": [
            "characters/Soraka/sounds/420870480.ogg",
            "characters/Soraka/sounds/457607122.ogg",
            "characters/Soraka/sounds/854268374.ogg",
            "characters/Soraka/sounds/91076782.ogg",
        ],
        "SorakaPassive_OnBuffActivate": [
            "characters/Soraka/sounds/183507773.ogg",
            "characters/Soraka/sounds/399183643.ogg",
            "characters/Soraka/sounds/42829569.ogg",
            "characters/Soraka/sounds/477690793.ogg",
            "characters/Soraka/sounds/780480677.ogg",
            "characters/Soraka/sounds/999070729.ogg",
        ],
        "SorakaPassive_OnBuffDeactivate": [
            "characters/Soraka/sounds/202001856.ogg",
            "characters/Soraka/sounds/930023668.ogg",
            "characters/Soraka/sounds/936364863.ogg",
        ],
        "SorakaQMissile_OnHitLocation": [
            "characters/Soraka/sounds/161450082.ogg",
            "characters/Soraka/sounds/485294151.ogg",
            "characters/Soraka/sounds/493343696.ogg",
            "characters/Soraka/sounds/972096357.ogg",
        ],
        "SorakaQMissile_OnMissileLaunch": [
            "characters/Soraka/sounds/650539772.ogg",
            "characters/Soraka/sounds/66256929.ogg",
            "characters/Soraka/sounds/690475838.ogg",
            "characters/Soraka/sounds/721855783.ogg",
        ],
        "SorakaQReturnMissile_OnMissileLaunch": [
            "characters/Soraka/sounds/336939962.ogg",
            "characters/Soraka/sounds/591307540.ogg",
            "characters/Soraka/sounds/676323971.ogg",
            "characters/Soraka/sounds/869986472.ogg",
        ],
        "SorakaQ_OnCast": [
            "characters/Soraka/sounds/1000440161.ogg",
            "characters/Soraka/sounds/11357559.ogg",
            "characters/Soraka/sounds/318527815.ogg",
            "characters/Soraka/sounds/383551799.ogg",
        ],
        "SorakaQ_hit": [
            "characters/Soraka/sounds/138839411.ogg",
        ],
        "SorakaR_OnCast": [
            "characters/Soraka/sounds/355747677.ogg",
            "characters/Soraka/sounds/532559986.ogg",
            "characters/Soraka/sounds/600122912.ogg",
            "characters/Soraka/sounds/927328648.ogg",
        ],
        "SorakaWParticleMissile_OnMissileLaunch": [
            "characters/Soraka/sounds/213618989.ogg",
            "characters/Soraka/sounds/47117345.ogg",
            "characters/Soraka/sounds/71977089.ogg",
            "characters/Soraka/sounds/953156480.ogg",
        ],
        "SorakaW_OnCast": [
            "characters/Soraka/sounds/142778807.ogg",
            "characters/Soraka/sounds/623968471.ogg",
            "characters/Soraka/sounds/866763978.ogg",
            "characters/Soraka/sounds/960285964.ogg",
        ],
        "Wish_hit": [
            "characters/Soraka/sounds/1070182607.ogg",
            "characters/Soraka/sounds/215907285.ogg",
            "characters/Soraka/sounds/937271242.ogg",
            "characters/Soraka/sounds/970688485.ogg",
        ],
    },
)