(
    spellData: Some((
        calculations: Some({
            "bonus_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "bonus_damage_ad",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "q_heal": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "CherryGhoulPassiveSpawnRate",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    10.0,
                    30.0,
                    50.0,
                    70.0,
                    90.0,
                    110.0,
                    130.0,
                ]),
            ),
            (
                name: "MissingHealthRatio",
                values: Some([
                    5.0,
                    6.0,
                    7.0,
                    8.0,
                    9.0,
                    10.0,
                    11.0,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "HealReduction",
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                name: "BonusDamageAD",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)