(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    25.0,
                    85.0,
                    145.0,
                    205.0,
                    265.0,
                    325.0,
                    385.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("C_Buffbone_Glb_Chest_Loc"),
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)