(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
            ),
        )),
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(1000.0),
        missileEffectKey: Some(4197281855),
        castType: Some(1),
    )),
)