(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "bonus_ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    40.0,
                    80.0,
                    120.0,
                    160.0,
                    200.0,
                    240.0,
                    280.0,
                ]),
            ),
            (
                name: "BonusADRatio",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: Some([
            75.0,
            70.0,
            65.0,
            60.0,
            55.0,
            50.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(902.0),
        missileEffectKey: None,
        castType: None,
    )),
)