(
    spellData: Some((
        calculations: Some({
            "r_calculated_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x43a019eb": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "r_shadow_duration_displayed",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "RDamageAmp",
                values: Some([
                    0.1,
                    0.25,
                    0.4,
                    0.55,
                    0.7,
                    0.85,
                    1.0,
                ]),
            ),
            (
                name: "RReactivateCD",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "RShadowDurationDisplayed",
                values: Some([
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                ]),
            ),
            (
                name: "RDeathMarkDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "RCanSwapBuffDuration",
                values: Some([
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                ]),
            ),
            (
                name: "RGhostedDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "RBaseDamage",
                values: None,
            ),
            (
                name: "RVisionDuration",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            625.0,
            625.0,
            625.0,
            625.0,
            625.0,
            625.0,
            625.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(25.85),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            120.0,
            120.0,
            110.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(4106),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)