(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    20.0,
                    55.0,
                    90.0,
                    125.0,
                    0.0,
                    0.0,
                    35.0,
                ]),
            ),
            (
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2000.0),
                startBoneName: Some("weapon"),
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: Some(100.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: None,
        missileSpeed: Some(2000.0),
        missileEffectKey: None,
        castType: Some(3),
        castRange: Some([
            1500.0,
            1500.0,
            1500.0,
            1500.0,
            1500.0,
            1500.0,
            1500.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: Some(23.0),
        castConeDistance: Some(1500.0),
        lineWidth: Some(100.0),
        castFrame: Some(7.85),
        animationName: None,
        cooldownTime: Some([
            130.0,
            120.0,
            110.0,
            100.0,
            20.0,
            18.0,
            18.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("MissFortuneBulletTime"),
        coefficient: Some(0.15),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)