(
    spellData: Some((
        calculations: Some({
            "total_damage_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x5a1fd353": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(9),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    0.0,
                    20.0,
                    45.0,
                    70.0,
                    95.0,
                    120.0,
                    120.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                ]),
            ),
            (
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                values: Some([
                    110.0,
                    110.0,
                    110.0,
                    110.0,
                    110.0,
                    110.0,
                    110.0,
                ]),
            ),
            (
                values: Some([
                    160.0,
                    160.0,
                    160.0,
                    160.0,
                    160.0,
                    160.0,
                    160.0,
                ]),
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    -5.0,
                    20.0,
                    45.0,
                    70.0,
                    95.0,
                    120.0,
                    145.0,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "BounceCriticalMod",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1400.0),
                startBoneName: Some("R_WEAPON"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: Some(1400.0),
        missileEffectKey: Some(1551372490),
        castType: Some(1),
        castRange: Some([
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
        ]),
        castRadius: Some([
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
        ]),
        castConeAngle: Some(60.0),
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(8.7),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            8.0,
            7.0,
            6.0,
            5.0,
            4.0,
            3.0,
            3.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("MissFortuneRicochetShot"),
        coefficient: Some(0.35),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)