(
    spellData: Some((
        calculations: Some({
            "total_damage_per_second": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_per_second",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio_per_second",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_slow_amount": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_slow_amount",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "slow_per100_ap",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamagePerSecond",
                values: Some([
                    20.0,
                    35.0,
                    50.0,
                    65.0,
                    80.0,
                    95.0,
                    110.0,
                ]),
            ),
            (
                name: "BaseDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "BaseSlowAmount",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
            (
                name: "APRatioPerSecond",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "TicksPerSecond",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "CastDelay",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "SlowPer100AP",
                values: Some([
                    0.0006,
                    0.0006,
                    0.0006,
                    0.0006,
                    0.0006,
                    0.0006,
                    0.0006,
                ]),
            ),
        ]),
        mana: Some([
            80.0,
            80.0,
            80.0,
            80.0,
            80.0,
            80.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)