(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(347.8),
        missileEffectKey: None,
        castType: None,
    )),
)