(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                    230.0,
                ]),
            ),
            (
                values: Some([
                    13.0,
                    12.0,
                    11.0,
                    10.0,
                    9.0,
                    8.0,
                    7.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(120.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(2000.0),
        missileEffectKey: Some(3887882320),
        castType: Some(1),
        castRange: Some([
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(120.0),
        castFrame: Some(14.8),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            13.0,
            12.0,
            11.0,
            10.0,
            9.0,
            8.0,
            8.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(7183),
        alternateName: Some("ZileanQ"),
        coefficient: Some(0.6),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)