(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: Some([
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)