(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    90.0,
                    90.0,
                    135.0,
                    180.0,
                    225.0,
                    270.0,
                    315.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    -0.6,
                    -0.6,
                    -0.6,
                    -0.6,
                    -0.6,
                    -0.6,
                    -0.6,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
            65.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            900.0,
            900.0,
            900.0,
            900.0,
            900.0,
            900.0,
            900.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(175.0),
        castFrame: None,
        animationName: Some(""),
        cooldownTime: Some([
            13.0,
            13.0,
            12.0,
            11.0,
            10.0,
            9.0,
            9.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("KaynNewW"),
        coefficient: Some(0.2),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)