(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "PAmpCooldown",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "PAmpDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "PAmpPercentBase",
                values: Some([
                    13.2353,
                    13.2353,
                    13.2353,
                    13.2353,
                    13.2353,
                    13.2353,
                    13.2353,
                ]),
            ),
            (
                name: "PAmpPercentPerLvl",
                values: Some([
                    1.76471,
                    1.76471,
                    1.76471,
                    1.76471,
                    1.76471,
                    1.76471,
                    1.76471,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: None,
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: None,
        cooldownTime: None,
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: None,
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)