(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.5),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "slayer_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "slayer_max_hp_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "slayer_max_hp_damager_per100_ad",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                ]),
            ),
            (
                values: Some([
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                ]),
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    50.0,
                    150.0,
                    250.0,
                    350.0,
                    450.0,
                    550.0,
                    650.0,
                ]),
            ),
            (
                name: "MinimumInfestTime",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "InfestDuration",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                name: "JumpOutDistance",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "SlayerMaxHPBaseDamage",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "SlayerMaxHPDamagerPer100AD",
                values: Some([
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                ]),
            ),
            (
                name: "SlayerHealPercent",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "AssassinCastRange",
                values: Some([
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                ]),
            ),
            (
                name: "BaseCastRange",
                values: Some([
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                ]),
            ),
            (
                name: "AssassinJumpOutDistance",
                values: Some([
                    500.0,
                    500.0,
                    500.0,
                    500.0,
                    500.0,
                    500.0,
                    500.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            0.0,
            0.0,
            0.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: None,
        cooldownTime: Some([
            120.0,
            120.0,
            100.0,
            80.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(4106),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)