(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(20000.0),
                startBoneName: Some("r_foot"),
            ),
        )),
        hitBoneName: Some("C_BuffBone_Glb_Center_Loc"),
        missileSpeed: Some(2000.0),
        missileEffectKey: Some(1063168197),
        castType: Some(3),
    )),
)