(
    events: {
        "SRU_CrabSpeedShrine_buffactivate": [
            "characters/Sru_Crab/sounds/166792361.ogg",
            "characters/Sru_Crab/sounds/565652143.ogg",
            "characters/Sru_Crab/sounds/600992602.ogg",
            "characters/Sru_Crab/sounds/804714643.ogg",
        ],
        "SRU_Crab_Sru_CrabDash_OnCast": [
            "characters/Sru_Crab/sounds/183208725.ogg",
            "characters/Sru_Crab/sounds/760914406.ogg",
        ],
        "SRU_Crab_Sru_Dance": [
            "characters/Sru_Crab/sounds/869838903.ogg",
            "characters/Sru_Crab/sounds/999653460.ogg",
        ],
        "SRU_Crab_death_cast": [
            "characters/Sru_Crab/sounds/1014060077.ogg",
        ],
        "SRU_Crab_death_leap": [
            "characters/Sru_Crab/sounds/84800117.ogg",
        ],
        "SRU_Crab_shieldbreak_cast": [
            "characters/Sru_Crab/sounds/357461649.ogg",
        ],
        "SRU_Crab_spawn_cast": [
            "characters/Sru_Crab/sounds/509451067.ogg",
        ],
        "SRU_Crab_stun": [
            "characters/Sru_Crab/sounds/963681951.ogg",
        ],
        "SRU_Crab_ward_cast": [
            "characters/Sru_Crab/sounds/258282412.ogg",
        ],
    },
)