(
    spellData: Some((
        calculations: Some({
            2486514475: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1943001709,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2581392069: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            2812290501: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3327787653: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            1697510098: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            1577104742: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(12),
                        dataValue: 2319345142,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "CourageVsChamps",
                values: Some([
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                ]),
            ),
            (
                name: "CourageVsOther",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "CourageLastHit",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "CourageChampionTakedown",
                values: None,
            ),
            (
                name: "DismountedResistRatio",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
            (
                name: "DismountedMSPenalty",
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                name: "RemountDashDuration",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "MountReturnTime",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "DismountInvulnWindow",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "DismountDistanceBase",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "DismountDistancePerEnemyChamp",
                values: None,
            ),
            (
                name: "DismountSpeedRadius",
                values: Some([
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                ]),
            ),
            (
                name: "ResistBonusPerEnemy",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "ResistBonusRange",
                values: Some([
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                ]),
            ),
            (
                name: "MountCD",
                values: Some([
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)