(
  resources: {},
  entities: {
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/SRU_Baron/spells/BaronSpellCaster.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/SRU_Baron/spells/BaronSpike.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/SRU_Baron/spells/BaronAttackMelee.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "SRU_Baron",
        "lol_core::attack::Attack": (
          range: 400.0,
          base_attack_speed: 0.625,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.283,
            attack_total_time: 1.6,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.0,
          max: 0.0,
          base: 0.0,
          per_level: 0.0,
          base_static_regen: 0.0,
          regen_per_level: 0.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 0.0,
          height: 260.0,
        ),
        "lol_core::base::level::ExperienceDrop": (
          exp_given_on_death: 0.0,
          experience_radius: 2000.0,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (8.0),
        "lol_core::damage::Damage": (175.0),
        "lol_core::life::Health": (
          value: 16300.0,
          max: 16300.0,
        ),
        "lol_core::movement::Movement": (
          speed: 300.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "BaronAcidBall": Path("characters/SRU_Baron/spells/BaronAcidBall.ron"),
          "BaronAcidBall2": Path("characters/SRU_Baron/spells/BaronAcidBall2.ron"),
          "BaronAcidBall3": Path("characters/SRU_Baron/spells/BaronAcidBall3.ron"),
          "BaronAcidBallChampion": Path("characters/SRU_Baron/spells/BaronAcidBallChampion.ron"),
          "BaronAttack": Path("characters/SRU_Baron/spells/BaronAttack.ron"),
          "BaronAttackMelee": Path("characters/SRU_Baron/spells/BaronAttackMelee.ron"),
          "BaronBasicAttack": Path("characters/SRU_Baron/spells/BaronBasicAttack.ron"),
          "BaronCorruption": Path("characters/SRU_Baron/spells/BaronCorruption.ron"),
          "BaronDeathBreath": Path("characters/SRU_Baron/spells/BaronDeathBreath.ron"),
          "BaronDeathBreathProj": Path("characters/SRU_Baron/spells/BaronDeathBreathProj.ron"),
          "BaronDeathBreathProj1": Path("characters/SRU_Baron/spells/BaronDeathBreathProj1.ron"),
          "BaronDeathBreathProj2": Path("characters/SRU_Baron/spells/BaronDeathBreathProj2.ron"),
          "BaronDeathBreathProj3": Path("characters/SRU_Baron/spells/BaronDeathBreathProj3.ron"),
          "BaronDebuff": Path("characters/SRU_Baron/spells/BaronDebuff.ron"),
          "BaronLineMissile": Path("characters/SRU_Baron/spells/BaronLineMissile.ron"),
          "BaronLongSpike": Path("characters/SRU_Baron/spells/BaronLongSpike.ron"),
          "BaronPullSpellBase": Path("characters/SRU_Baron/spells/BaronPullSpellBase.ron"),
          "BaronPullSpellMissile": Path("characters/SRU_Baron/spells/BaronPullSpellMissile.ron"),
          "BaronSpellCaster": Path("characters/SRU_Baron/spells/BaronSpellCaster.ron"),
          "BaronSpike": Path("characters/SRU_Baron/spells/BaronSpike.ron"),
          "BaronTail": Path("characters/SRU_Baron/spells/BaronTail.ron"),
          "BaronTarget": Path("characters/SRU_Baron/spells/BaronTarget.ron"),
          "BaronWallDestructionMissile": Path("characters/SRU_Baron/spells/BaronWallDestructionMissile.ron"),
          "NewSpellLivingArtillery": Path("characters/SRU_Baron/spells/NewSpellLivingArtillery.ron"),
          "SRU_BaronBasicAttack": Path("characters/SRU_Baron/spells/SRU_BaronBasicAttack.ron"),
          "SpawnMissile": Path("characters/SRU_Baron/spells/SpawnMissile.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
        ]),
      },
    ),
  },
)