(
    spellData: Some((
        calculations: Some({
            "thunderclap_splash": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "thunderclap_splash_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "thunderclap_splash_ap",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "thunderclap_splash_armor",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_bonus_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "thunderclap_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "thunderclap_base_damage_ap_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "thunderclap_base_damage_armor_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x71941255": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "ThunderclapBuffDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "ThunderclapBaseDamage",
                values: Some([
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                ]),
            ),
            (
                name: "ThunderclapSlowDamage",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "ThunderclapSplashAP",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "ThunderclapSplashArmor",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "ThunderclapBaseDamageAPRatio",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "ThunderclapBaseDamageArmorRatio",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "ThunderclapSplashDamage",
                values: Some([
                    5.0,
                    15.0,
                    25.0,
                    35.0,
                    45.0,
                    55.0,
                    65.0,
                ]),
            ),
            (
                name: "BonusArmorPassive",
                values: Some([
                    0.05,
                    0.1,
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                    0.35,
                ]),
            ),
            (
                name: "BonusArmorPassiveMultiplier",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "ThunderClapSplashRange",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "MonsterDamageMod",
                values: Some([
                    1.8,
                    1.8,
                    1.8,
                    1.8,
                    1.8,
                    1.8,
                    1.8,
                ]),
            ),
        ]),
        mana: Some([
            30.0,
            35.0,
            40.0,
            45.0,
            50.0,
            55.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)