(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Volibear/spells/VolibearP.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 160.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Volibear/spells/VolibearR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 16.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Volibear/spells/VolibearE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 5.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Volibear/spells/VolibearW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Volibear/spells/VolibearQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Volibear",
        "lol_core::attack::Attack": (
          range: 400.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.1,
          max: 0.1,
          base: 0.1,
          per_level: 0.0,
          base_static_regen: 70.0,
          regen_per_level: 350.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 50.0,
          height: 124.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (5.2),
        "lol_core::damage::Damage": (65.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 650.0,
          max: 650.0,
        ),
        "lol_core::movement::Movement": (
          speed: 340.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "VolibearBasicAttack": Path("characters/Volibear/spells/VolibearBasicAttack.ron"),
          "VolibearBasicAttack2": Path("characters/Volibear/spells/VolibearBasicAttack2.ron"),
          "VolibearBasicAttack3": Path("characters/Volibear/spells/VolibearBasicAttack3.ron"),
          "VolibearBasicAttackTower": Path("characters/Volibear/spells/VolibearBasicAttackTower.ron"),
          "VolibearCritAttack": Path("characters/Volibear/spells/VolibearCritAttack.ron"),
          "VolibearE": Path("characters/Volibear/spells/VolibearE.ron"),
          "VolibearEShield": Path("characters/Volibear/spells/VolibearEShield.ron"),
          "VolibearESlow": Path("characters/Volibear/spells/VolibearESlow.ron"),
          "VolibearP": Path("characters/Volibear/spells/VolibearP.ron"),
          "VolibearPStackTracker": Path("characters/Volibear/spells/VolibearPStackTracker.ron"),
          "VolibearQ": Path("characters/Volibear/spells/VolibearQ.ron"),
          "VolibearQAttack": Path("characters/Volibear/spells/VolibearQAttack.ron"),
          "VolibearQMoveSpeed": Path("characters/Volibear/spells/VolibearQMoveSpeed.ron"),
          "VolibearQPostAttack": Path("characters/Volibear/spells/VolibearQPostAttack.ron"),
          "VolibearR": Path("characters/Volibear/spells/VolibearR.ron"),
          "VolibearRImpactSlow": Path("characters/Volibear/spells/VolibearRImpactSlow.ron"),
          "VolibearRTowerAttack1": Path("characters/Volibear/spells/VolibearRTowerAttack1.ron"),
          "VolibearRTowerAttack2": Path("characters/Volibear/spells/VolibearRTowerAttack2.ron"),
          "VolibearRTowerDisable": Path("characters/Volibear/spells/VolibearRTowerDisable.ron"),
          "VolibearRTransitionAttack": Path("characters/Volibear/spells/VolibearRTransitionAttack.ron"),
          "VolibearW": Path("characters/Volibear/spells/VolibearW.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)