(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    5.0,
                    10.0,
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                ]),
            ),
            (
                values: Some([
                    1.25,
                    2.0,
                    2.75,
                    3.5,
                    4.25,
                    5.0,
                    5.75,
                ]),
            ),
            (
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    2.0,
                    2.5,
                    3.0,
                    3.5,
                    4.0,
                    4.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            55.0,
            60.0,
            65.0,
            70.0,
            75.0,
            80.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(50.0),
        castFrame: Some(1.98),
        animationName: Some(""),
        cooldownTime: Some([
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(13327),
        alternateName: Some("VarusW"),
        coefficient: Some(0.2),
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)