(
    spellData: Some((
        calculations: Some({
            "as_duration": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "champion_ad": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(4),
                        dataValue: "a_sto_ad_champion",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "champion_ap": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(4),
                        dataValue: "a_sto_ap_champion",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "champion_as": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "passive_as",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "minion_ad": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(4),
                        dataValue: "a_sto_ad_minion",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "minion_ap": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(4),
                        dataValue: "a_sto_ap_minion",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "minion_as": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "PassiveAS",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "PassiveASMinion",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "PassiveASRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
            (
                name: "PassiveASRatioMinion",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "AStoADMinion",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
            (
                name: "AStoAPMinion",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
            (
                name: "AStoADChampion",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
            (
                name: "AStoAPChampion",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
            (
                name: "NewASCap",
                values: Some([
                    3.33,
                    3.33,
                    3.33,
                    3.33,
                    3.33,
                    3.33,
                    3.33,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(2373896057),
        castType: None,
    )),
)