(
    spellData: Some((
        calculations: Some({
            "total_damage_max": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_max",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "t_ad_ratio_max",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                values: Some([
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                ]),
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamageMax",
                values: Some([
                    10.0,
                    80.0,
                    150.0,
                    220.0,
                    290.0,
                    360.0,
                    430.0,
                ]),
            ),
            (
                name: "ChargeMultiplierInverse",
                values: Some([
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                ]),
            ),
            (
                name: "tADRatioMax",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "MaxChargeAmp",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "FalloffPercent",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "ManaRefund",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "MaxChannelDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "CDRefund",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "MoveSpeedMod",
                values: Some([
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                    -0.2,
                ]),
            ),
            (
                name: "MinDamagePercent",
                values: Some([
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            75.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)