(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    150.0,
                    150.0,
                    250.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: Some([
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                ]),
            ),
            (
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: Some([
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                ]),
            ),
            (
                values: Some([
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    50.0,
                    150.0,
                    250.0,
                    350.0,
                    450.0,
                    550.0,
                    650.0,
                ]),
            ),
            (
                name: "RootDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "VarusRTargetAcquisitionRange",
                values: Some([
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                ]),
            ),
            (
                name: "PassiveStacksAdded",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "TimeBetweenStackAddition",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "VarusRTargetLeashRange",
                values: Some([
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                ]),
            ),
            (
                name: "VarusRLeashTimer",
                values: Some([
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                ]),
            ),
            (
                name: "VarusWDebuffDuration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "VarusWMaxStacks",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: None,
    )),
)