(
  resources: {
    "lol_base_render::particle::ConfigVfxHandle": (Path("characters/SRU_RiftHerald/skins/Skin0_vfx.ron")),
  },
  entities: {
    4294967259: (
      components: {
        "bevy_animation::graph::AnimationGraphHandle": (Path("characters/SRU_RiftHerald/animations/Skin0.ron")),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_world_serialization::components::WorldAssetRoot": (Path("characters/SRU_RiftHerald/skins/Skin0.glb#Scene0")),
        "lol_base::character::HealthBar": (
          bar_type: 5,
        ),
        "lol_base::character::Skin": (
          scale: 0.8,
          avatar: "ASSETS/Characters/SRU_RiftHerald/HUD/SRURiftHerald_Circle.png",
          resolver_key: 2880155401,
        ),
        "lol_base_render::animation::LOLAnimationGraphHandle": (Path("characters/SRU_RiftHerald/animations/Skin0.ron")),
      },
    ),
  },
)