(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    10.0,
                    40.0,
                    70.0,
                    100.0,
                    130.0,
                    160.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    550.0,
                    650.0,
                    750.0,
                    850.0,
                    950.0,
                    1050.0,
                    1150.0,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(9.0),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: Some("YasuoDashWrapper"),
        coefficient: Some(0.6),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)