(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    200.0,
                    300.0,
                    400.0,
                    100.0,
                    130.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    33.0,
                    66.0,
                    100.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    650.0,
                    750.0,
                    850.0,
                    950.0,
                    1050.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    33.0,
                    66.0,
                    100.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1400.0,
            1400.0,
            1400.0,
            1400.0,
            1400.0,
            1400.0,
            1400.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(9.0),
        animationName: Some("Channel"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: Some("YasuoRKnockUpComboW"),
        coefficient: Some(1.5),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)