(
    events: {
        "Dance3D_buffactivate": [
            "characters/Fiora/sounds/16322475.ogg",
        ],
        "Death3D_cast": [
            "characters/Fiora/sounds/575965935.ogg",
        ],
        "FioraBasicAttack2_OnCast": [
            "characters/Fiora/sounds/100148878.ogg",
            "characters/Fiora/sounds/227402369.ogg",
            "characters/Fiora/sounds/248165938.ogg",
            "characters/Fiora/sounds/75598154.ogg",
        ],
        "FioraBasicAttack2_OnHit": [
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/83893563.ogg",
        ],
        "FioraBasicAttack_OnCast": [
            "characters/Fiora/sounds/100148878.ogg",
            "characters/Fiora/sounds/227402369.ogg",
            "characters/Fiora/sounds/248165938.ogg",
            "characters/Fiora/sounds/75598154.ogg",
        ],
        "FioraBasicAttack_OnHit": [
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/83893563.ogg",
        ],
        "FioraCritAttack_OnCast": [
            "characters/Fiora/sounds/216066493.ogg",
            "characters/Fiora/sounds/26194829.ogg",
            "characters/Fiora/sounds/435526453.ogg",
            "characters/Fiora/sounds/57757882.ogg",
        ],
        "FioraCritAttack_OnHit": [
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/83893563.ogg",
        ],
        "FioraE2_OnBuffActivate": [
            "characters/Fiora/sounds/914004755.ogg",
        ],
        "FioraEAttack2_OnHit": [
            "characters/Fiora/sounds/135482577.ogg",
            "characters/Fiora/sounds/813003588.ogg",
            "characters/Fiora/sounds/855718699.ogg",
            "characters/Fiora/sounds/921555713.ogg",
        ],
        "FioraEAttack_OnHit": [
            "characters/Fiora/sounds/404168632.ogg",
            "characters/Fiora/sounds/732980041.ogg",
            "characters/Fiora/sounds/751359322.ogg",
            "characters/Fiora/sounds/751886416.ogg",
        ],
        "FioraE_OnBuffActivate": [
            "characters/Fiora/sounds/914004755.ogg",
        ],
        "FioraE_OnCast": [
            "characters/Fiora/sounds/307047090.ogg",
            "characters/Fiora/sounds/60102032.ogg",
            "characters/Fiora/sounds/608295856.ogg",
            "characters/Fiora/sounds/687216270.ogg",
        ],
        "FioraPassiveHitSound_OnBuffCast": [
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/115487795.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/140205840.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/83893563.ogg",
            "characters/Fiora/sounds/869559776.ogg",
        ],
        "FioraPassiveManager_OnBuffActivate": [
            "characters/Fiora/sounds/163049094.ogg",
            "characters/Fiora/sounds/348654998.ogg",
            "characters/Fiora/sounds/39044983.ogg",
            "characters/Fiora/sounds/739934189.ogg",
        ],
        "FioraPassiveReadySound_OnBuffActivate": [
            "characters/Fiora/sounds/1050792220.ogg",
            "characters/Fiora/sounds/248220733.ogg",
            "characters/Fiora/sounds/517644423.ogg",
            "characters/Fiora/sounds/531862447.ogg",
        ],
        "FioraPassiveSpeed_OnBuffActivate": [
            "characters/Fiora/sounds/174563743.ogg",
            "characters/Fiora/sounds/31037918.ogg",
            "characters/Fiora/sounds/512697418.ogg",
            "characters/Fiora/sounds/755717700.ogg",
            "characters/Fiora/sounds/774774469.ogg",
            "characters/Fiora/sounds/842337916.ogg",
        ],
        "FioraQAttack_OnBuffCast": [
            "characters/Fiora/sounds/1002504061.ogg",
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/312864776.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/751089676.ogg",
            "characters/Fiora/sounds/759936634.ogg",
            "characters/Fiora/sounds/83893563.ogg",
        ],
        "FioraQ_OnBuffActivate": [
            "characters/Fiora/sounds/169047149.ogg",
            "characters/Fiora/sounds/405634485.ogg",
            "characters/Fiora/sounds/843519807.ogg",
            "characters/Fiora/sounds/96877161.ogg",
        ],
        "FioraQ_OnCast": [
            "characters/Fiora/sounds/1008513625.ogg",
            "characters/Fiora/sounds/1069034273.ogg",
            "characters/Fiora/sounds/296982738.ogg",
            "characters/Fiora/sounds/4179099.ogg",
        ],
        "FioraRHeal_buffactivate": [
            "characters/Fiora/sounds/168382624.ogg",
            "characters/Fiora/sounds/318142483.ogg",
            "characters/Fiora/sounds/45821837.ogg",
        ],
        "FioraRHitSound_OnBuffActivate": [
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/256752726.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/303450905.ogg",
            "characters/Fiora/sounds/328194144.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/355315504.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/489521047.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/57146704.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/829319661.ogg",
            "characters/Fiora/sounds/83893563.ogg",
            "characters/Fiora/sounds/864267879.ogg",
        ],
        "FioraRMark_OnBuffActivate": [
            "characters/Fiora/sounds/124286617.ogg",
            "characters/Fiora/sounds/172374818.ogg",
            "characters/Fiora/sounds/447604756.ogg",
            "characters/Fiora/sounds/556270684.ogg",
        ],
        "FioraRMark_OnBuffDeactivate": [
            "characters/Fiora/sounds/352692767.ogg",
            "characters/Fiora/sounds/359288683.ogg",
            "characters/Fiora/sounds/365909725.ogg",
            "characters/Fiora/sounds/492210027.ogg",
        ],
        "FioraWBlockCCSound_OnBuffCast": [
            "characters/Fiora/sounds/164745483.ogg",
            "characters/Fiora/sounds/214257380.ogg",
            "characters/Fiora/sounds/656883093.ogg",
            "characters/Fiora/sounds/664510781.ogg",
        ],
        "FioraWBlockHitSound_OnBuffCast": [
            "characters/Fiora/sounds/1071598089.ogg",
            "characters/Fiora/sounds/234915258.ogg",
            "characters/Fiora/sounds/598738649.ogg",
            "characters/Fiora/sounds/632277432.ogg",
        ],
        "FioraWMinionSound_hit": [
            "characters/Fiora/sounds/1005647268.ogg",
            "characters/Fiora/sounds/259052099.ogg",
            "characters/Fiora/sounds/358896859.ogg",
            "characters/Fiora/sounds/363218782.ogg",
            "characters/Fiora/sounds/760989263.ogg",
        ],
        "FioraWMissile_OnMissileLaunch": [
            "characters/Fiora/sounds/589488155.ogg",
            "characters/Fiora/sounds/748161656.ogg",
            "characters/Fiora/sounds/962976939.ogg",
        ],
        "FioraWSlow_hit": [
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/138233965.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/263512436.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/364954599.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/807596886.ogg",
            "characters/Fiora/sounds/83893563.ogg",
        ],
        "FioraWStun_hit": [
            "characters/Fiora/sounds/1022722360.ogg",
            "characters/Fiora/sounds/110617456.ogg",
            "characters/Fiora/sounds/123621399.ogg",
            "characters/Fiora/sounds/139913649.ogg",
            "characters/Fiora/sounds/15982667.ogg",
            "characters/Fiora/sounds/162873079.ogg",
            "characters/Fiora/sounds/165480274.ogg",
            "characters/Fiora/sounds/177185538.ogg",
            "characters/Fiora/sounds/198625716.ogg",
            "characters/Fiora/sounds/220292153.ogg",
            "characters/Fiora/sounds/22895149.ogg",
            "characters/Fiora/sounds/248935313.ogg",
            "characters/Fiora/sounds/29059332.ogg",
            "characters/Fiora/sounds/33236861.ogg",
            "characters/Fiora/sounds/35268648.ogg",
            "characters/Fiora/sounds/41433963.ogg",
            "characters/Fiora/sounds/492333429.ogg",
            "characters/Fiora/sounds/493726312.ogg",
            "characters/Fiora/sounds/51492454.ogg",
            "characters/Fiora/sounds/54245804.ogg",
            "characters/Fiora/sounds/62868466.ogg",
            "characters/Fiora/sounds/69841356.ogg",
            "characters/Fiora/sounds/70963861.ogg",
            "characters/Fiora/sounds/83893563.ogg",
        ],
        "FioraW_OnCast": [
            "characters/Fiora/sounds/51453556.ogg",
            "characters/Fiora/sounds/523502590.ogg",
            "characters/Fiora/sounds/621168171.ogg",
            "characters/Fiora/sounds/647960477.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Fiora/sounds/817589924.ogg",
        ],
        "Play_vo_Fiora_Attack2DGeneral": [
            "characters/Fiora/sounds/1070415768.ogg",
            "characters/Fiora/sounds/568466332.ogg",
            "characters/Fiora/sounds/595912155.ogg",
            "characters/Fiora/sounds/711818409.ogg",
            "characters/Fiora/sounds/812118671.ogg",
            "characters/Fiora/sounds/823048927.ogg",
            "characters/Fiora/sounds/969807485.ogg",
        ],
        "Play_vo_Fiora_Death3D": [
            "characters/Fiora/sounds/642577583.ogg",
            "characters/Fiora/sounds/909338762.ogg",
            "characters/Fiora/sounds/967865832.ogg",
            "characters/Fiora/sounds/972098298.ogg",
        ],
        "Play_vo_Fiora_FioraBasicAttack2_Jade_cast3D": [
            "characters/Fiora/sounds/531663114.ogg",
            "characters/Fiora/sounds/596304229.ogg",
            "characters/Fiora/sounds/656383821.ogg",
            "characters/Fiora/sounds/702714060.ogg",
        ],
        "Play_vo_Fiora_FioraBasicAttack2_cast3D": [
            "characters/Fiora/sounds/531663114.ogg",
            "characters/Fiora/sounds/596304229.ogg",
            "characters/Fiora/sounds/656383821.ogg",
            "characters/Fiora/sounds/702714060.ogg",
        ],
        "Play_vo_Fiora_FioraBasicAttack_Jade_cast3D": [
            "characters/Fiora/sounds/531663114.ogg",
            "characters/Fiora/sounds/596304229.ogg",
            "characters/Fiora/sounds/656383821.ogg",
            "characters/Fiora/sounds/702714060.ogg",
        ],
        "Play_vo_Fiora_FioraBasicAttack_cast3D": [
            "characters/Fiora/sounds/531663114.ogg",
            "characters/Fiora/sounds/596304229.ogg",
            "characters/Fiora/sounds/656383821.ogg",
            "characters/Fiora/sounds/702714060.ogg",
        ],
        "Play_vo_Fiora_FioraCritAttack_Jade_cast3D": [
            "characters/Fiora/sounds/531663114.ogg",
            "characters/Fiora/sounds/596304229.ogg",
            "characters/Fiora/sounds/656383821.ogg",
            "characters/Fiora/sounds/702714060.ogg",
        ],
        "Play_vo_Fiora_FioraCritAttack_cast3D": [
            "characters/Fiora/sounds/531663114.ogg",
            "characters/Fiora/sounds/596304229.ogg",
            "characters/Fiora/sounds/656383821.ogg",
            "characters/Fiora/sounds/702714060.ogg",
        ],
        "Play_vo_Fiora_FioraR_Jade_cast3D": [
            "characters/Fiora/sounds/11206026.ogg",
            "characters/Fiora/sounds/597736853.ogg",
            "characters/Fiora/sounds/659502920.ogg",
            "characters/Fiora/sounds/752317701.ogg",
        ],
        "Play_vo_Fiora_FioraR_cast3D": [
            "characters/Fiora/sounds/11206026.ogg",
            "characters/Fiora/sounds/597736853.ogg",
            "characters/Fiora/sounds/659502920.ogg",
            "characters/Fiora/sounds/752317701.ogg",
        ],
        "Play_vo_Fiora_FioraW_Jade_cast3D": [
            "characters/Fiora/sounds/466316561.ogg",
            "characters/Fiora/sounds/620471797.ogg",
            "characters/Fiora/sounds/650577214.ogg",
            "characters/Fiora/sounds/729969294.ogg",
        ],
        "Play_vo_Fiora_FioraW_cast3D": [
            "characters/Fiora/sounds/466316561.ogg",
            "characters/Fiora/sounds/620471797.ogg",
            "characters/Fiora/sounds/650577214.ogg",
            "characters/Fiora/sounds/729969294.ogg",
        ],
        "Play_vo_Fiora_Joke3DGeneral": [
            "characters/Fiora/sounds/224214043.ogg",
            "characters/Fiora/sounds/911743203.ogg",
        ],
        "Play_vo_Fiora_Laugh3DGeneral": [
            "characters/Fiora/sounds/13639503.ogg",
            "characters/Fiora/sounds/436106099.ogg",
            "characters/Fiora/sounds/501009338.ogg",
            "characters/Fiora/sounds/65725685.ogg",
        ],
        "Play_vo_Fiora_Move2DStandard": [
            "characters/Fiora/sounds/16791582.ogg",
            "characters/Fiora/sounds/222947448.ogg",
            "characters/Fiora/sounds/300832133.ogg",
            "characters/Fiora/sounds/439023356.ogg",
            "characters/Fiora/sounds/590747208.ogg",
            "characters/Fiora/sounds/785449054.ogg",
            "characters/Fiora/sounds/844105290.ogg",
            "characters/Fiora/sounds/858409588.ogg",
            "characters/Fiora/sounds/936832014.ogg",
        ],
        "Play_vo_Fiora_Spell3DQHit": [
            "characters/Fiora/sounds/186274440.ogg",
            "characters/Fiora/sounds/582945608.ogg",
            "characters/Fiora/sounds/621249741.ogg",
            "characters/Fiora/sounds/738318628.ogg",
        ],
        "Play_vo_Fiora_Spell3DW2Cast": [
            "characters/Fiora/sounds/403933506.ogg",
            "characters/Fiora/sounds/451347254.ogg",
            "characters/Fiora/sounds/628129384.ogg",
            "characters/Fiora/sounds/888506673.ogg",
        ],
        "Play_vo_Fiora_Taunt3DGeneral": [
            "characters/Fiora/sounds/239849245.ogg",
            "characters/Fiora/sounds/750426708.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Fiora/sounds/665958369.ogg",
        ],
    },
)