(
    events: {
        "GragasBasicAttack2_OnCast": [
            "characters/Gragas/sounds/323432869.ogg",
            "characters/Gragas/sounds/353671218.ogg",
        ],
        "GragasBasicAttack2_OnHit": [
            "characters/Gragas/sounds/12414705.ogg",
            "characters/Gragas/sounds/147142527.ogg",
            "characters/Gragas/sounds/160197797.ogg",
            "characters/Gragas/sounds/183193935.ogg",
            "characters/Gragas/sounds/193724774.ogg",
            "characters/Gragas/sounds/195395622.ogg",
            "characters/Gragas/sounds/228567503.ogg",
            "characters/Gragas/sounds/279726486.ogg",
            "characters/Gragas/sounds/287511898.ogg",
            "characters/Gragas/sounds/309897469.ogg",
            "characters/Gragas/sounds/379369987.ogg",
            "characters/Gragas/sounds/41147340.ogg",
            "characters/Gragas/sounds/55416013.ogg",
            "characters/Gragas/sounds/602747931.ogg",
            "characters/Gragas/sounds/90979734.ogg",
            "characters/Gragas/sounds/972441139.ogg",
        ],
        "GragasBasicAttack_OnCast": [
            "characters/Gragas/sounds/323432869.ogg",
            "characters/Gragas/sounds/353671218.ogg",
        ],
        "GragasBasicAttack_OnHit": [
            "characters/Gragas/sounds/12414705.ogg",
            "characters/Gragas/sounds/147142527.ogg",
            "characters/Gragas/sounds/160197797.ogg",
            "characters/Gragas/sounds/183193935.ogg",
            "characters/Gragas/sounds/193724774.ogg",
            "characters/Gragas/sounds/195395622.ogg",
            "characters/Gragas/sounds/228567503.ogg",
            "characters/Gragas/sounds/279726486.ogg",
            "characters/Gragas/sounds/287511898.ogg",
            "characters/Gragas/sounds/309897469.ogg",
            "characters/Gragas/sounds/379369987.ogg",
            "characters/Gragas/sounds/41147340.ogg",
            "characters/Gragas/sounds/55416013.ogg",
            "characters/Gragas/sounds/602747931.ogg",
            "characters/Gragas/sounds/90979734.ogg",
            "characters/Gragas/sounds/972441139.ogg",
        ],
        "GragasCritAttack_OnCast": [
            "characters/Gragas/sounds/323432869.ogg",
            "characters/Gragas/sounds/353671218.ogg",
        ],
        "GragasCritAttack_OnHit": [
            "characters/Gragas/sounds/12414705.ogg",
            "characters/Gragas/sounds/147142527.ogg",
            "characters/Gragas/sounds/160197797.ogg",
            "characters/Gragas/sounds/183193935.ogg",
            "characters/Gragas/sounds/193724774.ogg",
            "characters/Gragas/sounds/195395622.ogg",
            "characters/Gragas/sounds/228567503.ogg",
            "characters/Gragas/sounds/279726486.ogg",
            "characters/Gragas/sounds/287511898.ogg",
            "characters/Gragas/sounds/309897469.ogg",
            "characters/Gragas/sounds/379369987.ogg",
            "characters/Gragas/sounds/41147340.ogg",
            "characters/Gragas/sounds/55416013.ogg",
            "characters/Gragas/sounds/602747931.ogg",
            "characters/Gragas/sounds/90979734.ogg",
            "characters/Gragas/sounds/972441139.ogg",
        ],
        "GragasE_OnCast": [
            "characters/Gragas/sounds/137416781.ogg",
        ],
        "GragasE_hit": [
            "characters/Gragas/sounds/125958689.ogg",
            "characters/Gragas/sounds/215166354.ogg",
            "characters/Gragas/sounds/809763914.ogg",
            "characters/Gragas/sounds/986389143.ogg",
        ],
        "GragasQMissile_boom": [
            "characters/Gragas/sounds/1017638910.ogg",
            "characters/Gragas/sounds/275196235.ogg",
            "characters/Gragas/sounds/38448423.ogg",
            "characters/Gragas/sounds/99092660.ogg",
        ],
        "GragasQMissile_foam": [
            "characters/Gragas/sounds/1073012260.ogg",
            "characters/Gragas/sounds/602364398.ogg",
            "characters/Gragas/sounds/789887477.ogg",
            "characters/Gragas/sounds/826761539.ogg",
        ],
        "GragasQ_OnCast": [
            "characters/Gragas/sounds/843673933.ogg",
            "characters/Gragas/sounds/905694050.ogg",
            "characters/Gragas/sounds/914331364.ogg",
            "characters/Gragas/sounds/987897841.ogg",
        ],
        "GragasR_OnCast": [
            "characters/Gragas/sounds/421591823.ogg",
        ],
        "GragasR_boom": [
            "characters/Gragas/sounds/117420554.ogg",
            "characters/Gragas/sounds/24364761.ogg",
            "characters/Gragas/sounds/595477819.ogg",
            "characters/Gragas/sounds/94192507.ogg",
        ],
        "GragasWAttack_OnCast": [
            "characters/Gragas/sounds/323432869.ogg",
            "characters/Gragas/sounds/353671218.ogg",
        ],
        "GragasWAttack_OnHit": [
            "characters/Gragas/sounds/12414705.ogg",
            "characters/Gragas/sounds/147142527.ogg",
            "characters/Gragas/sounds/160197797.ogg",
            "characters/Gragas/sounds/183193935.ogg",
            "characters/Gragas/sounds/193724774.ogg",
            "characters/Gragas/sounds/195395622.ogg",
            "characters/Gragas/sounds/228567503.ogg",
            "characters/Gragas/sounds/279726486.ogg",
            "characters/Gragas/sounds/287511898.ogg",
            "characters/Gragas/sounds/309897469.ogg",
            "characters/Gragas/sounds/379369987.ogg",
            "characters/Gragas/sounds/41147340.ogg",
            "characters/Gragas/sounds/55416013.ogg",
            "characters/Gragas/sounds/602747931.ogg",
            "characters/Gragas/sounds/90979734.ogg",
            "characters/Gragas/sounds/972441139.ogg",
        ],
        "GragasWSelf_OnBuffActivate": [
            "characters/Gragas/sounds/202111292.ogg",
            "characters/Gragas/sounds/257853551.ogg",
            "characters/Gragas/sounds/266651424.ogg",
            "characters/Gragas/sounds/443862626.ogg",
        ],
        "GragasW_OnCast": [
            "characters/Gragas/sounds/527615731.ogg",
            "characters/Gragas/sounds/562826608.ogg",
            "characters/Gragas/sounds/59043534.ogg",
            "characters/Gragas/sounds/752756167.ogg",
        ],
        "GragasW_damageloop": [
            "characters/Gragas/sounds/215628900.ogg",
            "characters/Gragas/sounds/260652112.ogg",
            "characters/Gragas/sounds/713404491.ogg",
            "characters/Gragas/sounds/901934447.ogg",
        ],
        "GragasW_hit": [
            "characters/Gragas/sounds/314355049.ogg",
            "characters/Gragas/sounds/446839654.ogg",
            "characters/Gragas/sounds/480417440.ogg",
            "characters/Gragas/sounds/582640829.ogg",
        ],
        "Play_vo_Gragas_Attack2DGeneral": [
            "characters/Gragas/sounds/160743468.ogg",
            "characters/Gragas/sounds/264310702.ogg",
            "characters/Gragas/sounds/322665620.ogg",
            "characters/Gragas/sounds/380177854.ogg",
            "characters/Gragas/sounds/396304930.ogg",
            "characters/Gragas/sounds/719481460.ogg",
            "characters/Gragas/sounds/76964633.ogg",
        ],
        "Play_vo_Gragas_Death3D": [
            "characters/Gragas/sounds/126915013.ogg",
            "characters/Gragas/sounds/155528758.ogg",
            "characters/Gragas/sounds/704413220.ogg",
            "characters/Gragas/sounds/857223548.ogg",
        ],
        "Play_vo_Gragas_GragasBasicAttack2_cast3D": [
            "characters/Gragas/sounds/1004528308.ogg",
            "characters/Gragas/sounds/1072533085.ogg",
            "characters/Gragas/sounds/14295857.ogg",
            "characters/Gragas/sounds/642862266.ogg",
        ],
        "Play_vo_Gragas_GragasBasicAttack_cast3D": [
            "characters/Gragas/sounds/1004528308.ogg",
            "characters/Gragas/sounds/1072533085.ogg",
            "characters/Gragas/sounds/14295857.ogg",
            "characters/Gragas/sounds/642862266.ogg",
        ],
        "Play_vo_Gragas_GragasCritAttack_cast3D": [
            "characters/Gragas/sounds/1004528308.ogg",
            "characters/Gragas/sounds/1072533085.ogg",
            "characters/Gragas/sounds/14295857.ogg",
            "characters/Gragas/sounds/642862266.ogg",
        ],
        "Play_vo_Gragas_GragasE_cast3D": [
            "characters/Gragas/sounds/1004528308.ogg",
            "characters/Gragas/sounds/1072533085.ogg",
            "characters/Gragas/sounds/14295857.ogg",
            "characters/Gragas/sounds/164247941.ogg",
            "characters/Gragas/sounds/642862266.ogg",
            "characters/Gragas/sounds/648164132.ogg",
        ],
        "Play_vo_Gragas_GragasQ_cast3D": [
            "characters/Gragas/sounds/1004528308.ogg",
            "characters/Gragas/sounds/1072533085.ogg",
            "characters/Gragas/sounds/14295857.ogg",
            "characters/Gragas/sounds/642862266.ogg",
        ],
        "Play_vo_Gragas_GragasR_cast3D": [
            "characters/Gragas/sounds/1004528308.ogg",
            "characters/Gragas/sounds/1072533085.ogg",
            "characters/Gragas/sounds/14295857.ogg",
            "characters/Gragas/sounds/164247941.ogg",
            "characters/Gragas/sounds/642862266.ogg",
            "characters/Gragas/sounds/648164132.ogg",
        ],
        "Play_vo_Gragas_GragasW_OnCast": [
            "characters/Gragas/sounds/144032200.ogg",
            "characters/Gragas/sounds/205528052.ogg",
            "characters/Gragas/sounds/547116773.ogg",
            "characters/Gragas/sounds/634172833.ogg",
        ],
        "Play_vo_Gragas_Joke3DGeneral": [
            "characters/Gragas/sounds/1008796840.ogg",
        ],
        "Play_vo_Gragas_Laugh3DGeneral": [
            "characters/Gragas/sounds/510108194.ogg",
            "characters/Gragas/sounds/610405269.ogg",
            "characters/Gragas/sounds/742595809.ogg",
            "characters/Gragas/sounds/93732492.ogg",
        ],
        "Play_vo_Gragas_Move2DStandard": [
            "characters/Gragas/sounds/1010605181.ogg",
            "characters/Gragas/sounds/196138689.ogg",
            "characters/Gragas/sounds/28267910.ogg",
            "characters/Gragas/sounds/553216865.ogg",
            "characters/Gragas/sounds/751801384.ogg",
            "characters/Gragas/sounds/885793957.ogg",
            "characters/Gragas/sounds/937059590.ogg",
        ],
        "Play_vo_Gragas_Taunt3DGeneral": [
            "characters/Gragas/sounds/942305534.ogg",
        ],
    },
)