(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1200.0),
                startBoneName: Some("joint2"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("C_Buffbone_Glb_Chest_Loc"),
        missileSpeed: Some(1200.0),
        missileEffectKey: Some(611123231),
        castType: Some(1),
        castRange: None,
        castRadius: None,
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(4.95),
        animationName: Some("attack1"),
        cooldownTime: None,
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(5375),
        alternateName: Some("OrderTurretNormalBasicAttack"),
        coefficient: None,
        hitEffectKey: Some(2459053879),
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)