(
    events: {
        "ChronoRevive_buffactivate": [
            "characters/Zilean/sounds/193123188.ogg",
        ],
        "ChronoShift_OnBuffActivate": [
            "characters/Zilean/sounds/478010557.ogg",
        ],
        "ChronoShift_OnCast": [
            "characters/Zilean/sounds/1051645811.ogg",
        ],
        "Play_vo_Zilean_Attack2DGeneral": [
            "characters/Zilean/sounds/150629545.ogg",
            "characters/Zilean/sounds/206693327.ogg",
            "characters/Zilean/sounds/355760149.ogg",
            "characters/Zilean/sounds/390702829.ogg",
            "characters/Zilean/sounds/415204287.ogg",
            "characters/Zilean/sounds/478626207.ogg",
            "characters/Zilean/sounds/738599093.ogg",
        ],
        "Play_vo_Zilean_Death3D": [
            "characters/Zilean/sounds/233231476.ogg",
            "characters/Zilean/sounds/765582496.ogg",
            "characters/Zilean/sounds/836867543.ogg",
        ],
        "Play_vo_Zilean_Joke3DGeneral": [
            "characters/Zilean/sounds/712784221.ogg",
        ],
        "Play_vo_Zilean_Laugh3DGeneral": [
            "characters/Zilean/sounds/269987911.ogg",
            "characters/Zilean/sounds/50275232.ogg",
            "characters/Zilean/sounds/734164380.ogg",
        ],
        "Play_vo_Zilean_Move2DStandard": [
            "characters/Zilean/sounds/108689074.ogg",
            "characters/Zilean/sounds/140557857.ogg",
            "characters/Zilean/sounds/153567220.ogg",
            "characters/Zilean/sounds/304468242.ogg",
            "characters/Zilean/sounds/40247187.ogg",
            "characters/Zilean/sounds/417654113.ogg",
            "characters/Zilean/sounds/477151653.ogg",
        ],
        "Play_vo_Zilean_Taunt3DGeneral": [
            "characters/Zilean/sounds/122811571.ogg",
        ],
        "Play_vo_Zilean_ZileanPRecourseVFX_hit3D": [
            "characters/Zilean/sounds/269987911.ogg",
            "characters/Zilean/sounds/50275232.ogg",
            "characters/Zilean/sounds/734164380.ogg",
        ],
        "Rewind_OnCast": [
            "characters/Zilean/sounds/457800218.ogg",
        ],
        "TimeWarpSlow_OnBuffActivate": [
            "characters/Zilean/sounds/23219628.ogg",
            "characters/Zilean/sounds/807439433.ogg",
        ],
        "TimeWarpSlow_OnCast": [
            "characters/Zilean/sounds/379862051.ogg",
            "characters/Zilean/sounds/649984433.ogg",
        ],
        "TimeWarp_OnBuffActivate": [
            "characters/Zilean/sounds/36700063.ogg",
            "characters/Zilean/sounds/998664628.ogg",
        ],
        "TimeWarp_OnCast": [
            "characters/Zilean/sounds/496848496.ogg",
        ],
        "ZileanBasicAttack2_OnCast": [
            "characters/Zilean/sounds/382083714.ogg",
            "characters/Zilean/sounds/538912819.ogg",
            "characters/Zilean/sounds/671048645.ogg",
        ],
        "ZileanBasicAttack2_OnHit": [
            "characters/Zilean/sounds/238930494.ogg",
            "characters/Zilean/sounds/282137548.ogg",
            "characters/Zilean/sounds/55259363.ogg",
        ],
        "ZileanBasicAttack2_OnMissileLaunch": [
            "characters/Zilean/sounds/252548117.ogg",
            "characters/Zilean/sounds/39985779.ogg",
            "characters/Zilean/sounds/522492695.ogg",
        ],
        "ZileanBasicAttack_OnCast": [
            "characters/Zilean/sounds/382083714.ogg",
            "characters/Zilean/sounds/538912819.ogg",
            "characters/Zilean/sounds/671048645.ogg",
        ],
        "ZileanBasicAttack_OnHit": [
            "characters/Zilean/sounds/238930494.ogg",
            "characters/Zilean/sounds/282137548.ogg",
            "characters/Zilean/sounds/55259363.ogg",
        ],
        "ZileanBasicAttack_OnMissileLaunch": [
            "characters/Zilean/sounds/252548117.ogg",
            "characters/Zilean/sounds/39985779.ogg",
            "characters/Zilean/sounds/522492695.ogg",
        ],
        "ZileanCritAttack_OnCast": [
            "characters/Zilean/sounds/382083714.ogg",
            "characters/Zilean/sounds/538912819.ogg",
            "characters/Zilean/sounds/671048645.ogg",
        ],
        "ZileanCritAttack_OnHit": [
            "characters/Zilean/sounds/238930494.ogg",
            "characters/Zilean/sounds/282137548.ogg",
            "characters/Zilean/sounds/55259363.ogg",
        ],
        "ZileanCritAttack_OnMissileLaunch": [
            "characters/Zilean/sounds/252548117.ogg",
            "characters/Zilean/sounds/39985779.ogg",
            "characters/Zilean/sounds/522492695.ogg",
        ],
        "ZileanP_recourse_buffactivate": [
            "characters/Zilean/sounds/332260138.ogg",
        ],
        "ZileanP_recourse_buffdeactivate": [
            "characters/Zilean/sounds/75412588.ogg",
        ],
        "ZileanQAttachAudio_OnHit": [
            "characters/Zilean/sounds/1014070384.ogg",
            "characters/Zilean/sounds/53412599.ogg",
            "characters/Zilean/sounds/671826423.ogg",
        ],
        "ZileanQDetonateAudio_buffcast": [
            "characters/Zilean/sounds/319835156.ogg",
            "characters/Zilean/sounds/403594497.ogg",
            "characters/Zilean/sounds/475200501.ogg",
            "characters/Zilean/sounds/96142448.ogg",
        ],
        "ZileanQEnemyHitAudio_OnBuffCast": [
            "characters/Zilean/sounds/1061474908.ogg",
            "characters/Zilean/sounds/244859015.ogg",
            "characters/Zilean/sounds/663979564.ogg",
            "characters/Zilean/sounds/670442260.ogg",
        ],
        "ZileanQGround_buffactivate": [
            "characters/Zilean/sounds/153318046.ogg",
            "characters/Zilean/sounds/614681471.ogg",
            "characters/Zilean/sounds/645192796.ogg",
        ],
        "ZileanQLandingAudio_hit": [
            "characters/Zilean/sounds/974447471.ogg",
        ],
        "ZileanQStunAudio_buffcast": [
            "characters/Zilean/sounds/111174652.ogg",
            "characters/Zilean/sounds/593642973.ogg",
            "characters/Zilean/sounds/818008160.ogg",
        ],
        "ZileanQTickingBackupAudio_buffactivate": [
            "characters/Zilean/sounds/153318046.ogg",
            "characters/Zilean/sounds/614681471.ogg",
            "characters/Zilean/sounds/645192796.ogg",
        ],
        "ZileanQ_OnCast": [
            "characters/Zilean/sounds/192985377.ogg",
            "characters/Zilean/sounds/30330379.ogg",
            "characters/Zilean/sounds/632156406.ogg",
            "characters/Zilean/sounds/719592589.ogg",
        ],
    },
)