target
*.log

node_modules

assets/*
!assets/games
!assets/characters
!assets/maps
!assets/ui

*.glb

.vs

*.db
*.db-shm
*.db-wal

.docs-cache
hashes

./league.rs
artifacts

packages/lol/lol_bg.wasm

*.local.*

runs
agent.pth
__pycache__

.zcode

.playwright-cli
