(
    events: {
        "Dance3D_buffactivate": [
            "characters/Leona/sounds/43228005.ogg",
        ],
        "Death3D_cast": [
            "characters/Leona/sounds/455387691.ogg",
            "characters/Leona/sounds/558948421.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Leona/sounds/442267768.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Leona/sounds/740859350.ogg",
        ],
        "LeonaBasicAttack2_OnCast": [
            "characters/Leona/sounds/180033450.ogg",
            "characters/Leona/sounds/271147565.ogg",
            "characters/Leona/sounds/39329717.ogg",
            "characters/Leona/sounds/65890581.ogg",
        ],
        "LeonaBasicAttack2_OnHit": [
            "characters/Leona/sounds/1024411739.ogg",
            "characters/Leona/sounds/137431363.ogg",
            "characters/Leona/sounds/162063785.ogg",
            "characters/Leona/sounds/200167564.ogg",
            "characters/Leona/sounds/204822424.ogg",
            "characters/Leona/sounds/240070409.ogg",
            "characters/Leona/sounds/342256792.ogg",
            "characters/Leona/sounds/39153233.ogg",
            "characters/Leona/sounds/43359139.ogg",
            "characters/Leona/sounds/518452311.ogg",
            "characters/Leona/sounds/625170060.ogg",
            "characters/Leona/sounds/824387450.ogg",
            "characters/Leona/sounds/929042971.ogg",
            "characters/Leona/sounds/947254688.ogg",
            "characters/Leona/sounds/99200034.ogg",
            "characters/Leona/sounds/99335342.ogg",
        ],
        "LeonaBasicAttack3_OnCast": [
            "characters/Leona/sounds/180033450.ogg",
            "characters/Leona/sounds/271147565.ogg",
            "characters/Leona/sounds/39329717.ogg",
            "characters/Leona/sounds/65890581.ogg",
        ],
        "LeonaBasicAttack3_OnHit": [
            "characters/Leona/sounds/533889328.ogg",
            "characters/Leona/sounds/689126522.ogg",
            "characters/Leona/sounds/716471207.ogg",
            "characters/Leona/sounds/783251007.ogg",
        ],
        "LeonaBasicAttack4_OnCast": [
            "characters/Leona/sounds/180033450.ogg",
            "characters/Leona/sounds/271147565.ogg",
            "characters/Leona/sounds/39329717.ogg",
            "characters/Leona/sounds/65890581.ogg",
        ],
        "LeonaBasicAttack4_OnHit": [
            "characters/Leona/sounds/1024411739.ogg",
            "characters/Leona/sounds/137431363.ogg",
            "characters/Leona/sounds/162063785.ogg",
            "characters/Leona/sounds/200167564.ogg",
            "characters/Leona/sounds/204822424.ogg",
            "characters/Leona/sounds/240070409.ogg",
            "characters/Leona/sounds/342256792.ogg",
            "characters/Leona/sounds/39153233.ogg",
            "characters/Leona/sounds/43359139.ogg",
            "characters/Leona/sounds/518452311.ogg",
            "characters/Leona/sounds/625170060.ogg",
            "characters/Leona/sounds/824387450.ogg",
            "characters/Leona/sounds/929042971.ogg",
            "characters/Leona/sounds/947254688.ogg",
            "characters/Leona/sounds/99200034.ogg",
            "characters/Leona/sounds/99335342.ogg",
        ],
        "LeonaBasicAttack_OnCast": [
            "characters/Leona/sounds/180033450.ogg",
            "characters/Leona/sounds/271147565.ogg",
            "characters/Leona/sounds/39329717.ogg",
            "characters/Leona/sounds/65890581.ogg",
        ],
        "LeonaBasicAttack_OnHit": [
            "characters/Leona/sounds/1024411739.ogg",
            "characters/Leona/sounds/137431363.ogg",
            "characters/Leona/sounds/162063785.ogg",
            "characters/Leona/sounds/200167564.ogg",
            "characters/Leona/sounds/204822424.ogg",
            "characters/Leona/sounds/240070409.ogg",
            "characters/Leona/sounds/342256792.ogg",
            "characters/Leona/sounds/39153233.ogg",
            "characters/Leona/sounds/43359139.ogg",
            "characters/Leona/sounds/518452311.ogg",
            "characters/Leona/sounds/625170060.ogg",
            "characters/Leona/sounds/824387450.ogg",
            "characters/Leona/sounds/929042971.ogg",
            "characters/Leona/sounds/947254688.ogg",
            "characters/Leona/sounds/99200034.ogg",
            "characters/Leona/sounds/99335342.ogg",
        ],
        "LeonaCritAttack_OnCast": [
            "characters/Leona/sounds/180033450.ogg",
            "characters/Leona/sounds/271147565.ogg",
            "characters/Leona/sounds/39329717.ogg",
            "characters/Leona/sounds/65890581.ogg",
        ],
        "LeonaCritAttack_OnHit": [
            "characters/Leona/sounds/124210504.ogg",
            "characters/Leona/sounds/149881516.ogg",
            "characters/Leona/sounds/256570934.ogg",
            "characters/Leona/sounds/99858069.ogg",
        ],
        "LeonaShieldOfDaybreakAttack_OnCast": [
            "characters/Leona/sounds/180033450.ogg",
            "characters/Leona/sounds/271147565.ogg",
            "characters/Leona/sounds/65890581.ogg",
            "characters/Leona/sounds/72849205.ogg",
        ],
        "LeonaShieldOfDaybreakAttack_hit": [
            "characters/Leona/sounds/124210504.ogg",
            "characters/Leona/sounds/149881516.ogg",
            "characters/Leona/sounds/256570934.ogg",
            "characters/Leona/sounds/99858069.ogg",
        ],
        "LeonaShieldOfDaybreak_OnBuffActivate": [
            "characters/Leona/sounds/526766817.ogg",
        ],
        "LeonaShieldOfDaybreak_OnCast": [
            "characters/Leona/sounds/457842275.ogg",
            "characters/Leona/sounds/473450460.ogg",
            "characters/Leona/sounds/527960962.ogg",
            "characters/Leona/sounds/57906182.ogg",
        ],
        "LeonaSolarBarrier2_OnBuffActivate": [
            "characters/Leona/sounds/668248670.ogg",
            "characters/Leona/sounds/723206280.ogg",
            "characters/Leona/sounds/881480873.ogg",
        ],
        "LeonaSolarBarrier_OnBuffActivate": [
            "characters/Leona/sounds/113703199.ogg",
            "characters/Leona/sounds/241440204.ogg",
            "characters/Leona/sounds/913646708.ogg",
        ],
        "LeonaSolarBarrier_OnCast": [
            "characters/Leona/sounds/148625443.ogg",
            "characters/Leona/sounds/532605320.ogg",
            "characters/Leona/sounds/600613160.ogg",
            "characters/Leona/sounds/853369596.ogg",
        ],
        "LeonaSolarBarrier_hit": [
            "characters/Leona/sounds/364835133.ogg",
            "characters/Leona/sounds/424428543.ogg",
            "characters/Leona/sounds/429511901.ogg",
            "characters/Leona/sounds/884462611.ogg",
        ],
        "LeonaSolarBarrier_hitwhiff": [
            "characters/Leona/sounds/243272437.ogg",
            "characters/Leona/sounds/354065775.ogg",
            "characters/Leona/sounds/557143967.ogg",
            "characters/Leona/sounds/57582172.ogg",
        ],
        "LeonaSolarFlare_OnCast": [
            "characters/Leona/sounds/268813398.ogg",
            "characters/Leona/sounds/301505004.ogg",
            "characters/Leona/sounds/963566819.ogg",
            "characters/Leona/sounds/9767343.ogg",
        ],
        "LeonaSolarFlare_buffactivate": [
            "characters/Leona/sounds/909451855.ogg",
        ],
        "LeonaSolarFlare_hit": [
            "characters/Leona/sounds/1021210821.ogg",
            "characters/Leona/sounds/1039384851.ogg",
            "characters/Leona/sounds/88061807.ogg",
            "characters/Leona/sounds/895356404.ogg",
        ],
        "LeonaSunlight_hit": [
            "characters/Leona/sounds/134510222.ogg",
            "characters/Leona/sounds/495930967.ogg",
            "characters/Leona/sounds/836514570.ogg",
        ],
        "LeonaZenithBladeDash_hit": [
            "characters/Leona/sounds/387687679.ogg",
            "characters/Leona/sounds/403267191.ogg",
            "characters/Leona/sounds/547365512.ogg",
            "characters/Leona/sounds/803968055.ogg",
        ],
        "LeonaZenithBladeDash_missilelaunch": [
            "characters/Leona/sounds/742064760.ogg",
        ],
        "LeonaZenithBladeMissile_OnMissileLaunch": [
            "characters/Leona/sounds/348015755.ogg",
            "characters/Leona/sounds/506862012.ogg",
            "characters/Leona/sounds/519411792.ogg",
            "characters/Leona/sounds/647898906.ogg",
        ],
        "LeonaZenithBladeMissile_hit": [
            "characters/Leona/sounds/350271661.ogg",
            "characters/Leona/sounds/622933604.ogg",
            "characters/Leona/sounds/734956510.ogg",
            "characters/Leona/sounds/987917187.ogg",
        ],
        "LeonaZenithBladeMissile_hitchampion": [
            "characters/Leona/sounds/363819565.ogg",
            "characters/Leona/sounds/495099240.ogg",
            "characters/Leona/sounds/814936109.ogg",
            "characters/Leona/sounds/879571472.ogg",
        ],
        "LeonaZenithBlade_OnCast": [
            "characters/Leona/sounds/221094957.ogg",
            "characters/Leona/sounds/587121265.ogg",
            "characters/Leona/sounds/606727893.ogg",
            "characters/Leona/sounds/858259361.ogg",
        ],
        "Play_vo_Leona_Attack2DGeneral": [
            "characters/Leona/sounds/1033124684.ogg",
            "characters/Leona/sounds/236539993.ogg",
            "characters/Leona/sounds/328496512.ogg",
            "characters/Leona/sounds/358180810.ogg",
            "characters/Leona/sounds/617955288.ogg",
            "characters/Leona/sounds/875098096.ogg",
        ],
        "Play_vo_Leona_Death3D": [
            "characters/Leona/sounds/338065253.ogg",
            "characters/Leona/sounds/409763855.ogg",
            "characters/Leona/sounds/636700433.ogg",
            "characters/Leona/sounds/826647155.ogg",
        ],
        "Play_vo_Leona_Joke3DGeneral": [
            "characters/Leona/sounds/815601492.ogg",
            "characters/Leona/sounds/816510654.ogg",
        ],
        "Play_vo_Leona_Laugh3DGeneral": [
            "characters/Leona/sounds/22889979.ogg",
            "characters/Leona/sounds/545495445.ogg",
            "characters/Leona/sounds/770115549.ogg",
            "characters/Leona/sounds/784928416.ogg",
        ],
        "Play_vo_Leona_LeonaBasicAttack2_cast3D": [
            "characters/Leona/sounds/628022.ogg",
            "characters/Leona/sounds/680711732.ogg",
            "characters/Leona/sounds/878081382.ogg",
            "characters/Leona/sounds/964495256.ogg",
        ],
        "Play_vo_Leona_LeonaBasicAttack3_cast3D": [
            "characters/Leona/sounds/628022.ogg",
            "characters/Leona/sounds/680711732.ogg",
            "characters/Leona/sounds/878081382.ogg",
            "characters/Leona/sounds/964495256.ogg",
        ],
        "Play_vo_Leona_LeonaBasicAttack_cast3D": [
            "characters/Leona/sounds/628022.ogg",
            "characters/Leona/sounds/680711732.ogg",
            "characters/Leona/sounds/878081382.ogg",
            "characters/Leona/sounds/964495256.ogg",
        ],
        "Play_vo_Leona_LeonaCritAttack_cast3D": [
            "characters/Leona/sounds/628022.ogg",
            "characters/Leona/sounds/680711732.ogg",
            "characters/Leona/sounds/878081382.ogg",
            "characters/Leona/sounds/964495256.ogg",
        ],
        "Play_vo_Leona_LeonaShieldOfDaybreakAttack_cast3D": [
            "characters/Leona/sounds/628022.ogg",
            "characters/Leona/sounds/680711732.ogg",
            "characters/Leona/sounds/878081382.ogg",
            "characters/Leona/sounds/964495256.ogg",
        ],
        "Play_vo_Leona_LeonaSolarFlare_cast3D": [
            "characters/Leona/sounds/1065798545.ogg",
            "characters/Leona/sounds/406669140.ogg",
            "characters/Leona/sounds/475931240.ogg",
            "characters/Leona/sounds/748926499.ogg",
        ],
        "Play_vo_Leona_LeonaZenithBlade_cast3D": [
            "characters/Leona/sounds/755678900.ogg",
            "characters/Leona/sounds/762234807.ogg",
            "characters/Leona/sounds/838691529.ogg",
            "characters/Leona/sounds/925025621.ogg",
        ],
        "Play_vo_Leona_Move2DStandard": [
            "characters/Leona/sounds/129049464.ogg",
            "characters/Leona/sounds/265788126.ogg",
            "characters/Leona/sounds/523965612.ogg",
            "characters/Leona/sounds/529804422.ogg",
            "characters/Leona/sounds/720388790.ogg",
            "characters/Leona/sounds/798946209.ogg",
            "characters/Leona/sounds/962813319.ogg",
            "characters/Leona/sounds/967694812.ogg",
        ],
        "Play_vo_Leona_Taunt3DGeneral": [
            "characters/Leona/sounds/808891165.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Leona/sounds/42456458.ogg",
        ],
    },
)