(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    200.0,
                    400.0,
                    600.0,
                    800.0,
                    0.0,
                    0.0,
                    200.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            80.0,
            85.0,
            90.0,
            95.0,
            100.0,
            105.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: None,
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: Some(3),
        castRange: Some([
            950.0,
            950.0,
            950.0,
            950.0,
            950.0,
            950.0,
            950.0,
        ]),
        castRadius: Some([
            650.0,
            650.0,
            650.0,
            650.0,
            650.0,
            650.0,
            650.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            135.0,
            120.0,
            105.0,
            90.0,
            18.0,
            18.0,
            18.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(1029),
        alternateName: Some("ZiggsR"),
        coefficient: Some(0.75),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)