(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                    230.0,
                ]),
            ),
            (
                values: Some([
                    13.0,
                    12.0,
                    11.0,
                    10.0,
                    9.0,
                    8.0,
                    7.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
            ),
        )),
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(1089453397),
        castType: Some(1),
    )),
)