(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                values: Some([
                    30.0,
                    34.0,
                    38.0,
                    42.0,
                    46.0,
                    50.0,
                    54.0,
                ]),
            ),
            (
                values: Some([
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                ]),
            ),
            (
                values: Some([
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                ]),
            ),
            (
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                values: Some([
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                ]),
            ),
            (
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            75.0,
            75.0,
            75.0,
            75.0,
            75.0,
            75.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: None,
        castType: None,
    )),
)