(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "bonus_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_scaling",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "TooltipQADRatio",
                values: Some([
                    0.05,
                    0.15,
                    0.25,
                    0.35,
                    0.45,
                    0.55,
                    0.65,
                ]),
            ),
            (
                name: "BonusRange",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
            (
                name: "ADScaling",
                values: Some([
                    1.05,
                    1.15,
                    1.25,
                    1.35,
                    1.45,
                    1.55,
                    1.65,
                ]),
            ),
            (
                name: "BonusDamage",
                values: Some([
                    -10.0,
                    10.0,
                    30.0,
                    50.0,
                    70.0,
                    90.0,
                    110.0,
                ]),
            ),
            (
                name: "BonusAD",
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                name: "SappedAD",
                values: Some([
                    -7.5,
                    -10.0,
                    -12.5,
                    -15.0,
                    -17.5,
                    -20.0,
                    -22.5,
                ]),
            ),
            (
                name: "SapDebuffDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "PrepDuration",
                values: Some([
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                ]),
            ),
        ]),
        mana: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)