(
    events: {
        "EliseBasicAttack2_OnCast": [
            "characters/Elise/sounds/174924067.ogg",
            "characters/Elise/sounds/311375936.ogg",
            "characters/Elise/sounds/371949821.ogg",
            "characters/Elise/sounds/515771219.ogg",
        ],
        "EliseBasicAttack2_OnHit": [
            "characters/Elise/sounds/114982497.ogg",
            "characters/Elise/sounds/236451428.ogg",
            "characters/Elise/sounds/300925865.ogg",
            "characters/Elise/sounds/324029085.ogg",
            "characters/Elise/sounds/44689075.ogg",
        ],
        "EliseBasicAttack2_OnMissileLaunch": [
            "characters/Elise/sounds/159185822.ogg",
            "characters/Elise/sounds/275003804.ogg",
            "characters/Elise/sounds/450216343.ogg",
            "characters/Elise/sounds/532598394.ogg",
        ],
        "EliseBasicAttack3_OnCast": [
            "characters/Elise/sounds/174924067.ogg",
            "characters/Elise/sounds/311375936.ogg",
            "characters/Elise/sounds/371949821.ogg",
            "characters/Elise/sounds/515771219.ogg",
        ],
        "EliseBasicAttack3_OnHit": [
            "characters/Elise/sounds/114982497.ogg",
            "characters/Elise/sounds/236451428.ogg",
            "characters/Elise/sounds/300925865.ogg",
            "characters/Elise/sounds/324029085.ogg",
            "characters/Elise/sounds/44689075.ogg",
        ],
        "EliseBasicAttack3_OnMissileLaunch": [
            "characters/Elise/sounds/159185822.ogg",
            "characters/Elise/sounds/275003804.ogg",
            "characters/Elise/sounds/450216343.ogg",
            "characters/Elise/sounds/532598394.ogg",
        ],
        "EliseBasicAttack_OnCast": [
            "characters/Elise/sounds/174924067.ogg",
            "characters/Elise/sounds/311375936.ogg",
            "characters/Elise/sounds/371949821.ogg",
            "characters/Elise/sounds/515771219.ogg",
        ],
        "EliseBasicAttack_OnHit": [
            "characters/Elise/sounds/114982497.ogg",
            "characters/Elise/sounds/236451428.ogg",
            "characters/Elise/sounds/300925865.ogg",
            "characters/Elise/sounds/324029085.ogg",
            "characters/Elise/sounds/44689075.ogg",
        ],
        "EliseBasicAttack_OnMissileLaunch": [
            "characters/Elise/sounds/159185822.ogg",
            "characters/Elise/sounds/275003804.ogg",
            "characters/Elise/sounds/450216343.ogg",
            "characters/Elise/sounds/532598394.ogg",
        ],
        "EliseCritAttack_OnCast": [
            "characters/Elise/sounds/174924067.ogg",
            "characters/Elise/sounds/311375936.ogg",
            "characters/Elise/sounds/371949821.ogg",
            "characters/Elise/sounds/515771219.ogg",
        ],
        "EliseCritAttack_OnHit": [
            "characters/Elise/sounds/114982497.ogg",
            "characters/Elise/sounds/236451428.ogg",
            "characters/Elise/sounds/300925865.ogg",
            "characters/Elise/sounds/324029085.ogg",
            "characters/Elise/sounds/44689075.ogg",
        ],
        "EliseCritAttack_OnMissileLaunch": [
            "characters/Elise/sounds/159185822.ogg",
            "characters/Elise/sounds/275003804.ogg",
            "characters/Elise/sounds/450216343.ogg",
            "characters/Elise/sounds/532598394.ogg",
        ],
        "EliseHumanE_OnCast": [
            "characters/Elise/sounds/260881523.ogg",
            "characters/Elise/sounds/316847557.ogg",
            "characters/Elise/sounds/396780579.ogg",
        ],
        "EliseHumanE_OnMissileLaunch": [
            "characters/Elise/sounds/420943897.ogg",
            "characters/Elise/sounds/523862363.ogg",
            "characters/Elise/sounds/791409313.ogg",
        ],
        "EliseHumanE_hit": [
            "characters/Elise/sounds/1009128408.ogg",
            "characters/Elise/sounds/566309000.ogg",
            "characters/Elise/sounds/645774318.ogg",
        ],
        "EliseHumanQ_OnCast": [
            "characters/Elise/sounds/629141348.ogg",
            "characters/Elise/sounds/795706005.ogg",
            "characters/Elise/sounds/94490317.ogg",
        ],
        "EliseHumanQ_OnHit": [
            "characters/Elise/sounds/219375792.ogg",
            "characters/Elise/sounds/286274352.ogg",
            "characters/Elise/sounds/712228082.ogg",
        ],
        "EliseHumanQ_OnMissileLaunch": [
            "characters/Elise/sounds/10307170.ogg",
            "characters/Elise/sounds/153733549.ogg",
            "characters/Elise/sounds/567595032.ogg",
        ],
        "EliseHumanWBoom_OnBuffActivate": [
            "characters/Elise/sounds/773121002.ogg",
            "characters/Elise/sounds/842017957.ogg",
            "characters/Elise/sounds/989269290.ogg",
        ],
        "EliseHumanW_OnCast": [
            "characters/Elise/sounds/1036823448.ogg",
            "characters/Elise/sounds/6857809.ogg",
            "characters/Elise/sounds/715782150.ogg",
        ],
        "EliseRSpider_OnCast": [
            "characters/Elise/sounds/132265407.ogg",
        ],
        "EliseR_OnCast": [
            "characters/Elise/sounds/1055077248.ogg",
        ],
        "EliseSpiderBasicAttack2_OnCast": [
            "characters/Elise/sounds/192328488.ogg",
            "characters/Elise/sounds/324998196.ogg",
            "characters/Elise/sounds/44841505.ogg",
            "characters/Elise/sounds/72237943.ogg",
        ],
        "EliseSpiderBasicAttack2_OnHit": [
            "characters/Elise/sounds/10565997.ogg",
            "characters/Elise/sounds/110570079.ogg",
            "characters/Elise/sounds/128400640.ogg",
            "characters/Elise/sounds/146582125.ogg",
            "characters/Elise/sounds/190078978.ogg",
            "characters/Elise/sounds/200764182.ogg",
            "characters/Elise/sounds/264686937.ogg",
            "characters/Elise/sounds/294891441.ogg",
            "characters/Elise/sounds/46786883.ogg",
            "characters/Elise/sounds/55367012.ogg",
            "characters/Elise/sounds/56464412.ogg",
            "characters/Elise/sounds/57215172.ogg",
            "characters/Elise/sounds/575028037.ogg",
            "characters/Elise/sounds/642772478.ogg",
            "characters/Elise/sounds/77438577.ogg",
            "characters/Elise/sounds/84256314.ogg",
        ],
        "EliseSpiderBasicAttack_OnCast": [
            "characters/Elise/sounds/192328488.ogg",
            "characters/Elise/sounds/324998196.ogg",
            "characters/Elise/sounds/44841505.ogg",
            "characters/Elise/sounds/72237943.ogg",
        ],
        "EliseSpiderBasicAttack_OnHit": [
            "characters/Elise/sounds/10565997.ogg",
            "characters/Elise/sounds/110570079.ogg",
            "characters/Elise/sounds/128400640.ogg",
            "characters/Elise/sounds/146582125.ogg",
            "characters/Elise/sounds/190078978.ogg",
            "characters/Elise/sounds/200764182.ogg",
            "characters/Elise/sounds/264686937.ogg",
            "characters/Elise/sounds/294891441.ogg",
            "characters/Elise/sounds/46786883.ogg",
            "characters/Elise/sounds/55367012.ogg",
            "characters/Elise/sounds/56464412.ogg",
            "characters/Elise/sounds/57215172.ogg",
            "characters/Elise/sounds/575028037.ogg",
            "characters/Elise/sounds/642772478.ogg",
            "characters/Elise/sounds/77438577.ogg",
            "characters/Elise/sounds/84256314.ogg",
        ],
        "EliseSpiderCritAttack_OnCast": [
            "characters/Elise/sounds/192328488.ogg",
            "characters/Elise/sounds/324998196.ogg",
            "characters/Elise/sounds/44841505.ogg",
            "characters/Elise/sounds/72237943.ogg",
        ],
        "EliseSpiderCritAttack_OnHit": [
            "characters/Elise/sounds/10565997.ogg",
            "characters/Elise/sounds/110570079.ogg",
            "characters/Elise/sounds/128400640.ogg",
            "characters/Elise/sounds/146582125.ogg",
            "characters/Elise/sounds/190078978.ogg",
            "characters/Elise/sounds/200764182.ogg",
            "characters/Elise/sounds/264686937.ogg",
            "characters/Elise/sounds/294891441.ogg",
            "characters/Elise/sounds/46786883.ogg",
            "characters/Elise/sounds/55367012.ogg",
            "characters/Elise/sounds/56464412.ogg",
            "characters/Elise/sounds/57215172.ogg",
            "characters/Elise/sounds/575028037.ogg",
            "characters/Elise/sounds/642772478.ogg",
            "characters/Elise/sounds/77438577.ogg",
            "characters/Elise/sounds/84256314.ogg",
        ],
        "EliseSpiderE_OnCast": [
            "characters/Elise/sounds/573717961.ogg",
            "characters/Elise/sounds/892701175.ogg",
        ],
        "EliseSpiderE_buffactivate": [
            "characters/Elise/sounds/532680758.ogg",
            "characters/Elise/sounds/738078613.ogg",
        ],
        "EliseSpiderE_descent": [
            "characters/Elise/sounds/641891108.ogg",
        ],
        "EliseSpiderE_land": [
            "characters/Elise/sounds/357735890.ogg",
            "characters/Elise/sounds/430124698.ogg",
            "characters/Elise/sounds/439717968.ogg",
        ],
        "EliseSpiderQCast_OnCast": [
            "characters/Elise/sounds/19463831.ogg",
            "characters/Elise/sounds/328238162.ogg",
            "characters/Elise/sounds/829597312.ogg",
        ],
        "EliseSpiderQCast_OnHit": [
            "characters/Elise/sounds/287917389.ogg",
            "characters/Elise/sounds/894828236.ogg",
            "characters/Elise/sounds/992035986.ogg",
        ],
        "EliseSpiderQCast_buffactivate": [
            "characters/Elise/sounds/1043254375.ogg",
        ],
        "EliseSpiderW_OnBuffActivate": [
            "characters/Elise/sounds/534097907.ogg",
        ],
        "EliseSpiderW_OnBuffDeactivate": [
            "characters/Elise/sounds/1024735077.ogg",
            "characters/Elise/sounds/313301414.ogg",
            "characters/Elise/sounds/741852944.ogg",
        ],
        "EliseSpiderW_OnCast": [
            "characters/Elise/sounds/1016662973.ogg",
            "characters/Elise/sounds/153154927.ogg",
            "characters/Elise/sounds/558484513.ogg",
        ],
        "EliseSpiderlingBasicAttack_OnCast": [
            "characters/Elise/sounds/1000593422.ogg",
            "characters/Elise/sounds/1067955217.ogg",
            "characters/Elise/sounds/265889560.ogg",
            "characters/Elise/sounds/408454938.ogg",
            "characters/Elise/sounds/538365015.ogg",
        ],
        "EliseSpiderlingBasicAttack_hit": [
            "characters/Elise/sounds/188712810.ogg",
            "characters/Elise/sounds/294265919.ogg",
            "characters/Elise/sounds/302541187.ogg",
            "characters/Elise/sounds/303755331.ogg",
        ],
        "EliseSpiderling_Death3D_cast": [
            "characters/Elise/sounds/1003767559.ogg",
            "characters/Elise/sounds/125337303.ogg",
            "characters/Elise/sounds/307651862.ogg",
            "characters/Elise/sounds/410696495.ogg",
            "characters/Elise/sounds/788239435.ogg",
        ],
        "HumanDance3D_buffactivate": [
            "characters/Elise/sounds/993669401.ogg",
        ],
        "HumanDance3D_cast": [
            "characters/Elise/sounds/661867026.ogg",
        ],
        "HumanDeath3D_cast": [
            "characters/Elise/sounds/76531449.ogg",
        ],
        "HumanJoke3D_buffactivate": [
            "characters/Elise/sounds/535162630.ogg",
        ],
        "HumanLaugh3D_buffactivate": [
            "characters/Elise/sounds/875179203.ogg",
        ],
        "HumanRecall01_buffactivate": [
            "characters/Elise/sounds/36492871.ogg",
            "characters/Elise/sounds/840240103.ogg",
        ],
        "HumanRecall02_buffactivate": [
            "characters/Elise/sounds/412942910.ogg",
        ],
        "HumanTaunt3D_buffactivate": [
            "characters/Elise/sounds/842106731.ogg",
        ],
        "Play_vo_Elise_Attack2DGeneral": [
            "characters/Elise/sounds/222079294.ogg",
            "characters/Elise/sounds/261611260.ogg",
            "characters/Elise/sounds/356782884.ogg",
            "characters/Elise/sounds/396486985.ogg",
            "characters/Elise/sounds/439546852.ogg",
            "characters/Elise/sounds/528828901.ogg",
            "characters/Elise/sounds/672623724.ogg",
            "characters/Elise/sounds/703853482.ogg",
            "characters/Elise/sounds/790003692.ogg",
            "characters/Elise/sounds/805870242.ogg",
            "characters/Elise/sounds/866209240.ogg",
            "characters/Elise/sounds/937819356.ogg",
        ],
        "Play_vo_Elise_Death3D": [
            "characters/Elise/sounds/1056909153.ogg",
            "characters/Elise/sounds/170305630.ogg",
            "characters/Elise/sounds/276236875.ogg",
            "characters/Elise/sounds/365742747.ogg",
            "characters/Elise/sounds/374212413.ogg",
            "characters/Elise/sounds/556200406.ogg",
            "characters/Elise/sounds/910028867.ogg",
        ],
        "Play_vo_Elise_EliseBasicAttack2_cast3D": [
            "characters/Elise/sounds/273886793.ogg",
            "characters/Elise/sounds/515878111.ogg",
            "characters/Elise/sounds/921867826.ogg",
        ],
        "Play_vo_Elise_EliseBasicAttack3_cast3D": [
            "characters/Elise/sounds/273886793.ogg",
            "characters/Elise/sounds/515878111.ogg",
            "characters/Elise/sounds/921867826.ogg",
        ],
        "Play_vo_Elise_EliseBasicAttack_cast3D": [
            "characters/Elise/sounds/273886793.ogg",
            "characters/Elise/sounds/515878111.ogg",
            "characters/Elise/sounds/921867826.ogg",
        ],
        "Play_vo_Elise_EliseCritAttack_cast3D": [
            "characters/Elise/sounds/273886793.ogg",
            "characters/Elise/sounds/515878111.ogg",
            "characters/Elise/sounds/921867826.ogg",
        ],
        "Play_vo_Elise_EliseHumanE_cast3D": [
            "characters/Elise/sounds/370050627.ogg",
            "characters/Elise/sounds/371685611.ogg",
            "characters/Elise/sounds/478683494.ogg",
            "characters/Elise/sounds/673942233.ogg",
        ],
        "Play_vo_Elise_EliseHumanQ_cast3D": [
            "characters/Elise/sounds/617922162.ogg",
            "characters/Elise/sounds/703478728.ogg",
            "characters/Elise/sounds/762374722.ogg",
            "characters/Elise/sounds/956476623.ogg",
        ],
        "Play_vo_Elise_EliseHumanW_cast3D": [
            "characters/Elise/sounds/1047977358.ogg",
            "characters/Elise/sounds/437921633.ogg",
            "characters/Elise/sounds/461237410.ogg",
            "characters/Elise/sounds/790805225.ogg",
        ],
        "Play_vo_Elise_EliseRSpider_cast3D": [
            "characters/Elise/sounds/142733180.ogg",
            "characters/Elise/sounds/144889998.ogg",
            "characters/Elise/sounds/20404789.ogg",
            "characters/Elise/sounds/454839323.ogg",
        ],
        "Play_vo_Elise_Joke3DGeneral": [
            "characters/Elise/sounds/1019269922.ogg",
            "characters/Elise/sounds/468328460.ogg",
            "characters/Elise/sounds/486017099.ogg",
            "characters/Elise/sounds/731159711.ogg",
        ],
        "Play_vo_Elise_Laugh3DGeneral": [
            "characters/Elise/sounds/1014722316.ogg",
            "characters/Elise/sounds/252373832.ogg",
            "characters/Elise/sounds/254866230.ogg",
            "characters/Elise/sounds/555047177.ogg",
            "characters/Elise/sounds/595090137.ogg",
            "characters/Elise/sounds/792713680.ogg",
            "characters/Elise/sounds/840491218.ogg",
            "characters/Elise/sounds/92406210.ogg",
        ],
        "Play_vo_Elise_Move2DStandard": [
            "characters/Elise/sounds/1021966663.ogg",
            "characters/Elise/sounds/139941562.ogg",
            "characters/Elise/sounds/162160408.ogg",
            "characters/Elise/sounds/363170214.ogg",
            "characters/Elise/sounds/443085585.ogg",
            "characters/Elise/sounds/453072831.ogg",
            "characters/Elise/sounds/562161574.ogg",
            "characters/Elise/sounds/573840948.ogg",
            "characters/Elise/sounds/617765728.ogg",
            "characters/Elise/sounds/652368952.ogg",
            "characters/Elise/sounds/673571291.ogg",
            "characters/Elise/sounds/73190488.ogg",
            "characters/Elise/sounds/743149365.ogg",
            "characters/Elise/sounds/745384509.ogg",
            "characters/Elise/sounds/774146720.ogg",
            "characters/Elise/sounds/804435968.ogg",
            "characters/Elise/sounds/90084432.ogg",
            "characters/Elise/sounds/936690050.ogg",
        ],
        "Play_vo_Elise_Taunt3DGeneral": [
            "characters/Elise/sounds/1052238148.ogg",
            "characters/Elise/sounds/148870614.ogg",
            "characters/Elise/sounds/401333105.ogg",
            "characters/Elise/sounds/881918167.ogg",
        ],
        "SpiderDance3D_buffactivate": [
            "characters/Elise/sounds/648169750.ogg",
        ],
        "SpiderDeath3D_cast": [
            "characters/Elise/sounds/305495790.ogg",
        ],
        "SpiderJoke3D_buffactivate": [
            "characters/Elise/sounds/428470693.ogg",
        ],
        "SpiderLaugh3D_buffactivate": [
            "characters/Elise/sounds/944475915.ogg",
        ],
        "SpiderRecall_buffactivate": [
            "characters/Elise/sounds/112338882.ogg",
        ],
        "SpiderRecall_cast": [
            "characters/Elise/sounds/424882745.ogg",
        ],
        "SpiderTaunt3D_buffactivate": [
            "characters/Elise/sounds/603963123.ogg",
        ],
    },
)