(
    spellData: Some((
        calculations: Some({
            4122267009: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1269549457,
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            2199443515: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1269549457,
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "PercentAmp",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "APToPercentRatio",
                values: Some([
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                ]),
            ),
            (
                name: "MonsterDamageCap",
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                name: "PassiveDuration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)