(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    40.0,
                    90.0,
                    140.0,
                    190.0,
                    240.0,
                    290.0,
                    340.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: None,
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("spine"),
        missileSpeed: Some(900.0),
        missileEffectKey: Some(3959054971),
        castType: Some(4),
        castRange: Some([
            300.0,
            300.0,
            300.0,
            300.0,
            300.0,
            300.0,
            300.0,
        ]),
        castRadius: Some([
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            10.0,
            9.0,
            8.0,
            7.0,
            6.0,
            5.0,
            5.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(7183),
        alternateName: Some("AhriFoxFire"),
        coefficient: Some(0.7),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)