(
    events: {
        "Dance3D_buffactivate": [
            "characters/Talon/sounds/1071883999.ogg",
        ],
        "Death3D_cast": [
            "characters/Talon/sounds/768522774.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Talon/sounds/1047981035.ogg",
        ],
        "Play_vo_Talon_Attack2DGeneral": [
            "characters/Talon/sounds/222190638.ogg",
            "characters/Talon/sounds/336255575.ogg",
            "characters/Talon/sounds/398095958.ogg",
            "characters/Talon/sounds/620066205.ogg",
            "characters/Talon/sounds/861180963.ogg",
            "characters/Talon/sounds/898415428.ogg",
        ],
        "Play_vo_Talon_Death3D": [
            "characters/Talon/sounds/1037208450.ogg",
            "characters/Talon/sounds/254072801.ogg",
            "characters/Talon/sounds/472237714.ogg",
            "characters/Talon/sounds/746428535.ogg",
        ],
        "Play_vo_Talon_Joke3DGeneral": [
            "characters/Talon/sounds/827330624.ogg",
            "characters/Talon/sounds/873234837.ogg",
        ],
        "Play_vo_Talon_Laugh3DGeneral": [
            "characters/Talon/sounds/1068557236.ogg",
            "characters/Talon/sounds/565458321.ogg",
            "characters/Talon/sounds/627528886.ogg",
            "characters/Talon/sounds/971383448.ogg",
        ],
        "Play_vo_Talon_Move2DStandard": [
            "characters/Talon/sounds/1045053386.ogg",
            "characters/Talon/sounds/225061091.ogg",
            "characters/Talon/sounds/281119279.ogg",
            "characters/Talon/sounds/314001424.ogg",
            "characters/Talon/sounds/412880655.ogg",
            "characters/Talon/sounds/493451599.ogg",
            "characters/Talon/sounds/570650792.ogg",
            "characters/Talon/sounds/639548393.ogg",
        ],
        "Play_vo_Talon_Spell3DECast": [
            "characters/Talon/sounds/202918322.ogg",
            "characters/Talon/sounds/502586548.ogg",
            "characters/Talon/sounds/606088898.ogg",
            "characters/Talon/sounds/913682826.ogg",
        ],
        "Play_vo_Talon_Spell3DR2Cast": [
            "characters/Talon/sounds/1055806600.ogg",
            "characters/Talon/sounds/195726366.ogg",
            "characters/Talon/sounds/256351545.ogg",
            "characters/Talon/sounds/33002093.ogg",
        ],
        "Play_vo_Talon_TalonBasicAttack2_cast3D": [
            "characters/Talon/sounds/202918322.ogg",
            "characters/Talon/sounds/502586548.ogg",
            "characters/Talon/sounds/606088898.ogg",
            "characters/Talon/sounds/913682826.ogg",
        ],
        "Play_vo_Talon_TalonBasicAttack_cast3D": [
            "characters/Talon/sounds/202918322.ogg",
            "characters/Talon/sounds/502586548.ogg",
            "characters/Talon/sounds/606088898.ogg",
            "characters/Talon/sounds/913682826.ogg",
        ],
        "Play_vo_Talon_TalonCritAttack_cast3D": [
            "characters/Talon/sounds/202918322.ogg",
            "characters/Talon/sounds/502586548.ogg",
            "characters/Talon/sounds/606088898.ogg",
            "characters/Talon/sounds/913682826.ogg",
        ],
        "Play_vo_Talon_TalonQ_cast3D": [
            "characters/Talon/sounds/619669925.ogg",
            "characters/Talon/sounds/688350047.ogg",
            "characters/Talon/sounds/852552278.ogg",
            "characters/Talon/sounds/979707293.ogg",
        ],
        "Play_vo_Talon_TalonR_cast3D": [
            "characters/Talon/sounds/188783020.ogg",
            "characters/Talon/sounds/255911311.ogg",
            "characters/Talon/sounds/784182368.ogg",
            "characters/Talon/sounds/909351840.ogg",
        ],
        "Play_vo_Talon_TalonW_cast3D": [
            "characters/Talon/sounds/188391103.ogg",
            "characters/Talon/sounds/691070464.ogg",
            "characters/Talon/sounds/90469985.ogg",
            "characters/Talon/sounds/915198405.ogg",
        ],
        "Play_vo_Talon_Taunt3DGeneral": [
            "characters/Talon/sounds/1050300495.ogg",
            "characters/Talon/sounds/742220152.ogg",
        ],
        "TalonBasicAttack2_OnCast": [
            "characters/Talon/sounds/166648419.ogg",
            "characters/Talon/sounds/300418282.ogg",
            "characters/Talon/sounds/309695447.ogg",
            "characters/Talon/sounds/396581277.ogg",
        ],
        "TalonBasicAttack2_OnHit": [
            "characters/Talon/sounds/112396064.ogg",
            "characters/Talon/sounds/126678439.ogg",
            "characters/Talon/sounds/140666135.ogg",
            "characters/Talon/sounds/167046873.ogg",
            "characters/Talon/sounds/186590120.ogg",
            "characters/Talon/sounds/22477651.ogg",
            "characters/Talon/sounds/250607325.ogg",
            "characters/Talon/sounds/353374365.ogg",
            "characters/Talon/sounds/38375571.ogg",
            "characters/Talon/sounds/40579317.ogg",
            "characters/Talon/sounds/51117257.ogg",
            "characters/Talon/sounds/61863565.ogg",
            "characters/Talon/sounds/6980199.ogg",
            "characters/Talon/sounds/87147149.ogg",
            "characters/Talon/sounds/91599766.ogg",
            "characters/Talon/sounds/97402701.ogg",
        ],
        "TalonBasicAttack_OnCast": [
            "characters/Talon/sounds/166648419.ogg",
            "characters/Talon/sounds/300418282.ogg",
            "characters/Talon/sounds/309695447.ogg",
            "characters/Talon/sounds/396581277.ogg",
        ],
        "TalonBasicAttack_OnHit": [
            "characters/Talon/sounds/112396064.ogg",
            "characters/Talon/sounds/126678439.ogg",
            "characters/Talon/sounds/140666135.ogg",
            "characters/Talon/sounds/167046873.ogg",
            "characters/Talon/sounds/186590120.ogg",
            "characters/Talon/sounds/22477651.ogg",
            "characters/Talon/sounds/250607325.ogg",
            "characters/Talon/sounds/353374365.ogg",
            "characters/Talon/sounds/38375571.ogg",
            "characters/Talon/sounds/40579317.ogg",
            "characters/Talon/sounds/51117257.ogg",
            "characters/Talon/sounds/61863565.ogg",
            "characters/Talon/sounds/6980199.ogg",
            "characters/Talon/sounds/87147149.ogg",
            "characters/Talon/sounds/91599766.ogg",
            "characters/Talon/sounds/97402701.ogg",
        ],
        "TalonCritAttack_OnCast": [
            "characters/Talon/sounds/166648419.ogg",
            "characters/Talon/sounds/300418282.ogg",
            "characters/Talon/sounds/309695447.ogg",
            "characters/Talon/sounds/396581277.ogg",
        ],
        "TalonCritAttack_OnHit": [
            "characters/Talon/sounds/112396064.ogg",
            "characters/Talon/sounds/126678439.ogg",
            "characters/Talon/sounds/140666135.ogg",
            "characters/Talon/sounds/167046873.ogg",
            "characters/Talon/sounds/186590120.ogg",
            "characters/Talon/sounds/22477651.ogg",
            "characters/Talon/sounds/250607325.ogg",
            "characters/Talon/sounds/353374365.ogg",
            "characters/Talon/sounds/38375571.ogg",
            "characters/Talon/sounds/40579317.ogg",
            "characters/Talon/sounds/51117257.ogg",
            "characters/Talon/sounds/61863565.ogg",
            "characters/Talon/sounds/6980199.ogg",
            "characters/Talon/sounds/87147149.ogg",
            "characters/Talon/sounds/91599766.ogg",
            "characters/Talon/sounds/97402701.ogg",
        ],
        "TalonE_buffactivate_long": [
            "characters/Talon/sounds/66154140.ogg",
        ],
        "TalonE_buffactivate_medium": [
            "characters/Talon/sounds/917708605.ogg",
        ],
        "TalonE_buffactivate_short": [
            "characters/Talon/sounds/112659435.ogg",
        ],
        "TalonE_cast": [
            "characters/Talon/sounds/538600700.ogg",
            "characters/Talon/sounds/611480907.ogg",
            "characters/Talon/sounds/927275695.ogg",
        ],
        "TalonE_land": [
            "characters/Talon/sounds/687807371.ogg",
            "characters/Talon/sounds/81685340.ogg",
            "characters/Talon/sounds/870709615.ogg",
        ],
        "TalonE_land_long": [
            "characters/Talon/sounds/199547927.ogg",
            "characters/Talon/sounds/275674521.ogg",
            "characters/Talon/sounds/567810948.ogg",
        ],
        "TalonPassive_hit": [
            "characters/Talon/sounds/1035343969.ogg",
        ],
        "TalonQAttack_OnCast": [
            "characters/Talon/sounds/593266443.ogg",
        ],
        "TalonQAttack_OnHit": [
            "characters/Talon/sounds/579209947.ogg",
        ],
        "TalonQ_cast": [
            "characters/Talon/sounds/780715100.ogg",
        ],
        "TalonQ_hit": [
            "characters/Talon/sounds/448645743.ogg",
        ],
        "TalonR_OnCast": [
            "characters/Talon/sounds/605543501.ogg",
        ],
        "TalonR_hit": [
            "characters/Talon/sounds/497832790.ogg",
            "characters/Talon/sounds/725335312.ogg",
            "characters/Talon/sounds/976149757.ogg",
        ],
        "TalonR_hold": [
            "characters/Talon/sounds/850514519.ogg",
        ],
        "TalonR_hold_active": [
            "characters/Talon/sounds/343872035.ogg",
        ],
        "TalonWMissileOne_OnHit": [
            "characters/Talon/sounds/251810582.ogg",
            "characters/Talon/sounds/724494087.ogg",
            "characters/Talon/sounds/870860626.ogg",
            "characters/Talon/sounds/991596287.ogg",
        ],
        "TalonWMissileOne_OnMissileLaunch": [
            "characters/Talon/sounds/764027975.ogg",
        ],
        "TalonWMissileTwo_OnHit": [
            "characters/Talon/sounds/1059567183.ogg",
            "characters/Talon/sounds/187344974.ogg",
            "characters/Talon/sounds/607561340.ogg",
            "characters/Talon/sounds/620407258.ogg",
        ],
        "TalonWMissileTwo_OnMissileLaunch": [
            "characters/Talon/sounds/222513359.ogg",
        ],
        "TalonW_OnCast": [
            "characters/Talon/sounds/690050094.ogg",
        ],
    },
)