(
    spellData: Some((
        calculations: Some({
            "empowered_damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.15),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "execute_damage_calc_modified": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(2.3),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "hold_damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "hold_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.15),
                        statFormula: Some(2),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "tap_damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "tap_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.15),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x6fc04dc0": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "hold_execute_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.15),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "HoldDamage",
                values: Some([
                    40.0,
                    70.0,
                    100.0,
                    130.0,
                    160.0,
                    190.0,
                    220.0,
                ]),
            ),
            (
                name: "TapDamage",
                values: Some([
                    40.0,
                    70.0,
                    100.0,
                    130.0,
                    160.0,
                    190.0,
                    220.0,
                ]),
            ),
            (
                name: "CritHealthThreshold",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "HoldRange",
                values: Some([
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                ]),
            ),
            (
                name: "DamageFalloff",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "TapCooldownRefund",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "HoldExecuteDamage",
                values: Some([
                    40.0,
                    85.0,
                    130.0,
                    175.0,
                    220.0,
                    265.0,
                    310.0,
                ]),
            ),
            (
                name: "SelfSlow",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "MinTimeHoldCast",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "MinionDamageMod",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "ExecuteBaseDamage",
                values: Some([
                    80.0,
                    155.0,
                    230.0,
                    305.0,
                    380.0,
                    455.0,
                    530.0,
                ]),
            ),
            (
                name: "MonsterDamageMod",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
        ]),
        mana: Some([
            25.0,
            25.0,
            25.0,
            25.0,
            25.0,
            25.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(80.0),
        castFrame: Some(4.0),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            11.0,
            11.0,
            10.25,
            9.5,
            8.75,
            8.0,
            8.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)