(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    25.0,
                    80.0,
                    135.0,
                    190.0,
                    245.0,
                    300.0,
                    355.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            80.0,
            100.0,
            120.0,
            140.0,
            160.0,
            180.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)