(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "DodgeDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "MSDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "MSAmount",
                values: Some([
                    0.2,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                ]),
            ),
        ]),
        mana: Some([
            25.0,
            25.0,
            25.0,
            25.0,
            25.0,
            25.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(700.0),
        missileEffectKey: None,
        castType: None,
    )),
)