(
    spellData: Some((
        calculations: Some({
            "damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    0.0,
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                ]),
            ),
            (
                name: "BaseMSBonus",
                values: Some([
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                ]),
            ),
            (
                name: "LifestealMod",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "MinionDamageMod",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)