(
    spellData: Some((
        calculations: Some({
            3175553840: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.2),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                ]),
            ),
            (
                name: "BonusAttackSpeed",
                values: Some([
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                    0.35,
                    0.4,
                    0.45,
                ]),
            ),
            (
                name: "DashSpeed",
                values: Some([
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                ]),
            ),
            (
                name: "DashTotalDistance",
                values: Some([
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                ]),
            ),
            (
                name: "AttackSpeedDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)