(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2800.0),
                startBoneName: Some("Pistol_Muzzle"),
                tracksTarget: None,
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: Some(110.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: Some(2800.0),
        missileEffectKey: Some(3898590206),
        castType: Some(1),
        castRange: Some([
            850.0,
            850.0,
            850.0,
            850.0,
            850.0,
            850.0,
            850.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(110.0),
        castFrame: None,
        animationName: Some(""),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(23567),
        alternateName: Some("SamiraR"),
        coefficient: None,
        hitEffectKey: Some(441603583),
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)