(
    spellData: Some((
        calculations: Some({
            "empowered_lightning_bonus": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "lightning_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            "empowered_lightning_bonus_max": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            "empowered_total_as": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "attack_speed_base",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "lightning_damage_to_minions_min": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "max_hp_on_hit1": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "max_hp_on_hit_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "max_hpad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            "monster_cap": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "on_hit_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.2),
                        statFormula: Some(2),
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(12),
                        dataValue: "unk_0x877e2117",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "q2_total_on_hit_hp_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "max_hp_on_hit_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "q2_max_hpad_ratio",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(12),
                        coefficient: Some(0.00001),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0xaf259c48": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "unk_0xec11b8c6": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AttackSpeedBase",
                values: Some([
                    0.08,
                    0.2,
                    0.32,
                    0.44,
                    0.56,
                    0.68,
                    0.8,
                ]),
            ),
            (
                name: "AttackSpeedDurationBase",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "AttackSpeedDurationEmpowered",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "MaxHPOnHitBase",
                values: Some([
                    0.02,
                    0.03,
                    0.04,
                    0.05,
                    0.06,
                    0.07,
                    0.08,
                ]),
            ),
            (
                name: "RepeatBouncePenalty",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "LightningAPRatio",
                values: Some([
                    0.00006,
                    0.00006,
                    0.00006,
                    0.00006,
                    0.00006,
                    0.00006,
                    0.00006,
                ]),
            ),
            (
                name: "Bounces",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "BounceRange",
                values: Some([
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    -0.0,
                    6.0,
                    12.0,
                    18.0,
                    24.0,
                    30.0,
                    36.0,
                ]),
            ),
            (
                name: "MaxHPADRatio",
                values: Some([
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                ]),
            ),
            (
                name: "Q2MaxHPADRatio",
                values: Some([
                    0.0005,
                    0.0005,
                    0.0005,
                    0.0005,
                    0.0005,
                    0.0005,
                    0.0005,
                ]),
            ),
            (
                name: "AttackRange",
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                name: "LightningDamageLevel1",
                values: Some([
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                ]),
            ),
            (
                name: "LightningDamageLevel18",
                values: Some([
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                ]),
            ),
            (
                name: "EmpoweredBonusASLevel1",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "EmpoweredBonusASLevel18",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "OnHitBonusHPRatio",
                values: Some([
                    0.008,
                    0.01,
                    0.012,
                    0.014,
                    0.016,
                    0.018,
                    0.02,
                ]),
            ),
        ]),
        mana: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)