(
    spellData: Some((
        calculations: Some({
            1014169952: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            1455393055: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2468566240: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1550032095,
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            2636505447: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2226609652,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 1346873256,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2938477640: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3174453934: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            3315939665: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 16315917,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3484084320: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.25),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3895804424: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2226609652,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 708912383,
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            3960584390: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AttackSpeedBase",
                values: Some([
                    0.08,
                    0.2,
                    0.32,
                    0.44,
                    0.56,
                    0.68,
                    0.8,
                ]),
            ),
            (
                name: "AttackSpeedDurationBase",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "AttackSpeedDurationEmpowered",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "MaxHPOnHitBase",
                values: Some([
                    0.02,
                    0.03,
                    0.04,
                    0.05,
                    0.06,
                    0.07,
                    0.08,
                ]),
            ),
            (
                name: "RepeatBouncePenalty",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "LightningAPRatio",
                values: Some([
                    0.00008,
                    0.00008,
                    0.00008,
                    0.00008,
                    0.00008,
                    0.00008,
                    0.00008,
                ]),
            ),
            (
                name: "Bounces",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "BounceRange",
                values: Some([
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    -3.0,
                    5.0,
                    13.0,
                    21.0,
                    29.0,
                    37.0,
                    45.0,
                ]),
            ),
            (
                name: "MaxHPADRatio",
                values: Some([
                    0.0004,
                    0.0004,
                    0.0004,
                    0.0004,
                    0.0004,
                    0.0004,
                    0.0004,
                ]),
            ),
            (
                name: "Q2MaxHPADRatio",
                values: Some([
                    0.0007,
                    0.0007,
                    0.0007,
                    0.0007,
                    0.0007,
                    0.0007,
                    0.0007,
                ]),
            ),
            (
                name: "AttackRange",
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                name: "LightningDamageLevel1",
                values: Some([
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                ]),
            ),
            (
                name: "LightningDamageLevel18",
                values: Some([
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                ]),
            ),
            (
                name: "EmpoweredBonusASLevel1",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "EmpoweredBonusASLevel18",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
        ]),
        mana: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)