(
    spellData: Some((
        calculations: Some({
            "damage_to_minions_scaling": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "empowered_slow": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "monster_cap": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "percent_hp_blast": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "storm_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            "pulse_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.35),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "storm_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "storm_base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.35),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x817f8a73": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "unk_0xaf259c48": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BuffDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "SlowPotency",
                values: Some([
                    0.12,
                    0.15,
                    0.18,
                    0.21,
                    0.24,
                    0.27,
                    0.3,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "StormBaseDamage",
                values: Some([
                    4.0,
                    20.0,
                    36.0,
                    52.0,
                    68.0,
                    84.0,
                    100.0,
                ]),
            ),
            (
                name: "StormAPRatio",
                values: Some([
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                    0.00035,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)