(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    15.0,
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1450.0),
        missileEffectKey: None,
        castType: None,
    )),
)