(
    gltf_path: "characters/sru_razorbeakmini/skins/skin0.glb",
    hash_to_node: {
        "Attack": Selector(
            probably_nodes: [
                (
                    key: "Attack1",
                    value: 1.0,
                ),
                (
                    key: "Attack2",
                    value: 1.0,
                ),
            ],
        ),
        "Attack1": Clip(
            node_index: 9,
        ),
        "Attack2": Selector(
            probably_nodes: [
                (
                    key: "Attack2Base",
                    value: 35.0,
                ),
                (
                    key: "Unk0xc656e32",
                    value: 65.0,
                ),
            ],
        ),
        "Attack2Base": Clip(
            node_index: 11,
        ),
        "Death": Selector(
            probably_nodes: [
                (
                    key: "DeathBase",
                    value: 50.0,
                ),
                (
                    key: "Unk0xbd31845b",
                    value: 50.0,
                ),
            ],
        ),
        "DeathBase": Clip(
            node_index: 23,
        ),
        "Idle1": ConditionFloat(
            updater: LookAtInterestDistance,
            conditions: [
                (
                    key: "IdleAggro",
                    value: 0.0,
                ),
                (
                    key: "Unk0x78a49bc0",
                    value: 600.0,
                ),
            ],
        ),
        "IdleAggro": Parallel(
            hashes: [
                "Unk0x85572a11",
                "Unk0x76cefaf0",
            ],
        ),
        "IdleAggro1": Clip(
            node_index: 20,
        ),
        "IdleAggro2": Clip(
            node_index: 17,
        ),
        "IdleAggro3": Clip(
            node_index: 18,
        ),
        "IdleNormal1": Clip(
            node_index: 8,
        ),
        "IdleNormal2": Clip(
            node_index: 7,
        ),
        "IdleNormal3": Clip(
            node_index: 6,
        ),
        "Run": Clip(
            node_index: 2,
        ),
        "Spawn2": Clip(
            node_index: 3,
        ),
        "Spawn3": Clip(
            node_index: 4,
        ),
        "Spawn4": Clip(
            node_index: 5,
        ),
        "Unk0x1275a13b": Clip(
            node_index: 1,
        ),
        "Unk0x6cf457d7": Clip(
            node_index: 10,
        ),
        "Unk0x76cefaf0": Selector(
            probably_nodes: [
                (
                    key: "IdleAggro1",
                    value: 35.0,
                ),
                (
                    key: "IdleAggro2",
                    value: 35.0,
                ),
                (
                    key: "IdleAggro3",
                    value: 10.0,
                ),
            ],
        ),
        "Unk0x788d7622": Clip(
            node_index: 12,
        ),
        "Unk0x78a49bc0": Selector(
            probably_nodes: [
                (
                    key: "IdleNormal2",
                    value: 25.0,
                ),
                (
                    key: "IdleNormal1",
                    value: 25.0,
                ),
                (
                    key: "IdleNormal3",
                    value: 50.0,
                ),
            ],
        ),
        "Unk0x85572a11": Parametric(
            pairs: [
                (
                    key: "Unk0x788d7622",
                    value: -180.0,
                ),
                (
                    key: "Unk0xd163564d",
                    value: -135.0,
                ),
                (
                    key: "Unk0xaff0e591",
                    value: -45.0,
                ),
                (
                    key: "Unk0x788d7622",
                    value: 0.0,
                ),
                (
                    key: "Unk0x6cf457d7",
                    value: 45.0,
                ),
                (
                    key: "Unk0x1275a13b",
                    value: 135.0,
                ),
                (
                    key: "Unk0x788d7622",
                    value: 180.0,
                ),
            ],
        ),
        "Unk0xaff0e591": Clip(
            node_index: 13,
        ),
        "Unk0xbd31845b": Clip(
            node_index: 14,
        ),
        "Unk0xc656e32": Clip(
            node_index: 0,
        ),
        "Unk0xcef64ad8": Clip(
            node_index: 15,
        ),
        "Unk0xd163564d": Clip(
            node_index: 16,
        ),
        "Unk0xd4f6544a": Clip(
            node_index: 19,
        ),
        "Unk0xd5f655dd": Clip(
            node_index: 21,
        ),
        "Unk0xe714e91f": Clip(
            node_index: 22,
        ),
        "Unk0xee319fbb": Clip(
            node_index: 24,
        ),
    },
    blend_data: {
        ("Attack1", "Attack1"): Time(
            time: 0.0,
        ),
        ("Attack1", "Death"): Time(
            time: 0.0,
        ),
        ("Attack2Base", "Attack2Base"): Time(
            time: 0.0,
        ),
        ("Attack2Base", "Death"): Time(
            time: 0.0,
        ),
        ("Death", "Death"): Time(
            time: 0.0,
        ),
        ("DeathBase", "Death"): Time(
            time: 0.0,
        ),
        ("DeathBase", "DeathBase"): Time(
            time: 0.0,
        ),
        ("Idle1", "Death"): Time(
            time: 0.0,
        ),
        ("IdleAggro", "Death"): Time(
            time: 0.0,
        ),
        ("IdleAggro1", "Death"): Time(
            time: 0.0,
        ),
        ("IdleAggro1", "IdleNormal1"): TransitionClip(
            clip_name: "Unk0xee319fbb",
        ),
        ("IdleAggro1", "IdleNormal2"): TransitionClip(
            clip_name: "Unk0xee319fbb",
        ),
        ("IdleAggro2", "Death"): Time(
            time: 0.0,
        ),
        ("IdleAggro2", "IdleNormal1"): TransitionClip(
            clip_name: "Unk0xee319fbb",
        ),
        ("IdleAggro2", "IdleNormal2"): TransitionClip(
            clip_name: "Unk0xee319fbb",
        ),
        ("IdleAggro3", "Death"): Time(
            time: 0.0,
        ),
        ("IdleAggro3", "IdleNormal1"): TransitionClip(
            clip_name: "Unk0xee319fbb",
        ),
        ("IdleAggro3", "IdleNormal2"): TransitionClip(
            clip_name: "Unk0xee319fbb",
        ),
        ("IdleNormal1", "Death"): Time(
            time: 0.0,
        ),
        ("IdleNormal1", "IdleAggro1"): TransitionClip(
            clip_name: "Unk0xe714e91f",
        ),
        ("IdleNormal1", "IdleAggro2"): TransitionClip(
            clip_name: "Unk0xe714e91f",
        ),
        ("IdleNormal1", "IdleAggro3"): TransitionClip(
            clip_name: "Unk0xe714e91f",
        ),
        ("IdleNormal2", "Death"): Time(
            time: 0.0,
        ),
        ("IdleNormal2", "IdleAggro1"): TransitionClip(
            clip_name: "Unk0xe714e91f",
        ),
        ("IdleNormal2", "IdleAggro2"): TransitionClip(
            clip_name: "Unk0xe714e91f",
        ),
        ("IdleNormal2", "IdleAggro3"): TransitionClip(
            clip_name: "Unk0xe714e91f",
        ),
        ("Run", "Death"): Time(
            time: 0.0,
        ),
        ("Run", "Run"): Time(
            time: 0.0,
        ),
        ("Spawn2", "Death"): Time(
            time: 0.0,
        ),
        ("Spawn3", "Death"): Time(
            time: 0.0,
        ),
        ("Spawn4", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x1275a13b", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x6cf457d7", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x76cefaf0", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x76cefaf0", "Unk0x76cefaf0"): Time(
            time: 0.0,
        ),
        ("Unk0x788d7622", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x78a49bc0", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x85572a11", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xaff0e591", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xbd31845b", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xc656e32", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xcef64ad8", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xd163564d", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xd4f6544a", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xd5f655dd", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xe714e91f", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xee319fbb", "Death"): Time(
            time: 0.0,
        ),
    },
)