(
    events: {
        "AspectOfTheCougar_OnCast": [
            "characters/Nidalee/sounds/465490891.ogg",
            "characters/Nidalee/sounds/796904591.ogg",
            "characters/Nidalee/sounds/837477622.ogg",
            "characters/Nidalee/sounds/844957536.ogg",
        ],
        "Bushwhack_OnCast": [
            "characters/Nidalee/sounds/173717048.ogg",
        ],
        "Bushwhack_hit": [
            "characters/Nidalee/sounds/263711330.ogg",
            "characters/Nidalee/sounds/425443498.ogg",
            "characters/Nidalee/sounds/87377778.ogg",
        ],
        "Bushwhack_set": [
            "characters/Nidalee/sounds/141447576.ogg",
            "characters/Nidalee/sounds/426673788.ogg",
            "characters/Nidalee/sounds/94703923.ogg",
        ],
        "Dance3D_buffactivate": [
            "characters/Nidalee/sounds/345881802.ogg",
        ],
        "JavelinToss_OnCast": [
            "characters/Nidalee/sounds/467430889.ogg",
            "characters/Nidalee/sounds/682266709.ogg",
            "characters/Nidalee/sounds/696831567.ogg",
            "characters/Nidalee/sounds/885505763.ogg",
        ],
        "JavelinToss_OnMissileLaunch": [
            "characters/Nidalee/sounds/375392437.ogg",
            "characters/Nidalee/sounds/417490357.ogg",
        ],
        "JavelinToss_hit": [
            "characters/Nidalee/sounds/45616270.ogg",
            "characters/Nidalee/sounds/695855067.ogg",
        ],
        "JavelinToss_mark": [
            "characters/Nidalee/sounds/191160924.ogg",
            "characters/Nidalee/sounds/689775282.ogg",
            "characters/Nidalee/sounds/942404790.ogg",
        ],
        "JavelinToss_markloop": [
            "characters/Nidalee/sounds/189424614.ogg",
        ],
        "NidaleeBasicAttack2_OnCast": [
            "characters/Nidalee/sounds/22110216.ogg",
            "characters/Nidalee/sounds/256200035.ogg",
            "characters/Nidalee/sounds/49608322.ogg",
            "characters/Nidalee/sounds/538582876.ogg",
        ],
        "NidaleeBasicAttack2_OnHit": [
            "characters/Nidalee/sounds/100760451.ogg",
            "characters/Nidalee/sounds/108385045.ogg",
            "characters/Nidalee/sounds/136846266.ogg",
            "characters/Nidalee/sounds/161788064.ogg",
            "characters/Nidalee/sounds/164713682.ogg",
            "characters/Nidalee/sounds/187706509.ogg",
            "characters/Nidalee/sounds/193135678.ogg",
            "characters/Nidalee/sounds/205535710.ogg",
            "characters/Nidalee/sounds/226085443.ogg",
            "characters/Nidalee/sounds/36866774.ogg",
            "characters/Nidalee/sounds/404855527.ogg",
            "characters/Nidalee/sounds/539961982.ogg",
            "characters/Nidalee/sounds/595263545.ogg",
            "characters/Nidalee/sounds/60567792.ogg",
            "characters/Nidalee/sounds/92851545.ogg",
            "characters/Nidalee/sounds/99217996.ogg",
        ],
        "NidaleeBasicAttack2_OnMissileLaunch": [
            "characters/Nidalee/sounds/131798607.ogg",
            "characters/Nidalee/sounds/155982393.ogg",
            "characters/Nidalee/sounds/157048656.ogg",
            "characters/Nidalee/sounds/189669680.ogg",
        ],
        "NidaleeBasicAttack_OnCast": [
            "characters/Nidalee/sounds/22110216.ogg",
            "characters/Nidalee/sounds/256200035.ogg",
            "characters/Nidalee/sounds/49608322.ogg",
            "characters/Nidalee/sounds/538582876.ogg",
        ],
        "NidaleeBasicAttack_OnHit": [
            "characters/Nidalee/sounds/100760451.ogg",
            "characters/Nidalee/sounds/108385045.ogg",
            "characters/Nidalee/sounds/136846266.ogg",
            "characters/Nidalee/sounds/161788064.ogg",
            "characters/Nidalee/sounds/164713682.ogg",
            "characters/Nidalee/sounds/187706509.ogg",
            "characters/Nidalee/sounds/193135678.ogg",
            "characters/Nidalee/sounds/205535710.ogg",
            "characters/Nidalee/sounds/226085443.ogg",
            "characters/Nidalee/sounds/36866774.ogg",
            "characters/Nidalee/sounds/404855527.ogg",
            "characters/Nidalee/sounds/539961982.ogg",
            "characters/Nidalee/sounds/595263545.ogg",
            "characters/Nidalee/sounds/60567792.ogg",
            "characters/Nidalee/sounds/92851545.ogg",
            "characters/Nidalee/sounds/99217996.ogg",
        ],
        "NidaleeBasicAttack_OnMissileLaunch": [
            "characters/Nidalee/sounds/131798607.ogg",
            "characters/Nidalee/sounds/155982393.ogg",
            "characters/Nidalee/sounds/157048656.ogg",
            "characters/Nidalee/sounds/189669680.ogg",
        ],
        "NidaleeCougar_AspectOfTheCougar_OnCast": [
            "characters/Nidalee/sounds/465490891.ogg",
            "characters/Nidalee/sounds/796904591.ogg",
            "characters/Nidalee/sounds/837477622.ogg",
            "characters/Nidalee/sounds/844957536.ogg",
        ],
        "NidaleeCougar_Dance3D_buffactivate": [
            "characters/Nidalee/sounds/1039975499.ogg",
        ],
        "NidaleeCougar_Dance3D_cast": [
            "characters/Nidalee/sounds/821118573.ogg",
        ],
        "NidaleeCougar_Joke3D_buffactivate": [
            "characters/Nidalee/sounds/331187926.ogg",
        ],
        "NidaleeCougar_Laugh3D_buffactivate": [
            "characters/Nidalee/sounds/352410572.ogg",
        ],
        "NidaleeCougar_NidaleeCougarBasicAttack2_OnCast": [
            "characters/Nidalee/sounds/123175306.ogg",
            "characters/Nidalee/sounds/280658951.ogg",
            "characters/Nidalee/sounds/3505277.ogg",
            "characters/Nidalee/sounds/355831079.ogg",
        ],
        "NidaleeCougar_NidaleeCougarBasicAttack2_OnHit": [
            "characters/Nidalee/sounds/120126054.ogg",
            "characters/Nidalee/sounds/135193943.ogg",
            "characters/Nidalee/sounds/150320671.ogg",
            "characters/Nidalee/sounds/1609643.ogg",
            "characters/Nidalee/sounds/198883835.ogg",
            "characters/Nidalee/sounds/247718094.ogg",
            "characters/Nidalee/sounds/285044375.ogg",
            "characters/Nidalee/sounds/3558524.ogg",
            "characters/Nidalee/sounds/3782545.ogg",
            "characters/Nidalee/sounds/380821681.ogg",
            "characters/Nidalee/sounds/414125210.ogg",
            "characters/Nidalee/sounds/518132936.ogg",
            "characters/Nidalee/sounds/53797652.ogg",
            "characters/Nidalee/sounds/82762021.ogg",
            "characters/Nidalee/sounds/96315131.ogg",
            "characters/Nidalee/sounds/98653715.ogg",
        ],
        "NidaleeCougar_NidaleeCougarBasicAttack_OnCast": [
            "characters/Nidalee/sounds/123175306.ogg",
            "characters/Nidalee/sounds/280658951.ogg",
            "characters/Nidalee/sounds/3505277.ogg",
            "characters/Nidalee/sounds/355831079.ogg",
        ],
        "NidaleeCougar_NidaleeCougarBasicAttack_OnHit": [
            "characters/Nidalee/sounds/120126054.ogg",
            "characters/Nidalee/sounds/135193943.ogg",
            "characters/Nidalee/sounds/150320671.ogg",
            "characters/Nidalee/sounds/1609643.ogg",
            "characters/Nidalee/sounds/198883835.ogg",
            "characters/Nidalee/sounds/247718094.ogg",
            "characters/Nidalee/sounds/285044375.ogg",
            "characters/Nidalee/sounds/3558524.ogg",
            "characters/Nidalee/sounds/3782545.ogg",
            "characters/Nidalee/sounds/380821681.ogg",
            "characters/Nidalee/sounds/414125210.ogg",
            "characters/Nidalee/sounds/518132936.ogg",
            "characters/Nidalee/sounds/53797652.ogg",
            "characters/Nidalee/sounds/82762021.ogg",
            "characters/Nidalee/sounds/96315131.ogg",
            "characters/Nidalee/sounds/98653715.ogg",
        ],
        "NidaleeCougar_NidaleeCougarCritAttack_OnCast": [
            "characters/Nidalee/sounds/123175306.ogg",
            "characters/Nidalee/sounds/280658951.ogg",
            "characters/Nidalee/sounds/3505277.ogg",
            "characters/Nidalee/sounds/355831079.ogg",
        ],
        "NidaleeCougar_NidaleeCougarCritAttack_OnHit": [
            "characters/Nidalee/sounds/120126054.ogg",
            "characters/Nidalee/sounds/135193943.ogg",
            "characters/Nidalee/sounds/150320671.ogg",
            "characters/Nidalee/sounds/1609643.ogg",
            "characters/Nidalee/sounds/198883835.ogg",
            "characters/Nidalee/sounds/247718094.ogg",
            "characters/Nidalee/sounds/285044375.ogg",
            "characters/Nidalee/sounds/3558524.ogg",
            "characters/Nidalee/sounds/3782545.ogg",
            "characters/Nidalee/sounds/380821681.ogg",
            "characters/Nidalee/sounds/414125210.ogg",
            "characters/Nidalee/sounds/518132936.ogg",
            "characters/Nidalee/sounds/53797652.ogg",
            "characters/Nidalee/sounds/82762021.ogg",
            "characters/Nidalee/sounds/96315131.ogg",
            "characters/Nidalee/sounds/98653715.ogg",
        ],
        "NidaleeCougar_NidaleeTakedownAttack_OnCast": [
            "characters/Nidalee/sounds/459397109.ogg",
            "characters/Nidalee/sounds/515742304.ogg",
            "characters/Nidalee/sounds/690012534.ogg",
            "characters/Nidalee/sounds/898259801.ogg",
        ],
        "NidaleeCougar_NidaleeTakedownAttack_OnHit": [
            "characters/Nidalee/sounds/1001408241.ogg",
            "characters/Nidalee/sounds/354830396.ogg",
            "characters/Nidalee/sounds/385615812.ogg",
            "characters/Nidalee/sounds/934717786.ogg",
        ],
        "NidaleeCougar_Pounce_OnCast": [
            "characters/Nidalee/sounds/1036628791.ogg",
            "characters/Nidalee/sounds/247107836.ogg",
            "characters/Nidalee/sounds/339484361.ogg",
            "characters/Nidalee/sounds/731035274.ogg",
            "characters/Nidalee/sounds/845063598.ogg",
            "characters/Nidalee/sounds/857424827.ogg",
        ],
        "NidaleeCougar_Pounce_cooldownreset": [
            "characters/Nidalee/sounds/214287863.ogg",
            "characters/Nidalee/sounds/236078631.ogg",
        ],
        "NidaleeCougar_Pounce_hit": [
            "characters/Nidalee/sounds/106745466.ogg",
            "characters/Nidalee/sounds/477372588.ogg",
            "characters/Nidalee/sounds/76470249.ogg",
            "characters/Nidalee/sounds/826520621.ogg",
        ],
        "NidaleeCougar_Pounce_land": [
            "characters/Nidalee/sounds/337585229.ogg",
            "characters/Nidalee/sounds/451344699.ogg",
            "characters/Nidalee/sounds/617650108.ogg",
            "characters/Nidalee/sounds/881689960.ogg",
        ],
        "NidaleeCougar_Pounce_markjump": [
            "characters/Nidalee/sounds/1018287005.ogg",
            "characters/Nidalee/sounds/228120898.ogg",
            "characters/Nidalee/sounds/361195150.ogg",
        ],
        "NidaleeCougar_Swipe_OnBuffActivate": [
            "characters/Nidalee/sounds/252813786.ogg",
            "characters/Nidalee/sounds/391896241.ogg",
            "characters/Nidalee/sounds/578480387.ogg",
            "characters/Nidalee/sounds/630184.ogg",
        ],
        "NidaleeCougar_Swipe_OnCast": [
            "characters/Nidalee/sounds/131030303.ogg",
            "characters/Nidalee/sounds/202665241.ogg",
            "characters/Nidalee/sounds/25418684.ogg",
            "characters/Nidalee/sounds/286301070.ogg",
            "characters/Nidalee/sounds/317712980.ogg",
            "characters/Nidalee/sounds/545662706.ogg",
            "characters/Nidalee/sounds/733323670.ogg",
            "characters/Nidalee/sounds/995088261.ogg",
        ],
        "NidaleeCougar_Swipe_OnHit": [
            "characters/Nidalee/sounds/136846266.ogg",
            "characters/Nidalee/sounds/193135678.ogg",
            "characters/Nidalee/sounds/205535710.ogg",
            "characters/Nidalee/sounds/60567792.ogg",
        ],
        "NidaleeCougar_Takedown_OnBuffActivate": [
            "characters/Nidalee/sounds/748378560.ogg",
        ],
        "NidaleeCougar_Takedown_OnCast": [
            "characters/Nidalee/sounds/522414047.ogg",
            "characters/Nidalee/sounds/594980186.ogg",
            "characters/Nidalee/sounds/666807762.ogg",
        ],
        "NidaleeCougar_Taunt3D_buffactivate": [
            "characters/Nidalee/sounds/1016449372.ogg",
        ],
        "NidaleeCritAttack_OnCast": [
            "characters/Nidalee/sounds/22110216.ogg",
            "characters/Nidalee/sounds/256200035.ogg",
            "characters/Nidalee/sounds/49608322.ogg",
            "characters/Nidalee/sounds/538582876.ogg",
        ],
        "NidaleeCritAttack_OnHit": [
            "characters/Nidalee/sounds/100760451.ogg",
            "characters/Nidalee/sounds/108385045.ogg",
            "characters/Nidalee/sounds/136846266.ogg",
            "characters/Nidalee/sounds/161788064.ogg",
            "characters/Nidalee/sounds/164713682.ogg",
            "characters/Nidalee/sounds/187706509.ogg",
            "characters/Nidalee/sounds/193135678.ogg",
            "characters/Nidalee/sounds/205535710.ogg",
            "characters/Nidalee/sounds/226085443.ogg",
            "characters/Nidalee/sounds/36866774.ogg",
            "characters/Nidalee/sounds/404855527.ogg",
            "characters/Nidalee/sounds/539961982.ogg",
            "characters/Nidalee/sounds/595263545.ogg",
            "characters/Nidalee/sounds/60567792.ogg",
            "characters/Nidalee/sounds/92851545.ogg",
            "characters/Nidalee/sounds/99217996.ogg",
        ],
        "NidaleeCritAttack_OnMissileLaunch": [
            "characters/Nidalee/sounds/131798607.ogg",
            "characters/Nidalee/sounds/155982393.ogg",
            "characters/Nidalee/sounds/157048656.ogg",
            "characters/Nidalee/sounds/189669680.ogg",
        ],
        "Play_vo_NidaleeCougar_AspectOfTheCougar_OnCast": [
            "characters/Nidalee/sounds/570137753.ogg",
            "characters/Nidalee/sounds/643047682.ogg",
            "characters/Nidalee/sounds/713134060.ogg",
        ],
        "Play_vo_NidaleeCougar_NidaleeCougarBasicAttack2_OnCast": [
            "characters/Nidalee/sounds/143626893.ogg",
            "characters/Nidalee/sounds/151712699.ogg",
            "characters/Nidalee/sounds/87116344.ogg",
            "characters/Nidalee/sounds/913026718.ogg",
        ],
        "Play_vo_NidaleeCougar_NidaleeCougarBasicAttack_OnCast": [
            "characters/Nidalee/sounds/143626893.ogg",
            "characters/Nidalee/sounds/151712699.ogg",
            "characters/Nidalee/sounds/87116344.ogg",
            "characters/Nidalee/sounds/913026718.ogg",
        ],
        "Play_vo_NidaleeCougar_NidaleeCougarCritAttack_OnCast": [
            "characters/Nidalee/sounds/143626893.ogg",
            "characters/Nidalee/sounds/151712699.ogg",
            "characters/Nidalee/sounds/87116344.ogg",
            "characters/Nidalee/sounds/913026718.ogg",
        ],
        "Play_vo_Nidalee_AspectOfTheCougar_OnCast": [
            "characters/Nidalee/sounds/445237365.ogg",
            "characters/Nidalee/sounds/924645128.ogg",
        ],
        "Play_vo_Nidalee_AspectOfTheCougar_cast3D": [
            "characters/Nidalee/sounds/146732597.ogg",
            "characters/Nidalee/sounds/17957431.ogg",
            "characters/Nidalee/sounds/44027930.ogg",
            "characters/Nidalee/sounds/533066370.ogg",
            "characters/Nidalee/sounds/780529962.ogg",
            "characters/Nidalee/sounds/785108755.ogg",
            "characters/Nidalee/sounds/841513324.ogg",
            "characters/Nidalee/sounds/886307022.ogg",
        ],
        "Play_vo_Nidalee_Attack2DEpicMonster": [
            "characters/Nidalee/sounds/403020663.ogg",
            "characters/Nidalee/sounds/434931160.ogg",
            "characters/Nidalee/sounds/793419214.ogg",
            "characters/Nidalee/sounds/927437316.ogg",
        ],
        "Play_vo_Nidalee_Attack2DGeneral": [
            "characters/Nidalee/sounds/1021135628.ogg",
            "characters/Nidalee/sounds/1030403430.ogg",
            "characters/Nidalee/sounds/1045114802.ogg",
            "characters/Nidalee/sounds/138293992.ogg",
            "characters/Nidalee/sounds/154066249.ogg",
            "characters/Nidalee/sounds/249695092.ogg",
            "characters/Nidalee/sounds/264090178.ogg",
            "characters/Nidalee/sounds/290949849.ogg",
            "characters/Nidalee/sounds/377536763.ogg",
            "characters/Nidalee/sounds/407844135.ogg",
            "characters/Nidalee/sounds/492345224.ogg",
            "characters/Nidalee/sounds/664350896.ogg",
            "characters/Nidalee/sounds/758126124.ogg",
            "characters/Nidalee/sounds/77898339.ogg",
            "characters/Nidalee/sounds/921150956.ogg",
        ],
        "Play_vo_Nidalee_Attack2DNeutral": [
            "characters/Nidalee/sounds/30053238.ogg",
            "characters/Nidalee/sounds/409590944.ogg",
            "characters/Nidalee/sounds/543142654.ogg",
            "characters/Nidalee/sounds/637461328.ogg",
            "characters/Nidalee/sounds/690291423.ogg",
        ],
        "Play_vo_Nidalee_Bushwhack_cast3D": [
            "characters/Nidalee/sounds/104045658.ogg",
            "characters/Nidalee/sounds/231415302.ogg",
            "characters/Nidalee/sounds/244733467.ogg",
            "characters/Nidalee/sounds/701061137.ogg",
            "characters/Nidalee/sounds/873476963.ogg",
        ],
        "Play_vo_Nidalee_ClearCamp3DGeneral": [
            "characters/Nidalee/sounds/386590071.ogg",
            "characters/Nidalee/sounds/478048866.ogg",
            "characters/Nidalee/sounds/478425789.ogg",
            "characters/Nidalee/sounds/702107387.ogg",
            "characters/Nidalee/sounds/766246145.ogg",
        ],
        "Play_vo_Nidalee_Dance3DGeneral": [
            "characters/Nidalee/sounds/972069247.ogg",
        ],
        "Play_vo_Nidalee_Death3D": [
            "characters/Nidalee/sounds/125807111.ogg",
            "characters/Nidalee/sounds/366566764.ogg",
            "characters/Nidalee/sounds/762290105.ogg",
            "characters/Nidalee/sounds/888602804.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DGeneral": [
            "characters/Nidalee/sounds/216311534.ogg",
            "characters/Nidalee/sounds/369905870.ogg",
            "characters/Nidalee/sounds/786394223.ogg",
            "characters/Nidalee/sounds/873609013.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DKSante": [
            "characters/Nidalee/sounds/668718433.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DKindred": [
            "characters/Nidalee/sounds/61577587.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DMilio": [
            "characters/Nidalee/sounds/118450404.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DNaafiri": [
            "characters/Nidalee/sounds/555251130.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DNeeko": [
            "characters/Nidalee/sounds/655514113.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DPiltover": [
            "characters/Nidalee/sounds/605703973.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DQiyana": [
            "characters/Nidalee/sounds/709321582.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DRengar": [
            "characters/Nidalee/sounds/136647527.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DUdyr": [
            "characters/Nidalee/sounds/634401855.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DVastaya": [
            "characters/Nidalee/sounds/259175382.ogg",
        ],
        "Play_vo_Nidalee_FirstEncounter3DYuumi": [
            "characters/Nidalee/sounds/173995884.ogg",
        ],
        "Play_vo_Nidalee_JavelinToss_cast3D": [
            "characters/Nidalee/sounds/151878190.ogg",
            "characters/Nidalee/sounds/28399249.ogg",
            "characters/Nidalee/sounds/314569405.ogg",
            "characters/Nidalee/sounds/330432232.ogg",
            "characters/Nidalee/sounds/389841392.ogg",
            "characters/Nidalee/sounds/405103934.ogg",
            "characters/Nidalee/sounds/767878658.ogg",
        ],
        "Play_vo_Nidalee_JavelinToss_hit3D": [
            "characters/Nidalee/sounds/206835085.ogg",
            "characters/Nidalee/sounds/270196369.ogg",
            "characters/Nidalee/sounds/413871420.ogg",
            "characters/Nidalee/sounds/809229562.ogg",
            "characters/Nidalee/sounds/963522251.ogg",
        ],
        "Play_vo_Nidalee_Joke3DGeneral": [
            "characters/Nidalee/sounds/441431815.ogg",
        ],
        "Play_vo_Nidalee_JokeResponse3DGeneral": [
            "characters/Nidalee/sounds/994685293.ogg",
        ],
        "Play_vo_Nidalee_Kill3DGeneral": [
            "characters/Nidalee/sounds/245219033.ogg",
            "characters/Nidalee/sounds/341008821.ogg",
            "characters/Nidalee/sounds/726270996.ogg",
            "characters/Nidalee/sounds/908628124.ogg",
            "characters/Nidalee/sounds/951849513.ogg",
            "characters/Nidalee/sounds/996625380.ogg",
        ],
        "Play_vo_Nidalee_Kill3DKSante": [
            "characters/Nidalee/sounds/240483290.ogg",
        ],
        "Play_vo_Nidalee_Kill3DKindred": [
            "characters/Nidalee/sounds/254560579.ogg",
        ],
        "Play_vo_Nidalee_Kill3DMilio": [
            "characters/Nidalee/sounds/779538044.ogg",
        ],
        "Play_vo_Nidalee_Kill3DNaafiri": [
            "characters/Nidalee/sounds/700788519.ogg",
        ],
        "Play_vo_Nidalee_Kill3DNeeko": [
            "characters/Nidalee/sounds/979778583.ogg",
        ],
        "Play_vo_Nidalee_Kill3DPenta": [
            "characters/Nidalee/sounds/792759707.ogg",
        ],
        "Play_vo_Nidalee_Kill3DPiltover": [
            "characters/Nidalee/sounds/444239605.ogg",
        ],
        "Play_vo_Nidalee_Kill3DQ": [
            "characters/Nidalee/sounds/1056779451.ogg",
            "characters/Nidalee/sounds/250953348.ogg",
            "characters/Nidalee/sounds/291661050.ogg",
            "characters/Nidalee/sounds/665939894.ogg",
        ],
        "Play_vo_Nidalee_Kill3DQiyana": [
            "characters/Nidalee/sounds/590892754.ogg",
        ],
        "Play_vo_Nidalee_Kill3DRengar": [
            "characters/Nidalee/sounds/76324391.ogg",
        ],
        "Play_vo_Nidalee_Kill3DUdyr": [
            "characters/Nidalee/sounds/45693492.ogg",
        ],
        "Play_vo_Nidalee_Kill3DYuumi": [
            "characters/Nidalee/sounds/206081908.ogg",
        ],
        "Play_vo_Nidalee_Laugh3DGeneral": [
            "characters/Nidalee/sounds/454434206.ogg",
        ],
        "Play_vo_Nidalee_Move2DFirst": [
            "characters/Nidalee/sounds/1071510475.ogg",
            "characters/Nidalee/sounds/529404492.ogg",
            "characters/Nidalee/sounds/732192420.ogg",
            "characters/Nidalee/sounds/940395815.ogg",
        ],
        "Play_vo_Nidalee_Move2DLong": [
            "characters/Nidalee/sounds/131994634.ogg",
            "characters/Nidalee/sounds/194991912.ogg",
            "characters/Nidalee/sounds/290659182.ogg",
            "characters/Nidalee/sounds/33682183.ogg",
            "characters/Nidalee/sounds/357035292.ogg",
            "characters/Nidalee/sounds/439329418.ogg",
            "characters/Nidalee/sounds/484992544.ogg",
            "characters/Nidalee/sounds/572972277.ogg",
            "characters/Nidalee/sounds/662496597.ogg",
            "characters/Nidalee/sounds/772947125.ogg",
            "characters/Nidalee/sounds/947768277.ogg",
        ],
        "Play_vo_Nidalee_Move2DStandard": [
            "characters/Nidalee/sounds/1028817341.ogg",
            "characters/Nidalee/sounds/1033059069.ogg",
            "characters/Nidalee/sounds/104789899.ogg",
            "characters/Nidalee/sounds/160647705.ogg",
            "characters/Nidalee/sounds/190890020.ogg",
            "characters/Nidalee/sounds/222572884.ogg",
            "characters/Nidalee/sounds/41085961.ogg",
            "characters/Nidalee/sounds/467324664.ogg",
            "characters/Nidalee/sounds/49540742.ogg",
            "characters/Nidalee/sounds/52710077.ogg",
            "characters/Nidalee/sounds/545303540.ogg",
            "characters/Nidalee/sounds/658558649.ogg",
            "characters/Nidalee/sounds/671255182.ogg",
            "characters/Nidalee/sounds/68061548.ogg",
            "characters/Nidalee/sounds/688793197.ogg",
            "characters/Nidalee/sounds/737685175.ogg",
            "characters/Nidalee/sounds/81948857.ogg",
            "characters/Nidalee/sounds/86634305.ogg",
            "characters/Nidalee/sounds/908766878.ogg",
            "characters/Nidalee/sounds/991837555.ogg",
        ],
        "Play_vo_Nidalee_NidaleeBasicAttack2_cast3D": [
            "characters/Nidalee/sounds/414104254.ogg",
            "characters/Nidalee/sounds/592133315.ogg",
            "characters/Nidalee/sounds/851066478.ogg",
            "characters/Nidalee/sounds/978367416.ogg",
        ],
        "Play_vo_Nidalee_NidaleeBasicAttack_cast3D": [
            "characters/Nidalee/sounds/414104254.ogg",
            "characters/Nidalee/sounds/592133315.ogg",
            "characters/Nidalee/sounds/851066478.ogg",
            "characters/Nidalee/sounds/978367416.ogg",
        ],
        "Play_vo_Nidalee_NidaleeCritAttack_cast3D": [
            "characters/Nidalee/sounds/414104254.ogg",
            "characters/Nidalee/sounds/592133315.ogg",
            "characters/Nidalee/sounds/851066478.ogg",
            "characters/Nidalee/sounds/978367416.ogg",
        ],
        "Play_vo_Nidalee_PrimalSurge_cast3D": [
            "characters/Nidalee/sounds/529170833.ogg",
            "characters/Nidalee/sounds/666097844.ogg",
            "characters/Nidalee/sounds/683833329.ogg",
            "characters/Nidalee/sounds/869908539.ogg",
            "characters/Nidalee/sounds/967028441.ogg",
        ],
        "Play_vo_Nidalee_Recall3DGeneral": [
            "characters/Nidalee/sounds/130223212.ogg",
            "characters/Nidalee/sounds/216706347.ogg",
            "characters/Nidalee/sounds/811545626.ogg",
            "characters/Nidalee/sounds/815683486.ogg",
            "characters/Nidalee/sounds/931736054.ogg",
        ],
        "Play_vo_Nidalee_Respawn2DGeneral": [
            "characters/Nidalee/sounds/1033974180.ogg",
            "characters/Nidalee/sounds/163874294.ogg",
            "characters/Nidalee/sounds/344472486.ogg",
            "characters/Nidalee/sounds/755213449.ogg",
            "characters/Nidalee/sounds/927428953.ogg",
        ],
        "Play_vo_Nidalee_Respawn2DNonverbal": [
            "characters/Nidalee/sounds/152580521.ogg",
        ],
        "Play_vo_Nidalee_Spell3DPCast": [
            "characters/Nidalee/sounds/229543140.ogg",
            "characters/Nidalee/sounds/404796391.ogg",
            "characters/Nidalee/sounds/791363925.ogg",
            "characters/Nidalee/sounds/926224595.ogg",
        ],
        "Play_vo_Nidalee_Taunt3DGeneral": [
            "characters/Nidalee/sounds/65590521.ogg",
        ],
        "Play_vo_Nidalee_TauntResponse3DGeneral": [
            "characters/Nidalee/sounds/870540268.ogg",
        ],
        "PrimalSurge_OnBuffActivate": [
            "characters/Nidalee/sounds/135103839.ogg",
            "characters/Nidalee/sounds/760440292.ogg",
            "characters/Nidalee/sounds/868763141.ogg",
        ],
        "PrimalSurge_OnBuffDeactivate": [
            "characters/Nidalee/sounds/143048413.ogg",
            "characters/Nidalee/sounds/279656146.ogg",
            "characters/Nidalee/sounds/43101866.ogg",
            "characters/Nidalee/sounds/511405227.ogg",
        ],
        "PrimalSurge_OnCast": [
            "characters/Nidalee/sounds/1042693365.ogg",
            "characters/Nidalee/sounds/739688255.ogg",
            "characters/Nidalee/sounds/99336205.ogg",
        ],
        "Prowl_buffactivate": [
            "characters/Nidalee/sounds/128927277.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Nidalee/sounds/926809849.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Nidalee/sounds/385533306.ogg",
        ],
    },
)