(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(40.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: Some(7),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: None,
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(7253),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)