(
    spellData: Some((
        calculations: Some({
            "second_auto_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "passive_second_auto_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "VengeanceDuration",
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                name: "MSValue",
                values: Some([
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                    110.0,
                    120.0,
                    130.0,
                ]),
            ),
            (
                name: "ShredValue",
                values: Some([
                    12.5,
                    15.0,
                    17.5,
                    20.0,
                    22.5,
                    25.0,
                    27.5,
                ]),
            ),
            (
                name: "DeathTimer",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "PassiveSecondAutoRatio",
                values: Some([
                    0.4,
                    0.46,
                    0.52,
                    0.58,
                    0.64,
                    0.7,
                    0.76,
                ]),
            ),
            (
                name: "WallGracePeriod",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "MissingManaRegen",
                values: Some([
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                ]),
            ),
            (
                name: "GoldReward",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "RecentlyDamagedWindow",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "VFXTrailSpeed",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "PassiveWallRange",
                values: Some([
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                ]),
            ),
            (
                name: "StealthDetectionRange",
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                name: "GameModeInteger",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "ReviveHealthPercent",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            30.0,
            20.0,
            10.0,
            0.0,
            30.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            5000.0,
            5000.0,
            5000.0,
            5000.0,
            5000.0,
            5000.0,
            5000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: Some("Reload"),
        cooldownTime: Some([
            10.0,
            18.0,
            14.0,
            10.0,
            6.0,
            2.0,
            10.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)