(
    spellData: Some((
        calculations: Some({
            1373287948: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1208306187,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(12),
                        coefficient: Some(0.1),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2675542992: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3541226981: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3854996560: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 467962025,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(12),
                        coefficient: Some(0.1),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "RBaseMonsterDamage",
                values: Some([
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                ]),
            ),
            (
                name: "RBaseDamage",
                values: Some([
                    125.0,
                    300.0,
                    475.0,
                    650.0,
                    825.0,
                    1000.0,
                    1175.0,
                ]),
            ),
            (
                name: "RHealthPerStack",
                values: Some([
                    40.0,
                    80.0,
                    120.0,
                    160.0,
                    200.0,
                    240.0,
                    280.0,
                ]),
            ),
            (
                name: "RMinionMaxStacks",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "RStoneplateRatio",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "CastRangePerStack",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                name: "MaxBonusCastRange",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
            (
                name: "AttackRangePerStack",
                values: Some([
                    3.2,
                    4.7,
                    6.2,
                    7.7,
                    9.2,
                    10.7,
                    12.2,
                ]),
            ),
            (
                name: "MaxBonusAttackRange",
                values: Some([
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            60.0,
            60.0,
            0.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("C_BuffBone_Glb_Center_Loc"),
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)