(
    spellData: Some((
        calculations: Some({
            "enrage_total_as_per_stack": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "enrage_as_per_stack",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "passive_wave_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "passive_wave_ap_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "passive_wave_bonus_ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "LevelForPassiveRank0",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "LevelForPassiveRank1",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "LevelForPassiveRank2",
                values: Some([
                    11.0,
                    11.0,
                    11.0,
                    11.0,
                    11.0,
                    11.0,
                    11.0,
                ]),
            ),
            (
                name: "LevelForPassiveRank3",
                values: Some([
                    16.0,
                    16.0,
                    16.0,
                    16.0,
                    16.0,
                    16.0,
                    16.0,
                ]),
            ),
            (
                name: "UpgradedAttackRange",
                values: Some([
                    525.0,
                    525.0,
                    525.0,
                    525.0,
                    525.0,
                    525.0,
                    525.0,
                ]),
            ),
            (
                name: "FinalAttackRange",
                values: Some([
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                ]),
            ),
            (
                name: "MSTowardsEnemy",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "MSTowardsEnemyRadius",
                values: Some([
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                ]),
            ),
            (
                name: "EnrageMaxStacks",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "EnrageDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "EnrageASPerStack",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "PassiveWaveAPRatio",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "PassiveWaveBonusADRatio",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: None,
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: None,
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)