(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1508461632,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.6),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "ManaRefundPercent",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "CastDelay",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "Damage",
                values: Some([
                    30.0,
                    60.0,
                    90.0,
                    120.0,
                    150.0,
                    180.0,
                    210.0,
                ]),
            ),
            (
                name: "SlowPercent",
                values: Some([
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "ShredPercent",
                values: Some([
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                ]),
            ),
            (
                name: "ShredDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "ExplosionLeftRightDist",
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                name: "ExplosionLeftRightWidth",
                values: Some([
                    125.0,
                    125.0,
                    125.0,
                    125.0,
                    125.0,
                    125.0,
                    125.0,
                ]),
            ),
            (
                name: "ExplosionForwardDist",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "ExplosionBackwardDist",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "ExplosionForwardBackWidth",
                values: Some([
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                ]),
            ),
            (
                name: "ExplosionCenterAoERadius",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "ExplosionForwardOffset",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "MissileSpawnOffset",
                values: None,
            ),
        ]),
        mana: Some([
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)