(
  resources: {},
  entities: {
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "SRU_OrderMinionRanged",
        "lol_core::attack::Attack": (
          range: 550.0,
          base_attack_speed: 0.6666667,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.47,
            attack_total_time: 1.5,
          ),
          windup_modifier: 1.0,
          spell: Path("characters/SRU_OrderMinionRanged/spells/SRU_OrderMinionRangedBasicAttack.ron"),
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.0,
          max: 0.0,
          base: 0.0,
          per_level: 0.0,
          base_static_regen: 0.0,
          regen_per_level: 0.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.7437,
          height: 48.0,
        ),
        "lol_core::base::level::ExperienceDrop": (
          exp_given_on_death: 31.0,
          experience_radius: 1400.0,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (0.0),
        "lol_core::damage::Damage": (19.5),
        "lol_core::life::Health": (
          value: 275.0,
          max: 275.0,
        ),
        "lol_core::movement::Movement": (
          speed: 350.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "SRU_OrderMinionRangedBasicAttack": Path("characters/SRU_OrderMinionRanged/spells/SRU_OrderMinionRangedBasicAttack.ron"),
          "SRU_OrderMinionRangedBasicAttack2": Path("characters/SRU_OrderMinionRanged/spells/SRU_OrderMinionRangedBasicAttack2.ron"),
          "SRU_OrderMinionRangedBasicAttack_Frenzy": Path("characters/SRU_OrderMinionRanged/spells/SRU_OrderMinionRangedBasicAttack_Frenzy.ron"),
        }),
      },
    ),
  },
)