(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    25.0,
                    70.0,
                    115.0,
                    160.0,
                    205.0,
                    250.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                ]),
            ),
            (
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2200.0),
                startBoneName: None,
                tracksTarget: Some(false),
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(90.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: None,
        missileSpeed: Some(2200.0),
        missileEffectKey: Some(2416398167),
        castType: Some(3),
        castRange: Some([
            1300.0,
            1300.0,
            1300.0,
            1300.0,
            1300.0,
            1300.0,
            1300.0,
        ]),
        castRadius: Some([
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(90.0),
        castFrame: Some(30.0),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: Some(1.6),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)