(
    spellData: Some((
        calculations: Some({
            "brush_attack_total": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "head_shot_bonus_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(2),
                        subpart: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "head_shot_minion_bonus_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(2),
                        subpart: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x36ebd3cf": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(9),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x42962485": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "CriticalStrikeScaling",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "TowerCap",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                name: "AttacksPerHeadshot",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "BrushStackBonus",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)