(
    spellData: Some((
        calculations: Some({
            612685811: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3136015719,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "EchoCastDelay",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
            (
                name: "AutoAPRatio",
                values: Some([
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                ]),
            ),
            (
                name: "MaxNotes",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "AllyNoteDamagePercent",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "NoteDuration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "BonusAARange",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
            (
                name: "DelayBetweenNoteCasts",
                values: Some([
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                    0.075,
                ]),
            ),
            (
                name: "NoteRadius",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "DelayBetweenNoteCastsDecayRate",
                values: Some([
                    0.95,
                    0.95,
                    0.95,
                    0.95,
                    0.95,
                    0.95,
                    0.95,
                ]),
            ),
            (
                name: "MinionDamageMultiplier",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "NoteAPRatio",
                values: Some([
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)