(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "move_speed": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_move_speed",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.0005),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x98c0d8e": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "unk_0x6fda3861",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.6),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "health_cost",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    40.0,
                    80.0,
                    120.0,
                    160.0,
                    200.0,
                    240.0,
                    280.0,
                ]),
            ),
            (
                name: "BaseMoveSpeed",
                values: Some([
                    0.35,
                    0.4,
                    0.45,
                    0.5,
                    0.55,
                    0.6,
                    0.65,
                ]),
            ),
            (
                name: "Duration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "Radius",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "BaseDamageRestoreAmount",
                values: Some([
                    30.0,
                    60.0,
                    90.0,
                    120.0,
                    150.0,
                    180.0,
                    210.0,
                ]),
            ),
            (
                name: "MinDashRange",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "HealthCost",
                values: Some([
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                    160.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        castRadius: Some([
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
        ]),
        castConeAngle: Some(0.0),
        castConeDistance: Some(0.0),
        lineWidth: None,
        castFrame: Some(8.0),
        animationName: Some("Spell3_Dance"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        iconPath: Some([
            "ASSETS/Characters/Locke/HUD/Icons2D/Locke_W2.Locke.dds",
        ]),
        useAnimatorFramerate: Some(true),
    )),
)