(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    1350.0,
                    1350.0,
                    1350.0,
                    1350.0,
                    1350.0,
                    1350.0,
                    1350.0,
                ]),
            ),
        ]),
        dataValues: None,
        mana: Some([
            25.0,
            25.0,
            25.0,
            25.0,
            25.0,
            25.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
        ]),
        castRadius: Some([
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell2b"),
        cooldownTime: Some([
            12.0,
            12.0,
            12.0,
            12.0,
            12.0,
            12.0,
            12.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: Some("LeeSinWOne"),
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)