(
    gltf_path: "characters/Vayne/skins/skin0.glb",
    hash_to_node: {
        "Attack": Selector(
            probably_nodes: [
                (
                    key: "Attack1",
                    value: 1.0,
                ),
                (
                    key: "Attack2",
                    value: 1.0,
                ),
            ],
        ),
        "Attack1": Selector(
            probably_nodes: [
                (
                    key: "Unk0xbe3c99d2",
                    value: 50.0,
                ),
                (
                    key: "Unk0xbd3c983f",
                    value: 50.0,
                ),
            ],
        ),
        "AttackTumble": Clip(
            node_index: 2,
        ),
        "AttackTumbleUlt": Clip(
            node_index: 8,
        ),
        "AttackUlt": Clip(
            node_index: 24,
        ),
        "Channel": Clip(
            node_index: 4,
        ),
        "ChannelWndup": Clip(
            node_index: 15,
        ),
        "Crit": Clip(
            node_index: 9,
        ),
        "Dance": Clip(
            node_index: 25,
        ),
        "Death": Clip(
            node_index: 20,
        ),
        "Idle1": Clip(
            node_index: 12,
        ),
        "Idle2": Clip(
            node_index: 11,
        ),
        "Idle3": Clip(
            node_index: 10,
        ),
        "Idle4": Clip(
            node_index: 14,
        ),
        "IdleTumbleUlt": Clip(
            node_index: 6,
        ),
        "IdleUlt": Clip(
            node_index: 26,
        ),
        "Joke": Clip(
            node_index: 23,
        ),
        "Laugh": Clip(
            node_index: 18,
        ),
        "Recall": Sequence(
            hashes: [
                "Idle3",
                "Idle1",
            ],
        ),
        "Run": Clip(
            node_index: 5,
        ),
        "RunTumble": Clip(
            node_index: 7,
        ),
        "RunUlt": Clip(
            node_index: 3,
        ),
        "Spell1": Clip(
            node_index: 16,
        ),
        "Spell3": Clip(
            node_index: 17,
        ),
        "Taunt": Clip(
            node_index: 19,
        ),
        "Unk0x37e9b0f": Clip(
            node_index: 1,
        ),
        "Unk0xa22e456f": Clip(
            node_index: 13,
        ),
        "Unk0xbd3c983f": Clip(
            node_index: 21,
        ),
        "Unk0xbe3c99d2": Clip(
            node_index: 22,
        ),
    },
    blend_data: {
        ("Attack1", "Death"): Time(
            time: 0.0,
        ),
        ("AttackTumble", "Death"): Time(
            time: 0.0,
        ),
        ("AttackTumbleUlt", "Death"): Time(
            time: 0.0,
        ),
        ("AttackUlt", "Death"): Time(
            time: 0.0,
        ),
        ("Channel", "Death"): Time(
            time: 0.0,
        ),
        ("ChannelWndup", "Death"): Time(
            time: 0.0,
        ),
        ("Crit", "Death"): Time(
            time: 0.0,
        ),
        ("Dance", "Death"): Time(
            time: 0.0,
        ),
        ("Death", "Death"): Time(
            time: 0.0,
        ),
        ("Idle1", "Death"): Time(
            time: 0.0,
        ),
        ("Idle2", "Death"): Time(
            time: 0.0,
        ),
        ("Idle3", "Death"): Time(
            time: 0.0,
        ),
        ("Idle4", "Death"): Time(
            time: 0.0,
        ),
        ("IdleTumbleUlt", "Death"): Time(
            time: 0.0,
        ),
        ("IdleUlt", "Death"): Time(
            time: 0.0,
        ),
        ("Joke", "Death"): Time(
            time: 0.0,
        ),
        ("Laugh", "Death"): Time(
            time: 0.0,
        ),
        ("Run", "Death"): Time(
            time: 0.0,
        ),
        ("RunTumble", "Death"): Time(
            time: 0.0,
        ),
        ("RunUlt", "Death"): Time(
            time: 0.0,
        ),
        ("Spell1", "Death"): Time(
            time: 0.0,
        ),
        ("Spell3", "Death"): Time(
            time: 0.0,
        ),
        ("Taunt", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0x37e9b0f", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xa22e456f", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xbd3c983f", "Death"): Time(
            time: 0.0,
        ),
        ("Unk0xbe3c99d2", "Death"): Time(
            time: 0.0,
        ),
    },
)