(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    20.0,
                    110.0,
                    200.0,
                    100.0,
                    100.0,
                    190.0,
                ]),
            ),
            (
                values: Some([
                    7.5,
                    10.0,
                    12.5,
                    15.0,
                    17.5,
                    20.0,
                    22.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("R_hand"),
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)