(
    events: {
        "Dance3D_buffactivate": [
            "characters/Jayce/sounds/562335611.ogg",
        ],
        "Dance3D_buffactivate_loop": [
            "characters/Jayce/sounds/680907332.ogg",
        ],
        "Death3D_cast": [
            "characters/Jayce/sounds/699979098.ogg",
        ],
        "JayceAccelerationGate_OnCast": [
            "characters/Jayce/sounds/108406488.ogg",
            "characters/Jayce/sounds/638500898.ogg",
            "characters/Jayce/sounds/673419753.ogg",
        ],
        "JayceAcceleratorBeam_buffactivate_loop": [
            "characters/Jayce/sounds/418743984.ogg",
            "characters/Jayce/sounds/934677978.ogg",
            "characters/Jayce/sounds/969307420.ogg",
        ],
        "JayceAcceleratorBeam_buffdeactivate": [
            "characters/Jayce/sounds/336255117.ogg",
            "characters/Jayce/sounds/380698579.ogg",
            "characters/Jayce/sounds/757249478.ogg",
        ],
        "JayceAcceleratorChampionBuff_OnBuffActivate": [
            "characters/Jayce/sounds/192212062.ogg",
            "characters/Jayce/sounds/669545291.ogg",
            "characters/Jayce/sounds/819587272.ogg",
        ],
        "JayceBasicAttack2_OnCast": [
            "characters/Jayce/sounds/206986053.ogg",
            "characters/Jayce/sounds/264287068.ogg",
            "characters/Jayce/sounds/291805955.ogg",
            "characters/Jayce/sounds/345019387.ogg",
        ],
        "JayceBasicAttack2_OnHit": [
            "characters/Jayce/sounds/1011981752.ogg",
            "characters/Jayce/sounds/309043029.ogg",
            "characters/Jayce/sounds/313447979.ogg",
            "characters/Jayce/sounds/369546552.ogg",
            "characters/Jayce/sounds/42284968.ogg",
            "characters/Jayce/sounds/44966779.ogg",
            "characters/Jayce/sounds/471134525.ogg",
            "characters/Jayce/sounds/50329535.ogg",
            "characters/Jayce/sounds/595029068.ogg",
            "characters/Jayce/sounds/606004666.ogg",
            "characters/Jayce/sounds/694346607.ogg",
            "characters/Jayce/sounds/89525575.ogg",
            "characters/Jayce/sounds/918841333.ogg",
            "characters/Jayce/sounds/933261187.ogg",
            "characters/Jayce/sounds/939731848.ogg",
            "characters/Jayce/sounds/978035778.ogg",
        ],
        "JayceBasicAttack_OnCast": [
            "characters/Jayce/sounds/206986053.ogg",
            "characters/Jayce/sounds/264287068.ogg",
            "characters/Jayce/sounds/291805955.ogg",
            "characters/Jayce/sounds/345019387.ogg",
        ],
        "JayceBasicAttack_OnHit": [
            "characters/Jayce/sounds/1011981752.ogg",
            "characters/Jayce/sounds/309043029.ogg",
            "characters/Jayce/sounds/313447979.ogg",
            "characters/Jayce/sounds/369546552.ogg",
            "characters/Jayce/sounds/42284968.ogg",
            "characters/Jayce/sounds/44966779.ogg",
            "characters/Jayce/sounds/471134525.ogg",
            "characters/Jayce/sounds/50329535.ogg",
            "characters/Jayce/sounds/595029068.ogg",
            "characters/Jayce/sounds/606004666.ogg",
            "characters/Jayce/sounds/694346607.ogg",
            "characters/Jayce/sounds/89525575.ogg",
            "characters/Jayce/sounds/918841333.ogg",
            "characters/Jayce/sounds/933261187.ogg",
            "characters/Jayce/sounds/939731848.ogg",
            "characters/Jayce/sounds/978035778.ogg",
        ],
        "JayceCritAttack_OnCast": [
            "characters/Jayce/sounds/1014792336.ogg",
            "characters/Jayce/sounds/1043203749.ogg",
            "characters/Jayce/sounds/1054165674.ogg",
            "characters/Jayce/sounds/459402345.ogg",
            "characters/Jayce/sounds/800152657.ogg",
        ],
        "JayceCritAttack_OnHit": [
            "characters/Jayce/sounds/1011981752.ogg",
            "characters/Jayce/sounds/309043029.ogg",
            "characters/Jayce/sounds/313447979.ogg",
            "characters/Jayce/sounds/369546552.ogg",
            "characters/Jayce/sounds/42284968.ogg",
            "characters/Jayce/sounds/44966779.ogg",
            "characters/Jayce/sounds/471134525.ogg",
            "characters/Jayce/sounds/50329535.ogg",
            "characters/Jayce/sounds/595029068.ogg",
            "characters/Jayce/sounds/606004666.ogg",
            "characters/Jayce/sounds/694346607.ogg",
            "characters/Jayce/sounds/89525575.ogg",
            "characters/Jayce/sounds/918841333.ogg",
            "characters/Jayce/sounds/933261187.ogg",
            "characters/Jayce/sounds/939731848.ogg",
            "characters/Jayce/sounds/978035778.ogg",
        ],
        "JayceHyperChargeRangedAttack_OnCast": [
            "characters/Jayce/sounds/379069507.ogg",
            "characters/Jayce/sounds/627622591.ogg",
            "characters/Jayce/sounds/64626272.ogg",
            "characters/Jayce/sounds/78354346.ogg",
        ],
        "JayceHyperChargeRangedAttack_OnHit": [
            "characters/Jayce/sounds/726082666.ogg",
            "characters/Jayce/sounds/855867948.ogg",
            "characters/Jayce/sounds/872800774.ogg",
            "characters/Jayce/sounds/898581500.ogg",
            "characters/Jayce/sounds/997434646.ogg",
        ],
        "JayceHyperChargeRangedAttack_OnMissileLaunch": [
            "characters/Jayce/sounds/164858832.ogg",
            "characters/Jayce/sounds/293299447.ogg",
            "characters/Jayce/sounds/355881247.ogg",
            "characters/Jayce/sounds/440739832.ogg",
        ],
        "JayceHyperCharge_OnBuffActivate": [
            "characters/Jayce/sounds/266194842.ogg",
        ],
        "JayceHyperCharge_OnBuffDeactivate": [
            "characters/Jayce/sounds/55065671.ogg",
        ],
        "JayceHyperCharge_OnCast": [
            "characters/Jayce/sounds/817944486.ogg",
        ],
        "JaycePassiveMeleeAttack_OnCast": [
            "characters/Jayce/sounds/345019387.ogg",
        ],
        "JaycePassiveMeleeAttack_OnHit": [
            "characters/Jayce/sounds/313447979.ogg",
            "characters/Jayce/sounds/369546552.ogg",
            "characters/Jayce/sounds/606004666.ogg",
            "characters/Jayce/sounds/694346607.ogg",
            "characters/Jayce/sounds/871853562.ogg",
        ],
        "JaycePassiveRangedAttack_OnCast": [
            "characters/Jayce/sounds/379069507.ogg",
            "characters/Jayce/sounds/64626272.ogg",
            "characters/Jayce/sounds/673888345.ogg",
            "characters/Jayce/sounds/78354346.ogg",
        ],
        "JaycePassiveRangedAttack_OnMissileLaunch": [
            "characters/Jayce/sounds/164858832.ogg",
            "characters/Jayce/sounds/293299447.ogg",
            "characters/Jayce/sounds/355881247.ogg",
            "characters/Jayce/sounds/440739832.ogg",
        ],
        "JaycePassiveRangedAttack_hit": [
            "characters/Jayce/sounds/454280872.ogg",
        ],
        "JayceRangedAttack2_OnCast": [
            "characters/Jayce/sounds/351068205.ogg",
            "characters/Jayce/sounds/379962618.ogg",
            "characters/Jayce/sounds/668172140.ogg",
            "characters/Jayce/sounds/669443932.ogg",
        ],
        "JayceRangedAttack2_OnHit": [
            "characters/Jayce/sounds/726082666.ogg",
            "characters/Jayce/sounds/855867948.ogg",
            "characters/Jayce/sounds/872800774.ogg",
            "characters/Jayce/sounds/898581500.ogg",
            "characters/Jayce/sounds/997434646.ogg",
        ],
        "JayceRangedAttack2_OnMissileLaunch": [
            "characters/Jayce/sounds/164858832.ogg",
            "characters/Jayce/sounds/293299447.ogg",
            "characters/Jayce/sounds/355881247.ogg",
            "characters/Jayce/sounds/440739832.ogg",
        ],
        "JayceRangedAttack_OnCast": [
            "characters/Jayce/sounds/351068205.ogg",
            "characters/Jayce/sounds/379962618.ogg",
            "characters/Jayce/sounds/668172140.ogg",
            "characters/Jayce/sounds/669443932.ogg",
        ],
        "JayceRangedAttack_OnHit": [
            "characters/Jayce/sounds/726082666.ogg",
            "characters/Jayce/sounds/855867948.ogg",
            "characters/Jayce/sounds/872800774.ogg",
            "characters/Jayce/sounds/898581500.ogg",
            "characters/Jayce/sounds/997434646.ogg",
        ],
        "JayceRangedAttack_OnMissileLaunch": [
            "characters/Jayce/sounds/164858832.ogg",
            "characters/Jayce/sounds/293299447.ogg",
            "characters/Jayce/sounds/355881247.ogg",
            "characters/Jayce/sounds/440739832.ogg",
        ],
        "JayceRangedCritAttack_OnCast": [
            "characters/Jayce/sounds/379069507.ogg",
            "characters/Jayce/sounds/64626272.ogg",
            "characters/Jayce/sounds/673888345.ogg",
            "characters/Jayce/sounds/78354346.ogg",
        ],
        "JayceRangedCritAttack_OnHit": [
            "characters/Jayce/sounds/726082666.ogg",
            "characters/Jayce/sounds/855867948.ogg",
            "characters/Jayce/sounds/872800774.ogg",
            "characters/Jayce/sounds/898581500.ogg",
            "characters/Jayce/sounds/997434646.ogg",
        ],
        "JayceRangedCritAttack_OnMissileLaunch": [
            "characters/Jayce/sounds/164858832.ogg",
            "characters/Jayce/sounds/293299447.ogg",
            "characters/Jayce/sounds/355881247.ogg",
            "characters/Jayce/sounds/440739832.ogg",
        ],
        "JayceShockBlastMis_OnMissileLaunch": [
            "characters/Jayce/sounds/130386377.ogg",
        ],
        "JayceShockBlastMis_hit": [
            "characters/Jayce/sounds/332479465.ogg",
        ],
        "JayceShockBlastWallMis_OnMissileLaunch": [
            "characters/Jayce/sounds/78859068.ogg",
        ],
        "JayceShockBlastWallMis_hit": [
            "characters/Jayce/sounds/760263547.ogg",
        ],
        "JayceShockBlast_OnCast": [
            "characters/Jayce/sounds/93286192.ogg",
        ],
        "JayceStanceGtH_OnCast": [
            "characters/Jayce/sounds/114452615.ogg",
        ],
        "JayceStanceHtG_OnCast": [
            "characters/Jayce/sounds/768250984.ogg",
        ],
        "JayceStaticField_OnBuffActivate": [
            "characters/Jayce/sounds/53193422.ogg",
        ],
        "JayceStaticField_OnBuffDeactivate": [
            "characters/Jayce/sounds/1001909045.ogg",
        ],
        "JayceStaticField_OnCast": [
            "characters/Jayce/sounds/721796847.ogg",
        ],
        "JayceThunderingBlow_OnCast": [
            "characters/Jayce/sounds/403878803.ogg",
        ],
        "JayceThunderingBlow_OnHit": [
            "characters/Jayce/sounds/222225550.ogg",
        ],
        "JayceToTheSkies_OnCast": [
            "characters/Jayce/sounds/680243973.ogg",
        ],
        "JayceToTheSkies_hit": [
            "characters/Jayce/sounds/504065354.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Jayce/sounds/967441032.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Jayce/sounds/230865658.ogg",
        ],
        "Play_vo_Jayce_Attack2DGeneral": [
            "characters/Jayce/sounds/318632559.ogg",
            "characters/Jayce/sounds/345633553.ogg",
            "characters/Jayce/sounds/390026702.ogg",
            "characters/Jayce/sounds/432292678.ogg",
            "characters/Jayce/sounds/663842389.ogg",
            "characters/Jayce/sounds/730310447.ogg",
        ],
        "Play_vo_Jayce_Death3D": [
            "characters/Jayce/sounds/144257091.ogg",
            "characters/Jayce/sounds/313113049.ogg",
            "characters/Jayce/sounds/601418213.ogg",
            "characters/Jayce/sounds/856281580.ogg",
        ],
        "Play_vo_Jayce_JayceBasicAttack2_cast3D": [
            "characters/Jayce/sounds/150006997.ogg",
            "characters/Jayce/sounds/691099769.ogg",
            "characters/Jayce/sounds/74483334.ogg",
            "characters/Jayce/sounds/980496453.ogg",
        ],
        "Play_vo_Jayce_JayceBasicAttack_cast3D": [
            "characters/Jayce/sounds/150006997.ogg",
            "characters/Jayce/sounds/691099769.ogg",
            "characters/Jayce/sounds/74483334.ogg",
            "characters/Jayce/sounds/980496453.ogg",
        ],
        "Play_vo_Jayce_JayceCritAttack_cast3D": [
            "characters/Jayce/sounds/150006997.ogg",
            "characters/Jayce/sounds/691099769.ogg",
            "characters/Jayce/sounds/74483334.ogg",
            "characters/Jayce/sounds/980496453.ogg",
        ],
        "Play_vo_Jayce_JayceShockBlastWallSoundHit_OnBuffActivate": [
            "characters/Jayce/sounds/172340885.ogg",
            "characters/Jayce/sounds/445068037.ogg",
            "characters/Jayce/sounds/55970433.ogg",
            "characters/Jayce/sounds/634388588.ogg",
        ],
        "Play_vo_Jayce_JayceShockBlastWallSound_OnBuffActivate": [
            "characters/Jayce/sounds/183337901.ogg",
            "characters/Jayce/sounds/286681046.ogg",
            "characters/Jayce/sounds/719463451.ogg",
            "characters/Jayce/sounds/807821234.ogg",
        ],
        "Play_vo_Jayce_JayceShockBlast_cast3D": [
            "characters/Jayce/sounds/150006997.ogg",
            "characters/Jayce/sounds/154484754.ogg",
            "characters/Jayce/sounds/760440018.ogg",
            "characters/Jayce/sounds/980496453.ogg",
        ],
        "Play_vo_Jayce_JayceStanceGtH_cast3D": [
            "characters/Jayce/sounds/570247311.ogg",
            "characters/Jayce/sounds/665688877.ogg",
        ],
        "Play_vo_Jayce_JayceStanceHtG_cast3D": [
            "characters/Jayce/sounds/334946303.ogg",
            "characters/Jayce/sounds/570247311.ogg",
        ],
        "Play_vo_Jayce_JayceThunderingBlow_cast3D": [
            "characters/Jayce/sounds/172247973.ogg",
            "characters/Jayce/sounds/191142470.ogg",
            "characters/Jayce/sounds/933912318.ogg",
        ],
        "Play_vo_Jayce_JayceToTheSkies_cast3D": [
            "characters/Jayce/sounds/147472796.ogg",
            "characters/Jayce/sounds/429158731.ogg",
            "characters/Jayce/sounds/697809553.ogg",
            "characters/Jayce/sounds/76164407.ogg",
            "characters/Jayce/sounds/892417608.ogg",
        ],
        "Play_vo_Jayce_Joke3DGeneral": [
            "characters/Jayce/sounds/144947583.ogg",
            "characters/Jayce/sounds/931749907.ogg",
        ],
        "Play_vo_Jayce_Laugh3DGeneral": [
            "characters/Jayce/sounds/569400636.ogg",
            "characters/Jayce/sounds/7083179.ogg",
            "characters/Jayce/sounds/808194867.ogg",
            "characters/Jayce/sounds/815779042.ogg",
        ],
        "Play_vo_Jayce_Move2DStandard": [
            "characters/Jayce/sounds/103775179.ogg",
            "characters/Jayce/sounds/1040199706.ogg",
            "characters/Jayce/sounds/1059231592.ogg",
            "characters/Jayce/sounds/253437368.ogg",
            "characters/Jayce/sounds/423361663.ogg",
            "characters/Jayce/sounds/450441374.ogg",
            "characters/Jayce/sounds/460475112.ogg",
            "characters/Jayce/sounds/565928935.ogg",
            "characters/Jayce/sounds/6591692.ogg",
            "characters/Jayce/sounds/804753243.ogg",
        ],
        "Play_vo_Jayce_Taunt3DGeneral": [
            "characters/Jayce/sounds/256983953.ogg",
            "characters/Jayce/sounds/453574644.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Jayce/sounds/847464423.ogg",
        ],
    },
)