(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    5.0,
                    60.0,
                    115.0,
                    170.0,
                    225.0,
                    280.0,
                    335.0,
                ]),
            ),
            (
                values: Some([
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)