(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_ms": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "ms_percent",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "msap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            "total_slow": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "slow_percent",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "slow_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "MSPercent",
                values: Some([
                    0.05,
                    0.06,
                    0.07,
                    0.08,
                    0.09,
                    0.1,
                    0.11,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    25.0,
                    55.0,
                    85.0,
                    115.0,
                    145.0,
                    175.0,
                    205.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "SlowPercent",
                values: Some([
                    16.0,
                    20.0,
                    24.0,
                    28.0,
                    32.0,
                    36.0,
                    40.0,
                ]),
            ),
            (
                name: "MSAPRatio",
                values: Some([
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                    0.0002,
                ]),
            ),
            (
                name: "SlowAPRatio",
                values: Some([
                    0.06,
                    0.06,
                    0.06,
                    0.06,
                    0.06,
                    0.06,
                    0.06,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            70.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1600.0),
                startBoneName: Some("head"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(645636061),
        castType: Some(1),
    )),
)