(
    spellData: Some((
        calculations: Some({
            1801213369: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 467962025,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "RBaseDamage",
                values: Some([
                    0.0,
                    200.0,
                    400.0,
                    600.0,
                    800.0,
                    1000.0,
                    1200.0,
                ]),
            ),
            (
                name: "MinStunDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "MaxStunDuration",
                values: Some([
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                ]),
            ),
            (
                name: "SlowRadius",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "AoECoefficient",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            0.0,
            0.0,
            0.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(1945032703),
        castType: Some(3),
    )),
)