(
    spellData: Some((
        calculations: Some({
            "r_main_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "r_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "RBaseDamage",
                values: Some([
                    0.0,
                    200.0,
                    400.0,
                    600.0,
                    800.0,
                    1000.0,
                    1200.0,
                ]),
            ),
            (
                name: "MinStunDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "MaxStunDuration",
                values: Some([
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                ]),
            ),
            (
                name: "SlowRadius",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "AoECoefficient",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            0.0,
            0.0,
            0.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(130.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(1945032703),
        castType: Some(3),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(130.0),
        castFrame: Some(7.5),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            100.0,
            100.0,
            80.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(4106),
        alternateName: Some("EnchantedCrystalArrow"),
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)