(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: Some(2600.0),
        missileEffectKey: Some(508680516),
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(60.0),
        castFrame: Some(7.5),
        animationName: Some("Crit"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(7375),
        alternateName: Some("ZoeBasicAttackPassive"),
        coefficient: None,
        hitEffectKey: Some(3718429331),
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)