(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2600.0),
                startBoneName: Some("C_buffbone_Glb_Center_Loc"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(20.0),
            ),
            missileWidth: Some(60.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: Some(2600.0),
        missileEffectKey: Some(2286856927),
        castType: Some(1),
        castRange: Some([
            300.0,
            300.0,
            300.0,
            300.0,
            300.0,
            300.0,
            300.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(60.0),
        castFrame: Some(7.0),
        animationName: Some("Empowered_Attack"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(7375),
        alternateName: Some("ZoeBasicAttackPassive"),
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)