(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(60.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(2444658296),
        castType: Some(8),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(60.0),
        castFrame: None,
        animationName: Some("Crit"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6826),
        alternateName: Some("ZoeBasicAttackPassive"),
        coefficient: None,
        hitEffectKey: Some(3718429331),
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)