(
    spellData: Some((
        calculations: Some({
            "break_damage_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.45),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_damage_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.45),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    70.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                values: Some([
                    0.1,
                    0.1,
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                    0.35,
                ]),
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    15.0,
                    25.0,
                    35.0,
                    45.0,
                    55.0,
                ]),
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                values: Some([
                    0.1,
                    0.1,
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                    0.35,
                ]),
            ),
            (
                values: Some([
                    70.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                values: Some([
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                ]),
            ),
            (
                values: Some([
                    1.4,
                    1.4,
                    1.4,
                    1.4,
                    1.4,
                    1.4,
                    1.4,
                ]),
            ),
            (
                values: Some([
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        dataValues: Some([
            (
                name: "PercentPen",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "CooldownRefresh",
                values: Some([
                    0.125,
                    0.16,
                    0.195,
                    0.23,
                    0.265,
                    0.3,
                    0.335,
                ]),
            ),
        ]),
        mana: Some([
            80.0,
            80.0,
            80.0,
            80.0,
            80.0,
            80.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1850.0),
                startBoneName: Some("Glb_Buffbone_Center_Loc"),
                tracksTarget: None,
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(40.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("root"),
        missileSpeed: Some(1700.0),
        missileEffectKey: None,
        castType: Some(3),
        castRange: Some([
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(40.0),
        castFrame: Some(7.53),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            18.0,
            18.0,
            17.0,
            16.0,
            15.0,
            14.0,
            14.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: Some("ZoeE"),
        coefficient: Some(0.45),
        hitEffectKey: Some(4113901101),
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)