(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    30.0,
                    30.0,
                    75.0,
                    110.0,
                    145.0,
                    180.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    15.0,
                    32.5,
                    55.0,
                    72.5,
                    90.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    60.0,
                    150.0,
                    220.0,
                    190.0,
                    360.0,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1800.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            675.0,
        ]),
        castRadius: Some([
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(15.0),
        animationName: Some("None"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(9221),
        alternateName: Some("AhriFoxFire"),
        coefficient: Some(0.4),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)