(
    spellData: Some((
        calculations: Some({
            "missile_damage_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "total_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "total_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    3000.0,
                    3000.0,
                    4500.0,
                    6000.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                values: Some([
                    2500.0,
                    2500.0,
                    2500.0,
                    2500.0,
                    2500.0,
                    2500.0,
                    2500.0,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    20.0,
                ]),
            ),
            (
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.3,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.25,
                    2.5,
                    2.75,
                    3.0,
                    3.25,
                ]),
            ),
        ]),
        dataValues: Some([
            (
                name: "TotalBaseDamage",
                values: Some([
                    5.0,
                    15.0,
                    25.0,
                    35.0,
                    45.0,
                    55.0,
                    65.0,
                ]),
            ),
            (
                name: "TotalAPRatio",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "MoveSpeedMod",
                values: Some([
                    0.2,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                ]),
            ),
            (
                name: "MoveSpeedDuration",
                values: Some([
                    1.75,
                    2.0,
                    2.25,
                    2.5,
                    2.75,
                    3.0,
                    3.25,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(2000.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(120.0),
        castFrame: Some(0.1),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            0.25,
            0.25,
            0.25,
            0.25,
            0.25,
            0.25,
            0.25,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: Some(0.4),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)