(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Senna/spells/SennaPassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 140.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Senna/spells/SennaR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 26.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Senna/spells/SennaE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 11.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Senna/spells/SennaW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 15.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Senna/spells/SennaQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Senna",
        "lol_core::attack::Attack": (
          range: 800.0,
          base_attack_speed: 0.625,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.55,
            attack_total_time: 1.6,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.14,
          max: 0.14,
          base: 0.14,
          per_level: 0.0,
          base_static_regen: 45.0,
          regen_per_level: 350.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.0,
          height: 90.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.0),
        "lol_core::damage::Damage": (50.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 530.0,
          max: 530.0,
        ),
        "lol_core::movement::Movement": (
          speed: 330.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "SennaBasicAttack": Path("characters/Senna/spells/SennaBasicAttack.ron"),
          "SennaBasicAttack2": Path("characters/Senna/spells/SennaBasicAttack2.ron"),
          "SennaBasicAttack3": Path("characters/Senna/spells/SennaBasicAttack3.ron"),
          "SennaBasicAttackSouls": Path("characters/Senna/spells/SennaBasicAttackSouls.ron"),
          "SennaCritAttack": Path("characters/Senna/spells/SennaCritAttack.ron"),
          "SennaCritAttack2": Path("characters/Senna/spells/SennaCritAttack2.ron"),
          "SennaE": Path("characters/Senna/spells/SennaE.ron"),
          "SennaPassive": Path("characters/Senna/spells/SennaPassive.ron"),
          "SennaPassiveStacks": Path("characters/Senna/spells/SennaPassiveStacks.ron"),
          "SennaQ": Path("characters/Senna/spells/SennaQ.ron"),
          "SennaQCast": Path("characters/Senna/spells/SennaQCast.ron"),
          "SennaQDummySpell": Path("characters/Senna/spells/SennaQDummySpell.ron"),
          "SennaQuestActive": Path("characters/Senna/spells/SennaQuestActive.ron"),
          "SennaQuestActiveThresh": Path("characters/Senna/spells/SennaQuestActiveThresh.ron"),
          "SennaQuestReward": Path("characters/Senna/spells/SennaQuestReward.ron"),
          "SennaQuestRewardThreshKilledLucian": Path("characters/Senna/spells/SennaQuestRewardThreshKilledLucian.ron"),
          "SennaQuestRewardThreshKilledSenna": Path("characters/Senna/spells/SennaQuestRewardThreshKilledSenna.ron"),
          "SennaR": Path("characters/Senna/spells/SennaR.ron"),
          "SennaRAlly": Path("characters/Senna/spells/SennaRAlly.ron"),
          "SennaRWarningMis": Path("characters/Senna/spells/SennaRWarningMis.ron"),
          "SennaSkin56Manager": Path("characters/Senna/spells/SennaSkin56Manager.ron"),
          "SennaW": Path("characters/Senna/spells/SennaW.ron"),
          "SennaWraithTrackingMis": Path("characters/Senna/spells/SennaWraithTrackingMis.ron"),
          "SennaWraithVFXMis": Path("characters/Senna/spells/SennaWraithVFXMis.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)