(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                    230.0,
                ]),
            ),
            (
                values: Some([
                    13.0,
                    12.0,
                    11.0,
                    10.0,
                    9.0,
                    8.0,
                    7.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(950.0),
                startBoneName: Some("head"),
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(110.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(850.0),
        missileEffectKey: Some(2281920883),
        castType: Some(3),
        castRange: Some([
            1100.0,
            1100.0,
            1100.0,
            1100.0,
            1100.0,
            1100.0,
            1100.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(110.0),
        castFrame: Some(7.5),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            10.0,
            10.0,
            9.5,
            9.0,
            8.5,
            8.0,
            8.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: Some("FlashFrostSpell"),
        coefficient: Some(0.45),
        hitEffectKey: Some(1744495673),
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)