(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.55),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    55.0,
                    80.0,
                    105.0,
                    130.0,
                    155.0,
                    180.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1600.0),
                startBoneName: Some("head"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(1505152615),
        castType: Some(1),
        castRange: Some([
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
        ]),
        castRadius: Some([
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("Frostbite"),
        coefficient: None,
        hitEffectKey: Some(438621595),
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)