(
    events: {
        "ChogathBasicAttack2_OnCast": [
            "characters/Chogath/sounds/34827209.ogg",
            "characters/Chogath/sounds/445555556.ogg",
            "characters/Chogath/sounds/84729763.ogg",
            "characters/Chogath/sounds/926346584.ogg",
        ],
        "ChogathBasicAttack2_OnHit": [
            "characters/Chogath/sounds/1047014420.ogg",
            "characters/Chogath/sounds/171612265.ogg",
            "characters/Chogath/sounds/303377640.ogg",
            "characters/Chogath/sounds/305988490.ogg",
            "characters/Chogath/sounds/332086346.ogg",
            "characters/Chogath/sounds/345953777.ogg",
            "characters/Chogath/sounds/482434497.ogg",
            "characters/Chogath/sounds/590563639.ogg",
            "characters/Chogath/sounds/615744977.ogg",
            "characters/Chogath/sounds/680165651.ogg",
            "characters/Chogath/sounds/712987438.ogg",
            "characters/Chogath/sounds/757441876.ogg",
            "characters/Chogath/sounds/878342703.ogg",
            "characters/Chogath/sounds/893316744.ogg",
            "characters/Chogath/sounds/933030002.ogg",
            "characters/Chogath/sounds/98426258.ogg",
        ],
        "ChogathBasicAttack_OnCast": [
            "characters/Chogath/sounds/34827209.ogg",
            "characters/Chogath/sounds/445555556.ogg",
            "characters/Chogath/sounds/84729763.ogg",
            "characters/Chogath/sounds/926346584.ogg",
        ],
        "ChogathBasicAttack_OnHit": [
            "characters/Chogath/sounds/1047014420.ogg",
            "characters/Chogath/sounds/171612265.ogg",
            "characters/Chogath/sounds/303377640.ogg",
            "characters/Chogath/sounds/305988490.ogg",
            "characters/Chogath/sounds/332086346.ogg",
            "characters/Chogath/sounds/345953777.ogg",
            "characters/Chogath/sounds/482434497.ogg",
            "characters/Chogath/sounds/590563639.ogg",
            "characters/Chogath/sounds/615744977.ogg",
            "characters/Chogath/sounds/680165651.ogg",
            "characters/Chogath/sounds/712987438.ogg",
            "characters/Chogath/sounds/757441876.ogg",
            "characters/Chogath/sounds/878342703.ogg",
            "characters/Chogath/sounds/893316744.ogg",
            "characters/Chogath/sounds/933030002.ogg",
            "characters/Chogath/sounds/98426258.ogg",
        ],
        "ChogathCritAttack_OnCast": [
            "characters/Chogath/sounds/335609258.ogg",
            "characters/Chogath/sounds/471893964.ogg",
            "characters/Chogath/sounds/653212606.ogg",
        ],
        "ChogathCritAttack_OnHit": [
            "characters/Chogath/sounds/1047014420.ogg",
            "characters/Chogath/sounds/171612265.ogg",
            "characters/Chogath/sounds/303377640.ogg",
            "characters/Chogath/sounds/305988490.ogg",
            "characters/Chogath/sounds/332086346.ogg",
            "characters/Chogath/sounds/345953777.ogg",
            "characters/Chogath/sounds/482434497.ogg",
            "characters/Chogath/sounds/590563639.ogg",
            "characters/Chogath/sounds/615744977.ogg",
            "characters/Chogath/sounds/680165651.ogg",
            "characters/Chogath/sounds/712987438.ogg",
            "characters/Chogath/sounds/757441876.ogg",
            "characters/Chogath/sounds/878342703.ogg",
            "characters/Chogath/sounds/893316744.ogg",
            "characters/Chogath/sounds/933030002.ogg",
            "characters/Chogath/sounds/98426258.ogg",
        ],
        "ChogathEAttack_OnCast": [
            "characters/Chogath/sounds/220186803.ogg",
            "characters/Chogath/sounds/932745404.ogg",
            "characters/Chogath/sounds/952062589.ogg",
        ],
        "Feast_OnHit": [
            "characters/Chogath/sounds/1032560688.ogg",
            "characters/Chogath/sounds/1035770472.ogg",
        ],
        "FeralScream_OnCast": [
            "characters/Chogath/sounds/116797045.ogg",
            "characters/Chogath/sounds/210738632.ogg",
            "characters/Chogath/sounds/222261183.ogg",
        ],
        "FeralScream_hit": [
            "characters/Chogath/sounds/143475962.ogg",
            "characters/Chogath/sounds/199627866.ogg",
            "characters/Chogath/sounds/683519524.ogg",
        ],
        "Play_vo_Chogath_Attack2DGeneral": [
            "characters/Chogath/sounds/1060508656.ogg",
            "characters/Chogath/sounds/218343703.ogg",
            "characters/Chogath/sounds/309134866.ogg",
            "characters/Chogath/sounds/511631603.ogg",
            "characters/Chogath/sounds/621878490.ogg",
            "characters/Chogath/sounds/656297963.ogg",
            "characters/Chogath/sounds/909044103.ogg",
        ],
        "Play_vo_Chogath_Death3D": [
            "characters/Chogath/sounds/1059925288.ogg",
            "characters/Chogath/sounds/406191021.ogg",
            "characters/Chogath/sounds/487639247.ogg",
            "characters/Chogath/sounds/753672543.ogg",
        ],
        "Play_vo_Chogath_Joke3DGeneral": [
            "characters/Chogath/sounds/1025973257.ogg",
            "characters/Chogath/sounds/159568374.ogg",
            "characters/Chogath/sounds/616525380.ogg",
        ],
        "Play_vo_Chogath_Laugh3DGeneral": [
            "characters/Chogath/sounds/263646762.ogg",
            "characters/Chogath/sounds/441134364.ogg",
            "characters/Chogath/sounds/681570010.ogg",
        ],
        "Play_vo_Chogath_Move2DStandard": [
            "characters/Chogath/sounds/124031271.ogg",
            "characters/Chogath/sounds/15098316.ogg",
            "characters/Chogath/sounds/187037390.ogg",
            "characters/Chogath/sounds/21137663.ogg",
            "characters/Chogath/sounds/287338248.ogg",
            "characters/Chogath/sounds/534034188.ogg",
            "characters/Chogath/sounds/554704897.ogg",
        ],
        "Play_vo_Chogath_Taunt3DGeneral": [
            "characters/Chogath/sounds/140789781.ogg",
        ],
        "Rupture_OnCast": [
            "characters/Chogath/sounds/830052949.ogg",
        ],
        "Rupture_cast2": [
            "characters/Chogath/sounds/347623668.ogg",
            "characters/Chogath/sounds/789645961.ogg",
        ],
        "VorpalSpikesMissle_OnMissileLaunch": [
            "characters/Chogath/sounds/494712188.ogg",
            "characters/Chogath/sounds/70944481.ogg",
            "characters/Chogath/sounds/94699906.ogg",
        ],
        "VorpalSpikesMissle_hit": [
            "characters/Chogath/sounds/266314681.ogg",
            "characters/Chogath/sounds/359369133.ogg",
            "characters/Chogath/sounds/573452251.ogg",
        ],
        "VorpalSpikes_OnBuffDeactivate": [
            "characters/Chogath/sounds/396360844.ogg",
        ],
        "VorpalSpikes_buffactivate": [
            "characters/Chogath/sounds/378089169.ogg",
            "characters/Chogath/sounds/648405823.ogg",
        ],
    },
)