(
  resources: {},
  entities: {
    4294967262: (
      components: {
        "bevy_animation::graph::AnimationGraphHandle": (Path("characters/Rammus/animations/skin0.ron#animation_graph")),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_world_serialization::components::WorldAssetRoot": (Path("characters/Rammus/skins/skin0.glb#Scene0")),
        "lol_base::animation::LOLAnimationGraphHandle": (Path("characters/Rammus/animations/skin0.ron")),
        "lol_base::character::HealthBar": (
          bar_type: 12,
        ),
        "lol_base::character::Skin": (
          scale: 1.6,
        ),
      },
    ),
  },
)