(
    spellData: Some((
        calculations: Some({
            "e_damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    50.0,
                    70.0,
                    90.0,
                    110.0,
                    130.0,
                    150.0,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    0.25,
                    0.3,
                    0.35,
                    0.4,
                    0.45,
                    0.5,
                    0.55,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "StartingRadius",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "RadiusGrowthRate",
                values: Some([
                    13.0,
                    13.0,
                    13.0,
                    13.0,
                    13.0,
                    13.0,
                    13.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.35,
                    0.4,
                    0.45,
                    0.5,
                    0.55,
                    0.6,
                    0.65,
                ]),
            ),
            (
                name: "MaxRadius",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "GloomCDChampTooltip",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "GloomCDNonChampTooltip",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
        ]),
        mana: Some([
            70.0,
            80.0,
            90.0,
            100.0,
            110.0,
            110.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1300.0),
                startBoneName: None,
                tracksTarget: Some(false),
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(80.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: None,
        missileSpeed: Some(1250.0),
        missileEffectKey: Some(4050969876),
        castType: Some(3),
        castRange: Some([
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
        ]),
        castRadius: Some([
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(60.0),
        castFrame: None,
        animationName: Some("Spell3"),
        cooldownTime: Some([
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("AhriOrbofDeception"),
        coefficient: None,
        hitEffectKey: Some(3237825057),
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)