(
    spellData: Some((
        calculations: Some({
            602845611: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1979514766,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.5),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            934732877: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.2),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    25.0,
                    75.0,
                    125.0,
                    175.0,
                    225.0,
                    275.0,
                    325.0,
                ]),
            ),
            (
                name: "RecastDamage",
                values: Some([
                    50.0,
                    150.0,
                    250.0,
                    350.0,
                    450.0,
                    550.0,
                    650.0,
                ]),
            ),
            (
                name: "R2Duration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "TakedownWindow",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "ResetWindow",
                values: Some([
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1600.0),
                startBoneName: Some("root"),
            ),
        )),
        hitBoneName: Some("C_Buffbone_Glb_Chest_Loc"),
        missileSpeed: Some(1750.0),
        missileEffectKey: None,
        castType: Some(3),
    )),
)