(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.8),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    85.0,
                    85.0,
                    125.0,
                    165.0,
                    205.0,
                    245.0,
                    285.0,
                ]),
            ),
            (
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                values: Some([
                    10.0,
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    40.0,
                    80.0,
                    120.0,
                    160.0,
                    200.0,
                    240.0,
                    280.0,
                ]),
            ),
            (
                name: "EnergyRefund",
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                name: "defenses",
                values: None,
            ),
            (
                name: "MovementSpeed",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "DurationAsBall",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "AttackSpeed",
                values: Some([
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                    0.9,
                ]),
            ),
            (
                name: "DurationAfterBall",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "DamageToMinions",
                values: Some([
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                ]),
            ),
            (
                name: "DamageRadius",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "linger",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
        ]),
        mana: Some([
            80.0,
            80.0,
            80.0,
            80.0,
            80.0,
            80.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)