(
    events: {
        "Dance3D_buffactivate": [
            "characters/Nami/sounds/626885915.ogg",
        ],
        "Death3D_cast": [
            "characters/Nami/sounds/678895842.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Nami/sounds/806109205.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Nami/sounds/610659003.ogg",
        ],
        "NamiBasicAttack2_OnCast": [
            "characters/Nami/sounds/141374775.ogg",
            "characters/Nami/sounds/241172118.ogg",
            "characters/Nami/sounds/373228305.ogg",
            "characters/Nami/sounds/84691227.ogg",
        ],
        "NamiBasicAttack2_OnHit": [
            "characters/Nami/sounds/102223086.ogg",
            "characters/Nami/sounds/104866245.ogg",
            "characters/Nami/sounds/116304375.ogg",
            "characters/Nami/sounds/12759048.ogg",
            "characters/Nami/sounds/14461707.ogg",
            "characters/Nami/sounds/147867669.ogg",
            "characters/Nami/sounds/16614927.ogg",
            "characters/Nami/sounds/197725163.ogg",
            "characters/Nami/sounds/315306046.ogg",
            "characters/Nami/sounds/416408359.ogg",
            "characters/Nami/sounds/45157113.ogg",
            "characters/Nami/sounds/76979763.ogg",
            "characters/Nami/sounds/7938358.ogg",
            "characters/Nami/sounds/95263477.ogg",
            "characters/Nami/sounds/95623925.ogg",
            "characters/Nami/sounds/96778279.ogg",
        ],
        "NamiBasicAttack2_OnMissileLaunch": [
            "characters/Nami/sounds/155769199.ogg",
            "characters/Nami/sounds/514541896.ogg",
            "characters/Nami/sounds/92001787.ogg",
        ],
        "NamiBasicAttack_OnCast": [
            "characters/Nami/sounds/141374775.ogg",
            "characters/Nami/sounds/241172118.ogg",
            "characters/Nami/sounds/373228305.ogg",
            "characters/Nami/sounds/84691227.ogg",
        ],
        "NamiBasicAttack_OnHit": [
            "characters/Nami/sounds/102223086.ogg",
            "characters/Nami/sounds/104866245.ogg",
            "characters/Nami/sounds/116304375.ogg",
            "characters/Nami/sounds/12759048.ogg",
            "characters/Nami/sounds/14461707.ogg",
            "characters/Nami/sounds/147867669.ogg",
            "characters/Nami/sounds/16614927.ogg",
            "characters/Nami/sounds/197725163.ogg",
            "characters/Nami/sounds/315306046.ogg",
            "characters/Nami/sounds/416408359.ogg",
            "characters/Nami/sounds/45157113.ogg",
            "characters/Nami/sounds/76979763.ogg",
            "characters/Nami/sounds/7938358.ogg",
            "characters/Nami/sounds/95263477.ogg",
            "characters/Nami/sounds/95623925.ogg",
            "characters/Nami/sounds/96778279.ogg",
        ],
        "NamiBasicAttack_OnMissileLaunch": [
            "characters/Nami/sounds/155769199.ogg",
            "characters/Nami/sounds/514541896.ogg",
            "characters/Nami/sounds/92001787.ogg",
        ],
        "NamiCritAttack_OnCast": [
            "characters/Nami/sounds/141374775.ogg",
            "characters/Nami/sounds/241172118.ogg",
            "characters/Nami/sounds/373228305.ogg",
            "characters/Nami/sounds/84691227.ogg",
        ],
        "NamiCritAttack_OnHit": [
            "characters/Nami/sounds/102223086.ogg",
            "characters/Nami/sounds/104866245.ogg",
            "characters/Nami/sounds/116304375.ogg",
            "characters/Nami/sounds/12759048.ogg",
            "characters/Nami/sounds/14461707.ogg",
            "characters/Nami/sounds/147867669.ogg",
            "characters/Nami/sounds/16614927.ogg",
            "characters/Nami/sounds/197725163.ogg",
            "characters/Nami/sounds/315306046.ogg",
            "characters/Nami/sounds/416408359.ogg",
            "characters/Nami/sounds/45157113.ogg",
            "characters/Nami/sounds/76979763.ogg",
            "characters/Nami/sounds/7938358.ogg",
            "characters/Nami/sounds/95263477.ogg",
            "characters/Nami/sounds/95623925.ogg",
            "characters/Nami/sounds/96778279.ogg",
        ],
        "NamiCritAttack_OnMissileLaunch": [
            "characters/Nami/sounds/155769199.ogg",
            "characters/Nami/sounds/514541896.ogg",
            "characters/Nami/sounds/92001787.ogg",
        ],
        "NamiE_OnBuffActivate": [
            "characters/Nami/sounds/120872265.ogg",
        ],
        "NamiE_OnBuffDeactivate": [
            "characters/Nami/sounds/1017080977.ogg",
            "characters/Nami/sounds/173154152.ogg",
            "characters/Nami/sounds/346922154.ogg",
            "characters/Nami/sounds/552849743.ogg",
        ],
        "NamiE_OnHit": [
            "characters/Nami/sounds/843343871.ogg",
            "characters/Nami/sounds/886365173.ogg",
            "characters/Nami/sounds/988225498.ogg",
        ],
        "NamiE_hit": [
            "characters/Nami/sounds/315138335.ogg",
            "characters/Nami/sounds/377908938.ogg",
            "characters/Nami/sounds/677803104.ogg",
        ],
        "NamiQDebuff_OnBuffActivate": [
            "characters/Nami/sounds/1509815.ogg",
            "characters/Nami/sounds/232313343.ogg",
            "characters/Nami/sounds/526575800.ogg",
        ],
        "NamiQDebuff_OnBuffDeactivate": [
            "characters/Nami/sounds/484492384.ogg",
            "characters/Nami/sounds/83293063.ogg",
            "characters/Nami/sounds/933444541.ogg",
        ],
        "NamiQMissile_OnMissileCast": [
            "characters/Nami/sounds/1025683802.ogg",
            "characters/Nami/sounds/288797303.ogg",
            "characters/Nami/sounds/847285646.ogg",
        ],
        "NamiQMissile_OnMissileLaunch": [
            "characters/Nami/sounds/168681085.ogg",
            "characters/Nami/sounds/284387086.ogg",
            "characters/Nami/sounds/32385698.ogg",
            "characters/Nami/sounds/435543715.ogg",
            "characters/Nami/sounds/45566548.ogg",
        ],
        "NamiQMissile_buffactivate": [
            "characters/Nami/sounds/225849632.ogg",
        ],
        "NamiQ_OnCast": [
            "characters/Nami/sounds/68389419.ogg",
            "characters/Nami/sounds/957495083.ogg",
        ],
        "NamiQ_hit": [
            "characters/Nami/sounds/123325689.ogg",
            "characters/Nami/sounds/281172758.ogg",
        ],
        "NamiRMissile_hit": [
            "characters/Nami/sounds/163591658.ogg",
            "characters/Nami/sounds/165605681.ogg",
            "characters/Nami/sounds/358022726.ogg",
            "characters/Nami/sounds/734616544.ogg",
        ],
        "NamiR_OnCast": [
            "characters/Nami/sounds/235206163.ogg",
            "characters/Nami/sounds/284314578.ogg",
            "characters/Nami/sounds/86594569.ogg",
        ],
        "NamiR_missilelaunch": [
            "characters/Nami/sounds/105304883.ogg",
            "characters/Nami/sounds/38207683.ogg",
        ],
        "NamiWMissileAlly_hit": [
            "characters/Nami/sounds/172789504.ogg",
            "characters/Nami/sounds/360119738.ogg",
        ],
        "NamiWMissileAlly_missilelaunch": [
            "characters/Nami/sounds/157078939.ogg",
            "characters/Nami/sounds/262498008.ogg",
            "characters/Nami/sounds/348459616.ogg",
            "characters/Nami/sounds/445656527.ogg",
            "characters/Nami/sounds/764512504.ogg",
        ],
        "NamiW_OnCast": [
            "characters/Nami/sounds/28856981.ogg",
            "characters/Nami/sounds/399561335.ogg",
            "characters/Nami/sounds/886479237.ogg",
        ],
        "NamiW_hit": [
            "characters/Nami/sounds/10791476.ogg",
            "characters/Nami/sounds/582056940.ogg",
            "characters/Nami/sounds/980464594.ogg",
            "characters/Nami/sounds/985653567.ogg",
        ],
        "NamiW_missilelaunch": [
            "characters/Nami/sounds/168681085.ogg",
            "characters/Nami/sounds/284387086.ogg",
            "characters/Nami/sounds/32385698.ogg",
            "characters/Nami/sounds/435543715.ogg",
            "characters/Nami/sounds/45566548.ogg",
        ],
        "Play_vo_Nami_Attack2DGeneral": [
            "characters/Nami/sounds/1042885502.ogg",
            "characters/Nami/sounds/169274980.ogg",
            "characters/Nami/sounds/256196692.ogg",
            "characters/Nami/sounds/275322748.ogg",
            "characters/Nami/sounds/339332247.ogg",
            "characters/Nami/sounds/357769515.ogg",
            "characters/Nami/sounds/413121835.ogg",
            "characters/Nami/sounds/505978686.ogg",
            "characters/Nami/sounds/720711709.ogg",
            "characters/Nami/sounds/75023147.ogg",
            "characters/Nami/sounds/802796653.ogg",
            "characters/Nami/sounds/953511607.ogg",
            "characters/Nami/sounds/999029420.ogg",
        ],
        "Play_vo_Nami_Death3D": [
            "characters/Nami/sounds/1064395219.ogg",
            "characters/Nami/sounds/193619497.ogg",
            "characters/Nami/sounds/628527384.ogg",
            "characters/Nami/sounds/925389183.ogg",
        ],
        "Play_vo_Nami_Joke3DGeneral": [
            "characters/Nami/sounds/282516364.ogg",
            "characters/Nami/sounds/821293704.ogg",
            "characters/Nami/sounds/962374707.ogg",
        ],
        "Play_vo_Nami_Kill3DWater": [
            "characters/Nami/sounds/700050795.ogg",
        ],
        "Play_vo_Nami_Laugh3DGeneral": [
            "characters/Nami/sounds/288621733.ogg",
            "characters/Nami/sounds/471236426.ogg",
            "characters/Nami/sounds/58985717.ogg",
            "characters/Nami/sounds/870684867.ogg",
        ],
        "Play_vo_Nami_Move2DStandard": [
            "characters/Nami/sounds/1020694384.ogg",
            "characters/Nami/sounds/230528549.ogg",
            "characters/Nami/sounds/335279578.ogg",
            "characters/Nami/sounds/338317001.ogg",
            "characters/Nami/sounds/340430755.ogg",
            "characters/Nami/sounds/433191352.ogg",
            "characters/Nami/sounds/53061568.ogg",
            "characters/Nami/sounds/682148670.ogg",
            "characters/Nami/sounds/746872280.ogg",
            "characters/Nami/sounds/755126813.ogg",
            "characters/Nami/sounds/768378122.ogg",
            "characters/Nami/sounds/888544744.ogg",
            "characters/Nami/sounds/956143335.ogg",
            "characters/Nami/sounds/968697585.ogg",
        ],
        "Play_vo_Nami_NamiBasicAttack2_cast3D": [
            "characters/Nami/sounds/313852653.ogg",
            "characters/Nami/sounds/419936867.ogg",
            "characters/Nami/sounds/727059328.ogg",
            "characters/Nami/sounds/91535230.ogg",
        ],
        "Play_vo_Nami_NamiBasicAttack_cast3D": [
            "characters/Nami/sounds/313852653.ogg",
            "characters/Nami/sounds/419936867.ogg",
            "characters/Nami/sounds/727059328.ogg",
            "characters/Nami/sounds/91535230.ogg",
        ],
        "Play_vo_Nami_NamiCritAttack_cast3D": [
            "characters/Nami/sounds/313852653.ogg",
            "characters/Nami/sounds/419936867.ogg",
            "characters/Nami/sounds/727059328.ogg",
            "characters/Nami/sounds/91535230.ogg",
        ],
        "Play_vo_Nami_NamiQ_cast3D": [
            "characters/Nami/sounds/1016726826.ogg",
            "characters/Nami/sounds/237841972.ogg",
            "characters/Nami/sounds/456396447.ogg",
            "characters/Nami/sounds/507803597.ogg",
        ],
        "Play_vo_Nami_NamiR_cast3D": [
            "characters/Nami/sounds/304283122.ogg",
            "characters/Nami/sounds/315666564.ogg",
            "characters/Nami/sounds/566518822.ogg",
            "characters/Nami/sounds/585095821.ogg",
            "characters/Nami/sounds/645579416.ogg",
            "characters/Nami/sounds/747674256.ogg",
        ],
        "Play_vo_Nami_Taunt3DGeneral": [
            "characters/Nami/sounds/570167552.ogg",
            "characters/Nami/sounds/726713765.ogg",
        ],
        "Recall3D_leadin": [
            "characters/Nami/sounds/295543391.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Nami/sounds/925788588.ogg",
        ],
    },
)