(
  resources: {},
  entities: {
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "SRUAP_Turret_Order5",
        "lol_core::attack::Attack": (
          range: 1250.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.0,
          max: 0.0,
          base: 0.0,
          per_level: 0.0,
          base_static_regen: 0.0,
          regen_per_level: 0.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 125.0,
          height: 485.0,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (0.0),
        "lol_core::damage::Damage": (999.0),
        "lol_core::life::Health": (
          value: 9999.0,
          max: 9999.0,
        ),
        "lol_core::movement::Movement": (
          speed: 0.0,
        ),
      },
    ),
  },
)