(
    spellData: Some((
        calculations: Some({
            "total_damage_tt": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    20.0,
                    75.0,
                    130.0,
                    185.0,
                    240.0,
                    295.0,
                    350.0,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    35.0,
                    90.0,
                    145.0,
                    200.0,
                    255.0,
                    310.0,
                    365.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1750.0),
        missileEffectKey: None,
        castType: None,
    )),
)