(
    spellData: Some((
        calculations: Some({
            "total_ms_bonus": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "flat_ms",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.25),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "FlatMS",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "UltMult",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)