(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: Some([
            50.0,
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1750.0),
        missileEffectKey: None,
        castType: None,
    )),
)