(
    spellData: Some((
        calculations: Some({
            "tooltip_total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartEffectValue",
                        effectIndex: Some(1),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.45),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    50.0,
                    70.0,
                    100.0,
                    130.0,
                    160.0,
                    190.0,
                    230.0,
                ]),
            ),
            (
                values: Some([
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                ]),
            ),
            (
                values: Some([
                    0.17,
                    0.17,
                    0.17,
                    0.17,
                    0.17,
                    0.17,
                    0.17,
                ]),
            ),
            (
                values: Some([
                    1125.0,
                    1125.0,
                    1125.0,
                    1125.0,
                    1125.0,
                    1125.0,
                    1125.0,
                ]),
            ),
            (
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "MinStunDuration",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "MaxStunDuration",
                values: Some([
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            65.0,
            70.0,
            75.0,
            80.0,
            85.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(1600.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(70.0),
        castFrame: Some(8.0),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            13.5,
            13.0,
            12.5,
            12.0,
            11.5,
            11.0,
            11.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(13327),
        alternateName: Some("XerathMageSpear"),
        coefficient: Some(0.45),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)