(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Viktor/spells/ViktorPassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Viktor/spells/ViktorR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 12.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Viktor/spells/ViktorE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 18.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Viktor/spells/ViktorW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 9.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Viktor/spells/ViktorQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Viktor",
        "lol_core::attack::Attack": (
          range: 525.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.16,
          max: 0.16,
          base: 0.16,
          per_level: 0.0,
          base_static_regen: 45.0,
          regen_per_level: 405.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.0,
          height: 130.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.4),
        "lol_core::damage::Damage": (53.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 600.0,
          max: 600.0,
        ),
        "lol_core::movement::Movement": (
          speed: 335.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "Crepe_ViktorVsJayce_JayceLose": Path("characters/Viktor/spells/Crepe_ViktorVsJayce_JayceLose.ron"),
          "Crepe_ViktorVsJayce_ViktorReward": Path("characters/Viktor/spells/Crepe_ViktorVsJayce_ViktorReward.ron"),
          "Crepe_ViktorVsJayce_ViktorTracker": Path("characters/Viktor/spells/Crepe_ViktorVsJayce_ViktorTracker.ron"),
          "ViktorBasicAttack": Path("characters/Viktor/spells/ViktorBasicAttack.ron"),
          "ViktorBasicAttack2": Path("characters/Viktor/spells/ViktorBasicAttack2.ron"),
          "ViktorCritAttack": Path("characters/Viktor/spells/ViktorCritAttack.ron"),
          "ViktorE": Path("characters/Viktor/spells/ViktorE.ron"),
          "ViktorEAug": Path("characters/Viktor/spells/ViktorEAug.ron"),
          "ViktorEAugMissile": Path("characters/Viktor/spells/ViktorEAugMissile.ron"),
          "ViktorEAugParticle": Path("characters/Viktor/spells/ViktorEAugParticle.ron"),
          "ViktorEMissile": Path("characters/Viktor/spells/ViktorEMissile.ron"),
          "ViktorEMissile2": Path("characters/Viktor/spells/ViktorEMissile2.ron"),
          "ViktorPassive": Path("characters/Viktor/spells/ViktorPassive.ron"),
          "ViktorPassiveCount": Path("characters/Viktor/spells/ViktorPassiveCount.ron"),
          "ViktorQ": Path("characters/Viktor/spells/ViktorQ.ron"),
          "ViktorQAug": Path("characters/Viktor/spells/ViktorQAug.ron"),
          "ViktorQBuff": Path("characters/Viktor/spells/ViktorQBuff.ron"),
          "ViktorQEAug": Path("characters/Viktor/spells/ViktorQEAug.ron"),
          "ViktorQReturn": Path("characters/Viktor/spells/ViktorQReturn.ron"),
          "ViktorQWAug": Path("characters/Viktor/spells/ViktorQWAug.ron"),
          "ViktorQWEAug": Path("characters/Viktor/spells/ViktorQWEAug.ron"),
          "ViktorQWERAug": Path("characters/Viktor/spells/ViktorQWERAug.ron"),
          "ViktorR": Path("characters/Viktor/spells/ViktorR.ron"),
          "ViktorRGuide": Path("characters/Viktor/spells/ViktorRGuide.ron"),
          "ViktorRTimer": Path("characters/Viktor/spells/ViktorRTimer.ron"),
          "ViktorW": Path("characters/Viktor/spells/ViktorW.ron"),
          "ViktorWAug": Path("characters/Viktor/spells/ViktorWAug.ron"),
          "ViktorWEAug": Path("characters/Viktor/spells/ViktorWEAug.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)