(
    spellData: Some((
        calculations: Some({
            630001588: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.4),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.2),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            767745579: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.3),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.3),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AoE",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "PassiveCharges",
                values: Some([
                    2.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "PassiveDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "CheatingThreshold",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
            (
                name: "PassiveAttackSpeed",
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                name: "MonsterDamageMulti",
                values: Some([
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)