(
    events: {
        "Dance3D_buffactivate": [
            "characters/Senna/sounds/323244489.ogg",
        ],
        "Death3D_cast": [
            "characters/Senna/sounds/113436352.ogg",
        ],
        "Homeguard3D_loop": [
            "characters/Senna/sounds/426971834.ogg",
        ],
        "Idle2_buffactivate": [
            "characters/Senna/sounds/980165562.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Senna/sounds/229582181.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Senna/sounds/997312084.ogg",
        ],
        "Play_vo_Senna_Attack2DGeneral": [
            "characters/Senna/sounds/1006559071.ogg",
            "characters/Senna/sounds/172736689.ogg",
            "characters/Senna/sounds/215599946.ogg",
            "characters/Senna/sounds/218525350.ogg",
            "characters/Senna/sounds/260156543.ogg",
            "characters/Senna/sounds/282932537.ogg",
            "characters/Senna/sounds/354998699.ogg",
            "characters/Senna/sounds/379120175.ogg",
            "characters/Senna/sounds/501754361.ogg",
            "characters/Senna/sounds/562259470.ogg",
            "characters/Senna/sounds/60823959.ogg",
            "characters/Senna/sounds/61913348.ogg",
            "characters/Senna/sounds/63075827.ogg",
            "characters/Senna/sounds/691670667.ogg",
            "characters/Senna/sounds/706944111.ogg",
            "characters/Senna/sounds/707560862.ogg",
            "characters/Senna/sounds/811667556.ogg",
            "characters/Senna/sounds/863851998.ogg",
            "characters/Senna/sounds/864559937.ogg",
            "characters/Senna/sounds/888950144.ogg",
            "characters/Senna/sounds/968022116.ogg",
            "characters/Senna/sounds/973655623.ogg",
            "characters/Senna/sounds/974931706.ogg",
            "characters/Senna/sounds/980400957.ogg",
            "characters/Senna/sounds/993473769.ogg",
        ],
        "Play_vo_Senna_Dance3DGeneral": [
            "characters/Senna/sounds/1030776359.ogg",
        ],
        "Play_vo_Senna_Death3D": [
            "characters/Senna/sounds/254272669.ogg",
            "characters/Senna/sounds/362855285.ogg",
            "characters/Senna/sounds/488057052.ogg",
            "characters/Senna/sounds/669775152.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DDemacia": [
            "characters/Senna/sounds/767472463.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DElise": [
            "characters/Senna/sounds/975499319.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DFiddlesticks": [
            "characters/Senna/sounds/921385537.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DGeneral": [
            "characters/Senna/sounds/599354278.ogg",
            "characters/Senna/sounds/675503637.ogg",
            "characters/Senna/sounds/754788946.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DHecarim": [
            "characters/Senna/sounds/205029868.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DKaisa": [
            "characters/Senna/sounds/337297792.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DLucian": [
            "characters/Senna/sounds/377527918.ogg",
            "characters/Senna/sounds/771004344.ogg",
            "characters/Senna/sounds/978034371.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DLunari": [
            "characters/Senna/sounds/578683574.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DLux": [
            "characters/Senna/sounds/912588497.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DMaokai": [
            "characters/Senna/sounds/219889951.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DMorgana": [
            "characters/Senna/sounds/121456962.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DNocturne": [
            "characters/Senna/sounds/761267630.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DShadowIsles": [
            "characters/Senna/sounds/296957951.ogg",
            "characters/Senna/sounds/394654919.ogg",
            "characters/Senna/sounds/423335514.ogg",
            "characters/Senna/sounds/609803390.ogg",
            "characters/Senna/sounds/713825845.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DSylas": [
            "characters/Senna/sounds/424802513.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DThresh": [
            "characters/Senna/sounds/497647861.ogg",
            "characters/Senna/sounds/595975646.ogg",
            "characters/Senna/sounds/684097288.ogg",
            "characters/Senna/sounds/883170897.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DVayne": [
            "characters/Senna/sounds/1040433305.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DYorick": [
            "characters/Senna/sounds/863897698.ogg",
        ],
        "Play_vo_Senna_FirstEncounter3DYuumi": [
            "characters/Senna/sounds/1003661035.ogg",
        ],
        "Play_vo_Senna_FirstMove2DWithLucianNear": [
            "characters/Senna/sounds/399540750.ogg",
            "characters/Senna/sounds/429207237.ogg",
            "characters/Senna/sounds/488498545.ogg",
            "characters/Senna/sounds/994554271.ogg",
        ],
        "Play_vo_Senna_Joke3DFeatherknight": [
            "characters/Senna/sounds/1021947136.ogg",
        ],
        "Play_vo_Senna_Kill3DGeneral": [
            "characters/Senna/sounds/290605313.ogg",
            "characters/Senna/sounds/461274479.ogg",
            "characters/Senna/sounds/497146652.ogg",
            "characters/Senna/sounds/706261669.ogg",
            "characters/Senna/sounds/721195380.ogg",
            "characters/Senna/sounds/755590846.ogg",
        ],
        "Play_vo_Senna_Kill3DLucian": [
            "characters/Senna/sounds/237515490.ogg",
            "characters/Senna/sounds/607722150.ogg",
            "characters/Senna/sounds/682021284.ogg",
        ],
        "Play_vo_Senna_Kill3DShadowIsles": [
            "characters/Senna/sounds/159906965.ogg",
            "characters/Senna/sounds/616176996.ogg",
            "characters/Senna/sounds/788305934.ogg",
            "characters/Senna/sounds/839329139.ogg",
        ],
        "Play_vo_Senna_Kill3DThresh": [
            "characters/Senna/sounds/703213139.ogg",
        ],
        "Play_vo_Senna_Laugh3DGeneral": [
            "characters/Senna/sounds/1010279296.ogg",
            "characters/Senna/sounds/21574972.ogg",
            "characters/Senna/sounds/451131696.ogg",
            "characters/Senna/sounds/685617192.ogg",
        ],
        "Play_vo_Senna_Move2DFirst": [
            "characters/Senna/sounds/1053560665.ogg",
            "characters/Senna/sounds/274117369.ogg",
            "characters/Senna/sounds/315289424.ogg",
            "characters/Senna/sounds/402674200.ogg",
            "characters/Senna/sounds/90495548.ogg",
            "characters/Senna/sounds/919549835.ogg",
            "characters/Senna/sounds/984904220.ogg",
        ],
        "Play_vo_Senna_Move2DLong": [
            "characters/Senna/sounds/1058098575.ogg",
            "characters/Senna/sounds/147054826.ogg",
            "characters/Senna/sounds/28862809.ogg",
            "characters/Senna/sounds/396761214.ogg",
            "characters/Senna/sounds/399721779.ogg",
            "characters/Senna/sounds/473568992.ogg",
            "characters/Senna/sounds/59137235.ogg",
            "characters/Senna/sounds/609447894.ogg",
            "characters/Senna/sounds/750409259.ogg",
            "characters/Senna/sounds/821291818.ogg",
            "characters/Senna/sounds/84178130.ogg",
            "characters/Senna/sounds/900008994.ogg",
            "characters/Senna/sounds/971667093.ogg",
        ],
        "Play_vo_Senna_Move2DStandard": [
            "characters/Senna/sounds/1011410720.ogg",
            "characters/Senna/sounds/121981133.ogg",
            "characters/Senna/sounds/138003129.ogg",
            "characters/Senna/sounds/144643533.ogg",
            "characters/Senna/sounds/147621836.ogg",
            "characters/Senna/sounds/176310493.ogg",
            "characters/Senna/sounds/177708323.ogg",
            "characters/Senna/sounds/207510172.ogg",
            "characters/Senna/sounds/310477572.ogg",
            "characters/Senna/sounds/332180909.ogg",
            "characters/Senna/sounds/332289015.ogg",
            "characters/Senna/sounds/332378430.ogg",
            "characters/Senna/sounds/334505938.ogg",
            "characters/Senna/sounds/35829740.ogg",
            "characters/Senna/sounds/406346667.ogg",
            "characters/Senna/sounds/464720935.ogg",
            "characters/Senna/sounds/522380657.ogg",
            "characters/Senna/sounds/630310571.ogg",
            "characters/Senna/sounds/644936653.ogg",
            "characters/Senna/sounds/64590175.ogg",
            "characters/Senna/sounds/674404002.ogg",
            "characters/Senna/sounds/692730709.ogg",
            "characters/Senna/sounds/768426611.ogg",
            "characters/Senna/sounds/783390088.ogg",
            "characters/Senna/sounds/939546142.ogg",
            "characters/Senna/sounds/946904529.ogg",
            "characters/Senna/sounds/976694288.ogg",
            "characters/Senna/sounds/99347607.ogg",
        ],
        "Play_vo_Senna_Recall3DGeneral": [
            "characters/Senna/sounds/1053076961.ogg",
            "characters/Senna/sounds/11706044.ogg",
            "characters/Senna/sounds/150955994.ogg",
            "characters/Senna/sounds/265848822.ogg",
        ],
        "Play_vo_Senna_Respawn2DGeneral": [
            "characters/Senna/sounds/1016765317.ogg",
            "characters/Senna/sounds/444216017.ogg",
            "characters/Senna/sounds/444600358.ogg",
            "characters/Senna/sounds/688175249.ogg",
            "characters/Senna/sounds/78431399.ogg",
            "characters/Senna/sounds/801919537.ogg",
        ],
        "Play_vo_Senna_SennaBasicAttackSouls_cast3D": [
            "characters/Senna/sounds/1032941331.ogg",
            "characters/Senna/sounds/137691605.ogg",
            "characters/Senna/sounds/353685593.ogg",
            "characters/Senna/sounds/389445829.ogg",
            "characters/Senna/sounds/723227388.ogg",
            "characters/Senna/sounds/873181568.ogg",
            "characters/Senna/sounds/971121097.ogg",
            "characters/Senna/sounds/985783097.ogg",
            "characters/Senna/sounds/988724005.ogg",
        ],
        "Play_vo_Senna_SennaE_cast3D": [
            "characters/Senna/sounds/204399198.ogg",
            "characters/Senna/sounds/42965606.ogg",
            "characters/Senna/sounds/430451099.ogg",
            "characters/Senna/sounds/500347413.ogg",
            "characters/Senna/sounds/599662829.ogg",
            "characters/Senna/sounds/636802043.ogg",
            "characters/Senna/sounds/672822959.ogg",
            "characters/Senna/sounds/885081747.ogg",
        ],
        "Play_vo_Senna_SennaQ_cast3D": [
            "characters/Senna/sounds/277730625.ogg",
            "characters/Senna/sounds/470520066.ogg",
            "characters/Senna/sounds/951536844.ogg",
        ],
        "Play_vo_Senna_SennaQ_cast3DLucian": [
            "characters/Senna/sounds/121223365.ogg",
            "characters/Senna/sounds/887716489.ogg",
        ],
        "Play_vo_Senna_SennaR_cast3D": [
            "characters/Senna/sounds/221460063.ogg",
            "characters/Senna/sounds/473537049.ogg",
            "characters/Senna/sounds/614009589.ogg",
        ],
        "Play_vo_Senna_SennaW_cast3D": [
            "characters/Senna/sounds/1022600883.ogg",
            "characters/Senna/sounds/429640726.ogg",
            "characters/Senna/sounds/4683754.ogg",
            "characters/Senna/sounds/509780610.ogg",
            "characters/Senna/sounds/517792313.ogg",
            "characters/Senna/sounds/573403646.ogg",
            "characters/Senna/sounds/594225424.ogg",
            "characters/Senna/sounds/63674318.ogg",
            "characters/Senna/sounds/963867170.ogg",
        ],
        "Play_vo_Senna_Taunt3DGeneral": [
            "characters/Senna/sounds/1021840002.ogg",
            "characters/Senna/sounds/650409856.ogg",
        ],
        "Play_vo_Senna_TauntResponse3DGeneral": [
            "characters/Senna/sounds/874709996.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstEncounter3D01Thresh_Chat02": [
            "characters/Senna/sounds/46199791.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D01_Chat02": [
            "characters/Senna/sounds/687770836.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D01_Chat04": [
            "characters/Senna/sounds/1025331302.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D02_Chat03": [
            "characters/Senna/sounds/180309600.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D03_Chat03": [
            "characters/Senna/sounds/52449967.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D04_Chat02": [
            "characters/Senna/sounds/210608532.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D05_Chat02": [
            "characters/Senna/sounds/970391569.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D07_Chat03": [
            "characters/Senna/sounds/127505313.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_FirstMove2D08_Chat02": [
            "characters/Senna/sounds/291254373.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_Heal2D": [
            "characters/Senna/sounds/71608497.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_Heal2D02_Chat02": [
            "characters/Senna/sounds/71608497.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_KillChampion3D01_Chat02": [
            "characters/Senna/sounds/413225229.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_KillChampion3D02_Chat02": [
            "characters/Senna/sounds/69160547.ogg",
        ],
        "Play_vo_Senna_WithLucianNear_KillChampion3D03_Chat02": [
            "characters/Senna/sounds/369984629.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Senna/sounds/2163105.ogg",
        ],
        "Respawn3D_buffactivate": [
            "characters/Senna/sounds/1022402205.ogg",
        ],
        "SennaBasicAttack2_OnCast": [
            "characters/Senna/sounds/138844566.ogg",
            "characters/Senna/sounds/158573265.ogg",
            "characters/Senna/sounds/677874687.ogg",
        ],
        "SennaBasicAttack2_OnHit": [
            "characters/Senna/sounds/1017907814.ogg",
            "characters/Senna/sounds/1036847536.ogg",
            "characters/Senna/sounds/175133967.ogg",
        ],
        "SennaBasicAttack3_OnCast": [
            "characters/Senna/sounds/138844566.ogg",
            "characters/Senna/sounds/158573265.ogg",
            "characters/Senna/sounds/677874687.ogg",
        ],
        "SennaBasicAttack3_OnHit": [
            "characters/Senna/sounds/1017907814.ogg",
            "characters/Senna/sounds/1036847536.ogg",
            "characters/Senna/sounds/175133967.ogg",
        ],
        "SennaBasicAttackSouls_OnCast": [
            "characters/Senna/sounds/138844566.ogg",
            "characters/Senna/sounds/158573265.ogg",
            "characters/Senna/sounds/255308885.ogg",
            "characters/Senna/sounds/406414220.ogg",
            "characters/Senna/sounds/677874687.ogg",
            "characters/Senna/sounds/891017968.ogg",
        ],
        "SennaBasicAttackSouls_OnHit": [
            "characters/Senna/sounds/174406632.ogg",
            "characters/Senna/sounds/369534632.ogg",
            "characters/Senna/sounds/662488279.ogg",
        ],
        "SennaBasicAttackSouls_missilelaunch": [
            "characters/Senna/sounds/134244532.ogg",
            "characters/Senna/sounds/538574630.ogg",
            "characters/Senna/sounds/970675665.ogg",
        ],
        "SennaBasicAttack_OnCast": [
            "characters/Senna/sounds/138844566.ogg",
            "characters/Senna/sounds/158573265.ogg",
            "characters/Senna/sounds/677874687.ogg",
        ],
        "SennaBasicAttack_OnHit": [
            "characters/Senna/sounds/1017907814.ogg",
            "characters/Senna/sounds/1036847536.ogg",
            "characters/Senna/sounds/175133967.ogg",
        ],
        "SennaBasicAttack_cast": [
            "characters/Senna/sounds/209214513.ogg",
            "characters/Senna/sounds/245520902.ogg",
            "characters/Senna/sounds/450723345.ogg",
        ],
        "SennaBasicAttack_missilecast": [
            "characters/Senna/sounds/295364528.ogg",
            "characters/Senna/sounds/481706696.ogg",
            "characters/Senna/sounds/849292322.ogg",
        ],
        "SennaCritAttack2_OnCast": [
            "characters/Senna/sounds/119004325.ogg",
            "characters/Senna/sounds/438331032.ogg",
            "characters/Senna/sounds/754970285.ogg",
        ],
        "SennaCritAttack2_OnHit": [
            "characters/Senna/sounds/109933125.ogg",
            "characters/Senna/sounds/661216104.ogg",
            "characters/Senna/sounds/974316306.ogg",
        ],
        "SennaCritAttack_OnCast": [
            "characters/Senna/sounds/119004325.ogg",
            "characters/Senna/sounds/438331032.ogg",
            "characters/Senna/sounds/754970285.ogg",
        ],
        "SennaCritAttack_OnHit": [
            "characters/Senna/sounds/109933125.ogg",
            "characters/Senna/sounds/661216104.ogg",
            "characters/Senna/sounds/974316306.ogg",
        ],
        "SennaCritAttack_cast": [
            "characters/Senna/sounds/209214513.ogg",
            "characters/Senna/sounds/245520902.ogg",
            "characters/Senna/sounds/450723345.ogg",
        ],
        "SennaCritAttack_missilecast": [
            "characters/Senna/sounds/127868437.ogg",
            "characters/Senna/sounds/130773964.ogg",
            "characters/Senna/sounds/727029645.ogg",
        ],
        "SennaEAlly_bubblepop": [
            "characters/Senna/sounds/942587262.ogg",
        ],
        "SennaEAlly_camo_buffdeactivate": [
            "characters/Senna/sounds/1057583681.ogg",
        ],
        "SennaEAlly_camo_loop": [
            "characters/Senna/sounds/185136549.ogg",
        ],
        "SennaEAlly_missilelaunch": [
            "characters/Senna/sounds/618606572.ogg",
        ],
        "SennaEWraithForm_OnBuffActivate": [
            "characters/Senna/sounds/1008782757.ogg",
        ],
        "SennaEWraithForm_OnBuffDeactivate": [
            "characters/Senna/sounds/1057583681.ogg",
        ],
        "SennaEWraithForm_bubblepop": [
            "characters/Senna/sounds/942587262.ogg",
        ],
        "SennaE_OnBuffActivate": [
            "characters/Senna/sounds/1025341227.ogg",
        ],
        "SennaE_OnBuffDeactivate": [
            "characters/Senna/sounds/277104381.ogg",
        ],
        "SennaE_OnCast": [
            "characters/Senna/sounds/905936624.ogg",
        ],
        "SennaE_buffactivate_self": [
            "characters/Senna/sounds/903301518.ogg",
        ],
        "SennaE_buffdeactivate_self": [
            "characters/Senna/sounds/863855641.ogg",
        ],
        "SennaE_cast_self": [
            "characters/Senna/sounds/471799309.ogg",
        ],
        "SennaPassiveMarker_OnBuffActivate": [
            "characters/Senna/sounds/143496202.ogg",
            "characters/Senna/sounds/390780655.ogg",
            "characters/Senna/sounds/538574630.ogg",
            "characters/Senna/sounds/607521634.ogg",
        ],
        "SennaPassiveMarker_OnBuffDeactivate": [
            "characters/Senna/sounds/707112782.ogg",
        ],
        "SennaPassiveStacks_OnHitLocation": [
            "characters/Senna/sounds/125733730.ogg",
            "characters/Senna/sounds/658191345.ogg",
            "characters/Senna/sounds/870180486.ogg",
        ],
        "SennaQWarning_buffactivate": [
            "characters/Senna/sounds/443986224.ogg",
        ],
        "SennaQ_OnCast": [
            "characters/Senna/sounds/440063413.ogg",
            "characters/Senna/sounds/960490241.ogg",
        ],
        "SennaQ_ally_hit": [
            "characters/Senna/sounds/294371202.ogg",
            "characters/Senna/sounds/399000466.ogg",
        ],
        "SennaQ_enemy_hit": [
            "characters/Senna/sounds/611322940.ogg",
            "characters/Senna/sounds/618442981.ogg",
            "characters/Senna/sounds/974734319.ogg",
        ],
        "SennaRAlly_OnBuffActivate": [
            "characters/Senna/sounds/758098099.ogg",
        ],
        "SennaRAlly_OnBuffDeactivate": [
            "characters/Senna/sounds/26303380.ogg",
        ],
        "SennaRAlly_OnHit": [
            "characters/Senna/sounds/541991647.ogg",
        ],
        "SennaRWarning_buffactivate": [
            "characters/Senna/sounds/657413950.ogg",
        ],
        "SennaR_OnCast": [
            "characters/Senna/sounds/186906369.ogg",
        ],
        "SennaR_OnHit": [
            "characters/Senna/sounds/458512916.ogg",
        ],
        "SennaR_OnMissileLaunch": [
            "characters/Senna/sounds/703264946.ogg",
        ],
        "SennaR_missilecast": [
            "characters/Senna/sounds/647274642.ogg",
            "characters/Senna/sounds/714388082.ogg",
        ],
        "SennaSoul_buffactivate": [
            "characters/Senna/sounds/1067676518.ogg",
            "characters/Senna/sounds/616105720.ogg",
            "characters/Senna/sounds/903515197.ogg",
        ],
        "SennaSoul_buffdeactivate": [
            "characters/Senna/sounds/191200785.ogg",
            "characters/Senna/sounds/608881699.ogg",
            "characters/Senna/sounds/988236649.ogg",
        ],
        "SennaSoul_spawn": [
            "characters/Senna/sounds/501845472.ogg",
            "characters/Senna/sounds/524408443.ogg",
            "characters/Senna/sounds/838457995.ogg",
        ],
        "SennaWRoot_buffactivate": [
            "characters/Senna/sounds/499093592.ogg",
        ],
        "SennaWRoot_ground_hit": [
            "characters/Senna/sounds/329446178.ogg",
        ],
        "SennaW_OnBuffActivate": [
            "characters/Senna/sounds/35584715.ogg",
        ],
        "SennaW_OnCast": [
            "characters/Senna/sounds/581493074.ogg",
        ],
        "SennaW_OnHit": [
            "characters/Senna/sounds/131314647.ogg",
        ],
        "SennaW_OnMissileLaunch": [
            "characters/Senna/sounds/254998721.ogg",
        ],
        "Spawn3D_buffactivate": [
            "characters/Senna/sounds/665468788.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Senna/sounds/167623492.ogg",
        ],
        "Winddown3D_buffactivate": [
            "characters/Senna/sounds/244215376.ogg",
        ],
    },
)