(
    events: {
        "Dance3D_buffactivate": [
            "characters/Orianna/sounds/121473701.ogg",
        ],
        "Death3D_cast": [
            "characters/Orianna/sounds/329246359.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Orianna/sounds/18424039.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Orianna/sounds/480721436.ogg",
        ],
        "NoBall_Dance3D_buffactivate": [
            "characters/Orianna/sounds/1003898701.ogg",
        ],
        "NoBall_Death3D_cast": [
            "characters/Orianna/sounds/969960241.ogg",
        ],
        "NoBall_Joke3D_buffactivate": [
            "characters/Orianna/sounds/255492119.ogg",
        ],
        "NoBall_Taunt3D_buffactivate": [
            "characters/Orianna/sounds/346272207.ogg",
        ],
        "OrianaDetonateCommand_OnCast": [
            "characters/Orianna/sounds/166607323.ogg",
            "characters/Orianna/sounds/249237419.ogg",
            "characters/Orianna/sounds/382749418.ogg",
            "characters/Orianna/sounds/74559808.ogg",
        ],
        "OrianaDissonanceCommand_OnCast": [
            "characters/Orianna/sounds/166607323.ogg",
            "characters/Orianna/sounds/249237419.ogg",
            "characters/Orianna/sounds/382749418.ogg",
            "characters/Orianna/sounds/74559808.ogg",
        ],
        "OrianaGhostSelf_OnBuffActivate": [
            "characters/Orianna/sounds/105578688.ogg",
            "characters/Orianna/sounds/261012353.ogg",
            "characters/Orianna/sounds/276113909.ogg",
            "characters/Orianna/sounds/395061253.ogg",
            "characters/Orianna/sounds/42218317.ogg",
            "characters/Orianna/sounds/746896620.ogg",
            "characters/Orianna/sounds/970092465.ogg",
            "characters/Orianna/sounds/977375746.ogg",
        ],
        "OrianaIzunaCommand_OnCast": [
            "characters/Orianna/sounds/115694724.ogg",
            "characters/Orianna/sounds/251512719.ogg",
            "characters/Orianna/sounds/36982805.ogg",
            "characters/Orianna/sounds/90662928.ogg",
        ],
        "OrianaIzuna_OnMissileLaunch": [
            "characters/Orianna/sounds/23328117.ogg",
            "characters/Orianna/sounds/58217329.ogg",
            "characters/Orianna/sounds/83985363.ogg",
        ],
        "OrianaRedactCommand_OnCast": [
            "characters/Orianna/sounds/115694724.ogg",
            "characters/Orianna/sounds/251512719.ogg",
            "characters/Orianna/sounds/36982805.ogg",
            "characters/Orianna/sounds/90662928.ogg",
        ],
        "OrianaRedactShield_OnBuffActivate": [
            "characters/Orianna/sounds/350706451.ogg",
        ],
        "OrianaRedact_OnMissileLaunch": [
            "characters/Orianna/sounds/23328117.ogg",
            "characters/Orianna/sounds/58217329.ogg",
            "characters/Orianna/sounds/83985363.ogg",
        ],
        "OriannaBallFlash_buffactivate": [
            "characters/Orianna/sounds/369648006.ogg",
            "characters/Orianna/sounds/495431216.ogg",
            "characters/Orianna/sounds/638901323.ogg",
            "characters/Orianna/sounds/775391401.ogg",
        ],
        "OriannaBasicAttack2_OnCast": [
            "characters/Orianna/sounds/10486779.ogg",
            "characters/Orianna/sounds/17107848.ogg",
            "characters/Orianna/sounds/172325572.ogg",
            "characters/Orianna/sounds/50362070.ogg",
        ],
        "OriannaBasicAttack2_OnHit": [
            "characters/Orianna/sounds/125536906.ogg",
            "characters/Orianna/sounds/13151160.ogg",
            "characters/Orianna/sounds/167582558.ogg",
            "characters/Orianna/sounds/17209969.ogg",
            "characters/Orianna/sounds/182941376.ogg",
            "characters/Orianna/sounds/215387564.ogg",
            "characters/Orianna/sounds/235120225.ogg",
            "characters/Orianna/sounds/245015336.ogg",
            "characters/Orianna/sounds/303458164.ogg",
            "characters/Orianna/sounds/40348658.ogg",
            "characters/Orianna/sounds/44891511.ogg",
            "characters/Orianna/sounds/50422111.ogg",
            "characters/Orianna/sounds/54554591.ogg",
            "characters/Orianna/sounds/80894070.ogg",
            "characters/Orianna/sounds/88465727.ogg",
            "characters/Orianna/sounds/9261621.ogg",
        ],
        "OriannaBasicAttack2_OnMissileLaunch": [
            "characters/Orianna/sounds/107968075.ogg",
            "characters/Orianna/sounds/177148774.ogg",
            "characters/Orianna/sounds/393366994.ogg",
            "characters/Orianna/sounds/45520813.ogg",
        ],
        "OriannaBasicAttack3_OnCast": [
            "characters/Orianna/sounds/10486779.ogg",
            "characters/Orianna/sounds/17107848.ogg",
            "characters/Orianna/sounds/172325572.ogg",
            "characters/Orianna/sounds/50362070.ogg",
        ],
        "OriannaBasicAttack3_OnHit": [
            "characters/Orianna/sounds/125536906.ogg",
            "characters/Orianna/sounds/13151160.ogg",
            "characters/Orianna/sounds/167582558.ogg",
            "characters/Orianna/sounds/17209969.ogg",
            "characters/Orianna/sounds/182941376.ogg",
            "characters/Orianna/sounds/215387564.ogg",
            "characters/Orianna/sounds/235120225.ogg",
            "characters/Orianna/sounds/245015336.ogg",
            "characters/Orianna/sounds/303458164.ogg",
            "characters/Orianna/sounds/40348658.ogg",
            "characters/Orianna/sounds/44891511.ogg",
            "characters/Orianna/sounds/50422111.ogg",
            "characters/Orianna/sounds/54554591.ogg",
            "characters/Orianna/sounds/80894070.ogg",
            "characters/Orianna/sounds/88465727.ogg",
            "characters/Orianna/sounds/9261621.ogg",
        ],
        "OriannaBasicAttack3_OnMissileLaunch": [
            "characters/Orianna/sounds/107968075.ogg",
            "characters/Orianna/sounds/177148774.ogg",
            "characters/Orianna/sounds/393366994.ogg",
            "characters/Orianna/sounds/45520813.ogg",
        ],
        "OriannaBasicAttack_OnCast": [
            "characters/Orianna/sounds/10486779.ogg",
            "characters/Orianna/sounds/17107848.ogg",
            "characters/Orianna/sounds/172325572.ogg",
            "characters/Orianna/sounds/50362070.ogg",
        ],
        "OriannaBasicAttack_OnHit": [
            "characters/Orianna/sounds/125536906.ogg",
            "characters/Orianna/sounds/13151160.ogg",
            "characters/Orianna/sounds/167582558.ogg",
            "characters/Orianna/sounds/17209969.ogg",
            "characters/Orianna/sounds/182941376.ogg",
            "characters/Orianna/sounds/215387564.ogg",
            "characters/Orianna/sounds/235120225.ogg",
            "characters/Orianna/sounds/245015336.ogg",
            "characters/Orianna/sounds/303458164.ogg",
            "characters/Orianna/sounds/40348658.ogg",
            "characters/Orianna/sounds/44891511.ogg",
            "characters/Orianna/sounds/50422111.ogg",
            "characters/Orianna/sounds/54554591.ogg",
            "characters/Orianna/sounds/80894070.ogg",
            "characters/Orianna/sounds/88465727.ogg",
            "characters/Orianna/sounds/9261621.ogg",
        ],
        "OriannaBasicAttack_OnMissileLaunch": [
            "characters/Orianna/sounds/107968075.ogg",
            "characters/Orianna/sounds/177148774.ogg",
            "characters/Orianna/sounds/393366994.ogg",
            "characters/Orianna/sounds/45520813.ogg",
        ],
        "OriannaCritAttack_OnCast": [
            "characters/Orianna/sounds/10486779.ogg",
            "characters/Orianna/sounds/17107848.ogg",
            "characters/Orianna/sounds/172325572.ogg",
            "characters/Orianna/sounds/50362070.ogg",
        ],
        "OriannaCritAttack_OnHit": [
            "characters/Orianna/sounds/125536906.ogg",
            "characters/Orianna/sounds/13151160.ogg",
            "characters/Orianna/sounds/167582558.ogg",
            "characters/Orianna/sounds/17209969.ogg",
            "characters/Orianna/sounds/182941376.ogg",
            "characters/Orianna/sounds/215387564.ogg",
            "characters/Orianna/sounds/235120225.ogg",
            "characters/Orianna/sounds/245015336.ogg",
            "characters/Orianna/sounds/303458164.ogg",
            "characters/Orianna/sounds/40348658.ogg",
            "characters/Orianna/sounds/44891511.ogg",
            "characters/Orianna/sounds/50422111.ogg",
            "characters/Orianna/sounds/54554591.ogg",
            "characters/Orianna/sounds/80894070.ogg",
            "characters/Orianna/sounds/88465727.ogg",
            "characters/Orianna/sounds/9261621.ogg",
        ],
        "OriannaCritAttack_OnMissileLaunch": [
            "characters/Orianna/sounds/107968075.ogg",
            "characters/Orianna/sounds/177148774.ogg",
            "characters/Orianna/sounds/393366994.ogg",
            "characters/Orianna/sounds/45520813.ogg",
        ],
        "OriannaDetonateCommand_buffactivate": [
            "characters/Orianna/sounds/1036935980.ogg",
            "characters/Orianna/sounds/887782363.ogg",
        ],
        "OriannaDetonateCommand_hit": [
            "characters/Orianna/sounds/1023409026.ogg",
            "characters/Orianna/sounds/1048097850.ogg",
            "characters/Orianna/sounds/467783881.ogg",
            "characters/Orianna/sounds/648642925.ogg",
        ],
        "OriannaDissonanceCommand_buffactivate": [
            "characters/Orianna/sounds/206112779.ogg",
        ],
        "OriannaDissonanceCommand_hit": [
            "characters/Orianna/sounds/209337696.ogg",
            "characters/Orianna/sounds/553165474.ogg",
            "characters/Orianna/sounds/667875164.ogg",
            "characters/Orianna/sounds/969388321.ogg",
        ],
        "OriannaIzuna_buffdeactivate": [
            "characters/Orianna/sounds/1036603756.ogg",
            "characters/Orianna/sounds/1058053328.ogg",
            "characters/Orianna/sounds/324184509.ogg",
            "characters/Orianna/sounds/427348050.ogg",
            "characters/Orianna/sounds/657330044.ogg",
            "characters/Orianna/sounds/689102615.ogg",
            "characters/Orianna/sounds/726646639.ogg",
            "characters/Orianna/sounds/742598757.ogg",
        ],
        "OriannaIzuna_hit": [
            "characters/Orianna/sounds/450485132.ogg",
            "characters/Orianna/sounds/580182307.ogg",
            "characters/Orianna/sounds/791749679.ogg",
            "characters/Orianna/sounds/888317944.ogg",
        ],
        "Play_vo_Orianna_Attack2DGeneral": [
            "characters/Orianna/sounds/1041222886.ogg",
            "characters/Orianna/sounds/197776363.ogg",
            "characters/Orianna/sounds/386513579.ogg",
            "characters/Orianna/sounds/496068329.ogg",
            "characters/Orianna/sounds/761705538.ogg",
            "characters/Orianna/sounds/861428338.ogg",
        ],
        "Play_vo_Orianna_Death3D": [
            "characters/Orianna/sounds/40331644.ogg",
        ],
        "Play_vo_Orianna_Joke3DGeneral": [
            "characters/Orianna/sounds/30713361.ogg",
            "characters/Orianna/sounds/584273224.ogg",
        ],
        "Play_vo_Orianna_Laugh3DGeneral": [
            "characters/Orianna/sounds/209685396.ogg",
            "characters/Orianna/sounds/210508867.ogg",
            "characters/Orianna/sounds/633073975.ogg",
            "characters/Orianna/sounds/713849833.ogg",
        ],
        "Play_vo_Orianna_Move2DStandard": [
            "characters/Orianna/sounds/257264177.ogg",
            "characters/Orianna/sounds/438398902.ogg",
            "characters/Orianna/sounds/486432888.ogg",
            "characters/Orianna/sounds/493015763.ogg",
            "characters/Orianna/sounds/581346977.ogg",
            "characters/Orianna/sounds/584768059.ogg",
            "characters/Orianna/sounds/68723301.ogg",
            "characters/Orianna/sounds/9583755.ogg",
            "characters/Orianna/sounds/963513125.ogg",
        ],
        "Play_vo_Orianna_OrianaDetonateCommand_cast3D": [
            "characters/Orianna/sounds/449439963.ogg",
            "characters/Orianna/sounds/602270579.ogg",
            "characters/Orianna/sounds/972765361.ogg",
        ],
        "Play_vo_Orianna_OrianaDissonanceCommand_cast3D": [
            "characters/Orianna/sounds/250659794.ogg",
            "characters/Orianna/sounds/393413180.ogg",
            "characters/Orianna/sounds/41705928.ogg",
            "characters/Orianna/sounds/468147642.ogg",
        ],
        "Play_vo_Orianna_OrianaIzunaCommand_cast3D": [
            "characters/Orianna/sounds/1058950401.ogg",
            "characters/Orianna/sounds/507789775.ogg",
            "characters/Orianna/sounds/632910581.ogg",
            "characters/Orianna/sounds/679574652.ogg",
        ],
        "Play_vo_Orianna_OrianaRedactCommand_cast3D": [
            "characters/Orianna/sounds/14156965.ogg",
            "characters/Orianna/sounds/364563227.ogg",
            "characters/Orianna/sounds/746062185.ogg",
            "characters/Orianna/sounds/888415122.ogg",
        ],
        "Play_vo_Orianna_Taunt3DGeneral": [
            "characters/Orianna/sounds/639270687.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Orianna/sounds/815312972.ogg",
        ],
    },
)