(
    spellData: Some((
        calculations: Some({
            "total_shield": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_shield",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.7),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    18.0,
                    16.0,
                    14.0,
                    12.0,
                    12.0,
                ]),
            ),
            (
                values: Some([
                    40.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                    110.0,
                ]),
            ),
            (
                values: Some([
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                ]),
            ),
            (
                values: Some([
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                ]),
            ),
            (
                values: Some([
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                ]),
            ),
            (
                values: Some([
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                ]),
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseShield",
                values: Some([
                    25.0,
                    50.0,
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
            65.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
            175.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(50.0),
        castFrame: Some(7.5),
        animationName: Some("Idle1"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(16385),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)