(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                ]),
            ),
            (
                values: Some([
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                    2.25,
                ]),
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                    160.0,
                    180.0,
                ]),
            ),
            (
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
        ]),
        castRadius: Some([
            285.0,
            285.0,
            285.0,
            285.0,
            285.0,
            285.0,
            285.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Idle1"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(9221),
        alternateName: None,
        coefficient: Some(0.5),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)