(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    35.0,
                    80.0,
                    125.0,
                    170.0,
                    215.0,
                    260.0,
                    305.0,
                ]),
            ),
            (
                values: Some([
                    2.5,
                    10.0,
                    17.5,
                    25.0,
                    32.5,
                    40.0,
                    47.5,
                ]),
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            70.0,
            80.0,
            90.0,
            100.0,
            110.0,
            120.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(3.48),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(65),
        alternateName: None,
        coefficient: Some(0.7),
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)