(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "MovementSpeedMod",
                values: Some([
                    0.4,
                    0.7,
                    1.0,
                    1.3,
                    1.6,
                    1.9,
                    2.2,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "HarrierCooldown",
                values: Some([
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                ]),
            ),
            (
                name: "RHarrierMarkDuration",
                values: Some([
                    4.5,
                    4.5,
                    4.5,
                    4.5,
                    4.5,
                    4.5,
                    4.5,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    60.0,
                    90.0,
                    120.0,
                    150.0,
                    180.0,
                    210.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            50.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(2200.0),
        missileEffectKey: None,
        castType: None,
    )),
)