(
    spellData: Some((
        calculations: Some({
            1476535861: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 942499611,
                    ),
                ]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: 3763458046,
                )),
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "RevealDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "ModesPassiveDamageMultiplier",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)