(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.7,
                    0.7,
                    1.0,
                    1.3,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    100.0,
                    100.0,
                    50.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            700.0,
            400.0,
            400.0,
            400.0,
            400.0,
            400.0,
            400.0,
        ]),
        castRadius: Some([
            700.0,
            700.0,
            700.0,
            700.0,
            700.0,
            700.0,
            700.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(15.0),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(15567),
        alternateName: None,
        coefficient: Some(1.0),
        hitEffectKey: Some(4056235891),
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)