(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1150.0,
            1150.0,
            1150.0,
            1150.0,
            1150.0,
            1150.0,
            1150.0,
        ]),
        castRadius: None,
        castConeAngle: Some(0.0),
        castConeDistance: Some(0.0),
        lineWidth: Some(90.0),
        castFrame: Some(18.0),
        animationName: Some("Spell4_W"),
        cooldownTime: None,
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: None,
        alternateName: Some("YunaraW"),
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)