(
    spellData: Some((
        calculations: Some({
            "charge_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "APRatio",
                values: Some([
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                    1.2,
                ]),
            ),
            (
                name: "ASMod",
                values: Some([
                    0.38,
                    0.38,
                    0.46,
                    0.54,
                    0.62,
                    0.7,
                    0.78,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    25.0,
                    50.0,
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                ]),
            ),
            (
                name: "ASDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                ]),
            ),
            (
                name: "APToASRatio",
                values: Some([
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                    0.001,
                ]),
            ),
            (
                name: "PermanentASToASRatio",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "AoERadius",
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            650.0,
            650.0,
            650.0,
            650.0,
            650.0,
            650.0,
            650.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(9.0),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            11.0,
            11.0,
            11.0,
            11.0,
            11.0,
            11.0,
            11.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(22538),
        alternateName: Some("XinZhaoE"),
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)