(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Jinx/spells/JinxPassiveMarker.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 85.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Jinx/spells/JinxR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 27.5,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Jinx/spells/JinxE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 9.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Jinx/spells/JinxW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.9,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Jinx/spells/JinxQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Jinx",
        "lol_core::attack::Attack": (
          range: 550.0,
          base_attack_speed: 0.625,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.28333,
            attack_total_time: 1.6,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.2,
          max: 0.2,
          base: 0.2,
          per_level: 0.0,
          base_static_regen: 50.0,
          regen_per_level: 260.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.0,
          height: 200.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.2),
        "lol_core::damage::Damage": (59.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 630.0,
          max: 630.0,
        ),
        "lol_core::movement::Movement": (
          speed: 325.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "Crepe_JinxVsCaitlyn_CaitlynLose": Path("characters/Jinx/spells/Crepe_JinxVsCaitlyn_CaitlynLose.ron"),
          "Crepe_JinxVsCaitlyn_JinxDescription": Path("characters/Jinx/spells/Crepe_JinxVsCaitlyn_JinxDescription.ron"),
          "Crepe_JinxVsCaitlyn_JinxReward": Path("characters/Jinx/spells/Crepe_JinxVsCaitlyn_JinxReward.ron"),
          "Crepe_JinxVsCaitlyn_JinxStart": Path("characters/Jinx/spells/Crepe_JinxVsCaitlyn_JinxStart.ron"),
          "Crepe_JinxVsEkko_JinxPoroTracker": Path("characters/Jinx/spells/Crepe_JinxVsEkko_JinxPoroTracker.ron"),
          "Crepe_JinxVsEkko_JinxReward": Path("characters/Jinx/spells/Crepe_JinxVsEkko_JinxReward.ron"),
          "Crepe_JinxVsEkko_JinxStart": Path("characters/Jinx/spells/Crepe_JinxVsEkko_JinxStart.ron"),
          "ItemHurricaneJinxAttack": Path("characters/Jinx/spells/ItemHurricaneJinxAttack.ron"),
          "JinxBasicAttack": Path("characters/Jinx/spells/JinxBasicAttack.ron"),
          "JinxBasicAttack2": Path("characters/Jinx/spells/JinxBasicAttack2.ron"),
          "JinxBasicAttack3": Path("characters/Jinx/spells/JinxBasicAttack3.ron"),
          "JinxBasicAttack4": Path("characters/Jinx/spells/JinxBasicAttack4.ron"),
          "JinxBasicAttack5": Path("characters/Jinx/spells/JinxBasicAttack5.ron"),
          "JinxBasicAttack6": Path("characters/Jinx/spells/JinxBasicAttack6.ron"),
          "JinxCritAttack": Path("characters/Jinx/spells/JinxCritAttack.ron"),
          "JinxCritAttack2": Path("characters/Jinx/spells/JinxCritAttack2.ron"),
          "JinxCritAttack3": Path("characters/Jinx/spells/JinxCritAttack3.ron"),
          "JinxCritAttack4": Path("characters/Jinx/spells/JinxCritAttack4.ron"),
          "JinxCritAttack5": Path("characters/Jinx/spells/JinxCritAttack5.ron"),
          "JinxCritAttack6": Path("characters/Jinx/spells/JinxCritAttack6.ron"),
          "JinxE": Path("characters/Jinx/spells/JinxE.ron"),
          "JinxEFireBurn": Path("characters/Jinx/spells/JinxEFireBurn.ron"),
          "JinxEHit": Path("characters/Jinx/spells/JinxEHit.ron"),
          "JinxEMine": Path("characters/Jinx/spells/JinxEMine.ron"),
          "JinxEMineSnare": Path("characters/Jinx/spells/JinxEMineSnare.ron"),
          "JinxPassiveKillAttackSpeed": Path("characters/Jinx/spells/JinxPassiveKillAttackSpeed.ron"),
          "JinxPassiveMarker": Path("characters/Jinx/spells/JinxPassiveMarker.ron"),
          "JinxQ": Path("characters/Jinx/spells/JinxQ.ron"),
          "JinxQAttack": Path("characters/Jinx/spells/JinxQAttack.ron"),
          "JinxQAttack2": Path("characters/Jinx/spells/JinxQAttack2.ron"),
          "JinxQCritAttack": Path("characters/Jinx/spells/JinxQCritAttack.ron"),
          "JinxR": Path("characters/Jinx/spells/JinxR.ron"),
          "JinxW": Path("characters/Jinx/spells/JinxW.ron"),
          "JinxWMissile": Path("characters/Jinx/spells/JinxWMissile.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)