(
    events: {
        "Dance3D_buffactivate": [
            "characters/Nasus/sounds/168907873.ogg",
            "characters/Nasus/sounds/70863054.ogg",
            "characters/Nasus/sounds/905774341.ogg",
        ],
        "Death3D_cast": [
            "characters/Nasus/sounds/3881372.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Nasus/sounds/748990640.ogg",
        ],
        "NasusBasicAttack2_OnCast": [
            "characters/Nasus/sounds/110912238.ogg",
            "characters/Nasus/sounds/206127411.ogg",
            "characters/Nasus/sounds/80001971.ogg",
            "characters/Nasus/sounds/96435640.ogg",
        ],
        "NasusBasicAttack2_OnHit": [
            "characters/Nasus/sounds/126975963.ogg",
            "characters/Nasus/sounds/130172312.ogg",
            "characters/Nasus/sounds/142655205.ogg",
            "characters/Nasus/sounds/168853924.ogg",
            "characters/Nasus/sounds/179699401.ogg",
            "characters/Nasus/sounds/181603347.ogg",
            "characters/Nasus/sounds/196797664.ogg",
            "characters/Nasus/sounds/218987261.ogg",
            "characters/Nasus/sounds/225882539.ogg",
            "characters/Nasus/sounds/231115403.ogg",
            "characters/Nasus/sounds/26691471.ogg",
            "characters/Nasus/sounds/341031944.ogg",
            "characters/Nasus/sounds/47481696.ogg",
            "characters/Nasus/sounds/71012414.ogg",
            "characters/Nasus/sounds/76754000.ogg",
            "characters/Nasus/sounds/85747492.ogg",
        ],
        "NasusBasicAttack_OnCast": [
            "characters/Nasus/sounds/110912238.ogg",
            "characters/Nasus/sounds/206127411.ogg",
            "characters/Nasus/sounds/80001971.ogg",
            "characters/Nasus/sounds/96435640.ogg",
        ],
        "NasusBasicAttack_OnHit": [
            "characters/Nasus/sounds/126975963.ogg",
            "characters/Nasus/sounds/130172312.ogg",
            "characters/Nasus/sounds/142655205.ogg",
            "characters/Nasus/sounds/168853924.ogg",
            "characters/Nasus/sounds/179699401.ogg",
            "characters/Nasus/sounds/181603347.ogg",
            "characters/Nasus/sounds/196797664.ogg",
            "characters/Nasus/sounds/218987261.ogg",
            "characters/Nasus/sounds/225882539.ogg",
            "characters/Nasus/sounds/231115403.ogg",
            "characters/Nasus/sounds/26691471.ogg",
            "characters/Nasus/sounds/341031944.ogg",
            "characters/Nasus/sounds/47481696.ogg",
            "characters/Nasus/sounds/71012414.ogg",
            "characters/Nasus/sounds/76754000.ogg",
            "characters/Nasus/sounds/85747492.ogg",
        ],
        "NasusCritAttack_OnCast": [
            "characters/Nasus/sounds/110912238.ogg",
            "characters/Nasus/sounds/206127411.ogg",
            "characters/Nasus/sounds/80001971.ogg",
            "characters/Nasus/sounds/96435640.ogg",
        ],
        "NasusCritAttack_OnHit": [
            "characters/Nasus/sounds/126975963.ogg",
            "characters/Nasus/sounds/130172312.ogg",
            "characters/Nasus/sounds/142655205.ogg",
            "characters/Nasus/sounds/168853924.ogg",
            "characters/Nasus/sounds/179699401.ogg",
            "characters/Nasus/sounds/181603347.ogg",
            "characters/Nasus/sounds/196797664.ogg",
            "characters/Nasus/sounds/218987261.ogg",
            "characters/Nasus/sounds/225882539.ogg",
            "characters/Nasus/sounds/231115403.ogg",
            "characters/Nasus/sounds/26691471.ogg",
            "characters/Nasus/sounds/341031944.ogg",
            "characters/Nasus/sounds/47481696.ogg",
            "characters/Nasus/sounds/71012414.ogg",
            "characters/Nasus/sounds/76754000.ogg",
            "characters/Nasus/sounds/85747492.ogg",
        ],
        "NasusE_cast": [
            "characters/Nasus/sounds/276533787.ogg",
            "characters/Nasus/sounds/310117708.ogg",
            "characters/Nasus/sounds/510407889.ogg",
            "characters/Nasus/sounds/697669980.ogg",
        ],
        "NasusE_hit": [
            "characters/Nasus/sounds/148015402.ogg",
            "characters/Nasus/sounds/651421611.ogg",
            "characters/Nasus/sounds/65609219.ogg",
            "characters/Nasus/sounds/780708407.ogg",
        ],
        "NasusQAttack_OnCast": [
            "characters/Nasus/sounds/279912839.ogg",
            "characters/Nasus/sounds/459183047.ogg",
            "characters/Nasus/sounds/640796017.ogg",
            "characters/Nasus/sounds/9620577.ogg",
        ],
        "NasusQAttack_OnHit": [
            "characters/Nasus/sounds/303136215.ogg",
            "characters/Nasus/sounds/340115586.ogg",
            "characters/Nasus/sounds/838625070.ogg",
            "characters/Nasus/sounds/856791618.ogg",
        ],
        "NasusQAttack_hit": [
            "characters/Nasus/sounds/303136215.ogg",
            "characters/Nasus/sounds/340115586.ogg",
            "characters/Nasus/sounds/838625070.ogg",
            "characters/Nasus/sounds/856791618.ogg",
        ],
        "NasusQ_OnBuffActivate": [
            "characters/Nasus/sounds/170540666.ogg",
            "characters/Nasus/sounds/798010820.ogg",
            "characters/Nasus/sounds/906849285.ogg",
        ],
        "NasusQ_OnBuffDeactivate": [
            "characters/Nasus/sounds/472825000.ogg",
            "characters/Nasus/sounds/677934504.ogg",
            "characters/Nasus/sounds/920388153.ogg",
        ],
        "NasusQ_OnCast": [
            "characters/Nasus/sounds/679181591.ogg",
            "characters/Nasus/sounds/789291228.ogg",
            "characters/Nasus/sounds/848913713.ogg",
        ],
        "NasusR_OnBuffActivate": [
            "characters/Nasus/sounds/264097075.ogg",
        ],
        "NasusR_OnBuffDeactivate": [
            "characters/Nasus/sounds/379860826.ogg",
            "characters/Nasus/sounds/455154507.ogg",
        ],
        "NasusR_OnCast": [
            "characters/Nasus/sounds/4364946.ogg",
        ],
        "NasusR_loop": [
            "characters/Nasus/sounds/431026853.ogg",
            "characters/Nasus/sounds/719075421.ogg",
        ],
        "NasusW_OnBuffDeactivate": [
            "characters/Nasus/sounds/163415635.ogg",
            "characters/Nasus/sounds/313876458.ogg",
            "characters/Nasus/sounds/72063650.ogg",
        ],
        "NasusW_OnCast": [
            "characters/Nasus/sounds/28293339.ogg",
            "characters/Nasus/sounds/305737238.ogg",
            "characters/Nasus/sounds/479586928.ogg",
        ],
        "NasusW_loop": [
            "characters/Nasus/sounds/527693881.ogg",
            "characters/Nasus/sounds/826630843.ogg",
        ],
        "Play_vo_Nasus_Attack2DGeneral": [
            "characters/Nasus/sounds/1009107363.ogg",
            "characters/Nasus/sounds/1038241139.ogg",
            "characters/Nasus/sounds/147564440.ogg",
            "characters/Nasus/sounds/161607375.ogg",
            "characters/Nasus/sounds/175579594.ogg",
            "characters/Nasus/sounds/197902290.ogg",
            "characters/Nasus/sounds/285453856.ogg",
            "characters/Nasus/sounds/497631049.ogg",
            "characters/Nasus/sounds/525461189.ogg",
            "characters/Nasus/sounds/749986421.ogg",
            "characters/Nasus/sounds/771790871.ogg",
            "characters/Nasus/sounds/779926466.ogg",
            "characters/Nasus/sounds/806449215.ogg",
        ],
        "Play_vo_Nasus_Death3D": [
            "characters/Nasus/sounds/251746737.ogg",
            "characters/Nasus/sounds/545386.ogg",
            "characters/Nasus/sounds/579469990.ogg",
            "characters/Nasus/sounds/789883976.ogg",
        ],
        "Play_vo_Nasus_FirstEncounter3DRenekton": [
            "characters/Nasus/sounds/342480673.ogg",
            "characters/Nasus/sounds/41700240.ogg",
            "characters/Nasus/sounds/92388294.ogg",
        ],
        "Play_vo_Nasus_FirstEncounter3DXerath": [
            "characters/Nasus/sounds/448552279.ogg",
            "characters/Nasus/sounds/957380588.ogg",
        ],
        "Play_vo_Nasus_Joke3DGeneral": [
            "characters/Nasus/sounds/213737510.ogg",
            "characters/Nasus/sounds/700667077.ogg",
            "characters/Nasus/sounds/731882437.ogg",
        ],
        "Play_vo_Nasus_Laugh3DGeneral": [
            "characters/Nasus/sounds/276885639.ogg",
            "characters/Nasus/sounds/306024731.ogg",
            "characters/Nasus/sounds/497870001.ogg",
            "characters/Nasus/sounds/73452006.ogg",
        ],
        "Play_vo_Nasus_Move2DStandard": [
            "characters/Nasus/sounds/1023498676.ogg",
            "characters/Nasus/sounds/1040125243.ogg",
            "characters/Nasus/sounds/158338042.ogg",
            "characters/Nasus/sounds/168645789.ogg",
            "characters/Nasus/sounds/186318063.ogg",
            "characters/Nasus/sounds/236058549.ogg",
            "characters/Nasus/sounds/508551067.ogg",
            "characters/Nasus/sounds/521044526.ogg",
            "characters/Nasus/sounds/593787812.ogg",
            "characters/Nasus/sounds/63170051.ogg",
            "characters/Nasus/sounds/662689894.ogg",
            "characters/Nasus/sounds/693979542.ogg",
            "characters/Nasus/sounds/738568036.ogg",
            "characters/Nasus/sounds/793103957.ogg",
            "characters/Nasus/sounds/933436843.ogg",
            "characters/Nasus/sounds/980397301.ogg",
        ],
        "Play_vo_Nasus_NasusBasicAttack2_cast3D": [
            "characters/Nasus/sounds/414635159.ogg",
            "characters/Nasus/sounds/582188579.ogg",
            "characters/Nasus/sounds/605637442.ogg",
            "characters/Nasus/sounds/759371823.ogg",
        ],
        "Play_vo_Nasus_NasusBasicAttack_cast3D": [
            "characters/Nasus/sounds/414635159.ogg",
            "characters/Nasus/sounds/582188579.ogg",
            "characters/Nasus/sounds/605637442.ogg",
            "characters/Nasus/sounds/759371823.ogg",
        ],
        "Play_vo_Nasus_NasusCritAttack_cast3D": [
            "characters/Nasus/sounds/414635159.ogg",
            "characters/Nasus/sounds/582188579.ogg",
            "characters/Nasus/sounds/605637442.ogg",
            "characters/Nasus/sounds/759371823.ogg",
        ],
        "Play_vo_Nasus_NasusE_cast3D": [
            "characters/Nasus/sounds/141411256.ogg",
            "characters/Nasus/sounds/257447765.ogg",
            "characters/Nasus/sounds/49727904.ogg",
            "characters/Nasus/sounds/863935406.ogg",
        ],
        "Play_vo_Nasus_NasusQAttack_cast3D": [
            "characters/Nasus/sounds/601466424.ogg",
            "characters/Nasus/sounds/730671650.ogg",
            "characters/Nasus/sounds/788148529.ogg",
            "characters/Nasus/sounds/981986113.ogg",
        ],
        "Play_vo_Nasus_NasusW_cast3D": [
            "characters/Nasus/sounds/309087395.ogg",
            "characters/Nasus/sounds/461795386.ogg",
            "characters/Nasus/sounds/785946726.ogg",
            "characters/Nasus/sounds/794352593.ogg",
        ],
        "Play_vo_Nasus_Taunt3DGeneral": [
            "characters/Nasus/sounds/48164335.ogg",
            "characters/Nasus/sounds/826540573.ogg",
        ],
        "Recall_winddown": [
            "characters/Nasus/sounds/1016083402.ogg",
        ],
        "Recall_windup": [
            "characters/Nasus/sounds/542330742.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Nasus/sounds/1048883573.ogg",
        ],
    },
)