(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "ChargeTime",
                values: Some([
                    2.1,
                    2.1,
                    2.1,
                    2.1,
                    2.1,
                    2.1,
                    2.1,
                ]),
            ),
            (
                name: "TeleportTime",
                values: Some([
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                ]),
            ),
            (
                name: "AllyIndicatorBuffDuration",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "ChargeTimeTooltip",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "OverloadDamageBonus",
                values: Some([
                    25.0,
                    50.0,
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                ]),
            ),
            (
                name: "OverloadHealPercent",
                values: Some([
                    0.0,
                    20.0,
                    25.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                ]),
            ),
            (
                name: "HealPercentMinionMod",
                values: Some([
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                    0.33,
                ]),
            ),
            (
                name: "MinimumCastRange",
                values: Some([
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1700.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            3000.0,
            3000.0,
            3000.0,
            3000.0,
            3000.0,
            3000.0,
            3000.0,
        ]),
        castRadius: Some([
            365.0,
            365.0,
            365.0,
            365.0,
            365.0,
            365.0,
            365.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(5.365),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            180.0,
            180.0,
            160.0,
            140.0,
            140.0,
            140.0,
            140.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: Some(0.6),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)