(
    spellData: Some((
        calculations: Some({
            2672392607: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartEffectValue",
                        effectIndex: Some(1),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(29),
                        coefficient: Some(2.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1612076193: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                values: Some([
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                ]),
            ),
            (
                values: Some([
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                ]),
            ),
            (
                values: Some([
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                ]),
            ),
            (
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
            (
                values: Some([
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                    1.15,
                ]),
            ),
            (
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
        ]),
        dataValues: None,
        mana: Some([
            65.0,
            65.0,
            65.0,
            65.0,
            65.0,
            65.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)