(
    spellData: Some((
        calculations: Some({
            "stun_duration": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_stun_duration",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(29),
                        coefficient: Some(0.01),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: Some(-1),
            ),
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    100.0,
                    100.0,
                    150.0,
                    200.0,
                    250.0,
                    300.0,
                    350.0,
                ]),
            ),
            (
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                values: Some([
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                    550.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    100.0,
                    100.0,
                    150.0,
                    200.0,
                    250.0,
                    300.0,
                    350.0,
                ]),
            ),
            (
                name: "BonusADRatio",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "BaseStunDuration",
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                name: "ELethalityRatio",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
            550.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: Some("None"),
        cooldownTime: Some([
            15.0,
            15.0,
            14.0,
            13.0,
            12.0,
            11.0,
            11.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8192),
        alternateName: Some("PykeE"),
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)