(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2500.0),
                startBoneName: Some("UpperBarrel"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(150.0),
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: Some(2500.0),
        missileEffectKey: Some(3376881886),
        castType: Some(1),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some(""),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8191),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)