(
    spellData: Some((
        calculations: Some({
            "base_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Damage",
                values: Some([
                    35.0,
                    70.0,
                    105.0,
                    140.0,
                    175.0,
                    210.0,
                    245.0,
                ]),
            ),
            (
                name: "BaseRootDuration",
                values: Some([
                    0.0,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "MinRootDuration",
                values: Some([
                    0.5,
                    0.7,
                    0.9,
                    1.1,
                    1.3,
                    1.5,
                    1.7,
                ]),
            ),
            (
                name: "TargetsRequiredForMaxValue",
                values: Some([
                    0.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "MaxRootDuration",
                values: Some([
                    1.5,
                    1.8,
                    2.1,
                    2.4,
                    2.7,
                    3.0,
                    3.3,
                ]),
            ),
            (
                name: "EmpoweredWidth",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "EmpoweredSpeed",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            65.0,
            70.0,
            75.0,
            80.0,
            60.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1300.0),
                startBoneName: Some("Root"),
                tracksTarget: None,
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(70.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: Some(3),
        castRange: Some([
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
        ]),
        castRadius: None,
        castConeAngle: Some(0.0),
        castConeDistance: Some(0.0),
        lineWidth: None,
        castFrame: None,
        animationName: Some("Spell3"),
        cooldownTime: Some([
            12.0,
            12.0,
            11.5,
            11.0,
            10.5,
            10.0,
            10.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)