(
    events: {
        "Play_vo_XinZhao_Attack2DAtakhan": [
            "characters/Xinzhao/sounds/269017586.ogg",
        ],
        "Play_vo_XinZhao_Attack2DBaron": [
            "characters/Xinzhao/sounds/236140364.ogg",
        ],
        "Play_vo_XinZhao_Attack2DDragon": [
            "characters/Xinzhao/sounds/1062137899.ogg",
        ],
        "Play_vo_XinZhao_Attack2DGeneral": [
            "characters/Xinzhao/sounds/1056557360.ogg",
            "characters/Xinzhao/sounds/1060021196.ogg",
            "characters/Xinzhao/sounds/233237201.ogg",
            "characters/Xinzhao/sounds/246642508.ogg",
            "characters/Xinzhao/sounds/250537669.ogg",
            "characters/Xinzhao/sounds/265741940.ogg",
            "characters/Xinzhao/sounds/287875169.ogg",
            "characters/Xinzhao/sounds/335525064.ogg",
            "characters/Xinzhao/sounds/455983012.ogg",
            "characters/Xinzhao/sounds/693769758.ogg",
            "characters/Xinzhao/sounds/735503235.ogg",
            "characters/Xinzhao/sounds/831734684.ogg",
            "characters/Xinzhao/sounds/839259478.ogg",
            "characters/Xinzhao/sounds/839909738.ogg",
            "characters/Xinzhao/sounds/910268614.ogg",
            "characters/Xinzhao/sounds/926283094.ogg",
        ],
        "Play_vo_XinZhao_Attack2DHerald": [
            "characters/Xinzhao/sounds/495985492.ogg",
        ],
        "Play_vo_XinZhao_Death3D": [
            "characters/Xinzhao/sounds/211619592.ogg",
            "characters/Xinzhao/sounds/212678390.ogg",
            "characters/Xinzhao/sounds/242177157.ogg",
            "characters/Xinzhao/sounds/947611899.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DAlistar": [
            "characters/Xinzhao/sounds/1032620323.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DDarkin": [
            "characters/Xinzhao/sounds/333777279.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DDarkin2025S3": [
            "characters/Xinzhao/sounds/519924287.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DDemacia": [
            "characters/Xinzhao/sounds/708196919.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DDraven": [
            "characters/Xinzhao/sounds/566619393.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DGaren": [
            "characters/Xinzhao/sounds/258007297.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DGeneral": [
            "characters/Xinzhao/sounds/177057616.ogg",
            "characters/Xinzhao/sounds/348128864.ogg",
            "characters/Xinzhao/sounds/568738405.ogg",
            "characters/Xinzhao/sounds/900764052.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DIonia": [
            "characters/Xinzhao/sounds/589035267.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DJarvanIV": [
            "characters/Xinzhao/sounds/907381512.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DKennen": [
            "characters/Xinzhao/sounds/641235568.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DLeBlanc": [
            "characters/Xinzhao/sounds/608571444.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DNoxus": [
            "characters/Xinzhao/sounds/319782556.ogg",
            "characters/Xinzhao/sounds/416215674.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DSion": [
            "characters/Xinzhao/sounds/524877003.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DSona": [
            "characters/Xinzhao/sounds/130434540.ogg",
        ],
        "Play_vo_XinZhao_FirstEncounter3DYunara": [
            "characters/Xinzhao/sounds/159460608.ogg",
        ],
        "Play_vo_XinZhao_Joke3DGeneral": [
            "characters/Xinzhao/sounds/578754418.ogg",
        ],
        "Play_vo_XinZhao_Kill2DBrambleback": [
            "characters/Xinzhao/sounds/799558180.ogg",
        ],
        "Play_vo_XinZhao_Kill2DCamp": [
            "characters/Xinzhao/sounds/331679556.ogg",
            "characters/Xinzhao/sounds/639187899.ogg",
        ],
        "Play_vo_XinZhao_Kill2DSentinel": [
            "characters/Xinzhao/sounds/516419983.ogg",
        ],
        "Play_vo_XinZhao_Kill3DAlistar": [
            "characters/Xinzhao/sounds/382404066.ogg",
        ],
        "Play_vo_XinZhao_Kill3DAtakhan": [
            "characters/Xinzhao/sounds/224144454.ogg",
        ],
        "Play_vo_XinZhao_Kill3DDarkin": [
            "characters/Xinzhao/sounds/342840159.ogg",
            "characters/Xinzhao/sounds/753304819.ogg",
        ],
        "Play_vo_XinZhao_Kill3DDemacia": [
            "characters/Xinzhao/sounds/1031241791.ogg",
        ],
        "Play_vo_XinZhao_Kill3DDemon": [
            "characters/Xinzhao/sounds/346894510.ogg",
        ],
        "Play_vo_XinZhao_Kill3DDraven": [
            "characters/Xinzhao/sounds/124962463.ogg",
            "characters/Xinzhao/sounds/647517991.ogg",
        ],
        "Play_vo_XinZhao_Kill3DFirst": [
            "characters/Xinzhao/sounds/467502387.ogg",
        ],
        "Play_vo_XinZhao_Kill3DGaren": [
            "characters/Xinzhao/sounds/691197611.ogg",
        ],
        "Play_vo_XinZhao_Kill3DGeneral": [
            "characters/Xinzhao/sounds/22175254.ogg",
            "characters/Xinzhao/sounds/57822221.ogg",
            "characters/Xinzhao/sounds/600566412.ogg",
            "characters/Xinzhao/sounds/685679761.ogg",
            "characters/Xinzhao/sounds/806837735.ogg",
        ],
        "Play_vo_XinZhao_Kill3DIonia": [
            "characters/Xinzhao/sounds/198689126.ogg",
        ],
        "Play_vo_XinZhao_Kill3DJarvanIV": [
            "characters/Xinzhao/sounds/32022005.ogg",
            "characters/Xinzhao/sounds/357675772.ogg",
        ],
        "Play_vo_XinZhao_Kill3DKennen": [
            "characters/Xinzhao/sounds/833890191.ogg",
        ],
        "Play_vo_XinZhao_Kill3DLeBlanc": [
            "characters/Xinzhao/sounds/640167802.ogg",
        ],
        "Play_vo_XinZhao_Kill3DNoxus": [
            "characters/Xinzhao/sounds/155481270.ogg",
        ],
        "Play_vo_XinZhao_Kill3DPenta": [
            "characters/Xinzhao/sounds/569185952.ogg",
        ],
        "Play_vo_XinZhao_Kill3DSion": [
            "characters/Xinzhao/sounds/346537300.ogg",
        ],
        "Play_vo_XinZhao_Kill3DWard": [
            "characters/Xinzhao/sounds/196809179.ogg",
            "characters/Xinzhao/sounds/279776694.ogg",
            "characters/Xinzhao/sounds/332262336.ogg",
            "characters/Xinzhao/sounds/812471355.ogg",
        ],
        "Play_vo_XinZhao_Kill3DYunara": [
            "characters/Xinzhao/sounds/713530680.ogg",
        ],
        "Play_vo_XinZhao_Laugh3DGeneral": [
            "characters/Xinzhao/sounds/666798053.ogg",
        ],
        "Play_vo_XinZhao_Move2DFirst": [
            "characters/Xinzhao/sounds/1002166132.ogg",
            "characters/Xinzhao/sounds/33325757.ogg",
            "characters/Xinzhao/sounds/589581921.ogg",
            "characters/Xinzhao/sounds/688677976.ogg",
        ],
        "Play_vo_XinZhao_Move2DFirstAllyDemacia": [
            "characters/Xinzhao/sounds/449772897.ogg",
        ],
        "Play_vo_XinZhao_Move2DFirstAllyJarvanIV": [
            "characters/Xinzhao/sounds/483339670.ogg",
        ],
        "Play_vo_XinZhao_Move2DFirstAllyKennen": [
            "characters/Xinzhao/sounds/359700159.ogg",
        ],
        "Play_vo_XinZhao_Move2DFirstAllySona": [
            "characters/Xinzhao/sounds/412382821.ogg",
        ],
        "Play_vo_XinZhao_Move2DFirstAllyYunara": [
            "characters/Xinzhao/sounds/755546351.ogg",
        ],
        "Play_vo_XinZhao_Move2DLong": [
            "characters/Xinzhao/sounds/1047035485.ogg",
            "characters/Xinzhao/sounds/1053738649.ogg",
            "characters/Xinzhao/sounds/162568000.ogg",
            "characters/Xinzhao/sounds/230944324.ogg",
            "characters/Xinzhao/sounds/265569173.ogg",
            "characters/Xinzhao/sounds/523178558.ogg",
            "characters/Xinzhao/sounds/549608422.ogg",
            "characters/Xinzhao/sounds/699319880.ogg",
            "characters/Xinzhao/sounds/777535002.ogg",
            "characters/Xinzhao/sounds/855192246.ogg",
            "characters/Xinzhao/sounds/903528563.ogg",
        ],
        "Play_vo_XinZhao_Move2DStandard": [
            "characters/Xinzhao/sounds/1010706370.ogg",
            "characters/Xinzhao/sounds/1056226730.ogg",
            "characters/Xinzhao/sounds/140548945.ogg",
            "characters/Xinzhao/sounds/209115187.ogg",
            "characters/Xinzhao/sounds/228871180.ogg",
            "characters/Xinzhao/sounds/313262036.ogg",
            "characters/Xinzhao/sounds/352732556.ogg",
            "characters/Xinzhao/sounds/407469201.ogg",
            "characters/Xinzhao/sounds/40782286.ogg",
            "characters/Xinzhao/sounds/446209176.ogg",
            "characters/Xinzhao/sounds/520521126.ogg",
            "characters/Xinzhao/sounds/565865366.ogg",
            "characters/Xinzhao/sounds/616989816.ogg",
            "characters/Xinzhao/sounds/642304334.ogg",
            "characters/Xinzhao/sounds/675069649.ogg",
            "characters/Xinzhao/sounds/746689019.ogg",
            "characters/Xinzhao/sounds/87910879.ogg",
            "characters/Xinzhao/sounds/880135752.ogg",
            "characters/Xinzhao/sounds/886273320.ogg",
            "characters/Xinzhao/sounds/985672948.ogg",
        ],
        "Play_vo_XinZhao_Recall3DGeneral": [
            "characters/Xinzhao/sounds/1026113905.ogg",
            "characters/Xinzhao/sounds/441582376.ogg",
            "characters/Xinzhao/sounds/674157906.ogg",
            "characters/Xinzhao/sounds/830220296.ogg",
            "characters/Xinzhao/sounds/949335234.ogg",
        ],
        "Play_vo_XinZhao_Respawn2DGeneral": [
            "characters/Xinzhao/sounds/1031354634.ogg",
            "characters/Xinzhao/sounds/450532901.ogg",
            "characters/Xinzhao/sounds/538337260.ogg",
            "characters/Xinzhao/sounds/938912366.ogg",
            "characters/Xinzhao/sounds/993262540.ogg",
        ],
        "Play_vo_XinZhao_Spell3DQKnockup": [
            "characters/Xinzhao/sounds/1009367557.ogg",
            "characters/Xinzhao/sounds/1013762004.ogg",
            "characters/Xinzhao/sounds/190455441.ogg",
            "characters/Xinzhao/sounds/570995580.ogg",
            "characters/Xinzhao/sounds/824247922.ogg",
        ],
        "Play_vo_XinZhao_Taunt3DGeneral": [
            "characters/Xinzhao/sounds/113999940.ogg",
        ],
        "Play_vo_XinZhao_TauntResponse3DGeneral": [
            "characters/Xinzhao/sounds/858856660.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoBasicAttack2_cast3D": [
            "characters/Xinzhao/sounds/1059714560.ogg",
            "characters/Xinzhao/sounds/126195278.ogg",
            "characters/Xinzhao/sounds/528382604.ogg",
            "characters/Xinzhao/sounds/976765038.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoBasicAttack_cast3D": [
            "characters/Xinzhao/sounds/1059714560.ogg",
            "characters/Xinzhao/sounds/126195278.ogg",
            "characters/Xinzhao/sounds/528382604.ogg",
            "characters/Xinzhao/sounds/976765038.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoCritAttack_cast3D": [
            "characters/Xinzhao/sounds/1059714560.ogg",
            "characters/Xinzhao/sounds/126195278.ogg",
            "characters/Xinzhao/sounds/528382604.ogg",
            "characters/Xinzhao/sounds/976765038.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoEDash_cast3D": [
            "characters/Xinzhao/sounds/433510295.ogg",
            "characters/Xinzhao/sounds/4434723.ogg",
            "characters/Xinzhao/sounds/514060485.ogg",
            "characters/Xinzhao/sounds/515702324.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoQThrust1_cast3D": [
            "characters/Xinzhao/sounds/315793387.ogg",
            "characters/Xinzhao/sounds/537889167.ogg",
            "characters/Xinzhao/sounds/561645358.ogg",
            "characters/Xinzhao/sounds/722882741.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoQThrust2_cast3D": [
            "characters/Xinzhao/sounds/315793387.ogg",
            "characters/Xinzhao/sounds/537889167.ogg",
            "characters/Xinzhao/sounds/561645358.ogg",
            "characters/Xinzhao/sounds/722882741.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoR_cast3D": [
            "characters/Xinzhao/sounds/1033678101.ogg",
            "characters/Xinzhao/sounds/719486934.ogg",
            "characters/Xinzhao/sounds/890792367.ogg",
            "characters/Xinzhao/sounds/921601272.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoWMissile_hit3D": [
            "characters/Xinzhao/sounds/165833749.ogg",
            "characters/Xinzhao/sounds/464315341.ogg",
            "characters/Xinzhao/sounds/841236535.ogg",
            "characters/Xinzhao/sounds/961014840.ogg",
        ],
        "Play_vo_XinZhao_XinZhaoW_cast3D": [
            "characters/Xinzhao/sounds/276088189.ogg",
            "characters/Xinzhao/sounds/594412374.ogg",
            "characters/Xinzhao/sounds/941670401.ogg",
            "characters/Xinzhao/sounds/945879362.ogg",
        ],
        "XinZhao_Dance3D_buffactivate_loop": [
            "characters/Xinzhao/sounds/511195800.ogg",
        ],
        "XinZhao_Dance3D_leadin": [
            "characters/Xinzhao/sounds/1060538737.ogg",
        ],
        "XinZhao_Death3D_cast": [
            "characters/Xinzhao/sounds/521769870.ogg",
        ],
        "XinZhao_Homeguard3D_buffactivate_footstep_01": [
            "characters/Xinzhao/sounds/828706953.ogg",
        ],
        "XinZhao_Homeguard3D_buffactivate_footstep_02": [
            "characters/Xinzhao/sounds/123621805.ogg",
        ],
        "XinZhao_Homeguard3D_buffactivate_loop": [
            "characters/Xinzhao/sounds/828706953.ogg",
        ],
        "XinZhao_Homeguard3D_buffactivate_loop_01": [
            "characters/Xinzhao/sounds/828706953.ogg",
        ],
        "XinZhao_Joke3D_buffactivate": [
            "characters/Xinzhao/sounds/601852651.ogg",
        ],
        "XinZhao_Laugh3D_leadin": [
            "characters/Xinzhao/sounds/565263253.ogg",
        ],
        "XinZhao_Laugh3D_leadout": [
            "characters/Xinzhao/sounds/758877027.ogg",
        ],
        "XinZhao_Laugh3D_spam": [
            "characters/Xinzhao/sounds/455829948.ogg",
        ],
        "XinZhao_QIdle1_buffactivate": [
            "characters/Xinzhao/sounds/235212071.ogg",
        ],
        "XinZhao_QIdle2_buffactivate": [
            "characters/Xinzhao/sounds/757821295.ogg",
        ],
        "XinZhao_QIdle3_buffactivate": [
            "characters/Xinzhao/sounds/367525136.ogg",
        ],
        "XinZhao_Recall3D_buffactivate": [
            "characters/Xinzhao/sounds/418638115.ogg",
        ],
        "XinZhao_Taunt3D_buffactivate_loop": [
            "characters/Xinzhao/sounds/198282315.ogg",
        ],
        "XinZhao_Taunt3D_leadin": [
            "characters/Xinzhao/sounds/209546374.ogg",
        ],
        "XinZhao_Winddown3D_buffactivate": [
            "characters/Xinzhao/sounds/442988984.ogg",
        ],
        "XinZhao_XinZhaoBasicAttack2_OnCast": [
            "characters/Xinzhao/sounds/214441466.ogg",
            "characters/Xinzhao/sounds/906265197.ogg",
            "characters/Xinzhao/sounds/995958984.ogg",
        ],
        "XinZhao_XinZhaoBasicAttack2_OnHit": [
            "characters/Xinzhao/sounds/103601190.ogg",
            "characters/Xinzhao/sounds/141095893.ogg",
            "characters/Xinzhao/sounds/240682552.ogg",
            "characters/Xinzhao/sounds/240807403.ogg",
            "characters/Xinzhao/sounds/242781853.ogg",
            "characters/Xinzhao/sounds/248519204.ogg",
            "characters/Xinzhao/sounds/375713829.ogg",
            "characters/Xinzhao/sounds/52231666.ogg",
            "characters/Xinzhao/sounds/605575080.ogg",
            "characters/Xinzhao/sounds/698307623.ogg",
            "characters/Xinzhao/sounds/852178705.ogg",
            "characters/Xinzhao/sounds/921224955.ogg",
        ],
        "XinZhao_XinZhaoBasicAttack_OnCast": [
            "characters/Xinzhao/sounds/214441466.ogg",
            "characters/Xinzhao/sounds/906265197.ogg",
            "characters/Xinzhao/sounds/995958984.ogg",
        ],
        "XinZhao_XinZhaoBasicAttack_OnHit": [
            "characters/Xinzhao/sounds/103601190.ogg",
            "characters/Xinzhao/sounds/141095893.ogg",
            "characters/Xinzhao/sounds/240682552.ogg",
            "characters/Xinzhao/sounds/240807403.ogg",
            "characters/Xinzhao/sounds/242781853.ogg",
            "characters/Xinzhao/sounds/248519204.ogg",
            "characters/Xinzhao/sounds/375713829.ogg",
            "characters/Xinzhao/sounds/52231666.ogg",
            "characters/Xinzhao/sounds/605575080.ogg",
            "characters/Xinzhao/sounds/698307623.ogg",
            "characters/Xinzhao/sounds/852178705.ogg",
            "characters/Xinzhao/sounds/921224955.ogg",
        ],
        "XinZhao_XinZhaoCritAttack_OnCast": [
            "characters/Xinzhao/sounds/111293858.ogg",
            "characters/Xinzhao/sounds/306116960.ogg",
            "characters/Xinzhao/sounds/96162856.ogg",
        ],
        "XinZhao_XinZhaoCritAttack_OnHit": [
            "characters/Xinzhao/sounds/103601190.ogg",
            "characters/Xinzhao/sounds/141095893.ogg",
            "characters/Xinzhao/sounds/240682552.ogg",
            "characters/Xinzhao/sounds/240807403.ogg",
            "characters/Xinzhao/sounds/242781853.ogg",
            "characters/Xinzhao/sounds/248519204.ogg",
            "characters/Xinzhao/sounds/375713829.ogg",
            "characters/Xinzhao/sounds/52231666.ogg",
            "characters/Xinzhao/sounds/605575080.ogg",
            "characters/Xinzhao/sounds/698307623.ogg",
            "characters/Xinzhao/sounds/774034289.ogg",
            "characters/Xinzhao/sounds/921224955.ogg",
        ],
        "XinZhao_XinZhaoEBasicAttack_OnCast": [
            "characters/Xinzhao/sounds/214441466.ogg",
            "characters/Xinzhao/sounds/906265197.ogg",
            "characters/Xinzhao/sounds/995958984.ogg",
        ],
        "XinZhao_XinZhaoEBasicAttack_OnHit": [
            "characters/Xinzhao/sounds/103601190.ogg",
            "characters/Xinzhao/sounds/141095893.ogg",
            "characters/Xinzhao/sounds/240682552.ogg",
            "characters/Xinzhao/sounds/240807403.ogg",
            "characters/Xinzhao/sounds/242781853.ogg",
            "characters/Xinzhao/sounds/248519204.ogg",
            "characters/Xinzhao/sounds/375713829.ogg",
            "characters/Xinzhao/sounds/52231666.ogg",
            "characters/Xinzhao/sounds/605575080.ogg",
            "characters/Xinzhao/sounds/698307623.ogg",
            "characters/Xinzhao/sounds/852178705.ogg",
            "characters/Xinzhao/sounds/921224955.ogg",
        ],
        "XinZhao_XinZhaoEBattleCry_buffactivate_loop": [
            "characters/Xinzhao/sounds/159237439.ogg",
        ],
        "XinZhao_XinZhaoEDash_cast": [
            "characters/Xinzhao/sounds/207530361.ogg",
            "characters/Xinzhao/sounds/336852364.ogg",
            "characters/Xinzhao/sounds/43451691.ogg",
        ],
        "XinZhao_XinZhaoEDash_hit": [
            "characters/Xinzhao/sounds/1017850387.ogg",
            "characters/Xinzhao/sounds/220981590.ogg",
            "characters/Xinzhao/sounds/850155836.ogg",
        ],
        "XinZhao_XinZhaoPassiveCritAttack_OnCast": [
            "characters/Xinzhao/sounds/1053213754.ogg",
            "characters/Xinzhao/sounds/122943645.ogg",
            "characters/Xinzhao/sounds/449517073.ogg",
        ],
        "XinZhao_XinZhaoPassiveCritAttack_OnHit": [
            "characters/Xinzhao/sounds/1046013832.ogg",
            "characters/Xinzhao/sounds/290937526.ogg",
            "characters/Xinzhao/sounds/653179355.ogg",
        ],
        "XinZhao_XinZhaoPassive_heal_buffactivate": [
            "characters/Xinzhao/sounds/420277824.ogg",
            "characters/Xinzhao/sounds/622087300.ogg",
            "characters/Xinzhao/sounds/87430659.ogg",
        ],
        "XinZhao_XinZhaoQThrust1_OnCast": [
            "characters/Xinzhao/sounds/263632283.ogg",
            "characters/Xinzhao/sounds/413741718.ogg",
            "characters/Xinzhao/sounds/996322273.ogg",
        ],
        "XinZhao_XinZhaoQThrust1_OnHit": [
            "characters/Xinzhao/sounds/1071787350.ogg",
            "characters/Xinzhao/sounds/304506664.ogg",
            "characters/Xinzhao/sounds/601454204.ogg",
        ],
        "XinZhao_XinZhaoQThrust2_OnCast": [
            "characters/Xinzhao/sounds/196327916.ogg",
            "characters/Xinzhao/sounds/213846595.ogg",
            "characters/Xinzhao/sounds/539597537.ogg",
        ],
        "XinZhao_XinZhaoQThrust2_OnHit": [
            "characters/Xinzhao/sounds/513946977.ogg",
            "characters/Xinzhao/sounds/524815286.ogg",
            "characters/Xinzhao/sounds/925593232.ogg",
        ],
        "XinZhao_XinZhaoQThrust3_OnCast": [
            "characters/Xinzhao/sounds/309490017.ogg",
            "characters/Xinzhao/sounds/363153268.ogg",
            "characters/Xinzhao/sounds/612075443.ogg",
            "characters/Xinzhao/sounds/898847018.ogg",
        ],
        "XinZhao_XinZhaoQThrust3_OnHit": [
            "characters/Xinzhao/sounds/1011732259.ogg",
            "characters/Xinzhao/sounds/388457614.ogg",
            "characters/Xinzhao/sounds/611475135.ogg",
            "characters/Xinzhao/sounds/63447562.ogg",
            "characters/Xinzhao/sounds/812194036.ogg",
            "characters/Xinzhao/sounds/884078834.ogg",
        ],
        "XinZhao_XinZhaoQ_OnBuffActivate": [
            "characters/Xinzhao/sounds/974979924.ogg",
        ],
        "XinZhao_XinZhaoQ_OnCast": [
            "characters/Xinzhao/sounds/1034827340.ogg",
            "characters/Xinzhao/sounds/176078990.ogg",
            "characters/Xinzhao/sounds/73087331.ogg",
        ],
        "XinZhao_XinZhaoRLastTargetAttacked_passivemark_buffactivate": [
            "characters/Xinzhao/sounds/154944876.ogg",
            "characters/Xinzhao/sounds/469717969.ogg",
            "characters/Xinzhao/sounds/630547946.ogg",
        ],
        "XinZhao_XinZhaoRLastTargetAttacked_passivemark_buffactivate_self_sweetener": [
            "characters/Xinzhao/sounds/141763493.ogg",
            "characters/Xinzhao/sounds/309843309.ogg",
            "characters/Xinzhao/sounds/467277290.ogg",
        ],
        "XinZhao_XinZhaoRRangedImmunity_OnBuffActivate": [
            "characters/Xinzhao/sounds/742855318.ogg",
        ],
        "XinZhao_XinZhaoRRangedImmunity_OnBuffDeactivate": [
            "characters/Xinzhao/sounds/59884192.ogg",
        ],
        "XinZhao_XinZhaoRRangedImmunity_parry": [
            "characters/Xinzhao/sounds/461354054.ogg",
            "characters/Xinzhao/sounds/463570950.ogg",
            "characters/Xinzhao/sounds/957547545.ogg",
        ],
        "XinZhao_XinZhaoR_OnCast": [
            "characters/Xinzhao/sounds/457923771.ogg",
            "characters/Xinzhao/sounds/51886756.ogg",
        ],
        "XinZhao_XinZhaoR_hitlocation_challenged": [
            "characters/Xinzhao/sounds/393988992.ogg",
            "characters/Xinzhao/sounds/635295757.ogg",
            "characters/Xinzhao/sounds/965297668.ogg",
        ],
        "XinZhao_XinZhaoR_hitlocation_knockback": [
            "characters/Xinzhao/sounds/651931985.ogg",
            "characters/Xinzhao/sounds/684632494.ogg",
        ],
        "XinZhao_XinZhaoWMissile_OnHit": [
            "characters/Xinzhao/sounds/187588573.ogg",
            "characters/Xinzhao/sounds/844236067.ogg",
            "characters/Xinzhao/sounds/939377583.ogg",
        ],
        "XinZhao_XinZhaoW_OnCast": [
            "characters/Xinzhao/sounds/374345902.ogg",
            "characters/Xinzhao/sounds/559035088.ogg",
            "characters/Xinzhao/sounds/745546043.ogg",
        ],
        "XinZhao_XinZhaoW_missilelaunch": [
            "characters/Xinzhao/sounds/80634640.ogg",
            "characters/Xinzhao/sounds/866527190.ogg",
            "characters/Xinzhao/sounds/924290618.ogg",
        ],
        "XinZhao_XinZhaoW_multihit": [
            "characters/Xinzhao/sounds/161990583.ogg",
            "characters/Xinzhao/sounds/405291551.ogg",
            "characters/Xinzhao/sounds/904920184.ogg",
        ],
    },
)