(
    spellData: Some((
        calculations: Some({
            "burst_bonus_true_damage_to_champs": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            "burst_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "rank_burst_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "burst_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "damage_per_second": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "rank_damage_per_second",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_per_second",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "level_based_range_scaling": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AngularDegreesPerSec",
                values: Some([
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                ]),
            ),
            (
                name: "BeamWidth",
                values: Some([
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                ]),
            ),
            (
                name: "MaxChannelDuration",
                values: Some([
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    9999.0,
                    9999.0,
                ]),
            ),
            (
                name: "BurstAfter",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "ManaCostPerSecond",
                values: Some([
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                ]),
            ),
            (
                name: "RankDamagePerSecond",
                values: Some([
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                    120.0,
                ]),
            ),
            (
                name: "APPerSecond",
                values: Some([
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                ]),
            ),
            (
                name: "RankBurstDamage",
                values: Some([
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                    110.0,
                ]),
            ),
            (
                name: "BurstAPRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "BeamSegments",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "WProcCooldown",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "QMassStolen",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "DistancePerMass",
                values: Some([
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                ]),
            ),
            (
                name: "QMaxHealthTrueDamagePerStack",
                values: Some([
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                ]),
            ),
            (
                name: "MonsterDamageCap",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "AOEModifier",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            35.0,
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            750.0,
            750.0,
            750.0,
            750.0,
            750.0,
            750.0,
            750.0,
        ]),
        castRadius: None,
        castConeAngle: Some(0.0),
        castConeDistance: Some(0.0),
        lineWidth: None,
        castFrame: Some(5.0),
        animationName: Some(""),
        cooldownTime: Some([
            3.0,
            3.0,
            3.0,
            3.0,
            3.0,
            3.0,
            3.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: Some(1.25),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)