(
    spellData: Some((
        calculations: Some({
            "current_execution_threshold": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_execution_threshold",
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            "damage_per_second": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_per_second",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "damageper_second_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "level_based_range_scaling": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x57c521f0": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "starting_gravity",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x5dfac189": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: "inverse_pi",
                )),
                precision: None,
            ),
            "unk_0x7741d788": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "unk_0xb0a79c98": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "starting_radius",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "ChampionMassPerSecond",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "MinionMassDeath",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "LargeMinionCountBonus",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "LargeMonsterCountBonus",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "ChampionCountBonus",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "EpicMonsterCountBonus",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "StartingRadius",
                values: Some([
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                ]),
            ),
            (
                name: "StartingInnerRadius",
                values: Some([
                    120.0,
                    120.0,
                    120.0,
                    120.0,
                    120.0,
                    120.0,
                    120.0,
                ]),
            ),
            (
                name: "GrowthBreakPoint",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "StartingGravity",
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                name: "NonChampGravity",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "GravityIncPerBreakpoint",
                values: None,
            ),
            (
                name: "Duration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "BaseDamagePerSecond",
                values: Some([
                    5.0,
                    10.0,
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                ]),
            ),
            (
                name: "DamageperSecondAPRatio",
                values: Some([
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                ]),
            ),
            (
                name: "BaseExecutionThreshold",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "ExecutionGrowthPerBreakpoint",
                values: Some([
                    0.026,
                    0.026,
                    0.026,
                    0.026,
                    0.026,
                    0.026,
                    0.026,
                ]),
            ),
            (
                name: "OuterRadiusAreaPerStack",
                values: Some([
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                ]),
            ),
            (
                name: "InnerRadiusAreaPerStack",
                values: Some([
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                ]),
            ),
            (
                name: "PI",
                values: Some([
                    3.14159,
                    3.14159,
                    3.14159,
                    3.14159,
                    3.14159,
                    3.14159,
                    3.14159,
                ]),
            ),
            (
                name: "InversePI",
                values: Some([
                    0.31831,
                    0.31831,
                    0.31831,
                    0.31831,
                    0.31831,
                    0.31831,
                    0.31831,
                ]),
            ),
        ]),
        mana: Some([
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2500000.0),
                startBoneName: None,
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(1300.0),
        missileEffectKey: None,
        castType: Some(3),
    )),
)