(
    spellData: Some((
        calculations: Some({
            1765605772: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2461107554,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 199315427,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1913260376: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            3793195086: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            4209723727: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 3476250957,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1984148579,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AngularDegreesPerSec",
                values: Some([
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                ]),
            ),
            (
                name: "BeamWidth",
                values: Some([
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                ]),
            ),
            (
                name: "MaxChannelDuration",
                values: Some([
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    9999.0,
                    9999.0,
                ]),
            ),
            (
                name: "BurstAfter",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "ManaCostPerSecond",
                values: Some([
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                ]),
            ),
            (
                name: "RankDamagePerSecond",
                values: Some([
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                    120.0,
                ]),
            ),
            (
                name: "APPerSecond",
                values: Some([
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                ]),
            ),
            (
                name: "RankBurstDamage",
                values: Some([
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                    110.0,
                ]),
            ),
            (
                name: "BurstAPRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "BeamSegments",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "WProcCooldown",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "QMassStolen",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "DistancePerMass",
                values: Some([
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                ]),
            ),
            (
                name: "QMaxHealthTrueDamagePerStack",
                values: Some([
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                    0.00031,
                ]),
            ),
            (
                name: "MonsterDamageCap",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "AOEModifier",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            35.0,
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)