(
    spellData: Some((
        calculations: Some({
            2471004560: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 797552461,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    2.0,
                    4.0,
                    6.0,
                    8.0,
                    10.0,
                    12.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseShieldAmount",
                values: Some([
                    25.0,
                    40.0,
                    55.0,
                    70.0,
                    85.0,
                    100.0,
                    115.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
            (
                name: "ShieldDuration",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            65.0,
            70.0,
            75.0,
            80.0,
            85.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: None,
        castType: None,
    )),
)