(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(110.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_BUFFBONE_GLB_CHEST_LOC"),
        missileSpeed: Some(50.0),
        missileEffectKey: Some(2873670003),
        castType: Some(3),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            299.3,
            299.3,
            299.3,
            299.3,
            299.3,
            299.3,
            299.3,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(110.0),
        castFrame: Some(10.845),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            9.0,
            9.0,
            9.0,
            9.0,
            9.0,
            9.0,
            9.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(1029),
        alternateName: Some("SpiralBladeMissile"),
        coefficient: Some(0.75),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)