(
    spellData: Some((
        calculations: Some({
            680522911: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1301251566,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1876366470,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1332180587: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            1508461632: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 34709901,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1839564722: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            2164895355: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            2972332161: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: None,
                        subpart: None,
                    ),
                ]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: 1922566287,
                )),
                precision: None,
            ),
            4031869745: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "MaxTurrets",
                values: Some([
                    0.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "MaxKits",
                values: Some([
                    0.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "KitCost",
                values: Some([
                    0.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "DistanceToHeimer",
                values: Some([
                    0.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    3.0,
                    7.0,
                    11.0,
                    15.0,
                    19.0,
                    23.0,
                    27.0,
                ]),
            ),
            (
                name: "BaseDamageBeam",
                values: Some([
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                name: "TurretAPRatio",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "BeamAPRatio",
                values: Some([
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                    0.55,
                ]),
            ),
            (
                name: "TurretHealthMod",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1450.0),
        missileEffectKey: None,
        castType: None,
    )),
)