(
    events: {
        "Dance3D_in": [
            "characters/Yone/sounds/707812236.ogg",
        ],
        "Dance3D_loop": [
            "characters/Yone/sounds/490721231.ogg",
        ],
        "Death3D_buffactivate": [
            "characters/Yone/sounds/915639153.ogg",
        ],
        "Homeguard_In_buffactivate": [
            "characters/Yone/sounds/734842732.ogg",
        ],
        "Homeguard_Out_buffactivate": [
            "characters/Yone/sounds/492171234.ogg",
        ],
        "Homeguard_Run_buffactivate": [
            "characters/Yone/sounds/149111825.ogg",
            "characters/Yone/sounds/339813909.ogg",
            "characters/Yone/sounds/694827994.ogg",
            "characters/Yone/sounds/970113306.ogg",
        ],
        "Idle13D_buffactivate": [
            "characters/Yone/sounds/262270139.ogg",
        ],
        "Idle3D_sheath_buffactivate": [
            "characters/Yone/sounds/213490832.ogg",
        ],
        "Idle3D_spell4_toidle": [
            "characters/Yone/sounds/968541397.ogg",
        ],
        "Idle3D_spell4_towalk": [
            "characters/Yone/sounds/227820157.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Yone/sounds/873433116.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Yone/sounds/634129177.ogg",
        ],
        "Play_vo_Yone_Attack2DGeneral": [
            "characters/Yone/sounds/126033316.ogg",
            "characters/Yone/sounds/185635173.ogg",
            "characters/Yone/sounds/191463733.ogg",
            "characters/Yone/sounds/194649193.ogg",
            "characters/Yone/sounds/217232045.ogg",
            "characters/Yone/sounds/261783916.ogg",
            "characters/Yone/sounds/263769168.ogg",
            "characters/Yone/sounds/264363720.ogg",
            "characters/Yone/sounds/273402624.ogg",
            "characters/Yone/sounds/314023359.ogg",
            "characters/Yone/sounds/317672045.ogg",
            "characters/Yone/sounds/385589257.ogg",
            "characters/Yone/sounds/392315307.ogg",
            "characters/Yone/sounds/39442185.ogg",
            "characters/Yone/sounds/430545596.ogg",
            "characters/Yone/sounds/433094565.ogg",
            "characters/Yone/sounds/559329813.ogg",
            "characters/Yone/sounds/561855937.ogg",
            "characters/Yone/sounds/58166313.ogg",
            "characters/Yone/sounds/601478160.ogg",
            "characters/Yone/sounds/658545379.ogg",
            "characters/Yone/sounds/685750729.ogg",
            "characters/Yone/sounds/699496776.ogg",
            "characters/Yone/sounds/723447132.ogg",
            "characters/Yone/sounds/891675888.ogg",
            "characters/Yone/sounds/899203542.ogg",
            "characters/Yone/sounds/911262071.ogg",
            "characters/Yone/sounds/958685364.ogg",
        ],
        "Play_vo_Yone_Death3D": [
            "characters/Yone/sounds/173852632.ogg",
            "characters/Yone/sounds/405727999.ogg",
            "characters/Yone/sounds/486783255.ogg",
            "characters/Yone/sounds/518926155.ogg",
            "characters/Yone/sounds/941851386.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DAhri": [
            "characters/Yone/sounds/591169318.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DAnnie": [
            "characters/Yone/sounds/999199304.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DEvelynn": [
            "characters/Yone/sounds/720466120.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DFiddlesticks": [
            "characters/Yone/sounds/788386115.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DGeneral": [
            "characters/Yone/sounds/1011081590.ogg",
            "characters/Yone/sounds/277209883.ogg",
            "characters/Yone/sounds/462704053.ogg",
            "characters/Yone/sounds/473182187.ogg",
            "characters/Yone/sounds/495870399.ogg",
            "characters/Yone/sounds/736691854.ogg",
            "characters/Yone/sounds/922240791.ogg",
            "characters/Yone/sounds/963336769.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DKindred": [
            "characters/Yone/sounds/865383556.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DKled": [
            "characters/Yone/sounds/697269054.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DLillia": [
            "characters/Yone/sounds/1046241537.ogg",
            "characters/Yone/sounds/828532864.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DNocturne": [
            "characters/Yone/sounds/334366579.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DRiven": [
            "characters/Yone/sounds/382579756.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DShen": [
            "characters/Yone/sounds/553515914.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DSwain": [
            "characters/Yone/sounds/996719125.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DTahmKench": [
            "characters/Yone/sounds/894102128.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DTaliyah": [
            "characters/Yone/sounds/326842333.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DYasuo": [
            "characters/Yone/sounds/463267231.ogg",
            "characters/Yone/sounds/525747795.ogg",
            "characters/Yone/sounds/898051704.ogg",
        ],
        "Play_vo_Yone_FirstEncounter3DYordle": [
            "characters/Yone/sounds/568542045.ogg",
        ],
        "Play_vo_Yone_Joke3DGeneral_in": [
            "characters/Yone/sounds/951581699.ogg",
        ],
        "Play_vo_Yone_Joke3DGeneral_loop": [
            "characters/Yone/sounds/904736084.ogg",
        ],
        "Play_vo_Yone_Kill3DGeneral": [
            "characters/Yone/sounds/153063246.ogg",
            "characters/Yone/sounds/372643421.ogg",
            "characters/Yone/sounds/394027148.ogg",
            "characters/Yone/sounds/760367899.ogg",
        ],
        "Play_vo_Yone_Kill3DPenta": [
            "characters/Yone/sounds/962192867.ogg",
        ],
        "Play_vo_Yone_Laugh3DGeneral": [
            "characters/Yone/sounds/100136098.ogg",
            "characters/Yone/sounds/483533853.ogg",
            "characters/Yone/sounds/534228084.ogg",
        ],
        "Play_vo_Yone_Move2DFirst": [
            "characters/Yone/sounds/1020874702.ogg",
            "characters/Yone/sounds/133140167.ogg",
            "characters/Yone/sounds/482863424.ogg",
            "characters/Yone/sounds/643534061.ogg",
            "characters/Yone/sounds/872207581.ogg",
        ],
        "Play_vo_Yone_Move2DLong": [
            "characters/Yone/sounds/153228359.ogg",
            "characters/Yone/sounds/251533955.ogg",
            "characters/Yone/sounds/309475758.ogg",
            "characters/Yone/sounds/408706106.ogg",
            "characters/Yone/sounds/600490123.ogg",
            "characters/Yone/sounds/768754851.ogg",
            "characters/Yone/sounds/826204338.ogg",
            "characters/Yone/sounds/841092224.ogg",
            "characters/Yone/sounds/888991377.ogg",
            "characters/Yone/sounds/914797715.ogg",
            "characters/Yone/sounds/92091859.ogg",
        ],
        "Play_vo_Yone_Move2DStandard": [
            "characters/Yone/sounds/1007552118.ogg",
            "characters/Yone/sounds/1050666255.ogg",
            "characters/Yone/sounds/185576075.ogg",
            "characters/Yone/sounds/19664178.ogg",
            "characters/Yone/sounds/231613619.ogg",
            "characters/Yone/sounds/267728865.ogg",
            "characters/Yone/sounds/284642487.ogg",
            "characters/Yone/sounds/297439431.ogg",
            "characters/Yone/sounds/356324459.ogg",
            "characters/Yone/sounds/365153243.ogg",
            "characters/Yone/sounds/365761498.ogg",
            "characters/Yone/sounds/427231038.ogg",
            "characters/Yone/sounds/43954999.ogg",
            "characters/Yone/sounds/470592727.ogg",
            "characters/Yone/sounds/491221642.ogg",
            "characters/Yone/sounds/570072024.ogg",
            "characters/Yone/sounds/593700044.ogg",
            "characters/Yone/sounds/608305055.ogg",
            "characters/Yone/sounds/814837146.ogg",
            "characters/Yone/sounds/819109001.ogg",
            "characters/Yone/sounds/828933344.ogg",
            "characters/Yone/sounds/831444102.ogg",
            "characters/Yone/sounds/849281460.ogg",
            "characters/Yone/sounds/872551300.ogg",
            "characters/Yone/sounds/94355319.ogg",
            "characters/Yone/sounds/948253822.ogg",
        ],
        "Play_vo_Yone_Recall3DGeneral": [
            "characters/Yone/sounds/341560611.ogg",
            "characters/Yone/sounds/654065167.ogg",
            "characters/Yone/sounds/773153583.ogg",
        ],
        "Play_vo_Yone_Respawn2DGeneral": [
            "characters/Yone/sounds/1052775170.ogg",
            "characters/Yone/sounds/328510668.ogg",
            "characters/Yone/sounds/562641739.ogg",
            "characters/Yone/sounds/602022386.ogg",
            "characters/Yone/sounds/750463878.ogg",
            "characters/Yone/sounds/808641408.ogg",
        ],
        "Play_vo_Yone_Spell3DEEnd": [
            "characters/Yone/sounds/747611775.ogg",
            "characters/Yone/sounds/861642357.ogg",
            "characters/Yone/sounds/921663208.ogg",
        ],
        "Play_vo_Yone_Taunt3DGeneral": [
            "characters/Yone/sounds/139045984.ogg",
        ],
        "Play_vo_Yone_YoneBasicAttack2_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneBasicAttack3_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneBasicAttack4_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneBasicAttack5_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneBasicAttack6_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneBasicAttack_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneCritAttack2_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneCritAttack3_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneCritAttack4_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneCritAttack5_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneCritAttack_cast3D": [
            "characters/Yone/sounds/1016523086.ogg",
            "characters/Yone/sounds/253176000.ogg",
            "characters/Yone/sounds/314930914.ogg",
            "characters/Yone/sounds/467485911.ogg",
            "characters/Yone/sounds/671847894.ogg",
            "characters/Yone/sounds/898472758.ogg",
        ],
        "Play_vo_Yone_YoneE_cast3D": [
            "characters/Yone/sounds/1071169504.ogg",
            "characters/Yone/sounds/532314830.ogg",
            "characters/Yone/sounds/96439844.ogg",
        ],
        "Play_vo_Yone_YoneQ3_cast3D": [
            "characters/Yone/sounds/330964169.ogg",
            "characters/Yone/sounds/342433055.ogg",
            "characters/Yone/sounds/64654138.ogg",
        ],
        "Play_vo_Yone_YoneQ_cast3D": [
            "characters/Yone/sounds/527558076.ogg",
            "characters/Yone/sounds/728725203.ogg",
            "characters/Yone/sounds/783989344.ogg",
        ],
        "Play_vo_Yone_YoneR_cast3D": [
            "characters/Yone/sounds/588272820.ogg",
            "characters/Yone/sounds/606273518.ogg",
            "characters/Yone/sounds/694032930.ogg",
            "characters/Yone/sounds/783931500.ogg",
        ],
        "Play_vo_Yone_YoneW_cast3D": [
            "characters/Yone/sounds/148972605.ogg",
            "characters/Yone/sounds/317975833.ogg",
            "characters/Yone/sounds/918656928.ogg",
            "characters/Yone/sounds/935839795.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Yone/sounds/1004348617.ogg",
        ],
        "Recall3D_winddown": [
            "characters/Yone/sounds/631736117.ogg",
        ],
        "Respawn3D_buffactivate": [
            "characters/Yone/sounds/23626290.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Yone/sounds/384166286.ogg",
        ],
        "Taunt3D_buffactivate_loop": [
            "characters/Yone/sounds/144199973.ogg",
        ],
        "YoneBasicAttack2_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneBasicAttack2_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneBasicAttack2_swipe": [
            "characters/Yone/sounds/1002470894.ogg",
            "characters/Yone/sounds/205134952.ogg",
            "characters/Yone/sounds/239093236.ogg",
            "characters/Yone/sounds/265839643.ogg",
        ],
        "YoneBasicAttack3_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneBasicAttack3_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneBasicAttack4_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneBasicAttack4_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneBasicAttack4_swipe": [
            "characters/Yone/sounds/1002470894.ogg",
            "characters/Yone/sounds/205134952.ogg",
            "characters/Yone/sounds/239093236.ogg",
            "characters/Yone/sounds/265839643.ogg",
        ],
        "YoneBasicAttack_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneBasicAttack_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneCritAttack2_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneCritAttack2_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneCritAttack3_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneCritAttack3_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneCritAttack4_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneCritAttack4_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneCritAttack_OnCast": [
            "characters/Yone/sounds/17265215.ogg",
            "characters/Yone/sounds/2465604.ogg",
            "characters/Yone/sounds/504802946.ogg",
            "characters/Yone/sounds/71487904.ogg",
        ],
        "YoneCritAttack_OnHit": [
            "characters/Yone/sounds/1004687225.ogg",
            "characters/Yone/sounds/1070249125.ogg",
            "characters/Yone/sounds/121056189.ogg",
            "characters/Yone/sounds/174690742.ogg",
            "characters/Yone/sounds/179499491.ogg",
            "characters/Yone/sounds/194476454.ogg",
            "characters/Yone/sounds/281183040.ogg",
            "characters/Yone/sounds/286640978.ogg",
            "characters/Yone/sounds/291043766.ogg",
            "characters/Yone/sounds/32292976.ogg",
            "characters/Yone/sounds/447192276.ogg",
            "characters/Yone/sounds/455681162.ogg",
            "characters/Yone/sounds/4593285.ogg",
            "characters/Yone/sounds/52943608.ogg",
            "characters/Yone/sounds/741852174.ogg",
            "characters/Yone/sounds/745450098.ogg",
            "characters/Yone/sounds/828962726.ogg",
            "characters/Yone/sounds/842472437.ogg",
            "characters/Yone/sounds/916548822.ogg",
            "characters/Yone/sounds/919359318.ogg",
        ],
        "YoneE_beam_buffactivate": [
            "characters/Yone/sounds/360702426.ogg",
        ],
        "YoneE_cast": [
            "characters/Yone/sounds/852026027.ogg",
        ],
        "YoneE_deactivate": [
            "characters/Yone/sounds/90446589.ogg",
        ],
        "YoneE_hit": [
            "characters/Yone/sounds/386342691.ogg",
        ],
        "YoneE_mark_buffactivate": [
            "characters/Yone/sounds/557545750.ogg",
        ],
        "YoneE_return_cast": [
            "characters/Yone/sounds/708762305.ogg",
        ],
        "YoneE_sheath": [
            "characters/Yone/sounds/419375874.ogg",
            "characters/Yone/sounds/651895227.ogg",
            "characters/Yone/sounds/806475465.ogg",
            "characters/Yone/sounds/957770148.ogg",
        ],
        "YoneE_warning_cast": [
            "characters/Yone/sounds/583951821.ogg",
        ],
        "YonePShield_buffactivate": [
            "characters/Yone/sounds/197299419.ogg",
        ],
        "YoneQ3Ready_OnBuffActivate": [
            "characters/Yone/sounds/758058148.ogg",
        ],
        "YoneQ3_OnCast": [
            "characters/Yone/sounds/667080352.ogg",
            "characters/Yone/sounds/695270834.ogg",
            "characters/Yone/sounds/828184909.ogg",
            "characters/Yone/sounds/992100996.ogg",
        ],
        "YoneQ3_hit": [
            "characters/Yone/sounds/144577483.ogg",
        ],
        "YoneQ_OnCast": [
            "characters/Yone/sounds/115778047.ogg",
            "characters/Yone/sounds/924281416.ogg",
        ],
        "YoneQ_hit": [
            "characters/Yone/sounds/200471654.ogg",
            "characters/Yone/sounds/528184656.ogg",
        ],
        "YoneR_OnCast": [
            "characters/Yone/sounds/57735016.ogg",
            "characters/Yone/sounds/862736579.ogg",
        ],
        "YoneR_cast_dash": [
            "characters/Yone/sounds/583920156.ogg",
        ],
        "YoneR_hit_initial": [
            "characters/Yone/sounds/976342648.ogg",
        ],
        "YoneR_hit_residual": [
            "characters/Yone/sounds/79035825.ogg",
        ],
        "YoneW_OnBuffDeactivate": [
            "characters/Yone/sounds/198884389.ogg",
        ],
        "YoneW_OnCast": [
            "characters/Yone/sounds/1031367120.ogg",
        ],
        "YoneW_hit": [
            "characters/Yone/sounds/117104795.ogg",
        ],
    },
)