(
    events: {
        "ChampionSelect_Stinger": [
            "characters/Draven/sounds/199572518.ogg",
        ],
        "Dance3D_buffactivate": [
            "characters/Draven/sounds/350542739.ogg",
        ],
        "Death3D_cast": [
            "characters/Draven/sounds/472008589.ogg",
        ],
        "DravenAttackP_LQC_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenAttackP_LQC_OnMissileCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
        ],
        "DravenAttackP_LQC_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenAttackP_LQ_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenAttackP_LQ_OnMissileCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
        ],
        "DravenAttackP_LQ_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenAttackP_L_OnHit": [
            "characters/Draven/sounds/1009493211.ogg",
            "characters/Draven/sounds/1028854963.ogg",
            "characters/Draven/sounds/109298242.ogg",
            "characters/Draven/sounds/206468195.ogg",
            "characters/Draven/sounds/221206987.ogg",
            "characters/Draven/sounds/335926001.ogg",
            "characters/Draven/sounds/451159089.ogg",
            "characters/Draven/sounds/50429548.ogg",
            "characters/Draven/sounds/543606094.ogg",
            "characters/Draven/sounds/611813358.ogg",
            "characters/Draven/sounds/699442839.ogg",
            "characters/Draven/sounds/717363114.ogg",
            "characters/Draven/sounds/761923134.ogg",
            "characters/Draven/sounds/823855312.ogg",
            "characters/Draven/sounds/914023674.ogg",
            "characters/Draven/sounds/927500163.ogg",
        ],
        "DravenAttackP_L_OnMissileCast": [
            "characters/Draven/sounds/488366016.ogg",
            "characters/Draven/sounds/654681337.ogg",
            "characters/Draven/sounds/808205108.ogg",
        ],
        "DravenAttackP_L_OnMissileLaunch": [
            "characters/Draven/sounds/281396620.ogg",
            "characters/Draven/sounds/468284266.ogg",
            "characters/Draven/sounds/563230843.ogg",
            "characters/Draven/sounds/581191467.ogg",
        ],
        "DravenAttackP_RC_OnHit": [
            "characters/Draven/sounds/1009493211.ogg",
            "characters/Draven/sounds/1028854963.ogg",
            "characters/Draven/sounds/109298242.ogg",
            "characters/Draven/sounds/206468195.ogg",
            "characters/Draven/sounds/221206987.ogg",
            "characters/Draven/sounds/335926001.ogg",
            "characters/Draven/sounds/451159089.ogg",
            "characters/Draven/sounds/50429548.ogg",
            "characters/Draven/sounds/543606094.ogg",
            "characters/Draven/sounds/611813358.ogg",
            "characters/Draven/sounds/699442839.ogg",
            "characters/Draven/sounds/717363114.ogg",
            "characters/Draven/sounds/761923134.ogg",
            "characters/Draven/sounds/823855312.ogg",
            "characters/Draven/sounds/914023674.ogg",
            "characters/Draven/sounds/927500163.ogg",
        ],
        "DravenAttackP_RC_OnMissileCast": [
            "characters/Draven/sounds/488366016.ogg",
            "characters/Draven/sounds/654681337.ogg",
            "characters/Draven/sounds/808205108.ogg",
        ],
        "DravenAttackP_RC_OnMissileLaunch": [
            "characters/Draven/sounds/281396620.ogg",
            "characters/Draven/sounds/468284266.ogg",
            "characters/Draven/sounds/563230843.ogg",
            "characters/Draven/sounds/581191467.ogg",
        ],
        "DravenAttackP_RQC_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenAttackP_RQC_OnMissileCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
        ],
        "DravenAttackP_RQC_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenAttackP_RQ_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenAttackP_RQ_OnMissileCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
        ],
        "DravenAttackP_RQ_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenAttackP_R_OnHit": [
            "characters/Draven/sounds/1009493211.ogg",
            "characters/Draven/sounds/1028854963.ogg",
            "characters/Draven/sounds/109298242.ogg",
            "characters/Draven/sounds/206468195.ogg",
            "characters/Draven/sounds/221206987.ogg",
            "characters/Draven/sounds/335926001.ogg",
            "characters/Draven/sounds/451159089.ogg",
            "characters/Draven/sounds/50429548.ogg",
            "characters/Draven/sounds/543606094.ogg",
            "characters/Draven/sounds/611813358.ogg",
            "characters/Draven/sounds/699442839.ogg",
            "characters/Draven/sounds/717363114.ogg",
            "characters/Draven/sounds/761923134.ogg",
            "characters/Draven/sounds/823855312.ogg",
            "characters/Draven/sounds/914023674.ogg",
            "characters/Draven/sounds/927500163.ogg",
        ],
        "DravenAttackP_R_OnMissileCast": [
            "characters/Draven/sounds/488366016.ogg",
            "characters/Draven/sounds/654681337.ogg",
            "characters/Draven/sounds/808205108.ogg",
        ],
        "DravenAttackP_R_OnMissileLaunch": [
            "characters/Draven/sounds/281396620.ogg",
            "characters/Draven/sounds/468284266.ogg",
            "characters/Draven/sounds/563230843.ogg",
            "characters/Draven/sounds/581191467.ogg",
        ],
        "DravenBasicAttack2_OnCast": [
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenBasicAttack_OnCast": [
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenCritAttack_OnCast": [
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenDoubleShotMissile_OnHit": [
            "characters/Draven/sounds/218006365.ogg",
            "characters/Draven/sounds/481603445.ogg",
            "characters/Draven/sounds/48775393.ogg",
        ],
        "DravenDoubleShotMissile_OnMissileLaunch": [
            "characters/Draven/sounds/403843587.ogg",
            "characters/Draven/sounds/437988213.ogg",
            "characters/Draven/sounds/631570689.ogg",
            "characters/Draven/sounds/914718605.ogg",
        ],
        "DravenDoubleShot_OnCast": [
            "characters/Draven/sounds/247345015.ogg",
            "characters/Draven/sounds/285310839.ogg",
            "characters/Draven/sounds/300543229.ogg",
        ],
        "DravenFuryBuff_OnBuffActivate": [
            "characters/Draven/sounds/605607507.ogg",
        ],
        "DravenFuryBuff_OnBuffDeactivate": [
            "characters/Draven/sounds/279300312.ogg",
            "characters/Draven/sounds/561895632.ogg",
        ],
        "DravenFury_OnCast": [
            "characters/Draven/sounds/158425756.ogg",
            "characters/Draven/sounds/406651520.ogg",
            "characters/Draven/sounds/630030161.ogg",
        ],
        "DravenNewPassive_buffactivate": [
            "characters/Draven/sounds/41283595.ogg",
            "characters/Draven/sounds/432739513.ogg",
        ],
        "DravenRCast_OnCast": [
            "characters/Draven/sounds/19206165.ogg",
            "characters/Draven/sounds/481259678.ogg",
            "characters/Draven/sounds/620405504.ogg",
        ],
        "DravenR_OnMissileLaunch": [
            "characters/Draven/sounds/921972575.ogg",
        ],
        "DravenR_buffactivate": [
            "characters/Draven/sounds/659407007.ogg",
            "characters/Draven/sounds/828486608.ogg",
        ],
        "DravenR_buffdeactivate": [
            "characters/Draven/sounds/1038807243.ogg",
            "characters/Draven/sounds/541791368.ogg",
        ],
        "DravenR_hit": [
            "characters/Draven/sounds/379937629.ogg",
            "characters/Draven/sounds/44409577.ogg",
            "characters/Draven/sounds/597760092.ogg",
        ],
        "DravenSpinningAttack2Crit_OnCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenSpinningAttack2Crit_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenSpinningAttack2Crit_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenSpinningAttack2_OnCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenSpinningAttack2_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenSpinningAttack2_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenSpinningAttackCrit_OnCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenSpinningAttackCrit_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenSpinningAttackCrit_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenSpinningAttack_OnCast": [
            "characters/Draven/sounds/132998110.ogg",
            "characters/Draven/sounds/295124697.ogg",
            "characters/Draven/sounds/35826919.ogg",
            "characters/Draven/sounds/597609523.ogg",
            "characters/Draven/sounds/681885475.ogg",
            "characters/Draven/sounds/818851316.ogg",
            "characters/Draven/sounds/844454038.ogg",
        ],
        "DravenSpinningAttack_OnHit": [
            "characters/Draven/sounds/102797679.ogg",
            "characters/Draven/sounds/171744682.ogg",
            "characters/Draven/sounds/803308726.ogg",
        ],
        "DravenSpinningAttack_OnMissileLaunch": [
            "characters/Draven/sounds/139491345.ogg",
            "characters/Draven/sounds/151075807.ogg",
            "characters/Draven/sounds/880574183.ogg",
        ],
        "DravenSpinningLeft_OnBuffActivate": [
            "characters/Draven/sounds/69422259.ogg",
        ],
        "DravenSpinningReturn_OnMissileLaunch": [
            "characters/Draven/sounds/111273785.ogg",
            "characters/Draven/sounds/441235140.ogg",
            "characters/Draven/sounds/761603003.ogg",
        ],
        "DravenSpinningReturn_catch": [
            "characters/Draven/sounds/321049198.ogg",
            "characters/Draven/sounds/448620617.ogg",
            "characters/Draven/sounds/520268478.ogg",
        ],
        "DravenSpinning_OnBuffActivate": [
            "characters/Draven/sounds/1006493479.ogg",
        ],
        "DravenSpinning_OnCast": [
            "characters/Draven/sounds/50190622.ogg",
            "characters/Draven/sounds/860661791.ogg",
            "characters/Draven/sounds/925187250.ogg",
        ],
        "DravenSpinning_buffdeactivate": [
            "characters/Draven/sounds/138096074.ogg",
            "characters/Draven/sounds/670423179.ogg",
            "characters/Draven/sounds/694981604.ogg",
        ],
        "Idle2_buffactivate": [
            "characters/Draven/sounds/948921457.ogg",
        ],
        "Idle3_buffactivate": [
            "characters/Draven/sounds/633143720.ogg",
        ],
        "Idle4_buffactivate": [
            "characters/Draven/sounds/899207982.ogg",
        ],
        "Idle5_buffactivate": [
            "characters/Draven/sounds/732291986.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Draven/sounds/161193591.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Draven/sounds/1027825993.ogg",
        ],
        "Play_vo_Draven_Attack2DGeneral": [
            "characters/Draven/sounds/195683263.ogg",
            "characters/Draven/sounds/237560994.ogg",
            "characters/Draven/sounds/30313796.ogg",
            "characters/Draven/sounds/395803589.ogg",
            "characters/Draven/sounds/509647418.ogg",
            "characters/Draven/sounds/545791705.ogg",
            "characters/Draven/sounds/737354138.ogg",
            "characters/Draven/sounds/880713613.ogg",
            "characters/Draven/sounds/954535046.ogg",
        ],
        "Play_vo_Draven_Dance3DGeneral": [
            "characters/Draven/sounds/586549968.ogg",
            "characters/Draven/sounds/717403569.ogg",
            "characters/Draven/sounds/731821321.ogg",
            "characters/Draven/sounds/86726666.ogg",
        ],
        "Play_vo_Draven_Death3D": [
            "characters/Draven/sounds/1008607957.ogg",
            "characters/Draven/sounds/103371738.ogg",
            "characters/Draven/sounds/167610980.ogg",
            "characters/Draven/sounds/43704682.ogg",
        ],
        "Play_vo_Draven_DravenBasicAttack2_cast3D": [
            "characters/Draven/sounds/279477481.ogg",
            "characters/Draven/sounds/290611383.ogg",
            "characters/Draven/sounds/292436498.ogg",
            "characters/Draven/sounds/805814836.ogg",
        ],
        "Play_vo_Draven_DravenBasicAttack_cast3D": [
            "characters/Draven/sounds/279477481.ogg",
            "characters/Draven/sounds/290611383.ogg",
            "characters/Draven/sounds/292436498.ogg",
            "characters/Draven/sounds/805814836.ogg",
        ],
        "Play_vo_Draven_DravenCritAttack_cast3D": [
            "characters/Draven/sounds/279477481.ogg",
            "characters/Draven/sounds/290611383.ogg",
            "characters/Draven/sounds/292436498.ogg",
            "characters/Draven/sounds/805814836.ogg",
        ],
        "Play_vo_Draven_DravenDoubleShot_cast3D": [
            "characters/Draven/sounds/118333953.ogg",
            "characters/Draven/sounds/236534788.ogg",
            "characters/Draven/sounds/768804717.ogg",
            "characters/Draven/sounds/998088237.ogg",
        ],
        "Play_vo_Draven_DravenRCast_cast3D": [
            "characters/Draven/sounds/377335374.ogg",
            "characters/Draven/sounds/481829471.ogg",
            "characters/Draven/sounds/854265187.ogg",
            "characters/Draven/sounds/928850767.ogg",
        ],
        "Play_vo_Draven_DravenSpinningAttack2Crit_cast3D": [
            "characters/Draven/sounds/182535543.ogg",
            "characters/Draven/sounds/443105290.ogg",
            "characters/Draven/sounds/496219617.ogg",
            "characters/Draven/sounds/82754227.ogg",
        ],
        "Play_vo_Draven_DravenSpinningAttack2_cast3D": [
            "characters/Draven/sounds/182535543.ogg",
            "characters/Draven/sounds/443105290.ogg",
            "characters/Draven/sounds/496219617.ogg",
            "characters/Draven/sounds/82754227.ogg",
        ],
        "Play_vo_Draven_DravenSpinningAttackCrit_cast3D": [
            "characters/Draven/sounds/182535543.ogg",
            "characters/Draven/sounds/443105290.ogg",
            "characters/Draven/sounds/496219617.ogg",
            "characters/Draven/sounds/82754227.ogg",
        ],
        "Play_vo_Draven_DravenSpinningAttack_cast3D": [
            "characters/Draven/sounds/182535543.ogg",
            "characters/Draven/sounds/443105290.ogg",
            "characters/Draven/sounds/496219617.ogg",
            "characters/Draven/sounds/82754227.ogg",
        ],
        "Play_vo_Draven_Joke3DGeneral": [
            "characters/Draven/sounds/204796745.ogg",
            "characters/Draven/sounds/529075436.ogg",
        ],
        "Play_vo_Draven_Laugh3DGeneral": [
            "characters/Draven/sounds/102467099.ogg",
            "characters/Draven/sounds/114249194.ogg",
            "characters/Draven/sounds/709137545.ogg",
        ],
        "Play_vo_Draven_Move2DStandard": [
            "characters/Draven/sounds/1054360997.ogg",
            "characters/Draven/sounds/295486999.ogg",
            "characters/Draven/sounds/362202327.ogg",
            "characters/Draven/sounds/401156541.ogg",
            "characters/Draven/sounds/63158602.ogg",
            "characters/Draven/sounds/649331434.ogg",
            "characters/Draven/sounds/651210748.ogg",
            "characters/Draven/sounds/65333944.ogg",
            "characters/Draven/sounds/709242288.ogg",
            "characters/Draven/sounds/829478806.ogg",
            "characters/Draven/sounds/902390564.ogg",
            "characters/Draven/sounds/99531542.ogg",
        ],
        "Play_vo_Draven_Recall3DGeneral": [
            "characters/Draven/sounds/486341288.ogg",
            "characters/Draven/sounds/531937887.ogg",
        ],
        "Play_vo_Draven_Spell3DQPCast": [
            "characters/Draven/sounds/16923576.ogg",
            "characters/Draven/sounds/233580088.ogg",
            "characters/Draven/sounds/311288124.ogg",
            "characters/Draven/sounds/313467718.ogg",
            "characters/Draven/sounds/483100443.ogg",
            "characters/Draven/sounds/518821256.ogg",
            "characters/Draven/sounds/687219527.ogg",
            "characters/Draven/sounds/780266021.ogg",
            "characters/Draven/sounds/799473388.ogg",
            "characters/Draven/sounds/855743724.ogg",
        ],
        "Play_vo_Draven_Taunt3DGeneral": [
            "characters/Draven/sounds/62644711.ogg",
            "characters/Draven/sounds/790264912.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Draven/sounds/320823564.ogg",
        ],
        "Recall3D_buffdeactivate": [
            "characters/Draven/sounds/986975666.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Draven/sounds/652511489.ogg",
        ],
    },
)