(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(150.0),
        missileEffectKey: Some(1833124362),
        castType: Some(3),
    )),
)