(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            200.0,
            200.0,
            200.0,
            200.0,
            200.0,
            200.0,
            200.0,
        ]),
        castRadius: None,
        castConeAngle: Some(0.0),
        castConeDistance: Some(0.0),
        lineWidth: None,
        castFrame: Some(25.0),
        animationName: Some("Passive"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6314),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)