(
    spellData: Some((
        calculations: Some({
            "missile_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "hate_spike_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "hate_spike_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_bonus_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "bonus_damage_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "bonus_damage_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    15.0,
                    25.0,
                    35.0,
                    45.0,
                    55.0,
                    65.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                ]),
            ),
            (
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                values: Some([
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                ]),
            ),
            (
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: Some([
                    -0.25,
                    -0.25,
                    -0.25,
                    -0.25,
                    -0.25,
                    -0.25,
                    -0.25,
                ]),
            ),
        ]),
        dataValues: Some([
            (
                name: "TOOLTIP_ONLY_VARS",
                values: None,
            ),
            (
                name: "MissileBaseDamage",
                values: Some([
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                ]),
            ),
            (
                name: "BonusDamageBase",
                values: Some([
                    5.0,
                    15.0,
                    25.0,
                    35.0,
                    45.0,
                    55.0,
                    65.0,
                ]),
            ),
            (
                name: "CooldownRefund",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "HateSpikeBaseDamage",
                values: Some([
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                ]),
            ),
            (
                name: "BonusDamageAPRatio",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "HateSpikeAPRatio",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "QStackCount",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
            65.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2400.0),
                startBoneName: Some("root"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(2400.0),
        missileEffectKey: None,
        castType: Some(3),
    )),
)