(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            400.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: None,
        animationName: Some(""),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            10.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6826),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)