(
    events: {
        "Dance3D_buffactivate": [
            "characters/JarvanIV/sounds/841668848.ogg",
        ],
        "Death3D_cast": [
            "characters/JarvanIV/sounds/603587950.ogg",
        ],
        "JarvanIVBasicAttack2_OnCast": [
            "characters/JarvanIV/sounds/10187909.ogg",
            "characters/JarvanIV/sounds/286394448.ogg",
            "characters/JarvanIV/sounds/42893653.ogg",
            "characters/JarvanIV/sounds/695073145.ogg",
        ],
        "JarvanIVBasicAttack2_OnHit": [
            "characters/JarvanIV/sounds/110182912.ogg",
            "characters/JarvanIV/sounds/112758541.ogg",
            "characters/JarvanIV/sounds/113293027.ogg",
            "characters/JarvanIV/sounds/129574520.ogg",
            "characters/JarvanIV/sounds/166028718.ogg",
            "characters/JarvanIV/sounds/178200375.ogg",
            "characters/JarvanIV/sounds/192300623.ogg",
            "characters/JarvanIV/sounds/228840391.ogg",
            "characters/JarvanIV/sounds/243968494.ogg",
            "characters/JarvanIV/sounds/316809736.ogg",
            "characters/JarvanIV/sounds/41219633.ogg",
            "characters/JarvanIV/sounds/470004057.ogg",
            "characters/JarvanIV/sounds/5070470.ogg",
            "characters/JarvanIV/sounds/71235486.ogg",
            "characters/JarvanIV/sounds/77732960.ogg",
            "characters/JarvanIV/sounds/82408632.ogg",
        ],
        "JarvanIVBasicAttack3_OnCast": [
            "characters/JarvanIV/sounds/10187909.ogg",
            "characters/JarvanIV/sounds/286394448.ogg",
            "characters/JarvanIV/sounds/42893653.ogg",
            "characters/JarvanIV/sounds/695073145.ogg",
        ],
        "JarvanIVBasicAttack3_OnHit": [
            "characters/JarvanIV/sounds/110182912.ogg",
            "characters/JarvanIV/sounds/112758541.ogg",
            "characters/JarvanIV/sounds/113293027.ogg",
            "characters/JarvanIV/sounds/129574520.ogg",
            "characters/JarvanIV/sounds/166028718.ogg",
            "characters/JarvanIV/sounds/178200375.ogg",
            "characters/JarvanIV/sounds/192300623.ogg",
            "characters/JarvanIV/sounds/228840391.ogg",
            "characters/JarvanIV/sounds/243968494.ogg",
            "characters/JarvanIV/sounds/316809736.ogg",
            "characters/JarvanIV/sounds/41219633.ogg",
            "characters/JarvanIV/sounds/470004057.ogg",
            "characters/JarvanIV/sounds/5070470.ogg",
            "characters/JarvanIV/sounds/71235486.ogg",
            "characters/JarvanIV/sounds/77732960.ogg",
            "characters/JarvanIV/sounds/82408632.ogg",
        ],
        "JarvanIVBasicAttack4_OnCast": [
            "characters/JarvanIV/sounds/10187909.ogg",
            "characters/JarvanIV/sounds/286394448.ogg",
            "characters/JarvanIV/sounds/42893653.ogg",
            "characters/JarvanIV/sounds/695073145.ogg",
        ],
        "JarvanIVBasicAttack4_OnHit": [
            "characters/JarvanIV/sounds/110182912.ogg",
            "characters/JarvanIV/sounds/112758541.ogg",
            "characters/JarvanIV/sounds/113293027.ogg",
            "characters/JarvanIV/sounds/129574520.ogg",
            "characters/JarvanIV/sounds/166028718.ogg",
            "characters/JarvanIV/sounds/178200375.ogg",
            "characters/JarvanIV/sounds/192300623.ogg",
            "characters/JarvanIV/sounds/228840391.ogg",
            "characters/JarvanIV/sounds/243968494.ogg",
            "characters/JarvanIV/sounds/316809736.ogg",
            "characters/JarvanIV/sounds/41219633.ogg",
            "characters/JarvanIV/sounds/470004057.ogg",
            "characters/JarvanIV/sounds/5070470.ogg",
            "characters/JarvanIV/sounds/71235486.ogg",
            "characters/JarvanIV/sounds/77732960.ogg",
            "characters/JarvanIV/sounds/82408632.ogg",
        ],
        "JarvanIVBasicAttack_OnCast": [
            "characters/JarvanIV/sounds/10187909.ogg",
            "characters/JarvanIV/sounds/286394448.ogg",
            "characters/JarvanIV/sounds/42893653.ogg",
            "characters/JarvanIV/sounds/695073145.ogg",
        ],
        "JarvanIVBasicAttack_OnHit": [
            "characters/JarvanIV/sounds/110182912.ogg",
            "characters/JarvanIV/sounds/112758541.ogg",
            "characters/JarvanIV/sounds/113293027.ogg",
            "characters/JarvanIV/sounds/129574520.ogg",
            "characters/JarvanIV/sounds/166028718.ogg",
            "characters/JarvanIV/sounds/178200375.ogg",
            "characters/JarvanIV/sounds/192300623.ogg",
            "characters/JarvanIV/sounds/228840391.ogg",
            "characters/JarvanIV/sounds/243968494.ogg",
            "characters/JarvanIV/sounds/316809736.ogg",
            "characters/JarvanIV/sounds/41219633.ogg",
            "characters/JarvanIV/sounds/470004057.ogg",
            "characters/JarvanIV/sounds/5070470.ogg",
            "characters/JarvanIV/sounds/71235486.ogg",
            "characters/JarvanIV/sounds/77732960.ogg",
            "characters/JarvanIV/sounds/82408632.ogg",
        ],
        "JarvanIVCataclysm_OnCast": [
            "characters/JarvanIV/sounds/453948164.ogg",
            "characters/JarvanIV/sounds/904458044.ogg",
        ],
        "JarvanIVCataclysm_buffdeactivate": [
            "characters/JarvanIV/sounds/147018055.ogg",
            "characters/JarvanIV/sounds/618788180.ogg",
            "characters/JarvanIV/sounds/760090432.ogg",
            "characters/JarvanIV/sounds/800349277.ogg",
        ],
        "JarvanIVCataclysm_hit": [
            "characters/JarvanIV/sounds/180465790.ogg",
            "characters/JarvanIV/sounds/209903721.ogg",
            "characters/JarvanIV/sounds/640181680.ogg",
            "characters/JarvanIV/sounds/81496911.ogg",
        ],
        "JarvanIVCataclysm_missilelaunch": [
            "characters/JarvanIV/sounds/242320756.ogg",
            "characters/JarvanIV/sounds/325391146.ogg",
            "characters/JarvanIV/sounds/394432124.ogg",
            "characters/JarvanIV/sounds/801836897.ogg",
        ],
        "JarvanIVCritAttack_OnCast": [
            "characters/JarvanIV/sounds/10187909.ogg",
            "characters/JarvanIV/sounds/286394448.ogg",
            "characters/JarvanIV/sounds/42893653.ogg",
            "characters/JarvanIV/sounds/695073145.ogg",
        ],
        "JarvanIVCritAttack_OnHit": [
            "characters/JarvanIV/sounds/110182912.ogg",
            "characters/JarvanIV/sounds/112758541.ogg",
            "characters/JarvanIV/sounds/113293027.ogg",
            "characters/JarvanIV/sounds/129574520.ogg",
            "characters/JarvanIV/sounds/166028718.ogg",
            "characters/JarvanIV/sounds/178200375.ogg",
            "characters/JarvanIV/sounds/192300623.ogg",
            "characters/JarvanIV/sounds/228840391.ogg",
            "characters/JarvanIV/sounds/243968494.ogg",
            "characters/JarvanIV/sounds/316809736.ogg",
            "characters/JarvanIV/sounds/41219633.ogg",
            "characters/JarvanIV/sounds/470004057.ogg",
            "characters/JarvanIV/sounds/5070470.ogg",
            "characters/JarvanIV/sounds/71235486.ogg",
            "characters/JarvanIV/sounds/77732960.ogg",
            "characters/JarvanIV/sounds/82408632.ogg",
        ],
        "JarvanIVDemacianStandard_OnCast": [
            "characters/JarvanIV/sounds/262598927.ogg",
            "characters/JarvanIV/sounds/316514315.ogg",
            "characters/JarvanIV/sounds/479266284.ogg",
            "characters/JarvanIV/sounds/52918569.ogg",
            "characters/JarvanIV/sounds/614361381.ogg",
            "characters/JarvanIV/sounds/719706072.ogg",
            "characters/JarvanIV/sounds/954328375.ogg",
            "characters/JarvanIV/sounds/968349928.ogg",
        ],
        "JarvanIVDemacianStandard_buffactivate": [
            "characters/JarvanIV/sounds/253084284.ogg",
        ],
        "JarvanIVDemacianStandard_fall": [
            "characters/JarvanIV/sounds/417242555.ogg",
            "characters/JarvanIV/sounds/530141880.ogg",
            "characters/JarvanIV/sounds/684259351.ogg",
            "characters/JarvanIV/sounds/746519693.ogg",
        ],
        "JarvanIVDemacianStandard_hit": [
            "characters/JarvanIV/sounds/173108838.ogg",
            "characters/JarvanIV/sounds/710629146.ogg",
            "characters/JarvanIV/sounds/808921989.ogg",
            "characters/JarvanIV/sounds/972963497.ogg",
        ],
        "JarvanIVDragonStrikePH_hit": [
            "characters/JarvanIV/sounds/323968833.ogg",
            "characters/JarvanIV/sounds/457915862.ogg",
            "characters/JarvanIV/sounds/48529806.ogg",
            "characters/JarvanIV/sounds/554788164.ogg",
            "characters/JarvanIV/sounds/860764778.ogg",
            "characters/JarvanIV/sounds/872314387.ogg",
            "characters/JarvanIV/sounds/937408644.ogg",
            "characters/JarvanIV/sounds/984248531.ogg",
        ],
        "JarvanIVDragonStrike_OnCast": [
            "characters/JarvanIV/sounds/165007017.ogg",
            "characters/JarvanIV/sounds/544860287.ogg",
            "characters/JarvanIV/sounds/615503627.ogg",
            "characters/JarvanIV/sounds/655218763.ogg",
        ],
        "JarvanIVDragonStrike_hit": [
            "characters/JarvanIV/sounds/131304541.ogg",
            "characters/JarvanIV/sounds/275456392.ogg",
            "characters/JarvanIV/sounds/392322426.ogg",
            "characters/JarvanIV/sounds/737461865.ogg",
        ],
        "JarvanIVGoldenAegis_OnBuffActivate": [
            "characters/JarvanIV/sounds/443847257.ogg",
        ],
        "JarvanIVGoldenAegis_OnCast": [
            "characters/JarvanIV/sounds/477822558.ogg",
            "characters/JarvanIV/sounds/653779386.ogg",
        ],
        "JarvanIVMartialCadenceAttack_OnCast": [
            "characters/JarvanIV/sounds/1059971797.ogg",
            "characters/JarvanIV/sounds/239742734.ogg",
            "characters/JarvanIV/sounds/869041394.ogg",
            "characters/JarvanIV/sounds/934227020.ogg",
        ],
        "JarvanIVMartialCadenceAttack_hit": [
            "characters/JarvanIV/sounds/846570362.ogg",
            "characters/JarvanIV/sounds/847872918.ogg",
            "characters/JarvanIV/sounds/937179642.ogg",
            "characters/JarvanIV/sounds/975601977.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/JarvanIV/sounds/155873601.ogg",
        ],
        "Play_vo_JarvanIV_Attack2DGeneral": [
            "characters/JarvanIV/sounds/1042066821.ogg",
            "characters/JarvanIV/sounds/10451877.ogg",
            "characters/JarvanIV/sounds/403322024.ogg",
            "characters/JarvanIV/sounds/447435104.ogg",
            "characters/JarvanIV/sounds/508740550.ogg",
        ],
        "Play_vo_JarvanIV_Death3D": [
            "characters/JarvanIV/sounds/595953035.ogg",
            "characters/JarvanIV/sounds/691553025.ogg",
            "characters/JarvanIV/sounds/700079153.ogg",
            "characters/JarvanIV/sounds/809141127.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVBasicAttack2_cast3D": [
            "characters/JarvanIV/sounds/153230875.ogg",
            "characters/JarvanIV/sounds/267356963.ogg",
            "characters/JarvanIV/sounds/399917171.ogg",
            "characters/JarvanIV/sounds/738957172.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVBasicAttack3_cast3D": [
            "characters/JarvanIV/sounds/153230875.ogg",
            "characters/JarvanIV/sounds/267356963.ogg",
            "characters/JarvanIV/sounds/399917171.ogg",
            "characters/JarvanIV/sounds/738957172.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVBasicAttack_cast3D": [
            "characters/JarvanIV/sounds/153230875.ogg",
            "characters/JarvanIV/sounds/267356963.ogg",
            "characters/JarvanIV/sounds/399917171.ogg",
            "characters/JarvanIV/sounds/738957172.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVCataclysm_cast3D": [
            "characters/JarvanIV/sounds/111779626.ogg",
            "characters/JarvanIV/sounds/175753773.ogg",
            "characters/JarvanIV/sounds/374406133.ogg",
            "characters/JarvanIV/sounds/834580702.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVCritAttack_cast3D": [
            "characters/JarvanIV/sounds/153230875.ogg",
            "characters/JarvanIV/sounds/267356963.ogg",
            "characters/JarvanIV/sounds/399917171.ogg",
            "characters/JarvanIV/sounds/738957172.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVDemacianStandard_cast3D": [
            "characters/JarvanIV/sounds/521218852.ogg",
            "characters/JarvanIV/sounds/621939916.ogg",
            "characters/JarvanIV/sounds/661641271.ogg",
            "characters/JarvanIV/sounds/948655460.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVMartialCadenceAttack_cast3D": [
            "characters/JarvanIV/sounds/153230875.ogg",
            "characters/JarvanIV/sounds/267356963.ogg",
            "characters/JarvanIV/sounds/399917171.ogg",
            "characters/JarvanIV/sounds/738957172.ogg",
        ],
        "Play_vo_JarvanIV_JarvanIVdragonstrike_cast3D": [
            "characters/JarvanIV/sounds/348792676.ogg",
            "characters/JarvanIV/sounds/460234298.ogg",
            "characters/JarvanIV/sounds/538115085.ogg",
            "characters/JarvanIV/sounds/966198540.ogg",
        ],
        "Play_vo_JarvanIV_Joke3DGeneral": [
            "characters/JarvanIV/sounds/462430565.ogg",
            "characters/JarvanIV/sounds/717284989.ogg",
        ],
        "Play_vo_JarvanIV_Laugh3DGeneral": [
            "characters/JarvanIV/sounds/1012335818.ogg",
            "characters/JarvanIV/sounds/207497118.ogg",
            "characters/JarvanIV/sounds/793033264.ogg",
            "characters/JarvanIV/sounds/883871146.ogg",
        ],
        "Play_vo_JarvanIV_Move2DStandard": [
            "characters/JarvanIV/sounds/1056025264.ogg",
            "characters/JarvanIV/sounds/218944033.ogg",
            "characters/JarvanIV/sounds/31655294.ogg",
            "characters/JarvanIV/sounds/338001996.ogg",
            "characters/JarvanIV/sounds/357937939.ogg",
            "characters/JarvanIV/sounds/519360995.ogg",
            "characters/JarvanIV/sounds/538784597.ogg",
            "characters/JarvanIV/sounds/572245334.ogg",
            "characters/JarvanIV/sounds/840345017.ogg",
        ],
        "Play_vo_JarvanIV_Taunt3DGeneral": [
            "characters/JarvanIV/sounds/60326261.ogg",
            "characters/JarvanIV/sounds/922990248.ogg",
            "characters/JarvanIV/sounds/964384621.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/JarvanIV/sounds/428487374.ogg",
        ],
    },
)