(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    15.0,
                    55.0,
                    95.0,
                    140.0,
                    185.0,
                    230.0,
                    275.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(4000.0),
                startBoneName: Some("C_BUFFBONE_GLB_LAYOUT_LOC"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(4000.0),
        missileEffectKey: None,
        castType: Some(3),
    )),
)