(
    spellData: Some((
        calculations: Some({
            "base_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "PercentCurrentHealthRatio",
                values: Some([
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                ]),
            ),
            (
                name: "ASMax",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("Buffbone_Glb_Chest_Loc"),
        missileSpeed: None,
        missileEffectKey: Some(949112491),
        castType: Some(1),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: Some(25.0),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(24527),
        alternateName: None,
        coefficient: None,
        hitEffectKey: Some(735217679),
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)