(
    spellData: Some((
        calculations: Some({
            2070049341: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            1044924888: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3410066040: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "PercentBonusAD",
                values: Some([
                    0.025,
                    0.025,
                    0.025,
                    0.025,
                    0.025,
                    0.025,
                    0.025,
                ]),
            ),
            (
                name: "FallOffDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "RevivePercent",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "MaxStacks",
                values: Some([
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                ]),
            ),
            (
                name: "ReviveDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "NumberOfTicks",
                values: Some([
                    32.0,
                    32.0,
                    32.0,
                    32.0,
                    32.0,
                    32.0,
                    32.0,
                ]),
            ),
            (
                name: "MaxStacksMultiplier",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "PBonusADMin",
                values: Some([
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                ]),
            ),
            (
                name: "PBonusADMax",
                values: Some([
                    0.028,
                    0.028,
                    0.028,
                    0.028,
                    0.028,
                    0.028,
                    0.028,
                ]),
            ),
            (
                name: "ReviveLevel1Value",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "ReviveBonusPerLevel",
                values: None,
            ),
            (
                name: "ReviveAdditionalBonusAtThisLevel",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "ReviveBonusPerLevelAtAndAfter",
                values: None,
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)