(
    spellData: Some((
        calculations: Some({
            "q_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_damage_crit": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(2),
                        subpart: Some((
                            type: "CalculationPartStatNamedDataValue",
                            stat: Some(9),
                            dataValue: "ad_ratio",
                        )),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    0.0,
                    25.0,
                    50.0,
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    1.1,
                    1.1,
                    1.1,
                    1.1,
                    1.1,
                    1.1,
                    1.1,
                ]),
            ),
            (
                name: "Width",
                values: Some([
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "Q3MaxDistance",
                values: Some([
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                ]),
            ),
            (
                name: "Q3MinDistance",
                values: Some([
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                    450.0,
                ]),
            ),
            (
                name: "Q3DashSpeed",
                values: Some([
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                ]),
            ),
            (
                name: "Q3AoESize",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "QAttackSpeedCDPercent",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "QAttackSpeedCDMax",
                values: Some([
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                    0.66667,
                ]),
            ),
            (
                name: "QAttackSpeedCastReductionPercent",
                values: Some([
                    0.41667,
                    0.41667,
                    0.41667,
                    0.41667,
                    0.41667,
                    0.41667,
                    0.41667,
                ]),
            ),
            (
                name: "QAttackSpeedCastReductionMax",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "QBaseCastTime",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "Q3KnockupHeight",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "Q3KnockupDuration",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(8700.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(15.0),
        castFrame: Some(12.0),
        animationName: Some("Spell1A"),
        cooldownTime: Some([
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)