(
    spellData: Some((
        calculations: Some({
            "calculated_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0xf87e4ba": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "blind_duration",
                    ),
                ]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: "minion_monster_duration_mod",
                )),
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    35.0,
                    80.0,
                    125.0,
                    170.0,
                    215.0,
                    260.0,
                    305.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "BlindDuration",
                values: Some([
                    1.75,
                    2.0,
                    2.25,
                    2.5,
                    2.75,
                    3.0,
                    3.25,
                ]),
            ),
            (
                name: "MissChance",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "MinionMonsterDurationMod",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: Some([
            70.0,
            75.0,
            80.0,
            85.0,
            90.0,
            95.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2500.0),
                startBoneName: Some("Blowgun1"),
            ),
        )),
        hitBoneName: Some("head"),
        missileSpeed: Some(2500.0),
        missileEffectKey: Some(4104135057),
        castType: Some(1),
    )),
)