(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    0.0,
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                ]),
            ),
            (
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "APRatio",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    75.0,
                    120.0,
                    165.0,
                    210.0,
                    255.0,
                    300.0,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
            110.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)