(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    25.0,
                    100.0,
                    175.0,
                    250.0,
                    325.0,
                    400.0,
                    475.0,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    15.0,
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            0.0,
            0.0,
            0.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(1000.0),
        missileEffectKey: Some(889512116),
        castType: Some(1),
    )),
)