(
    events: {
        "Dance3D_buffactivate": [
            "characters/Reksai/sounds/976706382.ogg",
        ],
        "Death3D_cast": [
            "characters/Reksai/sounds/416929979.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Reksai/sounds/214522219.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Reksai/sounds/614518189.ogg",
        ],
        "Play_vo_Reksai_Attack2DGeneral": [
            "characters/Reksai/sounds/1051115794.ogg",
            "characters/Reksai/sounds/294838559.ogg",
            "characters/Reksai/sounds/333357410.ogg",
            "characters/Reksai/sounds/563172471.ogg",
            "characters/Reksai/sounds/62309510.ogg",
            "characters/Reksai/sounds/783644830.ogg",
            "characters/Reksai/sounds/81113931.ogg",
            "characters/Reksai/sounds/871867423.ogg",
            "characters/Reksai/sounds/872268186.ogg",
            "characters/Reksai/sounds/990980272.ogg",
        ],
        "Play_vo_Reksai_Dance3DGeneral": [
            "characters/Reksai/sounds/89701872.ogg",
        ],
        "Play_vo_Reksai_Death3D": [
            "characters/Reksai/sounds/176903446.ogg",
            "characters/Reksai/sounds/484888036.ogg",
        ],
        "Play_vo_Reksai_Joke3DGeneral": [
            "characters/Reksai/sounds/530877676.ogg",
        ],
        "Play_vo_Reksai_Laugh3DGeneral": [
            "characters/Reksai/sounds/253152481.ogg",
        ],
        "Play_vo_Reksai_Move2DStandard": [
            "characters/Reksai/sounds/1041939786.ogg",
            "characters/Reksai/sounds/133484868.ogg",
            "characters/Reksai/sounds/138797595.ogg",
            "characters/Reksai/sounds/144691549.ogg",
            "characters/Reksai/sounds/151764950.ogg",
            "characters/Reksai/sounds/187697587.ogg",
            "characters/Reksai/sounds/226709558.ogg",
            "characters/Reksai/sounds/234823519.ogg",
            "characters/Reksai/sounds/23813620.ogg",
            "characters/Reksai/sounds/25135176.ogg",
            "characters/Reksai/sounds/302062897.ogg",
            "characters/Reksai/sounds/353429009.ogg",
            "characters/Reksai/sounds/360530670.ogg",
            "characters/Reksai/sounds/360818398.ogg",
            "characters/Reksai/sounds/369342910.ogg",
            "characters/Reksai/sounds/391290737.ogg",
            "characters/Reksai/sounds/452972911.ogg",
            "characters/Reksai/sounds/506696263.ogg",
            "characters/Reksai/sounds/60702267.ogg",
            "characters/Reksai/sounds/611011886.ogg",
            "characters/Reksai/sounds/619856944.ogg",
            "characters/Reksai/sounds/622627569.ogg",
            "characters/Reksai/sounds/628258481.ogg",
            "characters/Reksai/sounds/674975736.ogg",
            "characters/Reksai/sounds/81255025.ogg",
            "characters/Reksai/sounds/829723462.ogg",
            "characters/Reksai/sounds/831531503.ogg",
            "characters/Reksai/sounds/843153298.ogg",
            "characters/Reksai/sounds/846571532.ogg",
            "characters/Reksai/sounds/883090839.ogg",
            "characters/Reksai/sounds/905878046.ogg",
            "characters/Reksai/sounds/907373445.ogg",
            "characters/Reksai/sounds/938085396.ogg",
            "characters/Reksai/sounds/978427001.ogg",
            "characters/Reksai/sounds/988661119.ogg",
        ],
        "Play_vo_Reksai_Recall3DGeneral": [
            "characters/Reksai/sounds/276840691.ogg",
        ],
        "Play_vo_Reksai_RekSaiE_cast3D": [
            "characters/Reksai/sounds/174156987.ogg",
            "characters/Reksai/sounds/200535433.ogg",
            "characters/Reksai/sounds/342441665.ogg",
        ],
        "Play_vo_Reksai_RekSaiQAttack3_cast3D": [
            "characters/Reksai/sounds/572456810.ogg",
            "characters/Reksai/sounds/742480276.ogg",
            "characters/Reksai/sounds/80486007.ogg",
        ],
        "Play_vo_Reksai_RekSaiR_OnBuffDeactivate": [
            "characters/Reksai/sounds/174156987.ogg",
            "characters/Reksai/sounds/200535433.ogg",
            "characters/Reksai/sounds/342441665.ogg",
        ],
        "Play_vo_Reksai_RekSaiW_OnBuffActivate": [
            "characters/Reksai/sounds/196351589.ogg",
            "characters/Reksai/sounds/874047226.ogg",
        ],
        "Play_vo_Reksai_RekSaiW_OnBuffDeactivate": [
            "characters/Reksai/sounds/148149704.ogg",
            "characters/Reksai/sounds/349036507.ogg",
            "characters/Reksai/sounds/844419857.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack2_cast3D": [
            "characters/Reksai/sounds/1025031864.ogg",
            "characters/Reksai/sounds/1063945625.ogg",
            "characters/Reksai/sounds/361341524.ogg",
            "characters/Reksai/sounds/419861782.ogg",
            "characters/Reksai/sounds/449265420.ogg",
            "characters/Reksai/sounds/820954005.ogg",
            "characters/Reksai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack3_cast3D": [
            "characters/Reksai/sounds/1025031864.ogg",
            "characters/Reksai/sounds/1063945625.ogg",
            "characters/Reksai/sounds/361341524.ogg",
            "characters/Reksai/sounds/419861782.ogg",
            "characters/Reksai/sounds/449265420.ogg",
            "characters/Reksai/sounds/820954005.ogg",
            "characters/Reksai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack4_cast3D": [
            "characters/Reksai/sounds/1025031864.ogg",
            "characters/Reksai/sounds/1063945625.ogg",
            "characters/Reksai/sounds/361341524.ogg",
            "characters/Reksai/sounds/419861782.ogg",
            "characters/Reksai/sounds/449265420.ogg",
            "characters/Reksai/sounds/820954005.ogg",
            "characters/Reksai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack5_cast3D": [
            "characters/Reksai/sounds/1025031864.ogg",
            "characters/Reksai/sounds/1063945625.ogg",
            "characters/Reksai/sounds/361341524.ogg",
            "characters/Reksai/sounds/419861782.ogg",
            "characters/Reksai/sounds/449265420.ogg",
            "characters/Reksai/sounds/820954005.ogg",
            "characters/Reksai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack_cast3D": [
            "characters/Reksai/sounds/1025031864.ogg",
            "characters/Reksai/sounds/1063945625.ogg",
            "characters/Reksai/sounds/361341524.ogg",
            "characters/Reksai/sounds/419861782.ogg",
            "characters/Reksai/sounds/449265420.ogg",
            "characters/Reksai/sounds/820954005.ogg",
            "characters/Reksai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiCritAttack_cast3D": [
            "characters/Reksai/sounds/1025031864.ogg",
            "characters/Reksai/sounds/1063945625.ogg",
            "characters/Reksai/sounds/361341524.ogg",
            "characters/Reksai/sounds/419861782.ogg",
            "characters/Reksai/sounds/449265420.ogg",
            "characters/Reksai/sounds/820954005.ogg",
            "characters/Reksai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_Taunt3DGeneral": [
            "characters/Reksai/sounds/666927018.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Reksai/sounds/399375393.ogg",
        ],
        "RekSaiPRegen_OnBuffActivate": [
            "characters/Reksai/sounds/721411249.ogg",
        ],
        "ReksaiBasicAttack2_OnCast": [
            "characters/Reksai/sounds/121155051.ogg",
            "characters/Reksai/sounds/437111149.ogg",
            "characters/Reksai/sounds/47011954.ogg",
            "characters/Reksai/sounds/705239.ogg",
            "characters/Reksai/sounds/77536789.ogg",
        ],
        "ReksaiBasicAttack2_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/44015375.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiBasicAttack3_OnCast": [
            "characters/Reksai/sounds/121155051.ogg",
            "characters/Reksai/sounds/437111149.ogg",
            "characters/Reksai/sounds/47011954.ogg",
            "characters/Reksai/sounds/705239.ogg",
            "characters/Reksai/sounds/77536789.ogg",
        ],
        "ReksaiBasicAttack3_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/44015375.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiBasicAttack4_OnCast": [
            "characters/Reksai/sounds/121155051.ogg",
            "characters/Reksai/sounds/437111149.ogg",
            "characters/Reksai/sounds/47011954.ogg",
            "characters/Reksai/sounds/705239.ogg",
            "characters/Reksai/sounds/77536789.ogg",
        ],
        "ReksaiBasicAttack4_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/44015375.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiBasicAttack5_OnCast": [
            "characters/Reksai/sounds/576905789.ogg",
        ],
        "ReksaiBasicAttack5_OnHit": [
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/76726765.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiBasicAttack6_OnCast": [
            "characters/Reksai/sounds/576905789.ogg",
        ],
        "ReksaiBasicAttack6_OnHit": [
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/76726765.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiBasicAttack_OnCast": [
            "characters/Reksai/sounds/121155051.ogg",
            "characters/Reksai/sounds/437111149.ogg",
            "characters/Reksai/sounds/47011954.ogg",
            "characters/Reksai/sounds/705239.ogg",
            "characters/Reksai/sounds/77536789.ogg",
        ],
        "ReksaiBasicAttack_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/44015375.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiCritAttack_OnCast": [
            "characters/Reksai/sounds/121155051.ogg",
            "characters/Reksai/sounds/47011954.ogg",
            "characters/Reksai/sounds/705239.ogg",
            "characters/Reksai/sounds/77536789.ogg",
        ],
        "ReksaiCritAttack_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/125731092.ogg",
            "characters/Reksai/sounds/138523762.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/169686602.ogg",
            "characters/Reksai/sounds/18586304.ogg",
            "characters/Reksai/sounds/258370367.ogg",
            "characters/Reksai/sounds/43461395.ogg",
            "characters/Reksai/sounds/44015375.ogg",
            "characters/Reksai/sounds/54601120.ogg",
            "characters/Reksai/sounds/56479912.ogg",
            "characters/Reksai/sounds/669701.ogg",
            "characters/Reksai/sounds/71047616.ogg",
            "characters/Reksai/sounds/8581485.ogg",
            "characters/Reksai/sounds/91356983.ogg",
        ],
        "ReksaiE_OnCast": [
            "characters/Reksai/sounds/543676275.ogg",
        ],
        "ReksaiE_burrowed_buffactivate": [
            "characters/Reksai/sounds/497688237.ogg",
            "characters/Reksai/sounds/559480263.ogg",
            "characters/Reksai/sounds/609635809.ogg",
        ],
        "ReksaiE_burrowed_buffdeactivate": [
            "characters/Reksai/sounds/31790018.ogg",
            "characters/Reksai/sounds/53112077.ogg",
            "characters/Reksai/sounds/777471483.ogg",
        ],
        "ReksaiE_burrowed_endsound": [
            "characters/Reksai/sounds/281756796.ogg",
            "characters/Reksai/sounds/620031912.ogg",
        ],
        "ReksaiE_burrowed_launchsound": [
            "characters/Reksai/sounds/689642706.ogg",
            "characters/Reksai/sounds/831317442.ogg",
        ],
        "ReksaiE_burrowed_movethroughsound": [
            "characters/Reksai/sounds/1039960925.ogg",
            "characters/Reksai/sounds/218100877.ogg",
            "characters/Reksai/sounds/964030234.ogg",
        ],
        "ReksaiE_burrowed_tunnel_destroyed": [
            "characters/Reksai/sounds/251585309.ogg",
            "characters/Reksai/sounds/46253086.ogg",
        ],
        "ReksaiE_burrowed_tunnel_destroying": [
            "characters/Reksai/sounds/105545253.ogg",
            "characters/Reksai/sounds/839874772.ogg",
        ],
        "ReksaiE_burrowed_tunnel_travel": [
            "characters/Reksai/sounds/1039960925.ogg",
            "characters/Reksai/sounds/218100877.ogg",
            "characters/Reksai/sounds/964030234.ogg",
        ],
        "ReksaiE_hit": [
            "characters/Reksai/sounds/138231773.ogg",
            "characters/Reksai/sounds/17276837.ogg",
            "characters/Reksai/sounds/840893434.ogg",
        ],
        "ReksaiE_hit_fullstacks": [
            "characters/Reksai/sounds/963765863.ogg",
        ],
        "ReksaiE_unburrowed_launchsound": [
            "characters/Reksai/sounds/105087036.ogg",
            "characters/Reksai/sounds/697985734.ogg",
        ],
        "ReksaiP_fullstacks": [
            "characters/Reksai/sounds/1000582161.ogg",
            "characters/Reksai/sounds/826674638.ogg",
        ],
        "ReksaiQAttack2_OnCast": [
            "characters/Reksai/sounds/121480008.ogg",
            "characters/Reksai/sounds/257769457.ogg",
            "characters/Reksai/sounds/351033679.ogg",
        ],
        "ReksaiQAttack2_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/44015375.ogg",
        ],
        "ReksaiQAttack3_OnCast": [
            "characters/Reksai/sounds/641915288.ogg",
            "characters/Reksai/sounds/886488458.ogg",
            "characters/Reksai/sounds/934168591.ogg",
        ],
        "ReksaiQAttack3_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/44015375.ogg",
        ],
        "ReksaiQAttack_OnCast": [
            "characters/Reksai/sounds/134323030.ogg",
            "characters/Reksai/sounds/783661760.ogg",
            "characters/Reksai/sounds/879470492.ogg",
        ],
        "ReksaiQAttack_OnHit": [
            "characters/Reksai/sounds/120571503.ogg",
            "characters/Reksai/sounds/12133246.ogg",
            "characters/Reksai/sounds/16606952.ogg",
            "characters/Reksai/sounds/44015375.ogg",
        ],
        "ReksaiQBurrowedMis_OnMissileCast": [
            "characters/Reksai/sounds/197414286.ogg",
            "characters/Reksai/sounds/624510640.ogg",
            "characters/Reksai/sounds/920405368.ogg",
        ],
        "ReksaiQBurrowedMis_OnMissileLaunch": [
            "characters/Reksai/sounds/814089193.ogg",
            "characters/Reksai/sounds/923720820.ogg",
            "characters/Reksai/sounds/983262989.ogg",
        ],
        "ReksaiQBurrowedMis_hit": [
            "characters/Reksai/sounds/12807417.ogg",
            "characters/Reksai/sounds/314782196.ogg",
            "characters/Reksai/sounds/976046956.ogg",
        ],
        "ReksaiQBurrowed_OnCast": [
            "characters/Reksai/sounds/287515371.ogg",
            "characters/Reksai/sounds/751966871.ogg",
            "characters/Reksai/sounds/764508133.ogg",
        ],
        "ReksaiQ_OnBuffActivate": [
            "characters/Reksai/sounds/1038958482.ogg",
            "characters/Reksai/sounds/818642523.ogg",
            "characters/Reksai/sounds/889547326.ogg",
        ],
        "ReksaiQ_OnBuffDeactivate": [
            "characters/Reksai/sounds/1045650984.ogg",
        ],
        "ReksaiQ_OnCast": [
            "characters/Reksai/sounds/209540356.ogg",
            "characters/Reksai/sounds/518084091.ogg",
            "characters/Reksai/sounds/90107454.ogg",
        ],
        "ReksaiR_OnCast": [
            "characters/Reksai/sounds/451945623.ogg",
        ],
        "ReksaiR_hit": [
            "characters/Reksai/sounds/1017100903.ogg",
            "characters/Reksai/sounds/841844918.ogg",
            "characters/Reksai/sounds/869902149.ogg",
        ],
        "ReksaiR_leap": [
            "characters/Reksai/sounds/155857163.ogg",
            "characters/Reksai/sounds/272391068.ogg",
            "characters/Reksai/sounds/54263310.ogg",
        ],
        "ReksaiR_roar": [
            "characters/Reksai/sounds/187183257.ogg",
        ],
        "ReksaiR_tunnel_port": [
            "characters/Reksai/sounds/1065794194.ogg",
        ],
        "ReksaiTSActive_OnBuffDeactivate": [
            "characters/Reksai/sounds/487295015.ogg",
            "characters/Reksai/sounds/897467952.ogg",
        ],
        "ReksaiW_buffactivate": [
            "characters/Reksai/sounds/715009455.ogg",
            "characters/Reksai/sounds/806531637.ogg",
            "characters/Reksai/sounds/916207362.ogg",
        ],
        "ReksaiW_buffdeactivate": [
            "characters/Reksai/sounds/123101730.ogg",
            "characters/Reksai/sounds/599520280.ogg",
            "characters/Reksai/sounds/83068305.ogg",
        ],
        "ReksaiW_hit": [
            "characters/Reksai/sounds/493424595.ogg",
            "characters/Reksai/sounds/630377992.ogg",
            "characters/Reksai/sounds/946826053.ogg",
        ],
        "ReksaiW_movement_trail": [
            "characters/Reksai/sounds/248598973.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Reksai/sounds/829418987.ogg",
        ],
    },
)