(
    events: {
        "Play_vo_Reksai_Attack2DGeneral": [
            "characters/RekSai/sounds/1051115794.ogg",
            "characters/RekSai/sounds/294838559.ogg",
            "characters/RekSai/sounds/333357410.ogg",
            "characters/RekSai/sounds/563172471.ogg",
            "characters/RekSai/sounds/62309510.ogg",
            "characters/RekSai/sounds/783644830.ogg",
            "characters/RekSai/sounds/81113931.ogg",
            "characters/RekSai/sounds/871867423.ogg",
            "characters/RekSai/sounds/872268186.ogg",
            "characters/RekSai/sounds/990980272.ogg",
        ],
        "Play_vo_Reksai_Dance3DGeneral": [
            "characters/RekSai/sounds/89701872.ogg",
        ],
        "Play_vo_Reksai_Death3D": [
            "characters/RekSai/sounds/176903446.ogg",
            "characters/RekSai/sounds/484888036.ogg",
        ],
        "Play_vo_Reksai_Joke3DGeneral": [
            "characters/RekSai/sounds/530877676.ogg",
        ],
        "Play_vo_Reksai_Laugh3DGeneral": [
            "characters/RekSai/sounds/253152481.ogg",
        ],
        "Play_vo_Reksai_Move2DStandard": [
            "characters/RekSai/sounds/1041939786.ogg",
            "characters/RekSai/sounds/133484868.ogg",
            "characters/RekSai/sounds/138797595.ogg",
            "characters/RekSai/sounds/144691549.ogg",
            "characters/RekSai/sounds/151764950.ogg",
            "characters/RekSai/sounds/187697587.ogg",
            "characters/RekSai/sounds/226709558.ogg",
            "characters/RekSai/sounds/234823519.ogg",
            "characters/RekSai/sounds/23813620.ogg",
            "characters/RekSai/sounds/25135176.ogg",
            "characters/RekSai/sounds/302062897.ogg",
            "characters/RekSai/sounds/353429009.ogg",
            "characters/RekSai/sounds/360530670.ogg",
            "characters/RekSai/sounds/360818398.ogg",
            "characters/RekSai/sounds/369342910.ogg",
            "characters/RekSai/sounds/391290737.ogg",
            "characters/RekSai/sounds/452972911.ogg",
            "characters/RekSai/sounds/506696263.ogg",
            "characters/RekSai/sounds/60702267.ogg",
            "characters/RekSai/sounds/611011886.ogg",
            "characters/RekSai/sounds/619856944.ogg",
            "characters/RekSai/sounds/622627569.ogg",
            "characters/RekSai/sounds/628258481.ogg",
            "characters/RekSai/sounds/674975736.ogg",
            "characters/RekSai/sounds/81255025.ogg",
            "characters/RekSai/sounds/829723462.ogg",
            "characters/RekSai/sounds/831531503.ogg",
            "characters/RekSai/sounds/843153298.ogg",
            "characters/RekSai/sounds/846571532.ogg",
            "characters/RekSai/sounds/883090839.ogg",
            "characters/RekSai/sounds/905878046.ogg",
            "characters/RekSai/sounds/907373445.ogg",
            "characters/RekSai/sounds/938085396.ogg",
            "characters/RekSai/sounds/978427001.ogg",
            "characters/RekSai/sounds/988661119.ogg",
        ],
        "Play_vo_Reksai_Recall3DGeneral": [
            "characters/RekSai/sounds/276840691.ogg",
        ],
        "Play_vo_Reksai_RekSaiE_cast3D": [
            "characters/RekSai/sounds/174156987.ogg",
            "characters/RekSai/sounds/200535433.ogg",
            "characters/RekSai/sounds/342441665.ogg",
        ],
        "Play_vo_Reksai_RekSaiQAttack3_cast3D": [
            "characters/RekSai/sounds/572456810.ogg",
            "characters/RekSai/sounds/742480276.ogg",
            "characters/RekSai/sounds/80486007.ogg",
        ],
        "Play_vo_Reksai_RekSaiR_OnBuffDeactivate": [
            "characters/RekSai/sounds/174156987.ogg",
            "characters/RekSai/sounds/200535433.ogg",
            "characters/RekSai/sounds/342441665.ogg",
        ],
        "Play_vo_Reksai_RekSaiW_OnBuffActivate": [
            "characters/RekSai/sounds/196351589.ogg",
            "characters/RekSai/sounds/874047226.ogg",
        ],
        "Play_vo_Reksai_RekSaiW_OnBuffDeactivate": [
            "characters/RekSai/sounds/148149704.ogg",
            "characters/RekSai/sounds/349036507.ogg",
            "characters/RekSai/sounds/844419857.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack2_cast3D": [
            "characters/RekSai/sounds/1025031864.ogg",
            "characters/RekSai/sounds/1063945625.ogg",
            "characters/RekSai/sounds/361341524.ogg",
            "characters/RekSai/sounds/419861782.ogg",
            "characters/RekSai/sounds/449265420.ogg",
            "characters/RekSai/sounds/820954005.ogg",
            "characters/RekSai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack3_cast3D": [
            "characters/RekSai/sounds/1025031864.ogg",
            "characters/RekSai/sounds/1063945625.ogg",
            "characters/RekSai/sounds/361341524.ogg",
            "characters/RekSai/sounds/419861782.ogg",
            "characters/RekSai/sounds/449265420.ogg",
            "characters/RekSai/sounds/820954005.ogg",
            "characters/RekSai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack4_cast3D": [
            "characters/RekSai/sounds/1025031864.ogg",
            "characters/RekSai/sounds/1063945625.ogg",
            "characters/RekSai/sounds/361341524.ogg",
            "characters/RekSai/sounds/419861782.ogg",
            "characters/RekSai/sounds/449265420.ogg",
            "characters/RekSai/sounds/820954005.ogg",
            "characters/RekSai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack5_cast3D": [
            "characters/RekSai/sounds/1025031864.ogg",
            "characters/RekSai/sounds/1063945625.ogg",
            "characters/RekSai/sounds/361341524.ogg",
            "characters/RekSai/sounds/419861782.ogg",
            "characters/RekSai/sounds/449265420.ogg",
            "characters/RekSai/sounds/820954005.ogg",
            "characters/RekSai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiBasicAttack_cast3D": [
            "characters/RekSai/sounds/1025031864.ogg",
            "characters/RekSai/sounds/1063945625.ogg",
            "characters/RekSai/sounds/361341524.ogg",
            "characters/RekSai/sounds/419861782.ogg",
            "characters/RekSai/sounds/449265420.ogg",
            "characters/RekSai/sounds/820954005.ogg",
            "characters/RekSai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_ReksaiCritAttack_cast3D": [
            "characters/RekSai/sounds/1025031864.ogg",
            "characters/RekSai/sounds/1063945625.ogg",
            "characters/RekSai/sounds/361341524.ogg",
            "characters/RekSai/sounds/419861782.ogg",
            "characters/RekSai/sounds/449265420.ogg",
            "characters/RekSai/sounds/820954005.ogg",
            "characters/RekSai/sounds/894899072.ogg",
        ],
        "Play_vo_Reksai_Taunt3DGeneral": [
            "characters/RekSai/sounds/666927018.ogg",
        ],
        "Reksai_Dance3D_buffactivate": [
            "characters/RekSai/sounds/976706382.ogg",
        ],
        "Reksai_Death3D_cast": [
            "characters/RekSai/sounds/416929979.ogg",
        ],
        "Reksai_Joke3D_buffactivate": [
            "characters/RekSai/sounds/214522219.ogg",
        ],
        "Reksai_Laugh3D_buffactivate": [
            "characters/RekSai/sounds/614518189.ogg",
        ],
        "Reksai_Recall3D_buffactivate": [
            "characters/RekSai/sounds/399375393.ogg",
        ],
        "Reksai_RekSaiPRegen_OnBuffActivate": [
            "characters/RekSai/sounds/721411249.ogg",
        ],
        "Reksai_ReksaiBasicAttack2_OnCast": [
            "characters/RekSai/sounds/121155051.ogg",
            "characters/RekSai/sounds/437111149.ogg",
            "characters/RekSai/sounds/47011954.ogg",
            "characters/RekSai/sounds/705239.ogg",
            "characters/RekSai/sounds/77536789.ogg",
        ],
        "Reksai_ReksaiBasicAttack2_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/44015375.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiBasicAttack3_OnCast": [
            "characters/RekSai/sounds/121155051.ogg",
            "characters/RekSai/sounds/437111149.ogg",
            "characters/RekSai/sounds/47011954.ogg",
            "characters/RekSai/sounds/705239.ogg",
            "characters/RekSai/sounds/77536789.ogg",
        ],
        "Reksai_ReksaiBasicAttack3_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/44015375.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiBasicAttack4_OnCast": [
            "characters/RekSai/sounds/121155051.ogg",
            "characters/RekSai/sounds/437111149.ogg",
            "characters/RekSai/sounds/47011954.ogg",
            "characters/RekSai/sounds/705239.ogg",
            "characters/RekSai/sounds/77536789.ogg",
        ],
        "Reksai_ReksaiBasicAttack4_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/44015375.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiBasicAttack5_OnCast": [
            "characters/RekSai/sounds/576905789.ogg",
        ],
        "Reksai_ReksaiBasicAttack5_OnHit": [
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/76726765.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiBasicAttack6_OnCast": [
            "characters/RekSai/sounds/576905789.ogg",
        ],
        "Reksai_ReksaiBasicAttack6_OnHit": [
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/76726765.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiBasicAttack_OnCast": [
            "characters/RekSai/sounds/121155051.ogg",
            "characters/RekSai/sounds/437111149.ogg",
            "characters/RekSai/sounds/47011954.ogg",
            "characters/RekSai/sounds/705239.ogg",
            "characters/RekSai/sounds/77536789.ogg",
        ],
        "Reksai_ReksaiBasicAttack_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/44015375.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiCritAttack_OnCast": [
            "characters/RekSai/sounds/121155051.ogg",
            "characters/RekSai/sounds/47011954.ogg",
            "characters/RekSai/sounds/705239.ogg",
            "characters/RekSai/sounds/77536789.ogg",
        ],
        "Reksai_ReksaiCritAttack_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/125731092.ogg",
            "characters/RekSai/sounds/138523762.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/169686602.ogg",
            "characters/RekSai/sounds/18586304.ogg",
            "characters/RekSai/sounds/258370367.ogg",
            "characters/RekSai/sounds/43461395.ogg",
            "characters/RekSai/sounds/44015375.ogg",
            "characters/RekSai/sounds/54601120.ogg",
            "characters/RekSai/sounds/56479912.ogg",
            "characters/RekSai/sounds/669701.ogg",
            "characters/RekSai/sounds/71047616.ogg",
            "characters/RekSai/sounds/8581485.ogg",
            "characters/RekSai/sounds/91356983.ogg",
        ],
        "Reksai_ReksaiE_OnCast": [
            "characters/RekSai/sounds/543676275.ogg",
        ],
        "Reksai_ReksaiE_burrowed_buffactivate": [
            "characters/RekSai/sounds/497688237.ogg",
            "characters/RekSai/sounds/559480263.ogg",
            "characters/RekSai/sounds/609635809.ogg",
        ],
        "Reksai_ReksaiE_burrowed_buffdeactivate": [
            "characters/RekSai/sounds/31790018.ogg",
            "characters/RekSai/sounds/53112077.ogg",
            "characters/RekSai/sounds/777471483.ogg",
        ],
        "Reksai_ReksaiE_burrowed_endsound": [
            "characters/RekSai/sounds/281756796.ogg",
            "characters/RekSai/sounds/620031912.ogg",
        ],
        "Reksai_ReksaiE_burrowed_launchsound": [
            "characters/RekSai/sounds/689642706.ogg",
            "characters/RekSai/sounds/831317442.ogg",
        ],
        "Reksai_ReksaiE_burrowed_movethroughsound": [
            "characters/RekSai/sounds/1039960925.ogg",
            "characters/RekSai/sounds/218100877.ogg",
            "characters/RekSai/sounds/964030234.ogg",
        ],
        "Reksai_ReksaiE_burrowed_tunnel_destroyed": [
            "characters/RekSai/sounds/251585309.ogg",
            "characters/RekSai/sounds/46253086.ogg",
        ],
        "Reksai_ReksaiE_burrowed_tunnel_destroying": [
            "characters/RekSai/sounds/105545253.ogg",
            "characters/RekSai/sounds/839874772.ogg",
        ],
        "Reksai_ReksaiE_burrowed_tunnel_travel": [
            "characters/RekSai/sounds/1039960925.ogg",
            "characters/RekSai/sounds/218100877.ogg",
            "characters/RekSai/sounds/964030234.ogg",
        ],
        "Reksai_ReksaiE_hit": [
            "characters/RekSai/sounds/138231773.ogg",
            "characters/RekSai/sounds/17276837.ogg",
            "characters/RekSai/sounds/840893434.ogg",
        ],
        "Reksai_ReksaiE_hit_fullstacks": [
            "characters/RekSai/sounds/963765863.ogg",
        ],
        "Reksai_ReksaiE_unburrowed_launchsound": [
            "characters/RekSai/sounds/105087036.ogg",
            "characters/RekSai/sounds/697985734.ogg",
        ],
        "Reksai_ReksaiP_fullstacks": [
            "characters/RekSai/sounds/1000582161.ogg",
            "characters/RekSai/sounds/826674638.ogg",
        ],
        "Reksai_ReksaiQAttack2_OnCast": [
            "characters/RekSai/sounds/121480008.ogg",
            "characters/RekSai/sounds/257769457.ogg",
            "characters/RekSai/sounds/351033679.ogg",
        ],
        "Reksai_ReksaiQAttack2_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/44015375.ogg",
        ],
        "Reksai_ReksaiQAttack3_OnCast": [
            "characters/RekSai/sounds/641915288.ogg",
            "characters/RekSai/sounds/886488458.ogg",
            "characters/RekSai/sounds/934168591.ogg",
        ],
        "Reksai_ReksaiQAttack3_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/44015375.ogg",
        ],
        "Reksai_ReksaiQAttack_OnCast": [
            "characters/RekSai/sounds/134323030.ogg",
            "characters/RekSai/sounds/783661760.ogg",
            "characters/RekSai/sounds/879470492.ogg",
        ],
        "Reksai_ReksaiQAttack_OnHit": [
            "characters/RekSai/sounds/120571503.ogg",
            "characters/RekSai/sounds/12133246.ogg",
            "characters/RekSai/sounds/16606952.ogg",
            "characters/RekSai/sounds/44015375.ogg",
        ],
        "Reksai_ReksaiQBurrowedMis_OnMissileCast": [
            "characters/RekSai/sounds/197414286.ogg",
            "characters/RekSai/sounds/624510640.ogg",
            "characters/RekSai/sounds/920405368.ogg",
        ],
        "Reksai_ReksaiQBurrowedMis_OnMissileLaunch": [
            "characters/RekSai/sounds/814089193.ogg",
            "characters/RekSai/sounds/923720820.ogg",
            "characters/RekSai/sounds/983262989.ogg",
        ],
        "Reksai_ReksaiQBurrowedMis_hit": [
            "characters/RekSai/sounds/12807417.ogg",
            "characters/RekSai/sounds/314782196.ogg",
            "characters/RekSai/sounds/976046956.ogg",
        ],
        "Reksai_ReksaiQBurrowed_OnCast": [
            "characters/RekSai/sounds/287515371.ogg",
            "characters/RekSai/sounds/751966871.ogg",
            "characters/RekSai/sounds/764508133.ogg",
        ],
        "Reksai_ReksaiQ_OnBuffActivate": [
            "characters/RekSai/sounds/1038958482.ogg",
            "characters/RekSai/sounds/818642523.ogg",
            "characters/RekSai/sounds/889547326.ogg",
        ],
        "Reksai_ReksaiQ_OnBuffDeactivate": [
            "characters/RekSai/sounds/1045650984.ogg",
        ],
        "Reksai_ReksaiQ_OnCast": [
            "characters/RekSai/sounds/209540356.ogg",
            "characters/RekSai/sounds/518084091.ogg",
            "characters/RekSai/sounds/90107454.ogg",
        ],
        "Reksai_ReksaiR_OnCast": [
            "characters/RekSai/sounds/451945623.ogg",
        ],
        "Reksai_ReksaiR_hit": [
            "characters/RekSai/sounds/1017100903.ogg",
            "characters/RekSai/sounds/841844918.ogg",
            "characters/RekSai/sounds/869902149.ogg",
        ],
        "Reksai_ReksaiR_leap": [
            "characters/RekSai/sounds/155857163.ogg",
            "characters/RekSai/sounds/272391068.ogg",
            "characters/RekSai/sounds/54263310.ogg",
        ],
        "Reksai_ReksaiR_roar": [
            "characters/RekSai/sounds/187183257.ogg",
        ],
        "Reksai_ReksaiR_tunnel_port": [
            "characters/RekSai/sounds/1065794194.ogg",
        ],
        "Reksai_ReksaiTSActive_OnBuffDeactivate": [
            "characters/RekSai/sounds/487295015.ogg",
            "characters/RekSai/sounds/897467952.ogg",
        ],
        "Reksai_ReksaiW_buffactivate": [
            "characters/RekSai/sounds/715009455.ogg",
            "characters/RekSai/sounds/806531637.ogg",
            "characters/RekSai/sounds/916207362.ogg",
        ],
        "Reksai_ReksaiW_buffdeactivate": [
            "characters/RekSai/sounds/123101730.ogg",
            "characters/RekSai/sounds/599520280.ogg",
            "characters/RekSai/sounds/83068305.ogg",
        ],
        "Reksai_ReksaiW_hit": [
            "characters/RekSai/sounds/493424595.ogg",
            "characters/RekSai/sounds/630377992.ogg",
            "characters/RekSai/sounds/946826053.ogg",
        ],
        "Reksai_ReksaiW_movement_trail": [
            "characters/RekSai/sounds/248598973.ogg",
        ],
        "Reksai_Taunt3D_buffactivate": [
            "characters/RekSai/sounds/829418987.ogg",
        ],
    },
)