(
    events: {
        "Dance3D_loop": [
            "characters/Kalista/sounds/279691152.ogg",
        ],
        "Death3D_cast": [
            "characters/Kalista/sounds/969635713.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Kalista/sounds/464819392.ogg",
        ],
        "KalistaBasicAttack_OnCast": [
            "characters/Kalista/sounds/101609885.ogg",
            "characters/Kalista/sounds/230018112.ogg",
            "characters/Kalista/sounds/301842029.ogg",
            "characters/Kalista/sounds/479498006.ogg",
            "characters/Kalista/sounds/540058025.ogg",
        ],
        "KalistaBasicAttack_OnHit": [
            "characters/Kalista/sounds/1031448226.ogg",
            "characters/Kalista/sounds/10705451.ogg",
            "characters/Kalista/sounds/146685247.ogg",
            "characters/Kalista/sounds/158486796.ogg",
            "characters/Kalista/sounds/15857237.ogg",
            "characters/Kalista/sounds/243737311.ogg",
            "characters/Kalista/sounds/324223420.ogg",
            "characters/Kalista/sounds/345604843.ogg",
            "characters/Kalista/sounds/387679107.ogg",
            "characters/Kalista/sounds/398190490.ogg",
            "characters/Kalista/sounds/560998156.ogg",
            "characters/Kalista/sounds/565518936.ogg",
            "characters/Kalista/sounds/619288337.ogg",
            "characters/Kalista/sounds/644757568.ogg",
            "characters/Kalista/sounds/779905167.ogg",
            "characters/Kalista/sounds/821344556.ogg",
        ],
        "KalistaBasicAttack_OnMissileLaunch": [
            "characters/Kalista/sounds/11879335.ogg",
            "characters/Kalista/sounds/201389622.ogg",
            "characters/Kalista/sounds/390402215.ogg",
            "characters/Kalista/sounds/638158399.ogg",
        ],
        "KalistaBasicAttack_dash": [
            "characters/Kalista/sounds/1008159593.ogg",
            "characters/Kalista/sounds/888029770.ogg",
            "characters/Kalista/sounds/951208991.ogg",
        ],
        "KalistaBasicAttack_precast": [
            "characters/Kalista/sounds/164767999.ogg",
            "characters/Kalista/sounds/252012367.ogg",
            "characters/Kalista/sounds/693202676.ogg",
            "characters/Kalista/sounds/953323396.ogg",
        ],
        "KalistaCoopStrikeProc_hit_champ": [
            "characters/Kalista/sounds/305754587.ogg",
            "characters/Kalista/sounds/43133646.ogg",
            "characters/Kalista/sounds/902446865.ogg",
        ],
        "KalistaCoopStrikeProc_hit_minion": [
            "characters/Kalista/sounds/305754587.ogg",
            "characters/Kalista/sounds/43133646.ogg",
            "characters/Kalista/sounds/902446865.ogg",
        ],
        "KalistaCritAttack_OnCast": [
            "characters/Kalista/sounds/101609885.ogg",
            "characters/Kalista/sounds/230018112.ogg",
            "characters/Kalista/sounds/301842029.ogg",
            "characters/Kalista/sounds/479498006.ogg",
            "characters/Kalista/sounds/540058025.ogg",
        ],
        "KalistaCritAttack_OnHit": [
            "characters/Kalista/sounds/1031448226.ogg",
            "characters/Kalista/sounds/10705451.ogg",
            "characters/Kalista/sounds/146685247.ogg",
            "characters/Kalista/sounds/158486796.ogg",
            "characters/Kalista/sounds/15857237.ogg",
            "characters/Kalista/sounds/243737311.ogg",
            "characters/Kalista/sounds/324223420.ogg",
            "characters/Kalista/sounds/345604843.ogg",
            "characters/Kalista/sounds/387679107.ogg",
            "characters/Kalista/sounds/398190490.ogg",
            "characters/Kalista/sounds/560998156.ogg",
            "characters/Kalista/sounds/565518936.ogg",
            "characters/Kalista/sounds/619288337.ogg",
            "characters/Kalista/sounds/644757568.ogg",
            "characters/Kalista/sounds/779905167.ogg",
            "characters/Kalista/sounds/821344556.ogg",
        ],
        "KalistaCritAttack_OnMissileLaunch": [
            "characters/Kalista/sounds/11879335.ogg",
            "characters/Kalista/sounds/201389622.ogg",
            "characters/Kalista/sounds/390402215.ogg",
            "characters/Kalista/sounds/638158399.ogg",
        ],
        "KalistaExpunge_cast": [
            "characters/Kalista/sounds/102618652.ogg",
            "characters/Kalista/sounds/1049867270.ogg",
            "characters/Kalista/sounds/234068376.ogg",
        ],
        "KalistaMysticShotMisTrue_OnMissileLaunch": [
            "characters/Kalista/sounds/344605782.ogg",
            "characters/Kalista/sounds/588195070.ogg",
            "characters/Kalista/sounds/905153903.ogg",
        ],
        "KalistaMysticShotMisTrue_hit": [
            "characters/Kalista/sounds/274742167.ogg",
            "characters/Kalista/sounds/284829634.ogg",
            "characters/Kalista/sounds/91737637.ogg",
        ],
        "KalistaMysticShot_OnCast": [
            "characters/Kalista/sounds/1012412885.ogg",
            "characters/Kalista/sounds/138420757.ogg",
            "characters/Kalista/sounds/14780541.ogg",
        ],
        "KalistaPAltarBuffRise_OnBuffCast": [
            "characters/Kalista/sounds/941124507.ogg",
        ],
        "KalistaPAltarBuffRise_OnBuffDeactivate": [
            "characters/Kalista/sounds/587358829.ogg",
        ],
        "KalistaPAltarBuff_OnBuffActivate": [
            "characters/Kalista/sounds/296973028.ogg",
        ],
        "KalistaPInvocation_OnMissileCast": [
            "characters/Kalista/sounds/855066968.ogg",
        ],
        "KalistaPInvocation_OnMissileLaunch": [
            "characters/Kalista/sounds/390402215.ogg",
        ],
        "KalistaPInvocation_hit": [
            "characters/Kalista/sounds/1005842076.ogg",
        ],
        "KalistaPSpellCast_OnCast": [
            "characters/Kalista/sounds/120593753.ogg",
        ],
        "KalistaPSpellCast_spearpull": [
            "characters/Kalista/sounds/942700861.ogg",
        ],
        "KalistaPassiveChannel_buffactivate": [
            "characters/Kalista/sounds/109168970.ogg",
        ],
        "KalistaRAestheticMis_OnMissileLaunch": [
            "characters/Kalista/sounds/1001497281.ogg",
            "characters/Kalista/sounds/595538425.ogg",
            "characters/Kalista/sounds/941422664.ogg",
        ],
        "KalistaRAestheticMis_missilecast": [
            "characters/Kalista/sounds/104458925.ogg",
            "characters/Kalista/sounds/319749596.ogg",
            "characters/Kalista/sounds/605459218.ogg",
        ],
        "KalistaRMis_OnCast": [
            "characters/Kalista/sounds/158024717.ogg",
            "characters/Kalista/sounds/8877745.ogg",
        ],
        "KalistaRMis_OnMissileCast": [
            "characters/Kalista/sounds/158024717.ogg",
            "characters/Kalista/sounds/8877745.ogg",
        ],
        "KalistaRMis_OnMissileLaunch": [
            "characters/Kalista/sounds/1000769615.ogg",
            "characters/Kalista/sounds/258299244.ogg",
            "characters/Kalista/sounds/512911862.ogg",
        ],
        "KalistaRMis_hit": [
            "characters/Kalista/sounds/308619276.ogg",
            "characters/Kalista/sounds/631293574.ogg",
            "characters/Kalista/sounds/86342683.ogg",
        ],
        "KalistaRVFX_OnBuffActivate": [
            "characters/Kalista/sounds/49888106.ogg",
        ],
        "KalistaRVFX_buffcast": [
            "characters/Kalista/sounds/719119105.ogg",
        ],
        "KalistaRx_OnCast": [
            "characters/Kalista/sounds/757480110.ogg",
        ],
        "KalistaWSeesEnemy_alerted": [
            "characters/Kalista/sounds/1004863685.ogg",
            "characters/Kalista/sounds/1016961996.ogg",
            "characters/Kalista/sounds/831282132.ogg",
        ],
        "KalistaW_OnBuffActivate": [
            "characters/Kalista/sounds/379899074.ogg",
            "characters/Kalista/sounds/382712172.ogg",
            "characters/Kalista/sounds/890271557.ogg",
        ],
        "KalistaW_OnBuffDeactivate": [
            "characters/Kalista/sounds/484852919.ogg",
        ],
        "KalistaW_OnCast": [
            "characters/Kalista/sounds/42896223.ogg",
            "characters/Kalista/sounds/429903129.ogg",
            "characters/Kalista/sounds/97636418.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Kalista/sounds/822741368.ogg",
        ],
        "Play_vo_Kalista_Assist3DGeneral": [
            "characters/Kalista/sounds/149280026.ogg",
            "characters/Kalista/sounds/253846981.ogg",
            "characters/Kalista/sounds/342523000.ogg",
            "characters/Kalista/sounds/541300136.ogg",
            "characters/Kalista/sounds/616995746.ogg",
            "characters/Kalista/sounds/832659684.ogg",
        ],
        "Play_vo_Kalista_Attack2DBaron": [
            "characters/Kalista/sounds/252646098.ogg",
            "characters/Kalista/sounds/780333258.ogg",
        ],
        "Play_vo_Kalista_Attack2DDragon": [
            "characters/Kalista/sounds/377300931.ogg",
            "characters/Kalista/sounds/470038022.ogg",
            "characters/Kalista/sounds/791909177.ogg",
        ],
        "Play_vo_Kalista_Attack2DGeneral": [
            "characters/Kalista/sounds/1058365199.ogg",
            "characters/Kalista/sounds/1059539427.ogg",
            "characters/Kalista/sounds/163370181.ogg",
            "characters/Kalista/sounds/178500851.ogg",
            "characters/Kalista/sounds/235935648.ogg",
            "characters/Kalista/sounds/275677710.ogg",
            "characters/Kalista/sounds/276038661.ogg",
            "characters/Kalista/sounds/279362733.ogg",
            "characters/Kalista/sounds/46141572.ogg",
            "characters/Kalista/sounds/487278220.ogg",
            "characters/Kalista/sounds/502113597.ogg",
            "characters/Kalista/sounds/557169157.ogg",
            "characters/Kalista/sounds/635676823.ogg",
            "characters/Kalista/sounds/644208357.ogg",
            "characters/Kalista/sounds/708026094.ogg",
            "characters/Kalista/sounds/710245476.ogg",
            "characters/Kalista/sounds/737500971.ogg",
            "characters/Kalista/sounds/787382693.ogg",
            "characters/Kalista/sounds/916399309.ogg",
            "characters/Kalista/sounds/940073275.ogg",
        ],
        "Play_vo_Kalista_BuyItem2DBansheesVeil": [
            "characters/Kalista/sounds/202550825.ogg",
            "characters/Kalista/sounds/483363597.ogg",
            "characters/Kalista/sounds/637600154.ogg",
        ],
        "Play_vo_Kalista_BuyItem2DBladeOfTheRuinedKing": [
            "characters/Kalista/sounds/1059108223.ogg",
            "characters/Kalista/sounds/1069679208.ogg",
            "characters/Kalista/sounds/526169728.ogg",
        ],
        "Play_vo_Kalista_BuyItem2DBloodthirster": [
            "characters/Kalista/sounds/662712741.ogg",
            "characters/Kalista/sounds/701150621.ogg",
            "characters/Kalista/sounds/888512986.ogg",
        ],
        "Play_vo_Kalista_BuyItem2DInfinityEdge": [
            "characters/Kalista/sounds/103496012.ogg",
            "characters/Kalista/sounds/222292303.ogg",
            "characters/Kalista/sounds/287322737.ogg",
        ],
        "Play_vo_Kalista_BuyItem2DLastWhisper": [
            "characters/Kalista/sounds/107121137.ogg",
            "characters/Kalista/sounds/523029381.ogg",
            "characters/Kalista/sounds/766560112.ogg",
        ],
        "Play_vo_Kalista_Death3D": [
            "characters/Kalista/sounds/1043540017.ogg",
            "characters/Kalista/sounds/137768578.ogg",
            "characters/Kalista/sounds/291372600.ogg",
            "characters/Kalista/sounds/489596738.ogg",
        ],
        "Play_vo_Kalista_FirstEncounter3DCassiopeia": [
            "characters/Kalista/sounds/560907901.ogg",
            "characters/Kalista/sounds/727216584.ogg",
            "characters/Kalista/sounds/764773913.ogg",
        ],
        "Play_vo_Kalista_FirstEncounter3DGraves": [
            "characters/Kalista/sounds/52544141.ogg",
            "characters/Kalista/sounds/903215143.ogg",
            "characters/Kalista/sounds/972837281.ogg",
        ],
        "Play_vo_Kalista_FirstEncounter3DKarthus": [
            "characters/Kalista/sounds/1043007847.ogg",
            "characters/Kalista/sounds/577729185.ogg",
            "characters/Kalista/sounds/905225705.ogg",
        ],
        "Play_vo_Kalista_FirstEncounter3DLissandra": [
            "characters/Kalista/sounds/1064512077.ogg",
            "characters/Kalista/sounds/716939447.ogg",
            "characters/Kalista/sounds/884928772.ogg",
        ],
        "Play_vo_Kalista_FirstEncounter3DTwistedFate": [
            "characters/Kalista/sounds/135337710.ogg",
            "characters/Kalista/sounds/890042453.ogg",
        ],
        "Play_vo_Kalista_FirstEncounter3DVarus": [
            "characters/Kalista/sounds/146968673.ogg",
            "characters/Kalista/sounds/569813910.ogg",
            "characters/Kalista/sounds/747752393.ogg",
        ],
        "Play_vo_Kalista_Joke3DGeneral": [
            "characters/Kalista/sounds/1013429858.ogg",
            "characters/Kalista/sounds/392640261.ogg",
            "characters/Kalista/sounds/516950094.ogg",
        ],
        "Play_vo_Kalista_KalistaBasicAttack_cast3D": [
            "characters/Kalista/sounds/1054212274.ogg",
            "characters/Kalista/sounds/209591388.ogg",
            "characters/Kalista/sounds/374307565.ogg",
            "characters/Kalista/sounds/533028007.ogg",
            "characters/Kalista/sounds/725976791.ogg",
            "characters/Kalista/sounds/7516243.ogg",
        ],
        "Play_vo_Kalista_KalistaExpunge_cast3D": [
            "characters/Kalista/sounds/305420033.ogg",
            "characters/Kalista/sounds/307483886.ogg",
            "characters/Kalista/sounds/454521998.ogg",
            "characters/Kalista/sounds/78046252.ogg",
            "characters/Kalista/sounds/780981980.ogg",
            "characters/Kalista/sounds/87269531.ogg",
            "characters/Kalista/sounds/970779895.ogg",
        ],
        "Play_vo_Kalista_KalistaMysticShot_cast3D": [
            "characters/Kalista/sounds/154610477.ogg",
            "characters/Kalista/sounds/289985353.ogg",
            "characters/Kalista/sounds/327621172.ogg",
            "characters/Kalista/sounds/698927283.ogg",
            "characters/Kalista/sounds/784403982.ogg",
            "characters/Kalista/sounds/800717382.ogg",
            "characters/Kalista/sounds/867005912.ogg",
            "characters/Kalista/sounds/962066938.ogg",
        ],
        "Play_vo_Kalista_KalistaRMis_cast3D": [
            "characters/Kalista/sounds/526502945.ogg",
            "characters/Kalista/sounds/53088508.ogg",
            "characters/Kalista/sounds/645250204.ogg",
            "characters/Kalista/sounds/871385201.ogg",
        ],
        "Play_vo_Kalista_KalistaVOAllyDeath_OnBuffCast": [
            "characters/Kalista/sounds/256670987.ogg",
            "characters/Kalista/sounds/594461830.ogg",
            "characters/Kalista/sounds/894356666.ogg",
        ],
        "Play_vo_Kalista_KalistaVOBindAllyGlobal_OnBuffCast": [
            "characters/Kalista/sounds/505684146.ogg",
            "characters/Kalista/sounds/559030603.ogg",
            "characters/Kalista/sounds/972938093.ogg",
        ],
        "Play_vo_Kalista_KalistaVOBindAlly_OnBuffCast": [
            "characters/Kalista/sounds/113627717.ogg",
            "characters/Kalista/sounds/208980119.ogg",
            "characters/Kalista/sounds/301877826.ogg",
            "characters/Kalista/sounds/386168486.ogg",
            "characters/Kalista/sounds/638684898.ogg",
            "characters/Kalista/sounds/65614722.ogg",
        ],
        "Play_vo_Kalista_KalistaVOEHighStack_OnBuffCast": [
            "characters/Kalista/sounds/617521034.ogg",
            "characters/Kalista/sounds/625168224.ogg",
            "characters/Kalista/sounds/897846036.ogg",
        ],
        "Play_vo_Kalista_KalistaVORAllyLowHealth_OnBuffCast": [
            "characters/Kalista/sounds/329441921.ogg",
            "characters/Kalista/sounds/678025312.ogg",
            "characters/Kalista/sounds/766083886.ogg",
        ],
        "Play_vo_Kalista_KalistaVORNormal_OnBuffCast": [
            "characters/Kalista/sounds/1028721946.ogg",
            "characters/Kalista/sounds/591594298.ogg",
            "characters/Kalista/sounds/59828920.ogg",
            "characters/Kalista/sounds/787922852.ogg",
        ],
        "Play_vo_Kalista_KalistaVOUnBound_OnBuffCast": [
            "characters/Kalista/sounds/212605038.ogg",
            "characters/Kalista/sounds/567323467.ogg",
            "characters/Kalista/sounds/859149629.ogg",
        ],
        "Play_vo_Kalista_KalistaW_cast3D": [
            "characters/Kalista/sounds/1023183441.ogg",
            "characters/Kalista/sounds/179832830.ogg",
            "characters/Kalista/sounds/342209836.ogg",
            "characters/Kalista/sounds/526412773.ogg",
        ],
        "Play_vo_Kalista_Kill3DGeneral": [
            "characters/Kalista/sounds/1041321636.ogg",
            "characters/Kalista/sounds/268237949.ogg",
            "characters/Kalista/sounds/340725309.ogg",
            "characters/Kalista/sounds/603313555.ogg",
            "characters/Kalista/sounds/714509493.ogg",
            "characters/Kalista/sounds/981781664.ogg",
        ],
        "Play_vo_Kalista_Laugh3DGeneral": [
            "characters/Kalista/sounds/129745600.ogg",
            "characters/Kalista/sounds/438070913.ogg",
            "characters/Kalista/sounds/536718067.ogg",
            "characters/Kalista/sounds/729317033.ogg",
        ],
        "Play_vo_Kalista_Move2DFirst": [
            "characters/Kalista/sounds/556361158.ogg",
            "characters/Kalista/sounds/759408142.ogg",
            "characters/Kalista/sounds/991391449.ogg",
        ],
        "Play_vo_Kalista_Move2DFirstHowlingAbyss": [
            "characters/Kalista/sounds/1032251023.ogg",
        ],
        "Play_vo_Kalista_Move2DStandard": [
            "characters/Kalista/sounds/1053537557.ogg",
            "characters/Kalista/sounds/123788046.ogg",
            "characters/Kalista/sounds/136333231.ogg",
            "characters/Kalista/sounds/167933980.ogg",
            "characters/Kalista/sounds/17763376.ogg",
            "characters/Kalista/sounds/318755757.ogg",
            "characters/Kalista/sounds/355215777.ogg",
            "characters/Kalista/sounds/378700961.ogg",
            "characters/Kalista/sounds/437432084.ogg",
            "characters/Kalista/sounds/443399093.ogg",
            "characters/Kalista/sounds/550987802.ogg",
            "characters/Kalista/sounds/583796163.ogg",
            "characters/Kalista/sounds/614414510.ogg",
            "characters/Kalista/sounds/618367367.ogg",
            "characters/Kalista/sounds/636998498.ogg",
            "characters/Kalista/sounds/638548167.ogg",
            "characters/Kalista/sounds/65951214.ogg",
            "characters/Kalista/sounds/751724832.ogg",
            "characters/Kalista/sounds/827450819.ogg",
            "characters/Kalista/sounds/884642714.ogg",
            "characters/Kalista/sounds/89065404.ogg",
            "characters/Kalista/sounds/91789053.ogg",
            "characters/Kalista/sounds/943270270.ogg",
            "characters/Kalista/sounds/978323863.ogg",
            "characters/Kalista/sounds/993337386.ogg",
        ],
        "Play_vo_Kalista_Recall3DGeneral": [
            "characters/Kalista/sounds/43488245.ogg",
            "characters/Kalista/sounds/87027015.ogg",
        ],
        "Play_vo_Kalista_Taunt3DGeneral": [
            "characters/Kalista/sounds/378599925.ogg",
            "characters/Kalista/sounds/509971905.ogg",
            "characters/Kalista/sounds/844735686.ogg",
        ],
        "Play_vo_Kalista_UseItem2DWard": [
            "characters/Kalista/sounds/675268768.ogg",
            "characters/Kalista/sounds/689033908.ogg",
            "characters/Kalista/sounds/75688992.ogg",
        ],
        "Recall_leadin": [
            "characters/Kalista/sounds/160473584.ogg",
        ],
        "Recall_leadout": [
            "characters/Kalista/sounds/820760435.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Kalista/sounds/950471764.ogg",
        ],
    },
)