(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "fall_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(1.2),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "slow_amount_percent": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "slow_amount",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.0005),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SlowAmount",
                values: Some([
                    0.35,
                    0.4,
                    0.45,
                    0.5,
                    0.55,
                    0.6,
                    0.65,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "FallDamage",
                values: Some([
                    20.0,
                    80.0,
                    140.0,
                    200.0,
                    260.0,
                    320.0,
                    380.0,
                ]),
            ),
            (
                name: "FallTime",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
            (
                name: "FallRadius",
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
            (
                name: "KnockbackDistance",
                values: Some([
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                    140.0,
                ]),
            ),
            (
                name: "KnockbackMinionDistance",
                values: Some([
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                ]),
            ),
            (
                name: "ImpactAdjustment",
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                name: "ExtraVisionDuration",
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                name: "MinionFallRadius",
                values: Some([
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                    275.0,
                ]),
            ),
            (
                name: "MinionFallTime",
                values: Some([
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                ]),
            ),
            (
                name: "RefundRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            75.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1200.0),
                startBoneName: Some("Buffbone_Q_Ground_Loc"),
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(60.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: None,
        missileEffectKey: Some(648294516),
        castType: Some(3),
        castRange: Some([
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
        ]),
        castRadius: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        castConeAngle: Some(35.0),
        castConeDistance: Some(500.0),
        lineWidth: Some(45.0),
        castFrame: Some(1.98),
        animationName: Some("Spell1"),
        cooldownTime: None,
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(22539),
        alternateName: None,
        coefficient: None,
        hitEffectKey: Some(1503769169),
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)