(
    events: {
        "BloodlustParticle_OnBuffActivate": [
            "characters/Tryndamere/sounds/1006945378.ogg",
            "characters/Tryndamere/sounds/705973356.ogg",
        ],
        "BloodlustParticle_OnBuffDeactivate": [
            "characters/Tryndamere/sounds/1009392845.ogg",
            "characters/Tryndamere/sounds/16605450.ogg",
            "characters/Tryndamere/sounds/385172860.ogg",
            "characters/Tryndamere/sounds/679002399.ogg",
        ],
        "Play_vo_Tryndamere_Attack2DGeneral": [
            "characters/Tryndamere/sounds/584203780.ogg",
            "characters/Tryndamere/sounds/695330828.ogg",
            "characters/Tryndamere/sounds/790229863.ogg",
            "characters/Tryndamere/sounds/927217063.ogg",
            "characters/Tryndamere/sounds/946610997.ogg",
            "characters/Tryndamere/sounds/979292881.ogg",
        ],
        "Play_vo_Tryndamere_Death3D": [
            "characters/Tryndamere/sounds/190276985.ogg",
            "characters/Tryndamere/sounds/262770257.ogg",
            "characters/Tryndamere/sounds/417902959.ogg",
        ],
        "Play_vo_Tryndamere_Joke3DGeneral": [
            "characters/Tryndamere/sounds/632621246.ogg",
        ],
        "Play_vo_Tryndamere_Laugh3DGeneral": [
            "characters/Tryndamere/sounds/221480772.ogg",
            "characters/Tryndamere/sounds/664056536.ogg",
            "characters/Tryndamere/sounds/818049208.ogg",
        ],
        "Play_vo_Tryndamere_Move2DStandard": [
            "characters/Tryndamere/sounds/475220600.ogg",
            "characters/Tryndamere/sounds/490377925.ogg",
            "characters/Tryndamere/sounds/497649689.ogg",
            "characters/Tryndamere/sounds/788678782.ogg",
            "characters/Tryndamere/sounds/864887771.ogg",
        ],
        "Play_vo_Tryndamere_Taunt3DGeneral": [
            "characters/Tryndamere/sounds/235476139.ogg",
        ],
        "Play_vo_Tryndamere_TryndamereBasicAttack2_cast3D": [
            "characters/Tryndamere/sounds/109450873.ogg",
            "characters/Tryndamere/sounds/139909957.ogg",
            "characters/Tryndamere/sounds/518309955.ogg",
            "characters/Tryndamere/sounds/654746801.ogg",
        ],
        "Play_vo_Tryndamere_TryndamereBasicAttack_cast3D": [
            "characters/Tryndamere/sounds/109450873.ogg",
            "characters/Tryndamere/sounds/139909957.ogg",
            "characters/Tryndamere/sounds/518309955.ogg",
            "characters/Tryndamere/sounds/654746801.ogg",
        ],
        "Play_vo_Tryndamere_TryndamereCritAttack_cast3D": [
            "characters/Tryndamere/sounds/109450873.ogg",
            "characters/Tryndamere/sounds/139909957.ogg",
            "characters/Tryndamere/sounds/518309955.ogg",
            "characters/Tryndamere/sounds/654746801.ogg",
        ],
        "TryndamereBasicAttack2_OnCast": [
            "characters/Tryndamere/sounds/471462952.ogg",
            "characters/Tryndamere/sounds/510842339.ogg",
            "characters/Tryndamere/sounds/708529354.ogg",
            "characters/Tryndamere/sounds/78976382.ogg",
        ],
        "TryndamereBasicAttack2_OnHit": [
            "characters/Tryndamere/sounds/1046820062.ogg",
            "characters/Tryndamere/sounds/280067065.ogg",
            "characters/Tryndamere/sounds/317441010.ogg",
            "characters/Tryndamere/sounds/322747264.ogg",
            "characters/Tryndamere/sounds/323551485.ogg",
            "characters/Tryndamere/sounds/391437341.ogg",
            "characters/Tryndamere/sounds/487236640.ogg",
            "characters/Tryndamere/sounds/582250404.ogg",
            "characters/Tryndamere/sounds/653005791.ogg",
            "characters/Tryndamere/sounds/68488010.ogg",
            "characters/Tryndamere/sounds/75713219.ogg",
            "characters/Tryndamere/sounds/815846690.ogg",
            "characters/Tryndamere/sounds/830586764.ogg",
            "characters/Tryndamere/sounds/939377892.ogg",
            "characters/Tryndamere/sounds/966903000.ogg",
            "characters/Tryndamere/sounds/977161308.ogg",
        ],
        "TryndamereBasicAttack_OnCast": [
            "characters/Tryndamere/sounds/471462952.ogg",
            "characters/Tryndamere/sounds/510842339.ogg",
            "characters/Tryndamere/sounds/708529354.ogg",
            "characters/Tryndamere/sounds/78976382.ogg",
        ],
        "TryndamereBasicAttack_OnHit": [
            "characters/Tryndamere/sounds/1046820062.ogg",
            "characters/Tryndamere/sounds/280067065.ogg",
            "characters/Tryndamere/sounds/317441010.ogg",
            "characters/Tryndamere/sounds/322747264.ogg",
            "characters/Tryndamere/sounds/323551485.ogg",
            "characters/Tryndamere/sounds/391437341.ogg",
            "characters/Tryndamere/sounds/487236640.ogg",
            "characters/Tryndamere/sounds/582250404.ogg",
            "characters/Tryndamere/sounds/653005791.ogg",
            "characters/Tryndamere/sounds/68488010.ogg",
            "characters/Tryndamere/sounds/75713219.ogg",
            "characters/Tryndamere/sounds/815846690.ogg",
            "characters/Tryndamere/sounds/830586764.ogg",
            "characters/Tryndamere/sounds/939377892.ogg",
            "characters/Tryndamere/sounds/966903000.ogg",
            "characters/Tryndamere/sounds/977161308.ogg",
        ],
        "TryndamereCritAttack_OnCast": [
            "characters/Tryndamere/sounds/423091007.ogg",
            "characters/Tryndamere/sounds/48039972.ogg",
            "characters/Tryndamere/sounds/87935588.ogg",
            "characters/Tryndamere/sounds/927061224.ogg",
        ],
        "TryndamereCritAttack_OnHit": [
            "characters/Tryndamere/sounds/103906908.ogg",
            "characters/Tryndamere/sounds/121120191.ogg",
            "characters/Tryndamere/sounds/406349589.ogg",
            "characters/Tryndamere/sounds/791330068.ogg",
        ],
        "TryndamereE_OnCast": [
            "characters/Tryndamere/sounds/228155261.ogg",
            "characters/Tryndamere/sounds/622242878.ogg",
            "characters/Tryndamere/sounds/657466682.ogg",
            "characters/Tryndamere/sounds/819105381.ogg",
        ],
        "TryndamereE_hit": [
            "characters/Tryndamere/sounds/352323002.ogg",
            "characters/Tryndamere/sounds/519120870.ogg",
            "characters/Tryndamere/sounds/61397512.ogg",
            "characters/Tryndamere/sounds/742033060.ogg",
        ],
        "TryndamereQ_OnCast": [
            "characters/Tryndamere/sounds/559711721.ogg",
            "characters/Tryndamere/sounds/576073200.ogg",
            "characters/Tryndamere/sounds/722954443.ogg",
            "characters/Tryndamere/sounds/769773954.ogg",
            "characters/Tryndamere/sounds/833384429.ogg",
            "characters/Tryndamere/sounds/92221458.ogg",
        ],
        "TryndamereW_OnHit": [
            "characters/Tryndamere/sounds/291210465.ogg",
        ],
        "UndyingRage_OnBuffActivate": [
            "characters/Tryndamere/sounds/573396450.ogg",
        ],
        "UndyingRage_OnBuffDeactivate": [
            "characters/Tryndamere/sounds/384020892.ogg",
        ],
        "UndyingRage_OnCast": [
            "characters/Tryndamere/sounds/529922339.ogg",
        ],
    },
)