(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/mordekaiser/spells/MordekaiserPassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/mordekaiser/spells/MordekaiserR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/mordekaiser/spells/MordekaiserE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/mordekaiser/spells/MordekaiserW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/mordekaiser/spells/MordekaiserQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "mordekaiser",
        "lol_core::attack::Attack": (
          range: 400.0,
          base_attack_speed: 0.42265427,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.5,
            attack_total_time: 2.366,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.0,
          height: 120.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.2),
        "lol_core::damage::Damage": (61.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 645.0,
          max: 645.0,
        ),
        "lol_core::movement::Movement": (
          speed: 335.0,
        ),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)