(
    events: {
        "Dagger_GroundIndicator_death": [
            "characters/Katarina/sounds/956759032.ogg",
        ],
        "Dagger_PickUpPBAoE_Cast": [
            "characters/Katarina/sounds/1015637841.ogg",
            "characters/Katarina/sounds/534482511.ogg",
            "characters/Katarina/sounds/725564425.ogg",
        ],
        "Dance3D_loop": [
            "characters/Katarina/sounds/960233082.ogg",
        ],
        "Joke3D": [
            "characters/Katarina/sounds/638752266.ogg",
        ],
        "KatarinaBasicAttack2_OnCast": [
            "characters/Katarina/sounds/246668763.ogg",
            "characters/Katarina/sounds/762984785.ogg",
            "characters/Katarina/sounds/844248916.ogg",
            "characters/Katarina/sounds/916976778.ogg",
        ],
        "KatarinaBasicAttack2_OnHit": [
            "characters/Katarina/sounds/1012169035.ogg",
            "characters/Katarina/sounds/177740351.ogg",
            "characters/Katarina/sounds/250399574.ogg",
            "characters/Katarina/sounds/323749383.ogg",
            "characters/Katarina/sounds/444228623.ogg",
            "characters/Katarina/sounds/582665254.ogg",
            "characters/Katarina/sounds/60453799.ogg",
            "characters/Katarina/sounds/64558346.ogg",
            "characters/Katarina/sounds/6776097.ogg",
            "characters/Katarina/sounds/700377234.ogg",
            "characters/Katarina/sounds/720395475.ogg",
            "characters/Katarina/sounds/78872369.ogg",
            "characters/Katarina/sounds/86683230.ogg",
        ],
        "KatarinaBasicAttack_OnCast": [
            "characters/Katarina/sounds/246668763.ogg",
            "characters/Katarina/sounds/762984785.ogg",
            "characters/Katarina/sounds/844248916.ogg",
            "characters/Katarina/sounds/916976778.ogg",
        ],
        "KatarinaBasicAttack_OnHit": [
            "characters/Katarina/sounds/1012169035.ogg",
            "characters/Katarina/sounds/177740351.ogg",
            "characters/Katarina/sounds/250399574.ogg",
            "characters/Katarina/sounds/323749383.ogg",
            "characters/Katarina/sounds/444228623.ogg",
            "characters/Katarina/sounds/582665254.ogg",
            "characters/Katarina/sounds/60453799.ogg",
            "characters/Katarina/sounds/64558346.ogg",
            "characters/Katarina/sounds/6776097.ogg",
            "characters/Katarina/sounds/700377234.ogg",
            "characters/Katarina/sounds/720395475.ogg",
            "characters/Katarina/sounds/78872369.ogg",
            "characters/Katarina/sounds/86683230.ogg",
        ],
        "KatarinaCritAttack_OnCast": [
            "characters/Katarina/sounds/246668763.ogg",
            "characters/Katarina/sounds/762984785.ogg",
            "characters/Katarina/sounds/844248916.ogg",
            "characters/Katarina/sounds/916976778.ogg",
        ],
        "KatarinaCritAttack_OnHit": [
            "characters/Katarina/sounds/1012169035.ogg",
            "characters/Katarina/sounds/177740351.ogg",
            "characters/Katarina/sounds/250399574.ogg",
            "characters/Katarina/sounds/323749383.ogg",
            "characters/Katarina/sounds/444228623.ogg",
            "characters/Katarina/sounds/582665254.ogg",
            "characters/Katarina/sounds/60453799.ogg",
            "characters/Katarina/sounds/64558346.ogg",
            "characters/Katarina/sounds/6776097.ogg",
            "characters/Katarina/sounds/700377234.ogg",
            "characters/Katarina/sounds/720395475.ogg",
            "characters/Katarina/sounds/78872369.ogg",
            "characters/Katarina/sounds/86683230.ogg",
        ],
        "KatarinaEDagger_OnCast": [
            "characters/Katarina/sounds/812400259.ogg",
            "characters/Katarina/sounds/945210505.ogg",
        ],
        "KatarinaE_OnCast": [
            "characters/Katarina/sounds/812400259.ogg",
            "characters/Katarina/sounds/945210505.ogg",
        ],
        "KatarinaPassive_buffactivate": [
            "characters/Katarina/sounds/817623948.ogg",
            "characters/Katarina/sounds/930317716.ogg",
        ],
        "KatarinaRSound_OnBuffDeactivate": [
            "characters/Katarina/sounds/817623948.ogg",
            "characters/Katarina/sounds/930317716.ogg",
        ],
        "KatarinaR_OnCast": [
            "characters/Katarina/sounds/103137126.ogg",
            "characters/Katarina/sounds/237935629.ogg",
        ],
        "KatarinaRmis_OnHit": [
            "characters/Katarina/sounds/371279945.ogg",
            "characters/Katarina/sounds/421501220.ogg",
            "characters/Katarina/sounds/426301955.ogg",
            "characters/Katarina/sounds/458691703.ogg",
            "characters/Katarina/sounds/654137121.ogg",
            "characters/Katarina/sounds/760749351.ogg",
            "characters/Katarina/sounds/819415516.ogg",
            "characters/Katarina/sounds/875113569.ogg",
        ],
        "KatarinaW_OnCast": [
            "characters/Katarina/sounds/620563555.ogg",
        ],
        "Laugh3D": [
            "characters/Katarina/sounds/718426232.ogg",
        ],
        "Play_vo_Katarina_Attack2DGeneral": [
            "characters/Katarina/sounds/101254729.ogg",
            "characters/Katarina/sounds/1055721737.ogg",
            "characters/Katarina/sounds/221288702.ogg",
            "characters/Katarina/sounds/227474965.ogg",
            "characters/Katarina/sounds/442291725.ogg",
            "characters/Katarina/sounds/804916526.ogg",
            "characters/Katarina/sounds/926002663.ogg",
        ],
        "Play_vo_Katarina_Death3D": [
            "characters/Katarina/sounds/150796905.ogg",
            "characters/Katarina/sounds/39270662.ogg",
            "characters/Katarina/sounds/862773669.ogg",
            "characters/Katarina/sounds/880362417.ogg",
        ],
        "Play_vo_Katarina_Joke3DGeneral": [
            "characters/Katarina/sounds/250026597.ogg",
        ],
        "Play_vo_Katarina_KatarinaBasicAttack2_cast3D": [
            "characters/Katarina/sounds/1006655982.ogg",
            "characters/Katarina/sounds/23267109.ogg",
            "characters/Katarina/sounds/400719668.ogg",
            "characters/Katarina/sounds/90119914.ogg",
        ],
        "Play_vo_Katarina_KatarinaBasicAttack_cast3D": [
            "characters/Katarina/sounds/1006655982.ogg",
            "characters/Katarina/sounds/23267109.ogg",
            "characters/Katarina/sounds/400719668.ogg",
            "characters/Katarina/sounds/90119914.ogg",
        ],
        "Play_vo_Katarina_KatarinaCritAttack_cast3D": [
            "characters/Katarina/sounds/1006655982.ogg",
            "characters/Katarina/sounds/23267109.ogg",
            "characters/Katarina/sounds/400719668.ogg",
            "characters/Katarina/sounds/90119914.ogg",
        ],
        "Play_vo_Katarina_KatarinaQ_cast3D": [
            "characters/Katarina/sounds/269390549.ogg",
            "characters/Katarina/sounds/526444931.ogg",
            "characters/Katarina/sounds/807441810.ogg",
            "characters/Katarina/sounds/822704435.ogg",
        ],
        "Play_vo_Katarina_KatarinaR_cast3D": [
            "characters/Katarina/sounds/1031180030.ogg",
            "characters/Katarina/sounds/269390549.ogg",
            "characters/Katarina/sounds/487671518.ogg",
            "characters/Katarina/sounds/520801369.ogg",
            "characters/Katarina/sounds/526444931.ogg",
            "characters/Katarina/sounds/599045050.ogg",
            "characters/Katarina/sounds/807441810.ogg",
            "characters/Katarina/sounds/822704435.ogg",
        ],
        "Play_vo_Katarina_KatarinaW_cast3D": [
            "characters/Katarina/sounds/269390549.ogg",
            "characters/Katarina/sounds/526444931.ogg",
            "characters/Katarina/sounds/807441810.ogg",
            "characters/Katarina/sounds/822704435.ogg",
        ],
        "Play_vo_Katarina_Laugh3DGeneral": [
            "characters/Katarina/sounds/1023449107.ogg",
            "characters/Katarina/sounds/618425684.ogg",
            "characters/Katarina/sounds/636771880.ogg",
            "characters/Katarina/sounds/950236017.ogg",
        ],
        "Play_vo_Katarina_Move2DStandard": [
            "characters/Katarina/sounds/1068000858.ogg",
            "characters/Katarina/sounds/115535206.ogg",
            "characters/Katarina/sounds/116296343.ogg",
            "characters/Katarina/sounds/211463573.ogg",
            "characters/Katarina/sounds/486847505.ogg",
            "characters/Katarina/sounds/585532679.ogg",
            "characters/Katarina/sounds/745712646.ogg",
            "characters/Katarina/sounds/78126555.ogg",
            "characters/Katarina/sounds/883184104.ogg",
            "characters/Katarina/sounds/932609370.ogg",
        ],
        "Play_vo_Katarina_Taunt3DGeneral": [
            "characters/Katarina/sounds/524348022.ogg",
            "characters/Katarina/sounds/587026584.ogg",
        ],
        "Q_dagger_land_dirt": [
            "characters/Katarina/sounds/1007990563.ogg",
        ],
        "Q_dagger_land_stone": [
            "characters/Katarina/sounds/353981026.ogg",
            "characters/Katarina/sounds/669458618.ogg",
        ],
        "Q_dagger_land_water": [
            "characters/Katarina/sounds/100366904.ogg",
            "characters/Katarina/sounds/576669841.ogg",
        ],
        "Taunt3D": [
            "characters/Katarina/sounds/688696649.ogg",
        ],
    },
)