(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Brand/spells/BrandPassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 100.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Brand/spells/BrandR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 13.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Brand/spells/BrandE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 10.5,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Brand/spells/BrandW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 8.5,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Brand/spells/BrandQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Brand",
        "lol_core::attack::Attack": (
          range: 600.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.12,
          max: 0.12,
          base: 0.12,
          per_level: 0.0,
          base_static_regen: 21.0,
          regen_per_level: 469.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.0,
          height: 200.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.2),
        "lol_core::damage::Damage": (57.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 570.0,
          max: 570.0,
        ),
        "lol_core::movement::Movement": (
          speed: 340.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "BrandAblaze": Path("characters/Brand/spells/BrandAblaze.ron"),
          "BrandAblazeDetonateMarker": Path("characters/Brand/spells/BrandAblazeDetonateMarker.ron"),
          "BrandBasicAttack": Path("characters/Brand/spells/BrandBasicAttack.ron"),
          "BrandBasicAttack2": Path("characters/Brand/spells/BrandBasicAttack2.ron"),
          "BrandBlaze": Path("characters/Brand/spells/BrandBlaze.ron"),
          "BrandBlazeMissile": Path("characters/Brand/spells/BrandBlazeMissile.ron"),
          "BrandConflagration": Path("characters/Brand/spells/BrandConflagration.ron"),
          "BrandConflagrationMissile": Path("characters/Brand/spells/BrandConflagrationMissile.ron"),
          "BrandCritAttack": Path("characters/Brand/spells/BrandCritAttack.ron"),
          "BrandE": Path("characters/Brand/spells/BrandE.ron"),
          "BrandEMissile": Path("characters/Brand/spells/BrandEMissile.ron"),
          "BrandFissure": Path("characters/Brand/spells/BrandFissure.ron"),
          "BrandPassive": Path("characters/Brand/spells/BrandPassive.ron"),
          "BrandQ": Path("characters/Brand/spells/BrandQ.ron"),
          "BrandQMissile": Path("characters/Brand/spells/BrandQMissile.ron"),
          "BrandR": Path("characters/Brand/spells/BrandR.ron"),
          "BrandRMissile": Path("characters/Brand/spells/BrandRMissile.ron"),
          "BrandScorchAttack": Path("characters/Brand/spells/BrandScorchAttack.ron"),
          "BrandW": Path("characters/Brand/spells/BrandW.ron"),
          "BrandWildfire": Path("characters/Brand/spells/BrandWildfire.ron"),
          "BrandWildfireMissile": Path("characters/Brand/spells/BrandWildfireMissile.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)