(
    spellData: Some((
        calculations: Some({
            1508461632: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "FleeDuration",
                values: Some([
                    0.875,
                    1.0,
                    1.125,
                    1.25,
                    1.375,
                    1.5,
                    1.625,
                ]),
            ),
            (
                name: "MaxSlow",
                values: Some([
                    99.0,
                    99.0,
                    99.0,
                    99.0,
                    99.0,
                    99.0,
                    99.0,
                ]),
            ),
            (
                name: "MinSlow",
                values: Some([
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            70.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1300.0),
                startBoneName: Some("root"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: Some(3370855278),
        castType: Some(3),
    )),
)