(
    spellData: Some((
        calculations: Some({
            528563676: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1120150391,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.15),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1441538734: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1942684723,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.6),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1594066183: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2335405800,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.03),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2652693472: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1942684723,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.6),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Tooltip_WQBaseMoveSpeed",
                values: Some([
                    27.5,
                    30.0,
                    32.5,
                    35.0,
                    37.5,
                    40.0,
                    42.5,
                ]),
            ),
            (
                name: "Tooltip_WQAreaDuration",
                values: Some([
                    3.5,
                    4.0,
                    4.5,
                    5.0,
                    5.5,
                    6.0,
                    6.5,
                ]),
            ),
            (
                name: "Tooltip_WWShieldAmountBase",
                values: Some([
                    60.0,
                    100.0,
                    140.0,
                    180.0,
                    220.0,
                    260.0,
                    300.0,
                ]),
            ),
            (
                name: "Tooltip_WEBaseOnHitDamage",
                values: Some([
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                ]),
            ),
            (
                name: "Tooltip_WEOnHitManaRestore",
                values: Some([
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                    65.0,
                    70.0,
                ]),
            ),
        ]),
        mana: Some([
            90.0,
            95.0,
            100.0,
            105.0,
            110.0,
            110.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)