(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.7),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                ]),
            ),
            (
                name: "Radius",
                values: Some([
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                    175.0,
                ]),
            ),
            (
                name: "BonusDamage",
                values: Some([
                    2.0,
                    3.0,
                    4.0,
                    5.0,
                    6.0,
                    7.0,
                    8.0,
                ]),
            ),
            (
                name: "MaxBonusDamage",
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
        ]),
        mana: Some([
            80.0,
            90.0,
            100.0,
            110.0,
            120.0,
            120.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2000.0),
                startBoneName: Some("root"),
                tracksTarget: Some(false),
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: Some(70.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: Some(1096590834),
        castType: Some(3),
        castRange: Some([
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: Some("Spell1Q"),
        cooldownTime: Some([
            10.0,
            10.0,
            9.0,
            8.0,
            7.0,
            6.0,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)