(
    spellData: Some((
        calculations: Some({
            2895496984: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 4239876305,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2767420026: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 30983971,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            539608150: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1753171863,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Tooltip_EQBaseDamage",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "Tooltip_EWBaseDamage",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "Tooltip_EWRootDuration",
                values: Some([
                    1.0,
                    1.2,
                    1.4,
                    1.6,
                    1.8,
                    2.0,
                    2.2,
                ]),
            ),
            (
                name: "Tooltip_EEBaseDamage",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "Tooltip_EESlowAmount",
                values: Some([
                    32.5,
                    40.0,
                    47.5,
                    55.0,
                    62.5,
                    70.0,
                    77.5,
                ]),
            ),
            (
                name: "Tooltip_EQFleeDuration",
                values: Some([
                    0.875,
                    1.0,
                    1.125,
                    1.25,
                    1.375,
                    1.5,
                    1.625,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            70.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)