(
    spellData: Some((
        calculations: Some({
            "shield_amount": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "shield_amount_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "shield_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x20a3d822": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "shield_amount_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "shield_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AreaDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "ShieldAmountBase",
                values: Some([
                    60.0,
                    100.0,
                    140.0,
                    180.0,
                    220.0,
                    260.0,
                    300.0,
                ]),
            ),
            (
                name: "ShieldAPRatio",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "ShieldDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "SecsToFullStack",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "ZoneRadius",
                values: Some([
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                ]),
            ),
            (
                name: "AllyMod",
                values: Some([
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                ]),
            ),
            (
                name: "ToolTipAllyMod",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
        ]),
        mana: Some([
            90.0,
            95.0,
            100.0,
            105.0,
            110.0,
            110.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(0.5),
                startBoneName: Some("R_buffbone_Glb_Foot_Loc"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)