(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            225.0,
            225.0,
            225.0,
            225.0,
            225.0,
            225.0,
            225.0,
        ]),
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: None,
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)