(
    spellData: Some((
        calculations: Some({
            4142185965: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(2),
                        subpart: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            529682664: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2549795729,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 1131186906,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1105342340: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 2904810718,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                ]),
            ),
            (
                name: "BasePhysicalDamagePerStack",
                values: Some([
                    10.0,
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                ]),
            ),
            (
                name: "bADRatioPerStack",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "APRatioPerStack",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "MaxStacks",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)