(
    spellData: Some((
        calculations: Some({
            "max_health_gained": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "passive_heal_percent": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SoulCollectionRange",
                values: Some([
                    1100.0,
                    1100.0,
                    1100.0,
                    1100.0,
                    1100.0,
                    1100.0,
                    1100.0,
                ]),
            ),
            (
                name: "HealthIncrement",
                values: Some([
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)