(
    spellData: Some((
        calculations: Some({
            "initial_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "first_bolt_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    60.0,
                    90.0,
                    120.0,
                    150.0,
                    180.0,
                    210.0,
                ]),
            ),
            (
                name: "FirstBoltAPRatio",
                values: Some([
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                ]),
            ),
            (
                name: "ExtraBoltRatio",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "BoundaryCheckRange",
                values: Some([
                    725.0,
                    725.0,
                    725.0,
                    725.0,
                    725.0,
                    725.0,
                    725.0,
                ]),
            ),
            (
                name: "MaxDamageMultiTOOLTIP",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1000000000.0),
        missileEffectKey: None,
        castType: None,
    )),
)