(
    spellData: Some((
        calculations: Some({
            147862120: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2282449820,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3401369171,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3304846765: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 204386453,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(12),
                        dataValue: 3941748685,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "ShieldBase",
                values: Some([
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                ]),
            ),
            (
                name: "ShieldHealthRatio",
                values: Some([
                    0.07,
                    0.08,
                    0.09,
                    0.1,
                    0.11,
                    0.12,
                    0.13,
                ]),
            ),
            (
                name: "ShieldDuration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "DotDamageBase",
                values: Some([
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                ]),
            ),
            (
                name: "DotDamageAPRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)