(
    spellData: Some((
        calculations: Some({
            "primary_target_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "primary_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.8),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "secondary_target_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "secondary_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.4),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "PrimaryDamage",
                values: Some([
                    25.0,
                    150.0,
                    275.0,
                    400.0,
                    525.0,
                    650.0,
                    775.0,
                ]),
            ),
            (
                name: "SecondaryDamage",
                values: Some([
                    75.0,
                    125.0,
                    175.0,
                    225.0,
                    275.0,
                    325.0,
                    375.0,
                ]),
            ),
            (
                name: "StunDuration",
                values: Some([
                    0.5,
                    1.0,
                    1.5,
                    2.0,
                    2.5,
                    3.0,
                    3.5,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            0.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1400.0),
        missileEffectKey: None,
        castType: None,
    )),
)