(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            49.4,
            49.4,
            49.4,
            49.4,
            49.4,
            49.4,
            49.4,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(12.96),
        animationName: None,
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8143),
        alternateName: Some("NautilusRavageStrikeAttack"),
        coefficient: None,
        hitEffectKey: Some(1936063181),
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)