(
    spellData: Some((
        calculations: Some({
            1508461632: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 2794272061,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 1765439406,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BonusADPercent",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "APPercent",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "DetectionRange",
                values: Some([
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)