(
    spellData: Some((
        calculations: Some({
            "aftershock_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_aftershock",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "aftershock_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "laser_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_laser",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "laser_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x86b88e5d": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_aftershock",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "aftershock_ap_ratio",
                    ),
                ]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: "aftershock_minion_multi",
                )),
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    20.0,
                    60.0,
                    100.0,
                    140.0,
                    180.0,
                    220.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "LaserRange",
                values: Some([
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                ]),
            ),
            (
                name: "BaseDamageLaser",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "BaseDamageAftershock",
                values: Some([
                    -10.0,
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                ]),
            ),
            (
                name: "Delay",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "LaserAPRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "AftershockAPRatio",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
            (
                name: "AftershockMinionMulti",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1050.0),
        missileEffectKey: Some(1446211064),
        castType: None,
    )),
)