(
    spellData: Some((
        calculations: Some({
            "bonus_armor": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "armor_bonus_percentage",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    6.0,
                    7.0,
                    8.0,
                    9.0,
                    10.0,
                    11.0,
                    12.0,
                ]),
            ),
            (
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                values: Some([
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                ]),
            ),
            (
                values: Some([
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "ArmorBonusPercentage",
                values: Some([
                    0.05,
                    0.06,
                    0.07,
                    0.08,
                    0.09,
                    0.1,
                    0.11,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1700.0),
        missileEffectKey: None,
        castType: None,
    )),
)