(
    spellData: Some((
        calculations: Some({
            "bonus_armor": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "armor_bonus_percentage",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    6.0,
                    7.0,
                    8.0,
                    9.0,
                    10.0,
                    11.0,
                    12.0,
                ]),
            ),
            (
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                values: Some([
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                ]),
            ),
            (
                values: Some([
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "ArmorBonusPercentage",
                values: Some([
                    0.05,
                    0.06,
                    0.07,
                    0.08,
                    0.09,
                    0.1,
                    0.11,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1700.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
        ]),
        castRadius: Some([
            125.0,
            125.0,
            125.0,
            125.0,
            125.0,
            125.0,
            125.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(60.0),
        castFrame: Some(9.45),
        animationName: Some("Spell2"),
        cooldownTime: Some([
            15.0,
            15.0,
            15.0,
            15.0,
            15.0,
            15.0,
            15.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(1),
        alternateName: None,
        coefficient: Some(0.3),
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)