(
    spellData: Some((
        calculations: Some({
            "tooltip_dagger_reduction": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "eap_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ead_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "unk_0x16cd4b3": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(2),
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                ]),
            ),
            (
                name: "DataCooldown",
                values: Some([
                    13.0,
                    12.0,
                    11.0,
                    10.0,
                    9.0,
                    8.0,
                    7.0,
                ]),
            ),
            (
                name: "EADRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
            (
                name: "EAPRatio",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)