(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                    90.0,
                    100.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(2500.0),
        missileEffectKey: Some(36320408),
        castType: None,
    )),
)