(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(5000.0),
                startBoneName: Some("root"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(7500.0),
        missileEffectKey: Some(1225855960),
        castType: Some(1),
    )),
)