(
    gltf_path: "characters/soraka/skins/skin0.glb",
    hash_to_node: {
        "Attack": Selector(
            probably_nodes: [
                (
                    key: "Attack1",
                    value: 1.0,
                ),
                (
                    key: "Attack2",
                    value: 1.0,
                ),
            ],
        ),
        "Attack1": Clip(
            node_index: 3,
        ),
        "Attack2": Clip(
            node_index: 4,
        ),
        "Buffbones": Clip(
            node_index: 0,
        ),
        "Channel": Clip(
            node_index: 1,
        ),
        "ChannelWndup": Clip(
            node_index: 11,
        ),
        "Crit": Clip(
            node_index: 6,
        ),
        "Dance": Clip(
            node_index: 20,
        ),
        "Death": Clip(
            node_index: 18,
        ),
        "Idle1": Clip(
            node_index: 9,
        ),
        "Idle2": Clip(
            node_index: 8,
        ),
        "Idle3": Clip(
            node_index: 7,
        ),
        "Idle4": Clip(
            node_index: 10,
        ),
        "Joke": Clip(
            node_index: 19,
        ),
        "Laugh": Clip(
            node_index: 15,
        ),
        "Recall": Clip(
            node_index: 5,
        ),
        "Run": Clip(
            node_index: 2,
        ),
        "Spell1": Clip(
            node_index: 12,
        ),
        "Spell2": Clip(
            node_index: 14,
        ),
        "Spell3": Clip(
            node_index: 13,
        ),
        "Spell4": Clip(
            node_index: 16,
        ),
        "Taunt": Clip(
            node_index: 17,
        ),
    },
    blend_data: {
        ("Attack1", "Death"): Time(
            time: 0.0,
        ),
        ("Attack2", "Death"): Time(
            time: 0.0,
        ),
        ("Channel", "Death"): Time(
            time: 0.0,
        ),
        ("ChannelWndup", "Death"): Time(
            time: 0.0,
        ),
        ("Crit", "Death"): Time(
            time: 0.0,
        ),
        ("Dance", "Death"): Time(
            time: 0.0,
        ),
        ("Death", "Death"): Time(
            time: 0.0,
        ),
        ("Idle1", "Death"): Time(
            time: 0.0,
        ),
        ("Idle2", "Death"): Time(
            time: 0.0,
        ),
        ("Idle3", "Death"): Time(
            time: 0.0,
        ),
        ("Idle4", "Death"): Time(
            time: 0.0,
        ),
        ("Joke", "Death"): Time(
            time: 0.0,
        ),
        ("Laugh", "Death"): Time(
            time: 0.0,
        ),
        ("Recall", "Death"): Time(
            time: 0.0,
        ),
        ("Run", "Death"): Time(
            time: 0.0,
        ),
        ("Spell1", "Death"): Time(
            time: 0.0,
        ),
        ("Spell2", "Death"): Time(
            time: 0.0,
        ),
        ("Spell3", "Death"): Time(
            time: 0.0,
        ),
        ("Spell4", "Death"): Time(
            time: 0.0,
        ),
        ("Taunt", "Death"): Time(
            time: 0.0,
        ),
    },
)