(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "base_damage_ad_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "base_damage_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    -5.0,
                    20.0,
                    45.0,
                    70.0,
                    95.0,
                    120.0,
                    145.0,
                ]),
            ),
            (
                name: "CDRefund",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "BaseDamageADRatio",
                values: Some([
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                ]),
            ),
            (
                name: "BaseDamageAPRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
        ]),
        mana: Some([
            28.0,
            31.0,
            34.0,
            37.0,
            40.0,
            43.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2000.0),
                startBoneName: None,
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(60.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: None,
        missileEffectKey: Some(2856664262),
        castType: Some(3),
        castRange: Some([
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(60.0),
        castFrame: Some(1.98),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            5.75,
            5.5,
            5.25,
            5.0,
            4.75,
            4.5,
            3.5,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: Some(3078341810),
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)