(
    events: {
        "KennenBasicAttack2_OnCast": [
            "characters/Kennen/sounds/1046334089.ogg",
            "characters/Kennen/sounds/188009138.ogg",
            "characters/Kennen/sounds/228180634.ogg",
            "characters/Kennen/sounds/461591229.ogg",
        ],
        "KennenBasicAttack2_OnHit": [
            "characters/Kennen/sounds/1034196469.ogg",
            "characters/Kennen/sounds/156723930.ogg",
            "characters/Kennen/sounds/305185196.ogg",
            "characters/Kennen/sounds/445448077.ogg",
            "characters/Kennen/sounds/489040677.ogg",
            "characters/Kennen/sounds/590016714.ogg",
            "characters/Kennen/sounds/618090607.ogg",
            "characters/Kennen/sounds/653090701.ogg",
            "characters/Kennen/sounds/72087921.ogg",
            "characters/Kennen/sounds/738384522.ogg",
            "characters/Kennen/sounds/752821342.ogg",
            "characters/Kennen/sounds/756632032.ogg",
            "characters/Kennen/sounds/870197489.ogg",
            "characters/Kennen/sounds/937073864.ogg",
            "characters/Kennen/sounds/975625475.ogg",
            "characters/Kennen/sounds/996885037.ogg",
        ],
        "KennenBasicAttack2_OnMissileLaunch": [
            "characters/Kennen/sounds/15730325.ogg",
            "characters/Kennen/sounds/38275950.ogg",
            "characters/Kennen/sounds/409372065.ogg",
            "characters/Kennen/sounds/482567023.ogg",
        ],
        "KennenBasicAttack_OnCast": [
            "characters/Kennen/sounds/1046334089.ogg",
            "characters/Kennen/sounds/188009138.ogg",
            "characters/Kennen/sounds/228180634.ogg",
            "characters/Kennen/sounds/461591229.ogg",
        ],
        "KennenBasicAttack_OnHit": [
            "characters/Kennen/sounds/1034196469.ogg",
            "characters/Kennen/sounds/156723930.ogg",
            "characters/Kennen/sounds/305185196.ogg",
            "characters/Kennen/sounds/445448077.ogg",
            "characters/Kennen/sounds/489040677.ogg",
            "characters/Kennen/sounds/590016714.ogg",
            "characters/Kennen/sounds/618090607.ogg",
            "characters/Kennen/sounds/653090701.ogg",
            "characters/Kennen/sounds/72087921.ogg",
            "characters/Kennen/sounds/738384522.ogg",
            "characters/Kennen/sounds/752821342.ogg",
            "characters/Kennen/sounds/756632032.ogg",
            "characters/Kennen/sounds/870197489.ogg",
            "characters/Kennen/sounds/937073864.ogg",
            "characters/Kennen/sounds/975625475.ogg",
            "characters/Kennen/sounds/996885037.ogg",
        ],
        "KennenBasicAttack_OnMissileLaunch": [
            "characters/Kennen/sounds/15730325.ogg",
            "characters/Kennen/sounds/38275950.ogg",
            "characters/Kennen/sounds/409372065.ogg",
            "characters/Kennen/sounds/482567023.ogg",
        ],
        "KennenBringTheLight_OnCast": [
            "characters/Kennen/sounds/339053842.ogg",
            "characters/Kennen/sounds/533877247.ogg",
            "characters/Kennen/sounds/644827456.ogg",
        ],
        "KennenBringTheLight_hit": [
            "characters/Kennen/sounds/129502230.ogg",
            "characters/Kennen/sounds/286257656.ogg",
            "characters/Kennen/sounds/985698738.ogg",
        ],
        "KennenCritAttack_OnCast": [
            "characters/Kennen/sounds/1046334089.ogg",
            "characters/Kennen/sounds/188009138.ogg",
            "characters/Kennen/sounds/228180634.ogg",
            "characters/Kennen/sounds/461591229.ogg",
        ],
        "KennenCritAttack_OnHit": [
            "characters/Kennen/sounds/1034196469.ogg",
            "characters/Kennen/sounds/156723930.ogg",
            "characters/Kennen/sounds/305185196.ogg",
            "characters/Kennen/sounds/445448077.ogg",
            "characters/Kennen/sounds/489040677.ogg",
            "characters/Kennen/sounds/590016714.ogg",
            "characters/Kennen/sounds/618090607.ogg",
            "characters/Kennen/sounds/653090701.ogg",
            "characters/Kennen/sounds/72087921.ogg",
            "characters/Kennen/sounds/738384522.ogg",
            "characters/Kennen/sounds/752821342.ogg",
            "characters/Kennen/sounds/756632032.ogg",
            "characters/Kennen/sounds/870197489.ogg",
            "characters/Kennen/sounds/937073864.ogg",
            "characters/Kennen/sounds/975625475.ogg",
            "characters/Kennen/sounds/996885037.ogg",
        ],
        "KennenCritAttack_OnMissileLaunch": [
            "characters/Kennen/sounds/15730325.ogg",
            "characters/Kennen/sounds/38275950.ogg",
            "characters/Kennen/sounds/409372065.ogg",
            "characters/Kennen/sounds/482567023.ogg",
        ],
        "KennenDoubleStrikeLive_OnBuffActivate": [
            "characters/Kennen/sounds/34051102.ogg",
        ],
        "KennenDoubleStrikeLive_buffactivate": [
            "characters/Kennen/sounds/547422125.ogg",
            "characters/Kennen/sounds/559470594.ogg",
            "characters/Kennen/sounds/900242132.ogg",
        ],
        "KennenLightningRush_OnBuffActivate": [
            "characters/Kennen/sounds/732789353.ogg",
        ],
        "KennenLightningRush_OnBuffDeactivate": [
            "characters/Kennen/sounds/632022094.ogg",
        ],
        "KennenLightningRush_OnCast": [
            "characters/Kennen/sounds/956536846.ogg",
        ],
        "KennenLightningRush_hit": [
            "characters/Kennen/sounds/226026236.ogg",
            "characters/Kennen/sounds/626323687.ogg",
            "characters/Kennen/sounds/882435500.ogg",
        ],
        "KennenMarkoftheStorm_stun": [
            "characters/Kennen/sounds/139579831.ogg",
            "characters/Kennen/sounds/197251580.ogg",
            "characters/Kennen/sounds/940501268.ogg",
        ],
        "KennenMegaProc_OnCast": [
            "characters/Kennen/sounds/307325880.ogg",
            "characters/Kennen/sounds/458150033.ogg",
            "characters/Kennen/sounds/714027367.ogg",
            "characters/Kennen/sounds/932934001.ogg",
        ],
        "KennenMegaProc_OnHit": [
            "characters/Kennen/sounds/561930678.ogg",
            "characters/Kennen/sounds/712972053.ogg",
            "characters/Kennen/sounds/850375143.ogg",
        ],
        "KennenMegaProc_OnMissileLaunch": [
            "characters/Kennen/sounds/296872516.ogg",
            "characters/Kennen/sounds/447960467.ogg",
            "characters/Kennen/sounds/567183206.ogg",
            "characters/Kennen/sounds/8847940.ogg",
        ],
        "KennenShurikenHurlMissile1_OnCast": [
            "characters/Kennen/sounds/1002634290.ogg",
            "characters/Kennen/sounds/118901854.ogg",
            "characters/Kennen/sounds/889126599.ogg",
            "characters/Kennen/sounds/980526926.ogg",
        ],
        "KennenShurikenHurlMissile1_OnMissileLaunch": [
            "characters/Kennen/sounds/125159900.ogg",
            "characters/Kennen/sounds/382471083.ogg",
            "characters/Kennen/sounds/779869870.ogg",
            "characters/Kennen/sounds/89199411.ogg",
        ],
        "KennenShurikenHurlMissile1_hit": [
            "characters/Kennen/sounds/1053391.ogg",
            "characters/Kennen/sounds/208631114.ogg",
        ],
        "KennenShurikenStorm_OnBuffActivate": [
            "characters/Kennen/sounds/223046247.ogg",
        ],
        "KennenShurikenStorm_OnBuffDeactivate": [
            "characters/Kennen/sounds/714861730.ogg",
        ],
        "KennenShurikenStorm_OnCast": [
            "characters/Kennen/sounds/274150043.ogg",
        ],
        "KennenShurikenStorm_hit": [
            "characters/Kennen/sounds/645656699.ogg",
            "characters/Kennen/sounds/684858857.ogg",
            "characters/Kennen/sounds/829589580.ogg",
            "characters/Kennen/sounds/844469630.ogg",
        ],
        "Play_vo_Kennen_Attack2DGeneral": [
            "characters/Kennen/sounds/1052822350.ogg",
            "characters/Kennen/sounds/254330467.ogg",
            "characters/Kennen/sounds/478764871.ogg",
            "characters/Kennen/sounds/626776524.ogg",
            "characters/Kennen/sounds/726911036.ogg",
            "characters/Kennen/sounds/804955251.ogg",
        ],
        "Play_vo_Kennen_Death3D": [
            "characters/Kennen/sounds/101372957.ogg",
            "characters/Kennen/sounds/140080123.ogg",
            "characters/Kennen/sounds/229608263.ogg",
            "characters/Kennen/sounds/307881925.ogg",
        ],
        "Play_vo_Kennen_Joke3DGeneral": [
            "characters/Kennen/sounds/929686315.ogg",
        ],
        "Play_vo_Kennen_KennenBasicAttack2_cast3D": [
            "characters/Kennen/sounds/226268162.ogg",
            "characters/Kennen/sounds/400940440.ogg",
            "characters/Kennen/sounds/785205708.ogg",
            "characters/Kennen/sounds/888056852.ogg",
        ],
        "Play_vo_Kennen_KennenBasicAttack_cast3D": [
            "characters/Kennen/sounds/226268162.ogg",
            "characters/Kennen/sounds/400940440.ogg",
            "characters/Kennen/sounds/785205708.ogg",
            "characters/Kennen/sounds/888056852.ogg",
        ],
        "Play_vo_Kennen_KennenBringTheLight_cast3D": [
            "characters/Kennen/sounds/1073537308.ogg",
            "characters/Kennen/sounds/358254749.ogg",
            "characters/Kennen/sounds/361997572.ogg",
            "characters/Kennen/sounds/970667032.ogg",
        ],
        "Play_vo_Kennen_KennenCritAttack_cast3D": [
            "characters/Kennen/sounds/226268162.ogg",
            "characters/Kennen/sounds/400940440.ogg",
            "characters/Kennen/sounds/785205708.ogg",
            "characters/Kennen/sounds/888056852.ogg",
        ],
        "Play_vo_Kennen_KennenLightningRush_cast3D": [
            "characters/Kennen/sounds/342588211.ogg",
            "characters/Kennen/sounds/448161246.ogg",
            "characters/Kennen/sounds/466130570.ogg",
            "characters/Kennen/sounds/998915464.ogg",
        ],
        "Play_vo_Kennen_KennenShurikenHurlMissile1_cast3D": [
            "characters/Kennen/sounds/226268162.ogg",
            "characters/Kennen/sounds/400940440.ogg",
            "characters/Kennen/sounds/785205708.ogg",
            "characters/Kennen/sounds/888056852.ogg",
        ],
        "Play_vo_Kennen_KennenShurikenStorm_cast3D": [
            "characters/Kennen/sounds/67109730.ogg",
            "characters/Kennen/sounds/799117622.ogg",
            "characters/Kennen/sounds/900733994.ogg",
            "characters/Kennen/sounds/996731491.ogg",
        ],
        "Play_vo_Kennen_Laugh3DGeneral": [
            "characters/Kennen/sounds/13517486.ogg",
            "characters/Kennen/sounds/581961415.ogg",
            "characters/Kennen/sounds/703415910.ogg",
            "characters/Kennen/sounds/968420954.ogg",
        ],
        "Play_vo_Kennen_Move2DStandard": [
            "characters/Kennen/sounds/1019648662.ogg",
            "characters/Kennen/sounds/155858647.ogg",
            "characters/Kennen/sounds/200197566.ogg",
            "characters/Kennen/sounds/572323249.ogg",
            "characters/Kennen/sounds/691644711.ogg",
            "characters/Kennen/sounds/944966025.ogg",
        ],
        "Play_vo_Kennen_Spell3DEEnd": [
            "characters/Kennen/sounds/1027754131.ogg",
            "characters/Kennen/sounds/274280003.ogg",
            "characters/Kennen/sounds/3673184.ogg",
            "characters/Kennen/sounds/467016984.ogg",
        ],
        "Play_vo_Kennen_Taunt3DGeneral": [
            "characters/Kennen/sounds/743432089.ogg",
        ],
    },
)