(
    spellData: Some((
        calculations: Some({
            "missing_hp_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "target_missing_hp_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            "monster_damage_cap_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "monster_cap_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.9),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                ]),
            ),
            (
                name: "MonsterCapDamage",
                values: Some([
                    45.0,
                    65.0,
                    85.0,
                    105.0,
                    125.0,
                    145.0,
                    165.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                    0.03,
                ]),
            ),
            (
                name: "TargetMissingHPDamage",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "DashSpeed",
                values: Some([
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                    1150.0,
                ]),
            ),
            (
                name: "UnnamedEffectAmount5",
                values: None,
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: Some("C_Buffbone_Glb_Center_Loc"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)