(
    spellData: Some((
        calculations: Some({
            "passive_total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "passive_bonus_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.15),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "passive_total_healing": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "passive_healing",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.08),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "spiderling_total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "spiderling_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "spiderling_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: Some([
                    0.0,
                    12.0,
                    22.0,
                    32.0,
                    42.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    2.0,
                    3.0,
                    4.0,
                    5.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    30.0,
                    50.0,
                    70.0,
                    90.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    50.0,
                    70.0,
                    90.0,
                    110.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    6.0,
                    8.0,
                    10.0,
                    12.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                ]),
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "PassiveBonusDamage",
                values: Some([
                    2.0,
                    12.0,
                    22.0,
                    32.0,
                    42.0,
                    52.0,
                    62.0,
                ]),
            ),
            (
                name: "PassiveHealing",
                values: Some([
                    4.0,
                    6.0,
                    8.0,
                    10.0,
                    12.0,
                    14.0,
                    16.0,
                ]),
            ),
            (
                name: "PassiveMSOnHit",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "SpiderlingsStored",
                values: Some([
                    1.0,
                    2.0,
                    3.0,
                    4.0,
                    5.0,
                    6.0,
                    7.0,
                ]),
            ),
            (
                name: "SpiderlingBaseDamage",
                values: Some([
                    0.0,
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                ]),
            ),
            (
                name: "SpiderlingAPRatio",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "SpiderlingBonusResist",
                values: Some([
                    -20.0,
                    0.0,
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(943.8),
        missileEffectKey: None,
        castType: None,
    )),
)