(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Zoe/spells/ZoePassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 11.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Zoe/spells/ZoeR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 18.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Zoe/spells/ZoeE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.25,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Zoe/spells/ZoeW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 8.5,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Zoe/spells/ZoeQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Zoe",
        "lol_core::attack::Attack": (
          range: 550.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.13,
          max: 0.13,
          base: 0.13,
          per_level: 0.0,
          base_static_regen: 25.0,
          regen_per_level: 425.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 30.0,
          height: 110.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.7),
        "lol_core::damage::Damage": (58.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 630.0,
          max: 630.0,
        ),
        "lol_core::movement::Movement": (
          speed: 340.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "ZoeAltRunManager": Path("characters/Zoe/spells/ZoeAltRunManager.ron"),
          "ZoeBasicAttack": Path("characters/Zoe/spells/ZoeBasicAttack.ron"),
          "ZoeBasicAttack2": Path("characters/Zoe/spells/ZoeBasicAttack2.ron"),
          "ZoeBasicAttack3": Path("characters/Zoe/spells/ZoeBasicAttack3.ron"),
          "ZoeBasicAttackPassive": Path("characters/Zoe/spells/ZoeBasicAttackPassive.ron"),
          "ZoeBasicAttackSpecial": Path("characters/Zoe/spells/ZoeBasicAttackSpecial.ron"),
          "ZoeBasicAttackSpecial1": Path("characters/Zoe/spells/ZoeBasicAttackSpecial1.ron"),
          "ZoeBasicAttackSpecial2": Path("characters/Zoe/spells/ZoeBasicAttackSpecial2.ron"),
          "ZoeBasicAttackSpecial3": Path("characters/Zoe/spells/ZoeBasicAttackSpecial3.ron"),
          "ZoeBasicAttackSpecial4": Path("characters/Zoe/spells/ZoeBasicAttackSpecial4.ron"),
          "ZoeCritAttack": Path("characters/Zoe/spells/ZoeCritAttack.ron"),
          "ZoeDummySpell": Path("characters/Zoe/spells/ZoeDummySpell.ron"),
          "ZoeE": Path("characters/Zoe/spells/ZoeE.ron"),
          "ZoeEDistanceSolver": Path("characters/Zoe/spells/ZoeEDistanceSolver.ron"),
          "ZoeEDistanceSolver2": Path("characters/Zoe/spells/ZoeEDistanceSolver2.ron"),
          "ZoeEDistanceSolver3": Path("characters/Zoe/spells/ZoeEDistanceSolver3.ron"),
          "ZoeEDistanceSolver4": Path("characters/Zoe/spells/ZoeEDistanceSolver4.ron"),
          "ZoeEMis": Path("characters/Zoe/spells/ZoeEMis.ron"),
          "ZoeEMisAudio": Path("characters/Zoe/spells/ZoeEMisAudio.ron"),
          "ZoeEb": Path("characters/Zoe/spells/ZoeEb.ron"),
          "ZoeEb2": Path("characters/Zoe/spells/ZoeEb2.ron"),
          "ZoeEb3": Path("characters/Zoe/spells/ZoeEb3.ron"),
          "ZoeEb4": Path("characters/Zoe/spells/ZoeEb4.ron"),
          "ZoeEb5": Path("characters/Zoe/spells/ZoeEb5.ron"),
          "ZoeEc": Path("characters/Zoe/spells/ZoeEc.ron"),
          "ZoePassive": Path("characters/Zoe/spells/ZoePassive.ron"),
          "ZoeQ": Path("characters/Zoe/spells/ZoeQ.ron"),
          "ZoeQInterstitial": Path("characters/Zoe/spells/ZoeQInterstitial.ron"),
          "ZoeQMis2": Path("characters/Zoe/spells/ZoeQMis2.ron"),
          "ZoeQMis2SleepCombo": Path("characters/Zoe/spells/ZoeQMis2SleepCombo.ron"),
          "ZoeQMis2Warning": Path("characters/Zoe/spells/ZoeQMis2Warning.ron"),
          "ZoeQMis2Warning2": Path("characters/Zoe/spells/ZoeQMis2Warning2.ron"),
          "ZoeQMis2WarningSleepCombo": Path("characters/Zoe/spells/ZoeQMis2WarningSleepCombo.ron"),
          "ZoeQMissile": Path("characters/Zoe/spells/ZoeQMissile.ron"),
          "ZoeQRecast": Path("characters/Zoe/spells/ZoeQRecast.ron"),
          "ZoeR": Path("characters/Zoe/spells/ZoeR.ron"),
          "ZoeRVFXTrail": Path("characters/Zoe/spells/ZoeRVFXTrail.ron"),
          "ZoeW": Path("characters/Zoe/spells/ZoeW.ron"),
          "ZoeWPassive": Path("characters/Zoe/spells/ZoeWPassive.ron"),
          "ZoeWPassiveMissile": Path("characters/Zoe/spells/ZoeWPassiveMissile.ron"),
          "ZoeWPassiveMissileTwo": Path("characters/Zoe/spells/ZoeWPassiveMissileTwo.ron"),
          "ZoeWVisualMis4": Path("characters/Zoe/spells/ZoeWVisualMis4.ron"),
          "ZoeWVisualMissile": Path("characters/Zoe/spells/ZoeWVisualMissile.ron"),
          "ZoeW_S5_SummonerSmiteDuel": Path("characters/Zoe/spells/ZoeW_S5_SummonerSmiteDuel.ron"),
          "ZoeW_S5_SummonerSmitePlayerGanker": Path("characters/Zoe/spells/ZoeW_S5_SummonerSmitePlayerGanker.ron"),
          "ZoeW_SummonerBarrier": Path("characters/Zoe/spells/ZoeW_SummonerBarrier.ron"),
          "ZoeW_SummonerBoost": Path("characters/Zoe/spells/ZoeW_SummonerBoost.ron"),
          "ZoeW_SummonerDot": Path("characters/Zoe/spells/ZoeW_SummonerDot.ron"),
          "ZoeW_SummonerExhaust": Path("characters/Zoe/spells/ZoeW_SummonerExhaust.ron"),
          "ZoeW_SummonerFlash": Path("characters/Zoe/spells/ZoeW_SummonerFlash.ron"),
          "ZoeW_SummonerHaste": Path("characters/Zoe/spells/ZoeW_SummonerHaste.ron"),
          "ZoeW_SummonerHeal": Path("characters/Zoe/spells/ZoeW_SummonerHeal.ron"),
          "ZoeW_SummonerSmite": Path("characters/Zoe/spells/ZoeW_SummonerSmite.ron"),
          "ZoeW_SummonerTeleport": Path("characters/Zoe/spells/ZoeW_SummonerTeleport.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)