(
    spellData: Some((
        calculations: Some({
            "damage_per_strike": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "damage_per_hit",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.12),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_lifesteal": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "bonus_lifesteal",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_strikes": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "number_of_strikes",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "TotalDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "AttackSpeedMult",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "DamagePerHit",
                values: Some([
                    8.0,
                    10.0,
                    12.0,
                    14.0,
                    16.0,
                    18.0,
                    20.0,
                ]),
            ),
            (
                name: "OnHitRatio",
                values: Some([
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                ]),
            ),
            (
                name: "NumberOfStrikes",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "MonsterMod",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "MissingHealthMult",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "DRPercent",
                values: Some([
                    0.1,
                    0.2,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                ]),
            ),
            (
                name: "BonusLifeSteal",
                values: Some([
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                    0.35,
                    0.4,
                    0.45,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: Some("None"),
        cooldownTime: Some([
            24.0,
            24.0,
            21.0,
            18.0,
            15.0,
            12.0,
            12.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        iconPath: Some([
            "ASSETS/Characters/Belveth/HUD/Icons2D/BelvethE.dds",
        ]),
        useAnimatorFramerate: None,
    )),
)