(
    spellData: Some((
        calculations: Some({
            2123730108: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 4223235112,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3685428874: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 3802419017,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(18),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            4013396525: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 4158291768,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.08),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "TotalDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "AttackSpeedMult",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "DamagePerHit",
                values: Some([
                    5.0,
                    6.0,
                    7.0,
                    8.0,
                    9.0,
                    10.0,
                    11.0,
                ]),
            ),
            (
                name: "OnHitRatio",
                values: Some([
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                ]),
            ),
            (
                name: "NumberOfStrikes",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "MonsterMod",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "MissingHealthMult",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "DRPercent",
                values: Some([
                    0.3,
                    0.35,
                    0.4,
                    0.45,
                    0.5,
                    0.55,
                    0.6,
                ]),
            ),
            (
                name: "BonusLifeSteal",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)