(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(1.25),
                        statFormula: Some(2),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Duration",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    70.0,
                    110.0,
                    150.0,
                    190.0,
                    230.0,
                    270.0,
                ]),
            ),
            (
                name: "SlowPercent",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    1.0,
                    1.25,
                    1.5,
                    1.75,
                    2.0,
                    2.25,
                    2.5,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(300000.0),
                startBoneName: Some("buffbone_glb_ground_loc"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: Some(3),
    )),
)