(
    events: {
        "MissFortune_MissFortuneBasicAttack2_OnCast": [
            "characters/Missfortune/sounds/297310032.ogg",
            "characters/Missfortune/sounds/4356046.ogg",
            "characters/Missfortune/sounds/61557718.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack2_OnHit": [
            "characters/Missfortune/sounds/11041312.ogg",
            "characters/Missfortune/sounds/117473454.ogg",
            "characters/Missfortune/sounds/12546636.ogg",
            "characters/Missfortune/sounds/126091522.ogg",
            "characters/Missfortune/sounds/141881774.ogg",
            "characters/Missfortune/sounds/149182876.ogg",
            "characters/Missfortune/sounds/152452833.ogg",
            "characters/Missfortune/sounds/15709459.ogg",
            "characters/Missfortune/sounds/168767526.ogg",
            "characters/Missfortune/sounds/188943404.ogg",
            "characters/Missfortune/sounds/232150365.ogg",
            "characters/Missfortune/sounds/250021794.ogg",
            "characters/Missfortune/sounds/255244188.ogg",
            "characters/Missfortune/sounds/2976772.ogg",
            "characters/Missfortune/sounds/298951005.ogg",
            "characters/Missfortune/sounds/32756199.ogg",
            "characters/Missfortune/sounds/332477919.ogg",
            "characters/Missfortune/sounds/338524500.ogg",
            "characters/Missfortune/sounds/48282830.ogg",
            "characters/Missfortune/sounds/54100767.ogg",
            "characters/Missfortune/sounds/63506568.ogg",
            "characters/Missfortune/sounds/6586415.ogg",
            "characters/Missfortune/sounds/78170473.ogg",
            "characters/Missfortune/sounds/85076377.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack2_OnMissileCast": [
            "characters/Missfortune/sounds/32038653.ogg",
            "characters/Missfortune/sounds/359615028.ogg",
            "characters/Missfortune/sounds/365748403.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack2_OnMissileLaunch": [
            "characters/Missfortune/sounds/108461385.ogg",
            "characters/Missfortune/sounds/151548048.ogg",
            "characters/Missfortune/sounds/609678474.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack_OnCast": [
            "characters/Missfortune/sounds/297310032.ogg",
            "characters/Missfortune/sounds/4356046.ogg",
            "characters/Missfortune/sounds/61557718.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack_OnHit": [
            "characters/Missfortune/sounds/11041312.ogg",
            "characters/Missfortune/sounds/117473454.ogg",
            "characters/Missfortune/sounds/12546636.ogg",
            "characters/Missfortune/sounds/126091522.ogg",
            "characters/Missfortune/sounds/141881774.ogg",
            "characters/Missfortune/sounds/149182876.ogg",
            "characters/Missfortune/sounds/152452833.ogg",
            "characters/Missfortune/sounds/15709459.ogg",
            "characters/Missfortune/sounds/168767526.ogg",
            "characters/Missfortune/sounds/188943404.ogg",
            "characters/Missfortune/sounds/232150365.ogg",
            "characters/Missfortune/sounds/250021794.ogg",
            "characters/Missfortune/sounds/255244188.ogg",
            "characters/Missfortune/sounds/2976772.ogg",
            "characters/Missfortune/sounds/298951005.ogg",
            "characters/Missfortune/sounds/32756199.ogg",
            "characters/Missfortune/sounds/332477919.ogg",
            "characters/Missfortune/sounds/338524500.ogg",
            "characters/Missfortune/sounds/48282830.ogg",
            "characters/Missfortune/sounds/54100767.ogg",
            "characters/Missfortune/sounds/63506568.ogg",
            "characters/Missfortune/sounds/6586415.ogg",
            "characters/Missfortune/sounds/78170473.ogg",
            "characters/Missfortune/sounds/85076377.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack_OnMissileCast": [
            "characters/Missfortune/sounds/32038653.ogg",
            "characters/Missfortune/sounds/359615028.ogg",
            "characters/Missfortune/sounds/365748403.ogg",
        ],
        "MissFortune_MissFortuneBasicAttack_OnMissileLaunch": [
            "characters/Missfortune/sounds/108461385.ogg",
            "characters/Missfortune/sounds/151548048.ogg",
            "characters/Missfortune/sounds/609678474.ogg",
        ],
        "MissFortune_MissFortuneBulletEMPTY_OnMissileLaunch": [
            "characters/Missfortune/sounds/1050516241.ogg",
            "characters/Missfortune/sounds/144571401.ogg",
            "characters/Missfortune/sounds/398802085.ogg",
            "characters/Missfortune/sounds/421794191.ogg",
            "characters/Missfortune/sounds/436915069.ogg",
            "characters/Missfortune/sounds/78908219.ogg",
            "characters/Missfortune/sounds/813879210.ogg",
            "characters/Missfortune/sounds/830390227.ogg",
        ],
        "MissFortune_MissFortuneBulletTime_OnCast": [
            "characters/Missfortune/sounds/58950279.ogg",
        ],
        "MissFortune_MissFortuneCritAttack_OnCast": [
            "characters/Missfortune/sounds/297310032.ogg",
            "characters/Missfortune/sounds/4356046.ogg",
            "characters/Missfortune/sounds/61557718.ogg",
        ],
        "MissFortune_MissFortuneCritAttack_OnHit": [
            "characters/Missfortune/sounds/11041312.ogg",
            "characters/Missfortune/sounds/117473454.ogg",
            "characters/Missfortune/sounds/12546636.ogg",
            "characters/Missfortune/sounds/126091522.ogg",
            "characters/Missfortune/sounds/141881774.ogg",
            "characters/Missfortune/sounds/149182876.ogg",
            "characters/Missfortune/sounds/152452833.ogg",
            "characters/Missfortune/sounds/15709459.ogg",
            "characters/Missfortune/sounds/168767526.ogg",
            "characters/Missfortune/sounds/188943404.ogg",
            "characters/Missfortune/sounds/232150365.ogg",
            "characters/Missfortune/sounds/250021794.ogg",
            "characters/Missfortune/sounds/255244188.ogg",
            "characters/Missfortune/sounds/2976772.ogg",
            "characters/Missfortune/sounds/298951005.ogg",
            "characters/Missfortune/sounds/32756199.ogg",
            "characters/Missfortune/sounds/332477919.ogg",
            "characters/Missfortune/sounds/338524500.ogg",
            "characters/Missfortune/sounds/48282830.ogg",
            "characters/Missfortune/sounds/54100767.ogg",
            "characters/Missfortune/sounds/63506568.ogg",
            "characters/Missfortune/sounds/6586415.ogg",
            "characters/Missfortune/sounds/78170473.ogg",
            "characters/Missfortune/sounds/85076377.ogg",
        ],
        "MissFortune_MissFortuneCritAttack_OnMissileCast": [
            "characters/Missfortune/sounds/32038653.ogg",
            "characters/Missfortune/sounds/359615028.ogg",
            "characters/Missfortune/sounds/365748403.ogg",
        ],
        "MissFortune_MissFortuneCritAttack_OnMissileLaunch": [
            "characters/Missfortune/sounds/108461385.ogg",
            "characters/Missfortune/sounds/151548048.ogg",
            "characters/Missfortune/sounds/609678474.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack2_OnCast": [
            "characters/Missfortune/sounds/130283286.ogg",
            "characters/Missfortune/sounds/15777038.ogg",
            "characters/Missfortune/sounds/259861560.ogg",
            "characters/Missfortune/sounds/26204524.ogg",
            "characters/Missfortune/sounds/285174077.ogg",
            "characters/Missfortune/sounds/51337931.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack2_OnHit": [
            "characters/Missfortune/sounds/1018115.ogg",
            "characters/Missfortune/sounds/142763622.ogg",
            "characters/Missfortune/sounds/165646007.ogg",
            "characters/Missfortune/sounds/189031158.ogg",
            "characters/Missfortune/sounds/198488072.ogg",
            "characters/Missfortune/sounds/277423840.ogg",
            "characters/Missfortune/sounds/287611146.ogg",
            "characters/Missfortune/sounds/305334516.ogg",
            "characters/Missfortune/sounds/32724923.ogg",
            "characters/Missfortune/sounds/35216046.ogg",
            "characters/Missfortune/sounds/36186138.ogg",
            "characters/Missfortune/sounds/374836311.ogg",
            "characters/Missfortune/sounds/39264607.ogg",
            "characters/Missfortune/sounds/40182169.ogg",
            "characters/Missfortune/sounds/42741437.ogg",
            "characters/Missfortune/sounds/48042956.ogg",
            "characters/Missfortune/sounds/69122354.ogg",
            "characters/Missfortune/sounds/72463933.ogg",
            "characters/Missfortune/sounds/75463106.ogg",
            "characters/Missfortune/sounds/755540.ogg",
            "characters/Missfortune/sounds/86281192.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack2_OnHitLocation": [
            "characters/Missfortune/sounds/192796325.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack2_OnMissileCast": [
            "characters/Missfortune/sounds/158378122.ogg",
            "characters/Missfortune/sounds/18378979.ogg",
            "characters/Missfortune/sounds/211201504.ogg",
            "characters/Missfortune/sounds/32099403.ogg",
            "characters/Missfortune/sounds/54597363.ogg",
            "characters/Missfortune/sounds/92661311.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack2_OnMissileLaunch": [
            "characters/Missfortune/sounds/104087277.ogg",
            "characters/Missfortune/sounds/104129671.ogg",
            "characters/Missfortune/sounds/105856332.ogg",
            "characters/Missfortune/sounds/2853485.ogg",
            "characters/Missfortune/sounds/62316331.ogg",
            "characters/Missfortune/sounds/83624132.ogg",
        ],
        "MissFortune_MissFortunePassiveAttackCrit_OnCast": [
            "characters/Missfortune/sounds/130283286.ogg",
            "characters/Missfortune/sounds/15777038.ogg",
            "characters/Missfortune/sounds/259861560.ogg",
            "characters/Missfortune/sounds/26204524.ogg",
            "characters/Missfortune/sounds/285174077.ogg",
            "characters/Missfortune/sounds/51337931.ogg",
        ],
        "MissFortune_MissFortunePassiveAttackCrit_OnHit": [
            "characters/Missfortune/sounds/1018115.ogg",
            "characters/Missfortune/sounds/142763622.ogg",
            "characters/Missfortune/sounds/165646007.ogg",
            "characters/Missfortune/sounds/189031158.ogg",
            "characters/Missfortune/sounds/198488072.ogg",
            "characters/Missfortune/sounds/277423840.ogg",
            "characters/Missfortune/sounds/287611146.ogg",
            "characters/Missfortune/sounds/305334516.ogg",
            "characters/Missfortune/sounds/32724923.ogg",
            "characters/Missfortune/sounds/35216046.ogg",
            "characters/Missfortune/sounds/36186138.ogg",
            "characters/Missfortune/sounds/374836311.ogg",
            "characters/Missfortune/sounds/39264607.ogg",
            "characters/Missfortune/sounds/40182169.ogg",
            "characters/Missfortune/sounds/42741437.ogg",
            "characters/Missfortune/sounds/48042956.ogg",
            "characters/Missfortune/sounds/69122354.ogg",
            "characters/Missfortune/sounds/72463933.ogg",
            "characters/Missfortune/sounds/75463106.ogg",
            "characters/Missfortune/sounds/755540.ogg",
            "characters/Missfortune/sounds/86281192.ogg",
        ],
        "MissFortune_MissFortunePassiveAttackCrit_OnHitLocation": [
            "characters/Missfortune/sounds/192796325.ogg",
        ],
        "MissFortune_MissFortunePassiveAttackCrit_OnMissileCast": [
            "characters/Missfortune/sounds/158378122.ogg",
            "characters/Missfortune/sounds/18378979.ogg",
            "characters/Missfortune/sounds/211201504.ogg",
            "characters/Missfortune/sounds/32099403.ogg",
            "characters/Missfortune/sounds/54597363.ogg",
            "characters/Missfortune/sounds/92661311.ogg",
        ],
        "MissFortune_MissFortunePassiveAttackCrit_OnMissileLaunch": [
            "characters/Missfortune/sounds/104087277.ogg",
            "characters/Missfortune/sounds/104129671.ogg",
            "characters/Missfortune/sounds/105856332.ogg",
            "characters/Missfortune/sounds/2853485.ogg",
            "characters/Missfortune/sounds/62316331.ogg",
            "characters/Missfortune/sounds/83624132.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack_OnCast": [
            "characters/Missfortune/sounds/130283286.ogg",
            "characters/Missfortune/sounds/15777038.ogg",
            "characters/Missfortune/sounds/259861560.ogg",
            "characters/Missfortune/sounds/26204524.ogg",
            "characters/Missfortune/sounds/285174077.ogg",
            "characters/Missfortune/sounds/51337931.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack_OnHit": [
            "characters/Missfortune/sounds/1018115.ogg",
            "characters/Missfortune/sounds/142763622.ogg",
            "characters/Missfortune/sounds/165646007.ogg",
            "characters/Missfortune/sounds/189031158.ogg",
            "characters/Missfortune/sounds/198488072.ogg",
            "characters/Missfortune/sounds/277423840.ogg",
            "characters/Missfortune/sounds/287611146.ogg",
            "characters/Missfortune/sounds/305334516.ogg",
            "characters/Missfortune/sounds/32724923.ogg",
            "characters/Missfortune/sounds/35216046.ogg",
            "characters/Missfortune/sounds/36186138.ogg",
            "characters/Missfortune/sounds/374836311.ogg",
            "characters/Missfortune/sounds/39264607.ogg",
            "characters/Missfortune/sounds/40182169.ogg",
            "characters/Missfortune/sounds/42741437.ogg",
            "characters/Missfortune/sounds/48042956.ogg",
            "characters/Missfortune/sounds/69122354.ogg",
            "characters/Missfortune/sounds/72463933.ogg",
            "characters/Missfortune/sounds/75463106.ogg",
            "characters/Missfortune/sounds/755540.ogg",
            "characters/Missfortune/sounds/86281192.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack_OnHitLocation": [
            "characters/Missfortune/sounds/192796325.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack_OnMissileCast": [
            "characters/Missfortune/sounds/158378122.ogg",
            "characters/Missfortune/sounds/18378979.ogg",
            "characters/Missfortune/sounds/211201504.ogg",
            "characters/Missfortune/sounds/32099403.ogg",
            "characters/Missfortune/sounds/54597363.ogg",
            "characters/Missfortune/sounds/92661311.ogg",
        ],
        "MissFortune_MissFortunePassiveAttack_OnMissileLaunch": [
            "characters/Missfortune/sounds/104087277.ogg",
            "characters/Missfortune/sounds/104129671.ogg",
            "characters/Missfortune/sounds/105856332.ogg",
            "characters/Missfortune/sounds/2853485.ogg",
            "characters/Missfortune/sounds/62316331.ogg",
            "characters/Missfortune/sounds/83624132.ogg",
        ],
        "MissFortune_MissFortuneRShotExtra_OnHit": [
            "characters/Missfortune/sounds/212986347.ogg",
            "characters/Missfortune/sounds/348783761.ogg",
            "characters/Missfortune/sounds/665901624.ogg",
            "characters/Missfortune/sounds/786721810.ogg",
        ],
        "MissFortune_MissFortuneRShotExtra_OnMissileLaunch": [
            "characters/Missfortune/sounds/168592695.ogg",
            "characters/Missfortune/sounds/220454943.ogg",
            "characters/Missfortune/sounds/521465019.ogg",
            "characters/Missfortune/sounds/780244455.ogg",
        ],
        "MissFortune_MissFortuneRicochetShot_OnCast": [
            "characters/Missfortune/sounds/404628529.ogg",
            "characters/Missfortune/sounds/855531526.ogg",
            "characters/Missfortune/sounds/866311660.ogg",
            "characters/Missfortune/sounds/944437391.ogg",
        ],
        "MissFortune_MissFortuneRicochetShot_OnHit": [
            "characters/Missfortune/sounds/1045719607.ogg",
            "characters/Missfortune/sounds/1073195435.ogg",
            "characters/Missfortune/sounds/107414691.ogg",
            "characters/Missfortune/sounds/695039564.ogg",
        ],
        "MissFortune_MissFortuneRicochetShot_OnMissileLaunch": [
            "characters/Missfortune/sounds/154010930.ogg",
            "characters/Missfortune/sounds/648037541.ogg",
            "characters/Missfortune/sounds/655063966.ogg",
            "characters/Missfortune/sounds/802493944.ogg",
        ],
        "MissFortune_MissFortuneScattershot_OnCast": [
            "characters/Missfortune/sounds/1003982027.ogg",
            "characters/Missfortune/sounds/241250682.ogg",
        ],
        "MissFortune_MissFortuneScattershot_both_buffactivate": [
            "characters/Missfortune/sounds/1062107913.ogg",
        ],
        "MissFortune_MissFortuneScattershot_ground_buffactivate": [
            "characters/Missfortune/sounds/335288380.ogg",
        ],
        "MissFortune_MissFortuneScattershot_water_buffactivate": [
            "characters/Missfortune/sounds/705902261.ogg",
        ],
        "MissFortune_MissFortuneStrutStacks_OnBuffCast": [
            "characters/Missfortune/sounds/420031487.ogg",
            "characters/Missfortune/sounds/456721104.ogg",
            "characters/Missfortune/sounds/772658437.ogg",
            "characters/Missfortune/sounds/818409237.ogg",
        ],
        "MissFortune_MissFortuneViciousStrikes_OnBuffActivate": [
            "characters/Missfortune/sounds/463646178.ogg",
            "characters/Missfortune/sounds/678279379.ogg",
        ],
        "MissFortune_MissFortuneViciousStrikes_OnBuffDeactivate": [
            "characters/Missfortune/sounds/31359958.ogg",
            "characters/Missfortune/sounds/345180998.ogg",
        ],
        "MissFortune_MissFortuneViciousStrikes_OnCast": [
            "characters/Missfortune/sounds/119998499.ogg",
            "characters/Missfortune/sounds/404636949.ogg",
        ],
        "Play_vo_MissFortune_Attack2DGeneral": [
            "characters/Missfortune/sounds/1002466179.ogg",
            "characters/Missfortune/sounds/1027716176.ogg",
            "characters/Missfortune/sounds/172973848.ogg",
            "characters/Missfortune/sounds/436511220.ogg",
            "characters/Missfortune/sounds/441902253.ogg",
            "characters/Missfortune/sounds/488995196.ogg",
        ],
        "Play_vo_MissFortune_Death3D": [
            "characters/Missfortune/sounds/306933745.ogg",
            "characters/Missfortune/sounds/368852803.ogg",
            "characters/Missfortune/sounds/51447415.ogg",
            "characters/Missfortune/sounds/90674582.ogg",
        ],
        "Play_vo_MissFortune_Joke3DGeneral": [
            "characters/Missfortune/sounds/291052850.ogg",
        ],
        "Play_vo_MissFortune_Laugh3DGeneral": [
            "characters/Missfortune/sounds/173701814.ogg",
            "characters/Missfortune/sounds/415174613.ogg",
            "characters/Missfortune/sounds/55266475.ogg",
            "characters/Missfortune/sounds/823838138.ogg",
        ],
        "Play_vo_MissFortune_MissFortuneBulletTime_cast3D": [
            "characters/Missfortune/sounds/113181243.ogg",
            "characters/Missfortune/sounds/223638400.ogg",
            "characters/Missfortune/sounds/427225537.ogg",
        ],
        "Play_vo_MissFortune_MissFortuneRicochetShot_cast3D": [
            "characters/Missfortune/sounds/208099420.ogg",
            "characters/Missfortune/sounds/676536167.ogg",
            "characters/Missfortune/sounds/77741935.ogg",
            "characters/Missfortune/sounds/813021161.ogg",
        ],
        "Play_vo_MissFortune_MissFortuneViciousStrikes_cast3D": [
            "characters/Missfortune/sounds/1010684203.ogg",
            "characters/Missfortune/sounds/279455338.ogg",
            "characters/Missfortune/sounds/661860457.ogg",
            "characters/Missfortune/sounds/854759359.ogg",
        ],
        "Play_vo_MissFortune_Move2DStandard": [
            "characters/Missfortune/sounds/101535490.ogg",
            "characters/Missfortune/sounds/19830015.ogg",
            "characters/Missfortune/sounds/223738137.ogg",
            "characters/Missfortune/sounds/249068667.ogg",
            "characters/Missfortune/sounds/337270530.ogg",
            "characters/Missfortune/sounds/604280004.ogg",
            "characters/Missfortune/sounds/744738111.ogg",
            "characters/Missfortune/sounds/810662703.ogg",
        ],
        "Play_vo_MissFortune_Taunt3DGeneral": [
            "characters/Missfortune/sounds/740199522.ogg",
        ],
    },
)