(
    events: {
        "Dance3D_buffactivate": [
            "characters/Zed/sounds/1056256530.ogg",
        ],
        "Death3D_cast": [
            "characters/Zed/sounds/814772567.ogg",
        ],
        "Idle2_buffactivate": [
            "characters/Zed/sounds/586090008.ogg",
        ],
        "Idle3_buffactivate": [
            "characters/Zed/sounds/262619335.ogg",
        ],
        "Joke3D_buffactivate_lose": [
            "characters/Zed/sounds/931638220.ogg",
        ],
        "Joke3D_buffactivate_win": [
            "characters/Zed/sounds/1049258253.ogg",
        ],
        "Play_vo_Zed_Attack2DGeneral": [
            "characters/Zed/sounds/160933482.ogg",
            "characters/Zed/sounds/162790293.ogg",
            "characters/Zed/sounds/342217478.ogg",
            "characters/Zed/sounds/438271768.ogg",
            "characters/Zed/sounds/490649305.ogg",
            "characters/Zed/sounds/614495991.ogg",
            "characters/Zed/sounds/688944133.ogg",
            "characters/Zed/sounds/797032267.ogg",
            "characters/Zed/sounds/828718540.ogg",
        ],
        "Play_vo_Zed_Death3D": [
            "characters/Zed/sounds/658252877.ogg",
            "characters/Zed/sounds/764995043.ogg",
            "characters/Zed/sounds/896136724.ogg",
        ],
        "Play_vo_Zed_FirstEncounter3DShen": [
            "characters/Zed/sounds/536867779.ogg",
        ],
        "Play_vo_Zed_Joke3DLose": [
            "characters/Zed/sounds/647752880.ogg",
        ],
        "Play_vo_Zed_Joke3DWin": [
            "characters/Zed/sounds/920159936.ogg",
        ],
        "Play_vo_Zed_Laugh3DGeneral": [
            "characters/Zed/sounds/219232537.ogg",
            "characters/Zed/sounds/346006721.ogg",
            "characters/Zed/sounds/514050229.ogg",
            "characters/Zed/sounds/765468657.ogg",
        ],
        "Play_vo_Zed_Move2DStandard": [
            "characters/Zed/sounds/1026980478.ogg",
            "characters/Zed/sounds/278206681.ogg",
            "characters/Zed/sounds/356507283.ogg",
            "characters/Zed/sounds/44192021.ogg",
            "characters/Zed/sounds/453793830.ogg",
            "characters/Zed/sounds/462449238.ogg",
            "characters/Zed/sounds/577615016.ogg",
            "characters/Zed/sounds/579585695.ogg",
            "characters/Zed/sounds/703030085.ogg",
            "characters/Zed/sounds/763200364.ogg",
            "characters/Zed/sounds/82900754.ogg",
        ],
        "Play_vo_Zed_Taunt3DGeneral": [
            "characters/Zed/sounds/1057872853.ogg",
            "characters/Zed/sounds/500626943.ogg",
        ],
        "Play_vo_Zed_ZedBasicAttack2_cast3D": [
            "characters/Zed/sounds/375163029.ogg",
            "characters/Zed/sounds/501624001.ogg",
            "characters/Zed/sounds/688665465.ogg",
            "characters/Zed/sounds/69463021.ogg",
        ],
        "Play_vo_Zed_ZedBasicAttack_cast3D": [
            "characters/Zed/sounds/375163029.ogg",
            "characters/Zed/sounds/501624001.ogg",
            "characters/Zed/sounds/688665465.ogg",
            "characters/Zed/sounds/69463021.ogg",
        ],
        "Play_vo_Zed_ZedCritAttack_cast3D": [
            "characters/Zed/sounds/375163029.ogg",
            "characters/Zed/sounds/501624001.ogg",
            "characters/Zed/sounds/688665465.ogg",
            "characters/Zed/sounds/69463021.ogg",
        ],
        "Play_vo_Zed_ZedE_cast3D": [
            "characters/Zed/sounds/1026697235.ogg",
            "characters/Zed/sounds/329844580.ogg",
            "characters/Zed/sounds/475377770.ogg",
            "characters/Zed/sounds/578706060.ogg",
        ],
        "Play_vo_Zed_ZedQ_cast3D": [
            "characters/Zed/sounds/22748080.ogg",
            "characters/Zed/sounds/344365014.ogg",
            "characters/Zed/sounds/395087458.ogg",
            "characters/Zed/sounds/8518017.ogg",
        ],
        "Play_vo_Zed_ZedR_cast3D": [
            "characters/Zed/sounds/146482040.ogg",
            "characters/Zed/sounds/261868147.ogg",
            "characters/Zed/sounds/589871392.ogg",
            "characters/Zed/sounds/609452777.ogg",
            "characters/Zed/sounds/623409345.ogg",
            "characters/Zed/sounds/771571947.ogg",
            "characters/Zed/sounds/968932528.ogg",
            "characters/Zed/sounds/9789019.ogg",
        ],
        "Play_vo_Zed_ZedW2_cast3D": [
            "characters/Zed/sounds/253264675.ogg",
            "characters/Zed/sounds/435565698.ogg",
            "characters/Zed/sounds/565264250.ogg",
            "characters/Zed/sounds/691292748.ogg",
        ],
        "Play_vo_Zed_ZedW_cast3D": [
            "characters/Zed/sounds/226224470.ogg",
            "characters/Zed/sounds/283329196.ogg",
            "characters/Zed/sounds/610037190.ogg",
            "characters/Zed/sounds/847169840.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Zed/sounds/298441731.ogg",
        ],
        "ZedBasicAttack2_OnCast": [
            "characters/Zed/sounds/1073708781.ogg",
            "characters/Zed/sounds/252185801.ogg",
            "characters/Zed/sounds/497959602.ogg",
            "characters/Zed/sounds/862519256.ogg",
        ],
        "ZedBasicAttack2_OnHit": [
            "characters/Zed/sounds/107497537.ogg",
            "characters/Zed/sounds/122441370.ogg",
            "characters/Zed/sounds/165833911.ogg",
            "characters/Zed/sounds/255379762.ogg",
            "characters/Zed/sounds/257319473.ogg",
            "characters/Zed/sounds/308738620.ogg",
            "characters/Zed/sounds/314069244.ogg",
            "characters/Zed/sounds/423452302.ogg",
            "characters/Zed/sounds/426703915.ogg",
            "characters/Zed/sounds/48781906.ogg",
            "characters/Zed/sounds/526024713.ogg",
            "characters/Zed/sounds/563322995.ogg",
            "characters/Zed/sounds/592227254.ogg",
            "characters/Zed/sounds/65043327.ogg",
            "characters/Zed/sounds/788519640.ogg",
            "characters/Zed/sounds/848453176.ogg",
        ],
        "ZedBasicAttack_OnCast": [
            "characters/Zed/sounds/1073708781.ogg",
            "characters/Zed/sounds/252185801.ogg",
            "characters/Zed/sounds/497959602.ogg",
            "characters/Zed/sounds/862519256.ogg",
        ],
        "ZedBasicAttack_OnHit": [
            "characters/Zed/sounds/107497537.ogg",
            "characters/Zed/sounds/122441370.ogg",
            "characters/Zed/sounds/165833911.ogg",
            "characters/Zed/sounds/255379762.ogg",
            "characters/Zed/sounds/257319473.ogg",
            "characters/Zed/sounds/308738620.ogg",
            "characters/Zed/sounds/314069244.ogg",
            "characters/Zed/sounds/423452302.ogg",
            "characters/Zed/sounds/426703915.ogg",
            "characters/Zed/sounds/48781906.ogg",
            "characters/Zed/sounds/526024713.ogg",
            "characters/Zed/sounds/563322995.ogg",
            "characters/Zed/sounds/592227254.ogg",
            "characters/Zed/sounds/65043327.ogg",
            "characters/Zed/sounds/788519640.ogg",
            "characters/Zed/sounds/848453176.ogg",
        ],
        "ZedCritAttack_OnCast": [
            "characters/Zed/sounds/101527689.ogg",
            "characters/Zed/sounds/374725409.ogg",
            "characters/Zed/sounds/824472477.ogg",
            "characters/Zed/sounds/906624421.ogg",
        ],
        "ZedCritAttack_OnHit": [
            "characters/Zed/sounds/121697260.ogg",
            "characters/Zed/sounds/237088468.ogg",
            "characters/Zed/sounds/394859838.ogg",
            "characters/Zed/sounds/553801777.ogg",
        ],
        "ZedE_cast": [
            "characters/Zed/sounds/38768423.ogg",
            "characters/Zed/sounds/527189815.ogg",
            "characters/Zed/sounds/883692462.ogg",
            "characters/Zed/sounds/97789620.ogg",
        ],
        "ZedE_hit": [
            "characters/Zed/sounds/219369238.ogg",
            "characters/Zed/sounds/275926024.ogg",
            "characters/Zed/sounds/324928062.ogg",
            "characters/Zed/sounds/516306220.ogg",
        ],
        "ZedKillerCut_buffactivate": [
            "characters/Zed/sounds/100306220.ogg",
            "characters/Zed/sounds/44997049.ogg",
            "characters/Zed/sounds/57265211.ogg",
            "characters/Zed/sounds/83074972.ogg",
        ],
        "ZedMarker_hit": [
            "characters/Zed/sounds/162146800.ogg",
            "characters/Zed/sounds/60224461.ogg",
            "characters/Zed/sounds/767359316.ogg",
            "characters/Zed/sounds/986585646.ogg",
        ],
        "ZedPBAOE_buffactivate": [
            "characters/Zed/sounds/113304351.ogg",
            "characters/Zed/sounds/327817688.ogg",
            "characters/Zed/sounds/593957253.ogg",
            "characters/Zed/sounds/618192499.ogg",
        ],
        "ZedPBAOE_hit": [
            "characters/Zed/sounds/216076216.ogg",
            "characters/Zed/sounds/482127819.ogg",
            "characters/Zed/sounds/698888702.ogg",
            "characters/Zed/sounds/73920065.ogg",
        ],
        "ZedQMissile_OnMissileCast": [
            "characters/Zed/sounds/167522691.ogg",
            "characters/Zed/sounds/273550045.ogg",
            "characters/Zed/sounds/511390592.ogg",
            "characters/Zed/sounds/577313224.ogg",
        ],
        "ZedQMissile_OnMissileLaunch": [
            "characters/Zed/sounds/124434755.ogg",
            "characters/Zed/sounds/263035406.ogg",
            "characters/Zed/sounds/714470164.ogg",
        ],
        "ZedQ_OnCast": [
            "characters/Zed/sounds/243482182.ogg",
            "characters/Zed/sounds/384841935.ogg",
            "characters/Zed/sounds/406718391.ogg",
            "characters/Zed/sounds/51708590.ogg",
        ],
        "ZedR2_OnCast": [
            "characters/Zed/sounds/60553523.ogg",
        ],
        "ZedR_OnCast": [
            "characters/Zed/sounds/100306220.ogg",
            "characters/Zed/sounds/44997049.ogg",
            "characters/Zed/sounds/57265211.ogg",
            "characters/Zed/sounds/83074972.ogg",
        ],
        "ZedR_OnHit": [
            "characters/Zed/sounds/68218858.ogg",
            "characters/Zed/sounds/800313427.ogg",
        ],
        "ZedShadowDashMissile_OnMissileLaunch": [
            "characters/Zed/sounds/306806166.ogg",
            "characters/Zed/sounds/330307023.ogg",
            "characters/Zed/sounds/418896464.ogg",
            "characters/Zed/sounds/736651813.ogg",
        ],
        "ZedShadowDash_OnCast": [
            "characters/Zed/sounds/200964427.ogg",
            "characters/Zed/sounds/310671004.ogg",
            "characters/Zed/sounds/957330905.ogg",
            "characters/Zed/sounds/962111698.ogg",
        ],
        "ZedShadow_ZedQ_OnCast": [
            "characters/Zed/sounds/243482182.ogg",
            "characters/Zed/sounds/384841935.ogg",
            "characters/Zed/sounds/406718391.ogg",
            "characters/Zed/sounds/51708590.ogg",
        ],
        "ZedShurikenMisOne_hit": [
            "characters/Zed/sounds/146134604.ogg",
            "characters/Zed/sounds/360526008.ogg",
            "characters/Zed/sounds/443213632.ogg",
            "characters/Zed/sounds/521579405.ogg",
        ],
        "ZedShurikenMisTwo_hit": [
            "characters/Zed/sounds/146134604.ogg",
            "characters/Zed/sounds/360526008.ogg",
            "characters/Zed/sounds/443213632.ogg",
            "characters/Zed/sounds/521579405.ogg",
        ],
        "ZedUltExecute_buffactiavte": [
            "characters/Zed/sounds/45349466.ogg",
        ],
        "ZedUltExecute_buffdeactivate": [
            "characters/Zed/sounds/218261741.ogg",
        ],
        "ZedUltExecute_buffdeactivate2": [
            "characters/Zed/sounds/646225399.ogg",
        ],
        "ZedUlt_hit": [
            "characters/Zed/sounds/579104268.ogg",
            "characters/Zed/sounds/759024487.ogg",
            "characters/Zed/sounds/80877465.ogg",
            "characters/Zed/sounds/954204873.ogg",
        ],
        "ZedW2_OnCast": [
            "characters/Zed/sounds/60553523.ogg",
        ],
        "ZedWShadowBuff_OnBuffActivate": [
            "characters/Zed/sounds/100306220.ogg",
            "characters/Zed/sounds/44997049.ogg",
            "characters/Zed/sounds/57265211.ogg",
            "characters/Zed/sounds/83074972.ogg",
        ],
        "ZedWShadowBuff_hit": [
            "characters/Zed/sounds/307759595.ogg",
            "characters/Zed/sounds/57440677.ogg",
            "characters/Zed/sounds/734583188.ogg",
        ],
    },
)