(
    spellData: Some((
        calculations: Some({
            "max_damage_total": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "high_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio_max",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "min_damage_total": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "low_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio_min",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                    7.5,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                values: Some([
                    -0.8,
                    -0.8,
                    -0.8,
                    -0.8,
                    -0.8,
                    -0.8,
                    -0.8,
                ]),
            ),
        ]),
        dataValues: Some([
            (
                name: "ADRatioMin",
                values: Some([
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                    0.9,
                ]),
            ),
            (
                name: "ADRatioMax",
                values: Some([
                    0.9,
                    1.2,
                    1.5,
                    1.8,
                    2.1,
                    2.4,
                    2.7,
                ]),
            ),
            (
                name: "LowDamage",
                values: Some([
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                name: "HighDamage",
                values: Some([
                    25.0,
                    90.0,
                    155.0,
                    220.0,
                    285.0,
                    350.0,
                    415.0,
                ]),
            ),
            (
                name: "MinionRatio",
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                name: "MonsterRatio",
                values: Some([
                    165.0,
                    165.0,
                    165.0,
                    165.0,
                    165.0,
                    165.0,
                    165.0,
                ]),
            ),
            (
                name: "BaseStunTime",
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
        ]),
        mana: Some([
            45.0,
            45.0,
            45.0,
            45.0,
            45.0,
            45.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
            10000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell1_CHRG"),
        cooldownTime: Some([
            11.0,
            10.0,
            9.0,
            8.0,
            7.0,
            6.0,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)