(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(700.0),
                startBoneName: Some("root"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: Some(3),
    )),
)