(
    spellData: Some((
        calculations: Some({
            454723602: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.02),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            552713676: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 4181784465,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.00027),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            961353601: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2237401296,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1080782398: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(12),
                        subpart: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1418119438: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.0003),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1843679093: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 2039437136,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.00015),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2728677912: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "DebuffDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "SpiritModeDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "BaseHPDamage",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
            (
                name: "MonsterMaxDamage",
                values: Some([
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                ]),
            ),
            (
                name: "MSIncrease",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "BonusMsIncrease",
                values: Some([
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)