(
    spellData: Some((
        calculations: Some({
            "damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.7),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    75.0,
                    175.0,
                    275.0,
                    375.0,
                    475.0,
                    575.0,
                    675.0,
                ]),
            ),
            (
                name: "SlowPercent",
                values: Some([
                    -0.3,
                    -0.3,
                    -0.3,
                    -0.3,
                    -0.3,
                    -0.3,
                    -0.3,
                ]),
            ),
            (
                name: "ExitBaseDamage",
                values: Some([
                    0.0,
                    50.0,
                    100.0,
                    150.0,
                    200.0,
                    250.0,
                    300.0,
                ]),
            ),
            (
                name: "ExitSlowPercent",
                values: Some([
                    -0.5,
                    -0.5,
                    -0.5,
                    -0.5,
                    -0.5,
                    -0.5,
                    -0.5,
                ]),
            ),
            (
                name: "AreaDuration",
                values: Some([
                    1.75,
                    2.5,
                    3.25,
                    4.0,
                    4.75,
                    5.5,
                    6.25,
                ]),
            ),
            (
                name: "RBuffDuration",
                values: Some([
                    2.75,
                    3.5,
                    4.25,
                    5.0,
                    5.75,
                    6.5,
                    7.25,
                ]),
            ),
            (
                name: "AoESize",
                values: Some([
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                    700.0,
                ]),
            ),
            (
                name: "StunDuration",
                values: Some([
                    1.25,
                    1.5,
                    1.75,
                    2.0,
                    2.25,
                    2.5,
                    2.75,
                ]),
            ),
            (
                name: "MSMultiplier",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "JumpMaxDistance",
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
            (
                name: "JumpMinDistance",
                values: Some([
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                    25.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)