(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    35.0,
                    70.0,
                    105.0,
                    140.0,
                    175.0,
                    210.0,
                    245.0,
                ]),
            ),
            (
                name: "CDRefund",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "CD",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2000.0),
                startBoneName: None,
            ),
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: None,
        missileEffectKey: Some(1074521327),
        castType: Some(3),
    )),
)