(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.65),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    35.0,
                    70.0,
                    105.0,
                    140.0,
                    175.0,
                    210.0,
                    245.0,
                ]),
            ),
            (
                name: "CDRefund",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "CD",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(2000.0),
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(90.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_buffbone_Glb_Center_Loc"),
        missileSpeed: None,
        missileEffectKey: Some(1074521327),
        castType: Some(3),
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(90.0),
        castFrame: Some(1.98),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(14346),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)