(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.4),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(6),
                        coefficient: Some(0.6),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1813064660: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(-1),
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "ChargeRatePerHit",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "PassiveCooldown",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)