(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    150.0,
                    250.0,
                    350.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    25.0,
                    30.0,
                    30.0,
                    30.0,
                    30.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    4000.0,
                    4000.0,
                    4750.0,
                    5500.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)