(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "1",
                values: Some([
                    0.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: None,
            ),
            missileWidth: Some(40.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: None,
        missileSpeed: Some(2000.0),
        missileEffectKey: Some(311298928),
        castType: Some(1),
        castRange: Some([
            9000.0,
            9000.0,
            9000.0,
            9000.0,
            9000.0,
            9000.0,
            9000.0,
        ]),
        castRadius: Some([
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
            710.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(8.7),
        animationName: None,
        cooldownTime: None,
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(9221),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)