(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    10.0,
                    50.0,
                    90.0,
                    130.0,
                    170.0,
                    210.0,
                    250.0,
                ]),
            ),
            (
                name: "DashSpeed",
                values: Some([
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                ]),
            ),
            (
                name: "DashSpeedMax",
                values: Some([
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)