(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "1",
                values: Some([
                    0.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: None,
                startBoneName: None,
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(2000.0),
        missileEffectKey: Some(425655885),
        castType: Some(1),
    )),
)