(
    events: {
        "Base_Dance3D_buffactivate": [
            "characters/Taric/sounds/603238935.ogg",
        ],
        "Base_Dance3D_crystal_loop_buffactivate": [
            "characters/Taric/sounds/169966622.ogg",
        ],
        "Base_Dance3D_crystal_loop_buffactivate2": [
            "characters/Taric/sounds/169966622.ogg",
        ],
        "Base_Dance3D_loop_buffactivate": [
            "characters/Taric/sounds/898387119.ogg",
        ],
        "Base_Death3D_buffactivate": [
            "characters/Taric/sounds/51479876.ogg",
        ],
        "Base_Joke3D_camera_flash_buffactivate": [
            "characters/Taric/sounds/174124027.ogg",
            "characters/Taric/sounds/344653622.ogg",
            "characters/Taric/sounds/440069533.ogg",
            "characters/Taric/sounds/753686409.ogg",
        ],
        "Base_Joke3D_close": [
            "characters/Taric/sounds/124915779.ogg",
        ],
        "Base_Joke3D_open": [
            "characters/Taric/sounds/395761616.ogg",
        ],
        "Base_Joke3D_pose1": [
            "characters/Taric/sounds/919507802.ogg",
        ],
        "Base_Joke3D_pose2": [
            "characters/Taric/sounds/86323987.ogg",
        ],
        "Base_Joke3D_pose3": [
            "characters/Taric/sounds/442303215.ogg",
        ],
        "Base_Joke3D_pose4": [
            "characters/Taric/sounds/821148770.ogg",
        ],
        "Base_Laugh3D_buffactivate": [
            "characters/Taric/sounds/533449840.ogg",
        ],
        "Base_Recall3D_buffactivate": [
            "characters/Taric/sounds/672603864.ogg",
        ],
        "Base_Recall3D_winddown_buffactivate": [
            "characters/Taric/sounds/809856291.ogg",
        ],
        "Base_Taunt3D_buffactivate": [
            "characters/Taric/sounds/622956201.ogg",
        ],
        "Play_vo_Taric_Attack2DBaron": [
            "characters/Taric/sounds/506391690.ogg",
            "characters/Taric/sounds/593030717.ogg",
            "characters/Taric/sounds/740776978.ogg",
        ],
        "Play_vo_Taric_Attack2DDragon": [
            "characters/Taric/sounds/11742293.ogg",
            "characters/Taric/sounds/547898621.ogg",
            "characters/Taric/sounds/851885529.ogg",
        ],
        "Play_vo_Taric_Attack2DGeneral": [
            "characters/Taric/sounds/1011444512.ogg",
            "characters/Taric/sounds/1032991977.ogg",
            "characters/Taric/sounds/1068832820.ogg",
            "characters/Taric/sounds/1072033839.ogg",
            "characters/Taric/sounds/242865003.ogg",
            "characters/Taric/sounds/280544411.ogg",
            "characters/Taric/sounds/364386298.ogg",
            "characters/Taric/sounds/435184882.ogg",
            "characters/Taric/sounds/486935765.ogg",
            "characters/Taric/sounds/559320336.ogg",
            "characters/Taric/sounds/618651870.ogg",
            "characters/Taric/sounds/723187866.ogg",
            "characters/Taric/sounds/7668083.ogg",
            "characters/Taric/sounds/771261729.ogg",
            "characters/Taric/sounds/774690958.ogg",
            "characters/Taric/sounds/808382997.ogg",
            "characters/Taric/sounds/809579531.ogg",
            "characters/Taric/sounds/829314276.ogg",
            "characters/Taric/sounds/833299857.ogg",
            "characters/Taric/sounds/880237307.ogg",
        ],
        "Play_vo_Taric_BuyItem2DAegisoftheLegion": [
            "characters/Taric/sounds/356368152.ogg",
            "characters/Taric/sounds/897534229.ogg",
        ],
        "Play_vo_Taric_BuyItem2DBandleglassMirror": [
            "characters/Taric/sounds/678075979.ogg",
        ],
        "Play_vo_Taric_BuyItem2DDeadMansPlate": [
            "characters/Taric/sounds/365832254.ogg",
            "characters/Taric/sounds/519495148.ogg",
            "characters/Taric/sounds/89427415.ogg",
        ],
        "Play_vo_Taric_BuyItem2DFaerieCharm": [
            "characters/Taric/sounds/1032263555.ogg",
            "characters/Taric/sounds/539108911.ogg",
        ],
        "Play_vo_Taric_BuyItem2DGeneral": [
            "characters/Taric/sounds/181168963.ogg",
            "characters/Taric/sounds/425436897.ogg",
            "characters/Taric/sounds/574063290.ogg",
            "characters/Taric/sounds/899665597.ogg",
        ],
        "Play_vo_Taric_BuyItem2DGlacialBuckler": [
            "characters/Taric/sounds/132492423.ogg",
            "characters/Taric/sounds/671843280.ogg",
            "characters/Taric/sounds/853877437.ogg",
        ],
        "Play_vo_Taric_BuyItem2DLocketoftheIronSolari": [
            "characters/Taric/sounds/120814311.ogg",
            "characters/Taric/sounds/567769486.ogg",
            "characters/Taric/sounds/665382606.ogg",
        ],
        "Play_vo_Taric_BuyItem2DRedemption": [
            "characters/Taric/sounds/434012922.ogg",
            "characters/Taric/sounds/559200619.ogg",
            "characters/Taric/sounds/60924728.ogg",
        ],
        "Play_vo_Taric_BuyItem2DRelicShield": [
            "characters/Taric/sounds/1038091118.ogg",
            "characters/Taric/sounds/134101185.ogg",
            "characters/Taric/sounds/157467634.ogg",
        ],
        "Play_vo_Taric_BuyItem2DRubyCrystal": [
            "characters/Taric/sounds/12884959.ogg",
            "characters/Taric/sounds/32409036.ogg",
            "characters/Taric/sounds/671914583.ogg",
        ],
        "Play_vo_Taric_BuyItem2DSapphireCrystal": [
            "characters/Taric/sounds/681617870.ogg",
            "characters/Taric/sounds/990876392.ogg",
        ],
        "Play_vo_Taric_BuyItem2DSunfireAegis": [
            "characters/Taric/sounds/1045728953.ogg",
            "characters/Taric/sounds/472394484.ogg",
            "characters/Taric/sounds/491102741.ogg",
        ],
        "Play_vo_Taric_BuyItem2DVoidStaff": [
            "characters/Taric/sounds/212462916.ogg",
            "characters/Taric/sounds/597352251.ogg",
        ],
        "Play_vo_Taric_BuyItem2DWard": [
            "characters/Taric/sounds/139065099.ogg",
            "characters/Taric/sounds/356850396.ogg",
            "characters/Taric/sounds/742601610.ogg",
        ],
        "Play_vo_Taric_BuyItem2DWarmogsArmor": [
            "characters/Taric/sounds/849601156.ogg",
            "characters/Taric/sounds/879711311.ogg",
        ],
        "Play_vo_Taric_BuyItem2DZhonyasHourglass": [
            "characters/Taric/sounds/544479739.ogg",
            "characters/Taric/sounds/842171914.ogg",
            "characters/Taric/sounds/920777050.ogg",
        ],
        "Play_vo_Taric_Death3D": [
            "characters/Taric/sounds/146493431.ogg",
            "characters/Taric/sounds/739959348.ogg",
            "characters/Taric/sounds/79187113.ogg",
            "characters/Taric/sounds/899564585.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DAshe": [
            "characters/Taric/sounds/464707553.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DAurelionSol": [
            "characters/Taric/sounds/913471909.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DDiana": [
            "characters/Taric/sounds/245859863.ogg",
            "characters/Taric/sounds/403597184.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DGaren": [
            "characters/Taric/sounds/666177311.ogg",
            "characters/Taric/sounds/83312003.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DJarvanIV": [
            "characters/Taric/sounds/260381752.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DJhin": [
            "characters/Taric/sounds/1018355228.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DJinx": [
            "characters/Taric/sounds/776977559.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DLeona": [
            "characters/Taric/sounds/153851177.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DPantheon": [
            "characters/Taric/sounds/489182859.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DTahmKench": [
            "characters/Taric/sounds/271022116.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DTaric": [
            "characters/Taric/sounds/191885988.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DVarus": [
            "characters/Taric/sounds/695329275.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DVelkoz": [
            "characters/Taric/sounds/788721380.ogg",
            "characters/Taric/sounds/815642367.ogg",
        ],
        "Play_vo_Taric_FirstEncounter3DVoid": [
            "characters/Taric/sounds/174176503.ogg",
        ],
        "Play_vo_Taric_Idle3DGeneral": [
            "characters/Taric/sounds/645845645.ogg",
        ],
        "Play_vo_Taric_Joke3DGeneral": [
            "characters/Taric/sounds/165203077.ogg",
            "characters/Taric/sounds/343728352.ogg",
            "characters/Taric/sounds/521922797.ogg",
            "characters/Taric/sounds/522296473.ogg",
            "characters/Taric/sounds/556602929.ogg",
            "characters/Taric/sounds/592349590.ogg",
            "characters/Taric/sounds/703178009.ogg",
            "characters/Taric/sounds/734699894.ogg",
        ],
        "Play_vo_Taric_Kill3DGeneral": [
            "characters/Taric/sounds/178621569.ogg",
            "characters/Taric/sounds/220134832.ogg",
            "characters/Taric/sounds/42517867.ogg",
            "characters/Taric/sounds/449183745.ogg",
            "characters/Taric/sounds/60704495.ogg",
            "characters/Taric/sounds/610457180.ogg",
        ],
        "Play_vo_Taric_Laugh3DGeneral": [
            "characters/Taric/sounds/429970269.ogg",
            "characters/Taric/sounds/499869583.ogg",
            "characters/Taric/sounds/507507541.ogg",
            "characters/Taric/sounds/720536730.ogg",
        ],
        "Play_vo_Taric_Move2DFirst": [
            "characters/Taric/sounds/1021610203.ogg",
            "characters/Taric/sounds/147588515.ogg",
            "characters/Taric/sounds/248815169.ogg",
            "characters/Taric/sounds/351570612.ogg",
            "characters/Taric/sounds/457551924.ogg",
            "characters/Taric/sounds/635481024.ogg",
            "characters/Taric/sounds/695748183.ogg",
            "characters/Taric/sounds/747604551.ogg",
        ],
        "Play_vo_Taric_Move2DStandard": [
            "characters/Taric/sounds/1028472029.ogg",
            "characters/Taric/sounds/109795047.ogg",
            "characters/Taric/sounds/122261772.ogg",
            "characters/Taric/sounds/132790105.ogg",
            "characters/Taric/sounds/211570221.ogg",
            "characters/Taric/sounds/261152119.ogg",
            "characters/Taric/sounds/296352334.ogg",
            "characters/Taric/sounds/302350768.ogg",
            "characters/Taric/sounds/303212464.ogg",
            "characters/Taric/sounds/31602669.ogg",
            "characters/Taric/sounds/324317715.ogg",
            "characters/Taric/sounds/356628445.ogg",
            "characters/Taric/sounds/373213940.ogg",
            "characters/Taric/sounds/43489392.ogg",
            "characters/Taric/sounds/531959426.ogg",
            "characters/Taric/sounds/540379087.ogg",
            "characters/Taric/sounds/540669719.ogg",
            "characters/Taric/sounds/650006236.ogg",
            "characters/Taric/sounds/704415197.ogg",
            "characters/Taric/sounds/709423718.ogg",
            "characters/Taric/sounds/738221796.ogg",
            "characters/Taric/sounds/785843298.ogg",
            "characters/Taric/sounds/813559696.ogg",
            "characters/Taric/sounds/830530018.ogg",
            "characters/Taric/sounds/843142244.ogg",
            "characters/Taric/sounds/891290694.ogg",
        ],
        "Play_vo_Taric_Recall3DGeneral": [
            "characters/Taric/sounds/206598044.ogg",
            "characters/Taric/sounds/513128315.ogg",
            "characters/Taric/sounds/707055874.ogg",
        ],
        "Play_vo_Taric_Respawn2DGeneral": [
            "characters/Taric/sounds/446461120.ogg",
            "characters/Taric/sounds/869661543.ogg",
            "characters/Taric/sounds/911080944.ogg",
        ],
        "Play_vo_Taric_TaricBasicAttack2_cast3D": [
            "characters/Taric/sounds/288475566.ogg",
            "characters/Taric/sounds/296518999.ogg",
            "characters/Taric/sounds/493734693.ogg",
            "characters/Taric/sounds/888312633.ogg",
        ],
        "Play_vo_Taric_TaricBasicAttack3_cast3D": [
            "characters/Taric/sounds/288475566.ogg",
            "characters/Taric/sounds/296518999.ogg",
            "characters/Taric/sounds/493734693.ogg",
            "characters/Taric/sounds/888312633.ogg",
        ],
        "Play_vo_Taric_TaricBasicAttack_cast3D": [
            "characters/Taric/sounds/288475566.ogg",
            "characters/Taric/sounds/296518999.ogg",
            "characters/Taric/sounds/493734693.ogg",
            "characters/Taric/sounds/888312633.ogg",
        ],
        "Play_vo_Taric_TaricCritAttack_cast3D": [
            "characters/Taric/sounds/288475566.ogg",
            "characters/Taric/sounds/296518999.ogg",
            "characters/Taric/sounds/493734693.ogg",
            "characters/Taric/sounds/888312633.ogg",
        ],
        "Play_vo_Taric_TaricE_cast3D": [
            "characters/Taric/sounds/1028278630.ogg",
            "characters/Taric/sounds/1039708851.ogg",
            "characters/Taric/sounds/123313860.ogg",
            "characters/Taric/sounds/389103783.ogg",
            "characters/Taric/sounds/503545939.ogg",
            "characters/Taric/sounds/578066454.ogg",
            "characters/Taric/sounds/649371595.ogg",
            "characters/Taric/sounds/665140673.ogg",
            "characters/Taric/sounds/68450126.ogg",
            "characters/Taric/sounds/75891540.ogg",
            "characters/Taric/sounds/810917893.ogg",
            "characters/Taric/sounds/966189001.ogg",
        ],
        "Play_vo_Taric_TaricPassiveAttack_cast3D": [
            "characters/Taric/sounds/313229568.ogg",
            "characters/Taric/sounds/591153094.ogg",
            "characters/Taric/sounds/93524488.ogg",
            "characters/Taric/sounds/936015557.ogg",
        ],
        "Play_vo_Taric_TaricQ_cast3D": [
            "characters/Taric/sounds/1017462501.ogg",
            "characters/Taric/sounds/180681385.ogg",
            "characters/Taric/sounds/263962477.ogg",
            "characters/Taric/sounds/364347871.ogg",
            "characters/Taric/sounds/461636829.ogg",
            "characters/Taric/sounds/609623648.ogg",
            "characters/Taric/sounds/832831577.ogg",
            "characters/Taric/sounds/968535932.ogg",
        ],
        "Play_vo_Taric_TaricR_cast3D": [
            "characters/Taric/sounds/1061246708.ogg",
            "characters/Taric/sounds/128832040.ogg",
            "characters/Taric/sounds/251824728.ogg",
            "characters/Taric/sounds/27638671.ogg",
            "characters/Taric/sounds/410079302.ogg",
            "characters/Taric/sounds/82392107.ogg",
        ],
        "Play_vo_Taric_TaricW_cast3D": [
            "characters/Taric/sounds/1036656719.ogg",
            "characters/Taric/sounds/155996631.ogg",
            "characters/Taric/sounds/275603001.ogg",
            "characters/Taric/sounds/364885402.ogg",
            "characters/Taric/sounds/541381406.ogg",
            "characters/Taric/sounds/568091851.ogg",
            "characters/Taric/sounds/686721851.ogg",
            "characters/Taric/sounds/717311866.ogg",
            "characters/Taric/sounds/845875406.ogg",
            "characters/Taric/sounds/8497607.ogg",
            "characters/Taric/sounds/892386154.ogg",
            "characters/Taric/sounds/935941366.ogg",
            "characters/Taric/sounds/981196079.ogg",
            "characters/Taric/sounds/990139341.ogg",
        ],
        "Play_vo_Taric_Taunt3DGeneral": [
            "characters/Taric/sounds/1072237970.ogg",
            "characters/Taric/sounds/279088363.ogg",
            "characters/Taric/sounds/835058330.ogg",
        ],
        "Play_vo_Taric_UseItem2DElixir": [
            "characters/Taric/sounds/905498623.ogg",
        ],
        "Play_vo_Taric_UseItem2DHealthPotion": [
            "characters/Taric/sounds/97696833.ogg",
        ],
        "Play_vo_Taric_UseItem2DWard": [
            "characters/Taric/sounds/119144043.ogg",
            "characters/Taric/sounds/806500794.ogg",
            "characters/Taric/sounds/961675219.ogg",
        ],
        "TaricBasicAttack2_OnCast": [
            "characters/Taric/sounds/160732089.ogg",
            "characters/Taric/sounds/378713495.ogg",
            "characters/Taric/sounds/468208942.ogg",
            "characters/Taric/sounds/552110327.ogg",
        ],
        "TaricBasicAttack2_OnHit": [
            "characters/Taric/sounds/11611558.ogg",
            "characters/Taric/sounds/14052248.ogg",
            "characters/Taric/sounds/194514904.ogg",
            "characters/Taric/sounds/208984810.ogg",
            "characters/Taric/sounds/248778583.ogg",
            "characters/Taric/sounds/284392001.ogg",
            "characters/Taric/sounds/313894227.ogg",
            "characters/Taric/sounds/40949610.ogg",
            "characters/Taric/sounds/412627508.ogg",
            "characters/Taric/sounds/449095511.ogg",
            "characters/Taric/sounds/50330666.ogg",
            "characters/Taric/sounds/56330117.ogg",
            "characters/Taric/sounds/596048360.ogg",
            "characters/Taric/sounds/648707338.ogg",
            "characters/Taric/sounds/777978790.ogg",
            "characters/Taric/sounds/79158702.ogg",
        ],
        "TaricBasicAttack3_OnCast": [
            "characters/Taric/sounds/160732089.ogg",
            "characters/Taric/sounds/378713495.ogg",
            "characters/Taric/sounds/468208942.ogg",
            "characters/Taric/sounds/552110327.ogg",
        ],
        "TaricBasicAttack3_OnHit": [
            "characters/Taric/sounds/11611558.ogg",
            "characters/Taric/sounds/14052248.ogg",
            "characters/Taric/sounds/194514904.ogg",
            "characters/Taric/sounds/208984810.ogg",
            "characters/Taric/sounds/248778583.ogg",
            "characters/Taric/sounds/284392001.ogg",
            "characters/Taric/sounds/313894227.ogg",
            "characters/Taric/sounds/40949610.ogg",
            "characters/Taric/sounds/412627508.ogg",
            "characters/Taric/sounds/449095511.ogg",
            "characters/Taric/sounds/50330666.ogg",
            "characters/Taric/sounds/56330117.ogg",
            "characters/Taric/sounds/596048360.ogg",
            "characters/Taric/sounds/648707338.ogg",
            "characters/Taric/sounds/777978790.ogg",
            "characters/Taric/sounds/79158702.ogg",
        ],
        "TaricBasicAttack_OnCast": [
            "characters/Taric/sounds/160732089.ogg",
            "characters/Taric/sounds/378713495.ogg",
            "characters/Taric/sounds/468208942.ogg",
            "characters/Taric/sounds/552110327.ogg",
        ],
        "TaricBasicAttack_OnHit": [
            "characters/Taric/sounds/11611558.ogg",
            "characters/Taric/sounds/14052248.ogg",
            "characters/Taric/sounds/194514904.ogg",
            "characters/Taric/sounds/208984810.ogg",
            "characters/Taric/sounds/248778583.ogg",
            "characters/Taric/sounds/284392001.ogg",
            "characters/Taric/sounds/313894227.ogg",
            "characters/Taric/sounds/40949610.ogg",
            "characters/Taric/sounds/412627508.ogg",
            "characters/Taric/sounds/449095511.ogg",
            "characters/Taric/sounds/50330666.ogg",
            "characters/Taric/sounds/56330117.ogg",
            "characters/Taric/sounds/596048360.ogg",
            "characters/Taric/sounds/648707338.ogg",
            "characters/Taric/sounds/777978790.ogg",
            "characters/Taric/sounds/79158702.ogg",
        ],
        "TaricCritAttack_OnCast": [
            "characters/Taric/sounds/160732089.ogg",
            "characters/Taric/sounds/378713495.ogg",
            "characters/Taric/sounds/468208942.ogg",
            "characters/Taric/sounds/552110327.ogg",
        ],
        "TaricCritAttack_OnHit": [
            "characters/Taric/sounds/11611558.ogg",
            "characters/Taric/sounds/14052248.ogg",
            "characters/Taric/sounds/194514904.ogg",
            "characters/Taric/sounds/208984810.ogg",
            "characters/Taric/sounds/248778583.ogg",
            "characters/Taric/sounds/284392001.ogg",
            "characters/Taric/sounds/313894227.ogg",
            "characters/Taric/sounds/40949610.ogg",
            "characters/Taric/sounds/412627508.ogg",
            "characters/Taric/sounds/449095511.ogg",
            "characters/Taric/sounds/50330666.ogg",
            "characters/Taric/sounds/56330117.ogg",
            "characters/Taric/sounds/596048360.ogg",
            "characters/Taric/sounds/648707338.ogg",
            "characters/Taric/sounds/777978790.ogg",
            "characters/Taric/sounds/79158702.ogg",
        ],
        "TaricE_cast": [
            "characters/Taric/sounds/1013218980.ogg",
            "characters/Taric/sounds/239845878.ogg",
            "characters/Taric/sounds/333979603.ogg",
            "characters/Taric/sounds/777875207.ogg",
            "characters/Taric/sounds/852192195.ogg",
        ],
        "TaricE_hit": [
            "characters/Taric/sounds/108729931.ogg",
            "characters/Taric/sounds/271722324.ogg",
            "characters/Taric/sounds/729635136.ogg",
            "characters/Taric/sounds/915484257.ogg",
        ],
        "TaricE_missilelaunch": [
            "characters/Taric/sounds/446844198.ogg",
            "characters/Taric/sounds/619903758.ogg",
            "characters/Taric/sounds/811251671.ogg",
            "characters/Taric/sounds/948246406.ogg",
        ],
        "TaricPassiveAttack2_OnCast": [
            "characters/Taric/sounds/492088543.ogg",
            "characters/Taric/sounds/604927705.ogg",
            "characters/Taric/sounds/822462520.ogg",
        ],
        "TaricPassiveAttack2_OnHit": [
            "characters/Taric/sounds/488594327.ogg",
            "characters/Taric/sounds/511888409.ogg",
            "characters/Taric/sounds/681043611.ogg",
            "characters/Taric/sounds/920707422.ogg",
        ],
        "TaricPassiveAttack_OnCast": [
            "characters/Taric/sounds/492088543.ogg",
            "characters/Taric/sounds/604927705.ogg",
            "characters/Taric/sounds/822462520.ogg",
        ],
        "TaricPassiveAttack_OnHit": [
            "characters/Taric/sounds/488594327.ogg",
            "characters/Taric/sounds/511888409.ogg",
            "characters/Taric/sounds/681043611.ogg",
            "characters/Taric/sounds/920707422.ogg",
        ],
        "TaricQ_OnCast": [
            "characters/Taric/sounds/28010357.ogg",
            "characters/Taric/sounds/367219427.ogg",
            "characters/Taric/sounds/595440157.ogg",
            "characters/Taric/sounds/662402347.ogg",
        ],
        "TaricQ_heal1": [
            "characters/Taric/sounds/365230000.ogg",
            "characters/Taric/sounds/382356432.ogg",
            "characters/Taric/sounds/798953276.ogg",
        ],
        "TaricQ_heal2": [
            "characters/Taric/sounds/672851926.ogg",
            "characters/Taric/sounds/891556643.ogg",
            "characters/Taric/sounds/921544932.ogg",
        ],
        "TaricQ_heal3": [
            "characters/Taric/sounds/265282159.ogg",
            "characters/Taric/sounds/547039402.ogg",
            "characters/Taric/sounds/627697593.ogg",
        ],
        "TaricR_OnCast": [
            "characters/Taric/sounds/972024357.ogg",
        ],
        "TaricWAllyBuffMissile_OnMissileLaunch": [
            "characters/Taric/sounds/274848261.ogg",
            "characters/Taric/sounds/475697656.ogg",
            "characters/Taric/sounds/714418947.ogg",
            "characters/Taric/sounds/758410254.ogg",
        ],
        "TaricWAllyBuffMissile_tether_break_connection_deactivate": [
            "characters/Taric/sounds/263280415.ogg",
            "characters/Taric/sounds/437670209.ogg",
        ],
        "TaricWAllyBuff_buffcast": [
            "characters/Taric/sounds/329101935.ogg",
            "characters/Taric/sounds/705105983.ogg",
            "characters/Taric/sounds/78409534.ogg",
            "characters/Taric/sounds/877525519.ogg",
            "characters/Taric/sounds/886316776.ogg",
        ],
        "TaricWLeashWarning_OnBuffActivate": [
            "characters/Taric/sounds/457406561.ogg",
        ],
    },
)