(
    spellData: Some((
        calculations: Some({
            "tackle_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartEffectValue",
                        effectIndex: Some(1),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.6),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    1.6,
                    1.7,
                    1.8,
                    1.9,
                    2.0,
                    2.1,
                ]),
            ),
            (
                values: Some([
                    1800.0,
                    1800.0,
                    1800.0,
                    1800.0,
                    1800.0,
                    1800.0,
                    1800.0,
                ]),
            ),
            (
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)