(
    spellData: Some((
        calculations: Some({
            "base_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_value",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    30.0,
                    30.0,
                    55.0,
                    80.0,
                    105.0,
                    130.0,
                    130.0,
                ]),
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                ]),
            ),
            (
                values: Some([
                    50.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    170.0,
                ]),
            ),
            (
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "HealthDamagePercent",
                values: Some([
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                    9.0,
                ]),
            ),
            (
                name: "BaseDamageValue",
                values: Some([
                    30.0,
                    30.0,
                    55.0,
                    80.0,
                    105.0,
                    130.0,
                    130.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "Slow_",
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                name: "DelayBetweenTwoHits",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "MaxHealthDamageToNonHeroes",
                values: Some([
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                ]),
            ),
        ]),
        mana: Some([
            35.0,
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            430.0,
            430.0,
            430.0,
            430.0,
            430.0,
            430.0,
            430.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(100.0),
        castFrame: Some(10.0),
        animationName: Some(""),
        cooldownTime: Some([
            9.0,
            8.0,
            7.0,
            6.0,
            5.0,
            4.0,
            3.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)