(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SpiritRealmDuration",
                values: Some([
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                ]),
            ),
            (
                name: "StatStealPercentScalar",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "ZoneRadius",
                values: Some([
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                ]),
            ),
            (
                name: "GhostAPRatio",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)