(
  resources: {
    "lol_base_render::particle::ConfigVfxHandle": (Path("characters/Turret/skins/Skin0_vfx.ron")),
  },
  entities: {
    4294967256: (
      components: {
        "bevy_animation::graph::AnimationGraphHandle": (Path("characters/Turret/animations/Skin0.ron")),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_world_serialization::components::WorldAssetRoot": (Path("characters/Turret/skins/Skin0.glb#Scene0")),
        "lol_base::audio::AudioBank": (Path("characters/Turret/skins/Skin0_audio.ron")),
        "lol_base::character::HealthBar": (
          bar_type: 8,
        ),
        "lol_base::character::Skin": (
          scale: 0.9,
          avatar: "ASSETS/Characters/Turret/HUD/Turret_Blue_Circle.png",
          resolver_key: 2005705283,
        ),
        "lol_base_render::animation::LOLAnimationGraphHandle": (Path("characters/Turret/animations/Skin0.ron")),
      },
    ),
  },
)