(
    spellData: Some((
        calculations: Some({
            "bonus_resists": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "tower_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "TowerDisintegrationTime",
                values: Some([
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                ]),
            ),
            (
                name: "SoldierStabRange",
                values: Some([
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                ]),
            ),
            (
                name: "SoldierDeactivationRange",
                values: Some([
                    660.0,
                    660.0,
                    660.0,
                    660.0,
                    660.0,
                    660.0,
                    660.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)