(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(2600.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            549.4,
            549.4,
            549.4,
            549.4,
            549.4,
            549.4,
            549.4,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Attack3"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8143),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)