(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            549.4,
            549.4,
            549.4,
            549.4,
            549.4,
            549.4,
            549.4,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Attack_Command"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(8143),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)