(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
        ]),
        castRadius: Some([
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(3.0),
        animationName: Some("Spell2"),
        cooldownTime: Some([
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: Some(0.25),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)