(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "FlatMovementSpeed",
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                name: "MovementSpeedDuration",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)