(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: None,
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: None,
        cooldownTime: None,
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: None,
        alternateName: Some("KhazixQDR"),
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)