(
    spellData: Some((
        calculations: Some({
            64618745: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartEffectValue",
                        effectIndex: Some(1),
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2339366755: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3123124719: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3202745679: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 969836114,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1886965801,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    75.0,
                    75.0,
                    105.0,
                    135.0,
                    165.0,
                    195.0,
                    195.0,
                ]),
            ),
            (
                values: Some([
                    35.0,
                    55.0,
                    75.0,
                    95.0,
                    115.0,
                    135.0,
                    155.0,
                ]),
            ),
            (
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseHeal",
                values: Some([
                    35.0,
                    55.0,
                    75.0,
                    95.0,
                    115.0,
                    135.0,
                    155.0,
                ]),
            ),
            (
                name: "HealAPRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "SlowPercentage",
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "IsolatedSlowPercentage",
                values: Some([
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                name: "IsolatedSlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: Some([
            55.0,
            60.0,
            65.0,
            70.0,
            75.0,
            80.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(828.5),
        missileEffectKey: None,
        castType: None,
    )),
)