(
    spellData: Some((
        calculations: Some({
            "monster_healing": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_healing",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(12),
                        dataValue: "percentage_of_bonus_hp",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "monster_healing_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_champion_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "champion_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(12),
                        dataValue: "bonus_max_hp_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "champ_damage_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "MonsterMinionDamage",
                values: Some([
                    200.0,
                    400.0,
                    600.0,
                    800.0,
                    1000.0,
                    1200.0,
                    1400.0,
                ]),
            ),
            (
                name: "BaseHealing",
                values: Some([
                    35.0,
                    65.0,
                    95.0,
                    125.0,
                    155.0,
                    185.0,
                    215.0,
                ]),
            ),
            (
                name: "ChampionDamage",
                values: Some([
                    20.0,
                    60.0,
                    100.0,
                    140.0,
                    180.0,
                    220.0,
                    260.0,
                ]),
            ),
            (
                name: "PercentageOfBonusHP",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "ChampionHealingScalar",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "LowHealthThreshhold",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "LowHealthHealingScalar",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "BonusMaxHPDamage",
                values: Some([
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                ]),
            ),
            (
                name: "ChampDamageAPRatio",
                values: Some([
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                    0.65,
                ]),
            ),
            (
                name: "MonsterHealingAPRatio",
                values: Some([
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)