(
    spellData: Some((
        calculations: Some({
            "root_duration": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            "total_root_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "root_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.8),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_snowball_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.12),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    7.5,
                    15.0,
                    22.5,
                    30.0,
                    37.5,
                    45.0,
                    52.5,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    -0.25,
                    -0.3,
                    -0.35,
                    -0.4,
                    -0.45,
                    -0.5,
                    -0.55,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "RootDamage",
                values: Some([
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                ]),
            ),
            (
                name: "TotalSpellDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "DelayBetweenSnowballs",
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
            (
                name: "SplashConeLength",
                values: Some([
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                ]),
            ),
            (
                name: "SplashConeAngle",
                values: Some([
                    22.5,
                    22.5,
                    22.5,
                    22.5,
                    22.5,
                    22.5,
                    22.5,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            70.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1850.0),
        missileEffectKey: None,
        castType: None,
    )),
)