(
    spellData: Some((
        calculations: Some({
            "total_damage_slam_down": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "slam_down_strike_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(12),
                        coefficient: Some(0.05),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AllOutDuration",
                values: Some([
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    45.0,
                    80.0,
                    115.0,
                    150.0,
                    185.0,
                    220.0,
                    255.0,
                ]),
            ),
            (
                name: "SlamDownStrikeDamage",
                values: Some([
                    45.0,
                    80.0,
                    115.0,
                    150.0,
                    185.0,
                    220.0,
                    255.0,
                ]),
            ),
            (
                name: "WallStunDuration",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "NoWallStunDuration",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "MaxSuppressTime",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
            (
                name: "MOVEMENT_VARS",
                values: None,
            ),
            (
                name: "TackleRange",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "TackleSpeed",
                values: Some([
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                ]),
            ),
            (
                name: "CarrySpeed",
                values: Some([
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                    1000.0,
                ]),
            ),
            (
                name: "MaxWallCarry",
                values: Some([
                    25000.0,
                    25000.0,
                    25000.0,
                    25000.0,
                    25000.0,
                    25000.0,
                    25000.0,
                ]),
            ),
            (
                name: "MaxWallCarrySR",
                values: Some([
                    5000.0,
                    5000.0,
                    5000.0,
                    5000.0,
                    5000.0,
                    5000.0,
                    5000.0,
                ]),
            ),
            (
                name: "WallCheckDist",
                values: Some([
                    -25.0,
                    -25.0,
                    -25.0,
                    -25.0,
                    -25.0,
                    -25.0,
                    -25.0,
                ]),
            ),
            (
                name: "KSanteLandingOffset",
                values: Some([
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                    250.0,
                ]),
            ),
            (
                name: "WallBuffer",
                values: Some([
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                ]),
            ),
            (
                name: "STAT_CHANGE_VARS",
                values: None,
            ),
            (
                name: "HealthLost",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "DefensesLost",
                values: Some([
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                    0.85,
                ]),
            ),
            (
                name: "Omnivamp",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "AttackSpeed",
                values: Some([
                    0.2,
                    0.4,
                    0.6,
                    0.8,
                    1.0,
                    1.2,
                    1.4,
                ]),
            ),
            (
                name: "ArmorPenPercent",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "KsanteArrivesFirstBySec",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "AfterImageArrivesFirstBySec",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "ManaRegenPercent",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "KnockGrav",
                values: Some([
                    14.0,
                    14.0,
                    14.0,
                    14.0,
                    14.0,
                    14.0,
                    14.0,
                ]),
            ),
            (
                name: "TimeToLast",
                values: Some([
                    0.18,
                    0.18,
                    0.18,
                    0.18,
                    0.18,
                    0.18,
                    0.18,
                ]),
            ),
            (
                name: "TackleRangeOverstatedNoWall",
                values: Some([
                    3000.0,
                    3000.0,
                    3000.0,
                    3000.0,
                    3000.0,
                    3000.0,
                    3000.0,
                ]),
            ),
            (
                name: "CarrySpeedUnderstatedNoWall",
                values: Some([
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                    1600.0,
                ]),
            ),
            (
                name: "CarrySpeedNoWall",
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                name: "KsanteAnimLockWall",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "KsanteAnimLockNoWall",
                values: None,
            ),
            (
                name: "DistanceTriggerFasterCarrySpeed",
                values: Some([
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                    1400.0,
                ]),
            ),
            (
                name: "FasterCarrySpeed",
                values: Some([
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                ]),
            ),
            (
                name: "AuraOffset",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "LingeringPerceptionPostStun",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "DelayToStartSlamDown",
                values: None,
            ),
            (
                name: "WallLookAhead",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "VfxInWallPerDistance",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "DebugWallExplosions",
                values: None,
            ),
            (
                name: "AnimationDashTime",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "DistanceRatioMin",
                values: Some([
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                ]),
            ),
            (
                name: "DistanceRatioMax",
                values: Some([
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                    2000.0,
                ]),
            ),
            (
                name: "CarrySpeedRatioMin",
                values: Some([
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                ]),
            ),
            (
                name: "CarrySpeedRatioMax",
                values: Some([
                    1700.0,
                    1700.0,
                    1700.0,
                    1700.0,
                    1700.0,
                    1700.0,
                    1700.0,
                ]),
            ),
            (
                name: "CameraHoldRatioMin",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "CameraHoldRatioMax",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "InitialAnimHoldMin",
                values: None,
            ),
            (
                name: "InitialAnimHoldMax",
                values: Some([
                    0.27,
                    0.27,
                    0.27,
                    0.27,
                    0.27,
                    0.27,
                    0.27,
                ]),
            ),
            (
                name: "CastTime",
                values: Some([
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                    0.35,
                ]),
            ),
            (
                name: "WallBufferFailCase",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "VictimCameraZoomMin",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "VictimCameraZoomMax",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)