(
    spellData: Some((
        calculations: Some({
            "max_health_damage_percent": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "max_health_damage_percent_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "max_health_damage_resist_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(6),
                        dataValue: "max_health_damage_resist_ratio",
                    ),
                ]),
                multiplier: None,
                precision: Some(2),
            ),
            "percent_health_damage": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(-1),
            ),
            "unk_0x281dd874": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(-1),
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "MarkDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "BonusRange",
                values: None,
            ),
            (
                name: "RecoveryPercent",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
            (
                name: "ArmorMRMultiplier",
                values: Some([
                    0.002,
                    0.002,
                    0.002,
                    0.002,
                    0.002,
                    0.002,
                    0.002,
                ]),
            ),
            (
                name: "PassiveStartingDamage",
                values: Some([
                    0.0035,
                    0.0035,
                    0.0035,
                    0.0035,
                    0.0035,
                    0.0035,
                    0.0035,
                ]),
            ),
            (
                name: "MaxHealthDamagePercentBase",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
            (
                name: "MaxHealthDamageResistRatio",
                values: Some([
                    0.0001,
                    0.0001,
                    0.0001,
                    0.0001,
                    0.0001,
                    0.0001,
                    0.0001,
                ]),
            ),
            (
                name: "FlatDamage",
                values: Some([
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                ]),
            ),
            (
                name: "MarkDamagePercentMin",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
            (
                name: "MarkDamagePercentMax",
                values: Some([
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                    0.02,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)