(
    spellData: Some((
        calculations: Some({
            501147496: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 4192376104,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3239398929: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1381664750,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 1711161440,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "AttackRangeBuff",
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                name: "MaxHPPercentDamage",
                values: Some([
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                    7.0,
                ]),
            ),
            (
                name: "BaseDamageReduction",
                values: Some([
                    8.0,
                    10.0,
                    12.0,
                    14.0,
                    16.0,
                    18.0,
                    20.0,
                ]),
            ),
            (
                name: "DamageReductionAP",
                values: Some([
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    -10.0,
                    20.0,
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                ]),
            ),
            (
                name: "BaseDamageAP",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "MonsterDamageCap",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "DefenseDuration",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                name: "AttackDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "TurretDamageMod",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(828.5),
        missileEffectKey: None,
        castType: None,
    )),
)