(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    40.0,
                    80.0,
                    120.0,
                    160.0,
                    200.0,
                    240.0,
                    280.0,
                ]),
            ),
            (
                values: Some([
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                    65.0,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: Some([
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                    150.0,
                ]),
            ),
            (
                values: Some([
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                    70.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            60.0,
            65.0,
            70.0,
            75.0,
            80.0,
            85.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(1000.0),
        missileEffectKey: None,
        castType: None,
    )),
)