(
    spellData: Some((
        calculations: Some({
            "damage_done": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    100.0,
                    200.0,
                    300.0,
                    400.0,
                    500.0,
                    600.0,
                    700.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                    0.8,
                ]),
            ),
            (
                name: "KnockbackDistance",
                values: Some([
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                    900.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(200.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1050.0,
            1050.0,
            1050.0,
            1050.0,
            1050.0,
            1050.0,
            1050.0,
        ]),
        castRadius: Some([
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(120.0),
        castFrame: Some(7.5),
        animationName: Some("Spell4"),
        cooldownTime: Some([
            100.0,
            100.0,
            85.0,
            70.0,
            70.0,
            70.0,
            70.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(7183),
        alternateName: None,
        coefficient: Some(0.8),
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)