(
    events: {
        "Dance3D_leadin": [
            "characters/Viktor/sounds/526229873.ogg",
        ],
        "Dance3D_loop_buffactivate": [
            "characters/Viktor/sounds/124772705.ogg",
        ],
        "Death3D_cast": [
            "characters/Viktor/sounds/183301679.ogg",
        ],
        "Homeguard3D_buffactivate": [
            "characters/Viktor/sounds/626995735.ogg",
        ],
        "Homeguard3D_loop_buffactivate": [
            "characters/Viktor/sounds/648540030.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Viktor/sounds/985306823.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Viktor/sounds/120334493.ogg",
        ],
        "Play_vo_Viktor_Attack2DBaron": [
            "characters/Viktor/sounds/499171564.ogg",
        ],
        "Play_vo_Viktor_Attack2DGeneral": [
            "characters/Viktor/sounds/143325937.ogg",
            "characters/Viktor/sounds/150652919.ogg",
            "characters/Viktor/sounds/271796885.ogg",
            "characters/Viktor/sounds/275054164.ogg",
            "characters/Viktor/sounds/313007966.ogg",
            "characters/Viktor/sounds/393121054.ogg",
            "characters/Viktor/sounds/397112754.ogg",
            "characters/Viktor/sounds/409842705.ogg",
            "characters/Viktor/sounds/439672810.ogg",
            "characters/Viktor/sounds/638669909.ogg",
            "characters/Viktor/sounds/638692589.ogg",
            "characters/Viktor/sounds/723281065.ogg",
            "characters/Viktor/sounds/763404923.ogg",
            "characters/Viktor/sounds/794659446.ogg",
            "characters/Viktor/sounds/959503344.ogg",
            "characters/Viktor/sounds/961874240.ogg",
        ],
        "Play_vo_Viktor_Death3D": [
            "characters/Viktor/sounds/154582433.ogg",
            "characters/Viktor/sounds/622841242.ogg",
            "characters/Viktor/sounds/64506880.ogg",
            "characters/Viktor/sounds/94356314.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DAmbessa": [
            "characters/Viktor/sounds/993882972.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DBlitzcrank": [
            "characters/Viktor/sounds/269143812.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DGeneral": [
            "characters/Viktor/sounds/206175388.ogg",
            "characters/Viktor/sounds/47198642.ogg",
            "characters/Viktor/sounds/516445842.ogg",
            "characters/Viktor/sounds/582166955.ogg",
            "characters/Viktor/sounds/974521973.ogg",
            "characters/Viktor/sounds/991257294.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DHeimerdinger": [
            "characters/Viktor/sounds/876332760.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DJayce": [
            "characters/Viktor/sounds/750214831.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DMel": [
            "characters/Viktor/sounds/394562054.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DOrianna": [
            "characters/Viktor/sounds/439674261.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DSinged": [
            "characters/Viktor/sounds/816095621.ogg",
        ],
        "Play_vo_Viktor_FirstEncounter5DWarwick": [
            "characters/Viktor/sounds/233125564.ogg",
        ],
        "Play_vo_Viktor_Joke3DGeneral": [
            "characters/Viktor/sounds/524194791.ogg",
        ],
        "Play_vo_Viktor_JokeResponse3DGeneral": [
            "characters/Viktor/sounds/18846564.ogg",
        ],
        "Play_vo_Viktor_Kill3DAmbessa": [
            "characters/Viktor/sounds/222309254.ogg",
        ],
        "Play_vo_Viktor_Kill3DBlitzcrank": [
            "characters/Viktor/sounds/230220750.ogg",
        ],
        "Play_vo_Viktor_Kill3DFirst": [
            "characters/Viktor/sounds/193911775.ogg",
        ],
        "Play_vo_Viktor_Kill3DGeneral": [
            "characters/Viktor/sounds/157907683.ogg",
            "characters/Viktor/sounds/220979023.ogg",
            "characters/Viktor/sounds/417919839.ogg",
            "characters/Viktor/sounds/461633949.ogg",
            "characters/Viktor/sounds/501612843.ogg",
            "characters/Viktor/sounds/591535532.ogg",
            "characters/Viktor/sounds/694608778.ogg",
            "characters/Viktor/sounds/731359532.ogg",
        ],
        "Play_vo_Viktor_Kill3DHeimerdinger": [
            "characters/Viktor/sounds/83206122.ogg",
        ],
        "Play_vo_Viktor_Kill3DJayce": [
            "characters/Viktor/sounds/362259648.ogg",
        ],
        "Play_vo_Viktor_Kill3DMel": [
            "characters/Viktor/sounds/749178209.ogg",
        ],
        "Play_vo_Viktor_Kill3DOrianna": [
            "characters/Viktor/sounds/744681840.ogg",
        ],
        "Play_vo_Viktor_Kill3DPenta": [
            "characters/Viktor/sounds/388244060.ogg",
        ],
        "Play_vo_Viktor_Kill3DR": [
            "characters/Viktor/sounds/107257817.ogg",
            "characters/Viktor/sounds/120791491.ogg",
            "characters/Viktor/sounds/184223042.ogg",
        ],
        "Play_vo_Viktor_Kill3DSinged": [
            "characters/Viktor/sounds/463660246.ogg",
        ],
        "Play_vo_Viktor_Kill3DTurret": [
            "characters/Viktor/sounds/169275100.ogg",
            "characters/Viktor/sounds/397135376.ogg",
            "characters/Viktor/sounds/53347630.ogg",
        ],
        "Play_vo_Viktor_Kill3DWarwick": [
            "characters/Viktor/sounds/40927122.ogg",
        ],
        "Play_vo_Viktor_Laugh3DGeneral": [
            "characters/Viktor/sounds/341363333.ogg",
        ],
        "Play_vo_Viktor_Move2DFirst": [
            "characters/Viktor/sounds/183397581.ogg",
            "characters/Viktor/sounds/24733609.ogg",
            "characters/Viktor/sounds/307799101.ogg",
            "characters/Viktor/sounds/624094312.ogg",
            "characters/Viktor/sounds/98245493.ogg",
        ],
        "Play_vo_Viktor_Move2DFirstAllyJayce": [
            "characters/Viktor/sounds/530401212.ogg",
        ],
        "Play_vo_Viktor_Move2DLong": [
            "characters/Viktor/sounds/1017122167.ogg",
            "characters/Viktor/sounds/281133005.ogg",
            "characters/Viktor/sounds/303093045.ogg",
            "characters/Viktor/sounds/458183673.ogg",
            "characters/Viktor/sounds/47636184.ogg",
            "characters/Viktor/sounds/517381265.ogg",
            "characters/Viktor/sounds/573963943.ogg",
            "characters/Viktor/sounds/736506945.ogg",
            "characters/Viktor/sounds/864766964.ogg",
            "characters/Viktor/sounds/880472948.ogg",
        ],
        "Play_vo_Viktor_Move2DStandard": [
            "characters/Viktor/sounds/1002248172.ogg",
            "characters/Viktor/sounds/1016104784.ogg",
            "characters/Viktor/sounds/12719083.ogg",
            "characters/Viktor/sounds/138892253.ogg",
            "characters/Viktor/sounds/158906120.ogg",
            "characters/Viktor/sounds/189997503.ogg",
            "characters/Viktor/sounds/250908528.ogg",
            "characters/Viktor/sounds/317615476.ogg",
            "characters/Viktor/sounds/323937207.ogg",
            "characters/Viktor/sounds/327765788.ogg",
            "characters/Viktor/sounds/342850696.ogg",
            "characters/Viktor/sounds/343928233.ogg",
            "characters/Viktor/sounds/36334346.ogg",
            "characters/Viktor/sounds/366000445.ogg",
            "characters/Viktor/sounds/470517214.ogg",
            "characters/Viktor/sounds/612364480.ogg",
            "characters/Viktor/sounds/670985486.ogg",
            "characters/Viktor/sounds/677012264.ogg",
            "characters/Viktor/sounds/750711498.ogg",
            "characters/Viktor/sounds/817272139.ogg",
            "characters/Viktor/sounds/835351550.ogg",
            "characters/Viktor/sounds/919172737.ogg",
            "characters/Viktor/sounds/921374118.ogg",
            "characters/Viktor/sounds/975923322.ogg",
            "characters/Viktor/sounds/993964580.ogg",
        ],
        "Play_vo_Viktor_Recall3DGeneral": [
            "characters/Viktor/sounds/1002862312.ogg",
            "characters/Viktor/sounds/306079943.ogg",
            "characters/Viktor/sounds/624249158.ogg",
            "characters/Viktor/sounds/649810212.ogg",
            "characters/Viktor/sounds/69510325.ogg",
            "characters/Viktor/sounds/774071192.ogg",
        ],
        "Play_vo_Viktor_Respawn2DGeneral": [
            "characters/Viktor/sounds/312346205.ogg",
            "characters/Viktor/sounds/469402908.ogg",
            "characters/Viktor/sounds/481064453.ogg",
            "characters/Viktor/sounds/700176273.ogg",
            "characters/Viktor/sounds/81998561.ogg",
            "characters/Viktor/sounds/855616738.ogg",
            "characters/Viktor/sounds/863860089.ogg",
            "characters/Viktor/sounds/893490462.ogg",
        ],
        "Play_vo_Viktor_Shop2DOpen": [
            "characters/Viktor/sounds/365925015.ogg",
            "characters/Viktor/sounds/634326241.ogg",
            "characters/Viktor/sounds/644464955.ogg",
            "characters/Viktor/sounds/776810325.ogg",
        ],
        "Play_vo_Viktor_Spell3DWStun": [
            "characters/Viktor/sounds/188189794.ogg",
            "characters/Viktor/sounds/602925819.ogg",
            "characters/Viktor/sounds/815054748.ogg",
        ],
        "Play_vo_Viktor_Taunt3DGeneral": [
            "characters/Viktor/sounds/196830351.ogg",
        ],
        "Play_vo_Viktor_TauntResponse3DGeneral": [
            "characters/Viktor/sounds/738200078.ogg",
        ],
        "Play_vo_Viktor_ViktorBasicAttack2_cast3D": [
            "characters/Viktor/sounds/135450217.ogg",
            "characters/Viktor/sounds/412425309.ogg",
            "characters/Viktor/sounds/463460677.ogg",
            "characters/Viktor/sounds/595164889.ogg",
        ],
        "Play_vo_Viktor_ViktorBasicAttack_cast3D": [
            "characters/Viktor/sounds/135450217.ogg",
            "characters/Viktor/sounds/412425309.ogg",
            "characters/Viktor/sounds/463460677.ogg",
            "characters/Viktor/sounds/595164889.ogg",
        ],
        "Play_vo_Viktor_ViktorCritAttack_cast3D": [
            "characters/Viktor/sounds/135450217.ogg",
            "characters/Viktor/sounds/412425309.ogg",
            "characters/Viktor/sounds/463460677.ogg",
            "characters/Viktor/sounds/595164889.ogg",
        ],
        "Play_vo_Viktor_ViktorE_cast3D": [
            "characters/Viktor/sounds/1025000563.ogg",
            "characters/Viktor/sounds/121816046.ogg",
            "characters/Viktor/sounds/14192832.ogg",
            "characters/Viktor/sounds/301470601.ogg",
            "characters/Viktor/sounds/588948341.ogg",
            "characters/Viktor/sounds/755487460.ogg",
            "characters/Viktor/sounds/869035345.ogg",
        ],
        "Play_vo_Viktor_ViktorQBuff_cast3D": [
            "characters/Viktor/sounds/304477111.ogg",
            "characters/Viktor/sounds/32445660.ogg",
            "characters/Viktor/sounds/410452784.ogg",
            "characters/Viktor/sounds/488339101.ogg",
            "characters/Viktor/sounds/546374401.ogg",
            "characters/Viktor/sounds/748344705.ogg",
            "characters/Viktor/sounds/773665537.ogg",
        ],
        "Play_vo_Viktor_ViktorR_cast3D": [
            "characters/Viktor/sounds/1039510125.ogg",
            "characters/Viktor/sounds/231085102.ogg",
            "characters/Viktor/sounds/482329487.ogg",
            "characters/Viktor/sounds/51828356.ogg",
            "characters/Viktor/sounds/543508119.ogg",
        ],
        "Play_vo_Viktor_ViktorW_cast3D": [
            "characters/Viktor/sounds/206063099.ogg",
            "characters/Viktor/sounds/303409002.ogg",
            "characters/Viktor/sounds/313856012.ogg",
            "characters/Viktor/sounds/421582597.ogg",
            "characters/Viktor/sounds/461156676.ogg",
            "characters/Viktor/sounds/600936769.ogg",
            "characters/Viktor/sounds/842463678.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Viktor/sounds/344894798.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Viktor/sounds/670955993.ogg",
        ],
        "ViktorBasicAttack2_OnCast": [
            "characters/Viktor/sounds/1005216752.ogg",
            "characters/Viktor/sounds/483209.ogg",
            "characters/Viktor/sounds/662988884.ogg",
        ],
        "ViktorBasicAttack2_OnHit": [
            "characters/Viktor/sounds/287686716.ogg",
            "characters/Viktor/sounds/349856111.ogg",
            "characters/Viktor/sounds/922862014.ogg",
        ],
        "ViktorBasicAttack_OnCast": [
            "characters/Viktor/sounds/1005216752.ogg",
            "characters/Viktor/sounds/483209.ogg",
            "characters/Viktor/sounds/662988884.ogg",
        ],
        "ViktorBasicAttack_OnHit": [
            "characters/Viktor/sounds/287686716.ogg",
            "characters/Viktor/sounds/349856111.ogg",
            "characters/Viktor/sounds/922862014.ogg",
        ],
        "ViktorBasicAttack_missilecast": [
            "characters/Viktor/sounds/101152415.ogg",
            "characters/Viktor/sounds/1041844690.ogg",
            "characters/Viktor/sounds/335202855.ogg",
        ],
        "ViktorBasicAttack_missilelaunch": [
            "characters/Viktor/sounds/226868044.ogg",
            "characters/Viktor/sounds/263193400.ogg",
            "characters/Viktor/sounds/356593953.ogg",
        ],
        "ViktorCritAttack_OnCast": [
            "characters/Viktor/sounds/1005216752.ogg",
            "characters/Viktor/sounds/483209.ogg",
            "characters/Viktor/sounds/662988884.ogg",
        ],
        "ViktorCritAttack_OnHit": [
            "characters/Viktor/sounds/287686716.ogg",
            "characters/Viktor/sounds/349856111.ogg",
            "characters/Viktor/sounds/922862014.ogg",
        ],
        "ViktorCritAttack_OnMissileLaunch": [
            "characters/Viktor/sounds/226868044.ogg",
            "characters/Viktor/sounds/263193400.ogg",
            "characters/Viktor/sounds/356593953.ogg",
        ],
        "ViktorCritAttack_missilecast": [
            "characters/Viktor/sounds/101152415.ogg",
            "characters/Viktor/sounds/1041844690.ogg",
            "characters/Viktor/sounds/335202855.ogg",
        ],
        "ViktorEAugMissile_missilelaunch_claw_aug": [
            "characters/Viktor/sounds/46782716.ogg",
            "characters/Viktor/sounds/682727547.ogg",
            "characters/Viktor/sounds/963217928.ogg",
        ],
        "ViktorEAugParticle_missilelaunch": [
            "characters/Viktor/sounds/740768041.ogg",
            "characters/Viktor/sounds/852030125.ogg",
            "characters/Viktor/sounds/979903288.ogg",
        ],
        "ViktorEMissile_hit": [
            "characters/Viktor/sounds/638215974.ogg",
        ],
        "ViktorEMissile_missilelaunch_claw": [
            "characters/Viktor/sounds/232392860.ogg",
            "characters/Viktor/sounds/587682895.ogg",
            "characters/Viktor/sounds/999152467.ogg",
        ],
        "ViktorEMissile_missilelaunch_ground": [
            "characters/Viktor/sounds/183034028.ogg",
        ],
        "ViktorE_OnCast": [
            "characters/Viktor/sounds/317269538.ogg",
        ],
        "ViktorE_missilecast": [
            "characters/Viktor/sounds/718200240.ogg",
        ],
        "ViktorPassive_buffactivate_other": [
            "characters/Viktor/sounds/132173066.ogg",
            "characters/Viktor/sounds/554919579.ogg",
            "characters/Viktor/sounds/798605092.ogg",
        ],
        "ViktorPassive_buffactivate_self": [
            "characters/Viktor/sounds/1055760268.ogg",
            "characters/Viktor/sounds/813871298.ogg",
            "characters/Viktor/sounds/987220853.ogg",
        ],
        "ViktorQBuff_OnCast": [
            "characters/Viktor/sounds/744100474.ogg",
        ],
        "ViktorQBuff_buffactivate": [
            "characters/Viktor/sounds/942675018.ogg",
        ],
        "ViktorQBuff_hit": [
            "characters/Viktor/sounds/531075080.ogg",
        ],
        "ViktorQBuff_missilelaunch": [
            "characters/Viktor/sounds/41800209.ogg",
        ],
        "ViktorQReturn_OnBuffDeactivate": [
            "characters/Viktor/sounds/760600724.ogg",
        ],
        "ViktorQ_OnCast": [
            "characters/Viktor/sounds/366956455.ogg",
        ],
        "ViktorQ_OnHit": [
            "characters/Viktor/sounds/748611133.ogg",
        ],
        "ViktorQ_buffactivate": [
            "characters/Viktor/sounds/643230895.ogg",
        ],
        "ViktorQ_buffactivate_loop": [
            "characters/Viktor/sounds/686794005.ogg",
        ],
        "ViktorQ_buffdeactivate": [
            "characters/Viktor/sounds/890378706.ogg",
        ],
        "ViktorQ_missilecast": [
            "characters/Viktor/sounds/602002344.ogg",
        ],
        "ViktorQ_missilelaunch": [
            "characters/Viktor/sounds/103931219.ogg",
        ],
        "ViktorRAOE_buffactivate_grow": [
            "characters/Viktor/sounds/118319555.ogg",
        ],
        "ViktorRExpirationTimer_OnBuffActivate": [
            "characters/Viktor/sounds/387889027.ogg",
            "characters/Viktor/sounds/688809274.ogg",
        ],
        "ViktorRExpirationTimer_OnBuffDeactivate": [
            "characters/Viktor/sounds/276419545.ogg",
        ],
        "ViktorRTimer_OnBuffDeactivate": [
            "characters/Viktor/sounds/311168950.ogg",
        ],
        "ViktorRTimer_buffactivate": [
            "characters/Viktor/sounds/678047519.ogg",
        ],
        "ViktorR_OnCast": [
            "characters/Viktor/sounds/492941568.ogg",
        ],
        "ViktorR_OnHitLocation": [
            "characters/Viktor/sounds/822444257.ogg",
        ],
        "ViktorR_hit": [
            "characters/Viktor/sounds/411302885.ogg",
            "characters/Viktor/sounds/480072102.ogg",
            "characters/Viktor/sounds/97748433.ogg",
        ],
        "ViktorR_hit_initial": [
            "characters/Viktor/sounds/265099124.ogg",
        ],
        "ViktorWDebuffSlow_buffactivate": [
            "characters/Viktor/sounds/168379789.ogg",
            "characters/Viktor/sounds/422715930.ogg",
            "characters/Viktor/sounds/572214596.ogg",
        ],
        "ViktorW_OnCast": [
            "characters/Viktor/sounds/501318637.ogg",
        ],
        "ViktorW_OnHitLocation": [
            "characters/Viktor/sounds/118191803.ogg",
        ],
        "ViktorW_buffactivate": [
            "characters/Viktor/sounds/528795499.ogg",
            "characters/Viktor/sounds/753870695.ogg",
        ],
        "ViktorW_buffdeactivate": [
            "characters/Viktor/sounds/269938831.ogg",
        ],
        "Winddown3D_buffactivate": [
            "characters/Viktor/sounds/636798684.ogg",
        ],
    },
)