(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    35.0,
                    80.0,
                    125.0,
                    170.0,
                    215.0,
                    260.0,
                    305.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1200.0),
                startBoneName: None,
            ),
        )),
        hitBoneName: None,
        missileSpeed: Some(1200.0),
        missileEffectKey: Some(3576353893),
        castType: Some(1),
    )),
)