(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1800.0),
                startBoneName: None,
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_BuffBone_Glb_Center_Loc"),
        missileSpeed: None,
        missileEffectKey: Some(2345751960),
        castType: Some(3),
        castRange: Some([
            1300.0,
            1300.0,
            1300.0,
            1300.0,
            1300.0,
            1300.0,
            1300.0,
        ]),
        castRadius: None,
        castConeAngle: Some(0.0),
        castConeDistance: Some(0.0),
        lineWidth: None,
        castFrame: Some(12.0),
        animationName: Some(""),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: Some(3224240442),
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)