(
    spellData: Some((
        calculations: Some({
            3484084320: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.2),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1166929275: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 383788463,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "DashRange",
                values: Some([
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                    350.0,
                ]),
            ),
            (
                name: "DashSpeed",
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                name: "WallCheatDistance",
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "BaseAttackSpeed",
                values: Some([
                    5.0,
                    20.0,
                    35.0,
                    50.0,
                    65.0,
                    80.0,
                    95.0,
                ]),
            ),
            (
                name: "CDRefund",
                values: Some([
                    0.15,
                    0.25,
                    0.35,
                    0.45,
                    0.55,
                    0.65,
                    0.75,
                ]),
            ),
            (
                name: "BonusAttackRange",
                values: Some([
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                ]),
            ),
        ]),
        mana: Some([
            35.0,
            35.0,
            35.0,
            35.0,
            35.0,
            35.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(700.0),
        missileEffectKey: None,
        castType: None,
    )),
)