(
    spellData: Some((
        calculations: Some({
            "empowered_ms": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "move_speed",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_shield": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_shield",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(12),
                        dataValue: "health_shield",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    60.0,
                    60.0,
                    90.0,
                    120.0,
                    150.0,
                    180.0,
                    210.0,
                ]),
            ),
            (
                values: Some([
                    10.0,
                    10.0,
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    30.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "HeatCost",
                values: Some([
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                ]),
            ),
            (
                name: "BaseShield",
                values: Some([
                    -5.0,
                    25.0,
                    55.0,
                    85.0,
                    115.0,
                    145.0,
                    175.0,
                ]),
            ),
            (
                name: "HealthShield",
                values: Some([
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                ]),
            ),
            (
                name: "MoveSpeed",
                values: Some([
                    0.05,
                    0.1,
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                    0.35,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "ShieldDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "MoveSpeedDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(828.5),
        missileEffectKey: None,
        castType: None,
    )),
)