(
    spellData: Some((
        calculations: Some({
            "champ_healing_percent": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(8),
                        coefficient: Some(0.1),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "damage_base",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "damage_per_tick_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "damage_per_tick",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.1),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "shield_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "shield_base",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Duration",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "DamageBase",
                values: Some([
                    25.0,
                    125.0,
                    225.0,
                    325.0,
                    425.0,
                    525.0,
                    625.0,
                ]),
            ),
            (
                name: "ShieldBase",
                values: Some([
                    15.0,
                    65.0,
                    115.0,
                    165.0,
                    215.0,
                    265.0,
                    315.0,
                ]),
            ),
            (
                name: "DamagePerTick",
                values: Some([
                    5.0,
                    15.0,
                    25.0,
                    35.0,
                    45.0,
                    55.0,
                    65.0,
                ]),
            ),
            (
                name: "OtherHealingPercent",
                values: Some([
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                    0.1,
                ]),
            ),
            (
                name: "Microslow",
                values: Some([
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                ]),
            ),
            (
                name: "NumTicks",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
            (
                name: "TickDelay",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)