(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: None,
        animationName: Some("Idle1"),
        cooldownTime: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(4106),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)