(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    10.0,
                    45.0,
                    80.0,
                    115.0,
                    150.0,
                    185.0,
                    220.0,
                ]),
            ),
            (
                values: Some([
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                ]),
            ),
            (
                values: Some([
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                    15.0,
                ]),
            ),
            (
                values: Some([
                    10.0,
                    45.0,
                    80.0,
                    115.0,
                    150.0,
                    185.0,
                    220.0,
                ]),
            ),
            (
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1600.0),
                startBoneName: Some("weapon"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: None,
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("C_BuffBone_Glb_Center_Loc"),
        missileSpeed: Some(1600.0),
        missileEffectKey: Some(2760620838),
        castType: Some(1),
        castRange: Some([
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
            500.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(8.0),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6282),
        alternateName: Some("KindredEWrapper"),
        coefficient: Some(0.5),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)