(
    spellData: Some((
        calculations: Some({
            1759244075: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1253694117,
                    ),
                ]),
                multiplier: None,
                precision: Some(1),
            ),
            2528048467: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            3674411801: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 3543365352,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 1727577746,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    40.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                    65.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                values: Some([
                    8.5,
                    8.5,
                    8.5,
                    8.5,
                    8.5,
                    8.5,
                    8.5,
                ]),
            ),
            (
                values: Some([
                    25.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                ]),
            ),
            (
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "LambToWolfAttackSpeedConversionPercent",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "RingRange",
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "CloneBasePercentDamage",
                values: Some([
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                    0.015,
                ]),
            ),
            (
                name: "CloneDamageFlat",
                values: Some([
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                ]),
            ),
            (
                name: "CloneADRatio",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "ClonePercentDamagePerBounty",
                values: Some([
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                    0.01,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)