(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                    100.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "AttackSpeed",
                values: Some([
                    0.0,
                    0.05,
                    0.1,
                    0.15,
                    0.2,
                    0.25,
                    0.3,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    35.0,
                    80.0,
                    125.0,
                    170.0,
                    215.0,
                    260.0,
                    305.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                    0.9,
                ]),
            ),
            (
                name: "ShredAmount",
                values: Some([
                    12.0,
                    16.0,
                    20.0,
                    24.0,
                    28.0,
                    32.0,
                    36.0,
                ]),
            ),
            (
                name: "ShredDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1650.0),
                startBoneName: Some("C_Mouth_d"),
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: Some(70.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("C_BUFFBONE_GLB_LAYOUT_LOC"),
        missileSpeed: Some(1650.0),
        missileEffectKey: Some(716831127),
        castType: Some(3),
        castRange: Some([
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(70.0),
        castFrame: Some(7.53),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            7.0,
            7.0,
            7.0,
            7.0,
            7.0,
            7.0,
            7.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: Some(1355469355),
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)