(
    spellData: Some((
        calculations: Some({
            3763009024: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1508461632,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.75),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Damage",
                values: Some([
                    60.0,
                    100.0,
                    140.0,
                    180.0,
                    220.0,
                    260.0,
                    300.0,
                ]),
            ),
            (
                name: "ManaCostDuration",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "Range",
                values: Some([
                    105.0,
                    130.0,
                    155.0,
                    180.0,
                    205.0,
                    230.0,
                    255.0,
                ]),
            ),
            (
                name: "BaseCost",
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                name: "ManaCostCap",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "VisionDebuffDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "FinalDamageMult",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "MaxExtraCost",
                values: Some([
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                    360.0,
                ]),
            ),
            (
                name: "VisionRadius",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "MidDamageMult",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "TooltipMissingHealthDamageAmp",
                values: Some([
                    0.83333,
                    0.83333,
                    0.83333,
                    0.83333,
                    0.83333,
                    0.83333,
                    0.83333,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.35,
                    0.35,
                    0.4,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)