(
    spellData: Some((
        calculations: Some({
            "ally_healing_perc": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "total_heal_per_wave": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_heal_per_wave",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.12),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_missile_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_missile_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.25),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "UltLength",
                values: Some([
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                    1300.0,
                ]),
            ),
            (
                name: "BaseMissileDamage",
                values: Some([
                    25.0,
                    75.0,
                    125.0,
                    175.0,
                    225.0,
                    275.0,
                    325.0,
                ]),
            ),
            (
                name: "MultiMissileReduction",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "CCDuration",
                values: Some([
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                    1.25,
                ]),
            ),
            (
                name: "UltDuration",
                values: Some([
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                    3.5,
                ]),
            ),
            (
                name: "NumberOfWaves",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "WavesToRoot",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "TimeBetweenWaves",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "MissileSlowPercent",
                values: Some([
                    -0.4,
                    -0.4,
                    -0.4,
                    -0.4,
                    -0.4,
                    -0.4,
                    -0.4,
                ]),
            ),
            (
                name: "SpaceBehindWave",
                values: Some([
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                    200.0,
                ]),
            ),
            (
                name: "BaseHealPerWave",
                values: Some([
                    10.0,
                    30.0,
                    50.0,
                    70.0,
                    90.0,
                    110.0,
                    130.0,
                ]),
            ),
            (
                name: "BaseSlow",
                values: Some([
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                ]),
            ),
            (
                name: "BonusSlowPerWave",
                values: Some([
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                    -0.1,
                ]),
            ),
            (
                name: "OvershieldBonusDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "DegreesPerTick",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)