(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: Some([
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
            90.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(100.0),
        missileEffectKey: Some(3553023680),
        castType: None,
        castRange: Some([
            1150.0,
            1150.0,
            1150.0,
            1150.0,
            1150.0,
            1150.0,
            1150.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: Some(65.0),
        castFrame: None,
        animationName: Some("Spell1_detached"),
        cooldownTime: Some([
            14.0,
            13.5,
            12.0,
            10.5,
            9.0,
            7.5,
            6.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)