(
    spellData: Some((
        calculations: Some({
            "on_hit_damage_calc": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.05),
                        statFormula: None,
                    ),
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "on_hit_base",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_missile_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "missile_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_missile_damage_empowered": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "empowered_missile_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "empowered_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "MissileDamage",
                values: Some([
                    25.0,
                    60.0,
                    95.0,
                    130.0,
                    165.0,
                    200.0,
                    235.0,
                ]),
            ),
            (
                name: "SlowAmount",
                values: Some([
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "TimeToAfterburners",
                values: Some([
                    1.35,
                    1.35,
                    1.35,
                    1.35,
                    1.35,
                    1.35,
                    1.35,
                ]),
            ),
            (
                name: "MissileLifetime",
                values: Some([
                    1.85,
                    1.85,
                    1.85,
                    1.85,
                    1.85,
                    1.85,
                    1.85,
                ]),
            ),
            (
                name: "StartingSpeed",
                values: Some([
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                    650.0,
                ]),
            ),
            (
                name: "AfterburnerSpeed",
                values: Some([
                    950.0,
                    950.0,
                    950.0,
                    950.0,
                    950.0,
                    950.0,
                    950.0,
                ]),
            ),
            (
                name: "InitialTimeDelay",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "MissileStartingOffset",
                values: Some([
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                ]),
            ),
            (
                name: "EmpoweredSlowAmount",
                values: Some([
                    47.0,
                    50.0,
                    53.0,
                    56.0,
                    59.0,
                    62.0,
                    65.0,
                ]),
            ),
            (
                name: "EmpoweredSlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "EmpoweredMissileDamage",
                values: Some([
                    25.0,
                    80.0,
                    135.0,
                    190.0,
                    245.0,
                    300.0,
                    355.0,
                ]),
            ),
            (
                name: "OnHitBase",
                values: Some([
                    8.0,
                    10.0,
                    12.0,
                    14.0,
                    16.0,
                    18.0,
                    20.0,
                ]),
            ),
            (
                name: "AllyCritChanceMaxAmp",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                    0.2,
                ]),
            ),
            (
                name: "EmpoweredAPRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            75.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(100.0),
        missileEffectKey: Some(3553023680),
        castType: None,
    )),
)