(
    events: {
        "Dance3D_buffactivate": [
            "characters/Sejuani/sounds/1036947377.ogg",
            "characters/Sejuani/sounds/1065486693.ogg",
            "characters/Sejuani/sounds/714543566.ogg",
        ],
        "Dance3D_cast": [
            "characters/Sejuani/sounds/1036947377.ogg",
            "characters/Sejuani/sounds/1065486693.ogg",
            "characters/Sejuani/sounds/714543566.ogg",
        ],
        "Death3D_cast": [
            "characters/Sejuani/sounds/48434677.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Sejuani/sounds/711534477.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Sejuani/sounds/982139861.ogg",
        ],
        "Play_vo_Sejuani_Attack2DGeneral": [
            "characters/Sejuani/sounds/108803090.ogg",
            "characters/Sejuani/sounds/150709926.ogg",
            "characters/Sejuani/sounds/223723319.ogg",
            "characters/Sejuani/sounds/254542344.ogg",
            "characters/Sejuani/sounds/345008149.ogg",
            "characters/Sejuani/sounds/406210458.ogg",
            "characters/Sejuani/sounds/528089828.ogg",
            "characters/Sejuani/sounds/531108732.ogg",
            "characters/Sejuani/sounds/789205368.ogg",
            "characters/Sejuani/sounds/811914206.ogg",
            "characters/Sejuani/sounds/84135968.ogg",
            "characters/Sejuani/sounds/866358014.ogg",
            "characters/Sejuani/sounds/877996503.ogg",
            "characters/Sejuani/sounds/976072385.ogg",
        ],
        "Play_vo_Sejuani_Death3D": [
            "characters/Sejuani/sounds/1065871172.ogg",
            "characters/Sejuani/sounds/365587670.ogg",
            "characters/Sejuani/sounds/500782163.ogg",
            "characters/Sejuani/sounds/551539941.ogg",
        ],
        "Play_vo_Sejuani_FirstEncounter3DAshe": [
            "characters/Sejuani/sounds/1024691525.ogg",
            "characters/Sejuani/sounds/609168613.ogg",
        ],
        "Play_vo_Sejuani_FirstEncounter3DLissandra": [
            "characters/Sejuani/sounds/625120207.ogg",
            "characters/Sejuani/sounds/681236721.ogg",
        ],
        "Play_vo_Sejuani_Joke3DGeneral": [
            "characters/Sejuani/sounds/651473595.ogg",
            "characters/Sejuani/sounds/914189531.ogg",
        ],
        "Play_vo_Sejuani_Kill3DPenta": [
            "characters/Sejuani/sounds/991147124.ogg",
        ],
        "Play_vo_Sejuani_Laugh3DGeneral": [
            "characters/Sejuani/sounds/225458158.ogg",
            "characters/Sejuani/sounds/400956411.ogg",
            "characters/Sejuani/sounds/52370110.ogg",
            "characters/Sejuani/sounds/866693576.ogg",
        ],
        "Play_vo_Sejuani_Move2DStandard": [
            "characters/Sejuani/sounds/1018231967.ogg",
            "characters/Sejuani/sounds/1033932849.ogg",
            "characters/Sejuani/sounds/1039177640.ogg",
            "characters/Sejuani/sounds/1064527979.ogg",
            "characters/Sejuani/sounds/230104419.ogg",
            "characters/Sejuani/sounds/3370896.ogg",
            "characters/Sejuani/sounds/340350457.ogg",
            "characters/Sejuani/sounds/381444745.ogg",
            "characters/Sejuani/sounds/402192786.ogg",
            "characters/Sejuani/sounds/555794193.ogg",
            "characters/Sejuani/sounds/591437438.ogg",
            "characters/Sejuani/sounds/894827802.ogg",
            "characters/Sejuani/sounds/911956528.ogg",
            "characters/Sejuani/sounds/916734304.ogg",
            "characters/Sejuani/sounds/939708995.ogg",
        ],
        "Play_vo_Sejuani_SejuaniQ_cast3D": [
            "characters/Sejuani/sounds/1041158468.ogg",
            "characters/Sejuani/sounds/392493520.ogg",
            "characters/Sejuani/sounds/696745425.ogg",
            "characters/Sejuani/sounds/782240741.ogg",
            "characters/Sejuani/sounds/784158994.ogg",
            "characters/Sejuani/sounds/99419468.ogg",
        ],
        "Play_vo_Sejuani_SejuaniR_cast3D": [
            "characters/Sejuani/sounds/422375983.ogg",
            "characters/Sejuani/sounds/698216798.ogg",
        ],
        "Play_vo_Sejuani_SejuaniW_cast3D": [
            "characters/Sejuani/sounds/41695727.ogg",
            "characters/Sejuani/sounds/450750692.ogg",
            "characters/Sejuani/sounds/534931555.ogg",
            "characters/Sejuani/sounds/843431947.ogg",
            "characters/Sejuani/sounds/942899770.ogg",
        ],
        "Play_vo_Sejuani_Taunt3DGeneral": [
            "characters/Sejuani/sounds/133596579.ogg",
            "characters/Sejuani/sounds/307696392.ogg",
            "characters/Sejuani/sounds/86663704.ogg",
        ],
        "SejuaniBasicAttack2_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniBasicAttack2_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniBasicAttack3_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniBasicAttack3_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniBasicAttackW_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniBasicAttackW_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniBasicAttack_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniBasicAttack_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniCritAttack2_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniCritAttack2_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniCritAttack3_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniCritAttack3_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniCritAttack_OnCast": [
            "characters/Sejuani/sounds/102565705.ogg",
            "characters/Sejuani/sounds/232195293.ogg",
            "characters/Sejuani/sounds/35571413.ogg",
            "characters/Sejuani/sounds/44305448.ogg",
        ],
        "SejuaniCritAttack_OnHit": [
            "characters/Sejuani/sounds/11341568.ogg",
            "characters/Sejuani/sounds/140917363.ogg",
            "characters/Sejuani/sounds/186216499.ogg",
            "characters/Sejuani/sounds/215682810.ogg",
            "characters/Sejuani/sounds/272106387.ogg",
            "characters/Sejuani/sounds/297093396.ogg",
            "characters/Sejuani/sounds/310561806.ogg",
            "characters/Sejuani/sounds/313812630.ogg",
            "characters/Sejuani/sounds/478318255.ogg",
            "characters/Sejuani/sounds/491818376.ogg",
            "characters/Sejuani/sounds/71235010.ogg",
            "characters/Sejuani/sounds/762115671.ogg",
            "characters/Sejuani/sounds/822730635.ogg",
            "characters/Sejuani/sounds/884697817.ogg",
            "characters/Sejuani/sounds/898096371.ogg",
            "characters/Sejuani/sounds/90956301.ogg",
        ],
        "SejuaniE2_OnCast": [
            "characters/Sejuani/sounds/362398252.ogg",
            "characters/Sejuani/sounds/786506686.ogg",
            "characters/Sejuani/sounds/899057910.ogg",
            "characters/Sejuani/sounds/948255396.ogg",
        ],
        "SejuaniE2_OnHit": [
            "characters/Sejuani/sounds/120384618.ogg",
            "characters/Sejuani/sounds/31196920.ogg",
            "characters/Sejuani/sounds/401333469.ogg",
            "characters/Sejuani/sounds/983927746.ogg",
        ],
        "SejuaniE2_OnMissileLaunch": [
            "characters/Sejuani/sounds/477232013.ogg",
            "characters/Sejuani/sounds/837900305.ogg",
            "characters/Sejuani/sounds/9374572.ogg",
        ],
        "SejuaniE2_buffdeactivate": [
            "characters/Sejuani/sounds/1032168025.ogg",
            "characters/Sejuani/sounds/725261880.ogg",
            "characters/Sejuani/sounds/823173531.ogg",
            "characters/Sejuani/sounds/960707746.ogg",
        ],
        "SejuaniEPassiveMissile_OnHit": [
            "characters/Sejuani/sounds/247630358.ogg",
            "characters/Sejuani/sounds/249375172.ogg",
            "characters/Sejuani/sounds/7122722.ogg",
            "characters/Sejuani/sounds/718588437.ogg",
        ],
        "SejuaniEPassiveMissile_OnMissileCast": [
            "characters/Sejuani/sounds/503757628.ogg",
            "characters/Sejuani/sounds/828472082.ogg",
            "characters/Sejuani/sounds/866587781.ogg",
            "characters/Sejuani/sounds/99521428.ogg",
        ],
        "SejuaniEStack4_Minion_hit": [
            "characters/Sejuani/sounds/315491060.ogg",
            "characters/Sejuani/sounds/795726426.ogg",
        ],
        "SejuaniEStack4_hit": [
            "characters/Sejuani/sounds/315491060.ogg",
            "characters/Sejuani/sounds/795726426.ogg",
        ],
        "SejuaniP_hit": [
            "characters/Sejuani/sounds/419930362.ogg",
            "characters/Sejuani/sounds/691787529.ogg",
            "characters/Sejuani/sounds/802151484.ogg",
            "characters/Sejuani/sounds/837623053.ogg",
        ],
        "SejuaniPassiveDefense_OnBuffActivate": [
            "characters/Sejuani/sounds/19829084.ogg",
            "characters/Sejuani/sounds/753827818.ogg",
            "characters/Sejuani/sounds/904917923.ogg",
        ],
        "SejuaniPassiveDefense_OnBuffDeactivate": [
            "characters/Sejuani/sounds/1027957536.ogg",
            "characters/Sejuani/sounds/134312879.ogg",
            "characters/Sejuani/sounds/266243205.ogg",
            "characters/Sejuani/sounds/852729598.ogg",
        ],
        "SejuaniQ_hit": [
            "characters/Sejuani/sounds/733234595.ogg",
            "characters/Sejuani/sounds/786166350.ogg",
            "characters/Sejuani/sounds/846556638.ogg",
            "characters/Sejuani/sounds/96526843.ogg",
        ],
        "SejuaniQ_hit_minion": [
            "characters/Sejuani/sounds/733234595.ogg",
            "characters/Sejuani/sounds/786166350.ogg",
            "characters/Sejuani/sounds/846556638.ogg",
            "characters/Sejuani/sounds/96526843.ogg",
        ],
        "SejuaniRMissile_OnMissileLaunch": [
            "characters/Sejuani/sounds/1030719636.ogg",
            "characters/Sejuani/sounds/231901050.ogg",
            "characters/Sejuani/sounds/672507771.ogg",
            "characters/Sejuani/sounds/993604365.ogg",
        ],
        "SejuaniR_OnCast": [
            "characters/Sejuani/sounds/134326829.ogg",
            "characters/Sejuani/sounds/180956134.ogg",
            "characters/Sejuani/sounds/299038451.ogg",
            "characters/Sejuani/sounds/740106887.ogg",
        ],
        "SejuaniR_hit": [
            "characters/Sejuani/sounds/154357279.ogg",
            "characters/Sejuani/sounds/375865538.ogg",
            "characters/Sejuani/sounds/376582059.ogg",
            "characters/Sejuani/sounds/800421044.ogg",
        ],
        "SejuaniR_hit2": [
            "characters/Sejuani/sounds/153508721.ogg",
            "characters/Sejuani/sounds/376425795.ogg",
            "characters/Sejuani/sounds/379262397.ogg",
            "characters/Sejuani/sounds/72222258.ogg",
        ],
        "SejuaniR_hit_close": [
            "characters/Sejuani/sounds/375865538.ogg",
            "characters/Sejuani/sounds/376582059.ogg",
            "characters/Sejuani/sounds/749471198.ogg",
            "characters/Sejuani/sounds/800421044.ogg",
        ],
        "SejuaniR_miss": [
            "characters/Sejuani/sounds/32991684.ogg",
            "characters/Sejuani/sounds/572467555.ogg",
            "characters/Sejuani/sounds/638587596.ogg",
            "characters/Sejuani/sounds/88510124.ogg",
        ],
        "SejuaniR_ramp": [
            "characters/Sejuani/sounds/114996452.ogg",
            "characters/Sejuani/sounds/803323121.ogg",
        ],
        "SejuaniW1_hit": [
            "characters/Sejuani/sounds/134318323.ogg",
            "characters/Sejuani/sounds/221307032.ogg",
            "characters/Sejuani/sounds/571510364.ogg",
            "characters/Sejuani/sounds/624252430.ogg",
        ],
        "SejuaniW1_minion_hit": [
            "characters/Sejuani/sounds/134318323.ogg",
            "characters/Sejuani/sounds/221307032.ogg",
            "characters/Sejuani/sounds/571510364.ogg",
            "characters/Sejuani/sounds/624252430.ogg",
        ],
        "SejuaniW2_hit": [
            "characters/Sejuani/sounds/199755871.ogg",
            "characters/Sejuani/sounds/244870930.ogg",
            "characters/Sejuani/sounds/330774980.ogg",
            "characters/Sejuani/sounds/39325513.ogg",
        ],
        "SejuaniW2_minion_hit": [
            "characters/Sejuani/sounds/199755871.ogg",
            "characters/Sejuani/sounds/244870930.ogg",
            "characters/Sejuani/sounds/330774980.ogg",
            "characters/Sejuani/sounds/39325513.ogg",
        ],
        "SejuaniW_OnCast": [
            "characters/Sejuani/sounds/1066563964.ogg",
            "characters/Sejuani/sounds/199010983.ogg",
            "characters/Sejuani/sounds/215393615.ogg",
            "characters/Sejuani/sounds/301882331.ogg",
            "characters/Sejuani/sounds/555773071.ogg",
            "characters/Sejuani/sounds/821524636.ogg",
            "characters/Sejuani/sounds/827612929.ogg",
            "characters/Sejuani/sounds/854302056.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Sejuani/sounds/455091799.ogg",
        ],
    },
)