(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SlowPercent",
                values: Some([
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                    65.0,
                    70.0,
                    75.0,
                ]),
            ),
            (
                name: "WDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "WRadius",
                values: Some([
                    265.0,
                    265.0,
                    265.0,
                    265.0,
                    265.0,
                    265.0,
                    265.0,
                ]),
            ),
            (
                name: "DelayExecute",
                values: Some([
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                    0.375,
                ]),
            ),
            (
                name: "Radius",
                values: None,
            ),
        ]),
        mana: Some([
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("C_BuffBone_Glb_Center_Loc"),
        missileSpeed: Some(700.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
        ]),
        castRadius: Some([
            265.0,
            265.0,
            265.0,
            265.0,
            265.0,
            265.0,
            265.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(20.4),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            17.0,
            17.0,
            16.0,
            15.0,
            14.0,
            13.0,
            13.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)