(
    spellData: Some((
        calculations: Some({
            "damage_per_second": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage_per_second",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio_per_second",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamagePerSecond",
                values: Some([
                    10.0,
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                ]),
            ),
            (
                name: "APRatioPerSecond",
                values: Some([
                    0.425,
                    0.425,
                    0.425,
                    0.425,
                    0.425,
                    0.425,
                    0.425,
                ]),
            ),
            (
                name: "ToggleCooldown",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "CloudDuration",
                values: Some([
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                    3.25,
                ]),
            ),
            (
                name: "PoisonDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "TicksPerSecond",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "MaxLingerTicks",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "DamagePerTick",
                values: None,
            ),
        ]),
        mana: Some([
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
            13.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(347.8),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(20.21),
        animationName: None,
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(9221),
        alternateName: None,
        coefficient: Some(0.1),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)