(
    spellData: Some((
        calculations: Some({
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    0.0,
                    4.0,
                    4.0,
                    4.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.0,
                    50.0,
                    75.0,
                    100.0,
                    0.0,
                    0.0,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    30.0,
                    50.0,
                    70.0,
                    90.0,
                    110.0,
                    130.0,
                    150.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "CDResetTime",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            45.0,
            50.0,
            55.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
    )),
)