(
    events: {
        "Base_Dance3D_buffactivate": [
            "characters/Gangplank/sounds/29435265.ogg",
            "characters/Gangplank/sounds/394551006.ogg",
            "characters/Gangplank/sounds/767468195.ogg",
            "characters/Gangplank/sounds/874855264.ogg",
        ],
        "Base_Death3D_buffactivate": [
            "characters/Gangplank/sounds/837004580.ogg",
        ],
        "Base_Joke3D_buffactivate": [
            "characters/Gangplank/sounds/475733183.ogg",
            "characters/Gangplank/sounds/565680447.ogg",
            "characters/Gangplank/sounds/673448540.ogg",
        ],
        "Base_Joke3D_loop": [
            "characters/Gangplank/sounds/13955913.ogg",
            "characters/Gangplank/sounds/144764171.ogg",
            "characters/Gangplank/sounds/234995622.ogg",
            "characters/Gangplank/sounds/331474636.ogg",
            "characters/Gangplank/sounds/40995504.ogg",
            "characters/Gangplank/sounds/677034719.ogg",
        ],
        "Base_Laugh3D_buffactivate": [
            "characters/Gangplank/sounds/521672495.ogg",
        ],
        "Base_Recall3D_buffactivate": [
            "characters/Gangplank/sounds/327489509.ogg",
        ],
        "Base_Recall3D_winddown_buffactivate": [
            "characters/Gangplank/sounds/398174791.ogg",
        ],
        "Base_Taunt3D_buffactivate": [
            "characters/Gangplank/sounds/605494863.ogg",
        ],
        "GangplankBasicAttack_OnCast": [
            "characters/Gangplank/sounds/347437089.ogg",
            "characters/Gangplank/sounds/474735320.ogg",
            "characters/Gangplank/sounds/520888390.ogg",
            "characters/Gangplank/sounds/899831901.ogg",
        ],
        "GangplankBasicAttack_OnHit": [
            "characters/Gangplank/sounds/106196110.ogg",
            "characters/Gangplank/sounds/1064784252.ogg",
            "characters/Gangplank/sounds/196073961.ogg",
            "characters/Gangplank/sounds/220059073.ogg",
            "characters/Gangplank/sounds/226925413.ogg",
            "characters/Gangplank/sounds/247649545.ogg",
            "characters/Gangplank/sounds/271731483.ogg",
            "characters/Gangplank/sounds/292703694.ogg",
            "characters/Gangplank/sounds/335386466.ogg",
            "characters/Gangplank/sounds/366975019.ogg",
            "characters/Gangplank/sounds/396997688.ogg",
            "characters/Gangplank/sounds/402194076.ogg",
            "characters/Gangplank/sounds/452821629.ogg",
            "characters/Gangplank/sounds/457694655.ogg",
            "characters/Gangplank/sounds/474630589.ogg",
            "characters/Gangplank/sounds/508579981.ogg",
            "characters/Gangplank/sounds/562656647.ogg",
            "characters/Gangplank/sounds/613477429.ogg",
            "characters/Gangplank/sounds/658594303.ogg",
            "characters/Gangplank/sounds/855853845.ogg",
            "characters/Gangplank/sounds/88783192.ogg",
            "characters/Gangplank/sounds/915174456.ogg",
            "characters/Gangplank/sounds/921753652.ogg",
            "characters/Gangplank/sounds/93735940.ogg",
            "characters/Gangplank/sounds/999051133.ogg",
        ],
        "GangplankBilgewaterToken_buffcast": [
            "characters/Gangplank/sounds/829102551.ogg",
        ],
        "GangplankCritAttack_OnCast": [
            "characters/Gangplank/sounds/305140125.ogg",
            "characters/Gangplank/sounds/540886208.ogg",
            "characters/Gangplank/sounds/745091602.ogg",
            "characters/Gangplank/sounds/89214903.ogg",
        ],
        "GangplankCritAttack_OnHit": [
            "characters/Gangplank/sounds/106196110.ogg",
            "characters/Gangplank/sounds/1064784252.ogg",
            "characters/Gangplank/sounds/196073961.ogg",
            "characters/Gangplank/sounds/220059073.ogg",
            "characters/Gangplank/sounds/226925413.ogg",
            "characters/Gangplank/sounds/247649545.ogg",
            "characters/Gangplank/sounds/271731483.ogg",
            "characters/Gangplank/sounds/292703694.ogg",
            "characters/Gangplank/sounds/335386466.ogg",
            "characters/Gangplank/sounds/366975019.ogg",
            "characters/Gangplank/sounds/396997688.ogg",
            "characters/Gangplank/sounds/402194076.ogg",
            "characters/Gangplank/sounds/452821629.ogg",
            "characters/Gangplank/sounds/457694655.ogg",
            "characters/Gangplank/sounds/474630589.ogg",
            "characters/Gangplank/sounds/508579981.ogg",
            "characters/Gangplank/sounds/562656647.ogg",
            "characters/Gangplank/sounds/613477429.ogg",
            "characters/Gangplank/sounds/658594303.ogg",
            "characters/Gangplank/sounds/855853845.ogg",
            "characters/Gangplank/sounds/88783192.ogg",
            "characters/Gangplank/sounds/915174456.ogg",
            "characters/Gangplank/sounds/921753652.ogg",
            "characters/Gangplank/sounds/93735940.ogg",
            "characters/Gangplank/sounds/999051133.ogg",
        ],
        "GangplankEBarrelLife_OnBuffCast": [
            "characters/Gangplank/sounds/535922693.ogg",
            "characters/Gangplank/sounds/781887169.ogg",
            "characters/Gangplank/sounds/807691105.ogg",
        ],
        "GangplankE_OnCast": [
            "characters/Gangplank/sounds/1064083516.ogg",
        ],
        "GangplankE_powderburn": [
            "characters/Gangplank/sounds/1049500585.ogg",
            "characters/Gangplank/sounds/126376715.ogg",
            "characters/Gangplank/sounds/240002768.ogg",
        ],
        "GangplankPassiveAttackDoT_OnBuffCast": [
            "characters/Gangplank/sounds/147534476.ogg",
            "characters/Gangplank/sounds/167178050.ogg",
            "characters/Gangplank/sounds/447099805.ogg",
            "characters/Gangplank/sounds/671540322.ogg",
        ],
        "GangplankPassiveAttack_OnBuffCast": [
            "characters/Gangplank/sounds/1004981959.ogg",
            "characters/Gangplank/sounds/344529787.ogg",
            "characters/Gangplank/sounds/81650419.ogg",
            "characters/Gangplank/sounds/87183950.ogg",
        ],
        "GangplankQProceedCrit_Cast_Swing": [
            "characters/Gangplank/sounds/104662128.ogg",
            "characters/Gangplank/sounds/281360005.ogg",
            "characters/Gangplank/sounds/617272353.ogg",
            "characters/Gangplank/sounds/642612138.ogg",
            "characters/Gangplank/sounds/758224583.ogg",
            "characters/Gangplank/sounds/874783271.ogg",
        ],
        "GangplankQProceedCrit_OnCast": [
            "characters/Gangplank/sounds/428562507.ogg",
            "characters/Gangplank/sounds/476157417.ogg",
            "characters/Gangplank/sounds/927639868.ogg",
        ],
        "GangplankQProceedCrit_OnHit": [
            "characters/Gangplank/sounds/106196110.ogg",
            "characters/Gangplank/sounds/171594181.ogg",
            "characters/Gangplank/sounds/196073961.ogg",
            "characters/Gangplank/sounds/211847500.ogg",
            "characters/Gangplank/sounds/220059073.ogg",
            "characters/Gangplank/sounds/247649545.ogg",
            "characters/Gangplank/sounds/271731483.ogg",
            "characters/Gangplank/sounds/292703694.ogg",
            "characters/Gangplank/sounds/29918995.ogg",
            "characters/Gangplank/sounds/303706192.ogg",
            "characters/Gangplank/sounds/335386466.ogg",
            "characters/Gangplank/sounds/366975019.ogg",
            "characters/Gangplank/sounds/396997688.ogg",
            "characters/Gangplank/sounds/452821629.ogg",
            "characters/Gangplank/sounds/457694655.ogg",
            "characters/Gangplank/sounds/474630589.ogg",
            "characters/Gangplank/sounds/478643456.ogg",
            "characters/Gangplank/sounds/613477429.ogg",
            "characters/Gangplank/sounds/635594064.ogg",
            "characters/Gangplank/sounds/643420700.ogg",
            "characters/Gangplank/sounds/861253874.ogg",
            "characters/Gangplank/sounds/88783192.ogg",
            "characters/Gangplank/sounds/93735940.ogg",
            "characters/Gangplank/sounds/951568050.ogg",
        ],
        "GangplankQProceedCrit_OnMissileLaunch": [
            "characters/Gangplank/sounds/221641970.ogg",
            "characters/Gangplank/sounds/428469026.ogg",
            "characters/Gangplank/sounds/496023506.ogg",
        ],
        "GangplankQProceed_Cast_Point": [
            "characters/Gangplank/sounds/206263774.ogg",
            "characters/Gangplank/sounds/281360005.ogg",
            "characters/Gangplank/sounds/485191160.ogg",
            "characters/Gangplank/sounds/642612138.ogg",
            "characters/Gangplank/sounds/874783271.ogg",
            "characters/Gangplank/sounds/893498056.ogg",
        ],
        "GangplankQProceed_Cast_Swing": [
            "characters/Gangplank/sounds/104662128.ogg",
            "characters/Gangplank/sounds/281360005.ogg",
            "characters/Gangplank/sounds/617272353.ogg",
            "characters/Gangplank/sounds/642612138.ogg",
            "characters/Gangplank/sounds/758224583.ogg",
            "characters/Gangplank/sounds/874783271.ogg",
        ],
        "GangplankQProceed_OnCast": [
            "characters/Gangplank/sounds/428562507.ogg",
            "characters/Gangplank/sounds/476157417.ogg",
            "characters/Gangplank/sounds/927639868.ogg",
        ],
        "GangplankQProceed_OnHit": [
            "characters/Gangplank/sounds/106196110.ogg",
            "characters/Gangplank/sounds/171594181.ogg",
            "characters/Gangplank/sounds/196073961.ogg",
            "characters/Gangplank/sounds/211847500.ogg",
            "characters/Gangplank/sounds/220059073.ogg",
            "characters/Gangplank/sounds/247649545.ogg",
            "characters/Gangplank/sounds/271731483.ogg",
            "characters/Gangplank/sounds/292703694.ogg",
            "characters/Gangplank/sounds/29918995.ogg",
            "characters/Gangplank/sounds/303706192.ogg",
            "characters/Gangplank/sounds/335386466.ogg",
            "characters/Gangplank/sounds/366975019.ogg",
            "characters/Gangplank/sounds/396997688.ogg",
            "characters/Gangplank/sounds/452821629.ogg",
            "characters/Gangplank/sounds/457694655.ogg",
            "characters/Gangplank/sounds/474630589.ogg",
            "characters/Gangplank/sounds/478643456.ogg",
            "characters/Gangplank/sounds/613477429.ogg",
            "characters/Gangplank/sounds/635594064.ogg",
            "characters/Gangplank/sounds/643420700.ogg",
            "characters/Gangplank/sounds/861253874.ogg",
            "characters/Gangplank/sounds/88783192.ogg",
            "characters/Gangplank/sounds/93735940.ogg",
            "characters/Gangplank/sounds/951568050.ogg",
        ],
        "GangplankQProceed_OnMissileLaunch": [
            "characters/Gangplank/sounds/221641970.ogg",
            "characters/Gangplank/sounds/428469026.ogg",
            "characters/Gangplank/sounds/496023506.ogg",
        ],
        "GangplankRSpeed_OnBuffCast": [
            "characters/Gangplank/sounds/331441681.ogg",
        ],
        "GangplankRZoneSpeed_buffactivate": [
            "characters/Gangplank/sounds/753648998.ogg",
        ],
        "GangplankR_OnCast": [
            "characters/Gangplank/sounds/891184154.ogg",
        ],
        "GangplankR_bigshot": [
            "characters/Gangplank/sounds/51009149.ogg",
        ],
        "GangplankR_bomb_hit": [
            "characters/Gangplank/sounds/342762822.ogg",
            "characters/Gangplank/sounds/358223647.ogg",
            "characters/Gangplank/sounds/385030761.ogg",
            "characters/Gangplank/sounds/409538674.ogg",
            "characters/Gangplank/sounds/517072948.ogg",
            "characters/Gangplank/sounds/563604420.ogg",
            "characters/Gangplank/sounds/652609746.ogg",
            "characters/Gangplank/sounds/744174751.ogg",
        ],
        "GangplankR_distantshots": [
            "characters/Gangplank/sounds/575445626.ogg",
            "characters/Gangplank/sounds/840039408.ogg",
            "characters/Gangplank/sounds/852734004.ogg",
        ],
        "GangplankSerpentCeremony_buffcast": [
            "characters/Gangplank/sounds/600847946.ogg",
        ],
        "GangplankWAudioCleanse_OnBuffCast": [
            "characters/Gangplank/sounds/243064843.ogg",
            "characters/Gangplank/sounds/418119934.ogg",
            "characters/Gangplank/sounds/752821251.ogg",
        ],
        "GangplankW_OnCast": [
            "characters/Gangplank/sounds/246621490.ogg",
            "characters/Gangplank/sounds/699311101.ogg",
            "characters/Gangplank/sounds/916392598.ogg",
        ],
        "GangplankW_foley": [
            "characters/Gangplank/sounds/28112933.ogg",
            "characters/Gangplank/sounds/295418942.ogg",
            "characters/Gangplank/sounds/630754804.ogg",
            "characters/Gangplank/sounds/799262830.ogg",
        ],
        "Play_vo_Gangplank_Attack2DGeneral": [
            "characters/Gangplank/sounds/1018250302.ogg",
            "characters/Gangplank/sounds/1036821163.ogg",
            "characters/Gangplank/sounds/1052888335.ogg",
            "characters/Gangplank/sounds/1060253825.ogg",
            "characters/Gangplank/sounds/152293988.ogg",
            "characters/Gangplank/sounds/287507569.ogg",
            "characters/Gangplank/sounds/288000463.ogg",
            "characters/Gangplank/sounds/317462816.ogg",
            "characters/Gangplank/sounds/447072515.ogg",
            "characters/Gangplank/sounds/509056856.ogg",
            "characters/Gangplank/sounds/523530542.ogg",
            "characters/Gangplank/sounds/602017201.ogg",
            "characters/Gangplank/sounds/67650856.ogg",
            "characters/Gangplank/sounds/742162339.ogg",
            "characters/Gangplank/sounds/758534263.ogg",
            "characters/Gangplank/sounds/776763177.ogg",
            "characters/Gangplank/sounds/890889309.ogg",
            "characters/Gangplank/sounds/905095318.ogg",
            "characters/Gangplank/sounds/954819246.ogg",
        ],
        "Play_vo_Gangplank_BuyItem2DBloodthirster": [
            "characters/Gangplank/sounds/205006831.ogg",
            "characters/Gangplank/sounds/660788766.ogg",
            "characters/Gangplank/sounds/951185901.ogg",
        ],
        "Play_vo_Gangplank_BuyItem2DInfinityEdge": [
            "characters/Gangplank/sounds/181850011.ogg",
            "characters/Gangplank/sounds/671585135.ogg",
            "characters/Gangplank/sounds/784035353.ogg",
        ],
        "Play_vo_Gangplank_BuyItem2DSerpentsFang": [
            "characters/Gangplank/sounds/34705518.ogg",
            "characters/Gangplank/sounds/706013946.ogg",
            "characters/Gangplank/sounds/985546509.ogg",
        ],
        "Play_vo_Gangplank_BuyItem2DStatikkShiv": [
            "characters/Gangplank/sounds/1021343589.ogg",
            "characters/Gangplank/sounds/682849374.ogg",
        ],
        "Play_vo_Gangplank_BuyItem2DTrinityForce": [
            "characters/Gangplank/sounds/241846701.ogg",
            "characters/Gangplank/sounds/519533488.ogg",
            "characters/Gangplank/sounds/536279942.ogg",
        ],
        "Play_vo_Gangplank_Death3D": [
            "characters/Gangplank/sounds/1036415635.ogg",
            "characters/Gangplank/sounds/410987787.ogg",
            "characters/Gangplank/sounds/876875285.ogg",
            "characters/Gangplank/sounds/895742790.ogg",
        ],
        "Play_vo_Gangplank_FirstEncounter3DGraves": [
            "characters/Gangplank/sounds/842239705.ogg",
            "characters/Gangplank/sounds/849026318.ogg",
        ],
        "Play_vo_Gangplank_FirstEncounter3DMissFortune": [
            "characters/Gangplank/sounds/287125760.ogg",
        ],
        "Play_vo_Gangplank_FirstEncounter3DTwistedFate": [
            "characters/Gangplank/sounds/197100832.ogg",
        ],
        "Play_vo_Gangplank_GangplankBasicAttack_cast3D": [
            "characters/Gangplank/sounds/1005080168.ogg",
            "characters/Gangplank/sounds/384135486.ogg",
            "characters/Gangplank/sounds/493619376.ogg",
            "characters/Gangplank/sounds/577138167.ogg",
        ],
        "Play_vo_Gangplank_GangplankCritAttack_cast3D": [
            "characters/Gangplank/sounds/1005080168.ogg",
            "characters/Gangplank/sounds/384135486.ogg",
            "characters/Gangplank/sounds/493619376.ogg",
            "characters/Gangplank/sounds/577138167.ogg",
        ],
        "Play_vo_Gangplank_GangplankE_cast3D": [
            "characters/Gangplank/sounds/1004932988.ogg",
            "characters/Gangplank/sounds/1039903881.ogg",
            "characters/Gangplank/sounds/148473344.ogg",
            "characters/Gangplank/sounds/182013281.ogg",
            "characters/Gangplank/sounds/2931053.ogg",
            "characters/Gangplank/sounds/300425889.ogg",
            "characters/Gangplank/sounds/414824426.ogg",
            "characters/Gangplank/sounds/971101624.ogg",
        ],
        "Play_vo_Gangplank_GangplankQProceedCrit_cast3D": [
            "characters/Gangplank/sounds/188351549.ogg",
            "characters/Gangplank/sounds/243669499.ogg",
            "characters/Gangplank/sounds/630628627.ogg",
            "characters/Gangplank/sounds/656150989.ogg",
        ],
        "Play_vo_Gangplank_GangplankQProceedCrit_hit3D": [
            "characters/Gangplank/sounds/392573093.ogg",
            "characters/Gangplank/sounds/711995340.ogg",
            "characters/Gangplank/sounds/87841384.ogg",
        ],
        "Play_vo_Gangplank_GangplankQProceed_cast3D": [
            "characters/Gangplank/sounds/188351549.ogg",
            "characters/Gangplank/sounds/243669499.ogg",
            "characters/Gangplank/sounds/630628627.ogg",
            "characters/Gangplank/sounds/656150989.ogg",
        ],
        "Play_vo_Gangplank_GangplankQProceed_hit3D": [
            "characters/Gangplank/sounds/392573093.ogg",
            "characters/Gangplank/sounds/711995340.ogg",
            "characters/Gangplank/sounds/87841384.ogg",
        ],
        "Play_vo_Gangplank_GangplankRUpgradeOne": [
            "characters/Gangplank/sounds/420254074.ogg",
            "characters/Gangplank/sounds/529435480.ogg",
            "characters/Gangplank/sounds/692662048.ogg",
        ],
        "Play_vo_Gangplank_GangplankRUpgradeThree": [
            "characters/Gangplank/sounds/374104289.ogg",
            "characters/Gangplank/sounds/593504145.ogg",
            "characters/Gangplank/sounds/776627118.ogg",
        ],
        "Play_vo_Gangplank_GangplankRUpgradeTwo": [
            "characters/Gangplank/sounds/369261149.ogg",
            "characters/Gangplank/sounds/478240585.ogg",
            "characters/Gangplank/sounds/771327135.ogg",
        ],
        "Play_vo_Gangplank_GangplankR_cast3D": [
            "characters/Gangplank/sounds/109730070.ogg",
            "characters/Gangplank/sounds/146525297.ogg",
            "characters/Gangplank/sounds/344446972.ogg",
            "characters/Gangplank/sounds/437739098.ogg",
            "characters/Gangplank/sounds/70448162.ogg",
        ],
        "Play_vo_Gangplank_GangplankR_laugh": [
            "characters/Gangplank/sounds/1007530831.ogg",
            "characters/Gangplank/sounds/1072099243.ogg",
            "characters/Gangplank/sounds/510854353.ogg",
        ],
        "Play_vo_Gangplank_GangplankW_cast3D": [
            "characters/Gangplank/sounds/1024080463.ogg",
            "characters/Gangplank/sounds/170956782.ogg",
            "characters/Gangplank/sounds/172580740.ogg",
            "characters/Gangplank/sounds/368535965.ogg",
            "characters/Gangplank/sounds/618958660.ogg",
            "characters/Gangplank/sounds/624418179.ogg",
            "characters/Gangplank/sounds/645916583.ogg",
            "characters/Gangplank/sounds/683796114.ogg",
            "characters/Gangplank/sounds/774458020.ogg",
            "characters/Gangplank/sounds/820843287.ogg",
            "characters/Gangplank/sounds/87007567.ogg",
        ],
        "Play_vo_Gangplank_Joke3DGeneral": [
            "characters/Gangplank/sounds/224027601.ogg",
            "characters/Gangplank/sounds/635744668.ogg",
            "characters/Gangplank/sounds/659259413.ogg",
            "characters/Gangplank/sounds/805956383.ogg",
        ],
        "Play_vo_Gangplank_Kill3DGraves": [
            "characters/Gangplank/sounds/120481407.ogg",
            "characters/Gangplank/sounds/193879693.ogg",
            "characters/Gangplank/sounds/835099724.ogg",
        ],
        "Play_vo_Gangplank_Kill3DMissFortune": [
            "characters/Gangplank/sounds/143874646.ogg",
            "characters/Gangplank/sounds/595077994.ogg",
            "characters/Gangplank/sounds/918708479.ogg",
        ],
        "Play_vo_Gangplank_Kill3DTwistedFate": [
            "characters/Gangplank/sounds/386588814.ogg",
            "characters/Gangplank/sounds/43344961.ogg",
            "characters/Gangplank/sounds/805083429.ogg",
        ],
        "Play_vo_Gangplank_Laugh3DGeneral": [
            "characters/Gangplank/sounds/1003104562.ogg",
            "characters/Gangplank/sounds/1006828954.ogg",
            "characters/Gangplank/sounds/192383839.ogg",
        ],
        "Play_vo_Gangplank_Move2DFirst": [
            "characters/Gangplank/sounds/127854701.ogg",
            "characters/Gangplank/sounds/563217674.ogg",
            "characters/Gangplank/sounds/967211442.ogg",
        ],
        "Play_vo_Gangplank_Move2DStandard": [
            "characters/Gangplank/sounds/1003784788.ogg",
            "characters/Gangplank/sounds/1045774523.ogg",
            "characters/Gangplank/sounds/1048174876.ogg",
            "characters/Gangplank/sounds/108943243.ogg",
            "characters/Gangplank/sounds/145198478.ogg",
            "characters/Gangplank/sounds/229368981.ogg",
            "characters/Gangplank/sounds/232204864.ogg",
            "characters/Gangplank/sounds/308431730.ogg",
            "characters/Gangplank/sounds/353321121.ogg",
            "characters/Gangplank/sounds/390710036.ogg",
            "characters/Gangplank/sounds/46320819.ogg",
            "characters/Gangplank/sounds/49367260.ogg",
            "characters/Gangplank/sounds/555790003.ogg",
            "characters/Gangplank/sounds/574021656.ogg",
            "characters/Gangplank/sounds/623503735.ogg",
            "characters/Gangplank/sounds/707100797.ogg",
            "characters/Gangplank/sounds/721351755.ogg",
            "characters/Gangplank/sounds/724699541.ogg",
            "characters/Gangplank/sounds/771830221.ogg",
            "characters/Gangplank/sounds/778618184.ogg",
            "characters/Gangplank/sounds/780657104.ogg",
            "characters/Gangplank/sounds/866340542.ogg",
            "characters/Gangplank/sounds/877387605.ogg",
            "characters/Gangplank/sounds/961655484.ogg",
        ],
        "Play_vo_Gangplank_Recall3DGeneral": [
            "characters/Gangplank/sounds/521140847.ogg",
            "characters/Gangplank/sounds/725945869.ogg",
            "characters/Gangplank/sounds/73204544.ogg",
        ],
        "Play_vo_Gangplank_Spell3DEEnd": [
            "characters/Gangplank/sounds/1021576811.ogg",
            "characters/Gangplank/sounds/262902485.ogg",
            "characters/Gangplank/sounds/354373202.ogg",
            "characters/Gangplank/sounds/593928090.ogg",
            "characters/Gangplank/sounds/686208469.ogg",
        ],
        "Play_vo_Gangplank_Taunt3DGeneral": [
            "characters/Gangplank/sounds/724599264.ogg",
            "characters/Gangplank/sounds/739169474.ogg",
            "characters/Gangplank/sounds/95293201.ogg",
            "characters/Gangplank/sounds/978404041.ogg",
        ],
        "Play_vo_Gangplank_UseItem2DWard": [
            "characters/Gangplank/sounds/17865692.ogg",
            "characters/Gangplank/sounds/395157282.ogg",
            "characters/Gangplank/sounds/90356085.ogg",
        ],
    },
)