(
    spellData: Some((
        calculations: Some({
            69352241: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            143708584: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: 3379615240,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1251293691: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            2389517200: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            4249921529: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "CooldownReduceOnKill",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "CooldownReduceOnAbilityHit",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "PackmateBaseAS",
                values: Some([
                    0.688,
                    0.688,
                    0.688,
                    0.688,
                    0.688,
                    0.688,
                    0.688,
                ]),
            ),
            (
                name: "PackmateBaseMS",
                values: Some([
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                    340.0,
                ]),
            ),
            (
                name: "PackmateModifierTooltipOnly",
                values: Some([
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                ]),
            ),
            (
                name: "LeapSpeed",
                values: Some([
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                ]),
            ),
            (
                name: "LeapMin",
                values: Some([
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                    75.0,
                ]),
            ),
            (
                name: "LeapMax",
                values: Some([
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                    1200.0,
                ]),
            ),
            (
                name: "PackmateTowerModifier",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "PackmateMonsterMod",
                values: Some([
                    1.55,
                    1.55,
                    1.55,
                    1.55,
                    1.55,
                    1.55,
                    1.55,
                ]),
            ),
            (
                name: "PackmateTauntDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "PackmateLastHitHelpCD",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
            (
                name: "PackmateCSHelpRadiusMax",
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                name: "PackmateCSHelpRadiusMin",
                values: Some([
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                    300.0,
                ]),
            ),
            (
                name: "PackmateFrenzyDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "PackmateFrenzyMaxCounters",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "PackmateFrenzyDamageMult",
                values: Some([
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                    1.3,
                ]),
            ),
            (
                name: "ProcDamageModifier",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "HealthRegenDelay",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "HealthRegenPercent",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "NonChampDamageModifier",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "MeleeAttackDamageModifier",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "PackmateBonusADRatio",
                values: Some([
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                    0.04,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)