(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(4000.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            225.0,
            225.0,
            225.0,
            225.0,
            225.0,
            225.0,
            225.0,
        ]),
        castRadius: Some([
            250.0,
            250.0,
            250.0,
            250.0,
            250.0,
            250.0,
            250.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(60.0),
        castFrame: Some(8.0),
        animationName: Some("Spell3"),
        cooldownTime: Some([
            12.0,
            12.0,
            12.0,
            12.0,
            12.0,
            12.0,
            12.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("RekSaiE"),
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)