(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                    1500.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    85.0,
                    85.0,
                    85.0,
                    85.0,
                    85.0,
                    85.0,
                    85.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                values: Some([
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                    180.0,
                ]),
            ),
            (
                values: Some([
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                    225.0,
                ]),
            ),
            (
                values: Some([
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                    0.15,
                ]),
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1500.0,
            1500.0,
            1500.0,
            1500.0,
            1500.0,
            1500.0,
            1500.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(14.52),
        animationName: Some("Spell3_landing"),
        cooldownTime: Some([
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
            4.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(7183),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)