(
    events: {
        "Bloblet_Death": [
            "characters/Zac/sounds/311354111.ogg",
            "characters/Zac/sounds/616878437.ogg",
            "characters/Zac/sounds/710367077.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Zac/sounds/767804472.ogg",
        ],
        "Joke3D_buffactivate2": [
            "characters/Zac/sounds/671270048.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Zac/sounds/4472520.ogg",
        ],
        "Laugh3D_buffactivate2": [
            "characters/Zac/sounds/270803867.ogg",
        ],
        "Play_vo_Zac_Attack2DGeneral": [
            "characters/Zac/sounds/1051152896.ogg",
            "characters/Zac/sounds/1053881844.ogg",
            "characters/Zac/sounds/192576874.ogg",
            "characters/Zac/sounds/193923045.ogg",
            "characters/Zac/sounds/25235199.ogg",
            "characters/Zac/sounds/271045005.ogg",
            "characters/Zac/sounds/276726977.ogg",
            "characters/Zac/sounds/370604965.ogg",
            "characters/Zac/sounds/409853557.ogg",
            "characters/Zac/sounds/525088464.ogg",
            "characters/Zac/sounds/569273206.ogg",
            "characters/Zac/sounds/673089658.ogg",
            "characters/Zac/sounds/742279353.ogg",
            "characters/Zac/sounds/954421833.ogg",
        ],
        "Play_vo_Zac_Death3D": [
            "characters/Zac/sounds/261168832.ogg",
            "characters/Zac/sounds/424813723.ogg",
            "characters/Zac/sounds/45656970.ogg",
            "characters/Zac/sounds/962528284.ogg",
        ],
        "Play_vo_Zac_Laugh3DGeneral": [
            "characters/Zac/sounds/142418073.ogg",
            "characters/Zac/sounds/244493688.ogg",
            "characters/Zac/sounds/498611322.ogg",
            "characters/Zac/sounds/835191612.ogg",
        ],
        "Play_vo_Zac_Move2DStandard": [
            "characters/Zac/sounds/1039456644.ogg",
            "characters/Zac/sounds/126303466.ogg",
            "characters/Zac/sounds/236125040.ogg",
            "characters/Zac/sounds/259128257.ogg",
            "characters/Zac/sounds/361711252.ogg",
            "characters/Zac/sounds/439567754.ogg",
            "characters/Zac/sounds/500673787.ogg",
            "characters/Zac/sounds/536519593.ogg",
            "characters/Zac/sounds/611382315.ogg",
            "characters/Zac/sounds/620883991.ogg",
            "characters/Zac/sounds/660643169.ogg",
            "characters/Zac/sounds/686148739.ogg",
            "characters/Zac/sounds/93594442.ogg",
            "characters/Zac/sounds/962961522.ogg",
        ],
        "Play_vo_Zac_Spell3DE2Cast": [
            "characters/Zac/sounds/1000326599.ogg",
            "characters/Zac/sounds/48929257.ogg",
            "characters/Zac/sounds/914811377.ogg",
            "characters/Zac/sounds/979177727.ogg",
        ],
        "Play_vo_Zac_Spell3DPReviveStart": [
            "characters/Zac/sounds/275286140.ogg",
            "characters/Zac/sounds/311212184.ogg",
            "characters/Zac/sounds/375334065.ogg",
            "characters/Zac/sounds/852840409.ogg",
        ],
        "Play_vo_Zac_Taunt3DGeneral": [
            "characters/Zac/sounds/300617062.ogg",
            "characters/Zac/sounds/643173086.ogg",
        ],
        "Play_vo_Zac_ZacBasicAttack2_cast3D": [
            "characters/Zac/sounds/184922904.ogg",
            "characters/Zac/sounds/235763646.ogg",
            "characters/Zac/sounds/948101619.ogg",
            "characters/Zac/sounds/989533760.ogg",
        ],
        "Play_vo_Zac_ZacBasicAttack_cast3D": [
            "characters/Zac/sounds/184922904.ogg",
            "characters/Zac/sounds/235763646.ogg",
            "characters/Zac/sounds/948101619.ogg",
            "characters/Zac/sounds/989533760.ogg",
        ],
        "Play_vo_Zac_ZacCritAttack_cast3D": [
            "characters/Zac/sounds/184922904.ogg",
            "characters/Zac/sounds/235763646.ogg",
            "characters/Zac/sounds/948101619.ogg",
            "characters/Zac/sounds/989533760.ogg",
        ],
        "Play_vo_Zac_ZacE_cast3D": [
            "characters/Zac/sounds/154869085.ogg",
            "characters/Zac/sounds/552554269.ogg",
            "characters/Zac/sounds/740801528.ogg",
            "characters/Zac/sounds/822819858.ogg",
        ],
        "Play_vo_Zac_ZacQ_cast3D": [
            "characters/Zac/sounds/1071820380.ogg",
            "characters/Zac/sounds/427483807.ogg",
            "characters/Zac/sounds/579074207.ogg",
            "characters/Zac/sounds/945884870.ogg",
        ],
        "Play_vo_Zac_ZacR_buffactivate": [
            "characters/Zac/sounds/1030866910.ogg",
            "characters/Zac/sounds/828868323.ogg",
            "characters/Zac/sounds/966939936.ogg",
        ],
        "Play_vo_Zac_ZacR_cast3D": [
            "characters/Zac/sounds/415024396.ogg",
            "characters/Zac/sounds/637656847.ogg",
            "characters/Zac/sounds/976356826.ogg",
        ],
        "Play_vo_Zac_ZacW_cast3D": [
            "characters/Zac/sounds/323153579.ogg",
            "characters/Zac/sounds/522328348.ogg",
            "characters/Zac/sounds/637864136.ogg",
            "characters/Zac/sounds/923401894.ogg",
        ],
        "Recallleadin": [
            "characters/Zac/sounds/779676819.ogg",
        ],
        "Respawn": [
            "characters/Zac/sounds/320080182.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Zac/sounds/638197735.ogg",
        ],
        "ZacBasicAttack2_OnCast": [
            "characters/Zac/sounds/177309164.ogg",
            "characters/Zac/sounds/186461237.ogg",
            "characters/Zac/sounds/262632944.ogg",
            "characters/Zac/sounds/57451166.ogg",
        ],
        "ZacBasicAttack2_OnHit": [
            "characters/Zac/sounds/1002139871.ogg",
            "characters/Zac/sounds/1018459941.ogg",
            "characters/Zac/sounds/1066063237.ogg",
            "characters/Zac/sounds/131461224.ogg",
            "characters/Zac/sounds/144343221.ogg",
            "characters/Zac/sounds/23238404.ogg",
            "characters/Zac/sounds/253614378.ogg",
            "characters/Zac/sounds/277026049.ogg",
            "characters/Zac/sounds/306348904.ogg",
            "characters/Zac/sounds/312388062.ogg",
            "characters/Zac/sounds/401620553.ogg",
            "characters/Zac/sounds/42066270.ogg",
            "characters/Zac/sounds/428267295.ogg",
            "characters/Zac/sounds/439091268.ogg",
            "characters/Zac/sounds/442679164.ogg",
            "characters/Zac/sounds/489998994.ogg",
            "characters/Zac/sounds/502359021.ogg",
            "characters/Zac/sounds/520579940.ogg",
            "characters/Zac/sounds/540292713.ogg",
            "characters/Zac/sounds/541022298.ogg",
            "characters/Zac/sounds/735132002.ogg",
            "characters/Zac/sounds/756659648.ogg",
            "characters/Zac/sounds/80097717.ogg",
            "characters/Zac/sounds/963472117.ogg",
        ],
        "ZacBasicAttack_OnCast": [
            "characters/Zac/sounds/177309164.ogg",
            "characters/Zac/sounds/186461237.ogg",
            "characters/Zac/sounds/262632944.ogg",
            "characters/Zac/sounds/57451166.ogg",
        ],
        "ZacBasicAttack_OnHit": [
            "characters/Zac/sounds/1002139871.ogg",
            "characters/Zac/sounds/1018459941.ogg",
            "characters/Zac/sounds/1066063237.ogg",
            "characters/Zac/sounds/131461224.ogg",
            "characters/Zac/sounds/144343221.ogg",
            "characters/Zac/sounds/23238404.ogg",
            "characters/Zac/sounds/253614378.ogg",
            "characters/Zac/sounds/277026049.ogg",
            "characters/Zac/sounds/306348904.ogg",
            "characters/Zac/sounds/312388062.ogg",
            "characters/Zac/sounds/401620553.ogg",
            "characters/Zac/sounds/42066270.ogg",
            "characters/Zac/sounds/428267295.ogg",
            "characters/Zac/sounds/439091268.ogg",
            "characters/Zac/sounds/442679164.ogg",
            "characters/Zac/sounds/489998994.ogg",
            "characters/Zac/sounds/502359021.ogg",
            "characters/Zac/sounds/520579940.ogg",
            "characters/Zac/sounds/540292713.ogg",
            "characters/Zac/sounds/541022298.ogg",
            "characters/Zac/sounds/735132002.ogg",
            "characters/Zac/sounds/756659648.ogg",
            "characters/Zac/sounds/80097717.ogg",
            "characters/Zac/sounds/963472117.ogg",
        ],
        "ZacCritAttack_OnCast": [
            "characters/Zac/sounds/177309164.ogg",
            "characters/Zac/sounds/186461237.ogg",
            "characters/Zac/sounds/262632944.ogg",
            "characters/Zac/sounds/57451166.ogg",
        ],
        "ZacCritAttack_OnHit": [
            "characters/Zac/sounds/125881298.ogg",
            "characters/Zac/sounds/676940668.ogg",
            "characters/Zac/sounds/7223417.ogg",
            "characters/Zac/sounds/783874600.ogg",
        ],
        "ZacWPassive_buffactivate_heal": [
            "characters/Zac/sounds/1051624629.ogg",
            "characters/Zac/sounds/999463951.ogg",
        ],
        "ZacWPassive_buffdeactivate_death": [
            "characters/Zac/sounds/1029469704.ogg",
        ],
        "death3d_cast": [
            "characters/Zac/sounds/1032888229.ogg",
            "characters/Zac/sounds/169193541.ogg",
        ],
        "zacrebirthstart_OnBuffActivate": [
            "characters/Zac/sounds/1047524716.ogg",
            "characters/Zac/sounds/634266182.ogg",
            "characters/Zac/sounds/688203175.ogg",
            "characters/Zac/sounds/694313454.ogg",
            "characters/Zac/sounds/777080859.ogg",
            "characters/Zac/sounds/886204298.ogg",
            "characters/Zac/sounds/898668241.ogg",
            "characters/Zac/sounds/931517525.ogg",
            "characters/Zac/sounds/964442859.ogg",
        ],
    },
)