(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                    50.0,
                    55.0,
                    60.0,
                ]),
            ),
            (
                values: Some([
                    2.75,
                    2.75,
                    2.75,
                    2.75,
                    2.75,
                    2.75,
                    2.75,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: Some([
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                    800.0,
                ]),
            ),
            (
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "CherryNegaHaste",
                values: Some([
                    -20.0,
                    -20.0,
                    -20.0,
                    -20.0,
                    -20.0,
                    -20.0,
                    -20.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1600.0),
                startBoneName: Some("Root"),
                tracksTarget: None,
                projectTargetToCastRange: None,
                useHeightOffsetAtEnd: None,
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: Some(90.0),
            behaviors: Some([
                DestroyOnMovementComplete,
            ]),
            heightSolver: None,
            verticalFacing: None,
        )),
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(1600.0),
        missileEffectKey: None,
        castType: Some(1),
        castRange: Some([
            375.0,
            375.0,
            375.0,
            375.0,
            375.0,
            375.0,
            375.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(90.0),
        castFrame: None,
        animationName: Some("None"),
        cooldownTime: Some([
            16.0,
            15.0,
            14.0,
            13.0,
            12.0,
            11.0,
            11.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(14346),
        alternateName: Some("WarwickE"),
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)