(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25550.0,
            25550.0,
            25550.0,
            25550.0,
            25550.0,
            25550.0,
            25550.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(20.16),
        animationName: Some("None"),
        cooldownTime: Some([
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(7183),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)