(
    events: {
        "Dance3D_buffactivate": [
            "characters/Jhin/sounds/752937687.ogg",
        ],
        "Dance3D_loop": [
            "characters/Jhin/sounds/668159741.ogg",
        ],
        "Death3D_cast": [
            "characters/Jhin/sounds/486763252.ogg",
        ],
        "Idle_Passive_buffactivate": [
            "characters/Jhin/sounds/3587469.ogg",
            "characters/Jhin/sounds/382442491.ogg",
            "characters/Jhin/sounds/72158857.ogg",
        ],
        "Idle_buffactivate": [
            "characters/Jhin/sounds/190647397.ogg",
        ],
        "JhinBasicAttack2_OnCast": [
            "characters/Jhin/sounds/137317093.ogg",
        ],
        "JhinBasicAttack2_OnHit": [
            "characters/Jhin/sounds/19197881.ogg",
            "characters/Jhin/sounds/26751908.ogg",
            "characters/Jhin/sounds/989996.ogg",
        ],
        "JhinBasicAttack2_OnMissileCast": [
            "characters/Jhin/sounds/390113516.ogg",
            "characters/Jhin/sounds/486934273.ogg",
            "characters/Jhin/sounds/505400768.ogg",
        ],
        "JhinBasicAttack2_OnMissileLaunch": [
            "characters/Jhin/sounds/278011448.ogg",
            "characters/Jhin/sounds/47172935.ogg",
        ],
        "JhinBasicAttack3_OnCast": [
            "characters/Jhin/sounds/137317093.ogg",
        ],
        "JhinBasicAttack3_OnHit": [
            "characters/Jhin/sounds/19197881.ogg",
            "characters/Jhin/sounds/26751908.ogg",
            "characters/Jhin/sounds/989996.ogg",
        ],
        "JhinBasicAttack3_OnMissileCast": [
            "characters/Jhin/sounds/212741367.ogg",
            "characters/Jhin/sounds/626346670.ogg",
        ],
        "JhinBasicAttack3_OnMissileLaunch": [
            "characters/Jhin/sounds/278011448.ogg",
            "characters/Jhin/sounds/47172935.ogg",
        ],
        "JhinBasicAttack_OnCast": [
            "characters/Jhin/sounds/137317093.ogg",
        ],
        "JhinBasicAttack_OnHit": [
            "characters/Jhin/sounds/19197881.ogg",
            "characters/Jhin/sounds/26751908.ogg",
            "characters/Jhin/sounds/989996.ogg",
        ],
        "JhinBasicAttack_OnMissileCast": [
            "characters/Jhin/sounds/390113516.ogg",
            "characters/Jhin/sounds/486934273.ogg",
            "characters/Jhin/sounds/505400768.ogg",
        ],
        "JhinBasicAttack_OnMissileLaunch": [
            "characters/Jhin/sounds/278011448.ogg",
            "characters/Jhin/sounds/47172935.ogg",
        ],
        "JhinCritAttack_OnCast": [
            "characters/Jhin/sounds/137317093.ogg",
        ],
        "JhinCritAttack_OnHit": [
            "characters/Jhin/sounds/19197881.ogg",
            "characters/Jhin/sounds/989996.ogg",
        ],
        "JhinCritAttack_OnMissileCast": [
            "characters/Jhin/sounds/593858235.ogg",
            "characters/Jhin/sounds/849371987.ogg",
        ],
        "JhinCritAttack_OnMissileLaunch": [
            "characters/Jhin/sounds/278011448.ogg",
            "characters/Jhin/sounds/47172935.ogg",
        ],
        "JhinETrapSlow_buffcast_trigger": [
            "characters/Jhin/sounds/452460545.ogg",
            "characters/Jhin/sounds/681208456.ogg",
            "characters/Jhin/sounds/718335309.ogg",
        ],
        "JhinETrapSlow_buffcast_triggerondeath": [
            "characters/Jhin/sounds/1007914439.ogg",
        ],
        "JhinETrapSlow_buffdeactivate_explode": [
            "characters/Jhin/sounds/1004051285.ogg",
            "characters/Jhin/sounds/51776058.ogg",
            "characters/Jhin/sounds/777110796.ogg",
        ],
        "JhinETrapSlow_buffdeactivate_explodeondeath": [
            "characters/Jhin/sounds/134754004.ogg",
        ],
        "JhinETrap_OnBuffActivate": [
            "characters/Jhin/sounds/346047627.ogg",
            "characters/Jhin/sounds/472876779.ogg",
        ],
        "JhinETrap_OnMissileLaunch": [
            "characters/Jhin/sounds/380502552.ogg",
        ],
        "JhinE_OnCast": [
            "characters/Jhin/sounds/594274455.ogg",
        ],
        "JhinPassiveAttack_OnCast": [
            "characters/Jhin/sounds/655766925.ogg",
        ],
        "JhinPassiveAttack_OnHit": [
            "characters/Jhin/sounds/19197881.ogg",
            "characters/Jhin/sounds/26751908.ogg",
            "characters/Jhin/sounds/989996.ogg",
        ],
        "JhinPassiveAttack_OnMissileCast": [
            "characters/Jhin/sounds/391640925.ogg",
            "characters/Jhin/sounds/661044755.ogg",
            "characters/Jhin/sounds/777593882.ogg",
        ],
        "JhinPassiveAttack_OnMissileLaunch": [
            "characters/Jhin/sounds/278011448.ogg",
            "characters/Jhin/sounds/47172935.ogg",
        ],
        "JhinPassiveAttack_buffactivate": [
            "characters/Jhin/sounds/568268130.ogg",
            "characters/Jhin/sounds/712339429.ogg",
        ],
        "JhinPassiveHaste_OnBuffActivate": [
            "characters/Jhin/sounds/262255939.ogg",
        ],
        "JhinPassiveReload_cast": [
            "characters/Jhin/sounds/473566671.ogg",
        ],
        "JhinPassiveReload_cast_recoil": [
            "characters/Jhin/sounds/337256880.ogg",
        ],
        "JhinQMisBounce_OnHit": [
            "characters/Jhin/sounds/106086491.ogg",
            "characters/Jhin/sounds/48062120.ogg",
            "characters/Jhin/sounds/851997274.ogg",
        ],
        "JhinQMisBounce_OnMissileLaunch": [
            "characters/Jhin/sounds/218306924.ogg",
            "characters/Jhin/sounds/89392143.ogg",
            "characters/Jhin/sounds/98118873.ogg",
        ],
        "JhinQMisBounce_hit_lastbounce": [
            "characters/Jhin/sounds/1027035655.ogg",
        ],
        "JhinQ_OnCast": [
            "characters/Jhin/sounds/196141365.ogg",
        ],
        "JhinQ_OnHit": [
            "characters/Jhin/sounds/106086491.ogg",
            "characters/Jhin/sounds/48062120.ogg",
            "characters/Jhin/sounds/851997274.ogg",
        ],
        "JhinQ_OnMissileCast": [
            "characters/Jhin/sounds/53175217.ogg",
        ],
        "JhinQ_OnMissileLaunch": [
            "characters/Jhin/sounds/721697399.ogg",
            "characters/Jhin/sounds/724305760.ogg",
        ],
        "JhinRShotMis4_OnMissileCast": [
            "characters/Jhin/sounds/211480281.ogg",
            "characters/Jhin/sounds/642455238.ogg",
        ],
        "JhinRShotMis4_OnMissileLaunch": [
            "characters/Jhin/sounds/162033505.ogg",
            "characters/Jhin/sounds/597566841.ogg",
        ],
        "JhinRShotMis4_hit_champ": [
            "characters/Jhin/sounds/40846800.ogg",
        ],
        "JhinRShotMis4_hit_minion": [
            "characters/Jhin/sounds/27330657.ogg",
            "characters/Jhin/sounds/444470364.ogg",
            "characters/Jhin/sounds/53487684.ogg",
        ],
        "JhinRShotMis_OnMissileCast": [
            "characters/Jhin/sounds/211480281.ogg",
            "characters/Jhin/sounds/46429787.ogg",
        ],
        "JhinRShotMis_OnMissileLaunch": [
            "characters/Jhin/sounds/162033505.ogg",
            "characters/Jhin/sounds/597566841.ogg",
        ],
        "JhinRShotMis_hit_champ": [
            "characters/Jhin/sounds/311961605.ogg",
            "characters/Jhin/sounds/323285209.ogg",
            "characters/Jhin/sounds/466662020.ogg",
        ],
        "JhinRShotMis_hit_minion": [
            "characters/Jhin/sounds/27330657.ogg",
            "characters/Jhin/sounds/444470364.ogg",
            "characters/Jhin/sounds/53487684.ogg",
        ],
        "JhinRShot_OnCast": [
            "characters/Jhin/sounds/21518113.ogg",
            "characters/Jhin/sounds/745792601.ogg",
            "characters/Jhin/sounds/831471844.ogg",
        ],
        "JhinR_OnCast": [
            "characters/Jhin/sounds/203818737.ogg",
            "characters/Jhin/sounds/339329536.ogg",
        ],
        "JhinR_buffcast": [
            "characters/Jhin/sounds/1011494502.ogg",
            "characters/Jhin/sounds/122618739.ogg",
            "characters/Jhin/sounds/206927731.ogg",
            "characters/Jhin/sounds/291930806.ogg",
            "characters/Jhin/sounds/457638339.ogg",
            "characters/Jhin/sounds/517031677.ogg",
            "characters/Jhin/sounds/784188107.ogg",
            "characters/Jhin/sounds/991139014.ogg",
            "characters/Jhin/sounds/991464050.ogg",
        ],
        "JhinW_OnCast": [
            "characters/Jhin/sounds/24477680.ogg",
            "characters/Jhin/sounds/501140843.ogg",
            "characters/Jhin/sounds/795067149.ogg",
        ],
        "JhinW_champ_hit": [
            "characters/Jhin/sounds/277853850.ogg",
            "characters/Jhin/sounds/447380030.ogg",
            "characters/Jhin/sounds/792526207.ogg",
        ],
        "JhinW_minion_hit": [
            "characters/Jhin/sounds/386982728.ogg",
            "characters/Jhin/sounds/59555690.ogg",
            "characters/Jhin/sounds/723112383.ogg",
        ],
        "JhinW_misslelaunch": [
            "characters/Jhin/sounds/247705008.ogg",
            "characters/Jhin/sounds/777554977.ogg",
            "characters/Jhin/sounds/894016858.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Jhin/sounds/1000117506.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Jhin/sounds/486507859.ogg",
        ],
        "Play_vo_Jhin_Attack2DGeneral": [
            "characters/Jhin/sounds/1025964744.ogg",
            "characters/Jhin/sounds/1039084539.ogg",
            "characters/Jhin/sounds/1043528104.ogg",
            "characters/Jhin/sounds/1055002236.ogg",
            "characters/Jhin/sounds/1058478924.ogg",
            "characters/Jhin/sounds/1073309443.ogg",
            "characters/Jhin/sounds/10821248.ogg",
            "characters/Jhin/sounds/154114125.ogg",
            "characters/Jhin/sounds/170187593.ogg",
            "characters/Jhin/sounds/174454400.ogg",
            "characters/Jhin/sounds/175877822.ogg",
            "characters/Jhin/sounds/177900941.ogg",
            "characters/Jhin/sounds/252568429.ogg",
            "characters/Jhin/sounds/272684559.ogg",
            "characters/Jhin/sounds/272919678.ogg",
            "characters/Jhin/sounds/283219253.ogg",
            "characters/Jhin/sounds/285895488.ogg",
            "characters/Jhin/sounds/29814591.ogg",
            "characters/Jhin/sounds/317401238.ogg",
            "characters/Jhin/sounds/323084941.ogg",
            "characters/Jhin/sounds/402112937.ogg",
            "characters/Jhin/sounds/419859588.ogg",
            "characters/Jhin/sounds/472230473.ogg",
            "characters/Jhin/sounds/487693164.ogg",
            "characters/Jhin/sounds/494133880.ogg",
            "characters/Jhin/sounds/526666490.ogg",
            "characters/Jhin/sounds/533258287.ogg",
            "characters/Jhin/sounds/544302303.ogg",
            "characters/Jhin/sounds/567664307.ogg",
            "characters/Jhin/sounds/569012269.ogg",
            "characters/Jhin/sounds/598113155.ogg",
            "characters/Jhin/sounds/614988945.ogg",
            "characters/Jhin/sounds/650234059.ogg",
            "characters/Jhin/sounds/692573401.ogg",
            "characters/Jhin/sounds/700709754.ogg",
            "characters/Jhin/sounds/710821931.ogg",
            "characters/Jhin/sounds/713247173.ogg",
            "characters/Jhin/sounds/737028423.ogg",
            "characters/Jhin/sounds/780366673.ogg",
            "characters/Jhin/sounds/828554893.ogg",
            "characters/Jhin/sounds/915691299.ogg",
            "characters/Jhin/sounds/920325178.ogg",
            "characters/Jhin/sounds/938627825.ogg",
            "characters/Jhin/sounds/973976967.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DBansheesVeil": [
            "characters/Jhin/sounds/843845813.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DBeserkersGreaves": [
            "characters/Jhin/sounds/335210396.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DBloodthirster": [
            "characters/Jhin/sounds/138840830.ogg",
            "characters/Jhin/sounds/40826603.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DDemonicEmbrace": [
            "characters/Jhin/sounds/890928938.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DEssenceReaver": [
            "characters/Jhin/sounds/54024162.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DExecutionersCalling": [
            "characters/Jhin/sounds/284443067.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DGuardianAngel": [
            "characters/Jhin/sounds/496536262.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DIonianBootsOfLucidity": [
            "characters/Jhin/sounds/311724279.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DLastWhisper": [
            "characters/Jhin/sounds/304969919.ogg",
            "characters/Jhin/sounds/436311782.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DLiandrysTorment": [
            "characters/Jhin/sounds/805821319.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DMercurialScimitar": [
            "characters/Jhin/sounds/7058552.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DNavoriQuickblades": [
            "characters/Jhin/sounds/542794880.ogg",
            "characters/Jhin/sounds/638501797.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DPhantomDancer": [
            "characters/Jhin/sounds/508211828.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DRapidFirecannon": [
            "characters/Jhin/sounds/843989804.ogg",
        ],
        "Play_vo_Jhin_BuyItem2DRunaansHurricane": [
            "characters/Jhin/sounds/198968763.ogg",
        ],
        "Play_vo_Jhin_Death3D": [
            "characters/Jhin/sounds/177070363.ogg",
            "characters/Jhin/sounds/852584363.ogg",
            "characters/Jhin/sounds/932199715.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DBard": [
            "characters/Jhin/sounds/487135879.ogg",
            "characters/Jhin/sounds/684168133.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DDraven": [
            "characters/Jhin/sounds/173349249.ogg",
            "characters/Jhin/sounds/200989189.ogg",
            "characters/Jhin/sounds/773665840.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DGaren": [
            "characters/Jhin/sounds/422616469.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DIllaoi": [
            "characters/Jhin/sounds/40086046.ogg",
            "characters/Jhin/sounds/527525274.ogg",
            "characters/Jhin/sounds/712276991.ogg",
            "characters/Jhin/sounds/901855292.ogg",
            "characters/Jhin/sounds/98746147.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DIonia": [
            "characters/Jhin/sounds/362834893.ogg",
            "characters/Jhin/sounds/510439181.ogg",
            "characters/Jhin/sounds/554671335.ogg",
            "characters/Jhin/sounds/649355906.ogg",
            "characters/Jhin/sounds/763539424.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DJinx": [
            "characters/Jhin/sounds/685333381.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DKatarina": [
            "characters/Jhin/sounds/1001018328.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DLucian": [
            "characters/Jhin/sounds/57494570.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DNoxus": [
            "characters/Jhin/sounds/1031220726.ogg",
            "characters/Jhin/sounds/23507568.ogg",
            "characters/Jhin/sounds/880556455.ogg",
            "characters/Jhin/sounds/930359405.ogg",
            "characters/Jhin/sounds/950207961.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DReksai": [
            "characters/Jhin/sounds/920623368.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DShen": [
            "characters/Jhin/sounds/182751285.ogg",
            "characters/Jhin/sounds/490661055.ogg",
            "characters/Jhin/sounds/676625417.ogg",
            "characters/Jhin/sounds/809112251.ogg",
            "characters/Jhin/sounds/823048975.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DSion": [
            "characters/Jhin/sounds/283132330.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DSona": [
            "characters/Jhin/sounds/1003106411.ogg",
            "characters/Jhin/sounds/207246975.ogg",
            "characters/Jhin/sounds/220148590.ogg",
            "characters/Jhin/sounds/254555103.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DTahmKench": [
            "characters/Jhin/sounds/453968654.ogg",
            "characters/Jhin/sounds/477430474.ogg",
            "characters/Jhin/sounds/628576799.ogg",
            "characters/Jhin/sounds/818982101.ogg",
            "characters/Jhin/sounds/908611230.ogg",
        ],
        "Play_vo_Jhin_FirstEncounter3DZed": [
            "characters/Jhin/sounds/228707743.ogg",
            "characters/Jhin/sounds/265833756.ogg",
            "characters/Jhin/sounds/31990083.ogg",
            "characters/Jhin/sounds/485081897.ogg",
            "characters/Jhin/sounds/782431298.ogg",
            "characters/Jhin/sounds/846522114.ogg",
            "characters/Jhin/sounds/98519084.ogg",
        ],
        "Play_vo_Jhin_JhinBasicAttack2_cast3D": [
            "characters/Jhin/sounds/799385090.ogg",
            "characters/Jhin/sounds/832726311.ogg",
        ],
        "Play_vo_Jhin_JhinBasicAttack3_cast3D": [
            "characters/Jhin/sounds/153645792.ogg",
            "characters/Jhin/sounds/459061645.ogg",
        ],
        "Play_vo_Jhin_JhinBasicAttack_cast3D": [
            "characters/Jhin/sounds/516152246.ogg",
            "characters/Jhin/sounds/551641473.ogg",
        ],
        "Play_vo_Jhin_JhinPassiveAttack_cast3D": [
            "characters/Jhin/sounds/255971403.ogg",
            "characters/Jhin/sounds/278066640.ogg",
            "characters/Jhin/sounds/396105393.ogg",
            "characters/Jhin/sounds/483544798.ogg",
            "characters/Jhin/sounds/541562740.ogg",
            "characters/Jhin/sounds/643542650.ogg",
            "characters/Jhin/sounds/742481836.ogg",
            "characters/Jhin/sounds/79239472.ogg",
            "characters/Jhin/sounds/824543764.ogg",
        ],
        "Play_vo_Jhin_JhinQ_cast3D": [
            "characters/Jhin/sounds/274567054.ogg",
            "characters/Jhin/sounds/458820684.ogg",
            "characters/Jhin/sounds/538876550.ogg",
            "characters/Jhin/sounds/792323616.ogg",
        ],
        "Play_vo_Jhin_JhinR_cast2D": [
            "characters/Jhin/sounds/401508146.ogg",
            "characters/Jhin/sounds/940177127.ogg",
        ],
        "Play_vo_Jhin_JhinR_cast3D": [
            "characters/Jhin/sounds/157580439.ogg",
            "characters/Jhin/sounds/418788926.ogg",
        ],
        "Play_vo_Jhin_JhinW_cast3D": [
            "characters/Jhin/sounds/157237317.ogg",
            "characters/Jhin/sounds/208807584.ogg",
            "characters/Jhin/sounds/731685018.ogg",
            "characters/Jhin/sounds/860393637.ogg",
        ],
        "Play_vo_Jhin_Joke3DGeneral": [
            "characters/Jhin/sounds/663830592.ogg",
        ],
        "Play_vo_Jhin_Laugh3DGeneral": [
            "characters/Jhin/sounds/14474097.ogg",
            "characters/Jhin/sounds/524882586.ogg",
            "characters/Jhin/sounds/650883628.ogg",
        ],
        "Play_vo_Jhin_Move2DFirst": [
            "characters/Jhin/sounds/277056258.ogg",
            "characters/Jhin/sounds/348978902.ogg",
            "characters/Jhin/sounds/488998324.ogg",
            "characters/Jhin/sounds/544654828.ogg",
            "characters/Jhin/sounds/589709068.ogg",
            "characters/Jhin/sounds/605517687.ogg",
            "characters/Jhin/sounds/676096071.ogg",
            "characters/Jhin/sounds/861567099.ogg",
            "characters/Jhin/sounds/870140951.ogg",
        ],
        "Play_vo_Jhin_Move2DStandard": [
            "characters/Jhin/sounds/1008476699.ogg",
            "characters/Jhin/sounds/1026955576.ogg",
            "characters/Jhin/sounds/1034639687.ogg",
            "characters/Jhin/sounds/1035651433.ogg",
            "characters/Jhin/sounds/1048833747.ogg",
            "characters/Jhin/sounds/1058610123.ogg",
            "characters/Jhin/sounds/1063424607.ogg",
            "characters/Jhin/sounds/121845685.ogg",
            "characters/Jhin/sounds/140913340.ogg",
            "characters/Jhin/sounds/145593649.ogg",
            "characters/Jhin/sounds/149933615.ogg",
            "characters/Jhin/sounds/158084301.ogg",
            "characters/Jhin/sounds/183309512.ogg",
            "characters/Jhin/sounds/193172258.ogg",
            "characters/Jhin/sounds/215368108.ogg",
            "characters/Jhin/sounds/216627026.ogg",
            "characters/Jhin/sounds/241303703.ogg",
            "characters/Jhin/sounds/243520640.ogg",
            "characters/Jhin/sounds/25228279.ogg",
            "characters/Jhin/sounds/303305322.ogg",
            "characters/Jhin/sounds/313486073.ogg",
            "characters/Jhin/sounds/316854938.ogg",
            "characters/Jhin/sounds/329230782.ogg",
            "characters/Jhin/sounds/358950089.ogg",
            "characters/Jhin/sounds/379404875.ogg",
            "characters/Jhin/sounds/388867871.ogg",
            "characters/Jhin/sounds/393989482.ogg",
            "characters/Jhin/sounds/39936089.ogg",
            "characters/Jhin/sounds/415227563.ogg",
            "characters/Jhin/sounds/421038783.ogg",
            "characters/Jhin/sounds/434731412.ogg",
            "characters/Jhin/sounds/440349679.ogg",
            "characters/Jhin/sounds/447481949.ogg",
            "characters/Jhin/sounds/448813346.ogg",
            "characters/Jhin/sounds/453551463.ogg",
            "characters/Jhin/sounds/475514117.ogg",
            "characters/Jhin/sounds/508495348.ogg",
            "characters/Jhin/sounds/520321794.ogg",
            "characters/Jhin/sounds/523691349.ogg",
            "characters/Jhin/sounds/534232276.ogg",
            "characters/Jhin/sounds/545747167.ogg",
            "characters/Jhin/sounds/588725522.ogg",
            "characters/Jhin/sounds/610456292.ogg",
            "characters/Jhin/sounds/614128772.ogg",
            "characters/Jhin/sounds/625759779.ogg",
            "characters/Jhin/sounds/640824043.ogg",
            "characters/Jhin/sounds/680740032.ogg",
            "characters/Jhin/sounds/687899357.ogg",
            "characters/Jhin/sounds/699457807.ogg",
            "characters/Jhin/sounds/705088552.ogg",
            "characters/Jhin/sounds/711989549.ogg",
            "characters/Jhin/sounds/7190737.ogg",
            "characters/Jhin/sounds/725648132.ogg",
            "characters/Jhin/sounds/771862190.ogg",
            "characters/Jhin/sounds/82285302.ogg",
            "characters/Jhin/sounds/824192278.ogg",
            "characters/Jhin/sounds/826616203.ogg",
            "characters/Jhin/sounds/842714254.ogg",
            "characters/Jhin/sounds/864031365.ogg",
            "characters/Jhin/sounds/892743029.ogg",
            "characters/Jhin/sounds/898779269.ogg",
            "characters/Jhin/sounds/906721783.ogg",
            "characters/Jhin/sounds/923815510.ogg",
            "characters/Jhin/sounds/941993210.ogg",
            "characters/Jhin/sounds/94857923.ogg",
            "characters/Jhin/sounds/950356372.ogg",
            "characters/Jhin/sounds/960859649.ogg",
            "characters/Jhin/sounds/972559055.ogg",
        ],
        "Play_vo_Jhin_Recall3DGeneral": [
            "characters/Jhin/sounds/542944255.ogg",
            "characters/Jhin/sounds/707918381.ogg",
            "characters/Jhin/sounds/973189817.ogg",
        ],
        "Play_vo_Jhin_Spell3DEHit": [
            "characters/Jhin/sounds/191488548.ogg",
            "characters/Jhin/sounds/317461754.ogg",
            "characters/Jhin/sounds/337244904.ogg",
            "characters/Jhin/sounds/585617455.ogg",
            "characters/Jhin/sounds/599841340.ogg",
            "characters/Jhin/sounds/604730962.ogg",
            "characters/Jhin/sounds/673181427.ogg",
            "characters/Jhin/sounds/768901545.ogg",
            "characters/Jhin/sounds/901162210.ogg",
        ],
        "Play_vo_Jhin_Spell3DP4Ready": [
            "characters/Jhin/sounds/1037671772.ogg",
            "characters/Jhin/sounds/251642828.ogg",
            "characters/Jhin/sounds/281700640.ogg",
            "characters/Jhin/sounds/290647249.ogg",
            "characters/Jhin/sounds/357795179.ogg",
            "characters/Jhin/sounds/383798791.ogg",
            "characters/Jhin/sounds/419496548.ogg",
            "characters/Jhin/sounds/508213314.ogg",
            "characters/Jhin/sounds/720252175.ogg",
            "characters/Jhin/sounds/979752659.ogg",
        ],
        "Play_vo_Jhin_Taunt3DGeneral": [
            "characters/Jhin/sounds/1056830343.ogg",
            "characters/Jhin/sounds/163095781.ogg",
            "characters/Jhin/sounds/222066407.ogg",
            "characters/Jhin/sounds/437885320.ogg",
            "characters/Jhin/sounds/617175389.ogg",
            "characters/Jhin/sounds/886583494.ogg",
        ],
        "Recall_leadin": [
            "characters/Jhin/sounds/561844737.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Jhin/sounds/962728050.ogg",
        ],
    },
)