(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                    80.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                    200.0,
                    225.0,
                    250.0,
                ]),
            ),
            (
                values: Some([
                    100.0,
                    90.0,
                    80.0,
                    70.0,
                    60.0,
                    50.0,
                    40.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    50.0,
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                    200.0,
                ]),
            ),
            (
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "MarkDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "MaximumMonsterDamage",
                values: Some([
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                    200.0,
                    225.0,
                ]),
            ),
            (
                name: "MaxHealthDamage",
                values: Some([
                    0.08,
                    0.1,
                    0.12,
                    0.14,
                    0.16,
                    0.18,
                    0.2,
                ]),
            ),
            (
                name: "PerTargetCooldown",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
            (
                name: "AmmoRechargeTooltip",
                values: Some([
                    100.0,
                    90.0,
                    80.0,
                    70.0,
                    60.0,
                    50.0,
                    40.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: Some([
            160.0,
            160.0,
            160.0,
            160.0,
            160.0,
            160.0,
            160.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(18.0),
        animationName: Some("Spell2"),
        cooldownTime: Some([
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(15567),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)