(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1450.0),
                startBoneName: Some("r_hand"),
            ),
        )),
        hitBoneName: Some("C_BuffBone_Glb_Center_Loc"),
        missileSpeed: Some(1450.0),
        missileEffectKey: Some(3789608795),
        castType: Some(1),
    )),
)