(
    spellData: Some((
        calculations: Some({
            "initial_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    15.0,
                    40.0,
                    65.0,
                    90.0,
                    115.0,
                    140.0,
                    165.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                ]),
            ),
            (
                name: "RootDuration",
                values: Some([
                    1.5,
                    1.6,
                    1.7,
                    1.8,
                    1.9,
                    2.0,
                    2.1,
                ]),
            ),
            (
                name: "TetherDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "LeashBreakRange",
                values: Some([
                    825.0,
                    825.0,
                    825.0,
                    825.0,
                    825.0,
                    825.0,
                    825.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            55.0,
            60.0,
            65.0,
            70.0,
            75.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("C_BUFFBONE_GLB_HEAD_LOC"),
        missileSpeed: Some(2200.0),
        missileEffectKey: None,
        castType: None,
    )),
)