(
    events: {
        "Dance3D_cast": [
            "characters/Zeri/sounds/1006896049.ogg",
        ],
        "Dance3D_loop": [
            "characters/Zeri/sounds/165997462.ogg",
            "characters/Zeri/sounds/957985031.ogg",
        ],
        "Death3D_cast": [
            "characters/Zeri/sounds/180968788.ogg",
        ],
        "Homeguard3D_buffactivate": [
            "characters/Zeri/sounds/281377174.ogg",
        ],
        "Homeguard3D_cast": [
            "characters/Zeri/sounds/1030818238.ogg",
        ],
        "Homeguard3D_foley": [
            "characters/Zeri/sounds/1044829504.ogg",
            "characters/Zeri/sounds/439907572.ogg",
            "characters/Zeri/sounds/570598259.ogg",
            "characters/Zeri/sounds/982495725.ogg",
        ],
        "IdleIn01_buffactivate": [
            "characters/Zeri/sounds/1044829504.ogg",
            "characters/Zeri/sounds/439907572.ogg",
            "characters/Zeri/sounds/570598259.ogg",
            "characters/Zeri/sounds/982495725.ogg",
        ],
        "IdleIn02_buffactivate": [
            "characters/Zeri/sounds/1044829504.ogg",
            "characters/Zeri/sounds/439907572.ogg",
            "characters/Zeri/sounds/570598259.ogg",
            "characters/Zeri/sounds/982495725.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Zeri/sounds/110467704.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Zeri/sounds/723821764.ogg",
        ],
        "Play_vo_Zeri_Death3D": [
            "characters/Zeri/sounds/280889821.ogg",
            "characters/Zeri/sounds/490169922.ogg",
            "characters/Zeri/sounds/785726078.ogg",
            "characters/Zeri/sounds/846434.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DBlitzcrank": [
            "characters/Zeri/sounds/60200433.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DCaitlyn": [
            "characters/Zeri/sounds/641177838.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DEkko": [
            "characters/Zeri/sounds/864573059.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DEzreal": [
            "characters/Zeri/sounds/477772742.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DHeimerdinger": [
            "characters/Zeri/sounds/150115821.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DJanna": [
            "characters/Zeri/sounds/888652877.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DJinx": [
            "characters/Zeri/sounds/274378311.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DSeraphine": [
            "characters/Zeri/sounds/1001927667.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DTwitch": [
            "characters/Zeri/sounds/650777680.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DVi": [
            "characters/Zeri/sounds/807526548.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DZeri": [
            "characters/Zeri/sounds/239514112.ogg",
        ],
        "Play_vo_Zeri_FirstEncounter3DZiggs": [
            "characters/Zeri/sounds/503640513.ogg",
        ],
        "Play_vo_Zeri_Joke3DGeneral": [
            "characters/Zeri/sounds/989013709.ogg",
        ],
        "Play_vo_Zeri_JokeResponse3DGeneral": [
            "characters/Zeri/sounds/893960859.ogg",
        ],
        "Play_vo_Zeri_Kill3DBlitzcrank": [
            "characters/Zeri/sounds/276880339.ogg",
        ],
        "Play_vo_Zeri_Kill3DCaitlyn": [
            "characters/Zeri/sounds/466012856.ogg",
        ],
        "Play_vo_Zeri_Kill3DEkko": [
            "characters/Zeri/sounds/798209587.ogg",
        ],
        "Play_vo_Zeri_Kill3DEzreal": [
            "characters/Zeri/sounds/547941363.ogg",
        ],
        "Play_vo_Zeri_Kill3DGeneral": [
            "characters/Zeri/sounds/1067638489.ogg",
            "characters/Zeri/sounds/1070143200.ogg",
            "characters/Zeri/sounds/248167206.ogg",
            "characters/Zeri/sounds/334589527.ogg",
            "characters/Zeri/sounds/387531106.ogg",
            "characters/Zeri/sounds/411829512.ogg",
            "characters/Zeri/sounds/565291211.ogg",
            "characters/Zeri/sounds/694195331.ogg",
            "characters/Zeri/sounds/729541879.ogg",
            "characters/Zeri/sounds/790767080.ogg",
            "characters/Zeri/sounds/935562237.ogg",
            "characters/Zeri/sounds/942191672.ogg",
        ],
        "Play_vo_Zeri_Kill3DHeimerdinger": [
            "characters/Zeri/sounds/379425079.ogg",
        ],
        "Play_vo_Zeri_Kill3DJanna": [
            "characters/Zeri/sounds/928905841.ogg",
        ],
        "Play_vo_Zeri_Kill3DJinx": [
            "characters/Zeri/sounds/872269461.ogg",
        ],
        "Play_vo_Zeri_Kill3DPenta": [
            "characters/Zeri/sounds/646043503.ogg",
        ],
        "Play_vo_Zeri_Kill3DQuadra": [
            "characters/Zeri/sounds/1008262052.ogg",
        ],
        "Play_vo_Zeri_Kill3DSeraphine": [
            "characters/Zeri/sounds/173230334.ogg",
        ],
        "Play_vo_Zeri_Kill3DTriple": [
            "characters/Zeri/sounds/345890246.ogg",
        ],
        "Play_vo_Zeri_Kill3DTwitch": [
            "characters/Zeri/sounds/332205217.ogg",
        ],
        "Play_vo_Zeri_Kill3DVi": [
            "characters/Zeri/sounds/152765850.ogg",
        ],
        "Play_vo_Zeri_Kill3DZeri": [
            "characters/Zeri/sounds/182745507.ogg",
        ],
        "Play_vo_Zeri_Kill3DZiggs": [
            "characters/Zeri/sounds/572963292.ogg",
        ],
        "Play_vo_Zeri_Laugh3DGeneral": [
            "characters/Zeri/sounds/745499566.ogg",
        ],
        "Play_vo_Zeri_Move2DFirst": [
            "characters/Zeri/sounds/269637241.ogg",
            "characters/Zeri/sounds/464559290.ogg",
            "characters/Zeri/sounds/604438049.ogg",
            "characters/Zeri/sounds/784581292.ogg",
            "characters/Zeri/sounds/866043729.ogg",
        ],
        "Play_vo_Zeri_Move2DLong": [
            "characters/Zeri/sounds/1006325124.ogg",
            "characters/Zeri/sounds/150077359.ogg",
            "characters/Zeri/sounds/610128330.ogg",
            "characters/Zeri/sounds/673873738.ogg",
            "characters/Zeri/sounds/90958754.ogg",
        ],
        "Play_vo_Zeri_Move2DStandard": [
            "characters/Zeri/sounds/143263536.ogg",
            "characters/Zeri/sounds/156503077.ogg",
            "characters/Zeri/sounds/198540728.ogg",
            "characters/Zeri/sounds/221193001.ogg",
            "characters/Zeri/sounds/447830676.ogg",
            "characters/Zeri/sounds/450883924.ogg",
            "characters/Zeri/sounds/468511327.ogg",
            "characters/Zeri/sounds/533008762.ogg",
            "characters/Zeri/sounds/568320618.ogg",
            "characters/Zeri/sounds/57357878.ogg",
            "characters/Zeri/sounds/580065854.ogg",
            "characters/Zeri/sounds/606924245.ogg",
            "characters/Zeri/sounds/628957142.ogg",
            "characters/Zeri/sounds/719963113.ogg",
            "characters/Zeri/sounds/754296699.ogg",
            "characters/Zeri/sounds/772214958.ogg",
            "characters/Zeri/sounds/785478340.ogg",
            "characters/Zeri/sounds/856746756.ogg",
            "characters/Zeri/sounds/868859912.ogg",
            "characters/Zeri/sounds/872097181.ogg",
            "characters/Zeri/sounds/924075588.ogg",
        ],
        "Play_vo_Zeri_Recall3DGeneral": [
            "characters/Zeri/sounds/431366881.ogg",
            "characters/Zeri/sounds/5903876.ogg",
            "characters/Zeri/sounds/861917129.ogg",
        ],
        "Play_vo_Zeri_Receive3DShieldHeal": [
            "characters/Zeri/sounds/137992034.ogg",
            "characters/Zeri/sounds/367940057.ogg",
            "characters/Zeri/sounds/860839099.ogg",
        ],
        "Play_vo_Zeri_Respawn2DGeneral": [
            "characters/Zeri/sounds/37874832.ogg",
            "characters/Zeri/sounds/381572194.ogg",
            "characters/Zeri/sounds/57528624.ogg",
            "characters/Zeri/sounds/857116838.ogg",
        ],
        "Play_vo_Zeri_Spell3DRActivate": [
            "characters/Zeri/sounds/418777388.ogg",
            "characters/Zeri/sounds/615263171.ogg",
        ],
        "Play_vo_Zeri_Taunt3DGeneral": [
            "characters/Zeri/sounds/468180748.ogg",
        ],
        "Play_vo_Zeri_TauntResponse3DGeneral": [
            "characters/Zeri/sounds/32109227.ogg",
        ],
        "Play_vo_Zeri_ZeriE_cast3D": [
            "characters/Zeri/sounds/1045531416.ogg",
            "characters/Zeri/sounds/34967713.ogg",
            "characters/Zeri/sounds/396161513.ogg",
            "characters/Zeri/sounds/417382378.ogg",
            "characters/Zeri/sounds/7961106.ogg",
            "characters/Zeri/sounds/817262997.ogg",
            "characters/Zeri/sounds/892710127.ogg",
            "characters/Zeri/sounds/938182458.ogg",
        ],
        "Play_vo_Zeri_ZeriQBasicAttackEmpowered_cast3D": [
            "characters/Zeri/sounds/210685588.ogg",
            "characters/Zeri/sounds/391717531.ogg",
            "characters/Zeri/sounds/433272055.ogg",
            "characters/Zeri/sounds/454897489.ogg",
            "characters/Zeri/sounds/873795897.ogg",
        ],
        "Play_vo_Zeri_ZeriQBasicAttack_cast3D": [
            "characters/Zeri/sounds/1010052344.ogg",
            "characters/Zeri/sounds/1044766270.ogg",
            "characters/Zeri/sounds/202655721.ogg",
            "characters/Zeri/sounds/352588130.ogg",
            "characters/Zeri/sounds/408305245.ogg",
            "characters/Zeri/sounds/408787259.ogg",
            "characters/Zeri/sounds/951896238.ogg",
        ],
        "Play_vo_Zeri_ZeriQPassiveReady_OnBuffActivate": [
            "characters/Zeri/sounds/692507426.ogg",
            "characters/Zeri/sounds/77056118.ogg",
            "characters/Zeri/sounds/857516720.ogg",
        ],
        "Play_vo_Zeri_ZeriQ_cast3D": [
            "characters/Zeri/sounds/1004844798.ogg",
            "characters/Zeri/sounds/103279141.ogg",
            "characters/Zeri/sounds/104473019.ogg",
            "characters/Zeri/sounds/1067814836.ogg",
            "characters/Zeri/sounds/152053973.ogg",
            "characters/Zeri/sounds/160975847.ogg",
            "characters/Zeri/sounds/1648398.ogg",
            "characters/Zeri/sounds/212711241.ogg",
            "characters/Zeri/sounds/214492122.ogg",
            "characters/Zeri/sounds/231015849.ogg",
            "characters/Zeri/sounds/26406604.ogg",
            "characters/Zeri/sounds/264675913.ogg",
            "characters/Zeri/sounds/275256359.ogg",
            "characters/Zeri/sounds/29570697.ogg",
            "characters/Zeri/sounds/360285352.ogg",
            "characters/Zeri/sounds/364990537.ogg",
            "characters/Zeri/sounds/368722665.ogg",
            "characters/Zeri/sounds/409077515.ogg",
            "characters/Zeri/sounds/467058813.ogg",
            "characters/Zeri/sounds/474927060.ogg",
            "characters/Zeri/sounds/479634078.ogg",
            "characters/Zeri/sounds/488202413.ogg",
            "characters/Zeri/sounds/494314618.ogg",
            "characters/Zeri/sounds/5971746.ogg",
            "characters/Zeri/sounds/654632167.ogg",
            "characters/Zeri/sounds/660584459.ogg",
            "characters/Zeri/sounds/674735739.ogg",
            "characters/Zeri/sounds/814322824.ogg",
            "characters/Zeri/sounds/842605158.ogg",
            "characters/Zeri/sounds/886205754.ogg",
            "characters/Zeri/sounds/922102291.ogg",
            "characters/Zeri/sounds/943671573.ogg",
            "characters/Zeri/sounds/951071593.ogg",
            "characters/Zeri/sounds/96273410.ogg",
            "characters/Zeri/sounds/983258606.ogg",
        ],
        "Play_vo_Zeri_ZeriR_OnBuffDeactivate": [
            "characters/Zeri/sounds/284642243.ogg",
            "characters/Zeri/sounds/533854585.ogg",
            "characters/Zeri/sounds/663679841.ogg",
        ],
        "Play_vo_Zeri_ZeriR_cast3D": [
            "characters/Zeri/sounds/149658338.ogg",
            "characters/Zeri/sounds/228088221.ogg",
            "characters/Zeri/sounds/746637048.ogg",
        ],
        "Play_vo_Zeri_ZeriW_cast3D": [
            "characters/Zeri/sounds/293726846.ogg",
            "characters/Zeri/sounds/362769563.ogg",
            "characters/Zeri/sounds/690016333.ogg",
            "characters/Zeri/sounds/691579459.ogg",
            "characters/Zeri/sounds/801290912.ogg",
        ],
        "Play_vo_Zeri_ZeriW_miss3D": [
            "characters/Zeri/sounds/274038766.ogg",
            "characters/Zeri/sounds/554144466.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Zeri/sounds/888213767.ogg",
        ],
        "Respawn3D_buffactivate": [
            "characters/Zeri/sounds/506972980.ogg",
        ],
        "Spawn3D_buffactivate": [
            "characters/Zeri/sounds/932017311.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Zeri/sounds/172198824.ogg",
        ],
        "Winddown3D_buffactivate": [
            "characters/Zeri/sounds/943211221.ogg",
        ],
        "ZeriBasicAttack_OnCast": [
            "characters/Zeri/sounds/445038055.ogg",
            "characters/Zeri/sounds/550061840.ogg",
            "characters/Zeri/sounds/993664368.ogg",
        ],
        "ZeriBasicAttack_OnHit": [
            "characters/Zeri/sounds/218019124.ogg",
            "characters/Zeri/sounds/458330455.ogg",
            "characters/Zeri/sounds/551334229.ogg",
        ],
        "ZeriCritAttack_OnCast": [
            "characters/Zeri/sounds/445038055.ogg",
            "characters/Zeri/sounds/550061840.ogg",
            "characters/Zeri/sounds/993664368.ogg",
        ],
        "ZeriCritAttack_OnHit": [
            "characters/Zeri/sounds/218019124.ogg",
            "characters/Zeri/sounds/458330455.ogg",
            "characters/Zeri/sounds/551334229.ogg",
        ],
        "ZeriESpecialRounds_OnBuffActivate": [
            "characters/Zeri/sounds/448216337.ogg",
            "characters/Zeri/sounds/716657168.ogg",
        ],
        "ZeriESpecialRounds_OnBuffDeactivate": [
            "characters/Zeri/sounds/514305846.ogg",
        ],
        "ZeriE_cast": [
            "characters/Zeri/sounds/145417287.ogg",
            "characters/Zeri/sounds/16134607.ogg",
        ],
        "ZeriE_end": [
            "characters/Zeri/sounds/137545852.ogg",
            "characters/Zeri/sounds/194383206.ogg",
            "characters/Zeri/sounds/264323238.ogg",
            "characters/Zeri/sounds/31425675.ogg",
            "characters/Zeri/sounds/992869310.ogg",
        ],
        "ZeriE_foley_land_hit": [
            "characters/Zeri/sounds/536653330.ogg",
        ],
        "ZeriE_foley_long_cast": [
            "characters/Zeri/sounds/759377033.ogg",
        ],
        "ZeriE_foley_long_loop": [
            "characters/Zeri/sounds/281377174.ogg",
        ],
        "ZeriE_foley_med_cast": [
            "characters/Zeri/sounds/879193615.ogg",
        ],
        "ZeriE_foley_short_cast": [
            "characters/Zeri/sounds/392520887.ogg",
        ],
        "ZeriPassiveShield_OnBuffActivate": [
            "characters/Zeri/sounds/1016571852.ogg",
            "characters/Zeri/sounds/1029345284.ogg",
            "characters/Zeri/sounds/236414631.ogg",
            "characters/Zeri/sounds/548760249.ogg",
        ],
        "ZeriPassiveShield_OnBuffDeactivate": [
            "characters/Zeri/sounds/280848469.ogg",
        ],
        "ZeriPassive_hit": [
            "characters/Zeri/sounds/1049316598.ogg",
            "characters/Zeri/sounds/325127543.ogg",
            "characters/Zeri/sounds/611207271.ogg",
        ],
        "ZeriQBasicAttackEmpowered_OnCast": [
            "characters/Zeri/sounds/313194394.ogg",
        ],
        "ZeriQBasicAttackEmpowered_OnHit": [
            "characters/Zeri/sounds/12282151.ogg",
            "characters/Zeri/sounds/945153067.ogg",
        ],
        "ZeriQBasicAttack_OnCast": [
            "characters/Zeri/sounds/445038055.ogg",
            "characters/Zeri/sounds/550061840.ogg",
            "characters/Zeri/sounds/993664368.ogg",
        ],
        "ZeriQBasicAttack_OnHit": [
            "characters/Zeri/sounds/218019124.ogg",
            "characters/Zeri/sounds/458330455.ogg",
            "characters/Zeri/sounds/551334229.ogg",
        ],
        "ZeriQCritAttack_hit": [
            "characters/Zeri/sounds/597981749.ogg",
            "characters/Zeri/sounds/897084823.ogg",
            "characters/Zeri/sounds/945470398.ogg",
        ],
        "ZeriQMisEmpoweredPierceParent_OnMissileCast": [
            "characters/Zeri/sounds/391948362.ogg",
            "characters/Zeri/sounds/558322617.ogg",
        ],
        "ZeriQMisEmpoweredPierce_OnMissileLaunch": [
            "characters/Zeri/sounds/115754526.ogg",
            "characters/Zeri/sounds/61888793.ogg",
            "characters/Zeri/sounds/908210576.ogg",
        ],
        "ZeriQMisEmpowered_OnMissileLaunch": [
            "characters/Zeri/sounds/115754526.ogg",
            "characters/Zeri/sounds/61888793.ogg",
            "characters/Zeri/sounds/908210576.ogg",
        ],
        "ZeriQMisEmpowered_hit": [
            "characters/Zeri/sounds/192633793.ogg",
            "characters/Zeri/sounds/399128514.ogg",
            "characters/Zeri/sounds/592135228.ogg",
            "characters/Zeri/sounds/884025587.ogg",
        ],
        "ZeriQMisPierceParent_OnMissileCast": [
            "characters/Zeri/sounds/391948362.ogg",
            "characters/Zeri/sounds/558322617.ogg",
        ],
        "ZeriQMisPierce_OnMissileLaunch": [
            "characters/Zeri/sounds/115754526.ogg",
            "characters/Zeri/sounds/61888793.ogg",
            "characters/Zeri/sounds/908210576.ogg",
        ],
        "ZeriQMis_OnMissileLaunch": [
            "characters/Zeri/sounds/115754526.ogg",
            "characters/Zeri/sounds/61888793.ogg",
            "characters/Zeri/sounds/908210576.ogg",
        ],
        "ZeriQMis_hit": [
            "characters/Zeri/sounds/192633793.ogg",
            "characters/Zeri/sounds/399128514.ogg",
            "characters/Zeri/sounds/592135228.ogg",
            "characters/Zeri/sounds/884025587.ogg",
        ],
        "ZeriQMis_hit_champ_self": [
            "characters/Zeri/sounds/40503001.ogg",
            "characters/Zeri/sounds/569100885.ogg",
            "characters/Zeri/sounds/575160949.ogg",
        ],
        "ZeriQPassiveReady_OnBuffCast": [
            "characters/Zeri/sounds/371733252.ogg",
            "characters/Zeri/sounds/452027371.ogg",
        ],
        "ZeriQ_OnCast": [
            "characters/Zeri/sounds/1062499827.ogg",
            "characters/Zeri/sounds/108264510.ogg",
            "characters/Zeri/sounds/326019419.ogg",
            "characters/Zeri/sounds/358319788.ogg",
            "characters/Zeri/sounds/453351563.ogg",
            "characters/Zeri/sounds/719180171.ogg",
            "characters/Zeri/sounds/754218797.ogg",
            "characters/Zeri/sounds/907706576.ogg",
            "characters/Zeri/sounds/93976835.ogg",
            "characters/Zeri/sounds/997207894.ogg",
        ],
        "ZeriRChain_hit": [
            "characters/Zeri/sounds/263194982.ogg",
            "characters/Zeri/sounds/32801128.ogg",
            "characters/Zeri/sounds/474654207.ogg",
        ],
        "ZeriR_OnBuffActivate": [
            "characters/Zeri/sounds/129553125.ogg",
            "characters/Zeri/sounds/29607470.ogg",
            "characters/Zeri/sounds/787194996.ogg",
            "characters/Zeri/sounds/905497928.ogg",
        ],
        "ZeriR_OnBuffDeactivate": [
            "characters/Zeri/sounds/120270919.ogg",
            "characters/Zeri/sounds/709292407.ogg",
        ],
        "ZeriR_OnCast": [
            "characters/Zeri/sounds/598475591.ogg",
            "characters/Zeri/sounds/824076144.ogg",
        ],
        "ZeriR_buffcast": [
            "characters/Zeri/sounds/663964067.ogg",
            "characters/Zeri/sounds/837587992.ogg",
        ],
        "ZeriW_OnCast": [
            "characters/Zeri/sounds/582351336.ogg",
            "characters/Zeri/sounds/836440996.ogg",
        ],
        "ZeriW_OnMissileCast": [
            "characters/Zeri/sounds/275988232.ogg",
            "characters/Zeri/sounds/422053760.ogg",
        ],
        "ZeriW_OnMissileLaunch": [
            "characters/Zeri/sounds/962622354.ogg",
        ],
        "ZeriW_beam_buffactivate": [
            "characters/Zeri/sounds/528495880.ogg",
            "characters/Zeri/sounds/63336871.ogg",
            "characters/Zeri/sounds/807748196.ogg",
        ],
        "ZeriW_hit": [
            "characters/Zeri/sounds/129591119.ogg",
            "characters/Zeri/sounds/823649689.ogg",
        ],
    },
)