(
    spellData: Some((
        calculations: Some({
            "bonus_ability_power": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "total_movement_speed": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: "modes_ms_mod",
                )),
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "ModesMSMod",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)