(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: Some([
            (
                name: "HealPercent",
                values: Some([
                    18.0,
                    18.0,
                    18.0,
                    18.0,
                    18.0,
                    18.0,
                    18.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)