(
    events: {
        "Dance3D_buffactivate": [
            "characters/Zaahen/sounds/570351995.ogg",
        ],
        "Dance3D_loop": [
            "characters/Zaahen/sounds/793491129.ogg",
        ],
        "Death3D_cast": [
            "characters/Zaahen/sounds/190661385.ogg",
        ],
        "Homeguard3D_leadin": [
            "characters/Zaahen/sounds/802380472.ogg",
        ],
        "Homeguard3D_loop": [
            "characters/Zaahen/sounds/173357669.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Zaahen/sounds/634367492.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Zaahen/sounds/370632518.ogg",
        ],
        "Play_vo_Zaahen_Assist3DYunara": [
            "characters/Zaahen/sounds/565109629.ogg",
        ],
        "Play_vo_Zaahen_Attack2DGeneral": [
            "characters/Zaahen/sounds/1062519721.ogg",
            "characters/Zaahen/sounds/111465332.ogg",
            "characters/Zaahen/sounds/139122156.ogg",
            "characters/Zaahen/sounds/1668039.ogg",
            "characters/Zaahen/sounds/345685321.ogg",
            "characters/Zaahen/sounds/382136435.ogg",
            "characters/Zaahen/sounds/4362165.ogg",
            "characters/Zaahen/sounds/567456652.ogg",
            "characters/Zaahen/sounds/571773092.ogg",
            "characters/Zaahen/sounds/628209448.ogg",
            "characters/Zaahen/sounds/656152003.ogg",
            "characters/Zaahen/sounds/707170100.ogg",
            "characters/Zaahen/sounds/747308660.ogg",
            "characters/Zaahen/sounds/80618258.ogg",
            "characters/Zaahen/sounds/808669788.ogg",
            "characters/Zaahen/sounds/85568855.ogg",
            "characters/Zaahen/sounds/890641195.ogg",
            "characters/Zaahen/sounds/925138560.ogg",
            "characters/Zaahen/sounds/971814011.ogg",
            "characters/Zaahen/sounds/999723765.ogg",
        ],
        "Play_vo_Zaahen_Death3D": [
            "characters/Zaahen/sounds/1072871561.ogg",
            "characters/Zaahen/sounds/131572236.ogg",
            "characters/Zaahen/sounds/626979997.ogg",
            "characters/Zaahen/sounds/655619711.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DAatrox": [
            "characters/Zaahen/sounds/825542922.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DAscended": [
            "characters/Zaahen/sounds/609948888.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DAzir": [
            "characters/Zaahen/sounds/11664245.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DDarkin": [
            "characters/Zaahen/sounds/947438003.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DDemacia": [
            "characters/Zaahen/sounds/925220141.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DDemon": [
            "characters/Zaahen/sounds/289998436.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DGeneral": [
            "characters/Zaahen/sounds/241199589.ogg",
            "characters/Zaahen/sounds/551036554.ogg",
            "characters/Zaahen/sounds/712944153.ogg",
            "characters/Zaahen/sounds/980329362.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DKayn": [
            "characters/Zaahen/sounds/557070240.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DKinkou": [
            "characters/Zaahen/sounds/578602627.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DLeBlanc": [
            "characters/Zaahen/sounds/463435383.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DNaafiri": [
            "characters/Zaahen/sounds/899742049.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DNasus": [
            "characters/Zaahen/sounds/819238531.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DRenekton": [
            "characters/Zaahen/sounds/857085470.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DShurima": [
            "characters/Zaahen/sounds/458601431.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DSivir": [
            "characters/Zaahen/sounds/620865328.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DVarus": [
            "characters/Zaahen/sounds/379839241.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DVoid": [
            "characters/Zaahen/sounds/47360967.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DXinZhao": [
            "characters/Zaahen/sounds/305147422.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DYunara": [
            "characters/Zaahen/sounds/403035622.ogg",
        ],
        "Play_vo_Zaahen_FirstEncounter3DZoe": [
            "characters/Zaahen/sounds/774664213.ogg",
        ],
        "Play_vo_Zaahen_Joke3DGeneral": [
            "characters/Zaahen/sounds/765766094.ogg",
        ],
        "Play_vo_Zaahen_JokeResponse3DGeneral": [
            "characters/Zaahen/sounds/533596072.ogg",
        ],
        "Play_vo_Zaahen_Kill3DAatrox": [
            "characters/Zaahen/sounds/811571240.ogg",
        ],
        "Play_vo_Zaahen_Kill3DAheadAllyTeam": [
            "characters/Zaahen/sounds/557262406.ogg",
            "characters/Zaahen/sounds/721222200.ogg",
        ],
        "Play_vo_Zaahen_Kill3DAscended": [
            "characters/Zaahen/sounds/59660833.ogg",
        ],
        "Play_vo_Zaahen_Kill3DBehindAllyTeam": [
            "characters/Zaahen/sounds/152166160.ogg",
            "characters/Zaahen/sounds/286351816.ogg",
        ],
        "Play_vo_Zaahen_Kill3DDarkin": [
            "characters/Zaahen/sounds/1028871653.ogg",
        ],
        "Play_vo_Zaahen_Kill3DFirst": [
            "characters/Zaahen/sounds/751607145.ogg",
        ],
        "Play_vo_Zaahen_Kill3DGeneral": [
            "characters/Zaahen/sounds/292713947.ogg",
            "characters/Zaahen/sounds/382124911.ogg",
            "characters/Zaahen/sounds/447894249.ogg",
            "characters/Zaahen/sounds/479063999.ogg",
            "characters/Zaahen/sounds/515508838.ogg",
            "characters/Zaahen/sounds/75482798.ogg",
            "characters/Zaahen/sounds/881539231.ogg",
            "characters/Zaahen/sounds/953060750.ogg",
        ],
        "Play_vo_Zaahen_Kill3DKayn": [
            "characters/Zaahen/sounds/545326193.ogg",
        ],
        "Play_vo_Zaahen_Kill3DNaafiri": [
            "characters/Zaahen/sounds/81456197.ogg",
        ],
        "Play_vo_Zaahen_Kill3DPenta": [
            "characters/Zaahen/sounds/312920819.ogg",
        ],
        "Play_vo_Zaahen_Kill3DVarus": [
            "characters/Zaahen/sounds/736355772.ogg",
        ],
        "Play_vo_Zaahen_Kill3DXinZhao": [
            "characters/Zaahen/sounds/680875905.ogg",
        ],
        "Play_vo_Zaahen_Kill3DYunara": [
            "characters/Zaahen/sounds/116492077.ogg",
        ],
        "Play_vo_Zaahen_Laugh3DGeneral": [
            "characters/Zaahen/sounds/367783890.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirst": [
            "characters/Zaahen/sounds/506136139.ogg",
            "characters/Zaahen/sounds/605360878.ogg",
            "characters/Zaahen/sounds/728772972.ogg",
            "characters/Zaahen/sounds/866839981.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyAatrox": [
            "characters/Zaahen/sounds/231715347.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyDarkin": [
            "characters/Zaahen/sounds/73300698.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyKayn": [
            "characters/Zaahen/sounds/852391004.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyNaafiri": [
            "characters/Zaahen/sounds/596433080.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyVarus": [
            "characters/Zaahen/sounds/397897421.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyXinZhao": [
            "characters/Zaahen/sounds/338626114.ogg",
        ],
        "Play_vo_Zaahen_Move2DFirstAllyYunara": [
            "characters/Zaahen/sounds/892057314.ogg",
            "characters/Zaahen/sounds/92746705.ogg",
        ],
        "Play_vo_Zaahen_Move2DLong": [
            "characters/Zaahen/sounds/153934640.ogg",
            "characters/Zaahen/sounds/2495202.ogg",
            "characters/Zaahen/sounds/428948896.ogg",
            "characters/Zaahen/sounds/434954257.ogg",
            "characters/Zaahen/sounds/470635861.ogg",
            "characters/Zaahen/sounds/742013217.ogg",
            "characters/Zaahen/sounds/766954459.ogg",
            "characters/Zaahen/sounds/774489518.ogg",
            "characters/Zaahen/sounds/804854342.ogg",
            "characters/Zaahen/sounds/978555067.ogg",
        ],
        "Play_vo_Zaahen_Move2DStandard": [
            "characters/Zaahen/sounds/104354606.ogg",
            "characters/Zaahen/sounds/180980784.ogg",
            "characters/Zaahen/sounds/217013948.ogg",
            "characters/Zaahen/sounds/237113915.ogg",
            "characters/Zaahen/sounds/318624234.ogg",
            "characters/Zaahen/sounds/447917121.ogg",
            "characters/Zaahen/sounds/455790074.ogg",
            "characters/Zaahen/sounds/521200916.ogg",
            "characters/Zaahen/sounds/522973476.ogg",
            "characters/Zaahen/sounds/582713986.ogg",
            "characters/Zaahen/sounds/626882623.ogg",
            "characters/Zaahen/sounds/635163438.ogg",
            "characters/Zaahen/sounds/726417259.ogg",
            "characters/Zaahen/sounds/754899062.ogg",
            "characters/Zaahen/sounds/755798208.ogg",
            "characters/Zaahen/sounds/796107562.ogg",
            "characters/Zaahen/sounds/797050350.ogg",
            "characters/Zaahen/sounds/803917757.ogg",
            "characters/Zaahen/sounds/806046043.ogg",
            "characters/Zaahen/sounds/843843873.ogg",
            "characters/Zaahen/sounds/906323498.ogg",
            "characters/Zaahen/sounds/945059003.ogg",
            "characters/Zaahen/sounds/962174365.ogg",
        ],
        "Play_vo_Zaahen_Recall3DGeneral": [
            "characters/Zaahen/sounds/300164009.ogg",
            "characters/Zaahen/sounds/538776782.ogg",
            "characters/Zaahen/sounds/636042763.ogg",
            "characters/Zaahen/sounds/659285762.ogg",
            "characters/Zaahen/sounds/740886345.ogg",
        ],
        "Play_vo_Zaahen_Respawn2DGeneral": [
            "characters/Zaahen/sounds/411888330.ogg",
            "characters/Zaahen/sounds/45652798.ogg",
            "characters/Zaahen/sounds/533661376.ogg",
            "characters/Zaahen/sounds/689566100.ogg",
            "characters/Zaahen/sounds/964078180.ogg",
        ],
        "Play_vo_Zaahen_Spell3DPMax": [
            "characters/Zaahen/sounds/256457462.ogg",
            "characters/Zaahen/sounds/288477059.ogg",
            "characters/Zaahen/sounds/353816472.ogg",
            "characters/Zaahen/sounds/413826893.ogg",
            "characters/Zaahen/sounds/47751275.ogg",
            "characters/Zaahen/sounds/579400552.ogg",
            "characters/Zaahen/sounds/708947552.ogg",
            "characters/Zaahen/sounds/995691453.ogg",
        ],
        "Play_vo_Zaahen_Spell3DPRevive": [
            "characters/Zaahen/sounds/1031122841.ogg",
            "characters/Zaahen/sounds/1032938757.ogg",
            "characters/Zaahen/sounds/1053385145.ogg",
            "characters/Zaahen/sounds/183774803.ogg",
            "characters/Zaahen/sounds/677353569.ogg",
            "characters/Zaahen/sounds/744523628.ogg",
            "characters/Zaahen/sounds/775246551.ogg",
            "characters/Zaahen/sounds/851867459.ogg",
        ],
        "Play_vo_Zaahen_Spell3DPReviveDarkin": [
            "characters/Zaahen/sounds/839021712.ogg",
        ],
        "Play_vo_Zaahen_Spell3DPReviveXinZhao": [
            "characters/Zaahen/sounds/415575380.ogg",
        ],
        "Play_vo_Zaahen_Spell3DPReviveYunara": [
            "characters/Zaahen/sounds/849088924.ogg",
        ],
        "Play_vo_Zaahen_Taunt3DGeneral": [
            "characters/Zaahen/sounds/521027886.ogg",
        ],
        "Play_vo_Zaahen_ZaahenBasicAttack2_cast3D": [
            "characters/Zaahen/sounds/143399064.ogg",
            "characters/Zaahen/sounds/224912806.ogg",
            "characters/Zaahen/sounds/860191944.ogg",
            "characters/Zaahen/sounds/876538386.ogg",
        ],
        "Play_vo_Zaahen_ZaahenBasicAttack3_cast3D": [
            "characters/Zaahen/sounds/143399064.ogg",
            "characters/Zaahen/sounds/224912806.ogg",
            "characters/Zaahen/sounds/860191944.ogg",
            "characters/Zaahen/sounds/876538386.ogg",
        ],
        "Play_vo_Zaahen_ZaahenBasicAttack_cast3D": [
            "characters/Zaahen/sounds/143399064.ogg",
            "characters/Zaahen/sounds/224912806.ogg",
            "characters/Zaahen/sounds/860191944.ogg",
            "characters/Zaahen/sounds/876538386.ogg",
        ],
        "Play_vo_Zaahen_ZaahenCritAttack_cast3D": [
            "characters/Zaahen/sounds/143399064.ogg",
            "characters/Zaahen/sounds/224912806.ogg",
            "characters/Zaahen/sounds/860191944.ogg",
            "characters/Zaahen/sounds/876538386.ogg",
        ],
        "Play_vo_Zaahen_ZaahenE_cast3D": [
            "characters/Zaahen/sounds/766252269.ogg",
            "characters/Zaahen/sounds/982110141.ogg",
        ],
        "Play_vo_Zaahen_ZaahenQ2Attack_cast3D": [
            "characters/Zaahen/sounds/348613747.ogg",
            "characters/Zaahen/sounds/436948878.ogg",
            "characters/Zaahen/sounds/627657888.ogg",
        ],
        "Play_vo_Zaahen_ZaahenQAttack_cast3D": [
            "characters/Zaahen/sounds/706609241.ogg",
            "characters/Zaahen/sounds/776793184.ogg",
            "characters/Zaahen/sounds/861909709.ogg",
        ],
        "Play_vo_Zaahen_ZaahenR_cast3D": [
            "characters/Zaahen/sounds/1021872387.ogg",
            "characters/Zaahen/sounds/198999695.ogg",
            "characters/Zaahen/sounds/203080658.ogg",
            "characters/Zaahen/sounds/708779074.ogg",
            "characters/Zaahen/sounds/998449195.ogg",
        ],
        "Play_vo_Zaahen_ZaahenW_cast3D": [
            "characters/Zaahen/sounds/130027290.ogg",
            "characters/Zaahen/sounds/899196472.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Zaahen/sounds/745533184.ogg",
        ],
        "Recall3D_winddown": [
            "characters/Zaahen/sounds/665049350.ogg",
        ],
        "Respawn3D_buffactivate": [
            "characters/Zaahen/sounds/598410086.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Zaahen/sounds/233460513.ogg",
        ],
        "ZaahenBasicAttack2_OnCast": [
            "characters/Zaahen/sounds/150516804.ogg",
            "characters/Zaahen/sounds/841883242.ogg",
            "characters/Zaahen/sounds/946425146.ogg",
        ],
        "ZaahenBasicAttack2_OnHit": [
            "characters/Zaahen/sounds/1038217645.ogg",
            "characters/Zaahen/sounds/1055257121.ogg",
            "characters/Zaahen/sounds/108191969.ogg",
            "characters/Zaahen/sounds/111988810.ogg",
            "characters/Zaahen/sounds/150841008.ogg",
            "characters/Zaahen/sounds/354972143.ogg",
            "characters/Zaahen/sounds/387788290.ogg",
            "characters/Zaahen/sounds/409706917.ogg",
            "characters/Zaahen/sounds/452679130.ogg",
            "characters/Zaahen/sounds/512676720.ogg",
            "characters/Zaahen/sounds/523449571.ogg",
            "characters/Zaahen/sounds/565911168.ogg",
            "characters/Zaahen/sounds/601201424.ogg",
            "characters/Zaahen/sounds/718980404.ogg",
            "characters/Zaahen/sounds/722264629.ogg",
            "characters/Zaahen/sounds/816882110.ogg",
            "characters/Zaahen/sounds/831985809.ogg",
            "characters/Zaahen/sounds/850967435.ogg",
            "characters/Zaahen/sounds/878114572.ogg",
        ],
        "ZaahenBasicAttack3_OnCast": [
            "characters/Zaahen/sounds/150516804.ogg",
            "characters/Zaahen/sounds/841883242.ogg",
            "characters/Zaahen/sounds/946425146.ogg",
        ],
        "ZaahenBasicAttack3_OnHit": [
            "characters/Zaahen/sounds/1038217645.ogg",
            "characters/Zaahen/sounds/1055257121.ogg",
            "characters/Zaahen/sounds/108191969.ogg",
            "characters/Zaahen/sounds/111988810.ogg",
            "characters/Zaahen/sounds/150841008.ogg",
            "characters/Zaahen/sounds/354972143.ogg",
            "characters/Zaahen/sounds/387788290.ogg",
            "characters/Zaahen/sounds/409706917.ogg",
            "characters/Zaahen/sounds/452679130.ogg",
            "characters/Zaahen/sounds/512676720.ogg",
            "characters/Zaahen/sounds/523449571.ogg",
            "characters/Zaahen/sounds/565911168.ogg",
            "characters/Zaahen/sounds/601201424.ogg",
            "characters/Zaahen/sounds/718980404.ogg",
            "characters/Zaahen/sounds/722264629.ogg",
            "characters/Zaahen/sounds/816882110.ogg",
            "characters/Zaahen/sounds/831985809.ogg",
            "characters/Zaahen/sounds/850967435.ogg",
            "characters/Zaahen/sounds/878114572.ogg",
        ],
        "ZaahenBasicAttack_OnCast": [
            "characters/Zaahen/sounds/150516804.ogg",
            "characters/Zaahen/sounds/841883242.ogg",
            "characters/Zaahen/sounds/946425146.ogg",
        ],
        "ZaahenBasicAttack_OnHit": [
            "characters/Zaahen/sounds/1038217645.ogg",
            "characters/Zaahen/sounds/1055257121.ogg",
            "characters/Zaahen/sounds/108191969.ogg",
            "characters/Zaahen/sounds/111988810.ogg",
            "characters/Zaahen/sounds/150841008.ogg",
            "characters/Zaahen/sounds/354972143.ogg",
            "characters/Zaahen/sounds/387788290.ogg",
            "characters/Zaahen/sounds/409706917.ogg",
            "characters/Zaahen/sounds/452679130.ogg",
            "characters/Zaahen/sounds/512676720.ogg",
            "characters/Zaahen/sounds/523449571.ogg",
            "characters/Zaahen/sounds/565911168.ogg",
            "characters/Zaahen/sounds/601201424.ogg",
            "characters/Zaahen/sounds/718980404.ogg",
            "characters/Zaahen/sounds/722264629.ogg",
            "characters/Zaahen/sounds/816882110.ogg",
            "characters/Zaahen/sounds/831985809.ogg",
            "characters/Zaahen/sounds/850967435.ogg",
            "characters/Zaahen/sounds/878114572.ogg",
        ],
        "ZaahenCritAttack2_OnCast": [
            "characters/Zaahen/sounds/150516804.ogg",
            "characters/Zaahen/sounds/841883242.ogg",
            "characters/Zaahen/sounds/946425146.ogg",
        ],
        "ZaahenCritAttack2_OnHit": [
            "characters/Zaahen/sounds/1038217645.ogg",
            "characters/Zaahen/sounds/1055257121.ogg",
            "characters/Zaahen/sounds/108191969.ogg",
            "characters/Zaahen/sounds/111988810.ogg",
            "characters/Zaahen/sounds/150841008.ogg",
            "characters/Zaahen/sounds/354972143.ogg",
            "characters/Zaahen/sounds/387788290.ogg",
            "characters/Zaahen/sounds/409706917.ogg",
            "characters/Zaahen/sounds/452679130.ogg",
            "characters/Zaahen/sounds/512676720.ogg",
            "characters/Zaahen/sounds/523449571.ogg",
            "characters/Zaahen/sounds/565911168.ogg",
            "characters/Zaahen/sounds/601201424.ogg",
            "characters/Zaahen/sounds/718980404.ogg",
            "characters/Zaahen/sounds/722264629.ogg",
            "characters/Zaahen/sounds/816882110.ogg",
            "characters/Zaahen/sounds/831985809.ogg",
            "characters/Zaahen/sounds/850967435.ogg",
            "characters/Zaahen/sounds/878114572.ogg",
        ],
        "ZaahenCritAttack3_OnCast": [
            "characters/Zaahen/sounds/150516804.ogg",
            "characters/Zaahen/sounds/841883242.ogg",
            "characters/Zaahen/sounds/946425146.ogg",
        ],
        "ZaahenCritAttack3_OnHit": [
            "characters/Zaahen/sounds/1038217645.ogg",
            "characters/Zaahen/sounds/1055257121.ogg",
            "characters/Zaahen/sounds/108191969.ogg",
            "characters/Zaahen/sounds/111988810.ogg",
            "characters/Zaahen/sounds/150841008.ogg",
            "characters/Zaahen/sounds/354972143.ogg",
            "characters/Zaahen/sounds/387788290.ogg",
            "characters/Zaahen/sounds/409706917.ogg",
            "characters/Zaahen/sounds/452679130.ogg",
            "characters/Zaahen/sounds/512676720.ogg",
            "characters/Zaahen/sounds/523449571.ogg",
            "characters/Zaahen/sounds/565911168.ogg",
            "characters/Zaahen/sounds/601201424.ogg",
            "characters/Zaahen/sounds/718980404.ogg",
            "characters/Zaahen/sounds/722264629.ogg",
            "characters/Zaahen/sounds/816882110.ogg",
            "characters/Zaahen/sounds/831985809.ogg",
            "characters/Zaahen/sounds/850967435.ogg",
            "characters/Zaahen/sounds/878114572.ogg",
        ],
        "ZaahenCritAttack_OnCast": [
            "characters/Zaahen/sounds/150516804.ogg",
            "characters/Zaahen/sounds/841883242.ogg",
            "characters/Zaahen/sounds/946425146.ogg",
        ],
        "ZaahenCritAttack_OnHit": [
            "characters/Zaahen/sounds/1038217645.ogg",
            "characters/Zaahen/sounds/1055257121.ogg",
            "characters/Zaahen/sounds/108191969.ogg",
            "characters/Zaahen/sounds/111988810.ogg",
            "characters/Zaahen/sounds/150841008.ogg",
            "characters/Zaahen/sounds/354972143.ogg",
            "characters/Zaahen/sounds/387788290.ogg",
            "characters/Zaahen/sounds/409706917.ogg",
            "characters/Zaahen/sounds/452679130.ogg",
            "characters/Zaahen/sounds/512676720.ogg",
            "characters/Zaahen/sounds/523449571.ogg",
            "characters/Zaahen/sounds/565911168.ogg",
            "characters/Zaahen/sounds/601201424.ogg",
            "characters/Zaahen/sounds/718980404.ogg",
            "characters/Zaahen/sounds/722264629.ogg",
            "characters/Zaahen/sounds/816882110.ogg",
            "characters/Zaahen/sounds/831985809.ogg",
            "characters/Zaahen/sounds/850967435.ogg",
            "characters/Zaahen/sounds/878114572.ogg",
        ],
        "ZaahenEAttack_AoE_buffactivate": [
            "characters/Zaahen/sounds/282830202.ogg",
            "characters/Zaahen/sounds/606452474.ogg",
        ],
        "ZaahenEAttack_hit_inner": [
            "characters/Zaahen/sounds/44608238.ogg",
            "characters/Zaahen/sounds/872074790.ogg",
        ],
        "ZaahenEAttack_hit_outer": [
            "characters/Zaahen/sounds/173625502.ogg",
            "characters/Zaahen/sounds/523689470.ogg",
        ],
        "ZaahenE_OnCast": [
            "characters/Zaahen/sounds/326242071.ogg",
            "characters/Zaahen/sounds/613405903.ogg",
        ],
        "ZaahenP_loop_revive_ready": [
            "characters/Zaahen/sounds/791487879.ogg",
        ],
        "ZaahenP_loop_stacks_max": [
            "characters/Zaahen/sounds/125464469.ogg",
            "characters/Zaahen/sounds/161752413.ogg",
        ],
        "ZaahenP_revive_buffactivate": [
            "characters/Zaahen/sounds/1034433012.ogg",
        ],
        "ZaahenP_revive_ready": [
            "characters/Zaahen/sounds/298727079.ogg",
            "characters/Zaahen/sounds/342271851.ogg",
        ],
        "ZaahenQ1_buffactivate": [
            "characters/Zaahen/sounds/888586455.ogg",
        ],
        "ZaahenQ2Attack_OnCast": [
            "characters/Zaahen/sounds/427907589.ogg",
        ],
        "ZaahenQ2Attack_OnHit": [
            "characters/Zaahen/sounds/551944825.ogg",
            "characters/Zaahen/sounds/995990725.ogg",
        ],
        "ZaahenQ2_OnCast": [
            "characters/Zaahen/sounds/7160776.ogg",
            "characters/Zaahen/sounds/967166428.ogg",
        ],
        "ZaahenQ2_buffactivate": [
            "characters/Zaahen/sounds/536353516.ogg",
        ],
        "ZaahenQAttack_OnCast": [
            "characters/Zaahen/sounds/75619329.ogg",
        ],
        "ZaahenQAttack_OnHit": [
            "characters/Zaahen/sounds/1071418180.ogg",
            "characters/Zaahen/sounds/218716834.ogg",
        ],
        "ZaahenQ_OnCast": [
            "characters/Zaahen/sounds/24083510.ogg",
            "characters/Zaahen/sounds/269281099.ogg",
        ],
        "ZaahenR_AoE_buffactivate": [
            "characters/Zaahen/sounds/579761646.ogg",
        ],
        "ZaahenR_AoE_hit_champion": [
            "characters/Zaahen/sounds/18023312.ogg",
            "characters/Zaahen/sounds/229250042.ogg",
            "characters/Zaahen/sounds/499557339.ogg",
        ],
        "ZaahenR_AoE_hit_minion": [
            "characters/Zaahen/sounds/18023312.ogg",
            "characters/Zaahen/sounds/229250042.ogg",
            "characters/Zaahen/sounds/499557339.ogg",
        ],
        "ZaahenR_AoE_warning": [
            "characters/Zaahen/sounds/856150820.ogg",
        ],
        "ZaahenR_OnCast": [
            "characters/Zaahen/sounds/1053678216.ogg",
        ],
        "ZaahenR_dash": [
            "characters/Zaahen/sounds/238157383.ogg",
        ],
        "ZaahenW_OnCast": [
            "characters/Zaahen/sounds/1041143723.ogg",
            "characters/Zaahen/sounds/910007722.ogg",
        ],
        "ZaahenW_OnMissileLaunch": [
            "characters/Zaahen/sounds/1028303861.ogg",
            "characters/Zaahen/sounds/288329862.ogg",
        ],
        "ZaahenW_hit_champion": [
            "characters/Zaahen/sounds/573927370.ogg",
            "characters/Zaahen/sounds/787309293.ogg",
            "characters/Zaahen/sounds/809489398.ogg",
        ],
        "ZaahenW_hit_minion": [
            "characters/Zaahen/sounds/573927370.ogg",
            "characters/Zaahen/sounds/787309293.ogg",
            "characters/Zaahen/sounds/809489398.ogg",
        ],
        "ZaahenW_pull_cast": [
            "characters/Zaahen/sounds/781873022.ogg",
        ],
        "ZaahenW_pull_champion": [
            "characters/Zaahen/sounds/333506005.ogg",
            "characters/Zaahen/sounds/408560585.ogg",
            "characters/Zaahen/sounds/928629822.ogg",
        ],
        "ZaahenW_pull_minion": [
            "characters/Zaahen/sounds/333506005.ogg",
            "characters/Zaahen/sounds/408560585.ogg",
            "characters/Zaahen/sounds/928629822.ogg",
        ],
    },
)