(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Bard/spells/BardPTooltip_D_nS.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 10.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Bard/spells/BardR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 22.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Bard/spells/BardE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Bard/spells/BardW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 12.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Bard/spells/BardQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Bard",
        "lol_core::attack::Attack": (
          range: 600.0,
          base_attack_speed: 0.625,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 1.6,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.09,
          max: 0.09,
          base: 0.09,
          per_level: 0.0,
          base_static_regen: 50.0,
          regen_per_level: 350.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 35.0,
          height: 110.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (5.0),
        "lol_core::damage::Damage": (52.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 630.0,
          max: 630.0,
        ),
        "lol_core::movement::Movement": (
          speed: 335.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "BardBasicAttack": Path("characters/Bard/spells/BardBasicAttack.ron"),
          "BardBasicAttack2": Path("characters/Bard/spells/BardBasicAttack2.ron"),
          "BardBasicAttack3": Path("characters/Bard/spells/BardBasicAttack3.ron"),
          "BardCritAttack": Path("characters/Bard/spells/BardCritAttack.ron"),
          "BardE": Path("characters/Bard/spells/BardE.ron"),
          "BardECreateDoor": Path("characters/Bard/spells/BardECreateDoor.ron"),
          "BardPChimePickupLinesMissile": Path("characters/Bard/spells/BardPChimePickupLinesMissile.ron"),
          "BardPSpiritMissile": Path("characters/Bard/spells/BardPSpiritMissile.ron"),
          "BardPTooltip_DSAM_nA": Path("characters/Bard/spells/BardPTooltip_DSAM_nA.ron"),
          "BardPTooltip_DSAM_nD": Path("characters/Bard/spells/BardPTooltip_DSAM_nD.ron"),
          "BardPTooltip_DSAM_nM": Path("characters/Bard/spells/BardPTooltip_DSAM_nM.ron"),
          "BardPTooltip_DSAM_nR": Path("characters/Bard/spells/BardPTooltip_DSAM_nR.ron"),
          "BardPTooltip_DSAM_nS": Path("characters/Bard/spells/BardPTooltip_DSAM_nS.ron"),
          "BardPTooltip_DSM_nA": Path("characters/Bard/spells/BardPTooltip_DSM_nA.ron"),
          "BardPTooltip_DSM_nD": Path("characters/Bard/spells/BardPTooltip_DSM_nD.ron"),
          "BardPTooltip_DS_nD": Path("characters/Bard/spells/BardPTooltip_DS_nD.ron"),
          "BardPTooltip_DS_nM": Path("characters/Bard/spells/BardPTooltip_DS_nM.ron"),
          "BardPTooltip_D_nS": Path("characters/Bard/spells/BardPTooltip_D_nS.ron"),
          "BardQ": Path("characters/Bard/spells/BardQ.ron"),
          "BardQInitialTargetDebuff": Path("characters/Bard/spells/BardQInitialTargetDebuff.ron"),
          "BardQMissile": Path("characters/Bard/spells/BardQMissile.ron"),
          "BardQMissile2": Path("characters/Bard/spells/BardQMissile2.ron"),
          "BardQShackleDebuff": Path("characters/Bard/spells/BardQShackleDebuff.ron"),
          "BardR": Path("characters/Bard/spells/BardR.ron"),
          "BardRMissileFixedTravelTime": Path("characters/Bard/spells/BardRMissileFixedTravelTime.ron"),
          "BardRMissileRange1": Path("characters/Bard/spells/BardRMissileRange1.ron"),
          "BardRMissileRange2": Path("characters/Bard/spells/BardRMissileRange2.ron"),
          "BardRMissileRange3": Path("characters/Bard/spells/BardRMissileRange3.ron"),
          "BardRMissileRange4": Path("characters/Bard/spells/BardRMissileRange4.ron"),
          "BardRMissileRange5": Path("characters/Bard/spells/BardRMissileRange5.ron"),
          "BardW": Path("characters/Bard/spells/BardW.ron"),
          "BardWActualHealing": Path("characters/Bard/spells/BardWActualHealing.ron"),
          "BardWDirectHeal": Path("characters/Bard/spells/BardWDirectHeal.ron"),
          "BardWHealthPack": Path("characters/Bard/spells/BardWHealthPack.ron"),
          "BardWSpeedBoost": Path("characters/Bard/spells/BardWSpeedBoost.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)