(
    spellData: Some((
        calculations: Some({
            3660878268: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(12),
                        coefficient: Some(0.06),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            835036450: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            1756461745: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            888767856: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.001),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            4081769832: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1061957287: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            2491475535: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(2),
                        subpart: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3967759176: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(4),
                        dataValue: 3845635706,
                    ),
                ]),
                multiplier: Some((
                    type: "CalculationPartNamedDataValue",
                    dataValue: 1634389462,
                )),
                precision: None,
            ),
            3303698691: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 1299802551,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3202745679: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(1),
            ),
            2716537284: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Duration",
                values: Some([
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                    1.75,
                ]),
            ),
            (
                name: "DecayTakes",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "ASCoeff",
                values: Some([
                    0.33334,
                    0.33334,
                    0.33334,
                    0.33334,
                    0.33334,
                    0.33334,
                    0.33334,
                ]),
            ),
            (
                name: "StartingAttacks",
                values: Some([
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                    6.0,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1850.0),
        missileEffectKey: None,
        castType: None,
    )),
)