(
    spellData: Some((
        calculations: Some({
            1508461632: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(2),
                        subpart: None,
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.7),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3181519304: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            4081769832: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3737656915: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            2376857072: (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: Some(2),
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SlowDuration",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                name: "RootDuration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
        ]),
        mana: Some([
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1850.0),
        missileEffectKey: None,
        castType: None,
    )),
)