(
    spellData: Some((
        calculations: Some({
            "crit_damage": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "bonus_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BonusRange",
                values: Some([
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                    50.0,
                ]),
            ),
            (
                name: "BonusDamage",
                values: Some([
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                name: "BasicStacks",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "BigStacks",
                values: Some([
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                    12.0,
                ]),
            ),
            (
                name: "BuffDuration",
                values: Some([
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                    10.0,
                ]),
            ),
        ]),
        mana: Some([
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
            20.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("root"),
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)