(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(400.0),
                startBoneName: Some("Buffbone_Glb_Ground_Loc"),
            ),
        )),
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: Some(817548904),
        castType: Some(3),
    )),
)