(
    spellData: Some((
        calculations: Some({
            "gray_health_storage_initial": (
                type: "CalculationSpell",
                formulaParts: Some([]),
                multiplier: None,
                precision: None,
            ),
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "recast_base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(12),
                        coefficient: Some(0.07),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Duration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "CurrentHealthCost",
                values: Some([
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                    0.08,
                ]),
            ),
            (
                name: "GrayHealthStorage",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "GrayHealthInitialDuration",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "GrayHealthBigMod",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "GrayHealthSmallMod",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "SecondCastRange",
                values: Some([
                    325.0,
                    325.0,
                    325.0,
                    325.0,
                    325.0,
                    325.0,
                    325.0,
                ]),
            ),
            (
                name: "SecondCastLockout",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "DamagePerTick",
                values: Some([
                    1.25,
                    5.0,
                    8.75,
                    12.5,
                    16.25,
                    20.0,
                    23.75,
                ]),
            ),
            (
                name: "RecastBaseDamage",
                values: Some([
                    5.0,
                    20.0,
                    35.0,
                    50.0,
                    65.0,
                    80.0,
                    95.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            325.0,
            325.0,
            325.0,
            325.0,
            325.0,
            325.0,
            325.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: Some("Spell2"),
        cooldownTime: Some([
            17.0,
            17.0,
            16.5,
            16.0,
            15.5,
            15.0,
            15.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: None,
        affectsTypeFlags: Some(9221),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)