(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    5.0,
                    5.0,
                    10.0,
                    15.0,
                    20.0,
                    25.0,
                    0.0,
                ]),
            ),
            (
                values: Some([
                    0.85,
                    0.85,
                    0.975,
                    1.1,
                    1.125,
                    1.35,
                    0.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
            25000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: None,
        animationName: Some("None"),
        cooldownTime: Some([
            16.0,
            16.0,
            15.0,
            14.0,
            13.0,
            12.0,
            12.0,
        ]),
        cantCancelWhileWindingUp: None,
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(8192),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: None,
    )),
)