(
    events: {
        "Death3D_cast": [
            "characters/Malzahar/sounds/413457783.ogg",
            "characters/Malzahar/sounds/54980792.ogg",
            "characters/Malzahar/sounds/928652470.ogg",
        ],
        "MalZaharBasicAttack2_OnCast": [
            "characters/Malzahar/sounds/119078983.ogg",
            "characters/Malzahar/sounds/128977424.ogg",
            "characters/Malzahar/sounds/412014137.ogg",
        ],
        "MalZaharBasicAttack2_OnHit": [
            "characters/Malzahar/sounds/350444592.ogg",
            "characters/Malzahar/sounds/425603493.ogg",
            "characters/Malzahar/sounds/497873610.ogg",
        ],
        "MalZaharBasicAttack2_OnMissileLaunch": [
            "characters/Malzahar/sounds/106299401.ogg",
            "characters/Malzahar/sounds/507102217.ogg",
            "characters/Malzahar/sounds/63378375.ogg",
        ],
        "MalZaharBasicAttack_OnCast": [
            "characters/Malzahar/sounds/119078983.ogg",
            "characters/Malzahar/sounds/128977424.ogg",
            "characters/Malzahar/sounds/412014137.ogg",
        ],
        "MalZaharBasicAttack_OnHit": [
            "characters/Malzahar/sounds/350444592.ogg",
            "characters/Malzahar/sounds/425603493.ogg",
            "characters/Malzahar/sounds/497873610.ogg",
        ],
        "MalZaharBasicAttack_OnMissileLaunch": [
            "characters/Malzahar/sounds/106299401.ogg",
            "characters/Malzahar/sounds/507102217.ogg",
            "characters/Malzahar/sounds/63378375.ogg",
        ],
        "MalZaharCritAttack_OnCast": [
            "characters/Malzahar/sounds/119078983.ogg",
            "characters/Malzahar/sounds/128977424.ogg",
            "characters/Malzahar/sounds/412014137.ogg",
        ],
        "MalZaharCritAttack_OnHit": [
            "characters/Malzahar/sounds/350444592.ogg",
            "characters/Malzahar/sounds/425603493.ogg",
            "characters/Malzahar/sounds/497873610.ogg",
        ],
        "MalZaharCritAttack_OnMissileLaunch": [
            "characters/Malzahar/sounds/106299401.ogg",
            "characters/Malzahar/sounds/507102217.ogg",
            "characters/Malzahar/sounds/63378375.ogg",
        ],
        "MalZaharVoidling_MalZaharVoidlingBasicAttack2_OnCast": [
            "characters/Malzahar/sounds/272029503.ogg",
            "characters/Malzahar/sounds/345873354.ogg",
            "characters/Malzahar/sounds/346348951.ogg",
            "characters/Malzahar/sounds/68422309.ogg",
        ],
        "MalZaharVoidling_MalZaharVoidlingBasicAttack3_OnCast": [
            "characters/Malzahar/sounds/272029503.ogg",
            "characters/Malzahar/sounds/345873354.ogg",
            "characters/Malzahar/sounds/346348951.ogg",
            "characters/Malzahar/sounds/68422309.ogg",
        ],
        "MalZaharVoidling_MalZaharVoidlingBasicAttack_OnCast": [
            "characters/Malzahar/sounds/272029503.ogg",
            "characters/Malzahar/sounds/345873354.ogg",
            "characters/Malzahar/sounds/346348951.ogg",
            "characters/Malzahar/sounds/68422309.ogg",
        ],
        "MalzaharE_OnBuffActivate": [
            "characters/Malzahar/sounds/1030778148.ogg",
            "characters/Malzahar/sounds/150755641.ogg",
            "characters/Malzahar/sounds/295049387.ogg",
        ],
        "MalzaharE_OnCast": [
            "characters/Malzahar/sounds/701391027.ogg",
        ],
        "MalzaharPassiveShieldWindDown_OnBuffActivate": [
            "characters/Malzahar/sounds/93219953.ogg",
        ],
        "MalzaharPassiveShield_OnBuffActivate": [
            "characters/Malzahar/sounds/272217207.ogg",
            "characters/Malzahar/sounds/413426223.ogg",
        ],
        "MalzaharPassiveShield_flicker": [
            "characters/Malzahar/sounds/1043606585.ogg",
            "characters/Malzahar/sounds/107959138.ogg",
            "characters/Malzahar/sounds/550383530.ogg",
            "characters/Malzahar/sounds/813253294.ogg",
        ],
        "MalzaharPassiveShield_hit": [
            "characters/Malzahar/sounds/1009852725.ogg",
            "characters/Malzahar/sounds/397134390.ogg",
            "characters/Malzahar/sounds/571296928.ogg",
            "characters/Malzahar/sounds/877257582.ogg",
            "characters/Malzahar/sounds/995359213.ogg",
        ],
        "MalzaharPassiveShield_windup": [
            "characters/Malzahar/sounds/611688854.ogg",
            "characters/Malzahar/sounds/757792153.ogg",
            "characters/Malzahar/sounds/823330740.ogg",
            "characters/Malzahar/sounds/853013454.ogg",
        ],
        "MalzaharQ_OnCast": [
            "characters/Malzahar/sounds/21657628.ogg",
            "characters/Malzahar/sounds/31904061.ogg",
            "characters/Malzahar/sounds/798895264.ogg",
        ],
        "MalzaharQ_buffactivate": [
            "characters/Malzahar/sounds/252660833.ogg",
        ],
        "MalzaharQ_missilelaunch": [
            "characters/Malzahar/sounds/819621174.ogg",
        ],
        "MalzaharRZone_buffactivate": [
            "characters/Malzahar/sounds/63930823.ogg",
            "characters/Malzahar/sounds/995461833.ogg",
        ],
        "MalzaharVoidling_MalzaharVoidlingBasicAttack2_OnHit": [
            "characters/Malzahar/sounds/1066271504.ogg",
            "characters/Malzahar/sounds/390479260.ogg",
            "characters/Malzahar/sounds/495350545.ogg",
            "characters/Malzahar/sounds/536424250.ogg",
            "characters/Malzahar/sounds/56930551.ogg",
            "characters/Malzahar/sounds/616965490.ogg",
            "characters/Malzahar/sounds/672191120.ogg",
            "characters/Malzahar/sounds/696775656.ogg",
            "characters/Malzahar/sounds/696934691.ogg",
            "characters/Malzahar/sounds/89111928.ogg",
            "characters/Malzahar/sounds/905647302.ogg",
            "characters/Malzahar/sounds/939538354.ogg",
        ],
        "MalzaharVoidling_MalzaharVoidlingBasicAttack3_OnHit": [
            "characters/Malzahar/sounds/1066271504.ogg",
            "characters/Malzahar/sounds/390479260.ogg",
            "characters/Malzahar/sounds/495350545.ogg",
            "characters/Malzahar/sounds/536424250.ogg",
            "characters/Malzahar/sounds/56930551.ogg",
            "characters/Malzahar/sounds/616965490.ogg",
            "characters/Malzahar/sounds/672191120.ogg",
            "characters/Malzahar/sounds/696775656.ogg",
            "characters/Malzahar/sounds/696934691.ogg",
            "characters/Malzahar/sounds/89111928.ogg",
            "characters/Malzahar/sounds/905647302.ogg",
            "characters/Malzahar/sounds/939538354.ogg",
        ],
        "MalzaharVoidling_MalzaharVoidlingBasicAttack_OnHit": [
            "characters/Malzahar/sounds/1066271504.ogg",
            "characters/Malzahar/sounds/390479260.ogg",
            "characters/Malzahar/sounds/495350545.ogg",
            "characters/Malzahar/sounds/536424250.ogg",
            "characters/Malzahar/sounds/56930551.ogg",
            "characters/Malzahar/sounds/616965490.ogg",
            "characters/Malzahar/sounds/672191120.ogg",
            "characters/Malzahar/sounds/696775656.ogg",
            "characters/Malzahar/sounds/696934691.ogg",
            "characters/Malzahar/sounds/89111928.ogg",
            "characters/Malzahar/sounds/905647302.ogg",
            "characters/Malzahar/sounds/939538354.ogg",
        ],
        "MalzaharVoidling_buffdeactivate": [
            "characters/Malzahar/sounds/271035536.ogg",
            "characters/Malzahar/sounds/294222425.ogg",
            "characters/Malzahar/sounds/750848027.ogg",
            "characters/Malzahar/sounds/753400308.ogg",
            "characters/Malzahar/sounds/851225672.ogg",
        ],
        "Play_vo_Malzahar_Attack2DGeneral": [
            "characters/Malzahar/sounds/1030825335.ogg",
            "characters/Malzahar/sounds/589792090.ogg",
            "characters/Malzahar/sounds/662961814.ogg",
            "characters/Malzahar/sounds/666860009.ogg",
            "characters/Malzahar/sounds/790828195.ogg",
            "characters/Malzahar/sounds/840991759.ogg",
        ],
        "Play_vo_Malzahar_Death3D": [
            "characters/Malzahar/sounds/224071475.ogg",
            "characters/Malzahar/sounds/389397688.ogg",
            "characters/Malzahar/sounds/422934580.ogg",
            "characters/Malzahar/sounds/883770373.ogg",
        ],
        "Play_vo_Malzahar_Joke3DGeneral": [
            "characters/Malzahar/sounds/814498805.ogg",
        ],
        "Play_vo_Malzahar_Laugh3DGeneral": [
            "characters/Malzahar/sounds/322960307.ogg",
            "characters/Malzahar/sounds/366758972.ogg",
            "characters/Malzahar/sounds/771631435.ogg",
            "characters/Malzahar/sounds/919648008.ogg",
        ],
        "Play_vo_Malzahar_MalzaharBasicAttack2_cast3D": [
            "characters/Malzahar/sounds/261825907.ogg",
            "characters/Malzahar/sounds/288898429.ogg",
            "characters/Malzahar/sounds/386585544.ogg",
            "characters/Malzahar/sounds/770884804.ogg",
        ],
        "Play_vo_Malzahar_MalzaharBasicAttack_cast3D": [
            "characters/Malzahar/sounds/261825907.ogg",
            "characters/Malzahar/sounds/288898429.ogg",
            "characters/Malzahar/sounds/386585544.ogg",
            "characters/Malzahar/sounds/770884804.ogg",
        ],
        "Play_vo_Malzahar_MalzaharCritAttack_cast3D": [
            "characters/Malzahar/sounds/261825907.ogg",
            "characters/Malzahar/sounds/288898429.ogg",
            "characters/Malzahar/sounds/386585544.ogg",
            "characters/Malzahar/sounds/770884804.ogg",
        ],
        "Play_vo_Malzahar_MalzaharE_cast3D": [
            "characters/Malzahar/sounds/119834890.ogg",
            "characters/Malzahar/sounds/120279786.ogg",
            "characters/Malzahar/sounds/261763566.ogg",
            "characters/Malzahar/sounds/899152695.ogg",
        ],
        "Play_vo_Malzahar_MalzaharQ_cast3D": [
            "characters/Malzahar/sounds/119834890.ogg",
            "characters/Malzahar/sounds/120279786.ogg",
            "characters/Malzahar/sounds/261763566.ogg",
            "characters/Malzahar/sounds/899152695.ogg",
        ],
        "Play_vo_Malzahar_MalzaharR_hit3D": [
            "characters/Malzahar/sounds/159052195.ogg",
            "characters/Malzahar/sounds/743505941.ogg",
            "characters/Malzahar/sounds/767703979.ogg",
            "characters/Malzahar/sounds/83612226.ogg",
        ],
        "Play_vo_Malzahar_Move2DStandard": [
            "characters/Malzahar/sounds/198294704.ogg",
            "characters/Malzahar/sounds/218605089.ogg",
            "characters/Malzahar/sounds/348282256.ogg",
            "characters/Malzahar/sounds/388498655.ogg",
            "characters/Malzahar/sounds/388620514.ogg",
            "characters/Malzahar/sounds/505000992.ogg",
            "characters/Malzahar/sounds/609927265.ogg",
            "characters/Malzahar/sounds/689477114.ogg",
            "characters/Malzahar/sounds/932368221.ogg",
        ],
        "Play_vo_Malzahar_Taunt3DGeneral": [
            "characters/Malzahar/sounds/1046756832.ogg",
            "characters/Malzahar/sounds/224352840.ogg",
        ],
    },
)