(
    spellData: Some((
        calculations: Some({
            "calc_damage_flat": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "damage_flat_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(2),
                        dataValue: "ad_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Slow_Duration",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "Slow_Amount",
                values: Some([
                    0.99,
                    0.99,
                    0.99,
                    0.99,
                    0.99,
                    0.99,
                    0.99,
                ]),
            ),
            (
                name: "Damage_Flat_Base",
                values: Some([
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                name: "ADRatio",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
    )),
)