(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Heimerdinger/spells/HeimerdingerPassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 100.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Heimerdinger/spells/HeimerdingerR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 11.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Heimerdinger/spells/HeimerdingerE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 11.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Heimerdinger/spells/HeimerdingerW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 1.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Heimerdinger/spells/HeimerdingerQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Heimerdinger",
        "lol_core::attack::Attack": (
          range: 550.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.16,
          max: 0.16,
          base: 0.16,
          per_level: 0.0,
          base_static_regen: 20.0,
          regen_per_level: 385.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 30.5444,
          height: 87.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.2),
        "lol_core::damage::Damage": (56.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 558.0,
          max: 558.0,
        ),
        "lol_core::movement::Movement": (
          speed: 340.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "Crepe_SingedVsHeimerdinger_HeimerdingerReward": Path("characters/Heimerdinger/spells/Crepe_SingedVsHeimerdinger_HeimerdingerReward.ron"),
          "Crepe_SingedVsHeimerdinger_HeimerdingerStart": Path("characters/Heimerdinger/spells/Crepe_SingedVsHeimerdinger_HeimerdingerStart.ron"),
          "Crepe_SingedVsHeimerdinger_SingedLose": Path("characters/Heimerdinger/spells/Crepe_SingedVsHeimerdinger_SingedLose.ron"),
          "HeimerdingerBasicAttack": Path("characters/Heimerdinger/spells/HeimerdingerBasicAttack.ron"),
          "HeimerdingerBasicAttack2": Path("characters/Heimerdinger/spells/HeimerdingerBasicAttack2.ron"),
          "HeimerdingerCritAttack": Path("characters/Heimerdinger/spells/HeimerdingerCritAttack.ron"),
          "HeimerdingerE": Path("characters/Heimerdinger/spells/HeimerdingerE.ron"),
          "HeimerdingerESpell": Path("characters/Heimerdinger/spells/HeimerdingerESpell.ron"),
          "HeimerdingerESpell_ult": Path("characters/Heimerdinger/spells/HeimerdingerESpell_ult.ron"),
          "HeimerdingerESpell_ult2": Path("characters/Heimerdinger/spells/HeimerdingerESpell_ult2.ron"),
          "HeimerdingerESpell_ult3": Path("characters/Heimerdinger/spells/HeimerdingerESpell_ult3.ron"),
          "HeimerdingerEUlt": Path("characters/Heimerdinger/spells/HeimerdingerEUlt.ron"),
          "HeimerdingerEVO": Path("characters/Heimerdinger/spells/HeimerdingerEVO.ron"),
          "HeimerdingerE_Ult": Path("characters/Heimerdinger/spells/HeimerdingerE_Ult.ron"),
          "HeimerdingerEngineAudio": Path("characters/Heimerdinger/spells/HeimerdingerEngineAudio.ron"),
          "HeimerdingerPassive": Path("characters/Heimerdinger/spells/HeimerdingerPassive.ron"),
          "HeimerdingerPassiveSpeed": Path("characters/Heimerdinger/spells/HeimerdingerPassiveSpeed.ron"),
          "HeimerdingerQ": Path("characters/Heimerdinger/spells/HeimerdingerQ.ron"),
          "HeimerdingerQSpawnDestroyAudio": Path("characters/Heimerdinger/spells/HeimerdingerQSpawnDestroyAudio.ron"),
          "HeimerdingerQSpell1": Path("characters/Heimerdinger/spells/HeimerdingerQSpell1.ron"),
          "HeimerdingerQSpell2": Path("characters/Heimerdinger/spells/HeimerdingerQSpell2.ron"),
          "HeimerdingerQSpell3": Path("characters/Heimerdinger/spells/HeimerdingerQSpell3.ron"),
          "HeimerdingerQUlt": Path("characters/Heimerdinger/spells/HeimerdingerQUlt.ron"),
          "HeimerdingerQVO": Path("characters/Heimerdinger/spells/HeimerdingerQVO.ron"),
          "HeimerdingerR": Path("characters/Heimerdinger/spells/HeimerdingerR.ron"),
          "HeimerdingerREVO": Path("characters/Heimerdinger/spells/HeimerdingerREVO.ron"),
          "HeimerdingerRQEngineAudio": Path("characters/Heimerdinger/spells/HeimerdingerRQEngineAudio.ron"),
          "HeimerdingerRQVO": Path("characters/Heimerdinger/spells/HeimerdingerRQVO.ron"),
          "HeimerdingerRWVO": Path("characters/Heimerdinger/spells/HeimerdingerRWVO.ron"),
          "HeimerdingerUltEDummySpell": Path("characters/Heimerdinger/spells/HeimerdingerUltEDummySpell.ron"),
          "HeimerdingerUltQDummySpell": Path("characters/Heimerdinger/spells/HeimerdingerUltQDummySpell.ron"),
          "HeimerdingerUltWDummySpell": Path("characters/Heimerdinger/spells/HeimerdingerUltWDummySpell.ron"),
          "HeimerdingerW": Path("characters/Heimerdinger/spells/HeimerdingerW.ron"),
          "HeimerdingerWAttack2": Path("characters/Heimerdinger/spells/HeimerdingerWAttack2.ron"),
          "HeimerdingerWAttack2Ult": Path("characters/Heimerdinger/spells/HeimerdingerWAttack2Ult.ron"),
          "HeimerdingerWAttack2_Ult": Path("characters/Heimerdinger/spells/HeimerdingerWAttack2_Ult.ron"),
          "HeimerdingerWUlt": Path("characters/Heimerdinger/spells/HeimerdingerWUlt.ron"),
          "HeimerdingerWVO": Path("characters/Heimerdinger/spells/HeimerdingerWVO.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)