(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    35.0,
                    80.0,
                    125.0,
                    170.0,
                    215.0,
                    260.0,
                    305.0,
                ]),
            ),
            (
                values: Some([
                    15.0,
                    14.0,
                    13.0,
                    12.0,
                    11.0,
                    10.0,
                    9.0,
                ]),
            ),
            (
                values: Some([
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                    20.0,
                ]),
            ),
            (
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            60.0,
            70.0,
            80.0,
            90.0,
            100.0,
            110.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("pelvis"),
        missileSpeed: Some(850.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1100.0,
            1100.0,
            1100.0,
            1100.0,
            1100.0,
            1100.0,
            1100.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(110.0),
        castFrame: Some(7.5),
        animationName: Some("Spell1"),
        cooldownTime: Some([
            15.0,
            14.0,
            13.0,
            12.0,
            11.0,
            10.0,
            10.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: Some("LissandraE"),
        coefficient: Some(0.6),
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)