(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: Some([
                    20.0,
                    40.0,
                    60.0,
                    80.0,
                    100.0,
                    120.0,
                    140.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: None,
        mana: Some([
            20.0,
            26.0,
            32.0,
            38.0,
            44.0,
            50.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("head"),
        missileSpeed: Some(20.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            875.0,
            875.0,
            875.0,
            875.0,
            875.0,
            875.0,
            875.0,
        ]),
        castRadius: Some([
            160.0,
            160.0,
            160.0,
            160.0,
            160.0,
            160.0,
            160.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(20.0),
        animationName: Some("Spell1_b"),
        cooldownTime: Some([
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(15567),
        alternateName: Some("KarthusLayWasteA1"),
        coefficient: Some(0.3),
        hitEffectKey: None,
        selectionPriority: Some(2),
        useAnimatorFramerate: Some(true),
    )),
)