(
    spellData: Some((
        calculations: Some({
            "total_ally_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "ally_base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.1),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.2),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BuffDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "AllyBuffDuration",
                values: Some([
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                    1.5,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    12.5,
                    20.0,
                    27.5,
                    35.0,
                    42.5,
                    50.0,
                    57.5,
                ]),
            ),
            (
                name: "AllyBaseDamage",
                values: Some([
                    5.0,
                    10.0,
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                ]),
            ),
            (
                name: "RevealDuration",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "MaxBrushDuration",
                values: Some([
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                    45.0,
                ]),
            ),
            (
                name: "BrushRadius",
                values: Some([
                    190.0,
                    190.0,
                    190.0,
                    190.0,
                    190.0,
                    190.0,
                    190.0,
                ]),
            ),
            (
                name: "BrushSpacing",
                values: Some([
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                ]),
            ),
        ]),
        mana: Some([
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
            30.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1600.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
            1000.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(7.5),
        animationName: Some("Spell2"),
        cooldownTime: Some([
            0.5,
            0.5,
            0.5,
            0.5,
            0.5,
            0.5,
            0.5,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(9221),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: None,
        useAnimatorFramerate: Some(true),
    )),
)