(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: Some((
            movementComponent: (
                type: "MovementTypeFixedSpeed",
                speed: Some(1400.0),
                startBoneName: Some("root"),
                tracksTarget: Some(false),
                projectTargetToCastRange: Some(true),
                useHeightOffsetAtEnd: Some(true),
                offsetInitialTargetHeight: Some(100.0),
            ),
            missileWidth: Some(100.0),
            behaviors: Some([
                CastOnHit,
                DestroyOnMovementComplete,
            ]),
            heightSolver: Some(BlendedLinearHeightSolver),
            verticalFacing: Some(VerticalFacingFaceTarget),
        )),
        hitBoneName: Some("root"),
        missileSpeed: Some(1400.0),
        missileEffectKey: None,
        castType: Some(3),
        castRange: Some([
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
            800.0,
        ]),
        castRadius: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(100.0),
        castFrame: Some(1.0),
        animationName: Some("Spell4"),
        cooldownTime: None,
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: Some(false),
        affectsTypeFlags: Some(6154),
        alternateName: Some("BraumRWrapper"),
        coefficient: Some(1.0),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)