(
    events: {
        "Dance3D_loop_buffactivate": [
            "characters/Smolder/sounds/246829807.ogg",
        ],
        "Death3D_cast": [
            "characters/Smolder/sounds/203701973.ogg",
        ],
        "Idle2_buffactivate": [
            "characters/Smolder/sounds/949729619.ogg",
        ],
        "Joke3D_leadin": [
            "characters/Smolder/sounds/862492999.ogg",
        ],
        "Joke3D_loop_buffactivate": [
            "characters/Smolder/sounds/477327503.ogg",
        ],
        "Laugh3D_leadin": [
            "characters/Smolder/sounds/57563860.ogg",
        ],
        "Laugh3D_loop_buffactivate": [
            "characters/Smolder/sounds/489957063.ogg",
        ],
        "Play_vo_Smolder_Attack2DElderDragon": [
            "characters/Smolder/sounds/439755982.ogg",
        ],
        "Play_vo_Smolder_Attack2DElementalDragon": [
            "characters/Smolder/sounds/593667326.ogg",
        ],
        "Play_vo_Smolder_Attack2DGeneral": [
            "characters/Smolder/sounds/1048948811.ogg",
            "characters/Smolder/sounds/1053707400.ogg",
            "characters/Smolder/sounds/176549043.ogg",
            "characters/Smolder/sounds/182274134.ogg",
            "characters/Smolder/sounds/209903692.ogg",
            "characters/Smolder/sounds/241595018.ogg",
            "characters/Smolder/sounds/248238134.ogg",
            "characters/Smolder/sounds/257062212.ogg",
            "characters/Smolder/sounds/351115463.ogg",
            "characters/Smolder/sounds/381930637.ogg",
            "characters/Smolder/sounds/452562781.ogg",
            "characters/Smolder/sounds/609820119.ogg",
            "characters/Smolder/sounds/62118929.ogg",
            "characters/Smolder/sounds/666765366.ogg",
            "characters/Smolder/sounds/675186543.ogg",
            "characters/Smolder/sounds/703658055.ogg",
            "characters/Smolder/sounds/898050120.ogg",
            "characters/Smolder/sounds/954489947.ogg",
            "characters/Smolder/sounds/996567790.ogg",
        ],
        "Play_vo_Smolder_Death3D": [
            "characters/Smolder/sounds/183579644.ogg",
            "characters/Smolder/sounds/361292396.ogg",
            "characters/Smolder/sounds/388440302.ogg",
            "characters/Smolder/sounds/537714404.ogg",
            "characters/Smolder/sounds/785413627.ogg",
            "characters/Smolder/sounds/882214487.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DAurelionSol": [
            "characters/Smolder/sounds/181429006.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DGeneral": [
            "characters/Smolder/sounds/157211332.ogg",
            "characters/Smolder/sounds/198636567.ogg",
            "characters/Smolder/sounds/325311080.ogg",
            "characters/Smolder/sounds/628735545.ogg",
            "characters/Smolder/sounds/748006704.ogg",
            "characters/Smolder/sounds/756579794.ogg",
            "characters/Smolder/sounds/783893397.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DHeavenscale": [
            "characters/Smolder/sounds/416971649.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DJarvanIV": [
            "characters/Smolder/sounds/879694958.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DKalista": [
            "characters/Smolder/sounds/894161925.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DShyvana": [
            "characters/Smolder/sounds/411057651.ogg",
        ],
        "Play_vo_Smolder_FirstEncounter3DViego": [
            "characters/Smolder/sounds/816915647.ogg",
        ],
        "Play_vo_Smolder_Joke3DGeneral": [
            "characters/Smolder/sounds/292458210.ogg",
        ],
        "Play_vo_Smolder_JokeResponse3DGeneral": [
            "characters/Smolder/sounds/300200813.ogg",
            "characters/Smolder/sounds/850945745.ogg",
            "characters/Smolder/sounds/936753887.ogg",
        ],
        "Play_vo_Smolder_Kill3DAurelionSol": [
            "characters/Smolder/sounds/926997465.ogg",
        ],
        "Play_vo_Smolder_Kill3DBaron": [
            "characters/Smolder/sounds/1028263283.ogg",
        ],
        "Play_vo_Smolder_Kill3DElderDragon": [
            "characters/Smolder/sounds/871143255.ogg",
        ],
        "Play_vo_Smolder_Kill3DElementalDragon": [
            "characters/Smolder/sounds/165074785.ogg",
        ],
        "Play_vo_Smolder_Kill3DFirst": [
            "characters/Smolder/sounds/395305836.ogg",
        ],
        "Play_vo_Smolder_Kill3DGeneral": [
            "characters/Smolder/sounds/185873656.ogg",
            "characters/Smolder/sounds/229614291.ogg",
            "characters/Smolder/sounds/485913825.ogg",
            "characters/Smolder/sounds/763551330.ogg",
            "characters/Smolder/sounds/765299834.ogg",
            "characters/Smolder/sounds/94554026.ogg",
        ],
        "Play_vo_Smolder_Kill3DKalista": [
            "characters/Smolder/sounds/1050698594.ogg",
            "characters/Smolder/sounds/231154342.ogg",
            "characters/Smolder/sounds/66074791.ogg",
        ],
        "Play_vo_Smolder_Kill3DPenta": [
            "characters/Smolder/sounds/693668232.ogg",
        ],
        "Play_vo_Smolder_Kill3DShyvana": [
            "characters/Smolder/sounds/583772209.ogg",
        ],
        "Play_vo_Smolder_Kill3DTurret": [
            "characters/Smolder/sounds/454338725.ogg",
            "characters/Smolder/sounds/698145928.ogg",
            "characters/Smolder/sounds/765225042.ogg",
            "characters/Smolder/sounds/897682514.ogg",
            "characters/Smolder/sounds/954502898.ogg",
        ],
        "Play_vo_Smolder_Kill3DVastaya": [
            "characters/Smolder/sounds/255479357.ogg",
        ],
        "Play_vo_Smolder_Kill3DViego": [
            "characters/Smolder/sounds/194639081.ogg",
            "characters/Smolder/sounds/528169692.ogg",
            "characters/Smolder/sounds/846892568.ogg",
        ],
        "Play_vo_Smolder_Kill3DYordle": [
            "characters/Smolder/sounds/975879366.ogg",
        ],
        "Play_vo_Smolder_Laugh3DGeneral": [
            "characters/Smolder/sounds/479304673.ogg",
        ],
        "Play_vo_Smolder_Move2DFirst": [
            "characters/Smolder/sounds/1007837012.ogg",
            "characters/Smolder/sounds/12771108.ogg",
            "characters/Smolder/sounds/443807283.ogg",
            "characters/Smolder/sounds/751911836.ogg",
            "characters/Smolder/sounds/812866217.ogg",
            "characters/Smolder/sounds/825295657.ogg",
            "characters/Smolder/sounds/887912553.ogg",
        ],
        "Play_vo_Smolder_Move2DLong": [
            "characters/Smolder/sounds/117251920.ogg",
            "characters/Smolder/sounds/152231292.ogg",
            "characters/Smolder/sounds/183537814.ogg",
            "characters/Smolder/sounds/184547702.ogg",
            "characters/Smolder/sounds/236976998.ogg",
            "characters/Smolder/sounds/262266929.ogg",
            "characters/Smolder/sounds/266398679.ogg",
            "characters/Smolder/sounds/300668707.ogg",
            "characters/Smolder/sounds/332119019.ogg",
            "characters/Smolder/sounds/360214072.ogg",
            "characters/Smolder/sounds/361372247.ogg",
            "characters/Smolder/sounds/382902778.ogg",
            "characters/Smolder/sounds/388388642.ogg",
            "characters/Smolder/sounds/403436350.ogg",
            "characters/Smolder/sounds/443578875.ogg",
            "characters/Smolder/sounds/620790805.ogg",
            "characters/Smolder/sounds/630029209.ogg",
            "characters/Smolder/sounds/634267533.ogg",
            "characters/Smolder/sounds/702946908.ogg",
            "characters/Smolder/sounds/901162878.ogg",
            "characters/Smolder/sounds/915975212.ogg",
            "characters/Smolder/sounds/951779202.ogg",
        ],
        "Play_vo_Smolder_Move2DStandard": [
            "characters/Smolder/sounds/101930240.ogg",
            "characters/Smolder/sounds/1040981739.ogg",
            "characters/Smolder/sounds/1054695642.ogg",
            "characters/Smolder/sounds/185565118.ogg",
            "characters/Smolder/sounds/195366220.ogg",
            "characters/Smolder/sounds/246556423.ogg",
            "characters/Smolder/sounds/252994431.ogg",
            "characters/Smolder/sounds/41604284.ogg",
            "characters/Smolder/sounds/522416844.ogg",
            "characters/Smolder/sounds/538105837.ogg",
            "characters/Smolder/sounds/544381321.ogg",
            "characters/Smolder/sounds/548188618.ogg",
            "characters/Smolder/sounds/57368211.ogg",
            "characters/Smolder/sounds/5741787.ogg",
            "characters/Smolder/sounds/63123255.ogg",
            "characters/Smolder/sounds/643994413.ogg",
            "characters/Smolder/sounds/682667908.ogg",
            "characters/Smolder/sounds/755732977.ogg",
            "characters/Smolder/sounds/789832452.ogg",
            "characters/Smolder/sounds/803090630.ogg",
            "characters/Smolder/sounds/82575510.ogg",
            "characters/Smolder/sounds/839376871.ogg",
            "characters/Smolder/sounds/916169722.ogg",
            "characters/Smolder/sounds/970809292.ogg",
        ],
        "Play_vo_Smolder_Ping2DAssistMe": [
            "characters/Smolder/sounds/483153211.ogg",
        ],
        "Play_vo_Smolder_Ping2DDanger": [
            "characters/Smolder/sounds/727567347.ogg",
        ],
        "Play_vo_Smolder_Ping2DMissing": [
            "characters/Smolder/sounds/822942853.ogg",
        ],
        "Play_vo_Smolder_Ping2DOnMyWay": [
            "characters/Smolder/sounds/695001991.ogg",
        ],
        "Play_vo_Smolder_Recall3DGeneral": [
            "characters/Smolder/sounds/155809786.ogg",
            "characters/Smolder/sounds/308668269.ogg",
            "characters/Smolder/sounds/484569018.ogg",
            "characters/Smolder/sounds/488663721.ogg",
            "characters/Smolder/sounds/536357813.ogg",
            "characters/Smolder/sounds/885698585.ogg",
            "characters/Smolder/sounds/899253170.ogg",
        ],
        "Play_vo_Smolder_Receive3DBuff": [
            "characters/Smolder/sounds/368624460.ogg",
            "characters/Smolder/sounds/479425848.ogg",
            "characters/Smolder/sounds/493563349.ogg",
            "characters/Smolder/sounds/809274229.ogg",
            "characters/Smolder/sounds/907960221.ogg",
        ],
        "Play_vo_Smolder_Respawn2DGeneral": [
            "characters/Smolder/sounds/1039630920.ogg",
            "characters/Smolder/sounds/139020339.ogg",
            "characters/Smolder/sounds/185784866.ogg",
            "characters/Smolder/sounds/28141745.ogg",
            "characters/Smolder/sounds/304767279.ogg",
            "characters/Smolder/sounds/401351120.ogg",
            "characters/Smolder/sounds/444011848.ogg",
            "characters/Smolder/sounds/469907966.ogg",
            "characters/Smolder/sounds/636577292.ogg",
            "characters/Smolder/sounds/6804642.ogg",
            "characters/Smolder/sounds/918148614.ogg",
        ],
        "Play_vo_Smolder_Shop2DOpen": [
            "characters/Smolder/sounds/273165209.ogg",
            "characters/Smolder/sounds/560170353.ogg",
            "characters/Smolder/sounds/602844141.ogg",
            "characters/Smolder/sounds/708213474.ogg",
            "characters/Smolder/sounds/715680479.ogg",
        ],
        "Play_vo_Smolder_SmolderBasicAttack2_cast3D": [
            "characters/Smolder/sounds/269088062.ogg",
            "characters/Smolder/sounds/299717899.ogg",
            "characters/Smolder/sounds/447678866.ogg",
            "characters/Smolder/sounds/760454654.ogg",
        ],
        "Play_vo_Smolder_SmolderBasicAttack3_cast3D": [
            "characters/Smolder/sounds/269088062.ogg",
            "characters/Smolder/sounds/299717899.ogg",
            "characters/Smolder/sounds/447678866.ogg",
            "characters/Smolder/sounds/760454654.ogg",
        ],
        "Play_vo_Smolder_SmolderBasicAttack_cast3D": [
            "characters/Smolder/sounds/269088062.ogg",
            "characters/Smolder/sounds/299717899.ogg",
            "characters/Smolder/sounds/447678866.ogg",
            "characters/Smolder/sounds/760454654.ogg",
        ],
        "Play_vo_Smolder_SmolderCritAttack_cast3D": [
            "characters/Smolder/sounds/269088062.ogg",
            "characters/Smolder/sounds/299717899.ogg",
            "characters/Smolder/sounds/447678866.ogg",
            "characters/Smolder/sounds/760454654.ogg",
        ],
        "Play_vo_Smolder_SmolderE_cast3D": [
            "characters/Smolder/sounds/202328777.ogg",
            "characters/Smolder/sounds/382169099.ogg",
            "characters/Smolder/sounds/670224791.ogg",
        ],
        "Play_vo_Smolder_SmolderQUpgrade": [
            "characters/Smolder/sounds/266588320.ogg",
            "characters/Smolder/sounds/627049471.ogg",
            "characters/Smolder/sounds/946666376.ogg",
        ],
        "Play_vo_Smolder_SmolderQ_cast3D": [
            "characters/Smolder/sounds/283122264.ogg",
            "characters/Smolder/sounds/430035759.ogg",
            "characters/Smolder/sounds/598256730.ogg",
            "characters/Smolder/sounds/724893002.ogg",
        ],
        "Play_vo_Smolder_SmolderRMomMissileSweetspot_hit3D": [
            "characters/Smolder/sounds/256608254.ogg",
            "characters/Smolder/sounds/370130444.ogg",
            "characters/Smolder/sounds/77602105.ogg",
        ],
        "Play_vo_Smolder_SmolderRMomMissileSweetspot_miss3D": [
            "characters/Smolder/sounds/333012097.ogg",
            "characters/Smolder/sounds/601438293.ogg",
            "characters/Smolder/sounds/771585222.ogg",
            "characters/Smolder/sounds/867896942.ogg",
        ],
        "Play_vo_Smolder_SmolderR_cast3D": [
            "characters/Smolder/sounds/1068810944.ogg",
            "characters/Smolder/sounds/158865656.ogg",
            "characters/Smolder/sounds/194967339.ogg",
            "characters/Smolder/sounds/627244895.ogg",
        ],
        "Play_vo_Smolder_SmolderW_cast3D": [
            "characters/Smolder/sounds/1071893767.ogg",
            "characters/Smolder/sounds/566662842.ogg",
            "characters/Smolder/sounds/662817737.ogg",
        ],
        "Play_vo_Smolder_SmolderW_hit3D": [
            "characters/Smolder/sounds/201374204.ogg",
            "characters/Smolder/sounds/299737723.ogg",
            "characters/Smolder/sounds/794573306.ogg",
        ],
        "Play_vo_Smolder_SmolderW_miss3D": [
            "characters/Smolder/sounds/219150723.ogg",
            "characters/Smolder/sounds/254324565.ogg",
            "characters/Smolder/sounds/450382895.ogg",
            "characters/Smolder/sounds/988644664.ogg",
        ],
        "Play_vo_Smolder_Taunt3DGeneral": [
            "characters/Smolder/sounds/433683992.ogg",
            "characters/Smolder/sounds/638729213.ogg",
            "characters/Smolder/sounds/815326118.ogg",
        ],
        "Play_vo_Smolder_TauntResponse3DGeneral": [
            "characters/Smolder/sounds/300200813.ogg",
            "characters/Smolder/sounds/850945745.ogg",
            "characters/Smolder/sounds/936753887.ogg",
        ],
        "Recall3D_buffactivate": [
            "characters/Smolder/sounds/494969901.ogg",
        ],
        "Respawn3D_buffactivate": [
            "characters/Smolder/sounds/720178461.ogg",
        ],
        "SmolderBasicAttack2_OnCast": [
            "characters/Smolder/sounds/1015967882.ogg",
            "characters/Smolder/sounds/320728344.ogg",
            "characters/Smolder/sounds/419744801.ogg",
        ],
        "SmolderBasicAttack2_OnHit": [
            "characters/Smolder/sounds/388429900.ogg",
            "characters/Smolder/sounds/645514479.ogg",
            "characters/Smolder/sounds/739471383.ogg",
        ],
        "SmolderBasicAttack2_OnMissileCast": [
            "characters/Smolder/sounds/357338249.ogg",
            "characters/Smolder/sounds/821886349.ogg",
            "characters/Smolder/sounds/951629408.ogg",
        ],
        "SmolderBasicAttack2_OnMissileLaunch": [
            "characters/Smolder/sounds/1070593574.ogg",
            "characters/Smolder/sounds/696543483.ogg",
            "characters/Smolder/sounds/861249554.ogg",
        ],
        "SmolderBasicAttack_OnCast": [
            "characters/Smolder/sounds/1015967882.ogg",
            "characters/Smolder/sounds/320728344.ogg",
            "characters/Smolder/sounds/419744801.ogg",
        ],
        "SmolderBasicAttack_OnHit": [
            "characters/Smolder/sounds/388429900.ogg",
            "characters/Smolder/sounds/645514479.ogg",
            "characters/Smolder/sounds/739471383.ogg",
        ],
        "SmolderBasicAttack_OnMissileCast": [
            "characters/Smolder/sounds/357338249.ogg",
            "characters/Smolder/sounds/821886349.ogg",
            "characters/Smolder/sounds/951629408.ogg",
        ],
        "SmolderBasicAttack_OnMissileLaunch": [
            "characters/Smolder/sounds/1070593574.ogg",
            "characters/Smolder/sounds/696543483.ogg",
            "characters/Smolder/sounds/861249554.ogg",
        ],
        "SmolderCritAttack_OnCast": [
            "characters/Smolder/sounds/383154393.ogg",
            "characters/Smolder/sounds/823405997.ogg",
            "characters/Smolder/sounds/884898315.ogg",
        ],
        "SmolderCritAttack_OnHit": [
            "characters/Smolder/sounds/1029376215.ogg",
            "characters/Smolder/sounds/116665110.ogg",
            "characters/Smolder/sounds/346145531.ogg",
        ],
        "SmolderCritAttack_OnMissileCast": [
            "characters/Smolder/sounds/317321103.ogg",
            "characters/Smolder/sounds/340685933.ogg",
            "characters/Smolder/sounds/655205749.ogg",
        ],
        "SmolderCritAttack_OnMissileLaunch": [
            "characters/Smolder/sounds/172451513.ogg",
            "characters/Smolder/sounds/296394017.ogg",
            "characters/Smolder/sounds/988366805.ogg",
        ],
        "SmolderEAttack_OnHit": [
            "characters/Smolder/sounds/228753050.ogg",
            "characters/Smolder/sounds/3074629.ogg",
            "characters/Smolder/sounds/994998951.ogg",
        ],
        "SmolderEAttack_OnMissileLaunch": [
            "characters/Smolder/sounds/483271392.ogg",
            "characters/Smolder/sounds/738990469.ogg",
            "characters/Smolder/sounds/747774926.ogg",
            "characters/Smolder/sounds/756387920.ogg",
        ],
        "SmolderE_OnBuffActivate": [
            "characters/Smolder/sounds/1025586192.ogg",
            "characters/Smolder/sounds/26545146.ogg",
        ],
        "SmolderE_OnBuffDeactivate": [
            "characters/Smolder/sounds/18492266.ogg",
            "characters/Smolder/sounds/20269866.ogg",
            "characters/Smolder/sounds/42315761.ogg",
            "characters/Smolder/sounds/999482618.ogg",
        ],
        "SmolderE_OnCast": [
            "characters/Smolder/sounds/388442862.ogg",
            "characters/Smolder/sounds/456310161.ogg",
            "characters/Smolder/sounds/661918955.ogg",
            "characters/Smolder/sounds/954693355.ogg",
        ],
        "SmolderE_foley_to_idle": [
            "characters/Smolder/sounds/700940544.ogg",
        ],
        "SmolderE_foley_to_run": [
            "characters/Smolder/sounds/838034328.ogg",
        ],
        "SmolderE_wingflap": [
            "characters/Smolder/sounds/1047177724.ogg",
            "characters/Smolder/sounds/200822510.ogg",
            "characters/Smolder/sounds/267935166.ogg",
        ],
        "SmolderQ3Burn_OnBuffActivate": [
            "characters/Smolder/sounds/350886741.ogg",
            "characters/Smolder/sounds/650033551.ogg",
            "characters/Smolder/sounds/833605366.ogg",
        ],
        "SmolderQ3Burn_execute": [
            "characters/Smolder/sounds/590416946.ogg",
        ],
        "SmolderQ_EvolveCeremony1_buffactivate": [
            "characters/Smolder/sounds/938935824.ogg",
        ],
        "SmolderQ_EvolveCeremony2_buffactivate": [
            "characters/Smolder/sounds/122212390.ogg",
        ],
        "SmolderQ_EvolveCeremony3_buffactivate": [
            "characters/Smolder/sounds/30963304.ogg",
        ],
        "SmolderQ_OnCast": [
            "characters/Smolder/sounds/460838563.ogg",
            "characters/Smolder/sounds/551872852.ogg",
            "characters/Smolder/sounds/570214966.ogg",
            "characters/Smolder/sounds/579324709.ogg",
            "characters/Smolder/sounds/788327653.ogg",
            "characters/Smolder/sounds/955686837.ogg",
        ],
        "SmolderQ_OnHit": [
            "characters/Smolder/sounds/157525707.ogg",
            "characters/Smolder/sounds/441941162.ogg",
            "characters/Smolder/sounds/596697050.ogg",
        ],
        "SmolderQ_OnMissileLaunch": [
            "characters/Smolder/sounds/243744486.ogg",
            "characters/Smolder/sounds/801866115.ogg",
            "characters/Smolder/sounds/816713947.ogg",
        ],
        "SmolderQ_aoe_hit": [
            "characters/Smolder/sounds/169040903.ogg",
            "characters/Smolder/sounds/409836300.ogg",
            "characters/Smolder/sounds/834309821.ogg",
        ],
        "SmolderQ_blowback_hit": [
            "characters/Smolder/sounds/183515466.ogg",
            "characters/Smolder/sounds/375867201.ogg",
            "characters/Smolder/sounds/507466565.ogg",
        ],
        "SmolderQ_blowback_missilelaunch": [
            "characters/Smolder/sounds/663356827.ogg",
            "characters/Smolder/sounds/667248040.ogg",
            "characters/Smolder/sounds/783007526.ogg",
        ],
        "SmolderRMomMissileSweetSpot_OnHit": [
            "characters/Smolder/sounds/637195130.ogg",
        ],
        "SmolderR_MomMissile_OnHit_champion": [
            "characters/Smolder/sounds/174582042.ogg",
            "characters/Smolder/sounds/451190267.ogg",
            "characters/Smolder/sounds/608304110.ogg",
        ],
        "SmolderR_MomMissile_OnHit_minion": [
            "characters/Smolder/sounds/282231381.ogg",
        ],
        "SmolderR_MomMissile_falling": [
            "characters/Smolder/sounds/86354365.ogg",
        ],
        "SmolderR_MomMissile_groundburn": [
            "characters/Smolder/sounds/1063503217.ogg",
            "characters/Smolder/sounds/854172325.ogg",
            "characters/Smolder/sounds/958208699.ogg",
        ],
        "SmolderR_MomMissile_self_heal": [
            "characters/Smolder/sounds/159785.ogg",
        ],
        "SmolderR_OnCast": [
            "characters/Smolder/sounds/1017745958.ogg",
            "characters/Smolder/sounds/15173515.ogg",
        ],
        "SmolderR_missile": [
            "characters/Smolder/sounds/432424772.ogg",
            "characters/Smolder/sounds/449693113.ogg",
        ],
        "SmolderR_momshadow": [
            "characters/Smolder/sounds/449693113.ogg",
        ],
        "SmolderR_roar": [
            "characters/Smolder/sounds/422937046.ogg",
        ],
        "SmolderR_roar_self": [
            "characters/Smolder/sounds/287463406.ogg",
        ],
        "SmolderW_OnCast": [
            "characters/Smolder/sounds/163128248.ogg",
            "characters/Smolder/sounds/349801872.ogg",
            "characters/Smolder/sounds/941290848.ogg",
        ],
        "SmolderW_OnMissileCast": [
            "characters/Smolder/sounds/388835345.ogg",
            "characters/Smolder/sounds/895394896.ogg",
            "characters/Smolder/sounds/96151130.ogg",
        ],
        "SmolderW_OnMissileLaunch": [
            "characters/Smolder/sounds/281205893.ogg",
            "characters/Smolder/sounds/67589336.ogg",
            "characters/Smolder/sounds/692902358.ogg",
        ],
        "SmolderW_hit_champ": [
            "characters/Smolder/sounds/355961374.ogg",
            "characters/Smolder/sounds/455315288.ogg",
            "characters/Smolder/sounds/809394979.ogg",
        ],
        "SmolderW_hit_minion": [
            "characters/Smolder/sounds/666626070.ogg",
            "characters/Smolder/sounds/673298113.ogg",
            "characters/Smolder/sounds/975325795.ogg",
        ],
        "Taunt3D_leadin": [
            "characters/Smolder/sounds/74812262.ogg",
        ],
        "Taunt3D_loop_buffactivate": [
            "characters/Smolder/sounds/237461043.ogg",
        ],
        "Winddown3D_buffactivate": [
            "characters/Smolder/sounds/716830547.ogg",
        ],
    },
)