(
  resources: {
    "lol_base_render::particle::ConfigVfxHandle": (Path("characters/Maokai/skins/skin0_vfx.ron")),
  },
  entities: {
    4294967256: (
      components: {
        "bevy_animation::graph::AnimationGraphHandle": (Path("characters/Maokai/animations/skin0.ron")),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_world_serialization::components::WorldAssetRoot": (Path("characters/Maokai/skins/skin0.glb#Scene0")),
        "lol_base::audio::AudioBank": (Path("characters/Maokai/skins/skin0_audio.ron")),
        "lol_base::character::HealthBar": (
          bar_type: 12,
        ),
        "lol_base::character::Skin": (
          scale: 1.05,
          avatar: "ASSETS/Characters/Maokai/HUD/Maokai_Circle.png",
          resolver_key: 1031187875,
        ),
        "lol_base_render::animation::LOLAnimationGraphHandle": (Path("characters/Maokai/animations/skin0.ron")),
      },
    ),
  },
)