(
    events: {
        "Death3D_cast": [
            "characters/Vi/sounds/925493060.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Vi/sounds/141037856.ogg",
        ],
        "Play_vo_Vi_Assist3DCaitlyn": [
            "characters/Vi/sounds/1068401879.ogg",
            "characters/Vi/sounds/429602851.ogg",
            "characters/Vi/sounds/634576201.ogg",
        ],
        "Play_vo_Vi_Attack2DGeneral": [
            "characters/Vi/sounds/214551948.ogg",
            "characters/Vi/sounds/317331652.ogg",
            "characters/Vi/sounds/347096132.ogg",
            "characters/Vi/sounds/474492257.ogg",
            "characters/Vi/sounds/573201859.ogg",
            "characters/Vi/sounds/753383728.ogg",
            "characters/Vi/sounds/86550322.ogg",
            "characters/Vi/sounds/873444030.ogg",
        ],
        "Play_vo_Vi_Death3D": [
            "characters/Vi/sounds/648412720.ogg",
            "characters/Vi/sounds/658938432.ogg",
            "characters/Vi/sounds/792214740.ogg",
        ],
        "Play_vo_Vi_FirstEncounter3DCaitlyn": [
            "characters/Vi/sounds/401381147.ogg",
            "characters/Vi/sounds/477494602.ogg",
        ],
        "Play_vo_Vi_Interactive_Interactive3DChampionSpecific01": [
            "characters/Vi/sounds/117093016.ogg",
            "characters/Vi/sounds/223726497.ogg",
            "characters/Vi/sounds/34608520.ogg",
        ],
        "Play_vo_Vi_Interactive_Interactive3DChampionSpecific21": [
            "characters/Vi/sounds/691541262.ogg",
        ],
        "Play_vo_Vi_Joke3DGeneral": [
            "characters/Vi/sounds/192794167.ogg",
            "characters/Vi/sounds/471022336.ogg",
            "characters/Vi/sounds/676796678.ogg",
            "characters/Vi/sounds/744489728.ogg",
            "characters/Vi/sounds/980700769.ogg",
        ],
        "Play_vo_Vi_Laugh3DGeneral": [
            "characters/Vi/sounds/473269978.ogg",
            "characters/Vi/sounds/66477578.ogg",
            "characters/Vi/sounds/717548727.ogg",
            "characters/Vi/sounds/741727592.ogg",
        ],
        "Play_vo_Vi_Move2DStandard": [
            "characters/Vi/sounds/1047355983.ogg",
            "characters/Vi/sounds/1062648962.ogg",
            "characters/Vi/sounds/135077947.ogg",
            "characters/Vi/sounds/275186017.ogg",
            "characters/Vi/sounds/451437430.ogg",
            "characters/Vi/sounds/509989268.ogg",
            "characters/Vi/sounds/69292641.ogg",
            "characters/Vi/sounds/707371235.ogg",
            "characters/Vi/sounds/758587330.ogg",
            "characters/Vi/sounds/775659305.ogg",
            "characters/Vi/sounds/804038539.ogg",
            "characters/Vi/sounds/902257750.ogg",
        ],
        "Play_vo_Vi_Spell3DQ2Cast": [
            "characters/Vi/sounds/1057015792.ogg",
            "characters/Vi/sounds/162245066.ogg",
            "characters/Vi/sounds/240082840.ogg",
            "characters/Vi/sounds/923246114.ogg",
        ],
        "Play_vo_Vi_Taunt3DGeneral": [
            "characters/Vi/sounds/170111455.ogg",
            "characters/Vi/sounds/261278340.ogg",
            "characters/Vi/sounds/682373848.ogg",
        ],
        "Play_vo_Vi_ViBasicAttack2_cast3D": [
            "characters/Vi/sounds/103396050.ogg",
            "characters/Vi/sounds/21406251.ogg",
            "characters/Vi/sounds/462518347.ogg",
            "characters/Vi/sounds/522583237.ogg",
            "characters/Vi/sounds/691211181.ogg",
            "characters/Vi/sounds/929209158.ogg",
        ],
        "Play_vo_Vi_ViBasicAttack3_cast3D": [
            "characters/Vi/sounds/103396050.ogg",
            "characters/Vi/sounds/21406251.ogg",
            "characters/Vi/sounds/462518347.ogg",
            "characters/Vi/sounds/522583237.ogg",
            "characters/Vi/sounds/691211181.ogg",
            "characters/Vi/sounds/929209158.ogg",
        ],
        "Play_vo_Vi_ViBasicAttack_cast3D": [
            "characters/Vi/sounds/103396050.ogg",
            "characters/Vi/sounds/21406251.ogg",
            "characters/Vi/sounds/462518347.ogg",
            "characters/Vi/sounds/522583237.ogg",
            "characters/Vi/sounds/691211181.ogg",
            "characters/Vi/sounds/929209158.ogg",
        ],
        "Play_vo_Vi_ViCritAttack_cast3D": [
            "characters/Vi/sounds/103396050.ogg",
            "characters/Vi/sounds/21406251.ogg",
            "characters/Vi/sounds/462518347.ogg",
            "characters/Vi/sounds/522583237.ogg",
            "characters/Vi/sounds/691211181.ogg",
            "characters/Vi/sounds/929209158.ogg",
        ],
        "Play_vo_Vi_ViEAttack_cast3D": [
            "characters/Vi/sounds/272961420.ogg",
            "characters/Vi/sounds/34615439.ogg",
            "characters/Vi/sounds/540610710.ogg",
            "characters/Vi/sounds/65279463.ogg",
        ],
        "Play_vo_Vi_ViRMissile_hit3D": [
            "characters/Vi/sounds/1037974864.ogg",
            "characters/Vi/sounds/1061067041.ogg",
            "characters/Vi/sounds/237157830.ogg",
            "characters/Vi/sounds/262010643.ogg",
            "characters/Vi/sounds/626326954.ogg",
            "characters/Vi/sounds/654023865.ogg",
            "characters/Vi/sounds/778716015.ogg",
        ],
        "Taunt3D2_buffactivate": [
            "characters/Vi/sounds/770520510.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Vi/sounds/540818725.ogg",
        ],
        "ViBasicAttack2_OnCast": [
            "characters/Vi/sounds/10768982.ogg",
            "characters/Vi/sounds/16990953.ogg",
            "characters/Vi/sounds/55269449.ogg",
            "characters/Vi/sounds/56620924.ogg",
        ],
        "ViBasicAttack2_OnHit": [
            "characters/Vi/sounds/113754372.ogg",
            "characters/Vi/sounds/136644305.ogg",
            "characters/Vi/sounds/144049169.ogg",
            "characters/Vi/sounds/161885195.ogg",
            "characters/Vi/sounds/173547506.ogg",
            "characters/Vi/sounds/2011179.ogg",
            "characters/Vi/sounds/209028859.ogg",
            "characters/Vi/sounds/211560816.ogg",
            "characters/Vi/sounds/217292423.ogg",
            "characters/Vi/sounds/217949127.ogg",
            "characters/Vi/sounds/259872000.ogg",
            "characters/Vi/sounds/37597205.ogg",
            "characters/Vi/sounds/51205834.ogg",
            "characters/Vi/sounds/80201791.ogg",
            "characters/Vi/sounds/8844289.ogg",
            "characters/Vi/sounds/9230205.ogg",
        ],
        "ViBasicAttack3_OnCast": [
            "characters/Vi/sounds/10768982.ogg",
            "characters/Vi/sounds/16990953.ogg",
            "characters/Vi/sounds/55269449.ogg",
            "characters/Vi/sounds/56620924.ogg",
        ],
        "ViBasicAttack3_OnHit": [
            "characters/Vi/sounds/113754372.ogg",
            "characters/Vi/sounds/136644305.ogg",
            "characters/Vi/sounds/144049169.ogg",
            "characters/Vi/sounds/161885195.ogg",
            "characters/Vi/sounds/173547506.ogg",
            "characters/Vi/sounds/2011179.ogg",
            "characters/Vi/sounds/209028859.ogg",
            "characters/Vi/sounds/211560816.ogg",
            "characters/Vi/sounds/217292423.ogg",
            "characters/Vi/sounds/217949127.ogg",
            "characters/Vi/sounds/259872000.ogg",
            "characters/Vi/sounds/37597205.ogg",
            "characters/Vi/sounds/51205834.ogg",
            "characters/Vi/sounds/80201791.ogg",
            "characters/Vi/sounds/8844289.ogg",
            "characters/Vi/sounds/9230205.ogg",
        ],
        "ViBasicAttack_OnCast": [
            "characters/Vi/sounds/10768982.ogg",
            "characters/Vi/sounds/16990953.ogg",
            "characters/Vi/sounds/55269449.ogg",
            "characters/Vi/sounds/56620924.ogg",
        ],
        "ViBasicAttack_OnHit": [
            "characters/Vi/sounds/113754372.ogg",
            "characters/Vi/sounds/136644305.ogg",
            "characters/Vi/sounds/144049169.ogg",
            "characters/Vi/sounds/161885195.ogg",
            "characters/Vi/sounds/173547506.ogg",
            "characters/Vi/sounds/2011179.ogg",
            "characters/Vi/sounds/209028859.ogg",
            "characters/Vi/sounds/211560816.ogg",
            "characters/Vi/sounds/217292423.ogg",
            "characters/Vi/sounds/217949127.ogg",
            "characters/Vi/sounds/259872000.ogg",
            "characters/Vi/sounds/37597205.ogg",
            "characters/Vi/sounds/51205834.ogg",
            "characters/Vi/sounds/80201791.ogg",
            "characters/Vi/sounds/8844289.ogg",
            "characters/Vi/sounds/9230205.ogg",
        ],
        "ViCritAttack_OnCast": [
            "characters/Vi/sounds/10768982.ogg",
            "characters/Vi/sounds/16990953.ogg",
            "characters/Vi/sounds/55269449.ogg",
            "characters/Vi/sounds/56620924.ogg",
        ],
        "ViCritAttack_OnHit": [
            "characters/Vi/sounds/113754372.ogg",
            "characters/Vi/sounds/136644305.ogg",
            "characters/Vi/sounds/144049169.ogg",
            "characters/Vi/sounds/161885195.ogg",
            "characters/Vi/sounds/173547506.ogg",
            "characters/Vi/sounds/2011179.ogg",
            "characters/Vi/sounds/209028859.ogg",
            "characters/Vi/sounds/211560816.ogg",
            "characters/Vi/sounds/217292423.ogg",
            "characters/Vi/sounds/217949127.ogg",
            "characters/Vi/sounds/259872000.ogg",
            "characters/Vi/sounds/37597205.ogg",
            "characters/Vi/sounds/51205834.ogg",
            "characters/Vi/sounds/80201791.ogg",
            "characters/Vi/sounds/8844289.ogg",
            "characters/Vi/sounds/9230205.ogg",
        ],
        "ViEAttack_OnCast": [
            "characters/Vi/sounds/10768982.ogg",
            "characters/Vi/sounds/16990953.ogg",
            "characters/Vi/sounds/55269449.ogg",
            "characters/Vi/sounds/56620924.ogg",
        ],
        "ViEAttack_OnHit": [
            "characters/Vi/sounds/169718578.ogg",
            "characters/Vi/sounds/320787105.ogg",
            "characters/Vi/sounds/645868361.ogg",
        ],
        "ViEAttack_missilelaunch": [
            "characters/Vi/sounds/688639269.ogg",
            "characters/Vi/sounds/70497324.ogg",
            "characters/Vi/sounds/86052012.ogg",
        ],
        "ViE_OnBuffActivate": [
            "characters/Vi/sounds/429567682.ogg",
            "characters/Vi/sounds/583297670.ogg",
        ],
        "ViE_OnBuffDeactivate": [
            "characters/Vi/sounds/30753815.ogg",
            "characters/Vi/sounds/495004589.ogg",
            "characters/Vi/sounds/819326701.ogg",
        ],
        "ViE_OnCast": [
            "characters/Vi/sounds/178804133.ogg",
            "characters/Vi/sounds/727256613.ogg",
            "characters/Vi/sounds/914244032.ogg",
        ],
        "ViPassiveBuff_OnBuffActivate": [
            "characters/Vi/sounds/1015145463.ogg",
            "characters/Vi/sounds/18836261.ogg",
            "characters/Vi/sounds/516271806.ogg",
        ],
        "ViPassiveBuff_OnBuffDeactivate": [
            "characters/Vi/sounds/38627788.ogg",
            "characters/Vi/sounds/766285131.ogg",
            "characters/Vi/sounds/941225543.ogg",
        ],
        "ViPassiveReady_buffactivate": [
            "characters/Vi/sounds/243867050.ogg",
            "characters/Vi/sounds/383426111.ogg",
            "characters/Vi/sounds/735966807.ogg",
        ],
        "ViQMissile_OnMissileCast": [
            "characters/Vi/sounds/152535809.ogg",
            "characters/Vi/sounds/964220995.ogg",
            "characters/Vi/sounds/977800515.ogg",
        ],
        "ViQMissile_OnMissileLaunch": [
            "characters/Vi/sounds/174722023.ogg",
            "characters/Vi/sounds/178105554.ogg",
            "characters/Vi/sounds/202890044.ogg",
        ],
        "ViQVFX_OnBuffActivate": [
            "characters/Vi/sounds/419420159.ogg",
            "characters/Vi/sounds/742440094.ogg",
            "characters/Vi/sounds/787672240.ogg",
        ],
        "ViQ_OnBuffDeactivate": [
            "characters/Vi/sounds/324697592.ogg",
            "characters/Vi/sounds/381154940.ogg",
            "characters/Vi/sounds/748503613.ogg",
        ],
        "ViQ_OnCast": [
            "characters/Vi/sounds/1046018444.ogg",
            "characters/Vi/sounds/47775919.ogg",
            "characters/Vi/sounds/57458623.ogg",
        ],
        "ViQ_hit_champ": [
            "characters/Vi/sounds/209772129.ogg",
            "characters/Vi/sounds/319406777.ogg",
            "characters/Vi/sounds/338741063.ogg",
        ],
        "ViQ_hit_minion": [
            "characters/Vi/sounds/173547506.ogg",
            "characters/Vi/sounds/51205834.ogg",
            "characters/Vi/sounds/80201791.ogg",
            "characters/Vi/sounds/8844289.ogg",
        ],
        "ViRDunkTarget_buffactivate": [
            "characters/Vi/sounds/423425494.ogg",
            "characters/Vi/sounds/926698998.ogg",
        ],
        "ViRDunkTarget_land": [
            "characters/Vi/sounds/1072780289.ogg",
            "characters/Vi/sounds/86668507.ogg",
        ],
        "ViRDunkTarget_spin": [
            "characters/Vi/sounds/185350631.ogg",
            "characters/Vi/sounds/307910305.ogg",
        ],
        "ViRKnockback_OnBuffActivate": [
            "characters/Vi/sounds/173547506.ogg",
            "characters/Vi/sounds/51205834.ogg",
            "characters/Vi/sounds/80201791.ogg",
            "characters/Vi/sounds/8844289.ogg",
        ],
        "ViRTarget_buffactivate": [
            "characters/Vi/sounds/1018236384.ogg",
            "characters/Vi/sounds/826767685.ogg",
            "characters/Vi/sounds/925079668.ogg",
        ],
        "ViR_OnCast": [
            "characters/Vi/sounds/10768982.ogg",
            "characters/Vi/sounds/16990953.ogg",
            "characters/Vi/sounds/532830787.ogg",
            "characters/Vi/sounds/55269449.ogg",
            "characters/Vi/sounds/56620924.ogg",
            "characters/Vi/sounds/723065100.ogg",
            "characters/Vi/sounds/836905022.ogg",
        ],
        "ViR_buffactivate_loop": [
            "characters/Vi/sounds/1010612766.ogg",
            "characters/Vi/sounds/229174254.ogg",
        ],
        "ViWBuff_hit_champ": [
            "characters/Vi/sounds/438982590.ogg",
            "characters/Vi/sounds/559770654.ogg",
            "characters/Vi/sounds/745357232.ogg",
        ],
        "ViWBuff_hit_minion": [
            "characters/Vi/sounds/171400516.ogg",
            "characters/Vi/sounds/371555934.ogg",
            "characters/Vi/sounds/39678226.ogg",
        ],
    },
)