(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: None,
        castRadius: None,
        castConeAngle: None,
        castConeDistance: None,
        lineWidth: None,
        castFrame: Some(16.0),
        animationName: Some("Spell2_Attack"),
        cooldownTime: Some([
            6.0,
            6.0,
            5.5,
            5.0,
            4.5,
            4.0,
            4.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(15567),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: Some(true),
    )),
)