(
  resources: {},
  entities: {
    4294967266: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 0.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Yone/spells/YonePassive.ron"),
          level: 1,
          slot: Passive,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967267: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 120.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Yone/spells/YoneR.ron"),
          level: 1,
          slot: R,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967268: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 22.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Yone/spells/YoneE.ron"),
          level: 1,
          slot: E,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967269: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 14.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Yone/spells/YoneW.ron"),
          level: 1,
          slot: W,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967270: (
      components: {
        "lol_core::skill::CoolDown": (
          timer: None,
          duration: 4.0,
        ),
        "lol_core::skill::Skill": (
          spell: Path("characters/Yone/spells/YoneQ.ron"),
          level: 1,
          slot: Q,
          cooldown_mode: AfterCast,
        ),
        "lol_core::skill::SkillOf": (4294967271),
      },
    ),
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "Yone",
        "lol_core::attack::Attack": (
          range: 400.0,
          base_attack_speed: 1.4285715,
          bonus_attack_speed: 0.0,
          buff_bonus_attack_speed: 0.0,
          attack_speed_cap: 2.5,
          windup_config: Modern(
            attack_cast_time: 0.3,
            attack_total_time: 0.7,
          ),
          windup_modifier: 1.0,
          spell_key: None,
        ),
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Unknown(11),
          value: 0.0,
          max: 0.0,
          base: 0.0,
          per_level: 0.0,
          base_static_regen: 0.0,
          regen_per_level: 500.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 32.0,
          height: 103.0,
        ),
        "lol_core::base::level::Level": (
          value: 1,
          experience: 0,
          experience_to_next_level: 280,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (4.6),
        "lol_core::damage::Damage": (62.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 620.0,
          max: 620.0,
        ),
        "lol_core::movement::Movement": (
          speed: 345.0,
        ),
        "lol_core::skill::LOLSpells": ({
          "YoneBasicAttack": Path("characters/Yone/spells/YoneBasicAttack.ron"),
          "YoneBasicAttack2": Path("characters/Yone/spells/YoneBasicAttack2.ron"),
          "YoneBasicAttack3": Path("characters/Yone/spells/YoneBasicAttack3.ron"),
          "YoneBasicAttack4": Path("characters/Yone/spells/YoneBasicAttack4.ron"),
          "YoneCritAttack": Path("characters/Yone/spells/YoneCritAttack.ron"),
          "YoneCritAttack2": Path("characters/Yone/spells/YoneCritAttack2.ron"),
          "YoneCritAttack3": Path("characters/Yone/spells/YoneCritAttack3.ron"),
          "YoneCritAttack4": Path("characters/Yone/spells/YoneCritAttack4.ron"),
          "YoneE": Path("characters/Yone/spells/YoneE.ron"),
          "YoneEDeathmark": Path("characters/Yone/spells/YoneEDeathmark.ron"),
          "YonePassive": Path("characters/Yone/spells/YonePassive.ron"),
          "YoneQ": Path("characters/Yone/spells/YoneQ.ron"),
          "YoneQ3": Path("characters/Yone/spells/YoneQ3.ron"),
          "YoneQ3Missile": Path("characters/Yone/spells/YoneQ3Missile.ron"),
          "YoneQ3Ready": Path("characters/Yone/spells/YoneQ3Ready.ron"),
          "YoneR": Path("characters/Yone/spells/YoneR.ron"),
          "YoneRKnockback": Path("characters/Yone/spells/YoneRKnockback.ron"),
          "YoneRStun": Path("characters/Yone/spells/YoneRStun.ron"),
          "YoneW": Path("characters/Yone/spells/YoneW.ron"),
        }),
        "lol_core::skill::Skills": ([
          4294967270,
          4294967269,
          4294967268,
          4294967267,
          4294967266,
        ]),
      },
    ),
  },
)