(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)