(
    events: {
        "KarmaBasicAttack2_OnCast": [
            "characters/Karma/sounds/130544224.ogg",
            "characters/Karma/sounds/37522744.ogg",
            "characters/Karma/sounds/492440782.ogg",
            "characters/Karma/sounds/49523027.ogg",
        ],
        "KarmaBasicAttack2_OnHit": [
            "characters/Karma/sounds/202554870.ogg",
            "characters/Karma/sounds/280317685.ogg",
            "characters/Karma/sounds/550016575.ogg",
            "characters/Karma/sounds/68436933.ogg",
        ],
        "KarmaBasicAttack2_OnMissileLaunch": [
            "characters/Karma/sounds/127221380.ogg",
            "characters/Karma/sounds/131813610.ogg",
            "characters/Karma/sounds/435611240.ogg",
            "characters/Karma/sounds/498873157.ogg",
        ],
        "KarmaBasicAttack3_OnCast": [
            "characters/Karma/sounds/130544224.ogg",
            "characters/Karma/sounds/37522744.ogg",
            "characters/Karma/sounds/492440782.ogg",
            "characters/Karma/sounds/49523027.ogg",
        ],
        "KarmaBasicAttack3_OnHit": [
            "characters/Karma/sounds/202554870.ogg",
            "characters/Karma/sounds/280317685.ogg",
            "characters/Karma/sounds/550016575.ogg",
            "characters/Karma/sounds/68436933.ogg",
        ],
        "KarmaBasicAttack3_OnMissileLaunch": [
            "characters/Karma/sounds/127221380.ogg",
            "characters/Karma/sounds/131813610.ogg",
            "characters/Karma/sounds/435611240.ogg",
            "characters/Karma/sounds/498873157.ogg",
        ],
        "KarmaBasicAttack_OnCast": [
            "characters/Karma/sounds/130544224.ogg",
            "characters/Karma/sounds/37522744.ogg",
            "characters/Karma/sounds/492440782.ogg",
            "characters/Karma/sounds/49523027.ogg",
        ],
        "KarmaBasicAttack_OnHit": [
            "characters/Karma/sounds/202554870.ogg",
            "characters/Karma/sounds/280317685.ogg",
            "characters/Karma/sounds/550016575.ogg",
            "characters/Karma/sounds/68436933.ogg",
        ],
        "KarmaBasicAttack_OnMissileLaunch": [
            "characters/Karma/sounds/127221380.ogg",
            "characters/Karma/sounds/131813610.ogg",
            "characters/Karma/sounds/435611240.ogg",
            "characters/Karma/sounds/498873157.ogg",
        ],
        "KarmaCritAttack_OnCast": [
            "characters/Karma/sounds/130544224.ogg",
            "characters/Karma/sounds/37522744.ogg",
            "characters/Karma/sounds/492440782.ogg",
            "characters/Karma/sounds/49523027.ogg",
        ],
        "KarmaCritAttack_OnHit": [
            "characters/Karma/sounds/202554870.ogg",
            "characters/Karma/sounds/280317685.ogg",
            "characters/Karma/sounds/550016575.ogg",
            "characters/Karma/sounds/68436933.ogg",
        ],
        "KarmaCritAttack_OnMissileLaunch": [
            "characters/Karma/sounds/127221380.ogg",
            "characters/Karma/sounds/131813610.ogg",
            "characters/Karma/sounds/435611240.ogg",
            "characters/Karma/sounds/498873157.ogg",
        ],
        "KarmaMantra_OnBuffActivate": [
            "characters/Karma/sounds/390342281.ogg",
        ],
        "KarmaMantra_OnCast": [
            "characters/Karma/sounds/285560742.ogg",
            "characters/Karma/sounds/714769365.ogg",
        ],
        "KarmaQMissileMantra_OnMissileLaunch": [
            "characters/Karma/sounds/451960559.ogg",
            "characters/Karma/sounds/615197363.ogg",
            "characters/Karma/sounds/677008814.ogg",
            "characters/Karma/sounds/691645080.ogg",
        ],
        "KarmaQMissileMantra_hit": [
            "characters/Karma/sounds/34384258.ogg",
            "characters/Karma/sounds/354744757.ogg",
            "characters/Karma/sounds/462361234.ogg",
            "characters/Karma/sounds/578766782.ogg",
            "characters/Karma/sounds/941935443.ogg",
        ],
        "KarmaQMissile_OnMissileLaunch": [
            "characters/Karma/sounds/451960559.ogg",
            "characters/Karma/sounds/615197363.ogg",
            "characters/Karma/sounds/677008814.ogg",
            "characters/Karma/sounds/691645080.ogg",
        ],
        "KarmaQMissile_hit": [
            "characters/Karma/sounds/107140710.ogg",
            "characters/Karma/sounds/153083096.ogg",
            "characters/Karma/sounds/390085067.ogg",
        ],
        "KarmaQ_OnCast": [
            "characters/Karma/sounds/1018150802.ogg",
            "characters/Karma/sounds/1018357981.ogg",
            "characters/Karma/sounds/104708941.ogg",
            "characters/Karma/sounds/271693393.ogg",
        ],
        "KarmaSolKimShield_OnBuffActivate": [
            "characters/Karma/sounds/22171554.ogg",
            "characters/Karma/sounds/419334739.ogg",
            "characters/Karma/sounds/425883925.ogg",
            "characters/Karma/sounds/668399003.ogg",
            "characters/Karma/sounds/683418236.ogg",
            "characters/Karma/sounds/730634199.ogg",
        ],
        "KarmaSolKimShield_OnBuffDeactivate": [
            "characters/Karma/sounds/104199934.ogg",
            "characters/Karma/sounds/480025935.ogg",
        ],
        "KarmaSolKimShield_OnCast": [
            "characters/Karma/sounds/751299106.ogg",
            "characters/Karma/sounds/797404209.ogg",
            "characters/Karma/sounds/88001579.ogg",
            "characters/Karma/sounds/975815376.ogg",
        ],
        "KarmaSolKimShield_buffactivatemantra": [
            "characters/Karma/sounds/402925350.ogg",
            "characters/Karma/sounds/419461384.ogg",
            "characters/Karma/sounds/597778774.ogg",
            "characters/Karma/sounds/987187396.ogg",
        ],
        "KarmaSpiritBindRoot_OnBuffActivate": [
            "characters/Karma/sounds/107140710.ogg",
            "characters/Karma/sounds/113026965.ogg",
            "characters/Karma/sounds/153083096.ogg",
            "characters/Karma/sounds/390085067.ogg",
        ],
        "KarmaSpiritBind_OnBuffActivate": [
            "characters/Karma/sounds/113026965.ogg",
            "characters/Karma/sounds/710254410.ogg",
        ],
        "KarmaSpiritBind_OnBuffDeactivate": [
            "characters/Karma/sounds/550199349.ogg",
        ],
        "KarmaSpiritBind_OnCast": [
            "characters/Karma/sounds/1048943987.ogg",
            "characters/Karma/sounds/334540619.ogg",
            "characters/Karma/sounds/338687296.ogg",
            "characters/Karma/sounds/475064593.ogg",
        ],
        "Play_vo_Karma_Attack2DGeneral": [
            "characters/Karma/sounds/378227743.ogg",
            "characters/Karma/sounds/442973366.ogg",
            "characters/Karma/sounds/505267478.ogg",
            "characters/Karma/sounds/570235301.ogg",
            "characters/Karma/sounds/573042981.ogg",
            "characters/Karma/sounds/59483974.ogg",
            "characters/Karma/sounds/690905574.ogg",
            "characters/Karma/sounds/71416035.ogg",
            "characters/Karma/sounds/714609718.ogg",
            "characters/Karma/sounds/804086830.ogg",
        ],
        "Play_vo_Karma_Death3D": [
            "characters/Karma/sounds/185084318.ogg",
            "characters/Karma/sounds/295663741.ogg",
            "characters/Karma/sounds/58741280.ogg",
            "characters/Karma/sounds/950857734.ogg",
        ],
        "Play_vo_Karma_Joke3DGeneral": [
            "characters/Karma/sounds/644267129.ogg",
        ],
        "Play_vo_Karma_KarmaBasicAttack2_cast3D": [
            "characters/Karma/sounds/240258712.ogg",
            "characters/Karma/sounds/290566434.ogg",
            "characters/Karma/sounds/405985034.ogg",
            "characters/Karma/sounds/69031224.ogg",
        ],
        "Play_vo_Karma_KarmaBasicAttack_cast3D": [
            "characters/Karma/sounds/240258712.ogg",
            "characters/Karma/sounds/290566434.ogg",
            "characters/Karma/sounds/405985034.ogg",
            "characters/Karma/sounds/69031224.ogg",
        ],
        "Play_vo_Karma_KarmaCritAttack_cast3D": [
            "characters/Karma/sounds/240258712.ogg",
            "characters/Karma/sounds/290566434.ogg",
            "characters/Karma/sounds/405985034.ogg",
            "characters/Karma/sounds/69031224.ogg",
        ],
        "Play_vo_Karma_KarmaMantra_cast3D": [
            "characters/Karma/sounds/1049030512.ogg",
            "characters/Karma/sounds/289174460.ogg",
            "characters/Karma/sounds/728621957.ogg",
            "characters/Karma/sounds/872430676.ogg",
            "characters/Karma/sounds/880122535.ogg",
            "characters/Karma/sounds/978676431.ogg",
        ],
        "Play_vo_Karma_KarmaQ_cast3D": [
            "characters/Karma/sounds/1002859328.ogg",
            "characters/Karma/sounds/514310943.ogg",
            "characters/Karma/sounds/726870459.ogg",
            "characters/Karma/sounds/863956320.ogg",
        ],
        "Play_vo_Karma_KarmaSolKimShield_cast3D": [
            "characters/Karma/sounds/435650919.ogg",
            "characters/Karma/sounds/658107594.ogg",
            "characters/Karma/sounds/967483022.ogg",
        ],
        "Play_vo_Karma_KarmaSpiritBind_cast3D": [
            "characters/Karma/sounds/48341935.ogg",
            "characters/Karma/sounds/649326631.ogg",
            "characters/Karma/sounds/853954430.ogg",
        ],
        "Play_vo_Karma_Laugh3DGeneral": [
            "characters/Karma/sounds/388889093.ogg",
            "characters/Karma/sounds/880155985.ogg",
            "characters/Karma/sounds/919081737.ogg",
            "characters/Karma/sounds/920780078.ogg",
        ],
        "Play_vo_Karma_Move2DStandard": [
            "characters/Karma/sounds/127660249.ogg",
            "characters/Karma/sounds/198728042.ogg",
            "characters/Karma/sounds/385380462.ogg",
            "characters/Karma/sounds/438404195.ogg",
            "characters/Karma/sounds/631803122.ogg",
            "characters/Karma/sounds/632272331.ogg",
            "characters/Karma/sounds/65986375.ogg",
            "characters/Karma/sounds/701505549.ogg",
            "characters/Karma/sounds/870196636.ogg",
            "characters/Karma/sounds/939918561.ogg",
        ],
        "Play_vo_Karma_Taunt3DGeneral": [
            "characters/Karma/sounds/1004171983.ogg",
            "characters/Karma/sounds/1012626319.ogg",
            "characters/Karma/sounds/270155032.ogg",
        ],
    },
)