(
    spellData: Some((
        calculations: Some({
            "base_armor": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_resists",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.4),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "bonus_armor": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "resists_per_extra_target",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(0.1),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "on_hit_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "passive_base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(0.6),
                        statFormula: None,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "swing_damage_total": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "swing_damage_base",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: None,
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "Duration",
                values: Some([
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                    8.0,
                ]),
            ),
            (
                name: "PassiveBaseDamage",
                values: Some([
                    20.0,
                    75.0,
                    130.0,
                    185.0,
                    240.0,
                    295.0,
                    350.0,
                ]),
            ),
            (
                name: "PassiveFallOffTime",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
            (
                name: "BaseResists",
                values: Some([
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                    120.0,
                ]),
            ),
            (
                name: "ResistsPerExtraTarget",
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                name: "MRMult",
                values: Some([
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                    0.6,
                ]),
            ),
            (
                name: "SwingDamageBase",
                values: Some([
                    25.0,
                    100.0,
                    175.0,
                    250.0,
                    325.0,
                    400.0,
                    475.0,
                ]),
            ),
            (
                name: "AoESize",
                values: Some([
                    375.0,
                    375.0,
                    375.0,
                    375.0,
                    375.0,
                    375.0,
                    375.0,
                ]),
            ),
            (
                name: "StructureMod",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)