(
    spellData: Some((
        calculations: Some({
            "damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatCoefficient",
                        stat: Some(2),
                        coefficient: Some(1.0),
                        statFormula: Some(2),
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "BaseDamage",
                values: Some([
                    45.0,
                    90.0,
                    135.0,
                    180.0,
                    225.0,
                    270.0,
                    315.0,
                ]),
            ),
            (
                name: "MoveSpeed",
                values: Some([
                    0.25,
                    0.4,
                    0.55,
                    0.7,
                    0.85,
                    1.0,
                    1.15,
                ]),
            ),
            (
                name: "Duration",
                values: Some([
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                    2.5,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
            100.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(902.0),
        missileEffectKey: None,
        castType: None,
    )),
)