(
    spellData: Some((
        calculations: None,
        effectAmounts: Some([
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                ]),
            ),
            (
                values: Some([
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                ]),
            ),
            (
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                values: Some([
                    185.0,
                    160.0,
                    135.0,
                    110.0,
                    85.0,
                    60.0,
                    60.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "WallCD",
                values: Some([
                    185.0,
                    160.0,
                    135.0,
                    110.0,
                    85.0,
                    60.0,
                    35.0,
                ]),
            ),
            (
                name: "WallJumpDistance",
                values: Some([
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                    625.0,
                ]),
            ),
            (
                name: "WallLockoutWidth",
                values: Some([
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                    1250.0,
                ]),
            ),
            (
                name: "DisplayCD",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: None,
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(0.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            6000.0,
            6000.0,
            6000.0,
            6000.0,
            6000.0,
            6000.0,
            6000.0,
        ]),
        castRadius: None,
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(25.85),
        animationName: Some("Spell2"),
        cooldownTime: Some([
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: None,
        alternateName: Some("TalonE"),
        coefficient: Some(0.4),
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)