(
    spellData: Some((
        calculations: Some({
            512586750: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 3643339423,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3983637141,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            767745579: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 3907785970,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3988382322,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "PassiveBaseDamage",
                values: Some([
                    0.0,
                    50.0,
                    100.0,
                    150.0,
                    200.0,
                    250.0,
                    300.0,
                ]),
            ),
            (
                name: "ZapCountdown",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "ActiveRange",
                values: Some([
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                    600.0,
                ]),
            ),
            (
                name: "ActiveBaseDamage",
                values: Some([
                    150.0,
                    275.0,
                    400.0,
                    525.0,
                    650.0,
                    775.0,
                    900.0,
                ]),
            ),
            (
                name: "SilenceDuration",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "PassiveAPRatio",
                values: Some([
                    0.2,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                ]),
            ),
            (
                name: "ActiveAPRatio",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "PassiveManaRatio",
                values: Some([
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                    0.05,
                ]),
            ),
        ]),
        mana: Some([
            100.0,
            100.0,
            100.0,
            150.0,
            150.0,
            0.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(347.8),
        missileEffectKey: None,
        castType: None,
    )),
)