(
  resources: {},
  entities: {
    4294967271: (
      components: {
        "bevy_ecs::name::Name": "TFTChampion",
        "lol_core::base::ability_resource::AbilityResource": (
          ar_type: Mana,
          value: 0.0,
          max: 0.0,
          base: 0.0,
          per_level: 0.0,
          base_static_regen: 0.0,
          regen_per_level: 0.0,
        ),
        "lol_core::base::bounding::Bounding": (
          radius: 0.0,
          height: 65.0,
        ),
        "lol_core::character::Character": (),
        "lol_core::damage::Armor": (0.0),
        "lol_core::damage::Damage": (0.0),
        "lol_core::entities::champion::Champion": (),
        "lol_core::life::Health": (
          value: 0.0,
          max: 0.0,
          base_static_regen: 0.0,
          regen_per_level: 0.0,
        ),
        "lol_core::movement::Movement": (
          speed: 375.0,
        ),
        "lol_core::skill::LOLSpells": ({}),
        "lol_core::skill::SkillPoints": (1),
      },
    ),
  },
)