(
    spellData: Some((
        calculations: Some({
            "granted_ally_armor": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_resists",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "ally_armor_percent",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "granted_ally_mr": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_resists",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(6),
                        dataValue: "ally_armor_percent",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "granted_braum_armor": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_resists",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(1),
                        dataValue: "braum_armor_percent",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "granted_braum_mr": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_resists",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: Some(6),
                        dataValue: "braum_armor_percent",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: Some([
            (
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                values: Some([
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: Some([
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                    40.0,
                ]),
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
            (
                values: None,
            ),
        ]),
        dataValues: Some([
            (
                name: "RangedDamageThreshold",
                values: Some([
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                    400.0,
                ]),
            ),
            (
                name: "AllyArmorPercent",
                values: Some([
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                    0.12,
                ]),
            ),
            (
                name: "BraumArmorPercent",
                values: Some([
                    0.36,
                    0.36,
                    0.36,
                    0.36,
                    0.36,
                    0.36,
                    0.36,
                ]),
            ),
            (
                name: "BaseResists",
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                name: "Duration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "BonusDashSpeed",
                values: Some([
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                    750.0,
                ]),
            ),
        ]),
        mana: Some([
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1500.0),
        missileEffectKey: None,
        castType: None,
    )),
)