(
    gltf_path: "characters/Turret/skins/Skin48.glb",
    hash_to_node: {
        "Attack": Selector(
            probably_nodes: [
                (
                    key: "Attack1",
                    value: 1.0,
                ),
                (
                    key: "Attack2",
                    value: 1.0,
                ),
            ],
        ),
        "Attack1": Clip(
            node_index: 2,
        ),
        "Death": Parallel(
            hashes: [
                "Unk0x35f43992",
            ],
        ),
        "Destroyed": Clip(
            node_index: 1,
        ),
        "Idle1": Clip(
            node_index: 3,
        ),
        "Respawn": Clip(
            node_index: 4,
        ),
        "Unk0x35f43992": Clip(
            node_index: 0,
        ),
    },
    blend_data: {
        ("Destroyed", "Destroyed"): Time(
            time: 0.0,
        ),
        ("Destroyed", "Idle1"): Time(
            time: 0.0,
        ),
        ("Destroyed", "Unk0x35f43992"): Time(
            time: 0.0,
        ),
        ("Idle1", "Destroyed"): Time(
            time: 0.0,
        ),
        ("Idle1", "Idle1"): Time(
            time: 0.0,
        ),
        ("Idle1", "Unk0x35f43992"): Time(
            time: 0.0,
        ),
        ("Unk0x35f43992", "Destroyed"): Time(
            time: 0.0,
        ),
        ("Unk0x35f43992", "Idle1"): Time(
            time: 0.0,
        ),
        ("Unk0x35f43992", "Unk0x35f43992"): Time(
            time: 0.0,
        ),
    },
)