(
    events: {
        "Base_Voidborn_BasicAttack2_cast": [
            "characters/SRU_Blue/sounds/144798586.ogg",
            "characters/SRU_Blue/sounds/204438488.ogg",
            "characters/SRU_Blue/sounds/386767824.ogg",
            "characters/SRU_Blue/sounds/446276447.ogg",
            "characters/SRU_Blue/sounds/491655640.ogg",
            "characters/SRU_Blue/sounds/501586548.ogg",
            "characters/SRU_Blue/sounds/55207530.ogg",
            "characters/SRU_Blue/sounds/602678172.ogg",
            "characters/SRU_Blue/sounds/640023820.ogg",
            "characters/SRU_Blue/sounds/674308255.ogg",
            "characters/SRU_Blue/sounds/882135792.ogg",
            "characters/SRU_Blue/sounds/98330906.ogg",
        ],
        "Base_Voidborn_BasicAttack2_hit": [
            "characters/SRU_Blue/sounds/11708356.ogg",
            "characters/SRU_Blue/sounds/320165286.ogg",
            "characters/SRU_Blue/sounds/372308785.ogg",
            "characters/SRU_Blue/sounds/457714510.ogg",
            "characters/SRU_Blue/sounds/538494581.ogg",
            "characters/SRU_Blue/sounds/571717877.ogg",
        ],
        "Base_Voidborn_BasicAttack3_cast": [
            "characters/SRU_Blue/sounds/144798586.ogg",
            "characters/SRU_Blue/sounds/397670169.ogg",
            "characters/SRU_Blue/sounds/43695993.ogg",
            "characters/SRU_Blue/sounds/446276447.ogg",
            "characters/SRU_Blue/sounds/454025296.ogg",
            "characters/SRU_Blue/sounds/49984493.ogg",
            "characters/SRU_Blue/sounds/501586548.ogg",
            "characters/SRU_Blue/sounds/551395729.ogg",
            "characters/SRU_Blue/sounds/602678172.ogg",
            "characters/SRU_Blue/sounds/85289114.ogg",
            "characters/SRU_Blue/sounds/882135792.ogg",
            "characters/SRU_Blue/sounds/98330906.ogg",
        ],
        "Base_Voidborn_BasicAttack3_hit": [
            "characters/SRU_Blue/sounds/344417202.ogg",
            "characters/SRU_Blue/sounds/517750116.ogg",
            "characters/SRU_Blue/sounds/698324053.ogg",
            "characters/SRU_Blue/sounds/801118118.ogg",
            "characters/SRU_Blue/sounds/868912621.ogg",
            "characters/SRU_Blue/sounds/89498897.ogg",
            "characters/SRU_Blue/sounds/960119565.ogg",
        ],
        "Base_Voidborn_BasicAttack_cast": [
            "characters/SRU_Blue/sounds/144798586.ogg",
            "characters/SRU_Blue/sounds/311725344.ogg",
            "characters/SRU_Blue/sounds/330969833.ogg",
            "characters/SRU_Blue/sounds/436560879.ogg",
            "characters/SRU_Blue/sounds/446276447.ogg",
            "characters/SRU_Blue/sounds/485536596.ogg",
            "characters/SRU_Blue/sounds/501586548.ogg",
            "characters/SRU_Blue/sounds/602678172.ogg",
            "characters/SRU_Blue/sounds/771355772.ogg",
            "characters/SRU_Blue/sounds/879161283.ogg",
            "characters/SRU_Blue/sounds/882135792.ogg",
            "characters/SRU_Blue/sounds/98330906.ogg",
        ],
        "Base_Voidborn_BasicAttack_hit": [
            "characters/SRU_Blue/sounds/184911680.ogg",
            "characters/SRU_Blue/sounds/230837188.ogg",
            "characters/SRU_Blue/sounds/252308288.ogg",
            "characters/SRU_Blue/sounds/501109273.ogg",
            "characters/SRU_Blue/sounds/538292198.ogg",
            "characters/SRU_Blue/sounds/66164442.ogg",
            "characters/SRU_Blue/sounds/694117157.ogg",
        ],
        "Base_Voidborn_a2n_buffactivate": [
            "characters/SRU_Blue/sounds/235307613.ogg",
            "characters/SRU_Blue/sounds/417345335.ogg",
            "characters/SRU_Blue/sounds/418181197.ogg",
            "characters/SRU_Blue/sounds/785709476.ogg",
        ],
        "Base_Voidborn_aggro1": [
            "characters/SRU_Blue/sounds/387544690.ogg",
            "characters/SRU_Blue/sounds/699951984.ogg",
            "characters/SRU_Blue/sounds/96616331.ogg",
        ],
        "Base_Voidborn_aggro2": [
            "characters/SRU_Blue/sounds/408219336.ogg",
            "characters/SRU_Blue/sounds/508663453.ogg",
            "characters/SRU_Blue/sounds/57106735.ogg",
        ],
        "Base_Voidborn_aggro3": [
            "characters/SRU_Blue/sounds/1014627842.ogg",
            "characters/SRU_Blue/sounds/473412352.ogg",
            "characters/SRU_Blue/sounds/514850023.ogg",
        ],
        "Base_Voidborn_death_cast": [
            "characters/SRU_Blue/sounds/717765602.ogg",
            "characters/SRU_Blue/sounds/862777717.ogg",
            "characters/SRU_Blue/sounds/902856005.ogg",
        ],
        "Base_Voidborn_n2a_buffactivate": [
            "characters/SRU_Blue/sounds/511535839.ogg",
            "characters/SRU_Blue/sounds/703917507.ogg",
            "characters/SRU_Blue/sounds/996666745.ogg",
        ],
        "Base_Voidborn_spawn_cast": [
            "characters/SRU_Blue/sounds/26353726.ogg",
            "characters/SRU_Blue/sounds/471199464.ogg",
            "characters/SRU_Blue/sounds/649689915.ogg",
            "characters/SRU_Blue/sounds/649697394.ogg",
        ],
    },
)