(
    spellData: Some((
        calculations: Some({
            "active_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "active_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "active_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "do_t_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "do_t_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "do_t_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "on_hit_buff_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "on_hit_buff_base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "on_hit_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "DoTBaseDamage",
                values: Some([
                    15.0,
                    30.0,
                    45.0,
                    60.0,
                    75.0,
                    90.0,
                    105.0,
                ]),
            ),
            (
                name: "DoTRatio",
                values: Some([
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                    0.25,
                ]),
            ),
            (
                name: "ActiveBaseDamage",
                values: Some([
                    25.0,
                    50.0,
                    75.0,
                    100.0,
                    125.0,
                    150.0,
                    175.0,
                ]),
            ),
            (
                name: "ActiveRatio",
                values: Some([
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                    0.45,
                ]),
            ),
            (
                name: "OnHitBuffBaseDamage",
                values: Some([
                    15.0,
                    20.0,
                    25.0,
                    30.0,
                    35.0,
                    40.0,
                    45.0,
                ]),
            ),
            (
                name: "OnHitRatio",
                values: Some([
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                    0.3,
                ]),
            ),
            (
                name: "BleedDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "DoTTicksPerSecond",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
            (
                name: "ActiveDuration",
                values: Some([
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                    4.0,
                ]),
            ),
            (
                name: "OnHitBuffDuration",
                values: Some([
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                    5.0,
                ]),
            ),
            (
                name: "OnKillManaRefund",
                values: Some([
                    20.0,
                    30.0,
                    40.0,
                    50.0,
                    60.0,
                    70.0,
                    80.0,
                ]),
            ),
            (
                name: "OnKillNewCooldown",
                values: Some([
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                    1.0,
                ]),
            ),
            (
                name: "PassiveDoTDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "TurretMod",
                values: Some([
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                    0.5,
                ]),
            ),
            (
                name: "BonusMonsterDamage",
                values: Some([
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                    90.0,
                ]),
            ),
        ]),
        mana: Some([
            30.0,
            40.0,
            50.0,
            60.0,
            70.0,
            80.0,
        ]),
        missileSpec: None,
        hitBoneName: None,
        missileSpeed: Some(1400.0),
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
            600.0,
        ]),
        castRadius: Some([
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
            210.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: None,
        castFrame: Some(8.0),
        animationName: Some("Idle1"),
        cooldownTime: Some([
            7.0,
            7.0,
            6.0,
            5.0,
            4.0,
            3.0,
            3.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: None,
        selectionPriority: Some(1),
        useAnimatorFramerate: None,
    )),
)