(
    spellData: Some((
        calculations: None,
        effectAmounts: None,
        dataValues: None,
        mana: None,
        missileSpec: None,
        hitBoneName: Some("C_Buffbone_Glb_Chest_Loc"),
        missileSpeed: Some(467.0),
        missileEffectKey: None,
        castType: None,
    )),
)