(
    spellData: Some((
        calculations: Some({
            "ap_ratio_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "calculated_damage": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "monster_damage_cap": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "monster_damage_cap_base",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "shield_ap_ratio_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "shield_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "shield_value": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(12),
                        subpart: Some((
                            type: "CalculationPartNamedDataValue",
                            dataValue: "shield_amount",
                        )),
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "shield_ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            "total_damage_tooltip": (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: "base_damage",
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: "ap_ratio",
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SlowAmount",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                    230.0,
                ]),
            ),
            (
                name: "PercentDamage",
                values: Some([
                    0.1,
                    0.11,
                    0.12,
                    0.13,
                    0.14,
                    0.15,
                    0.16,
                ]),
            ),
            (
                name: "ShieldAmount",
                values: Some([
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                ]),
            ),
            (
                name: "MonsterDamageCapBase",
                values: Some([
                    35.0,
                    150.0,
                    265.0,
                    380.0,
                    495.0,
                    610.0,
                    725.0,
                ]),
            ),
            (
                name: "ShieldDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "ShieldAPRatio",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("C_BUFFBONE_GLB_LAYOUT_LOC"),
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
        castRange: Some([
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
            1200.0,
        ]),
        castRadius: Some([
            325.0,
            325.0,
            325.0,
            325.0,
            325.0,
            325.0,
            325.0,
        ]),
        castConeAngle: None,
        castConeDistance: Some(100.0),
        lineWidth: Some(200.0),
        castFrame: Some(25.0),
        animationName: Some(""),
        cooldownTime: Some([
            16.0,
            16.0,
            16.0,
            16.0,
            16.0,
            16.0,
            16.0,
        ]),
        cantCancelWhileWindingUp: Some(true),
        spellRevealsChampion: None,
        affectsTypeFlags: Some(6154),
        alternateName: None,
        coefficient: None,
        hitEffectKey: Some(3390540789),
        selectionPriority: Some(2),
        useAnimatorFramerate: None,
    )),
)