(
    spellData: Some((
        calculations: Some({
            704689212: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            1758316011: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 4106273920,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            2282348956: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 859426889,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3609980641: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatSub",
                        stat: Some(12),
                        subpart: Some((
                            type: "CalculationPartNamedDataValue",
                            dataValue: 1089369324,
                        )),
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 4106273920,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            3941538718: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
            4073446979: (
                type: "CalculationSpell",
                formulaParts: Some([
                    (
                        type: "CalculationPartNamedDataValue",
                        dataValue: 64618745,
                    ),
                    (
                        type: "CalculationPartStatNamedDataValue",
                        stat: None,
                        dataValue: 3809245599,
                    ),
                ]),
                multiplier: None,
                precision: None,
            ),
        }),
        effectAmounts: None,
        dataValues: Some([
            (
                name: "SlowAmount",
                values: Some([
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                    0.4,
                ]),
            ),
            (
                name: "BaseDamage",
                values: Some([
                    50.0,
                    80.0,
                    110.0,
                    140.0,
                    170.0,
                    200.0,
                    230.0,
                ]),
            ),
            (
                name: "PercentDamage",
                values: Some([
                    0.1,
                    0.11,
                    0.12,
                    0.13,
                    0.14,
                    0.15,
                    0.16,
                ]),
            ),
            (
                name: "ShieldAmount",
                values: Some([
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                    0.14,
                ]),
            ),
            (
                name: "MonsterDamageCapBase",
                values: Some([
                    35.0,
                    150.0,
                    265.0,
                    380.0,
                    495.0,
                    610.0,
                    725.0,
                ]),
            ),
            (
                name: "ShieldDuration",
                values: Some([
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                    3.0,
                ]),
            ),
            (
                name: "APRatio",
                values: Some([
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                    0.7,
                ]),
            ),
            (
                name: "ShieldAPRatio",
                values: Some([
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                    0.75,
                ]),
            ),
            (
                name: "SlowDuration",
                values: Some([
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                    2.0,
                ]),
            ),
        ]),
        mana: Some([
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
        ]),
        missileSpec: None,
        hitBoneName: Some("C_BUFFBONE_GLB_LAYOUT_LOC"),
        missileSpeed: None,
        missileEffectKey: None,
        castType: None,
    )),
)