(
    events: {
        "Death3D_cast": [
            "characters/Xerath/sounds/375278757.ogg",
            "characters/Xerath/sounds/701539488.ogg",
            "characters/Xerath/sounds/986445237.ogg",
        ],
        "Joke3D_buffactivate": [
            "characters/Xerath/sounds/143681995.ogg",
        ],
        "Laugh3D_buffactivate": [
            "characters/Xerath/sounds/302281268.ogg",
        ],
        "Play_vo_Xerath_Attack2DGeneral": [
            "characters/Xerath/sounds/121491932.ogg",
            "characters/Xerath/sounds/136084371.ogg",
            "characters/Xerath/sounds/272049327.ogg",
            "characters/Xerath/sounds/42341237.ogg",
            "characters/Xerath/sounds/503853430.ogg",
            "characters/Xerath/sounds/576091805.ogg",
            "characters/Xerath/sounds/781860361.ogg",
            "characters/Xerath/sounds/807985634.ogg",
            "characters/Xerath/sounds/916399674.ogg",
            "characters/Xerath/sounds/999956639.ogg",
        ],
        "Play_vo_Xerath_Dance3DGeneral": [
            "characters/Xerath/sounds/356572544.ogg",
            "characters/Xerath/sounds/390814427.ogg",
            "characters/Xerath/sounds/410800308.ogg",
            "characters/Xerath/sounds/813656204.ogg",
        ],
        "Play_vo_Xerath_Death3D": [
            "characters/Xerath/sounds/383306564.ogg",
            "characters/Xerath/sounds/477775562.ogg",
            "characters/Xerath/sounds/531042271.ogg",
            "characters/Xerath/sounds/944371829.ogg",
        ],
        "Play_vo_Xerath_FirstEncounter3DAzir": [
            "characters/Xerath/sounds/380396327.ogg",
            "characters/Xerath/sounds/395477462.ogg",
            "characters/Xerath/sounds/549527652.ogg",
            "characters/Xerath/sounds/900322030.ogg",
        ],
        "Play_vo_Xerath_FirstEncounter3DNasus": [
            "characters/Xerath/sounds/1035221083.ogg",
            "characters/Xerath/sounds/959550934.ogg",
        ],
        "Play_vo_Xerath_FirstEncounter3DShurima": [
            "characters/Xerath/sounds/207482820.ogg",
            "characters/Xerath/sounds/442209611.ogg",
            "characters/Xerath/sounds/542813226.ogg",
        ],
        "Play_vo_Xerath_FirstEncounter3DSyndra": [
            "characters/Xerath/sounds/268658634.ogg",
        ],
        "Play_vo_Xerath_FirstEncounter3DThresh": [
            "characters/Xerath/sounds/515744860.ogg",
        ],
        "Play_vo_Xerath_FirstEncounter3DXerath": [
            "characters/Xerath/sounds/121264900.ogg",
            "characters/Xerath/sounds/45134621.ogg",
            "characters/Xerath/sounds/991101345.ogg",
        ],
        "Play_vo_Xerath_Joke3DGeneral": [
            "characters/Xerath/sounds/308969868.ogg",
            "characters/Xerath/sounds/782339252.ogg",
        ],
        "Play_vo_Xerath_Kill3DAscended": [
            "characters/Xerath/sounds/510124897.ogg",
        ],
        "Play_vo_Xerath_Kill3DPenta": [
            "characters/Xerath/sounds/26076118.ogg",
            "characters/Xerath/sounds/631820017.ogg",
        ],
        "Play_vo_Xerath_Laugh3DGeneral": [
            "characters/Xerath/sounds/165622968.ogg",
            "characters/Xerath/sounds/332932366.ogg",
            "characters/Xerath/sounds/367149490.ogg",
            "characters/Xerath/sounds/817445034.ogg",
        ],
        "Play_vo_Xerath_Move2DFirstAllyRenekton": [
            "characters/Xerath/sounds/566470872.ogg",
            "characters/Xerath/sounds/769161679.ogg",
        ],
        "Play_vo_Xerath_Move2DFirstEnemyAzir": [
            "characters/Xerath/sounds/1011872649.ogg",
        ],
        "Play_vo_Xerath_Move2DStandard": [
            "characters/Xerath/sounds/168155969.ogg",
            "characters/Xerath/sounds/226432919.ogg",
            "characters/Xerath/sounds/257717583.ogg",
            "characters/Xerath/sounds/301329976.ogg",
            "characters/Xerath/sounds/332944859.ogg",
            "characters/Xerath/sounds/341781976.ogg",
            "characters/Xerath/sounds/366202096.ogg",
            "characters/Xerath/sounds/419036062.ogg",
            "characters/Xerath/sounds/47514658.ogg",
            "characters/Xerath/sounds/489292319.ogg",
            "characters/Xerath/sounds/524210592.ogg",
            "characters/Xerath/sounds/596474345.ogg",
            "characters/Xerath/sounds/611370382.ogg",
            "characters/Xerath/sounds/664308028.ogg",
            "characters/Xerath/sounds/809744855.ogg",
            "characters/Xerath/sounds/878104331.ogg",
            "characters/Xerath/sounds/983645933.ogg",
        ],
        "Play_vo_Xerath_Taunt3DGeneral": [
            "characters/Xerath/sounds/549295506.ogg",
            "characters/Xerath/sounds/644094554.ogg",
        ],
        "Play_vo_Xerath_XerathArcaneBarrage2_cast3D": [
            "characters/Xerath/sounds/254735856.ogg",
            "characters/Xerath/sounds/461368795.ogg",
            "characters/Xerath/sounds/577901121.ogg",
            "characters/Xerath/sounds/691940325.ogg",
        ],
        "Play_vo_Xerath_XerathArcanopulse2_cast3D": [
            "characters/Xerath/sounds/153026086.ogg",
            "characters/Xerath/sounds/539329814.ogg",
            "characters/Xerath/sounds/541324557.ogg",
            "characters/Xerath/sounds/890030902.ogg",
        ],
        "Play_vo_Xerath_XerathBasicAttack2_cast3D": [
            "characters/Xerath/sounds/153026086.ogg",
            "characters/Xerath/sounds/539329814.ogg",
            "characters/Xerath/sounds/541324557.ogg",
            "characters/Xerath/sounds/890030902.ogg",
        ],
        "Play_vo_Xerath_XerathBasicAttack_cast3D": [
            "characters/Xerath/sounds/153026086.ogg",
            "characters/Xerath/sounds/539329814.ogg",
            "characters/Xerath/sounds/541324557.ogg",
            "characters/Xerath/sounds/890030902.ogg",
        ],
        "Play_vo_Xerath_XerathCritAttack_cast3D": [
            "characters/Xerath/sounds/153026086.ogg",
            "characters/Xerath/sounds/539329814.ogg",
            "characters/Xerath/sounds/541324557.ogg",
            "characters/Xerath/sounds/890030902.ogg",
        ],
        "Play_vo_Xerath_XerathLocusOfPower2_cast3D": [
            "characters/Xerath/sounds/450457034.ogg",
            "characters/Xerath/sounds/534983251.ogg",
            "characters/Xerath/sounds/644225604.ogg",
            "characters/Xerath/sounds/689615257.ogg",
        ],
        "Play_vo_Xerath_XerathMageSpear_cast3D": [
            "characters/Xerath/sounds/2381285.ogg",
            "characters/Xerath/sounds/241658461.ogg",
            "characters/Xerath/sounds/369063653.ogg",
            "characters/Xerath/sounds/976372672.ogg",
        ],
        "Taunt3D_buffactivate": [
            "characters/Xerath/sounds/983216133.ogg",
        ],
        "XerathArcaneBarrage2_OnCast": [
            "characters/Xerath/sounds/135042958.ogg",
            "characters/Xerath/sounds/577932599.ogg",
            "characters/Xerath/sounds/702846451.ogg",
        ],
        "XerathArcaneBarrage2_buffactivate": [
            "characters/Xerath/sounds/118666322.ogg",
            "characters/Xerath/sounds/155603683.ogg",
            "characters/Xerath/sounds/215327406.ogg",
            "characters/Xerath/sounds/353236039.ogg",
            "characters/Xerath/sounds/507118753.ogg",
            "characters/Xerath/sounds/664231737.ogg",
        ],
        "XerathArcaneBarrage2_explosion": [
            "characters/Xerath/sounds/584518383.ogg",
            "characters/Xerath/sounds/630513376.ogg",
            "characters/Xerath/sounds/976113963.ogg",
        ],
        "XerathArcaneBarrage2_hitdirect": [
            "characters/Xerath/sounds/101552235.ogg",
            "characters/Xerath/sounds/342928519.ogg",
            "characters/Xerath/sounds/64448388.ogg",
            "characters/Xerath/sounds/751187423.ogg",
            "characters/Xerath/sounds/801414111.ogg",
        ],
        "XerathArcanoPulse2_missilelaunch": [
            "characters/Xerath/sounds/730843304.ogg",
            "characters/Xerath/sounds/903278922.ogg",
            "characters/Xerath/sounds/961485707.ogg",
        ],
        "XerathArcanoPulse2_missilelaunchextended": [
            "characters/Xerath/sounds/730843304.ogg",
            "characters/Xerath/sounds/903278922.ogg",
            "characters/Xerath/sounds/961485707.ogg",
        ],
        "XerathArcanopulse2_hit": [
            "characters/Xerath/sounds/1046430043.ogg",
            "characters/Xerath/sounds/360953476.ogg",
            "characters/Xerath/sounds/426109681.ogg",
            "characters/Xerath/sounds/652696820.ogg",
            "characters/Xerath/sounds/756389855.ogg",
        ],
        "XerathArcanopulseChargeUp_OnBuffActivate": [
            "characters/Xerath/sounds/571458440.ogg",
        ],
        "XerathArcanopulseChargeUp_OnCast": [
            "characters/Xerath/sounds/328363780.ogg",
            "characters/Xerath/sounds/864922404.ogg",
            "characters/Xerath/sounds/920615452.ogg",
        ],
        "XerathBasicAttack2_OnCast": [
            "characters/Xerath/sounds/1066143186.ogg",
            "characters/Xerath/sounds/1073105793.ogg",
            "characters/Xerath/sounds/334293037.ogg",
            "characters/Xerath/sounds/503625690.ogg",
            "characters/Xerath/sounds/820397628.ogg",
        ],
        "XerathBasicAttack2_OnHit": [
            "characters/Xerath/sounds/146684196.ogg",
            "characters/Xerath/sounds/189576610.ogg",
            "characters/Xerath/sounds/427568124.ogg",
            "characters/Xerath/sounds/486880450.ogg",
            "characters/Xerath/sounds/543796536.ogg",
            "characters/Xerath/sounds/698706543.ogg",
        ],
        "XerathBasicAttack2_OnMissileLaunch": [
            "characters/Xerath/sounds/310904096.ogg",
            "characters/Xerath/sounds/509279299.ogg",
            "characters/Xerath/sounds/586141276.ogg",
            "characters/Xerath/sounds/850181620.ogg",
        ],
        "XerathBasicAttack_OnCast": [
            "characters/Xerath/sounds/1066143186.ogg",
            "characters/Xerath/sounds/1073105793.ogg",
            "characters/Xerath/sounds/334293037.ogg",
            "characters/Xerath/sounds/503625690.ogg",
            "characters/Xerath/sounds/820397628.ogg",
        ],
        "XerathBasicAttack_OnHit": [
            "characters/Xerath/sounds/146684196.ogg",
            "characters/Xerath/sounds/189576610.ogg",
            "characters/Xerath/sounds/427568124.ogg",
            "characters/Xerath/sounds/486880450.ogg",
            "characters/Xerath/sounds/543796536.ogg",
            "characters/Xerath/sounds/698706543.ogg",
        ],
        "XerathBasicAttack_OnMissileLaunch": [
            "characters/Xerath/sounds/310904096.ogg",
            "characters/Xerath/sounds/509279299.ogg",
            "characters/Xerath/sounds/586141276.ogg",
            "characters/Xerath/sounds/850181620.ogg",
        ],
        "XerathCritAttack_OnCast": [
            "characters/Xerath/sounds/1066143186.ogg",
            "characters/Xerath/sounds/1073105793.ogg",
            "characters/Xerath/sounds/334293037.ogg",
            "characters/Xerath/sounds/503625690.ogg",
            "characters/Xerath/sounds/820397628.ogg",
        ],
        "XerathCritAttack_OnHit": [
            "characters/Xerath/sounds/146684196.ogg",
            "characters/Xerath/sounds/189576610.ogg",
            "characters/Xerath/sounds/427568124.ogg",
            "characters/Xerath/sounds/486880450.ogg",
            "characters/Xerath/sounds/543796536.ogg",
            "characters/Xerath/sounds/698706543.ogg",
        ],
        "XerathCritAttack_OnMissileLaunch": [
            "characters/Xerath/sounds/310904096.ogg",
            "characters/Xerath/sounds/509279299.ogg",
            "characters/Xerath/sounds/586141276.ogg",
            "characters/Xerath/sounds/850181620.ogg",
        ],
        "XerathLocusOfPower2_OnBuffActivate": [
            "characters/Xerath/sounds/501936055.ogg",
        ],
        "XerathLocusOfPower2_OnBuffDeactivate": [
            "characters/Xerath/sounds/373118306.ogg",
            "characters/Xerath/sounds/458141038.ogg",
            "characters/Xerath/sounds/963742268.ogg",
        ],
        "XerathLocusOfPower2_OnCast": [
            "characters/Xerath/sounds/21937019.ogg",
            "characters/Xerath/sounds/483656575.ogg",
            "characters/Xerath/sounds/780153065.ogg",
        ],
        "XerathLocusOfPower2_hit": [
            "characters/Xerath/sounds/191960755.ogg",
            "characters/Xerath/sounds/625113687.ogg",
            "characters/Xerath/sounds/641155338.ogg",
            "characters/Xerath/sounds/743886972.ogg",
        ],
        "XerathLocusPulse_OnMissileLaunch": [
            "characters/Xerath/sounds/1011101124.ogg",
            "characters/Xerath/sounds/528591252.ogg",
            "characters/Xerath/sounds/808135591.ogg",
            "characters/Xerath/sounds/944072590.ogg",
        ],
        "XerathMageSpearMissile_OnMissileLaunch": [
            "characters/Xerath/sounds/1008565670.ogg",
            "characters/Xerath/sounds/71867878.ogg",
            "characters/Xerath/sounds/720214783.ogg",
        ],
        "XerathMageSpearMissile_hitchamp": [
            "characters/Xerath/sounds/230968411.ogg",
            "characters/Xerath/sounds/24995506.ogg",
            "characters/Xerath/sounds/820798655.ogg",
        ],
        "XerathMageSpear_OnCast": [
            "characters/Xerath/sounds/213464802.ogg",
            "characters/Xerath/sounds/529805410.ogg",
            "characters/Xerath/sounds/54894187.ogg",
        ],
        "XerathManaAttack_OnCast": [
            "characters/Xerath/sounds/1066143186.ogg",
            "characters/Xerath/sounds/1073105793.ogg",
            "characters/Xerath/sounds/334293037.ogg",
            "characters/Xerath/sounds/503625690.ogg",
            "characters/Xerath/sounds/820397628.ogg",
        ],
        "XerathManaAttack_OnHit": [
            "characters/Xerath/sounds/146684196.ogg",
            "characters/Xerath/sounds/189576610.ogg",
            "characters/Xerath/sounds/427568124.ogg",
            "characters/Xerath/sounds/486880450.ogg",
            "characters/Xerath/sounds/543796536.ogg",
            "characters/Xerath/sounds/698706543.ogg",
        ],
        "XerathManaAttack_OnMissileLaunch": [
            "characters/Xerath/sounds/310904096.ogg",
            "characters/Xerath/sounds/509279299.ogg",
            "characters/Xerath/sounds/586141276.ogg",
            "characters/Xerath/sounds/850181620.ogg",
        ],
        "XerathManaAttack_buffactivate": [
            "characters/Xerath/sounds/651657524.ogg",
            "characters/Xerath/sounds/710642693.ogg",
            "characters/Xerath/sounds/791102327.ogg",
        ],
        "XerathQSoundBuff_OnBuffCast": [
            "characters/Xerath/sounds/1045273358.ogg",
            "characters/Xerath/sounds/424399641.ogg",
            "characters/Xerath/sounds/432385207.ogg",
            "characters/Xerath/sounds/663897094.ogg",
            "characters/Xerath/sounds/870573111.ogg",
            "characters/Xerath/sounds/973598045.ogg",
        ],
    },
)